
.btn {
  border: 1px solid var(--border-color);
}

.btn .primary {
  border-color: var(--primary) !important;
}

.overview {
  max-height: calc(100vh - 636px);
  min-height: 200px;
  overflow: auto;
}

.timeline{
  min-width: auto;
}
