<div class="box p-a">
  <div class="table-responsive">
    <nz-table
      #ajaxTable
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
      [nzBordered]="true"
      [nzData]="data"
      [nzLoading]="loading"
      [nzPageIndex]="usr.currentPage"
      [nzPageSizeOptions]="[10, 25, 50, 100 , +(preferences.maxEntryPerPage) || 500]"
      [nzPageSize]="usr.entryPerPage || preferences.entryPerPage || 25"
      [nzShowPagination]="data.length > 0"
      [nzShowSizeChanger]="true"
      [nzSize]="'small'"
    >
      <thead>
      <tr>
        @if (permission.joc && permission.joc.administration.accounts.manage) {
          <th [(nzChecked)]="object.checked"
              [nzIndeterminate]="object.indeterminate"
              [nzShowCheckbox]="true"
              (nzCheckedChange)="checkAll($event)"
              class="chk"
          ></th>
        }
        @if (permission.joc && permission.joc.administration.accounts.manage) {
          <th class="menu"><span>{{ 'common.label.action' | translate }}</span></th>
        }
        <th (click)="sort('accountName')">
          <a><span class="p-r-xs">{{ 'user.label.user' | translate }}</span>
            @if (usr.sortBy == 'accountName' && !usr.reverse) {
              <i class="fa fa-caret-up "></i>
            }
            @if (usr.sortBy == 'accountName' && usr.reverse) {
              <i class="fa fa-caret-down "></i>
            }</a>
        </th>
        @if (identityServiceType == 'FIDO') {
          <th (click)="sort('email')">
            <a><span class="p-r-xs">{{ 'user.label.email' | translate }}</span>
              @if (usr.sortBy == 'email' && !usr.reverse) {
                <i class="fa fa-caret-up "></i>
              }
              @if (usr.sortBy == 'email' && usr.reverse) {
                <i class="fa fa-caret-down "></i>
              }</a>
          </th>
        }
        <th (click)="sort('roles')">
          <a><span class="p-r-xs">{{ 'user.label.roles' | translate }}</span>
            @if (usr.sortBy == 'roles' && !usr.reverse) {
              <i class="fa fa-caret-up "></i>
            }
            @if (usr.sortBy == 'roles' && usr.reverse) {
              <i class="fa fa-caret-down "></i>
            }</a>
        </th>
        @if ((identityServiceType === 'JOC')) {
          <th (click)="sort('forcePasswordChange')" nzWidth="20%">
            <a><span class="p-r-xs">{{ 'user.label.forcePasswordChange' | translate }}</span>
              @if (usr.sortBy == 'forcePasswordChange' && !usr.reverse) {
                <i class="fa fa-caret-up "></i>
              }
              @if (usr.sortBy == 'forcePasswordChange' && usr.reverse) {
                <i class="fa fa-caret-down "></i>
              }</a>
          </th>
        }
        <th (click)="sort('blocked')" nzWidth="20%">
          <a><span class="p-r-xs">{{ 'user.label.banned' | translate }}</span>
            @if (usr.sortBy == 'blocked' && !usr.reverse) {
              <i class="fa fa-caret-up "></i>
            }
            @if (usr.sortBy == 'blocked' && usr.reverse) {
              <i class="fa fa-caret-down "></i>
            }</a>
        </th>
        <th (click)="sort('disabled')" nzWidth="20%">
          <a><span class="p-r-xs">{{ 'user.label.disabled' | translate }}</span>
            @if (usr.sortBy == 'disabled' && !usr.reverse) {
              <i class="fa fa-caret-up "></i>
            }
            @if (usr.sortBy == 'disabled' && usr.reverse) {
              <i class="fa fa-caret-down "></i>
            }</a>
        </th>
      </tr>
      </thead>
      <tbody>
        @for (account of ajaxTable.data; track account.accountName) {
          <tr [ngClass]="{'opacity7': account.disabled}">
            @if (permission.joc && permission.joc.administration.accounts.manage) {
              <td [nzChecked]="object.mapOfCheckedId.has(account.accountName)"
                  [nzShowCheckbox]="true"
                  (nzCheckedChange)="onItemChecked(account, $event)">
              </td>
            }
            @if (permission.joc && permission.joc.administration.accounts.manage) {
              <td>
                <div class="btn-group dropdown pull-left m-r-sm">
                  <button [nzDisabled]="object.checked || object.indeterminate" [nzDropdownMenu]="option" class="btn-drop more-option-h"
                          nz-dropdown nzTrigger="click" type="button"><i class="fa fa-ellipsis-h"></i></button>
                  <nz-dropdown-menu #option="nzDropdownMenu" role="menu">
                    <ul nz-menu>
                      <li (click)="editUser(account)" nz-menu-item>
                        <a>{{ 'common.button.edit' | translate }}</a>
                      </li>
                      @if (identityServiceType == 'FIDO') {
                        <li nz-menu-divider></li>
                      }
                      @if (identityServiceType == 'FIDO') {
                        <li (click)="addDevice(account)" nz-menu-item>
                          <a>{{ 'user.button.addAuthenticatorDevice' | translate }}</a>
                        </li>
                      }
                      @if (identityServiceType == 'FIDO') {
                        <li (click)="removeDevice(account)" nz-menu-item>
                          <a>{{ 'user.button.removeDevices' | translate }}</a>
                        </li>
                      }
                      @if (identityServiceType !== 'FIDO') {
                        <li (click)="copyUser(account)" nz-menu-item>
                          <a>{{ 'common.button.duplicate' | translate }}</a>
                        </li>
                      }
                      @if ((identityServiceType === 'JOC')) {
                        <li (click)="resetPassword(account)" nz-menu-item>
                          <a>{{ 'user.button.resetPassword' | translate }}</a>
                        </li>
                      }
                      @if ((identityServiceType === 'JOC')) {
                        <li (click)="forcePasswordChange(account)"
                            [nzDisabled]="account.forcePasswordChange" nz-menu-item>
                          <a>{{ 'user.button.forcePasswordChange' | translate }}</a>
                        </li>
                      }
                      @if (account.blocked === 'undefined' || account.blocked === false) {
                        <li (click)="addToBlocklist(account)"
                            [ngClass]="{'disable-link': (username==account.accountName && selectedIdentityService === userIdentityService)}"
                            nz-menu-item>
                          <a>{{ 'user.button.addToBlocklist' | translate }}</a>
                        </li>
                      }
                      @if (account.blocked) {
                        <li (click)="removeBlockAcc(account)" nz-menu-item>
                          <a>{{ 'user.button.removeFromBlocklist' | translate }}</a>
                        </li>
                      }
                      <li nz-menu-divider></li>
                      <li (click)="disabledUser(account, account.disabled)" [ngClass]="{'disable-link' :username==account.accountName && selectedIdentityService === userIdentityService}"
                          nz-menu-item>
                        @if (account.disabled) {
                          <a>{{ 'user.button.enable' | translate }}</a>
                        }
                        @if (!account.disabled) {
                          <a>{{ 'user.button.disable' | translate }}</a>
                        }
                      </li>
                      <li (click)="deleteUser(account.accountName)" [ngClass]="{'disable-link' :username==account.accountName && selectedIdentityService === userIdentityService}" class="bg-hover-color"
                          nz-menu-item>
                        <a>{{ 'user.button.delete' | translate }}</a>
                      </li>
                      <li nz-menu-divider></li>
                      <li (click)="showPermission(account)" nz-menu-item>
                        <a>{{ 'user.button.showPermission' | translate }}</a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </td>
            }
            <td>
              <a (click)="editUser(account)" [innerHtml]="account.accountName  | decodeSpace | highlight: searchKey"
                 class="text-hover-primary"></a>
            </td>
            @if (identityServiceType == 'FIDO') {
              <td>{{account.email}}</td>
            }
            <td>
              @for (role of account.roles; track role) {
                <div><span [innerHtml]="role | highlight: searchKey"></span></div>
              }
            </td>
            @if ((identityServiceType === 'JOC')) {
              <td>
                <span>{{(account.forcePasswordChange ? 'common.label.yes' : 'common.label.no') | translate}}</span></td>
            }
            <td><span>{{(account.blocked ? 'common.label.yes' : 'common.label.no') | translate}}</span></td>
            <td><span>{{(account.disabled ? 'common.label.yes' : 'common.label.no') | translate}}</span></td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
  @if (ajaxTable.data.length >0) {
    <div class="w-half label-top">
      <span>{{ 'common.label.total' | translate }}</span> <span> {{data.length}} </span>
      @if (ajaxTable.data.length >1) {
        <span>{{ 'user.label.usersFound' | translate }}</span>
      }
      @if (ajaxTable.data.length ===1) {
        <span>{{ 'user.label.userFound' | translate }}</span>
      }
    </div>
  }
</div>
