<a (click)="objectTreeSearch()" class="tree-search" [ngClass]="{'workflow-tree-search' :  type == 'WORKFLOW'}">
  <i [nzType]="'search'" nz-icon nzTheme="outline"></i>
</a>
<div>
  <input (blur)="clearSearchInput()" (ngModelChange)="onSearchInput($event)"
         [(ngModel)]="searchNode.text"
         [nzAutocomplete]="auto" [placeholder]="'workflow.placeholder.findNode' | translate"
         class="input-tree-search"
         id="objectTreeSearch"
         nz-input
  />

  <i [nzType]="searchNode.loading ? 'loading' : 'search'" class="tree-search-icon" nz-icon nzTheme="outline"></i>
  <nz-autocomplete #auto>
    <nz-auto-option (click)="selectObject(option)" *ngFor="let option of allObjects | orderBy: 'name'"
                    [nzValue]="option.path" class="min-ht-opt">
      <div class="node-wrapper p-l-xs">
        <div [nz-tooltip]="option.path?.substring(0, option.path?.lastIndexOf('/')) || '/'"
             class="node-content-wrapper2"
             nzTooltipPlacement="right">
          <i class="fa fa-circle-o text-xs"></i>
          <span class="p-l-sm">{{option.name}}</span>
        </div>
      </div>
    </nz-auto-option>
  </nz-autocomplete>
</div>
<div class="pl-20">
  <a (click)="expandAll();" [nz-tooltip]="'common.tooltip.expandAll' | translate" class="text">
    <i class="fa fa-angle-double-down fa-lg"></i>
  </a>
  <a (click)="collapseAll();" [nz-tooltip]="'common.tooltip.collapseAll' | translate" class="text m-l-xs">
    <i class="fa fa-angle-double-up fa-lg"></i>
  </a>
  <a class="text resize-cursor a-1 pos-abt r-22">
    <i (click)="hidePanel()" class="fa fa-angle-double-left fa-lg"></i>
  </a>
  <a class="text resize-cursor a-2 pos-abt r-22">
    <i (click)="showPanel()" class="fa fa-angle-double-right fa-lg"></i>
  </a>
  <perfect-scrollbar class="tree-block">
    <div class="fade-in" style="margin-left: -2px">
      <nz-tree
        (nzExpandChange)="expandChange($event)"
        [nzData]="tree"
        [nzExpandedKeys]="defaultExpandedKeys"
        [nzTreeTemplate]="nzTreeTemplate"
      ></nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <div class="node-wrapper">
          <button *ngIf="isAction" [nzDropdownMenu]="menu"
                  class="btn-drop more-option-h p-l-0" nz-dropdown nzTrigger="click" type="button">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li (click)="deleteFolder(node.origin)" nz-menu-item>
                <a translate>common.button.delete</a>
              </li>
            </ul>
          </nz-dropdown-menu>
          <div (click)="selectNode(node)"
               [class.node-content-wrapper-active]="defaultSelectedKeys && defaultSelectedKeys.indexOf(node.key) > -1"
               class="node-content-wrapper">
            <i [nzType]="node.isExpanded && !node.origin.isLeaf ? 'folder-open' : 'folder'" class="w-14" nz-icon></i>
            {{node.origin.name || node.origin.path}}
          </div>
          <span (click)="expandNode(node.origin);" *ngIf="node.children && node.children.length>0"> <i
            class="expand-collapse fa fa-angle-double-down"></i> </span>
          <span (click)="collapseNode(node.origin);" *ngIf="node.children && node.children.length>0"> <i
            class="expand-collapse fa fa-angle-double-up"></i></span>
        </div>
      </ng-template>
    </div>
  </perfect-scrollbar>
  <div class="rg-right"><span></span></div>
</div>
