<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding p-b-sm">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div *ngIf="index == 2" class="inline valign" style="top: -8px !important;">
            <label nz-checkbox [(ngModel)]="filter.current" (ngModelChange)="loadData()" name="current">
              {{'common.label.currentController' | translate}}
            </label>
          </div>
          <div *ngIf="index == 2" class="inline">
            <div class="timeline">
              <div class="inline btn-group pull-right">
                <div (click)="setView('Week')"
                     [class.primary]="filter.view === 'Week'"
                     class="btn btn-default btn-sm" translate>
                  monitor.button.week
                </div>
                <div (click)="setView('Month')"
                     [class.primary]="filter.view === 'Month'"
                     class="btn btn-default btn-sm" translate>
                  monitor.button.month
                </div>
              </div>
              <nz-range-picker *ngIf="filter.view === 'Custom'" [(ngModel)]="filter.dateRange"
                               [nzAllowClear]="false" (ngModelChange)="onChangeDate()"
                               class="pull-right m-l-12 m-r-12 custom-timeline"></nz-range-picker>
              <div *ngIf="filter.view !== 'Custom'" class="timeline-header pull-right inline m-l-12 m-r-12">
                <div class="btn-group">
                  <div (click)="prev()" class="btn btn-default btn-sm">
                    <i class="fa fa-angle-left text-md"></i>
                  </div>
                  <div class="btn btn-default btn-sm no-cursor">
                    <nz-week-picker *ngIf="filter.view === 'Week'"
                                    [nzFormat]="dateFormat"
                                    [(ngModel)]="filter.endDate" [nzAllowClear]="false"
                                    [nzDisabledDate]="disabledDate"
                                    (ngModelChange)="onChange($event )"></nz-week-picker>
                    <nz-month-picker *ngIf="filter.view === 'Month'"
                                     [(ngModel)]="filter.endDate" [nzAllowClear]="false"
                                     [nzDisabledDate]="disabledDate"
                                     (ngModelChange)="onChange($event)"></nz-month-picker>
                    {{filter.startDate | date : dateFormat }} - {{filter.endDate | date : dateFormat}}
                  </div>
                  <div (click)="next()" class="btn btn-default btn-sm">
                    <i class="fa fa-angle-right text-md"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  *ngIf="index == 2" class="inline valign" style="top: -9px !important;">
            <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="exportList" class="btn btn-grey btn-sm m-l-12">
              <span nz-icon nzType="export" nzTheme="outline"></span>
              Export Report
            </button>
            <nz-dropdown-menu #exportList="nzDropdownMenu">
              <ul nz-menu>
                <li (click)="createReport()" nz-menu-item>
                  <a translate>Export as a Pdf</a>
                </li>
                <li (click)="shareReport()" nz-menu-item>
                  <a translate>Share by Mail</a>
                </li>
              </ul>
            </nz-dropdown-menu>


          </div>
          <div  *ngIf="index == 0" class="inline valign" >
            <button class="btn btn-grey btn-sm m-l-12" (click)="downloadReport()">
              <span nz-icon nzType="file-sync" nzTheme="outline"></span>
              Synchronize Data On Disk
            </button>
            <button class="btn btn-grey btn-sm m-l-12" (click)="runReport()">
              <span nz-icon nzType="play-circle" nzTheme="outline"></span>
              Run Report
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">

  <div class="padding p-b-0" *ngIf="loading">
    <nz-tabset (nzSelectChange)="tabChange($event)" [(nzSelectedIndex)]="index">
      <nz-tab [nzTitle]="'Report Run History' | translate">
        <div *ngIf="index == 0">
          <app-running-history [permission]="permission" [preferences]="preferences" [filters]="filter.runningList" [templates]="templates"></app-running-history>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'Manage Report Runs' | translate">
        <div *ngIf="index == 1">
          <app-manage-report [permission]="permission" [preferences]="preferences" [filters]="filter.manageList" [templates]="templates"></app-manage-report>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <div *ngIf="!loading" class="spinner">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
</div>

