.graph-container {
  margin-left: 66px;
  overflow: auto;
  &:hover {
    #toolbar-icons {
      opacity: 1;
      -webkit-animation: fadeInDown ease-in 1;
      -moz-animation: fadeInDown ease-in 1;
      animation: fadeInDown ease-in 1;
      -webkit-animation-duration: .2s;
      -moz-animation-duration: .2s;
      animation-duration: 0.2s;
    }
  }
}
.toolbar {
  margin-left: 54px;
  min-width: 330px;
}
#graph {
  position: relative;
  overflow-x: auto !important;
  cursor: default;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06);
  height: calc(100vh - 248px);
}
#toolbar-scrollbar {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 52px !important;
  position: absolute;
  overflow: hidden;
  overflow-y: auto !important;
  max-height: calc(100vh - 190px);
}
#outlineContainer {
  z-index: 9;
  position: absolute;
  overflow: hidden;
  top: auto;
  right: 10px;
  width: 170px;
  height: 150px;
  border: 1px solid var(--border-color);
}
#dropContainer2 {
  z-index: 9;
  position: absolute;
  overflow: hidden;
  right: 10px;
  height: 150px;
  opacity: 1;
  top: 52px;
  left: 78px;
  display: none;
  border: 2px dashed #d3d3d3;
  width: 190px;
  text-align: center;
  &:hover {
    opacity: .7;
    border-color: var(--primary) !important;
  }
  div {
    text-transform: uppercase;
    margin: 55px auto;
    position: relative;
    width: 120px;
  }
}

#toolbar-icons {
  position: absolute;
  padding: 2px 16px 0;
  text-align: center;
  background-color: var(--bg-box);
  z-index: 9;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.12);
  opacity: 0;
}
