<div class="row">
  <div class="col-md-12" *ngIf="data.type">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span>{{data.path}}<span *ngIf="data.path !=='/'">/</span></span>
        {{data.name}}
      </div>
      <form *ngIf="calendar.configuration">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row"
                 [ngClass]="{'has-error' : ((cname.dirty || cname.touched) && cname.invalid) || !isUnique}">
              <label class="col-md-4 col-lg-3 form-control-label" translate>label.name</label>
              <div class="col-md-8 col-lg-6">
                <input type="text" class="form-control" required name="name" #cname="ngModel"
                       placeholder="{{'inventory.placeholder.enterCalendarName' | translate}}"
                       [(ngModel)]="calendar.name">
                <div *ngIf="cname.invalid && (cname.dirty || cname.touched)" class="text-danger help-block">
                  <div *ngIf="cname.errors.required">
                    <div translate>message.requiredError</div>
                  </div>
                </div>
                <div *ngIf="!isUnique" class="text-danger help-block">
                  <div translate>message.uniqueError</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-lg-3 form-control-label" translate>label.title</label>
              <div class="col-md-8 col-lg-6">
                <input type="text" class="form-control" placeholder="{{'inventory.placeholder.title' | translate}}"
                       [(ngModel)]="calendar.configuration.title" name="title">
              </div>
            </div>
<!--            <div class="form-group row">
              <label class="col-md-4 col-lg-3 form-control-label" translate>label.path</label>
              <div class="col-md-8 col-lg-6" [ngClass]="{'has-error' : ((calendarPath.dirty || calendarPath.touched) && calendarPath.invalid)}">
                <input type="text" class="form-control" required name="path" #calendarPath="ngModel"
                       placeholder="{{'inventory.placeholder.enterOrSelectFromTree' | translate}}" [(ngModel)]="calendar.path">
                <div *ngIf="calendarPath.invalid && (calendarPath.dirty || calendarPath.touched)"
                     class="text-danger help-block">
                  <div *ngIf="calendarPath.errors.required">
                    <div translate>message.requiredError</div>
                  </div>
                </div>
                <div class="inside-input-field">
                  <a (click)="getFolderTree()"><i class="fa fa-folder-o fa-lg"></i></a>
                </div>
              </div>
            </div>-->
            <div class="form-group row">
              <label class="col-md-4 col-lg-3" translate>label.type</label>
              <div class="col-md-8 col-lg-6">
                <nz-select [(ngModel)]="calendar.configuration.type" name="cType">
                  <nz-option nzValue="WORKING_DAYS" [nzLabel]="'label.workingDay' | translate"></nz-option>
                  <nz-option nzValue="NON_WORKING_DAYS" [nzLabel]="'label.nonWorkingDay' | translate"></nz-option>
                </nz-select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-lg-3 form-control-label" translate>label.category</label>
              <div class="col-md-8 col-lg-6">
                <nz-select [(ngModel)]="calendar.configuration.category" name="cCate">
                  <nz-option [nzValue]="" [nzLabel]="'label.chooseCategories' | translate"></nz-option>
                  <nz-option *ngFor="let category of categories" [nzValue]="category" [nzLabel]="category"></nz-option>
                </nz-select>
                <div class="input-dropdown ">
                  <input class="form-control" autocomplete="off" type="text" placeholder="{{'inventory.placeholder.enterOrSelectCategory' | translate}}"
                         [(ngModel)]="calendar.configuration.category" name="cCategory">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-lg-3 form-control-label" translate>label.validFrom</label>
              <div class="col-md-8 col-lg-2">
                <nz-date-picker name="from" required=true
                          [(ngModel)]="calendar.configuration.from" [nzFormat]="dateFormat"
                          [nzPlaceHolder]="'placeholder.setStartDate' | translate" ></nz-date-picker>
              </div>
              <label class="col-md-4 col-lg-2 form-control-label date-center" translate>label.validTo</label>
              <div class="col-md-8 col-lg-2 date-right" [ngClass]="{'has-error' : ((to.dirty || to.touched) && to.invalid)}">
                <nz-date-picker id="to" name="to" #to="ngModel" required=true
                          [(ngModel)]="calendar.configuration.to" [nzFormat]="dateFormat"
                          [nzPlaceHolder]="'placeholder.setEndDate' | translate"></nz-date-picker>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-9">
            <div class="btn-group">
              <button type="button" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': editor.frequencyType=='INCLUDE'}"
                      (click)="changeFrequencyType('INCLUDE')" translate>
                button.includedFrequencies
              </button>
              <button type="button" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': editor.frequencyType=='EXCLUDE'}"
                      (click)="changeFrequencyType('EXCLUDE')" translate>
                button.excludedFrequencies
              </button>
            </div>
            <button type="button" class="btn btn-sm pull-right btn-grey hidden-btn-text" [disabled]="!(calendar.configuration.to)"
                    (click)="createNewFrequency()" translate>
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>button.addNewFrequency</span>
            </button>
            <button type="button" class="btn btn-sm pull-right btn-grey hidden-btn-text m-r-12 m-b" [disabled]="calendar.configuration.includesFrequency.length==0 && calendar.configuration.excludesFrequency.length==0"
                    (click)="showYearView()" translate>
              <i class="fa fa-television"></i>&nbsp;
              <span translate>button.showYearView</span>
            </button>
          </div>
          <div class="col-md-12 col-lg-9" style="max-height: 450px; overflow: auto">
            <div class="table-responsive">
              <table class="table table-hover table-bordered ">
                <thead>
                <tr>
                  <th><span translate>label.listOfFrequencies</span></th>
                  <th><span translate>label.validFrom</span></th>
                  <th><span translate>label.validTo</span></th>
                  <th width="80"><span translate>label.action</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of calendar.configuration.includesFrequency;let i = index;"
                    [ngClass]="{'hide':editor.frequencyType !=='INCLUDE'}">
                  <td class="cursor"
                      style="border-right: none !important;vertical-align: top !important; ">
                    <a (click)="updateFrequency(data);">{{data.str}}</a>
                  </td>
                  <td>
                    <span *ngIf="data.tab=='weekDays'">{{data.startingWithW | stringToDate1}}</span>
                    <span *ngIf="data.tab=='specificWeekDays'">{{data.startingWithS | stringToDate1}}</span>
                    <span *ngIf="data.tab=='monthDays'">{{data.startingWithM | stringToDate1}}</span>
                    <span *ngIf="data.tab=='every'">{{data.startingWith | stringToDate1}}</span>
                  </td>
                  <td>
                    <span *ngIf="data.tab=='weekDays'">{{data.endOnW | stringToDate1}}</span>
                    <span *ngIf="data.tab=='specificWeekDays'">{{data.endOnS | stringToDate1}}</span>
                    <span *ngIf="data.tab=='monthDays'">{{data.endOnM | stringToDate1}}</span>
                    <span *ngIf="data.tab=='every'">{{data.endOn | stringToDate1}}</span>
                  </td>
                  <td>
                    <a class="text-hover-primary ">
                      <i (click)="showCalendar(data)" class="fa fa-calendar m-r-sm"></i>
                    </a>
                    <a><i (click)="updateFrequency(data)" class="fa fa-pencil m-r-sm"></i></a>
                    <a class="text-hover-color">
                      <i (click)="removeFrequency(i)" class="fa fa-times "></i>
                    </a>
                  </td>
                </tr>
                <tr *ngFor="let data of calendar.configuration.excludesFrequency;let i = index;"
                    [ngClass]="{'hide':editor.frequencyType !=='EXCLUDE'}">
                  <td class="cursor" style="border-right: none !important;vertical-align: top !important; ">
                    <i *ngIf="data.exclude" class="fa fa-minus"> </i>
                    <a (click)="updateFrequency(data);">{{data.str}}</a>
                  </td>
                  <td>
                    <span *ngIf="data.tab=='weekDays'">{{data.startingWithW | stringToDate1}}</span>
                    <span *ngIf="data.tab=='specificWeekDays'">{{data.startingWithS | stringToDate1}}</span>
                    <span *ngIf="data.tab=='monthDays'">{{data.startingWithM | stringToDate1}}</span>
                    <span *ngIf="data.tab=='others'">{{data.startingWith | stringToDate1}}</span>
                  </td>
                  <td>
                    <span *ngIf="data.tab=='weekDays'">{{data.endOnW | stringToDate1}}</span>
                    <span *ngIf="data.tab=='specificWeekDays'">{{data.endOnS | stringToDate1}}</span>
                    <span *ngIf="data.tab=='monthDays'">{{data.endOnM | stringToDate1}}</span>
                    <span *ngIf="data.tab=='others'">{{data.endOn | stringToDate1}}</span>
                  </td>
                  <td>
                    <a class="text-hover-primary ">
                      <i (click)="showCalendar(data)" class="fa fa-calendar m-r-sm"></i>
                    </a>
                    <a><i (click)="updateFrequency(data)" class="fa fa-pencil m-r-sm"></i></a>
                    <a class="text-hover-color">
                      <i (click)="removeFrequency(i)" class="fa fa-times "></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center"
                 *ngIf="(!calendar.configuration.includesFrequency || calendar.configuration.includesFrequency.length==0) && editor.frequencyType=='INCLUDE'">
              <app-empty-data title="message.noFrequencyFound"></app-empty-data>
            </div>
            <div class="text-center"
                 *ngIf="(!calendar.configuration.excludesFrequency || calendar.configuration.excludesFrequency.length==0) && editor.frequencyType=='EXCLUDE'">
              <app-empty-data title="message.noFrequencyFound"></app-empty-data>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12" *ngIf="data.object">
    <div class="box p-a">
      <div class="b-b p-b m-b text-right">
        <span class="text text-dark pos-abt" style="left: 18px;top:22px">
          <span class="text-primary">{{data.path}}<span *ngIf="data.path !=='/'">/</span></span> -
          <span translate>inventory.label.calendars</span>
        </span>
        <div class="inline">
          <button type="button" class="btn btn-sm btn-grey m-l-sm" (click)="add()" >
            <i class="fa fa-plus p-r-xs"></i>
            <span translate>inventory.button.newCalendar</span>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <nz-table
          #ajaxTable
          [nzSize]="'small'"
          [nzPageSize]="preferences.entryPerPage"
          [nzPageIndex]="1"
          [nzBordered]="true"
          [nzShowPagination]="(calendarList | filter: searchKey).length > 0"
          [nzData]="(calendarList | filter: searchKey)"
          [nzShowSizeChanger]="true"
          [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
        >
          <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th class="menu"><span translate>label.action</span></th>
            <th nzShowSort nzSortKey="name"><span translate>label.name</span></th>
            <th nzShowSort nzSortKey="status"><span translate>label.status</span></th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-calendar [ngForOf]="calendarList | orderBy: filter.sortBy:filter.reverse">
            <tr>
              <td>
                <div class="btn-group dropdown">
                  <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="exportMenu" type="button">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <nz-dropdown-menu #exportMenu="nzDropdownMenu" role="menu" >
                    <ul nz-menu>
                      <li nz-menu-item *ngIf="permission.JobschedulerMaster.administration.configurations.edit">
                        <a (click)="copyObject(calendar)" translate>button.copy</a>
                      </li>
                      <li nz-menu-item *ngIf="!calendar.deleted">
                        <a (click)="editObject(calendar)" translate>button.edit</a>
                      </li>
                      <li nz-menu-item *ngIf="!calendar.deleted">
                        <a (click)="deployObject(calendar)" translate>inventory.button.deploy</a>
                      </li>
                      <li nz-menu-item class="bg-hover-color" *ngIf="permission.JobschedulerMaster.administration.configurations.delete && !calendar.deleted">
                        <a (click)="deleteObject(calendar)" translate>button.delete</a>
                      </li>
                      <li nz-menu-item *ngIf="permission.JobschedulerMaster.administration.configurations.delete">
                        <a (click)="deleteDraft(calendar)" translate>inventory.button.deleteDraft</a>
                      </li>
                      <li nz-menu-item *ngIf="permission.JobschedulerMaster.administration.configurations.delete && calendar.deleted">
                        <a (click)="undeleteObject(calendar)" translate>inventory.button.undelete</a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </td>
              <td class="cursor" (click)="editObject(calendar)">{{calendar.name}}</td>
              <td class="cursor" (click)="editObject(calendar)">
                <span class="label bg-green" *ngIf="calendar.deployed" translate>inventory.label.deployed</span>
                <span class="label bg-gold" [ngClass]="{'bg-crimson' : calendar.deleted}" *ngIf="!calendar.deployed" translate>inventory.label.notDeployed</span>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </nz-table>
      </div>
      <div class="w-half label-top"
           *ngIf="(calendarList | filter: searchKey).length >0"><span
        translate>label.total</span> {{(calendarList | filter: searchKey).length}}
        <span *ngIf="(calendarList | filter: searchKey).length >1" translate>label.entriesFound</span>
        <span *ngIf="(calendarList | filter: searchKey).length ==1" translate>label.entryFound</span>
      </div>
    </div>
  </div>
</div>
