#bar-chart {
  height: calc(100vh - 224px) !important;
}

.m-t-11 {
  margin-top: -11px;
}

.m-t-35 {
  margin-top: -35px;
}

.donut-chart-container {
  width: 100%;
  height: 338px;
}

.flex {
  display: flex;
}

.right {
  float: right;
}

.table-view{
  height: 338px;
}

nz-collapse-panel{
  border-bottom: none !important;
}
.flex-container {
  display: flex;
}

.flex-item {
  border: 1px solid #ddd;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: normal;
}
