<div class="modal-header">
  <h4 class="modal-title">
    <span translate>profile.label.changePassword</span>
  </h4>
  <button (click)="activeModal.destroy()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body p-a">
    <div class="form-group row">
      <label class="col-sm-4 form-control-label" translate>profile.label.oldPassword
        <sup class="text-danger text-sm">*</sup>
      </label>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-10" [ngClass]="{'has-error' : ((oldPassword.dirty || oldPassword.touched) && oldPassword.invalid)}">
            <input [type]="showOldPassword ? 'text' : 'password'" class="form-control" name="oldPassword" [(ngModel)]="passwordObj.oldPassword" required
                   #oldPassword="ngModel" autocomplete="off" (focus)="resetError()" (blur)="checkPwdLength()"/>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <i [class]="showOldPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="toggleShowOldPassword()" class="cursor m-r-3"></i>
          </div>
        </div>
        <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="text-danger help-block">
          <div *ngIf="oldPassword.errors && oldPassword.errors['required']">
            <div translate>common.message.requiredError</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 form-control-label" translate>profile.label.newPassword
        <sup class="text-danger text-sm">*</sup>
      </label>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-10" [ngClass]="{'has-error' : ((newPassword.dirty || newPassword.touched) && newPassword.invalid) || !passwordShouldNotSame || !minimumPasswordLength}">
            <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="passwordObj.password" required
                   #newPassword="ngModel" autocomplete="off" (focus)="resetError()" (blur)="checkPwdLength()"/>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <i [class]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="toggleShowNewPassword()" class="cursor m-r-3"></i>
          </div>
        </div>
        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger help-block">
          <div *ngIf="newPassword.errors && newPassword.errors['required']">
            <div translate>common.message.requiredError</div>
          </div>
        </div>
        <div *ngIf="!passwordShouldNotSame && passwordObj.password" class="text-danger help-block">
          <div translate>profile.message.passwordShouldNotSame</div>
        </div>
        <div *ngIf="!minimumPasswordLength && passwordObj.password" class="text-danger help-block">
          <div translate>profile.message.minimumPasswordLength</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-4 form-control-label" translate>profile.label.confirmPassword
        <sup class="text-danger text-sm">*</sup>
      </label>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-10" [ngClass]="{'has-error' : ((confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid) || !isPasswordMatch}">
            <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" name="confirmPassword" [(ngModel)]="passwordObj.repeatedPassword" required
                   #confirmPassword="ngModel" autocomplete="off" (blur)="checkPassword()"/>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <i [class]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="toggleShowConfirmPassword()" class="cursor m-r-3"></i>
          </div>
        </div>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger help-block">
          <div *ngIf="confirmPassword.errors['required']">
            <div translate>common.message.requiredError</div>
          </div>
        </div>
        <div *ngIf="!isPasswordMatch && passwordObj.repeatedPassword" class="text-danger help-block">
          <div translate>profile.message.passwordNotMatch</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button [disabled]="!myForm.form.valid || submitted || !passwordShouldNotSame || !minimumPasswordLength"
            class="btn btn-primary btn-sm"
            type="submit">
      <i *ngIf="submitted" class="fa fa-spin fa-spinner p-r-xs"></i>
      {{'common.button.submit' | translate}}
    </button>
    <button (click)="activeModal.destroy()" class="btn btn-grey btn-sm" translate type="button">common.button.cancel
    </button>
  </div>
</form>
