<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row m-t-sm">
      <div class="col-sm-12">
        <div class="box p-a p-b-lg">
          //TODO
        </div>
      </div>
    </div>
  </div>
</div>

