<div class="gantt-chart">
  <div class="taskTableWrapper" [ngStyle]="{width: isAgent ? 'calc(26% - 6px)' : 'calc(20% - 6px)'}" #scrollOne>
    <table class="taskTable">
      <thead>
      <tr>
        <th *ngIf="groupBy === 'DATE'"><span translate>monitor.label.date</span></th>
        <th><span translate>dashboard.label.controllerId</span></th>
        <th *ngIf="groupBy !== 'DATE'"><span translate>monitor.label.date</span></th>
        <th *ngIf="isAgent"><span translate>agent.label.agentId</span></th>
        <th *ngIf="isAgent"><span translate>dashboard.label.url</span></th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let task of tasks"
        [hidden]="task.isHidden">
        <td *ngIf="groupBy === 'DATE'">
          <span class="show-in-single-line">
          <i class="fa fa-angle-down cursor fa-lg p-r-xs" [ngClass]="{ 'fa-angle-right': task.active }" *ngIf="task.isParent"
             (click)="onTaskClick(task)" aria-hidden="true"></i>
            {{ task.date}}
          </span>
        </td>
        <td *ngIf="groupBy === 'CONTROLLERID'">
          <span class="show-in-single-line">
          <i class="fa fa-angle-down cursor fa-lg p-r-xs" [ngClass]="{ 'fa-angle-right': task.active }" *ngIf="task.isParent"
             (click)="onTaskClick(task)" aria-hidden="true"></i>
            {{ task.controllerId}}
          </span>
        </td>
        <td *ngIf="groupBy !== 'CONTROLLERID'">{{ task.controllerId }}</td>
        <td *ngIf="groupBy !== 'DATE'">
            {{ task.date}}
        </td>
        <td *ngIf="isAgent">{{ task.agentId }}</td>
        <td *ngIf="isAgent">
          <a class="text-hover-primary" [href]="task.url+'/agent/api'" target="_blank"
             [innerHtml]="task.url"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div
    class="timelineWrapper" [ngStyle]="{width: isAgent ? '74%' : '80%'}"
    (scroll)="scrollOne.scrollTop = scrollTwo.scrollTop"
    #scrollTwo
  >
    <table class="timeline">
      <thead>
      <tr>
        <th *ngFor="let item of [].constructor(workingHours); let i = index">
          {{ this.dayStartHour + i }}:00
        </th>
      </tr>
      </thead>
      <tbody>
      <div class="row" *ngFor="let task of tasks" [hidden]="task.isHidden">
        <div
          class="taskBar"
          [ngStyle]="{
              left: task.offset + 'px',
              width: task.width + 'px'
            }"
        ></div>
        <span
          *ngFor="let status of task.statusList; let i = index"
          class="statusBar" [nz-tooltip]="status.start + ' to ' + (status.end === '25:00' ? '24:00' : status.end)"
          [ngStyle]="{
              left: status.offset + 'px',
              width: status.width + 'px',
              'background-color': status.color
            }"
        >
          <i translate>COUPLED</i>
        </span>
      </div>
      </tbody>
    </table>
  </div>
</div>
