<div class="gantt-chart">
  <div #scrollOne [ngStyle]="{width: isAgent ? 'calc(26% - 6px)' : 'calc(20% - 6px)'}" class="taskTableWrapper">
    <table class="taskTable">
      <thead>
      <tr>
        @if (groupBy === 'DATE') {
          <th><span translate>monitor.label.date</span></th>
        }
        <th><span translate>dashboard.label.controllerId</span></th>
        @if (groupBy !== 'DATE') {
          <th><span translate>monitor.label.date</span></th>
        }
        @if (isAgent) {
          <th><span translate>agent.label.agentId</span></th>
        }
        @if (isAgent) {
          <th><span translate>dashboard.label.url</span></th>
        }
      </tr>
      </thead>
      <tbody>
        @for (task of tasks; track task) {
          <tr [hidden]="task.isHidden">
            @if (groupBy === 'DATE') {
              <td>
              <span class="show-in-single-line">
              @if (task.isParent) {
                <i (click)="onTaskClick(task)"
                   [ngClass]="{ 'fa-angle-down': !task.active, 'fa-angle-right': task.active }"
                   aria-hidden="true" class="fa cursor fa-lg p-r-xs"></i>
              }
                {{ task.date}}
              </span>
              </td>
            }
            @if (groupBy === 'CONTROLLERID') {
              <td>
              <span class="show-in-single-line">
              @if (task.isParent) {
                <i (click)="onTaskClick(task)"
                   [ngClass]="{ 'fa-angle-down': !task.active, 'fa-angle-right': task.active }"
                   aria-hidden="true" class="fa cursor fa-lg p-r-xs"></i>
              }
                {{ task.controllerId}}
              </span>
              </td>
            }
            @if (groupBy !== 'CONTROLLERID') {
              <td>{{ task.controllerId }}</td>
            }
            @if (groupBy !== 'DATE') {
              <td>{{ task.date}}</td>
            }
            @if (isAgent) {
              <td>{{ task.agentId }}</td>
            }
            @if (isAgent) {
              <td>
                <a [href]="task.url+'/agent/api'" [innerHtml]="task.url" class="text-hover-primary"
                   target="_blank"></a>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div
    #scrollTwo (scroll)="scrollOne.scrollTop = scrollTwo.scrollTop"
    [ngStyle]="{width: isAgent ? '74%' : '80%'}"
    class="timelineWrapper"
  >
    <table class="timeline">
      <thead>
      <tr>
        @for (item of [].constructor(workingHours); track $index) {
          <th>{{ this.dayStartHour + $index }}:00</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (task of tasks; track task) {
          <div [hidden]="task.isHidden" class="row">
            <div
              [ngStyle]="{
                left: task.offset + 'px',
                width: task.width + 'px'
              }"
              class="taskBar"
            ></div>
            @for (status of task.statusList; track status) {
              <span
                [ngStyle]="{
                  left: status.offset + 'px',
                  width: status.width + 'px',
                  'background-color': status.color
                }" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="status.start + ' to ' + (status.end === '25:00' ? '24:00:00' : status.end)"
                class="statusBar"
              >
              <i translate>COUPLED</i>
            </span>
            }
          </div>
        }
      </tbody>
    </table>
  </div>
</div>
