.theme-material {
  background: var(--box-color);
  .taskTableWrapper {
    border-right: 1px solid var(--border-color);
  }

  .taskTable {
    table {
      thead {
        tr > th {
          text-align: left;
        }
      }
    }

    td,
    th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      height: 31px;
    }
  }

  .timelineWrapper {
    tr,
    .row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      th:not(:last-child) {
        border-right: 1px solid #e0e0e0;
      }

      .taskBar {
        background-color: #d8d8d8;
      }
    }
  }

}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  height: 100%;
  font-size: 12px;
  width: 100%;
  max-width: 100vw;
}

table {
  td,
  th {
    line-height: 20px;
  }
}

.taskTableWrapper {
  height: 100%;
  overflow: scroll hidden;
  display: inline-block;
  width: calc(26% - 2px);
}

.taskTable {
  width: 100%;
  border-collapse: collapse;

  tr {
    white-space: nowrap;
    th{
      font-weight: bold;
    }
    th,
    td {
      text-align: left;
      padding: 5px;
      box-sizing: border-box;
      height: 30px;
    }
  }
}

.timelineWrapper {
  height: 100%;
  overflow: scroll auto;
  display: inline-block;
  width: 74%;
  top: -1px;
  position: relative;
}

.timeline {
  border-collapse: collapse;
  border-top: 1px solid var(--border-color);
  tr,
  .row {
    white-space: nowrap;
    position: relative;
    height: 31px;

    th {
      display: inline-block;
      box-sizing: border-box;
      width: 60px; // 1 minute is 1px
      height: 31px;
      padding: 5px;
    }

    .taskBar {
      display: inline-block;
      box-sizing: border-box;
      margin: 4px 0;
      height: 22px;
      text-align: center;
      padding: 5px;
      border-radius: 7px;
      position: relative;
      line-height: 13px;
    }

    .statusBar {
      position: absolute;
      height: 16px;
      width: 20px;
      top: 3px;
      box-sizing: border-box;
      margin: 4px 0;
      font-size: 10px;
      color: #fff;
      text-align: center;
    }
    span {
      border-radius: 7px;
    }
  }
}

.parentTask {
  cursor: pointer;
  &.active {
    > td:first-child::before {
      content: '▼ ';
    }
  }
  > td:first-child::before {
    content: '▶ ';
  }
  + tr td:first-child {
    padding-left: 25px !important;
  }
}
