
#lefSidePanel {
  position: absolute;
  margin-top: 8px;
}
.centerPanel {
  margin-left: 290px
}

#cke_35, #cke_71, #cke_25, #cke_26, #cke_27, #cke_86, #cke_17, #cke_18, #cke_19, #cke_20, #cke_21, #cke_20 ~ .cke_toolbar_separator, #cke_16 ~ .cke_toolbar_separator {
  display: none !important;
}

/* width */
tree-root::-webkit-scrollbar {
  width: 3px !important;
  height: 8px !important;
  background-color: #aaa !important; /* or add it to the track */
}

span ul li a {
  color: #007da6;
  &:active, &:hover {
    text-decoration: underline;
  }
}
span p{
  padding-left: 32px;
}
strong{
  font-weight: 600;
}

.badge-success {
  background-color: #7ab97a;
  color: white;
  font-size: 11px;
  padding: 3px 8px;
  margin-top: 0.15rem;
}

.badge-danger {
  background-color: rgb(255, 195, 0);
  color: #3d464d;
  font-size: 11px;
  padding: 3px 8px;
  margin-top: 0.15rem;
}
.row.open{
  width: 30%;
  height: 30%;
  position: absolute;
  left: 35%;
  top: 40%;
  margin: -75px 0 0 0px;
  background-color: #f5f7fb;
  box-shadow: 1px 1px 30px #d3d3d3;
}

.documentation-height {
  height: 250px !important;
  overflow: auto !important;
}
