
span ul li a {
  color: var(--primary);
  &:active, &:hover {
    text-decoration: underline;
  }
}
span p{
  padding-left: 32px;
}
strong{
  font-weight: 600;
}

.center-block.open {
  width: 650px;
  margin-top: 8%;
}

.disabled {
    pointer-events: none !important;
    cursor: auto !important;
}

.childNodeScroll {
  max-height: 100px !important;
  overflow: auto;
}

.rename-field {
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0 16px 0 4px;
  white-space: nowrap;
  width: auto;
  background: var(--background-color) !important;
}

.password-hide-icon {
  position: relative;
  float: right;
  top: -20px;
  right: 15px
}
.documents{
  max-height: calc(100vh - 408px);
  overflow: auto;
}
