<div class="modal-header">
    <h4 class="modal-title">
        <span>{{ 'help.' + title + '.title' | translate }}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="fa fa-times-circle"></span>
    </button>
</div>

<div class="modal-body p-a">
    <div class="help-content-wrapper">
        <div *ngIf="isLoading" class="loading-spinner">
            <nz-spin nzTip="Loading help content..."></nz-spin>
        </div>
        <div *ngIf="!isLoading" [innerHTML]="html" class="help-md"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-grey btn-sm" (click)="cancel()">
        <span translate>common.button.close</span>
    </button>
</div>
