<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline" *ngIf="permission.joc">
            <div class="inline valign">
              <label nz-checkbox [(ngModel)]="inventoryService.checkDeploymentStatus.isChecked" (ngModelChange)="reloadFolders($event)">
                {{'inventory.button.checkDeploymentStatus' | translate}}
              </label>
            </div>
            <button class="btn btn-sm btn-grey m-l-12"
                    (click)="search()">
              <i class="fa fa-search"></i>&nbsp;
              <span translate>common.button.search</span>
            </button>
            <div class="btn-group" *ngIf="permission.joc.inventory.manage">
              <div class="btn-group dropdown ">
                <button class="btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click" [nzDropdownMenu]="order"  nzPlacement="bottomRight">
                  <i nz-icon nzType="sync" nzTheme="outline"></i>&nbsp;
                  <span translate>inventory.button.convert </span>
                  <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
                </button>
                <nz-dropdown-menu #order="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="convertJob('CRON');">
                      <a translate>inventory.button.cron</a>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </div>
            <button *ngIf="permission.joc.inventory.manage" class="btn btn-sm btn-grey m-l-12"
                    (click)="exportObject(null)">
              <i nz-icon nzType="export" nzTheme="outline"></i>&nbsp;
              <span translate>inventory.button.export</span>
            </button>
            <button *ngIf="permission.joc.inventory.manage" class="btn btn-sm btn-grey m-l-12"
                    (click)="import()">
              <i nz-icon nzType="import" nzTheme="outline"></i>&nbsp;
              <span translate>inventory.button.import</span>
            </button>
            <button
              *ngIf="securityLevel === 'HIGH' && permission.joc.inventory.manage && permission.joc.inventory.deploy && permission.controllerDefaults.deployments.deploy"
              class="btn btn-sm btn-grey m-l-12" (click)="importDeploy()">
              <i nz-icon nzType="import" nzTheme="outline"></i>&nbsp;
              <span translate>inventory.button.importAndDeploy</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-link">
  <div class="row">
    <div class="col-md-9">
      <div>
        <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border2 b-primary">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/configuration/inventory']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.inventory</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator" *ngIf="permission.joc && permission.joc.fileTransfer.view">
            <span class="separator"></span>
          </li>
          <li class="nav-item" *ngIf="permission.joc && permission.joc.fileTransfer.view">
            <a class="nav-link" [routerLink]="['/configuration/file_transfer']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.fileTransfer</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator" *ngIf="permission.joc && permission.joc.notification.view">
            <span class="separator"></span>
          </li>
          <li class="nav-item" *ngIf="permission.joc && permission.joc.notification.view">
            <a class="nav-link" [routerLink]="['/configuration/notification']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.notification</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator" *ngIf="permission.joc && permission.joc.others.view">
            <span class="separator"></span>
          </li>
          <li class="nav-item" *ngIf="permission.joc && permission.joc.others.view">
            <a class="nav-link" [routerLink]="['/configuration/other']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.others</span></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="inline">
        <a class="text-hover-primary m-l-lg pos-rel t-10" *ngIf="indexOfNextAdd > 0" (click)="backToObject()" >
          <i class="fa fa-arrow-circle-left" ></i>
          {{'inventory.button.backToObject' | translate}}
        </a>
      </div>
    </div>
    <div class="col-md-3" *ngIf="!isTrash && type && type !== 'WORKFLOW' && selectedData.objectType && permission.joc && permission.joc.inventory.manage">
      <div class="inline pull-right" >
        <ul class="nav navbar-nav navbar-nav-inline nav-active-border3 ">
          <li class="nav-item" [nz-tooltip]="'workflow.button.undo' | translate" >
            <a class="nav-link"
               (click)="undo()">
              <span class="nav-text"> <i nz-icon nzType="undo" nzTheme="outline"></i></span>
            </a>
          </li>
          <li class="nav-item" [nz-tooltip]="'workflow.button.redo' | translate">
            <a class="nav-link"
               (click)="redo()">
              <span class="nav-text"> <i nz-icon nzType="redo" nzTheme="outline"></i></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator">
            <span class="separator"></span>
          </li>
          <li class="nav-item" [nz-tooltip]="'inventory.button.download' | translate">
            <a class="nav-link"
               (click)="download()">
              <span class="nav-text">  <i nz-icon nzType="download" nzTheme="outline"></i></span>
            </a>
          </li>
          <li class="nav-item" [nz-tooltip]="'inventory.button.upload' | translate">
            <a class="nav-link" (click)="upload()">
              <span class="nav-text">  <i nz-icon nzType="upload" nzTheme="outline"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht2">
  <div class="padding p-b-0">
    <div class="inline w-full" [hidden]="isLoading">
      <div appResizable [sideView]="sideView.inventory" id="leftPanel" class="sticky leftPanel editor " [ngClass]="{'bg-white' : isTrash}" [ngStyle]="{'width': sideView.inventory ? sideView.inventory.width +'px' : 'auto'}">
        <div class="pl-20 editor-tree">
          <a class="text resize-cursor a-1 pos-abt r-28 z-index-99" *ngIf="!isTrash">
            <i class="fa fa-angle-double-left fa-lg" (click)="hidePanel()"></i>
          </a>
          <a class="text resize-cursor a-3 pos-abt r-18 z-index-99">
            <i class="fa fa-angle-double-right fa-lg" (click)="showPanel()"></i>
          </a>
          <a class="trash notify" *ngIf="!isTrash" (click)="switchToTrash()">
            <i nz-icon [nzType]="'delete'" nzTheme="outline"></i>
          </a>
          <a class="rollback" *ngIf="isTrash" (click)="switchToTrash()">
            <i nz-icon [nzType]="'rollback'" nzTheme="outline"></i>
          </a>
          <perfect-scrollbar class="tree-block">
            <div class="fade-in" [ngClass]="{'m-t': isTrash}">
              <nz-tree
                #treeCtrl
                nzNoAnimation
                [nzShowExpand]="false"
                [nzData]="isTrash ? trashTree : tree"
                [nzTreeTemplate]="nzTreeTemplate"
              ></nz-tree>
              <ng-template #nzTreeTemplate let-node>
                <div class="node-wrapper">
                   <span
                     *ngIf="node.origin.loading || node.origin.isArrow || (!node.origin.controller && !node.origin.dailyPlan && node.origin.children && node.origin.children.length > 0 && (((node.origin.children.length > 2 || !node.origin.children[0].controller)) || node.origin.object ))"
                     [class.toggle-children-wrapper-expanded]="node.isExpanded"
                     [class.toggle-children-wrapper-collapsed]="!node.isExpanded"
                     (click)="openFolder(node)" class="cursor w-14 m-l-xxs m-t-n-1"
                     [ngClass]="{'m-l-0': node.origin.path === '/'}">
                     <i *ngIf="!node.isExpanded && !node.origin.loading" nz-icon nzType="caret-right"
                        nzTheme="outline"></i>
                     <i *ngIf="node.isExpanded && !node.origin.loading" nz-icon nzType="caret-down"
                        nzTheme="outline"></i>
                     <i *ngIf="node.origin.loading"><nz-spin nzSimple [nzSize]="'small'"></nz-spin></i>
                  </span>
                  <span
                    *ngIf="!node.origin.loading && (((node.origin.controller || node.origin.dailyPlan) && !node.origin.isArrow) || (!node.origin.children || node.origin.children.length === 0 || ((node.origin.children.length===2 && node.origin.children[0].controller))) && !node.origin.type)"
                    class="w-16">
                    <span class="fa fa-lg p-r-sm"></span>
                  </span>
                  <span *ngIf="(!node.children || node.children.length === 0) && node.origin.type">
                    <span class="p-r-xs"></span>
                  </span>
                  <button class="btn-drop more-option-h" [disabled]="!node.origin.permitted && !node.origin.controller
                   && !node.origin.dailyPlan && !node.origin.object && !node.origin.type" (click)="openMenu(node, $event)"
                          type="button">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="node-content-wrapper" [ngClass]="{'cut-row' : (copyObj && copyObj.operation === 'CUT' && copyObj.name === node.origin.name && copyObj.type === node.origin.type), 'node-content-wrapper-active' : (node.origin.name === selectedObj.name &&
                  node.origin.type === selectedObj.type) ||
                  (!node.origin.type && !node.origin.object && !node.origin.controller && !node.origin.dailyPlan && node.origin.path === selectedObj.path) ||
                  (node.origin.object && node.origin.object === selectedObj.type && node.origin.path === selectedObj.path)}"
                       (click)="selectNode(node)">
                    <i *ngIf="node.children && !node.origin.object && !node.origin.type && !node.origin.controller && !node.origin.dailyPlan"
                      nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14"></i>
                    <i *ngIf="node.origin.controller" nz-icon nzType="container" class="icon-color"
                       nzTheme="outline"></i>
                    <i *ngIf="node.origin.dailyPlan" class="icon-daily-plan-icon icon-color tree-icon opacity8"></i>
                    <i *ngIf="node.origin.object == 'WORKFLOW'" nz-icon nzType="apartment" class="icon-color"
                       nzTheme="outline"></i>
                    <i *ngIf="node.origin.object == 'FILEORDERSOURCE'" class="icon-orders-icon icon-color tree-icon"></i>
                    <!--<i *ngIf="node.origin.object == 'JOBCLASS'" nz-icon nzType="profile" class="icon-color"
                       nzTheme="outline"></i>-->
                    <i *ngIf="node.origin.object == 'JOBRESOURCE'" class="icon-resources-icon icon-color tree-icon"></i>
                    <i *ngIf="node.origin.object == 'NOTICEBOARD'" nz-icon nzType="pushpin" class="icon-color"
                       nzTheme="outline"></i>
                    <i *ngIf="node.origin.object == 'SCHEDULE'" nz-icon nzType="schedule" class="icon-color"
                       nzTheme="outline"></i>
                    <i *ngIf="node.origin.object == 'INCLUDESCRIPT'" class="fa fa-terminal w-13 text-shadow"></i>
                    <i *ngIf="node.origin.object == 'LOCK'" nz-icon nzType="lock" class="icon-color"
                       nzTheme="outline"></i>
                    <i *ngIf="node.origin.object && node.origin.object.match('CALENDAR')" nz-icon nzType="calendar" class="icon-color"
                       nzTheme="outline"></i>
                    <span *ngIf="node.origin.type" class="fa fa-check-circle-o orange text-xs w-11 m-t-xs"
                          [ngClass]="{'fa-circle-o': !node.origin.valid , 'fa-circle dark-blue' : node.origin.deployed || node.origin.released}"></span>
                    <span *ngIf="node.origin.type && node.origin.syncState && inventoryService.checkDeploymentStatus.isChecked">
                      <i *ngIf="node.origin.syncState._text === 'IN_SYNC'" class="fa fa-refresh font11 p-l-xxs"></i>
                      <i *ngIf="node.origin.syncState._text === 'UNKNOWN'" class="fa fa-exclamation-triangle font11 p-l-xxs"></i>
                      <i *ngIf="node.origin.syncState._text === 'NOT_IN_SYNC'" class="icon3-reload-error font11 pos-rel t-1 p-l-xxs"></i>
                    </span>
                    <span class="p-l-xs">
                      <span
                        *ngIf="node.origin.object || node.origin.controller || node.origin.dailyPlan">{{node.origin.name | translate}}</span>
                      <span
                        *ngIf="!node.origin.object && !node.origin.controller && !node.origin.dailyPlan">{{node.origin.name}}</span>
                    </span>
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="m-t-lg" *ngIf="isTrash && isTreeLoaded && tree.length === 0">
              <app-empty-data></app-empty-data>
            </div>
          </perfect-scrollbar>
          <div class="rg-right" [ngClass]="{'bg-white' : isTrash}"><span></span></div>
        </div>
      </div>
      <div id="rightPanel" [ngStyle]="{'margin-left': sideView.inventory ? (sideView.inventory.width + 18) + 'px' : 'auto'}">
        <div *ngIf="type == 'WORKFLOW'">
          <app-workflow [preferences]="preferences" [permission]="permission" [schedulerId]="schedulerIds.selected"
                        [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-workflow>
        </div>
        <div *ngIf="type == 'FILEORDERSOURCE'">
          <app-file-order [preferences]="preferences" [permission]="permission" [schedulerId]="schedulerIds.selected"
                        [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-file-order>
        </div>
        <div *ngIf="type == 'JOBRESOURCE'">
          <app-job-resource [preferences]="preferences" [schedulerId]="schedulerIds.selected" [permission]="permission"
                         [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-job-resource>
        </div>
        <div *ngIf="type == 'NOTICEBOARD'">
          <app-board [preferences]="preferences" [schedulerId]="schedulerIds.selected" [permission]="permission"
                        [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-board>
        </div>
        <div *ngIf="type == 'LOCK'">
          <app-lock [preferences]="preferences" [schedulerId]="schedulerIds.selected" [permission]="permission"
                    [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-lock>
        </div>
        <div *ngIf="type == 'SCHEDULE'">
          <app-schedule [preferences]="preferences" [permission]="permission" [schedulerId]="schedulerIds.selected"
                        [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-schedule>
        </div>
        <div *ngIf="type == 'INCLUDESCRIPT'">
          <app-script [preferences]="preferences" [permission]="permission" [schedulerId]="schedulerIds.selected"
                        [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-script>
        </div>
        <div *ngIf="type && type.match('CALENDAR')">
          <app-calendar [preferences]="preferences" [permission]="permission" [schedulerId]="schedulerIds.selected"
                        [data]="selectedData" [copyObj]="copyObj" [reload]="selectedData.reload" [isTrash]="isTrash"></app-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu *ngIf="!isTrash && node.origin && permission.joc">
    <li nz-menu-item *ngIf="node.origin.object && permission.joc.inventory.manage"
      (click)="addObject(node, node.origin.object);">
      <a translate>inventory.button.new</a>
    </li>
    <li nz-submenu [nzTitle]="'inventory.button.new' | translate"
        *ngIf="!node.origin.object && !node.origin.type && permission.joc.inventory.manage">
      <ul>
        <li nz-menu-item (click)="createFolder(node);" *ngIf="!node.origin.controller && !node.origin.dailyPlan">
          <a translate>inventory.button.newFolder</a>
        </li>
        <li nz-menu-divider *ngIf="!node.origin.controller && !node.origin.dailyPlan"></li>
        <li nz-menu-item *ngIf="!node.origin.dailyPlan" (click)="newObject(node, 'WORKFLOW')">
          <a translate>inventory.button.newWorkflow</a>
        </li>
        <li nz-menu-item *ngIf="!node.origin.dailyPlan" (click)="newObject(node, 'FILEORDERSOURCE')">
          <a translate>inventory.button.newFileOrderSource</a>
        </li>
        <li nz-menu-item *ngIf="!node.origin.dailyPlan" (click)="newObject(node, 'JOBRESOURCE')">
          <a translate>inventory.button.newJobResource</a>
        </li>
        <li nz-menu-item *ngIf="!node.origin.dailyPlan" (click)="newObject(node, 'NOTICEBOARD')">
          <a translate>inventory.button.newBoard</a>
        </li>
        <li nz-menu-item *ngIf="!node.origin.dailyPlan" (click)="newObject(node, 'LOCK')">
          <a translate>inventory.button.newLock</a></li>
        <li nz-menu-divider *ngIf="!node.origin.controller && !node.origin.dailyPlan"></li>
        <li nz-menu-item *ngIf="!node.origin.controller" (click)="newObject(node, 'INCLUDESCRIPT')">
          <a translate>inventory.button.newScript</a>
        </li>
        <li nz-menu-item *ngIf="!node.origin.controller" (click)="newObject(node, 'SCHEDULE')">
          <a translate>inventory.button.newOrder</a>
        </li>
        <li nz-menu-item *ngIf="!node.origin.controller" (click)="newObject(node, 'WORKINGDAYSCALENDAR')">
          <a translate>inventory.button.newCalendar</a>
        </li>
      </ul>
    </li>
    <li nz-menu-divider
        *ngIf="((!node.origin.object && !node.origin.type) || node.origin.object) && permission.joc.inventory.manage"></li>
    <li nz-menu-item (click)="cut(node)"
        *ngIf="!node.origin.controller && !node.origin.dailyPlan && !node.origin.object && permission.joc.inventory.manage">
      <a translate>inventory.button.cut</a>
    </li>
    <li nz-menu-item (click)="copy(node)"
        *ngIf="!node.origin.controller && !node.origin.dailyPlan && !node.origin.object && permission.joc.inventory.manage">
      <a translate>inventory.button.copy</a>
    </li>
    <li nz-menu-item (click)="shallowCopy(node)"
        *ngIf="!node.origin.type && !node.origin.controller && !node.origin.dailyPlan && !node.origin.object && permission.joc.inventory.manage">
      <a translate>inventory.button.shallowCopy</a>
    </li>
    <li nz-menu-item (click)="paste(node)"
        [nzDisabled]="!copyObj || (node.origin.object && copyObj.type !== node.origin.object)"
        *ngIf="!node.origin.type && !node.origin.controller && !node.origin.dailyPlan && permission.joc.inventory.manage">
      <a translate>inventory.button.paste</a>
    </li>
    <li nz-menu-item (click)="renameObject(node);"
        *ngIf="permission.joc.inventory.manage" [nzDisabled]="(node.origin.object && node.origin.children.length === 0)">
      <a translate>inventory.button.rename</a>
    </li>
    <li nz-menu-item (click)="exportObject(node);" *ngIf="!node.origin.type"
        [nzDisabled]="(node.origin.object && node.origin.children.length === 0)">
      <a translate>inventory.button.export</a>
    </li>
    <li nz-submenu [nzTitle]="'inventory.button.repository' | translate" *ngIf="(!node.origin.type && !node.origin.controller && !node.origin.dailyPlan)">
      <ul>
        <li nz-submenu [nzTitle]="'inventory.button.local' | translate">
          <ul>
            <li nz-menu-item (click)="repositoryOperation(node, 'store', 'LOCAL');">
              <a translate>inventory.button.storeTo</a>
            </li>
            <li nz-menu-item (click)="repositoryOperation(node, 'update', 'LOCAL');">
              <a translate>inventory.button.updateFrom</a>
            </li>
            <li nz-menu-item (click)="repositoryOperation(node, 'delete', 'LOCAL');">
              <a translate>inventory.button.deleteFrom</a>
            </li>
          </ul>
        </li>
        <li nz-submenu [nzTitle]="'inventory.button.rollout' | translate">
          <ul>
            <li nz-menu-item (click)="repositoryOperation(node, 'store', 'ROLLOUT');">
              <a translate>inventory.button.storeTo</a>
            </li>
            <li nz-menu-item (click)="repositoryOperation(node, 'update', 'ROLLOUT');">
              <a translate>inventory.button.updateFrom</a>
            </li>
            <li nz-menu-item (click)="repositoryOperation(node, 'delete', 'ROLLOUT');">
              <a translate>inventory.button.deleteFrom</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li nz-menu-divider *ngIf="(node.origin.type || (!node.origin.type && !node.origin.controller && !node.origin.dailyPlan))
                       && permission.joc.inventory.manage && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy)"></li>
    <li nz-menu-item (click)="deployObject(node, false);" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && ((node.origin.object && !node.origin.object.match('CALENDAR') && node.origin.object !== 'SCHEDULE' && node.origin.object !== 'INCLUDESCRIPT')
     || (node.origin.type && !node.origin.type.match('CALENDAR') && node.origin.type !== 'SCHEDULE' && node.origin.type !== 'INCLUDESCRIPT') || (!node.origin.object && !node.origin.type && !node.origin.dailyPlan))"
        [nzDisabled]="!node.origin.hasDeployments && ((node.origin.object && node.origin.children.length === 0) || (node.origin.type && !node.origin.valid))">
      <a translate>inventory.button.deploy</a>
    </li>
    <li nz-menu-item (click)="revoke(node);" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && ((node.origin.object && !node.origin.object.match('CALENDAR') && node.origin.object !== 'SCHEDULE' && node.origin.object !== 'INCLUDESCRIPT')
     || (node.origin.type && !node.origin.type.match('CALENDAR') && node.origin.type !== 'SCHEDULE' && node.origin.type !== 'INCLUDESCRIPT') || (!node.origin.object && !node.origin.type && !node.origin.dailyPlan))"
        [nzDisabled]="((node.origin.object && node.origin.children.length === 0)) || (node.origin.type && !node.origin.hasDeployments)">
      <a translate>inventory.button.revoke</a>
    </li>
    <li nz-menu-item (click)="reDeployObject(node);"
        *ngIf="securityLevel !== 'HIGH' && permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && (node.origin.controller || (!node.origin.object && !node.origin.type && !node.origin.dailyPlan))">
      <a translate>inventory.button.redeploy</a>
    </li>
    <li nz-menu-item (click)="synchronize(node);"
        *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && (node.origin.controller || (!node.origin.object && !node.origin.type && !node.origin.dailyPlan))">
      <a translate>inventory.button.synchronize</a>
    </li>
    <li nz-menu-item (click)="releaseObject(node);" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && ((node.origin.object && (node.origin.object.match('CALENDAR') || node.origin.object === 'SCHEDULE' || node.origin.object === 'INCLUDESCRIPT'))
     || (node.origin.type && (node.origin.type.match('CALENDAR') || node.origin.type === 'SCHEDULE' || node.origin.type === 'INCLUDESCRIPT')) || (!node.origin.object && !node.origin.type && !node.origin.controller))"
        [nzDisabled]="(!node.origin.hasReleases && ((node.origin.object && node.origin.children.length === 0) || (node.origin.type && !node.origin.valid)))">
      <a translate>inventory.button.release</a>
    </li>
    <li nz-menu-divider *ngIf="permission.joc.inventory.manage"></li>
    <li nz-menu-item (click)="removeObject(node);" *ngIf="permission.joc.inventory.manage"
        [nzDisabled]="(node.origin.object && node.origin.children.length === 0) || (!node.origin.type && !node.origin.controller && !node.origin.dailyPlan && !node.origin.object && node.origin.path === '/')">
      <a translate>inventory.button.remove</a>
    </li>
    <li nz-menu-item (click)="deleteDraft(node);" *ngIf="permission.joc.inventory.manage"
        [nzDisabled]="node.origin.deployed || node.origin.released || (node.origin.object && node.origin.children.length === 0) || (!node.origin.type && !node.origin.controller && !node.origin.dailyPlan && !node.origin.object && node.origin.path === '/')">
      <a translate>inventory.button.deleteDraft</a>
    </li>
    <li nz-menu-divider *ngIf="node.origin.type"></li>
    <li nz-menu-item (click)="editJson(node.origin, false)"
        *ngIf="node.origin.type">
      <a translate>inventory.button.showJSON</a>
    </li>
    <li nz-menu-item (click)="editJson(node.origin, true)"
        *ngIf="node.origin.type && permission.joc.inventory.manage">
      <a translate>inventory.button.editJSON</a>
    </li>
    <li nz-menu-divider *ngIf="node.origin.type"></li>
    <li nz-menu-item (click)="exportJSON(node.origin)"
        *ngIf="node.origin.type">
      <a translate>inventory.button.downloadJSON</a>
    </li>
    <li nz-menu-item (click)="importJSON(node.origin)"
        *ngIf="node.origin.type && permission.joc.inventory.manage">
      <a translate>inventory.button.uploadJSON</a>
    </li>
  </ul>
  <ul nz-menu *ngIf="isTrash && node.origin && permission.joc">
    <li nz-menu-item (click)="deletePermanently(node);" *ngIf="permission.joc.inventory.manage" class="bg-hover-color"
        [nzDisabled]="(node.origin.object && node.origin.children.length === 0)">
      <a translate>inventory.button.delete</a></li>
    <li nz-menu-item (click)="restoreObject(node);" [nzDisabled]="node.origin.object || node.origin.controller || node.origin.dailyPlan">
      <a translate>inventory.button.restore</a>
    </li>
  </ul>
</nz-dropdown-menu>
<div class="spinner" *ngIf="isLoading">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
<nz-drawer [nzVisible]="isSearchVisible" nzPlacement="right" (nzOnClose)="closeSearch()">
  <ng-container *nzDrawerContent>
    <div class="close-btn" (click)="closeSearch()"></div>
    <div *ngIf="isSearchVisible">
      <div class="text-center m-b-sm text" ><span class="_600 b-b p-b-sm m-l-sm" translate>inventory.search.label.searchHeading</span></div>
      <app-inventory-search [controllerId]="schedulerIds.selected" (onCancel)="closeSearch()" (onNavigate)="onNavigate($event)"></app-inventory-search>
    </div>
  </ng-container>
</nz-drawer>
