
.tree-block {
  margin-top: 0;
}
.a-3 {
  top: 56px;
}

.trash, .rollback{
  padding: 4px 6px;
  border-radius: 50%;
  background: var(--menu-hover);
  display: none;
  position: absolute;
  cursor: pointer;
  right: 48px;
  top:-2px;
  z-index:99;
  &:hover{
    color: var(--primary);
  }
  i{
    color: var(--text-color);
  }
}
.rollback{
  top: 16px;
  right: 16px;
  display: block;
  background: var(--background-color);
}
.editor{
  &:hover{
    .trash{
      display: block;
    }
  }
  .r-82{
    right: 82px;;
  }
}
.sidebar-hover-effect{
  .trash{
    right: 16px;
    top:16px;
  }
  .r-82{
    right: 52px;;
  }
}

#treeSearch {
  width: 10px;
  transition: all .5s ease-in-out;
  position: absolute;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  background: var(--background-color);
}

#treeSearch:focus {
  width: calc(100% - 46px);
  opacity: 1;
  z-index: 999;
  pointer-events: auto;
  transition: all 400ms cubic-bezier(0, 0, 0.46, 0.53);
}

#treeSearch {
  border: 1px solid transparent !important;
  border-bottom: 1px solid var(--primary) !important;
  margin-top: -8px !important;
}

.tree-search-icon {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 18px;
  color: var(--text-muted);
  background: var(--background-color);
  z-index: 999;
}

.input-tree-search:focus ~ .tree-search-icon{
  display: inline-block;
}

.min-ht-opt{
  min-height: 20px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
