<div class="text-left">
  <form #myForm="ngForm" (ngSubmit)="search()">
    <div class="p-a">
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label"
               [appRichTooltip]="'inventory.search.tooltips.search' | translate">{{ 'inventory.search.label.search' | translate }}</label>
        <div class="col-md-8 col-lg-9">
          <label class="w-full">
            <input type="text" [appAutofocus]="true" autocomplete="off" class="form-control"
                   placeholder="{{'inventory.search.placeholder.search' | translate}}" name="search"
                   [(ngModel)]="searchObj.search">
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label"
               [appRichTooltip]="'inventory.search.tooltips.folders' | translate"
>{{ 'inventory.search.label.folders' | translate }}</label>
        <div class="col-md-8 col-lg-9">
          <nz-tree-select name="folder" [nzNodes]="folders" [nzHideUnMatched]="true"
                          [nzDropdownStyle]="{ 'max-height': '300px' }" nzShowSearch [nzMultiple]="true" [nzDisplayWith]="displayWith"
                          [nzPlaceHolder]="'inventory.search.placeholder.selectFromTree' | translate" [(ngModel)]="searchObj.folders">
            <ng-template #nzTreeTemplate let-node>
              <div class="node-wrapper w-93" (click)="selectFolder(node, $event);">
                <div class="node-content-wrapper"
                     [class.node-content-wrapper-active]="searchObj.folders && searchObj.folders.indexOf(node.origin.path) > -1">
                  <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14"></i>
                  {{node.origin.name}}
                  @if (searchObj.folders && searchObj.folders.indexOf(node.origin.path) === -1) {
                    <i (click)="addFolder(node.origin.path);$event.stopPropagation()"
                       [appRichTooltip]="'user.button.addFolder' | translate" nz-icon [nzType]="'plus'" class="p-l-sm"></i>
                  }
                  @if (searchObj.folders && searchObj.folders.indexOf(node.origin.path) > -1) {
                    <i (click)="remove(node.origin.path);$event.stopPropagation()" nz-icon [nzType]="'delete'"
                       class="p-l-sm"></i>
                  }
                </div>
              </div>
            </ng-template>
          </nz-tree-select>
        </div>
      </div>
      @if (isWorkflow) {
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 block-ellipsis"  [appRichTooltip]="'inventory.search.tooltips.workflowAvailabilityStatus' | translate">{{ 'inventory.search.label.workflowAvailabilityStatus' | translate }}</label>
          <div class="col-md-8 col-lg-9">
            <nz-checkbox-group
              [(ngModel)]="selectedSynchronizationStatuses"
              (ngModelChange)="synchronizationStatusChange($event)" name="synchronizationStatus">
              @for (option of synchronizationStatusOptions; track option.value) {
                <label nz-checkbox [nzValue]="option.value">
                  <span>{{ 'filters.button' | translate }}.{{option.label}}</span>
                </label>
              }
            </nz-checkbox-group>
          </div>
        </div>
      }
      @if (isWorkflow) {
        <div class="form-group row">
          <label class="col-md-4 col-lg-3"></label>
          <div class="col-md-8 col-lg-9">
            <nz-checkbox-group
              [(ngModel)]="selectedAvailabilityStatuses"
              (ngModelChange)="availabilityStatusChange($event)"  name="availabilityStatus">
              @for (option of availabilityStatusOptions; track option.value) {
                <label nz-checkbox [nzValue]="option.value">
                  <span>{{ 'filters.button' | translate }}.{{option.label}}</span>
                </label>
              }
            </nz-checkbox-group>

          </div>
        </div>
      }
      @if (isWorkflow) {
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 block-ellipsis" [appRichTooltip]="'inventory.search.tooltips.jobAvailabilityStatus' | translate">{{ 'inventory.search.label.jobAvailabilityStatus' | translate }}</label>
          <div class="col-md-8 col-lg-9">
            <nz-checkbox-group
              [(ngModel)]="selectedJobAvailabilityStatuses"
              (ngModelChange)="jobAvailabilityStatusChange($event)" name="jobAvailabilityStatus">
              @for (option of jobAvailabilityStatusOptions; track option.value) {
                <label nz-checkbox [nzValue]="option.value">
                  <span>{{ 'filters.button' | translate }}.{{option.label}}</span>
                </label>
              }
            </nz-checkbox-group>

          </div>
        </div>
      }

      @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport) {
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 block-ellipsis-job"
                 [appRichTooltip]="'inventory.search.tooltips.deployedOrReleased' | translate"
>{{ 'inventory.search.label.filterBy' | translate }}</label>
          <div class="col-md-8 col-lg-9">
            <nz-radio-group name="deployedOrReleased" [(ngModel)]="searchObj.deployedOrReleased" >
              <label nz-radio nzValue="all"><span>{{ 'inventory.search.label.all' | translate }}</span></label>
              <label nz-radio nzValue="deployed"><span>{{ 'inventory.search.label.deployedOrReleased' | translate }}</span></label>
              <label nz-radio nzValue="undeployed"><span>{{ 'inventory.search.label.undeployedOrUnreleased' | translate }}</span></label>
            </nz-radio-group>
          </div>
        </div>
      }
      @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport && searchObj.deployedOrReleased === 'deployed') {
        <div class="form-group row">
          <label class="col-md-3 col-lg-3 block-ellipsis-job"
>{{ 'inventory.search.label.currentController' | translate }}</label>
          <div class="col-md-3 col-lg-9">
            <label nz-checkbox [(ngModel)]="searchObj.currentController" name="currentController"></label>
          </div>
        </div>
      }
      @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport && searchObj.deployedOrReleased == 'undeployed') {
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 block-ellipsis-job"
                 [appRichTooltip]="'inventory.search.tooltips.validOrInvalid' | translate"
>{{ 'inventory.search.label.validOrInvalid' | translate }}</label>
          <div class="col-md-8 col-lg-9">
            <nz-radio-group name="validOrInvalid" [(ngModel)]="searchObj.validOrInvalid" >
              <label nz-radio nzValue="all"><span>{{ 'inventory.search.label.all' | translate }}</span></label>
              <label nz-radio nzValue="valid"><span>{{ 'inventory.search.label.valid' | translate }}</span></label>
              <label nz-radio nzValue="invalid"><span>{{ 'inventory.search.label.invalid' | translate }}</span></label>
            </nz-radio-group>
          </div>
        </div>
      }
      @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport) {
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label"
                 [appRichTooltip]="'inventory.search.tooltips.return' | translate">{{ 'inventory.search.label.return' | translate }}</label>
          <div class="col-md-8 col-lg-9">
            <app-select-input [name]="'returnType'" [object]="searchObj" [attributeName]="'returnType'"
                              [listArray]="deployTypes"></app-select-input>
          </div>
        </div>
      }
      @if (searchObj.returnType !== 'JOBTEMPLATE' && searchObj.returnType !== 'REPORT') {
        <nz-collapse [nzBordered]="false">
          <nz-collapse-panel [nzHeader]="'inventory.search.label.advanced' | translate" [nzActive]="panel.active"
                             (nzActiveChange)="onChange($event)">
            <div class="p-a b-a m-t">
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.agent' | translate"
>{{ 'inventory.search.label.agent' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <app-agent-selection [skipSubagents]="true" [required]="false" [preferences]="preferences"
                                       [agents]="agentList" [data]="searchObj.advanced"></app-agent-selection>
                </div>
              </div>
              @if (searchObj.returnType !== ENUM.WORKFLOW) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.workflow' | translate"
>{{ 'inventory.search.label.workflow' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <label class="w-full">
                      <input type="text" autocomplete="off" class="form-control" name="workflow"
                             [(ngModel)]="searchObj.advanced.workflow">
                    </label>
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.FILEORDERSOURCE) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.fileOrderSource' | translate"
>{{ 'inventory.search.label.fileOrderSource' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <label class="w-full">
                      <input type="text" autocomplete="off" class="form-control" name="fileOrderSource"
                             [(ngModel)]="searchObj.advanced.fileOrderSource">
                    </label>
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.JOBRESOURCE) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.jobResources' | translate"
>{{ 'inventory.search.label.jobResources' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <label class="w-full">
                      <input type="text" autocomplete="off" class="form-control" name="jobResources"
                             [(ngModel)]="searchObj.advanced.jobResources">
                    </label>
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.NOTICEBOARD) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.boards' | translate"
>{{ 'inventory.search.label.boards' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <label class="w-full">
                      <input type="text" autocomplete="off" class="form-control" name="boards"
                             [(ngModel)]="searchObj.advanced.noticeBoards">
                    </label>
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.LOCK) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.lock' | translate"
>{{ 'inventory.search.label.lock' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <label class="w-full">
                      <input type="text" autocomplete="off" class="form-control" name="lock"
                             [(ngModel)]="searchObj.advanced.lock">
                    </label>
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.INCLUDESCRIPT) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.includeScript' | translate"
>{{ 'inventory.search.label.includeScript' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <input autocomplete="off" type="text" class="form-control" name="includeScript"
                           [(ngModel)]="searchObj.advanced.includeScripts">
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.SCHEDULE) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.schedule' | translate"
>{{ 'inventory.search.label.schedule' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <label class="w-full">
                      <input type="text" autocomplete="off" class="form-control" name="schedule"
                             [(ngModel)]="searchObj.advanced.schedule">
                    </label>
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.CALENDAR) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.calendar' | translate"
>{{ 'inventory.search.label.calendar' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <input autocomplete="off" type="text" class="form-control" name="calendar"
                           [(ngModel)]="searchObj.advanced.calendar">
                  </div>
                </div>
              }
              @if (searchObj.returnType !== ENUM.JOBTEMPLATE) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.jobTemplate' | translate"
>{{ 'inventory.search.label.jobTemplate' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <input autocomplete="off" type="text" class="form-control" name="jobTemplate"
                           [(ngModel)]="searchObj.advanced.jobTemplate">
                  </div>
                </div>
              }

              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.countJobs' | translate"
>{{ 'inventory.search.label.countJobs' | translate }}</label>
                <label class="col-md-2 col-lg-2 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.from' | translate">{{ 'inventory.search.label.from' | translate }}
                </label>
                <div class="col-md-2 col-lg-2">
                  <nz-input-number [nzMin]="0" name="from" [(ngModel)]="searchObj.advanced.jobCountFrom">
                  </nz-input-number>
                </div>
                <label class="col-md-2 col-lg-2 text-center form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.to' | translate">{{ 'inventory.search.label.to' | translate }}
                </label>
                <div class="col-md-2 col-lg-2">
                  <nz-input-number [nzMin]="0" name="to" [(ngModel)]="searchObj.advanced.jobCountTo"></nz-input-number>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.jobName' | translate"
>{{ 'inventory.search.label.jobName' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <label class="w-full">
                    <input type="text" autocomplete="off" (change)="isJobSearch = false;object.mapOfCheckedId.clear()"
                           class="form-control" name="jobName" [(ngModel)]="searchObj.advanced.jobName">
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 block-ellipsis w-full"
                       [appRichTooltip]="'inventory.search.tooltips.jobNameExactMatch' | translate"
>{{ 'inventory.search.label.jobNameExactMatch' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <label nz-checkbox [(ngModel)]="searchObj.advanced.jobNameExactMatch"
                         (nzCheckedChange)="isJobSearch = false;object.mapOfCheckedId.clear()"
                         name="jobNameExactMatch"></label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.jobCriticality' | translate"
>{{ 'inventory.search.label.jobCriticality' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <app-select-input [isAllowClear]="true" [placeholder]="'inventory.placeholder.selectCriticality'"
                                    [name]="'criticality'" [classNames]="'w-full'" [object]="searchObj.advanced"
                                    [attributeName]="'jobCriticality'" [optionLabel]="'name'" [optionValue]="'value'"
                                    [listArray]="jobCriticality"></app-select-input>

                </div>
              </div>
              @if (searchObj.returnType === ENUM.WORKFLOW) {
                <div class="form-group row">
                  <label class="col-md-4 col-lg-3 form-control-label"
                         [appRichTooltip]="'inventory.search.tooltips.jobScript' | translate"
>{{ 'inventory.search.label.jobScript' | translate }}</label>
                  <div class="col-md-8 col-lg-9">
                    <input autocomplete="off" type="text" class="form-control" name="jobScript"
                           [(ngModel)]="searchObj.advanced.jobScript">
                  </div>
                </div>
              }
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.argumentName' | translate"
>{{ 'inventory.search.label.argumentName' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <input autocomplete="off" type="text" class="form-control" name="name"
                         [(ngModel)]="searchObj.advanced.argumentName" placeholder="{{'common.placeholder.name' | translate}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.argumentValue' | translate"
>{{ 'inventory.search.label.argumentValue' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <input autocomplete="off" type="text" class="form-control" name="value"
                         [(ngModel)]="searchObj.advanced.argumentValue"
                         placeholder="{{'common.placeholder.value' | translate}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.environmentName' | translate"
>{{ 'inventory.search.label.environmentName' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <input autocomplete="off" type="text" class="form-control" name="envName"
                         [(ngModel)]="searchObj.advanced.envName" placeholder="{{'common.placeholder.name' | translate}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-lg-3 form-control-label"
                       [appRichTooltip]="'inventory.search.tooltips.environmentValue' | translate"
>{{ 'inventory.search.label.environmentValue' | translate }}</label>
                <div class="col-md-8 col-lg-9">
                  <input autocomplete="off" type="text" class="form-control" name="envValue"
                         [(ngModel)]="searchObj.advanced.envValue" placeholder="{{'common.placeholder.value' | translate}}">
                </div>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      }
    </div>
    <div class="modal-footer border-top-0 text-left m-t-n">
      <button class="btn btn-primary btn-sm" type="submit" [disabled]="submitted">
        @if (submitted) {
          <i class="fa fa-spin fa-spinner p-r-xs"></i>
        }
        {{'common.button.search' | translate}}
      </button>
      <button class="btn btn-grey btn-sm" type="button" (click)="onCancel.emit()">{{ 'common.button.close' | translate }}</button>
      <button class="btn btn-grey btn-sm" type="button" (click)="clear()">{{ 'common.button.clear' | translate }}</button>
    </div>
  </form>
  @if (results) {
    <div class="p-a p-t-0">
      <div class="form-group row">
        @if (object.mapOfCheckedId.size > 0) {
          <div class="col-sm-12 m-b-sm">
            <button class="btn btn-grey btn-sm" type="button"
                    (click)="updateObject()">{{ 'inventory.search.button.updateObject' | translate }}</button>
            <span class="p-l-sm"
                 >{{ 'inventory.search.message.updateSelectedObjects' | translate: {objectCount: object.mapOfCheckedId.size} }}</span>
          </div>
        }
        @if (object.mapOfCheckedId.size > 0 && isJobSearch) {
          <div class="col-sm-12 m-b-sm">
            @if (searchObj.advanced.jobNameExactMatch) {
              <button class="btn btn-grey btn-sm" type="button"
                      (click)="propagateJob()">{{ 'inventory.search.button.propagateJob' | translate }}</button>
            }
            <button class="btn btn-grey btn-sm" [ngClass]="{'m-l-12' : searchObj.advanced.jobNameExactMatch}"
                    type="button" (click)="updateJob()">{{ 'inventory.search.button.updateJob' | translate }}</button>
            <span class="p-l-sm"
                 >{{ 'inventory.search.message.updateJobForSelectedWorkflows' | translate: {jobName: searchObj.advanced.jobName || '*',workflowsCount: object.mapOfCheckedId.size} }}</span>
          </div>
        }
        <div class="col-sm-12">
          <span class="text-muted">{{ 'inventory.search.label.searchResult' | translate }}</span>:
          @if (results.length > 0) {
            <b>{{results.length}}
              @if (results.length > 1) {
                <span>{{'inventory.search.label.recordsFound' | translate}}</span>
              }
              @if (results.length === 1) {
                <span>{{'inventory.search.label.recordFound' | translate}}</span>
              }
            </b>
          }
        </div>
        <div class="col-sm-12">
          <div class="table-responsive text-overflow" [ngStyle]="{'max-height': 'calc(100vh - 360px)'}">
            <nz-table #ajaxTable [nzSize]="'small'" [nzNoResult]="'inventory.search.label.noDataMatched' | translate"
                      [nzPageSize]="results.length" [nzBordered]="true" [nzShowPagination]="false" [nzData]="results | orderBy: 'path1':false:false"
                      [nzShowSizeChanger]="false" [nzFrontPagination]="false">
              <thead>
              <tr>
                @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport) {
                  <th class="chk" [nzShowCheckbox]="true"
                      [(nzChecked)]="object.checked" [nzIndeterminate]="object.indeterminate"
                      (nzCheckedChange)="checkAll($event)"></th>
                }
                @if (isControllerId) {
                  <th nowrap><span>{{ 'common.label.controllerId' | translate }}</span></th>
                }
                <th><span>{{ 'common.label.name' | translate }}</span></th>
                <th><span>{{ 'common.label.path' | translate }}</span></th>
                @if (searchObj.returnType === 'CALENDAR') {
                  <th><span>{{ 'common.label.type' | translate }}</span></th>
                }
              </tr>
              </thead>
              <tbody>
                @for (data of ajaxTable.data; track data.path || data.name) {
                  <tr id="{{data.path}}" class="cursor" [ngClass]="{'disabled-row' : !data.permitted,  'light-bg':(searchObj.selectedPath == data.path && searchObj.returnType == data.objectType)}">
                    @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport) {
                      <td [nzShowCheckbox]="true"
                          [nzChecked]="object.mapOfCheckedId.has(data.name)" (nzCheckedChange)="onItemChecked(data, $event)">
                      </td>
                    }
                    @if (isControllerId) {
                      <td (click)="navToObject(data)">{{data.controllerId}}</td>
                    }
                    <td (click)="navToObject(data)">
                      @if (!isWorkflow && !isLock && !isBoard && !isCalendar && !isReport) {
                        <span class="fa fa-check-circle-o orange text-xs w-11 m-t-xs"
                              [ngClass]="{'fa-circle-o': !data.valid , 'fa-circle dark-blue' : data.deployed || data.released}"></span>
                      }
                      <span class="p-l-xs" [innerHTML]="data.name"></span>
                      @if (data.title) {
                        <i> - </i>
                      }
                      <span class="text-muted">{{data.title}}</span>
                    </td>
                    <td>
                      <span class="show-in-single-line">
                        @if ((isWorkflow || isLock || isBoard || isCalendar || isReport ) && data.permitted) {
                          <i (click)="coreService.navToInventoryTab(data.path, this.type);$event.stopPropagation();"
                             class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                        }
                        <span> {{data.path1}}</span>
                      </span>
                    </td>
                    @if (searchObj.returnType === 'CALENDAR') {
                      <td>{{data.objectType | translate}}</td>
                    }
                  </tr>
                }
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  }
</div>
