<div class="p-a box" [hidden]="data?.length === 0" style="height: calc(100vh - 208px);">
  <div [hidden]="!filters.calendarView" id="full-calendar-projection"></div>
  <div [hidden]="filters.calendarView" id="gantt" #ztgantt style="height: 100%; width: 100%"></div>
</div>

<div class="m-t" *ngIf="data?.length === 0 && isLoaded">
  <app-empty-data></app-empty-data>
</div>
<div *ngIf="!isLoaded" class="spinner">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
<nz-drawer (nzOnClose)="close()" [nzVisible]="isVisible" nzPlacement="right">
  <ng-container *nzDrawerContent>
    <div (click)="close()" class="close-btn"></div>
  </ng-container>
</nz-drawer>
