<div class="box p-a">
  <nz-table
    #ajaxTable
    [nzSize]="'small'"
    [nzPageIndex]="usr.currentPage"
    [nzBordered]="true"
    [nzData]="main"
    [nzLoading]="loading"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
  >
    <thead>
    <tr>
      <th nzWidth="50px"><span translate>label.action</span></th>
      <th>
        <span translate>label.entryName</span>
      </th>
      <th><span translate>label.entryValue</span></th>
      <th>
        <span translate>label.entryComment</span>
      </th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let mainSection of ajaxTable.data">
      <td>
        <div appDropdown class="btn-group dropdown pull-left m-r-sm">
          <button type="button" class="btn-drop more-option-h" data-toggle="dropdown"><i
            class="fa fa-ellipsis-h"></i></button>
          <div class="dropdown-menu dropdown-ac dropdown-more list-dropdown" role="menu">
            <a class="dropdown-item" (click)="editMain(mainSection)" translate>button.edit</a>
            <a class="dropdown-item" (click)="deleteMain(mainSection)" translate="">button.delete</a>
          </div>
        </div>
      </td>
      <td> {{mainSection.entryName}}</td>
      <td>
        <div *ngFor="let values of mainSection.entryValue"><span [innerHtml]="values"></span></div>
      </td>
      <td>
        <div *ngFor="let comments of mainSection.entryComment"><span [innerHtml]="comments"></span></div>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="w-half label-top" *ngIf="main.length >0">
    <span translate>label.total</span><span> {{main.length}} </span>
    <span translate *ngIf="main.length >1">label.mainEntriesFound</span>
    <span translate *ngIf="main.length ==1">label.mainEntryFound</span>
  </div>
</div>

