<ng-template #contentTemplate>
  <div class="row">
    <div class="col-md-12 m-b-12 text-md">
      <b *ngIf="!isFavorite" class="text" translate>favorite.button.addFavorite</b>
      <b *ngIf="isFavorite" class="text" translate>favorite.button.editFavorite</b>
      <i (click)="isVisible = false" aria-hidden="true"
         class="fa fa-times-circle pos-abt cursor r-12 m-t-n-1 text-20"></i>
    </div>
    <div [ngClass]="{'has-error' : ((favorite.dirty || favorite.touched) && favorite.invalid) || !unique}"
         class="form-group col-md-12">
      <input #favorite="ngModel" (blur)="checkName()" [(ngModel)]="obj.name" [appAutofocus]="true" class="form-control"
             maxlength="255" name="favorite" placeholder="{{'common.placeholder.name' | translate}}" required
             type="text">
      <div *ngIf="!unique" class="help-block text-danger">
        <div translate>common.message.uniqueError</div>
      </div>
    </div>
    <div class="col-md-12">
      <button (click)="addFavorite()" [disabled]="!obj.name || !unique" class="btn btn-primary btn-sm" translate
              type="button">common.button.done
      </button>
      <button (click)="removeFavorite()" *ngIf="isFavorite" class="btn btn-danger btn-sm m-l-12" translate
              type="button">common.button.remove
      </button>
    </div>
  </div>
</ng-template>
<i (click)="isVisible = true" *ngIf="data[type] && data[type].length > 1" [ngClass]="{'text-primary': isFavorite}"
   [nzPopoverBackdrop]="true" [nzPopoverContent]="contentTemplate" [nzPopoverTrigger]="null"
   [nzPopoverVisible]="isVisible"
   [nzTheme]="isFavorite ? 'fill' : 'outline'" class="pos-abt r-18 t-sm cursor text-16 primary-text-hover-color z-index"
   nz-icon nz-popover nzPopoverPlacement="topRight" nzType="star"></i>
<div *ngIf="list.length > 0" class="text-right">
  <a (click)="showList()" class="primary-text-hover-color text-u-l p-t-xxs cursor" translate>favorite.button.addFromFavorite</a>
</div>
<nz-select #myinput (ngModelChange)="onChangeValue($event)" [(ngModel)]="obj.selected" [nzPlaceHolder]="'common.placeholder.search' | translate"
           class="fav-list-search-box"
           nzShowSearch>
  <nz-option *ngFor="let item of list | orderBy: 'ordering'" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
</nz-select>
