<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true" class="fa fa-times-circle"></span>
    </button>
    <h4 class="modal-title" ng-if="!overTake && !deleteDraftObject">
	<span ng-if="!delete" translate>xml.label.saveXml</span>
      	<span ng-if="delete" translate>xml.label.deleteXml</span> ?
    </h4>
    <h4 class="modal-title" ng-if="overTake"><span translate>label.takeOver</span></h4>
    <h4 class="modal-title" ng-if="!overTake && deleteDraftObject && deleteDraftObject.name"><span translate>button.delete</span> {{deleteDraftObject.name}}?</h4>
</div>
<div class="modal-body">
  <div class="p-a text-center">
    <div class="row">
      <div class="col-sm-12 text m-b">
        <span ng-if="!overTake && !delete && !deleteDraftObject" translate>xml.message.wouldYouLikeToSaveCurrentXml</span>
	    <span ng-if="!overTake && delete && !deleteDraftObject" translate>xml.message.wouldYouLikeToDeleteCurrentXml</span>
	    <span ng-if="!overTake && deleteDraftObject && deleteDraftObject.name" translate>message.deleteDraftObject</span>
        <div ng-if="overTake" translate>
            <span translate>joe.message.folderLockBy</span>
            <b>{{overTake.lockedBy}}</b>
            <span><span translate>label.since</span>
                <i class="text-muted">{{overTake.lockedSince | dateFormat}}.</i>
            </span>
            <div class="m-t-sm" translate>joe.message.overTakeLock</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-left">
  <button type="button" class="btn btn-primary btn-sm" ng-click="ok('yes')"
          translate>button.confirm
  </button>
  <button type="button" class="btn btn-grey btn-sm" ng-click="ok('no')"
          translate>button.cancel
  </button>
</div>
