<div ng-class="{'disable-tab' : jobChain.deleted}">
    <div class="row">
        <div class="col-md-12">
            <div class="box p-a" ng-class="{'disable-tab' : jobChain.deleted }">
                <div class="p-b b-b m-b">
                    <a ng-click="backToListView()"><i uib-tooltip="{{'button.back' | translate}}" class="fa fa-arrow-circle-left config-back-btn"></i></a>
                    <span class="m-r-xs" ng-if="extraInfo.lockedBy"
                          uib-tooltip="{{'label.lockedBy' | translate}}{{': '}}{{extraInfo.lockedBy}}{{', '}}{{'label.since' | translate}}{{': '}}{{extraInfo.lockedSince | dateFormat}}">
                        <i class="fa fa-lock fa-lg _600"></i>
                    </span>
                    <span class="text text-primary"><span ng-if="jobChain">{{jobChain.path}}<span
                            ng-if="jobChain.path !=='/'">/</span>{{jobChain.name}} - </span></span>
                    <span class="text text-dark" translate>joe.label.fileOrderSource</span>
                    <span ng-if="extraInfo.storeDate"> - <b translate>label.autoSaveAt</b>
                        <i class="text-muted">{{extraInfo.storeDate | stringToDate}}</i>
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-class="{'disable-tab' : !permission.JobschedulerMaster.administration.configurations.edit }">
                            <form name="form" role="form" novalidate>
                                <div class="form-group row" ng-class="{ 'has-error' : form.fileOrderSourceDirectory.$invalid && form.fileOrderSourceDirectory.$dirty }">
                                    <label class="col-md-4 col-lg-3 form-control-label"
                                           translate>joe.label.directory</label>
                                    <div class="col-md-8 col-lg-6">
                                        <input type="text" class="form-control" required name="fileOrderSourceDirectory" ng-model="fileOrderSource.directory">
                                        <div class="text-danger help-block" ng-if="form.fileOrderSourceDirectory.$dirty"
                                             ng-messages="form.fileOrderSourceDirectory.$error">
                                            <div ng-message="required" translate>message.requiredError</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.regex</label>
                                    <div class="col-md-8 col-lg-6">
                                        <input type="text" class="form-control" name="stepNodesFileOrderSourceRegex"
                                               ng-model="fileOrderSource.regex">
                                    </div>
                                </div>
                                <div class="form-group row" ng-class="{ 'has-error' : form.delay.$invalid && form.delay.$dirty }">
                                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.delayAfterError</label>
                                    <div class="col-md-8 col-lg-6">
                                        <input type="number" min="0" class="form-control" name="delay" ng-model="fileOrderSource.delayAfterError">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.repeat</label>
                                    <div class="col-md-8 col-lg-6">
                                        <input type="text" class="form-control" name="stepNodesFileOrderSourceRepeat" ng-model="fileOrderSource.repeat">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-lg-3 form-control-label"
                                           translate>joe.label.nextState</label>
                                    <div class="col-md-8 col-lg-6">
                                        <input type="text" class="form-control" name="nextState" ng-model="fileOrderSource.nextState">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.alertWhenDirectoryMissing</label>
                                    <div class="col-md-8 col-lg-6 p-t-xs">
                                        <label class="md-check lg-check">
                                            <input type="checkbox" name="missingDirectory" ng-model="fileOrderSource.alertWhenDirectoryMissing">
                                            <i class="primary"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-sm btn-grey"
                                                ng-click="newFileOrderSource(form);">
                                            <span translate>joe.button.newFileOrderSource</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <div class="p-t-sm ">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="menu"><span translate>label.action</span></th>
                                        <th><span translate>joe.label.directory</span></th>
                                        <th><span translate>joe.label.regex</span></th>
                                        <th><span translate>joe.label.nextState</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="fileorder in jobChain.fileOrderSources track by $index">
                                        <td>
                                            <div class="btn-group dropdown">
                                                <button type="button" class="btn-drop more-option-h" dropdown
                                                        data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu list-dropdown dropdown-ac dropdown-more"
                                                     role="menu">
                                                    <a ng-click="removeFileOrder($index);"
                                                       class="dropdown-item"
                                                       translate>button.delete</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cursor" ng-click="editFileOrder(fileorder);">
                                            {{fileorder.directory}}
                                        </td>
                                        <td class="cursor" ng-click="editFileOrder(fileorder);">
                                            {{fileorder.regex}}
                                        </td>
                                        <td class="cursor" ng-click="editFileOrder(fileorder);">
                                            {{fileorder.nextState}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
