<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true" class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title" >
            <span translate>joe.button.new</span>
            <span ng-if="job.docName">{{job.docName}}</span>
            <span class="_600" ng-if="!job.docName" translate>label.job</span>
        </h4>
    </div>
    <form name="form" role="form">
        <div class="modal-body p-a" style="min-height: 240px;">
            <div >
                <div class="row">
                    <div class="col-md-12" ng-if="wizard.step === 1">
                        <div class="text-center" style="padding-top: 96px">
                            <div class="show-inline">
                                <label class="md-check ">
                                    <input type="radio" name="radio" ng-model="wizard.type" ng-click="typeChange();" value="order">
                                    <i class="primary"></i> <span translate>joe.label.jobChainJob</span>
                                </label>
                                <label class="md-check m-l-lg">
                                    <input type="radio" name="radio" ng-model="wizard.type" ng-click="typeChange();" value="standalone">
                                    <i class="primary"></i> <span translate>joe.button.standaloneJob</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="wizard.step === 2">
                        <div class="form-group row" ng-class="{ 'has-error' : (form.name.$invalid && form.name.$dirty) || !isUnique }">
                            <label class="col-sm-3 form-control-label" translate>label.jobName</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" required ng-maxlength="255" ng-blur="checkJobName();" placeholder="{{'placeholder.enterJobName' | translate}}" ng-model="job.newName">
                                <div class="text-danger help-block" ng-if="form.name.$dirty" ng-messages="form.name.$error">
                                    <div ng-message="required" translate>message.requiredError</div>
                                    <div ng-message="maxlength" translate>message.tooLongError</div>
                                </div>
                                <div class="help-block text-danger" ng-if="!isUnique">
                                    <div translate>message.uniqueError</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label" translate>label.title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="{{'placeholder.title' | translate}}" ng-model="job.title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 m-t-sm m-b">
                                <input type="search" placeholder="{{'placeholder.search' | translate}}" ng-model="wizard.searchText">
                                <i ng-if="wizard.searchText" class="fa fa-times search-close" ng-click="wizard.searchText = '';"></i>
                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive" style="max-height: 400px;overflow: auto">
                                    <div ng-if="isLoading" class="text-center m-t-lg">
                                        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
                                    </div>
                                    <table class="table table-hover table-bordered" ng-if="!isLoading">
                                        <thead>
                                        <tr>
                                            <th translate nowrap>label.name</th>
                                            <th translate nowrap>label.title</th>
                                            <th translate>joe.label.class</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="_job in jobList | orderBy: 'docName' | filter: wizard.searchText:strict track by $index" ng-click="selectJob(_job)" class="cursor" ng-class="{'light-bg' : _job.javaClass == job.javaClass}">
                                            <td>
                                                <i ng-if="_job.docPath" class="fa fa-book p-r-sm" ng-click="showDoc(_job.docPath)"></i>
                                                <span ng-bind-html="_job.docName | highlight:wizard.searchText"></span>
                                            </td>
                                            <td>{{_job.title}}</td>
                                            <td>{{_job.javaClass}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="wizard.step === 3">
                        <div class="row">
                            <div class="col-sm-1 m-b-sm text-center">
                                <label class="md-check lg-check">
                                    <input type="checkbox" ng-model="wizard.checkbox" name="chkAll" ng-change="checkAll()">
                                    <i class="primary"></i>
                                </label>
                            </div>
                            <div class="col-sm-5 m-b-sm p-l-0" translate>label.name</div>
                            <div class="col-sm-6 m-b-sm p-r-0" translate>label.value</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12" style="max-height: 525px;overflow: auto">
                                <div class="form-group row m-b-0" ng-repeat="param in job.params track by $index">
                                    <div class="col-sm-1 m-b-sm text-center" >
                                        <label class="md-check" style="top:6px">
                                            <input type="checkbox" data-checklist-model="wizard.params" data-checklist-value="param"><i class="primary"></i>
                                        </label>
                                    </div>
                                    <div class="col-sm-5 m-b-sm p-l-0">
                                        <label class="form-control-label p-l-0" ng-class="{'light-yellow-bg': param.required}" style="white-space: normal;word-wrap: break-word;">{{param.name}}</label>
                                    </div>
                                    <div class="col-sm-5 m-b-sm p-r-0" ng-init="param.newValue = param.defaultValue">
                                        <input type="text" autocomplete="off" class="form-control" ng-model="param.newValue">
                                    </div>
                                    <div class="col-sm-1" ng-if="param.description">
                                        <i class="cursor fa fa-info-circle m-t-sm" data-toggle="popover" data-placement="right" data-content="{{param.description}}"></i>
                                    </div>
                                </div>
                                <div class="form-group row m-b-0" ng-repeat="param in job.paramList track by $index" >
                                    <div class="col-sm-1 m-b-sm text-center" >
                                        <label class="md-check" style="top:6px">
                                            <input type="checkbox" disabled><i class="primary"></i>
                                        </label>
                                    </div>
                                    <div class="col-sm-5 m-b-sm p-l-0">
                                        <input type="text" autocomplete="off" focus="{{$last && $index > 0}}" class="form-control" ng-model="param.name" placeholder="{{'placeholder.name' | translate}} {{$index+1}}">
                                    </div>

                                    <div class="col-sm-5 m-b-sm p-r-0">
                                        <input type="text" autocomplete="off" class="form-control" ng-keypress="onKeyPress($event);" ng-model="param.newValue" placeholder="{{'placeholder.value' | translate}} {{$index+1}}">
                                    </div>
                                    <div class="col-sm-1">
                                        <a><i ng-click="removeParams($index)" class="fa fa-times m-t-sm text-muted"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-t-sm">
                            <div class="col-sm-12 p-l-md">
                                <a href class="text-u-l" ng-click="addParameter()"
                                   translate>button.addAnotherParameter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="button" class="btn btn-primary btn-sm" ng-if="wizard.step !== 1" ng-disabled="form.$invalid && !job.docName || !isUnique" ng-click="checkJobName(ok)" translate>button.submit</button>
            <button type="button" class="btn orange btn-sm" ng-if="wizard.step !== 3" ng-disabled="wizard.step === 2 && !job.docName || !isUnique" ng-click="next()" translate>button.next</button>
            <button type="button" class="btn btn-grey btn-sm"  ng-if="wizard.step !== 1" ng-click="back()" translate>button.back</button>
            <button type="button" class="btn btn-grey btn-sm" ng-click="cancel()" translate>button.cancel</button>
            <button type="button" class="btn btn-grey btn-sm pull-right" ng-if="wizard.step === 3" ng-click="showDoc(job.docPath)" >
                <i class="fa fa-book p-r-sm"></i>
                <span translate>button.showDocumentation</span>
            </button>
        </div>
    </form>
</div>
