<div class="row" ng-controller="JobEditorCtrl">
  <div class="col-md-12">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span class="text text-dark" translate>label.jobs</span>
        <div class="inline pull-right" style="margin-top: -2px" ng-if="!job">
          <button class="btn btn-sm btn-grey m-l-sm" ng-click="createStandaloneJob()" >
            <i class="fa fa-plus"></i>
            <span translate>joe.button.standaloneJob</span>
          </button>
          <button class="btn btn-sm btn-grey m-l-sm" ng-click="createOrderJob()">
            <i class="fa fa-plus"></i>
            <span translate>joe.button.orderJob</span>
          </button>
        </div>
      </div>
      <div ng-if="!job">
        <div class="table-responsive">
          <table class="table table-hover table-bordered " id="job">
            <thead>
            <tr>
              <th ng-click="sortBy1('name')"><a><span translate>label.name</span>
                <i ng-show="filter.sortBy == 'name' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'name' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('title')"><a><span translate>label.title</span>
                <i ng-show="filter.sortBy == 'title' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'title' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('jobschedulerId')"><a><span translate>label.jobSchedulerId</span>
                <i ng-show="filter.sortBy == 'jobschedulerId' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'jobschedulerId' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('processClass')"><a><span translate>label.processClass</span>
                <i ng-show="filter.sortBy == 'processClass' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'processClass' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('order')"><a><span translate>label.order</span>
                <i ng-show="filter.sortBy == 'order' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'order' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="job in jobs | orderBy:filter.sortBy:filter.sortReverse" class="cursor">
              <td ng-bind="job.name"></td>
              <td ng-bind="job.title"></td>
              <td ng-bind="job.schedulerId"></td>
              <td ng-bind="job.processClass"></td>
              <td ng-bind="job.order"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="job">
        <form name="form" role="form" ng-submit="onSubmit()" novalidate>
          <div class="form-group row" ng-class="{ 'has-error' : form.name.$invalid && form.name.$dirty }">
            <label class="col-md-4 col-lg-3 form-control-label" translate>Job Name</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" required ng-maxlength="255" class="form-control" placeholder="Enter Job name" autofocus
                     name="name" ng-model="job.name">
              <div class="text-danger help-block" ng-if="form.name.$dirty" ng-messages="form.name.$error">
                <div ng-message="required" translate>message.requiredError</div>
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row" ng-class="{ 'has-error' : form.title.$invalid && form.title.$dirty }">
            <label class="col-md-4 col-lg-3 form-control-label" translate>Job Title</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" ng-maxlength="255" class="form-control" placeholder="Enter Job title"
                     name="title" ng-model="job.title">
              <div class="text-danger help-block" ng-if="form.title.$dirty" ng-messages="form.title.$error">
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.processClass</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" class="form-control" placeholder="Enter Job processClass"
                     name="processClass" ng-model="job.processClass">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.language</label>
            <div class="col-md-8 col-lg-6">
              <select class="form-control" name="language" ng-model="job.language">

                <option ng-repeat="lang in languages" value="{{lang}}">{{lang}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="p-a-sm m-l-xs m-r-xs p-t-0">
              <div class="b-b">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href data-toggle="tab" data-target="#tab1" translate>joe.tab.script</a>
                  </li>
                  <li class="nav-item" ng-if="job.language == 'java' || job.language == 'dotnet' || job.language == 'java:javascript' || job.language == 'javax.script:rhino' || job.language == 'javax.script:ecmascript'">
                    <a class="nav-link" href data-toggle="tab" data-target="#dynamic" translate>{{job.language == 'dotnet' ? 'DotNet' : 'Java'}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab2" translate>joe.tab.includes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab3" translate>joe.tab.options</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab4" translate>joe.tab.email</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab5" translate>joe.tab.onError</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab6" translate>joe.tab.fileWatcher</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab7" translate>label.documentation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab8" translate>joe.tab.xml</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content p-t-sm">
                <div class="tab-pane animated fadeIn active" id="tab1">
                  <div class="b-a p-a-sm bg-transparent">
                    <div class="form-group row">
                      <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.functionCodeSnippets</label>
                      <div class="col-md-8 col-lg-10">
                        <input type="text" class="form-control" name="functionCodeSnippets" ng-model="job.functionCodeSnippets">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <textarea rows="10" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane animated fadeIn" id="dynamic" >
                  <div class="b-a p-a-sm bg-transparent">
                    <div ng-if="job.language !== 'dotnet'">
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.classname</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="classname" ng-model="job.classname">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.Classpath</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="classpath" ng-model="job.classpath">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.javaOptions</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="javaOptions" ng-model="job.javaOptions">
                        </div>
                      </div>
                    </div>
                    <div ng-if="job.language === 'dotnet'">
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>Dll</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="dll" ng-model="job.dll">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>Class</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="class" ng-model="job.class">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane animated fadeIn" id="tab2" >
                  <div class="b-a p-a-sm bg-transparent">
                    <div class="row">
                      <div class="col-md-12 m-b-sm">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-grey m-l-sm" ng-click="addFile()">
                                <i class="fa fa-plus"></i>
                                <span translate>joe.includes.button.addFile</span>
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm" ng-click="new()">
                              <i class="fa fa-plus"></i>
                              <span translate>joe.includes.button.new</span>
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm" ng-click="removeFile()">
                              <i class="fa fa-trash"></i>
                              <span translate>joe.includes.button.removeFile</span>
                            </button>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4 col-lg-2">
                            <div class="row">
                              <div class="col-md-4 col-lg-2 p-t-sm">
                                <input type="checkbox" class="form-control text-left" name="jobIncludeFilePosition" ng-model="job.includes.filePosition">
                              </div>
                              <div class="col-md-8 col-lg-10">
                                <label class="form-control-label" translate>joe.includes.label.fromHotFolder</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8 col-lg-10">
                            <input type="text" class="form-control" name="jobIncludeFilePath" ng-model="job.includes.filePath">
                          </div>
                          <div class="col-md-12">
                            <hr class="m-t-0 m-b-sm">
                          </div>
                          <div class="col-12">
                            <table class="table table-hover table-bordered " id="joeIncludeFile">
                              <thead>
                                <th class="tableexport-ignore menu">
                                  <input type="checkbox">
                                </th>
                                <th class="tableexport-ignore menu">
                                    <span translate>joe.includes.label.name</span>
                                </th>
                                <th class="tableexport-ignore menu">
                                  <span translate>joe.includes.label.filetype</span>
                                </th>
                              </thead>
                              <tbody>
                               <tr>
                                <td>
                                  <input type="checkbox">
                                </td>
                                <td class="p-l-0">
                                  <span class="show-in-single-line">
                                    <span class="text-dark">createDailyPlan</span>
                                  </span>
                                </td>
                                <td class="p-l-0">
                                  <span class="show-in-single-line">
                                    <span class="text-dark">createDailyPlan</span>
                                  </span>
                                </td>
                               </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane animated fadeIn" id="tab3">
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.logLevel</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsLogLevel" ng-model="job.options.logLevel">
                        <option ng-repeat="log in logLevelValue" value="{{log}}">{{log}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.stdErrlogLevel</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsStdErrLogLevel" ng-model="job.options.stdErrLogLevel">
                        <option ng-repeat="std in stdErrLogLevelValue" value="{{std}}">{{std}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.histroy</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsHistroy" ng-model="job.options.histroy">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.histroyOnProcess</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsHistroyOnProcess" ng-model="job.options.histroyOnProcess">
                        <option ng-repeat="hpv in histroyOnProcessValue" value="{{hpv}}">{{hpv}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.histroyWithLog</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsHistroyWithLog" ng-model="job.options.histroyWithLog">
                        <option ng-repeat="hwl in histroyWithLogValue" value="{{hwl}}">{{hwl}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.credetialKey</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" placeholder="file Path" name="jobOptionsCredetialKey" ng-model="job.options.credetialKey">
                    </div>
                  </div>
                  <div class="form-group row" ng-class="{ 'has-error' : form.role.$invalid && form.role.$dirty}">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.ignoreSignals</label>
                    <div class="col-md-8 col-lg-6">
                        <ui-select class="form-control" multiple ng-model="job.options.ignoreSignals" name="jobOptionsIgnoreSignals" required on-remove="removed($item, $model)" theme="bootstrap" close-on-select="false" >
                          <ui-select-match>{{$item}}</ui-select-match>
                          <ui-select-choices repeat="signal as signal in ignoreSignalsValue">
                            <div ng-bind-html="signal | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.priority</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsPriority" ng-model="job.options.priority">
                        <option ng-repeat="priority in priorityValue" value="{{priority}}">{{priority}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.visible</label>
                    <div class="col-md-8 col-lg-6">
                      <select class="form-control" name="jobOptionsVisible" ng-model="job.options.visible">
                        <option ng-repeat="visible in visibleValue" value="{{visible}}">{{visible}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.minTask</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" name="jobOptionsMinTask" ng-model="job.options.minTask">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.task</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" name="jobOptionsTask" ng-model="job.options.task">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.timeout</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" placeholder="{{'joe.options.placeholder.timeout' | translate}}" name="jobOptionsTimeout" ng-model="job.options.timeout">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.idleTimeout</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" placeholder="{{'joe.options.placeholder.idleTimeout' | translate}}"  name="jobOptionsIdleTimeout" ng-model="job.options.idleTimeout">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.warnIfLongerThan</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" placeholder="{{'joe.options.placeholder.warnIfLongerThan' | translate}}" name="jobOptionsWarnIfLongerThan" ng-model="job.options.warnIfLongerThan">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.warnIfShorterThan</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="text" class="form-control text-left" placeholder="{{'joe.options.placeholder.warnIfShorterThan' | translate}}" name="jobOptionsWarnIfShorterThan" ng-model="job.options.warnIfShorterThan">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-lg-3 form-control-label" translate>joe.options.label.forceIdleTimeout</label>
                    <div class="col-md-8 col-lg-6">
                      <input type="checkbox" class="form-control text-left w-auto" name="jobOptionsForceIdleTimeout" ng-model="job.options.forceIdleTimeout">
                    </div>
                  </div>
                </div>
                <div class="tab-pane animated fadeIn" id="tab4">
                  //todo4
                </div>
                <div class="tab-pane animated fadeIn" id="tab5">
                  //todo5
                </div>
                <div class="tab-pane animated fadeIn" id="tab6">
                  //todo6
                </div>
                <div class="tab-pane animated fadeIn" id="tab7">
                  //todo7
                </div>
                <div class="tab-pane animated fadeIn" id="tab8">
                  //todo8
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
