<div class="row">
  <div class="col-md-12">
    <div class="box p-a" ng-class="{'disable-tab' : jobChain.deleted}">
      <div class="b-b p-b m-b">
        <span class="m-r-xs" ng-if="extraInfo.lockedBy" uib-tooltip="{{'label.lockedBy' | translate}}{{': '}}{{extraInfo.lockedBy}}{{', '}}{{'label.since' | translate}}{{': '}}{{extraInfo.lockedSince | dateFormat}}"><i class="fa fa-lock fa-lg _600"></i></span>
        <span class="text text-dark" ng-if="!jobChain">
            <span class="text-primary" ng-if="extraInfo.path">{{extraInfo.path}}<span ng-if="extraInfo.path !=='/'">/</span></span> -
            <span translate>label.jobChains</span>
        </span>
        <span class="text" ng-if="jobChain"><span class="text-primary">
          <span ng-if="jobChain.path">{{jobChain.path}}<span ng-if="jobChain.path !=='/'">/</span></span>{{jobChain.name | cut:true:100:' ...'}}</span> - <span class="text-dark text-sm">{{jobChain.message | translate}}
              <a class="m-l-xs" ng-if="jobChain.message === 'JOE1002'" ng-click="showDiff('JOBCHAIN', jobChain)"><i class="fa fa-columns text"></i></a>
              <span ng-if="extraInfo.storeDate"> - <b translate>label.autoSaveAt</b>
                <i class="text-muted">{{extraInfo.storeDate | stringToDate}}</i>
              </span>
          </span>
        </span>
        <div class="inline pull-right" style="margin-top: -2px" ng-if="!jobChain && permission.JobschedulerMaster.administration.configurations.edit">
          <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-class="{'disable-link' : !copyData || ('JOBCHAIN' !== copyData.type || (extraInfo.path+'jobChain') !== tPath)}" ng-click="pasteInRightPanel(jobChains, 'JOBCHAIN', extraInfo.path, 'jobChain')">
              <i class="fa fa-clipboard"></i>
              <span translate>button.paste</span>
          </button>
          <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-click="createJobChain()" >
            <i class="fa fa-plus"></i>
            <span translate>joe.button.newJobChain</span>
          </button>
        </div>
        <div class="inline pull-right" style="margin-top: -2px" ng-if="jobChain">
          <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-click="openSidePanel('nodeParameter')" >
            <i class="fa fa-tasks"></i>
            <span translate>joe.button.parameter</span>
          </button>
          <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-click="openStepsNode()">
            <i class="fa fa-step-forward"></i>
            <span translate>joe.button.stepsAndNodes</span>
          </button>
          <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-click="openOrder()">
            <i class="icon-orders-icon custom-icon"></i>
            <span translate>joe.button.orders</span>
          </button>
        </div>
      </div>
      <div ng-if="!jobChain">
        <div class="table-responsive">
          <table class="table table-hover table-bordered " id="job">
            <thead>
            <tr>
              <th class="menu"><span translate>label.action</span></th>
              <th ng-click="sortBy1('name')"><a><span translate>label.name</span>
                <i ng-show="filter.sortBy == 'name' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'name' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('deployed')"><a><span translate>label.status</span>
                <i ng-show="filter.sortBy == 'deployed' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'deployed' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('title')"><a><span translate>label.title</span>
                <i ng-show="filter.sortBy == 'title' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'title' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('processClass')"><a><span translate>label.processClass</span>
                <i ng-show="filter.sortBy == 'processClass' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'processClass' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="jobchain in jobChains | orderBy:filter.sortBy:filter.sortReverse" ng-class="{'disabled-row'  : jobchain.deleted}">
              <td class="menu">
                <div class="btn-group dropdown">
                  <button type="button" class="btn-drop more-option-h" dropdown="" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu list-dropdown dropdown-ac dropdown-more" role="menu">
                      <a class="dropdown-item" ng-if="permission.JobschedulerMaster.administration.configurations.edit" ng-click="copyInRightPanel(jobchain, path+'jobChain')" translate>button.copy</a>
                      <a class="dropdown-item" ng-if="!jobchain.deleted"  ng-click="createJobChain(jobchain)" translate>button.edit</a>
                      <a ng-if="permission.JobschedulerMaster.administration.configurations.deploy.jobChain" class="dropdown-item" ng-class="{'disable-link' : jobchain.deployed}" ng-click="deploy('JOBCHAIN',jobchain);">
                          <div translate>joe.button.deploy</div>
                      </a>
                      <a ng-if="permission.JobschedulerMaster.administration.configurations.delete && !jobchain.deleted" ng-click="removeJobChain(jobchain)" class="dropdown-item" translate="">button.delete</a>
                      <a ng-if="permission.JobschedulerMaster.administration.configurations.delete" ng-click="deleteDraft(jobchain);" ng-class="{'disable-link' : jobchain.deployed}" class="dropdown-item bg-hover-color" translate>button.deleteDraft</a>
                      <a ng-if="permission.JobschedulerMaster.administration.configurations.delete && jobchain.deleted" ng-click="restoreObject(jobchain);" class="dropdown-item" translate>button.undelete</a>
                      <div class="dropdown-divider"></div>
                      <a ng-if="permission.JobschedulerMaster.administration.configurations.edit" class="dropdown-item" ng-click="showXml(jobchain, null, true);">
                        <div translate>button.editXml</div>
                      </a>
                      <a class="dropdown-item" ng-click="showXml(jobchain, null, false);">
                        <div translate>button.showXml</div>
                      </a>
                  </div>
                </div>
              </td>
              <td class="cursor" ng-click="createJobChain(jobchain)">
                <span ng-bind="jobchain.name"></span>
              </td>
              <td class="cursor" ng-click="createJobChain(jobchain)">
                <span class="label bg-green" ng-if="jobchain.deployed" translate>joe.label.deployed</span>
                <span class="label bg-gold" ng-class="{'bg-crimson' : jobchain.deleted}"  ng-if="!jobchain.deployed" translate>joe.label.notDeployed</span>
              </td>
              <td class="cursor" ng-click="createJobChain(jobchain)">{{jobchain.title}}</td>
              <td class="cursor" ng-click="createJobChain(jobchain)"><a class="text-hover-primary" ng-click="navToObject(jobchain, jobchain.processClass, 'PROCESSCLASS');$event.stopPropagation()">{{jobchain.processClass}}</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="jobChain" ng-click="closeSidePanel()" ng-class="{'disable-tab' : !permission.JobschedulerMaster.administration.configurations.edit }">
        <form name="form" role="form">
          <div class="form-group row" ng-class="{ 'has-error' : form.jobChainName.$invalid && form.jobChainName.$dirty }">
            <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.jobChainName</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" required ng-maxlength="255" class="form-control" placeholder="{{'joe.placeholder.addJobChainName' | translate}}"
                     name="jobChainName" ng-model="jobChain.name" unique-name data="{{jobChains}}" data-temp="{{_tempJobChain.name}}" ng-blur="renameObject(jobChain, _tempJobChain, form)">
              <div class="text-danger help-block" ng-if="form.jobChainName.$dirty" ng-messages="form.jobChainName.$error">
                <div ng-message="required" translate>message.requiredError</div>
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row" ng-class="{ 'has-error' : form.title.$invalid && form.title.$dirty }">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.title</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" ng-maxlength="255" class="form-control" name="title" placeholder="{{'placeholder.title' | translate}}" ng-model="jobChain.title">
              <div class="text-danger help-block" ng-if="form.title.$dirty" ng-messages="form.title.$error">
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.maxOrders</label>
            <div class="col-md-8 col-lg-6">
              <input type="number" min="0" class="form-control" name="jobChainMaxOrders" ng-model="jobChain.maxOrders">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.processClassJobChain</label>
            <div class="col-md-8 col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <select class="form-control"  name="processClass" ng-model="jobChain.processClass" style="border: none">
                    <option value="{{pc.name}}" ng-repeat="pc in processClasses" >{{pc.name}}</option>
                    <option value="{{pc.name}}" ng-repeat="pc in agentClusters" >{{pc.name}}</option>
                  </select>
                  <div class="input-dropdown" style="margin-bottom: -27px;top: -28px">
                    <input name="processClass" placeholder="{{'joe.placeholder.selectOrChooseFromFolder' | translate}}" class="form-control" ng-model="jobChain.processClass" type="text">
                  </div>
                </div>
                <div class="pos-abt" style="right: -16px">
                  <i class="fa fa-folder-o fa-lg p-t-sm" ng-click="getProcessClassTreeStructure('processClass')" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>joe.label.agentFilewatcher</label>
            <div class="col-md-8 col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <select class="form-control"  name="agentFilewatcher" ng-model="jobChain.fileWatchingProcessClass" style="border: none"
                          ng-options="pc.name as pc.name for pc in agentClusters">
                  </select>
                  <div class="input-dropdown" style="margin-bottom: -27px;top: -28px">
                    <input name="agentFilewatcher" placeholder="{{'joe.placeholder.selectOrChooseFromFolder' | translate}}" class="form-control" ng-model="jobChain.fileWatchingProcessClass" type="text">
                  </div>
                </div>
                <div class="pos-abt" style="right: -16px">
                  <i class="fa fa-folder-o fa-lg p-t-sm" ng-click="getProcessClassTreeStructure('fileWatchingProcessClass')" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label"></label>
            <div class="col-md-8 col-lg-6  p-t-sm">
                <label class="md-check w">
                  <input type="checkbox" name="jobChainOrdersRecoverable" ng-model="jobChain.ordersRecoverable">
                  <i class="primary"></i> <span translate>joe.label.ordersRecoverable</span>
                </label>
                <label class="md-check w">
                  <input type="checkbox" name="jobChainDistributed" ng-model="jobChain.distributed">
                  <i class="primary"></i> <span translate>label.distributed</span>
                </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="rightSideBar" ng-if="obj.title" class="slideInRight" ng-click="isSideBarClicked($event)">
    <div class="close-btn" >
      <i class="fa fa-times" ng-click="closeSidePanel()"></i>
    </div>
    <div class="text-center m-b text">
      <span class="_600 b-b p-b-sm m-l-sm">{{'joe.button.parameter' | translate}}</span>
    </div>
    <div class="p-a">
      <div class="col-md-12 text-left">
        <div class="form-group row m-b-0" ng-repeat="param in node.params.paramList track by $index">
          <div class="col-sm-5 m-b-sm" ng-if="$index==0" translate>label.name</div>
          <div class="col-sm-6 m-b-sm" ng-if="$index==0" translate>label.value</div>
          <div class="col-sm-5 m-b-sm">
            <input autocomplete="off" focus="{{$last && $index > 0}}" type="text" class="form-control" ng-model="param.name"
                   placeholder="{{'placeholder.name' | translate}} {{$index+1}}">
          </div>

          <div class="col-sm-6 m-b-sm">
            <input autocomplete="off" ng-keypress="onKeyPress($event, 'param')" type="text" class="form-control" ng-model="param.value"
                   placeholder="{{'placeholder.value' | translate}} {{$index+1}}">
          </div>
          <div class="col-sm-1 p-l-0">
            <a><i ng-click="removeParams($index)" class="fa fa-times m-t-sm text-muted"></i></a>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <a href class="text-u-l" ng-if="node.params.paramList.length>0" ng-click="addParameter()"
               translate>button.addAnotherParameter</a>
            <a href class="text-u-l" ng-if="node.params.paramList.length==0" ng-click="addParameter()"
               translate>button.addParameter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
