<div class="inline w-full">
    <div resizable r-directions="['right']" id="leftSidePanel" class="sticky leftPanel editor">
        <div class="editor-tree white">
            <div class="tree-block" style="overflow: auto">
                <!-- Nested node template -->
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'text-primary' : node.selected1, '_600' : node.selected1 && node.type}">
                        <a class="text-dark"><i ng-if="!node.expanded && (node.folders.length>0 || node.children.length>0) || (!node.folders && !node.children && !node.param && !node.type)"
                           ng-click="node.expanded = !node.expanded;expandNode(node)" ng-class="{'disable-link' : node.deleted}" class="fa fa-angle-right fa-lg p-r-sm w-14"></i>
                        <i ng-if="node.expanded && (node.folders.length>0 || node.children.length>0)"
                           ng-click="node.expanded = !node.expanded;" class="fa fa-angle-down fa-lg p-r-sm w-14"></i>
                         <i ng-if="(node.children.length==0 && (node.object || node.param))" style="margin-right: 18px"></i>
                         <i ng-if="node.type && !node.children" style="margin-right: 18px"></i>
                        </a>
                        <i ng-if="!node.expanded && !node.object && !node.type && !node.param" ng-class="{'disable-link' : node.deleted}" class="fa fa-folder w-14 noExl"></i>
                        <i ng-if="node.expanded && node.folders.length>0 && !node.object && !node.param" class="fa fa-folder-open w-14 noExl"></i>
                        <i ng-if="node.expanded && node.folders.length==0 && !node.object && !node.param" ng-class="{'disable-link' : node.deleted}" class="fa fa-folder w-14 noExl"></i>
                        <i ng-if="node.type" ng-class="{'disable-link' : node.deleted}" class="fa fa-circle-o noExl text-xs w-11"></i>
                        <i ng-if="node.param == 'MONITOR'" class="fa fa-file-text-o noExl text-xs w-14"></i>
                        <i ng-if="node.param == 'COMMAND'" class="fa fa-terminal noExl text-xs w-14"></i>
                        <i ng-if="node.param == 'ORDER'" class="icon-orders-icon custom-icon text-xs w-14 m-r-xs"></i>
                        <i ng-if="node.param == 'STEPSNODES'" class="fa fa-step-forward noExl text-xs w-14"></i>
                        <i ng-if="node.object == 'JOB'" class="icon-jobs-icon custom-icon w-14"></i>
                        <i ng-if="node.object == 'JOBCHAIN'" class="fa fa-chain noExl w-14"></i>
                        <i ng-if="node.object == 'LOCK'" class="icon-lock-icon custom-icon w-14"></i>
                        <i ng-if="node.object == 'PROCESSCLASS'" class="icon-process-class-icon custom-icon w-14"></i>
                        <i ng-if="node.object == 'AGENTCLUSTER'" class="fa fa-user w-14"></i>
                        <i ng-if="node.object == 'SCHEDULE'" class="fa fa-calendar noExl w-14"></i>
                        <i ng-if="node.object == 'MONITOR'" class="fa fa-file-text-o noExl w-14"></i>
                        <div class="btn-group dropdown text-dark">
                            <button class="btn-drop more-option-h" data-toggle="dropdown" dropdown type="button">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-ac1 dropdown-more list-dropdown" role="menu">
                                <li ng-if="node.type"><a class="dropdown-item" ng-click="copy(node, this)" translate>button.copy</a></li>
                                <li ng-if="node.object"><a class="dropdown-item" ng-class="{'disable-link' : !copyData || (node.object !== copyData.type || node.parent !== tPath)}" ng-click="paste(node)" translate>button.paste</a></li>
                                <li ng-if="node.type || node.object"><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item" ng-if="node.object" ng-click="addObject(node, this);" translate>joe.button.new</a></li>
                                <li class="dropdown-submenu " ng-if="!node.object && !node.param && !node.type && !node.deleted">
                                    <a tabindex="-1" class="dropdown-item first"  translate>joe.button.new</a>
                                    <div class="dropdown-menu dropdown-ac1">
                                        <a tabindex="-1" class="dropdown-item first" ng-click="createFolder(node);" translate>joe.button.newFolder</a>
                                        <a tabindex="-1" class="dropdown-item first" ng-click="newObject(node, 'JOB')" translate>joe.button.newJob</a>
                                        <a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'JOBCHAIN')" translate>joe.button.newJobChain</a>
                                        <!--<a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'ORDER')" translate>joe.button.newOrder</a>-->
                                        <a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'PROCESSCLASS')" translate>joe.button.newProcessClass</a>
                                        <a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'AGENTCLUSTER')" translate>joe.button.newAgentCluster</a>
                                        <a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'SCHEDULE')" translate>joe.button.newSchedule</a>
                                        <a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'LOCK')" translate>joe.button.newLock</a>
                                        <a tabindex="-1" class="dropdown-item" ng-click="newObject(node, 'MONITOR')" translate>joe.button.newMonitor</a>
                                    </div>
                                </li>
                                <li ng-if="node.lockedBy"><a class="dropdown-item" ng-click="releaseLock(node)" translate>joe.button.releaseLock</a></li>
                                <li ng-if="!node.deleted && (node.type ||  (node.param && node.param !== 'ORDER'))"><a class="dropdown-item" ng-class="{'disable-link' : node.param}" ng-click="treeHandler(node, this)" translate>button.edit</a></li>
                                <li ng-if="!node.param || node.param === 'ORDER'"><a class="dropdown-item" ng-class="{'disable-link' : node.deployed || (node.lockedBy && node.lockedBy !== username)}" ng-click="deployObject(node, this);" translate>joe.button.deploy</a></li>
                                <li ng-if="!node.object && !node.param && !node.deleted"><a class="dropdown-item" ng-class="{'disable-link' : (!node.type && !node.object && node.path === '/')}" ng-click="removeObject(node, this);" translate>button.delete</a></li>
                                <li ng-if="node.type"><a class="dropdown-item bg-hover-color" ng-class="{'disable-link' : node.deployed}" ng-click="removeDraft(node, this);" translate>button.deleteDraft</a></li>
                                <li ng-if="!node.object && !node.param && node.deleted"><a class="dropdown-item " ng-class="{'disable-link' : node.lockedBy && node.lockedBy !== username}" ng-class="{'disable-link' : node.param}" ng-click="restoreObject(node, this);" translate>button.undelete</a></li>
                                <li ng-if="node.type"><div class="dropdown-divider"></div></li>
                                <li ng-if="node.type"><a class="dropdown-item" ng-click="showXml(node, this, true);" translate>button.editXml</a></li>
                                <li ng-if="node.type"><a class="dropdown-item" ng-click="showXml(node, this, false);" translate>button.showXml</a></li>
                            </ul>
                        </div>
                        <span ng-click="treeHandler(node, this)" ng-style="{'cursor' : (node.folders || node.deleted) ? 'default' : 'pointer'}" ng-class="{'text-u-l'  : (!node.isOrderJob || node.isOrderJob ==='no') && node.type === 'JOB', 'text-muted':node.deleted}">
                            {{node.name || node.path || node.orderId || node.code}}
                            <i ng-if="node.deleted">({{'joe.label.deleted' | translate}})</i>
                            <i ng-if="node.title"> - </i>
                            <span class="text-muted">{{node.title}}</span>
                            <span ng-if="node.lockedBy && node.lockedBy !== username" uib-tooltip="{{'label.lockedBy' | translate}}{{': '}}{{node.lockedBy}}{{', '}}{{'label.since' | translate}}{{': '}}{{node.lockedSince | dateFormat}}" tooltip-placement="bottom"><i class="_600 fa fa-lock"></i></span>
                        </span>
                    </div>
                    <ol ui-tree-nodes ng-model="node.folders" ng-if="node.expanded">
                        <li ng-repeat="node in node.folders" ng-if="node.object !== 'ORDER'" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                    <ol ui-tree-nodes ng-model="node.children" ng-if="node.expanded">
                        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </script>
                <div ui-tree id="tree-root" data-drop-enabled="false" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="tree">
                        <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="centerPanel" class="centerPanel">
        <div class="row m-t-md">
            <div class="col-md-12">
                <div ng-if="type == 'JOB'" >
                    <div ng-controller="JobEditorCtrl" ui-include="'modules/configuration/views/job-template.html'"></div>
                </div>
                <div ng-if="type == 'JOBCHAIN'" >
                    <div ng-controller="JobChainEditorCtrl" ui-include="'modules/configuration/views/job-chain-template.html'"></div>
                </div>
                <div ng-if="param == 'ORDER'">
                    <div ng-controller="OrderEditorCtrl" ui-include="'modules/configuration/views/order-template.html'"></div>
                </div>
                <div ng-if="type == 'LOCK'">
                    <div ng-controller="LockEditorCtrl" ui-include="'modules/configuration/views/lock-template.html'"></div>
                </div>
                <div ng-if="type == 'PROCESSCLASS'">
                    <div ng-controller="ProcessClassEditorCtrl" ui-include="'modules/configuration/views/process-class-template.html'"></div>
                </div>
                <div ng-if="type == 'AGENTCLUSTER'">
                    <div ng-controller="AgentClusterEditorCtrl" ui-include="'modules/configuration/views/agent-cluster-template.html'"></div>
                </div>
                <div ng-if="type == 'SCHEDULE'">
                    <div ng-controller="ScheduleEditorCtrl" ui-include="'modules/configuration/views/schedule-template.html'"></div>
                </div>
                <div ng-if="type == 'MONITOR' || param == 'MONITOR'">
                    <div ng-controller="MonitorEditorCtrl" ui-include="'modules/configuration/views/pre-post-processing-template.html'"></div>
                </div>
                <div ng-if="param == 'COMMAND'">
                    <div ng-controller="CommandEditorCtrl" ui-include="'modules/configuration/views/command-template.html'"></div>
                </div>
                <div ng-if="param == 'STEPSNODES'">
                    <div ng-controller="StepNodeCtrl" ui-include="'modules/configuration/views/step-node-template.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static" style="z-index: 9999">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-a" style="min-height: 500px;max-height: 600px; overflow: auto">
                <div ng-show="filterTree1 && filterTree1.length>0">
                    <a class="text" ng-click="filter_tree.expand_all();"
                       uib-tooltip="{{'tooltip.expandAll' | translate}}">
                        <i class="fa fa-angle-double-down fa-lg"></i>
                    </a>
                    <a class="text m-l-xs" ng-click="filter_tree.collapse_all();"
                       uib-tooltip="{{'tooltip.collapseAll' | translate}}">
                        <i class="fa fa-angle-double-up fa-lg"></i>
                    </a>
                    <tree
                            tree-data="filterTree1"
                            object="object"
                            tree-control="filter_tree"
                            on-select="treeExpand1(branch)"
                            expand-on="expanding_property"
                            on-click="treeExpand(branch)"
                            template-url="modules/core/template/object-tree-filter-structure1.html">
                    </tree>
                </div>
                <div class="text-center m-t-lg" ng-if="!filterTree1 || filterTree1.length==0">
                    <span translate>joe.message.noObjectFound</span>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-grey btn-sm pull-left" ng-click="closeModal()" translate>
                    button.cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-if="isLoading" class="loading-img1"></div>
