<div class="inline w-full">
    <div resizable r-directions="['right']" id="leftSidePanel" class="sticky leftPanel editor">
        <div class="editor-tree white">
            <div class="tree-block" style="overflow: auto">
                <!-- Nested node template -->
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'text-primary' : node.selected1, '_600' : node.selected1 && node.type}">
                        <a class="text-dark"><i ng-if="!node.expanded && (node.folders.length>0 || node.children.length>0) || (!node.folders && !node.children && !node.param && !node.type)"
                           ng-click="node.expanded = !node.expanded;expandNode(node)" class="fa fa-angle-right fa-lg p-r-sm w-15"></i>
                        <i ng-if="node.expanded && (node.folders.length>0 || node.children.length>0)"
                           ng-click="node.expanded = !node.expanded" class="fa fa-angle-down fa-lg p-r-sm w-15"></i>
                         <i ng-if="(node.children.length==0 && (node.object || node.param))"
                               class="fa fa-caret-right fa-lg p-r-sm w-15"></i>
                        </a>
                        <i ng-if="!node.expanded && !node.object && !node.type && !node.param" class="fa fa-folder w-15 noExl"></i>
                        <i ng-if="node.type" class="fa fa-circle-o noExl text-xs"></i>
                        <i ng-if="node.param == 'MONITOR'" class="fa fa-file-text-o noExl text-xs"></i>
                        <i ng-if="node.param == 'COMMAND'" class="fa fa-terminal noExl text-xs"></i>
                        <i ng-if="node.param == 'ORDER'" class="icon-orders-icon custom-icon text-xs"></i>
                        <i ng-if="node.param == 'STEPSNODES'" class="fa fa-step-forward noExl text-xs"></i>
                        <i ng-if="node.expanded && node.folders.length>0 && !node.object && !node.param" class="fa fa-folder-open w-15 noExl"></i>
                        <i ng-if="node.expanded && node.folders.length==0 && !node.object && !node.param" class="fa fa-folder w-15 noExl"></i>
                        <i ng-if="node.object == 'JOB'" class="icon-jobs-icon custom-icon"></i>
                        <i ng-if="node.object == 'JOBCHAIN'" class="fa fa-chain noExl"></i>
                        <i ng-if="node.object == 'ORDER'" class="icon-orders-icon custom-icon"></i>
                        <i ng-if="node.object == 'LOCK'" class="fa fa-lock noExl"></i>
                        <i ng-if="node.object == 'PROCESSCLASS'" class="icon-process-class-icon custom-icon"></i>
                        <i ng-if="node.object == 'SCHEDULE'" class="fa fa-calendar noExl"></i>
                        <i ng-if="node.object == 'MONITOR'" class="fa fa-file-text-o noExl"></i>
                        <span ng-click="treeHandler(node, this)" ng-style="{'cursor' : node.path ? 'default' : 'pointer'}" ng-class="{'text-u-l'  : (!node.isOrderJob || node.isOrderJob ==='no') && node.type === 'JOB'}" class="p-l-xs">
                            {{node.orderId || node.name || node.path || node.code}}
                            <i ng-if="node.disabled">({{'DISABLED' | translate}})</i>
                            <i ng-if="node.title"> - </i>
                            <span class="text-muted">{{node.title}}</span>
                        </span>
                        <div class="btn-group dropdown text-dark" ng-if="node.object || node.type">
                            <button class="btn-drop more-option-h" data-toggle="dropdown" dropdown type="button">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-ac dropdown-more list-dropdown" role="menu">
<!--                                <a class="dropdown-item">
                                    <div translate>button.copy</div>
                                </a>
                                <a class="dropdown-item">
                                    <div translate>xml.button.paste</div>
                                </a>-->
                                <a class="dropdown-item" ng-if="node.object" ng-click="addObject(node);">
                                    <div translate>xml.button.new</div>
                                </a>
                                <a class="dropdown-item" ng-if="!node.object" ng-click="removeObject(node, this);removeNode(this);">
                                    <div translate>button.delete</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" ng-class="{'disable-link' : node.deployed}" ng-click="deployObject(node, this);">
                                    <div translate>joe.button.deploy</div>
                                </a>
                                <div class="dropdown-divider" ng-if="!node.object"></div>
                                <a class="dropdown-item" ng-if="!node.object" ng-click="editXml(node);">
                                    <div translate>button.editXml</div>
                                </a>
                                <a class="dropdown-item" ng-if="!node.object" ng-click="showXml(node);">
                                    <div translate>button.showXml</div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <ol ui-tree-nodes ng-model="node.folders" ng-class="{'hide': !node.expanded}">
                        <li ng-repeat="node in node.folders" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                    <ol ui-tree-nodes ng-model="node.children" ng-class="{'hide': !node.expanded}">
                        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </script>
                <div ui-tree id="tree-root" data-drop-enabled="false" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="tree">
                        <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="centerPanel" class="centerPanel">
        <div class="row m-t-md">
            <div class="col-md-12">
                <div ng-if="type == 'JOB'" >
                    <div ng-controller="JobEditorCtrl" ui-include="'modules/configuration/views/job-template.html'"></div>
                </div>
                <div ng-if="type == 'JOBCHAIN'" >
                    <div ng-controller="JobChainEditorCtrl" ui-include="'modules/configuration/views/job-chain-template.html'"></div>
                </div>
                <div ng-if="type == 'ORDER' || param == 'ORDER'">
                    <div ng-controller="OrderEditorCtrl" ui-include="'modules/configuration/views/order-template.html'"></div>
                </div>
                <div ng-if="type == 'LOCK'">
                    <div ng-controller="LockEditorCtrl" ui-include="'modules/configuration/views/lock-template.html'"></div>
                </div>
                <div ng-if="type == 'PROCESSCLASS'">
                    <div ng-controller="ProcessClassEditorCtrl" ui-include="'modules/configuration/views/process-class-template.html'"></div>
                </div>
                <div ng-if="type == 'SCHEDULE'">
                    <div ng-controller="ScheduleEditorCtrl" ui-include="'modules/configuration/views/schedule-template.html'"></div>
                </div>
                <div ng-if="type == 'MONITOR' || param == 'MONITOR'">
                    <div ng-controller="ProcessingEditorCtrl" ui-include="'modules/configuration/views/pre-post-processing-template.html'"></div>
                </div>
                <div ng-if="type == 'COMMAND' || param == 'COMMAND'">
                    <div ng-controller="CommandEditorCtrl" ui-include="'modules/configuration/views/command-template.html'"></div>
                </div>
                <div ng-if="type == 'STEPSNODES' || param == 'STEPSNODES'">
                    <div ng-controller="StepNodeCtrl" ui-include="'modules/configuration/views/step-node-template.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-a" style="min-height: 500px;max-height: 600px; overflow: auto">
                <div ng-show="filterTree1 && filterTree1.length>0">
                    <a class="text" ng-click="filter_tree.expand_all();"
                       uib-tooltip="{{'tooltip.expandAll' | translate}}">
                        <i class="fa fa-angle-double-down fa-lg"></i>
                    </a>
                    <a class="text m-l-xs" ng-click="filter_tree.collapse_all();"
                       uib-tooltip="{{'tooltip.collapseAll' | translate}}">
                        <i class="fa fa-angle-double-up fa-lg"></i>
                    </a>
                    <tree
                            tree-data="filterTree1"
                            object="object"
                            tree-control="filter_tree"
                            on-select="treeExpand1(branch)"
                            expand-on="expanding_property"
                            on-click="treeExpand(branch)"
                            template-url="modules/core/template/object-tree-filter-structure.html">
                    </tree>
                </div>
                <div class="text-center m-t-lg" ng-if="!filterTree1 || filterTree1.length==0">
                    <span translate>message.noCalendarFound</span>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-grey btn-sm pull-left" ng-click="closeModal()" translate>
                    button.cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-if="isLoading" class="loading-img1"></div>
