<div class="white box-shadow sub-header" style="display: flex">
    <div class="text-center">
        <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border4 b-orange">
            <li class="nav-item">
                <a class="nav-link z-index" ui-sref-active="active" ui-sref="app.configuration.joe">
                    <span class="nav-text" translate>tab.joeEditor</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link z-index" ui-sref-active="active" ui-sref="app.configuration.xml">
                    <span class="nav-text" translate>tab.xmlEditor</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="separator"></div>
</div>
<div class="scroll-y">
    <div class="padding p-b-0 p-t-0" ng-if="schedulerIds.selected">
        <div ui-view></div>
    </div>
    <div ng-if="!schedulerIds.selected" class="text-center m-t-md text-md text-orange">
        <span>{{'message.noSchedulerInstalled' | translate}}</span>
    </div>
</div>
