<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="inline">
                        <div ng-if="currentTab !== '/joe'">

                            <span class="custom-icon badge" ng-class="isDeployed?'badge-success':'badge-danger'"
                                 ng-if="hideButton && state.message.code !== 'XMLEDITOR-105' && type !== 'OTHER'">
                                <span ng-if="isDeployed" translate>joe.label.deployed</span>
                                <span ng-if="!isDeployed" translate>joe.label.notDeployed</span>
                            </span>
                            <span class="custom-icon badge m-l-sm" ng-class="validConfig?'badge-success':'badge-danger'"
                                 ng-if="hideButton && state.message.code !== 'XMLEDITOR-105'">
                                <span ng-if="validConfig" translate>xml.label.validate</span>
                                <span ng-if="!validConfig" translate>xml.label.nonValidate</span>
                            </span>
                            <button ng-if="permission.JobschedulerMaster.administration.configurations.edit" class="btn btn-sm btn-grey m-l-sm" ng-click="newXmlFile()">
                                <i class="fa fa-file"></i>
                                {{'xml.button.new' | translate}}
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm"
                                    ng-disabled="state.message.code === 'XMLEDITOR-101'"
                                    ng-class="state.message.code === 'XMLEDITOR-101' ? 'disabled': ''"
                                    ng-if="hideButton && state.message.code !== 'XMLEDITOR-105' && permission.JobschedulerMaster.administration.configurations.delete && type!=='OTHER'" ng-click="deleteConf()">
                                <i class="fa fa-trash"></i>
                                {{'xml.button.deleteXML' | translate}}
                            </button>
                            <button ng-if="permission.JobschedulerMaster.administration.configurations.edit" class="btn btn-sm btn-grey m-l-sm " ng-click="importXML()">
                                <i class="fa fa-upload"></i>
                                {{'xml.button.importXML' | translate}}
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm" ng-if="hideButton && state.message.code !== 'XMLEDITOR-105'"
                                    ng-click="saveXml()">
                                <i class="fa fa-download"></i>
                                {{'xml.button.export' | translate}}
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm" ng-if="hideButton && state.message.code !== 'XMLEDITOR-105'"
                                    ng-click="showXml()">
                                <i class="fa fa-television"></i>
                                {{'xml.button.showXML' | translate}}
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm" ng-if="hideButton && state.message.code !== 'XMLEDITOR-105' && permission.JobschedulerMaster.administration.configurations.edit"
                                    ng-click="validateXml()">
                                <i class="fa fa-check"></i>
                                {{'xml.button.validate' | translate}}
                            </button>
                            <button class="btn btn-sm btn-grey m-l-sm"
                                    ng-disabled="state.message.code === 'XMLEDITOR-101' && isDeployed"
                                    ng-class="state.message.code === 'XMLEDITOR-101' && isDeployed ? 'disabled': ''"
                                    ng-if="hideButton && state.message.code !== 'XMLEDITOR-105' && permission.JobschedulerMaster.administration.configurations.deploy.xmlEditor && type !== 'OTHER'" ng-click="deployXML()">
                                <i class="fa fa-rocket"></i>
                                <span translate>joe.button.deploy</span>
                            </button>
                        </div>
                        <div ng-if="currentTab === '/joe'">
                            <button ng-if="configFilters.joe.deployedMessages && configFilters.joe.deployedMessages.length>0" class="btn btn-sm btn-grey" ng-disabled="isDeployBtnDisabled"
                                    ng-click="showDeployResults()">
                                <i class="fa fa-list-alt"></i>
                                <span translate>joe.button.showDeployResults</span>
                            </button>
                            <button ng-if="(permission.JobschedulerMaster.administration.configurations.deploy.job
                            || permission.JobschedulerMaster.administration.configurations.deploy.jobChain || permission.JobschedulerMaster.administration.configurations.deploy.order
                            || permission.JobschedulerMaster.administration.configurations.deploy.processClass || permission.JobschedulerMaster.administration.configurations.deploy.schedule
                            || permission.JobschedulerMaster.administration.configurations.deploy.lock || permission.JobschedulerMaster.administration.configurations.deploy.monitor)" class="btn btn-sm btn-grey m-l-sm" ng-disabled="isDeployBtnDisabled"
                                    ng-click="showDeploy()">
                                <i class="fa fa-rocket"></i>
                                <span translate>joe.button.deploy</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="padding sub-header-2" ng-show="schedulerIds.selected">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border2 b-primary">
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.configuration.joe">
                        <span class="nav-text text-dark p-b-sm" translate>tab.joeEditor</span>
                    </a>
                </li>
                <li class="nav-item dropdown-separator">
                    <span class="separator"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.configuration.yade">
                        <span class="nav-text text-dark p-b-sm" translate>tab.yade</span>
                    </a>
                </li>
                <li class="nav-item dropdown-separator">
                    <span class="separator"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.configuration.notification">
                        <span class="nav-text text-dark p-b-sm" translate>tab.notification</span>
                    </a>
                </li>
                <li class="nav-item dropdown-separator">
                    <span class="separator"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.configuration.other">
                        <span class="nav-text text-dark p-b-sm" translate>tab.others</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="scroll-y max-ht2">
    <div class="padding p-b-0 p-t-0" ng-if="schedulerIds.selected">
        <div ui-view></div>
    </div>
    <div ng-if="!schedulerIds.selected" class="text-center m-t-md text-md text-orange">
        <span>{{'message.noSchedulerInstalled' | translate}}</span>
    </div>
</div>
