<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"
                                                                                         class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title"><span translate> button.showXml</span></h4>
    </div>
    <div class="modal-body p-a m-b" style="max-height: 600px;overflow-y: auto">
        <div>
           //TODO
        </div>
    </div>
    <div class="modal-footer text-left">
        <button type="button" class="btn btn-grey btn-sm" ng-click="cancel()" translate>button.close</button>
    </div>
</div>
