<div class="row">
  <div class="col-md-12">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span class="text text-dark" ng-if="!order.name" translate>label.orders</span>
        <span class="text" ng-if="order.name"><span class="text-primary">{{order.name}}</span> - <span class="text-dark text-sm">{{order.message | translate}}</span></span>
        <div class="inline pull-right" style="margin-top: -2px">
          <div ng-if="!order">
            <button class="btn btn-sm btn-grey m-l-sm" ng-click="createOrder()">
              <i class="fa fa-plus"></i>
              <span translate>joe.button.createOrder</span>
            </button>
          </div>
          <div ng-if="order">
            <button class="btn btn-sm btn-grey m-l-sm" ng-click="openSidePanel('parameter')">
              <i class="fa fa-tasks"></i>
              <span translate>joe.button.parameter</span>
            </button>
            <button class="btn btn-sm btn-grey m-l-sm" ng-click="openSidePanel('runTime')">
              <i class="fa fa-clock-o"></i>
              <span translate>joe.button.runTime</span>
            </button>
          </div>
        </div>
      </div>
      <div ng-if="!order">
        <div class="table-responsive">
          <table class="table table-hover table-bordered " id="order">
            <thead>
            <tr>
              <th class="menu"><span translate>label.action</span></th>
              <th ng-click="sortBy1('orderId')"><a><span translate>label.orderId</span>
                <i ng-show="filter.sortBy == 'orderId' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'orderId' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('title')"><a><span translate>label.title</span>
                <i ng-show="filter.sortBy == 'title' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'title' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('jobChain')"><a><span translate>label.jobChain</span>
                <i ng-show="filter.sortBy == 'jobChain' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'jobChain' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('priority')"><a><span translate>label.priority</span>
                <i ng-show="filter.sortBy == 'priority' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'priority' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('state')"><a><span translate>label.state</span>
                <i ng-show="filter.sortBy == 'state' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'state' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('endState')"><a><span translate>label.endState</span>
                <i ng-show="filter.sortBy == 'endState' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'endState' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders | orderBy:filter.sortBy:filter.sortReverse">
              <td>
                <div class="btn-group dropdown">
                  <button type="button" class="btn-drop more-option-h" dropdown="" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu list-dropdown dropdown-ac dropdown-more" role="menu">
                    <a ng-click="removeOrder(order)" class="dropdown-item " translate="">button.remove</a>
                  </div>
                </div>
              </td>
              <td class="cursor" ng-click="createOrder(order)">
                <span ng-bind="order.name"></span>
                <span class="label bg-green m-l-sm" ng-if="order.deployed" translate>joe.label.deployed</span>
                <span class="label bg-gold m-l-sm" ng-if="!order.deployed" translate>joe.label.notDeployed</span>
              </td>
              <td class="cursor" ng-click="createOrder(order)" ng-bind="order.title"></td>
              <td class="cursor" ng-click="createOrder(order)" ng-bind="order.jobChain"></td>
              <td class="cursor" ng-click="createOrder(order)" ng-bind="order.priority"></td>
              <td class="cursor" ng-click="createOrder(order)" ng-bind="order.state"></td>
              <td class="cursor" ng-click="createOrder(order)" ng-bind="order.endState"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="order">
        <form name="form" role="form" ng-submit="onSubmit()" novalidate>
          <div class="form-group row" ng-class="{ 'has-error' : form.orderId.$invalid && form.orderId.$dirty }">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.orderId</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" required ng-maxlength="255" class="form-control" unique-name data="{{orders}}"
                     placeholder="{{'placeholder.orderId' | translate}}" autofocus
                     name="orderId" ng-model="order.name">
              <div class="text-danger help-block" ng-if="form.orderId.$dirty" ng-messages="form.orderId.$error">
                <div ng-message="required" translate>message.requiredError</div>
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row" ng-class="{ 'has-error' : form.title.$invalid && form.title.$dirty }">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.title</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" ng-maxlength="255" class="form-control" placeholder="{{'placeholder.title' | translate}}"
                     name="title" ng-model="order.title">
              <div class="text-danger help-block" ng-if="form.title.$dirty"
                   ng-messages="form.title.$error">
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.jobChain</label>
            <div class="col-md-8 col-lg-6">
              <input type="text" class="form-control"
                     name="jobChain" ng-model="order.webService">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.priority</label>
            <div class="col-md-8 col-lg-6">
              <input type="number" class="form-control" min="0"
                     name="priority" ng-model="order.priority">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.state</label>
            <div class="col-md-8 col-lg-6">
              <select class="form-control" name="state" ng-model="order.state">
                <option>Choose state</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.endState</label>
            <div class="col-md-8 col-lg-6">
              <select class="form-control" name="endState" ng-model="order.endState">
                <option>Choose end state</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="rightSideBar" ng-if="obj.title" class="slideInRight" ng-click="isSideBarClicked($event)">
    <div class="close-btn" >
      <i class="fa fa-times" ng-click="closeSidePanel()"></i>
    </div>
    <div class="col-md-12 text-left" ng-if="obj.type == 'parameter'">
      <div class="text-center m-b text">
        <ul class="nav navbar-nav navbar-nav-inline w-50 nav-active-border nav-active-border4 b-orange">
          <li class="nav-item">
            <a class="nav-link z-index" ng-class="activeTabInParameter=='tab11' ? 'active': ''" ng-click="changeActiveParameterTab('tab11')" href data-toggle="tab" data-target="#tab11">
              <span class="nav-text" translate>joe.button.parameter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link z-index" ng-class="activeTabInParameter=='tab22' ? 'active': ''" ng-click="changeActiveParameterTab('tab22')" href data-toggle="tab" data-target="#tab22">
              <span class="nav-text" translate>joe.button.includes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-a" ng-if="activeTabInParameter=='tab11'">
        <div class="form-group row m-b-0" ng-repeat="param in order.params.paramList track by $index">
          <div class="col-sm-5 m-b-sm" ng-if="$index==0" translate>label.name</div>
          <div class="col-sm-6 m-b-sm" ng-if="$index==0" translate>label.value</div>
          <div class="col-sm-5 m-b-sm">
            <input type="text" class="form-control" ng-model="param.name"
                   placeholder="{{'placeholder.name' | translate}} {{$index+1}}">
          </div>

          <div class="col-sm-6 m-b-sm">
            <input type="text" class="form-control" ng-model="param.value"
                   placeholder="{{'placeholder.value' | translate}} {{$index+1}}">
          </div>
          <div class="col-sm-1 p-l-0">
            <a><i ng-click="removeParams($index)" class="fa fa-times m-t-sm text-muted"></i></a>
          </div>
        </div>
        <div class="form-group row text-left">
          <div class="col-sm-12">
            <a href class="text-u-l" ng-if="order.params.paramList.length>0" ng-click="addParameter()"
               translate>button.addAnotherParameter</a>
            <a href class="text-u-l" ng-if="order.params.paramList.length==0" ng-click="addParameter()"
               translate>button.addParameter</a>
          </div>
        </div>
    </div>
    <div class="p-a" id="tab22" ng-if="activeTabInParameter=='tab22'">
      <div class="form-group row m-b-0" ng-repeat="variable in order.params.includes track by $index">
        <div class="col-sm-4 m-b-sm" ng-if="$index==0" translate>label.fromHotFolder</div>
        <div class="col-sm-3 m-b-sm" ng-if="$index==0" translate>label.file</div>
        <div class="col-sm-4 m-b-sm" ng-if="$index==0" translate>label.node</div>
        <div class="col-sm-3 m-b-sm">
            <select class="form-control" ng-model="variable.items.liveFile">
              <option selected value="live_file">Live File</option>
              <option value="file">File</option>
            </select>
        </div>
        <div class="col-sm-4 m-b-sm">
            <input type="text" class="form-control" ng-model="variable.file"
                   placeholder="{{'placeholder.name' | translate}} {{$index+1}}">
        </div>
        <div class="col-sm-4 m-b-sm">
            <input type="text" class="form-control" ng-model="variable.node"
                   placeholder="{{'placeholder.value' | translate}} {{$index+1}}">
        </div>
        <div class="col-sm-1 p-l-0">
            <a><i ng-click="removeIncludes($index)" class="fa fa-times m-t-sm text-muted"></i></a>
        </div>
      </div>
      <div class="form-group row text-left">
        <div class="col-sm-12">
            <a href class="text-u-l" ng-if="order.params.includes.length>0" ng-click="addIncludes()"
               translate>button.addAnotherFile</a>
            <a href class="text-u-l" ng-if="order.params.includes.length==0" ng-click="addIncludes()"
               translate>button.addFile</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-left" ng-if="obj.type == 'runTime'">
        <div class="joe-run-time" ng-controller="RuntimeEditorDialogCtrl">
          <div ui-include="'modules/core/template/set-run-time-dialog.html'"></div>
        </div>
    </div>
  </div>
</div>
