<div class="row">
  <div class="col-md-12">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span class="text text-dark" ng-if="!monitor.name" translate>joe.label.prePostProcessing</span>
        <span class="text" ng-if="monitor.name">{{monitor.name}}</span>
        <div class="inline pull-right" style="margin-top: -2px" ng-if="!monitor">
          <button class="btn btn-sm btn-grey m-l-sm" ng-click="createMonitor()" >
            <i class="fa fa-plus"></i>
            <span translate>joe.button.createProcesses</span>
          </button>
        </div>
      </div>
      <div ng-if="!monitor">
        <div class="table-responsive">
          <table class="table table-hover table-bordered ">
            <thead>
            <tr>
              <th class="menu"><span translate>label.action</span></th>
              <th ng-click="sortBy1('name')" width="50%"><a><span translate>label.name</span>
                <i ng-show="filter.sortBy == 'name' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'name' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
              <th ng-click="sortBy1('ordering')" width="50%"><a><span translate>joe.label.ordering</span>
                <i ng-show="filter.sortBy == 'ordering' && !filter.sortReverse"
                   class="fa fa-caret-up "></i>
                <i ng-show="filter.sortBy == 'ordering' && filter.sortReverse"
                   class="fa fa-caret-down "></i></a>
              </th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="monitor in monitors | orderBy:filter.sortBy:filter.sortReverse">
              <td class="menu">
                <div class="btn-group dropdown">
                  <button type="button" class="btn-drop more-option-h" dropdown="" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu list-dropdown dropdown-ac dropdown-more" role="menu">
                    <a ng-click="removeMonitor(monitor)" class="dropdown-item " translate="">label.remove</a>
                  </div>
                </div>
              </td>
              <td class="cursor" ng-click="createMonitor(monitor)" ng-bind="monitor.name"></td>
              <td class="cursor" ng-click="createMonitor(monitor)" ng-bind="monitor.ordering"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="monitor">
        <form name="form">
          <div class="form-group row" ng-class="{ 'has-error' : form.name.$invalid && form.name.$dirty}">
            <label class="col-md-2 col-lg-3 form-control-label" translate>label.name</label>
            <div class="col-md-6 col-lg-6">
              <input type="text" required ng-maxlength="255" class="form-control" placeholder="{{'joe.placeholder.monitor' | translate}}"
                     name="name" ng-model="monitor.name" autocomplete="false">
              <div class="text-danger help-block" ng-if="form.name.$dirty" ng-messages="form.name.$error">
                <div ng-message="required" translate>message.requiredError</div>
                <div ng-message="maxlength" translate>message.tooLongError</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-lg-3" translate>joe.label.ordering</label>
            <div class="col-md-6 col-lg-6">
                <input type="number" class="form-control" ng-model="monitor.ordering" name="ordering" min="0">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-lg-3 form-control-label" translate>joe.label.favourites</label>
            <div class="col-md-6 col-lg-6">
              <select class="form-control" name="favourites" ng-model="monitor.favourites">
                <option ng-repeat="fav in favourites" value="{{fav}}">{{fav}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-lg-3 form-control-label" translate>label.language</label>
            <div class="col-md-8 col-lg-6">
              <select class="form-control" name="language" ng-model="monitor.script.language">
                <option ng-repeat="lang in languages" value="{{lang}}">{{lang}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="p-a-sm m-l-xs m-r-xs p-t-0">
              <div class="b-b">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href data-toggle="tab" data-target="#tab1" translate>joe.tab.script</a>
                  </li>
                  <li class="nav-item"
                      ng-if="monitor.script.language == 'java' || monitor.script.language == 'dotnet' || monitor.script.language == 'java:javascript' || monitor.script.language == 'javax.script:rhino' || monitor.script.language == 'javax.script:ecmascript'">
                    <a class="nav-link" href data-toggle="tab" data-target="#dynamic" translate>{{monitor.script.language == 'dotnet' ? 'DotNet' : 'Java'}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href data-toggle="tab" data-target="#tab2" translate>joe.tab.includes</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content p-t-sm">
                <div class="tab-pane animated fadeIn active" id="tab1">
                  <div class="b-a p-a-sm bg-transparent">
                    <div class="form-group row">
                      <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.functionCodeSnippets</label>
                      <div class="col-md-8 col-lg-10">
                        <select class="form-control"
                                ng-disabled="monitor.script.language=='shell' || monitor.script.language=='java' || monitor.script.language=='dotnet'"
                                name="functionCodeSnippets" ng-model="monitor.functionCodeSnippets">
                          <option ng-repeat="fcv in functionalCodeValue" value="{{fcv}}">
                            {{fcv}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <textarea rows="10" class="form-control" ng-model="monitor.script.content"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane animated fadeIn" id="dynamic">
                  <div class="b-a p-a-sm bg-transparent">
                    <div ng-if="monitor.script.language !== 'dotnet'">
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.classname</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="javaClass"
                                 ng-model="monitor.script.javaClass">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.Classpath</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="javaClassPath"
                                 ng-model="monitor.script.javaClassPath">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label" translate>joe.label.javaOptions</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="javaOptions"
                                 ng-model="monitor.script.javaOptions">
                        </div>
                      </div>
                    </div>
                    <div ng-if="monitor.script.language === 'dotnet'">
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label"
                               translate>joe.label.dll</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="dll"
                                 ng-model="monitor.script.dll">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-4 col-lg-2 form-control-label"
                               translate>joe.label.class</label>
                        <div class="col-md-8 col-lg-10">
                          <input type="text" class="form-control" name="dotnetClass"
                                 ng-model="monitor.script.dotnetClass">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane animated fadeIn" id="tab2">
                  <div class="b-a p-a-sm bg-transparent">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-2">
                            <select class="form-control" ng-model="items.item.file"
                                    style="padding-top: 6px ">
                              <option value="live_file" translate>label.liveFile</option>
                              <option value="file" translate>label.file</option>
                            </select>
                          </div>
                          <div class="col-sm-9 p-l-0">
                            <input type="text" class="form-control" ng-model="items.item.liveFile">
                          </div>
                          <div class="col-sm-1">
                            <button ng-disabled="!items.item.liveFile" type="button" class="btn btn-xs btn-grey"
                                    style="margin-left: -10px; margin-top: 2px" ng-click="addFile();"><i class="fa fa-plus"></i></button>
                          </div>
                          <div class="col-md-12">
                            <hr class="m-b-sm">
                          </div>
                          <div class="col-12">
                            <table class="table table-hover table-bordered">
                              <thead>
                              <th class="menu" translate>label.action</th>
                              <th translate>joe.includes.label.name</th>
                              <th translate>joe.includes.label.filetype</th>
                              </thead>
                              <tbody>
                              <tr ng-repeat="include in monitor.script.includes">
                                 <td>
                                  <div class="btn-group dropdown">
                                    <button type="button" class="btn-drop more-option-h" dropdown="" data-toggle="dropdown">
                                      <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu list-dropdown dropdown-ac dropdown-more" role="menu">
                                      <a ng-click="removeFile(include)" class="dropdown-item " translate="">label.remove</a>
                                    </div>
                                  </div>
                                </td>
                                <td class="p-l-0">
                                  <span class="show-in-single-line">
                                    <span class="text-dark">{{include.file}}</span>
                                  </span>
                                </td>
                                <td class="p-l-0">
                                  <span class="show-in-single-line">
                                    <span class="text-dark">{{include.liveFile}}</span>
                                  </span>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
