<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
  <h4 class="modal-title">
    <span translate>xml.label.xsdElement</span>:
    {{_node.ref}}
  </h4>
</div>
<div class="modal-body p-a">
  <div class="row">
    <div class="col-md-12 m-b">
      <div class="w-full">
        <button class="btn btn-sm btn-grey" ng-click="expandAll1()" uib-tooltip="{{'tooltip.expandAll' | translate}}">
          <i class="fa fa-expand"></i>
        </button>
        <button class="btn btn-sm btn-grey m-l-sm" ng-click="collapseAll1()" uib-tooltip="{{'tooltip.collapseAll' | translate}}">
          <i class="fa fa-compress"></i>
        </button>
        <input name="search" ng-model="q" placeholder="Search" ng-change="search(q)" type="search" class="m-l-md" style="width:240px; top:-2px">
        <span class="green text-sm m-l-sm" ng-if="counter>0">
          {{counter}}
          <span class="text-lowercase" translate>xml.label.matchFound</span> </span>
      </div>
    </div>
    <div class="col-md-4 b-r" style="max-height: 620px; overflow: auto">
      <div class="row">
        <div class="col-md-12" >
          <script id="nodes_renderer1.html" type="text/ng-template">
            <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'text-primary' : _node.selected === node.ref}">
              <a class="text-dark" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="node.expanded = !node.expanded;">
                <i class="fa fa-lg w-6" ng-class="{'fa-angle-right': !node.expanded, 'fa-angle-down': node.expanded}"></i>
              </a>
              <i ng-if="node.nodes && node.nodes.length === 0" data-nodrag style="margin-right: 10px"></i>
              <span ng-click="getDataToShow(node);$event.stopPropagation()" ng-class="{'_600': node.isSearch}" data-nodrag class="p-l-sm" ng-bind="node.ref"></span>
            </div>
            <ol ui-tree-nodes="" ng-model="node.nodes" ng-if="node.expanded">
              <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
            </ol>
          </script>
          <div id="tree-root" ui-tree="treeOptions">
            <ol ng-model="_nodes" ui-tree-nodes>
              <li ng-include="'nodes_renderer1.html'" ng-repeat="node in _nodes" ui-tree-node></li>
            </ol>
          </div>
          <div ng-if="isLoadingChild" class="loading-img3"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 b-l" style="max-height: 620px; overflow: auto">
      <div class="row">
        <div class="col-md-12">
          <div class="documents" ng-if="_selectedNode && _selectedNode.doc">
              <span id="doc">
                <div ng-bind-html="_selectedNode.doc | safeHtml"></div>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-left">
  <button type="button" class="btn btn-grey btn-sm" ng-click="cancel()"
          translate>button.close
  </button>
</div>
