<span class="text-md text-muted _600 ">
  <ol class="breadcrumb p-t-xs">
    <li>
      <a (click)="backClicked()"><i class="fa fa-arrow-circle-left text-18" title="back"></i></a>
    </li>
    @for (item of breadcrumbs; track item.url || item.label; let last = $last) {
      <li>
        <ng-container>
          @if (!last) {
            <span>
              <a [routerLink]="item.url">
                {{ item.label | translate }}
                @if (identityServiceName && item.label === 'breadcrumb.label.manageIdentityServices') {
                  <span class="p-l-xs">
                    ({{identityServiceName}})
                  </span>
                }
              </a>
            </span>
          }
          @if (last) {
            <span class="active">
              {{ item.label | translate }}
            </span>
          }
        </ng-container>
      </li>
    }
  </ol>
</span>
