<div class="modal-header">
  <h4 class="modal-title">
    <span *ngIf="variable" translate>dailyPlan.label.setParameter</span>
    <span *ngIf="!variable" translate>dailyPlan.label.setParameters</span>
    <i *ngIf="order" class="text-muted p-l-xs text">{{order.orderId}}</i>
    <i *ngIf="plan" class="text-muted p-l-xs text">{{plan.key}}</i>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body p-a">
      <div class="row">
        <div class="col-sm-12 text m-b" *ngIf="variableList.length > 0">
          <div class="form-group row m-b-0" *ngFor="let item of variables; let i = index">
            <div class="col-md-5 col-sm-5 m-b-sm text-left" *ngIf="i==0" translate>common.label.name</div>
            <div class="col-md-6 col-sm-6 m-b-sm text-left" *ngIf="i==0" translate>common.label.value</div>
            <div class="col-md-5 col-sm-6 m-b-sm">
              <nz-select nzShowSearch name="name{{i}}" [nzDisabled]="variable" [(ngModel)]="item.name" (ngModelChange)="checkVariableType(item)">
                <nz-option *ngFor="let list of variableList" [nzDisabled]="list.isSelected" [nzLabel]="list.name" [nzValue]="list.name"></nz-option>
              </nz-select>
            </div>
            <ng-container [ngSwitch]="item.type">
              <ng-container *ngSwitchCase="'Number'">
                <div class="col-md-6 col-lg-6 m-b-sm" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <nz-input-number [required]="item.isRequired" #value="ngModel" nzPlaceHolder="{{'common.placeholder.enterNumber' | translate}}" [nzMin]="0" [nzStep]="1" name="value{{i}}"
                                   [(ngModel)]="item.value"></nz-input-number>
                  <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                       class="text-danger help-block">
                    <div *ngIf="value.errors.required">
                      <div translate>common.message.requiredError</div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'Boolean'">
                <div class="col-md-6 col-lg-6 m-b-sm" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <nz-select #value="ngModel" [required]="item.isRequired" name="value{{i}}" [(ngModel)]="item.value">
                    <nz-option [nzValue]="" [nzLabel]="'common.placeholder.selectValue' | translate"></nz-option>
                    <nz-option [nzLabel]="'true'" [nzValue]="true"></nz-option>
                    <nz-option [nzLabel]="'false'" [nzValue]="false"></nz-option>
                  </nz-select>
                  <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                       class="text-danger help-block">
                    <div *ngIf="value.errors.required">
                      <div translate>common.message.requiredError</div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <div class="col-md-6 col-lg-6 m-b-sm" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <input #value="ngModel" [required]="item.isRequired" autocomplete="off" type="text" class="form-control"
                         name="value{{i}}" (keypress)="onKeyPress($event)"
                         [(ngModel)]="item.value" placeholder="{{'common.placeholder.value' | translate}}">
                  <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                       class="text-danger help-block">
                    <div *ngIf="value.errors.required">
                      <div translate>common.message.requiredError</div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <a *ngIf="!variable && !item.isRequired" class="p-l-0"><i (click)="removeVariable(item)" class="fa fa-times m-t-sm text-hover-color"></i></a>
          </div>
          <div class="form-group row m-b-0 m-t-sm" *ngIf="!variable">
            <div class="col-sm-12 col-md-12"  *ngIf="variableList.length > variables.length">
              <a class="text-u-l" *ngIf="variables.length>0" (click)="addVariable()"
                 translate>order.button.addAnotherVariable</a>
              <a class="text-u-l" *ngIf="variables.length==0" (click)="addVariable()"
                 translate>order.button.addVariable</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 text" *ngIf="variableList.length === 0" >
          <div class="text-center m-t m-b" translate>common.message.noVariableDeclarationFound</div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!myForm.form.valid || submitted" *ngIf="variableList.length > 0" class="btn btn-primary btn-sm">
      <i *ngIf="submitted" class="fa fa-spin fa-spinner p-r-xs"></i>
      {{'common.button.submit' | translate}}
    </button>
    <button type="button" class="btn btn-grey btn-sm" (click)="activeModal.dismiss('Cross click')">
      <span *ngIf="variableList.length > 0" translate>common.button.cancel</span>
      <span *ngIf="variableList.length === 0" translate>common.button.close</span>
    </button>
  </div>
</form>
