<div class="modal-header">
  <h4 class="modal-title">
    <span translate>dailyPlan.label.setStartTime</span>
    <span *ngIf="(order || plan) && !orders">:</span>
    <i *ngIf="order" class="text-muted p-l-xs text">{{order.orderId}}</i>
    <i *ngIf="plan" class="text-muted p-l-xs text">{{plan.key}}</i>
  </h4>
  <button (click)="cancel()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body p-a">
    <div [ngClass]="{'show': display}" class="hide">
      <app-audit-log-input [comments]="comments" [sizeX]="3" [sizeY]="6"></app-audit-log-input>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="(plan && !errorMsg) || orders" class="form-group row">
          <div class="col-md-12 font14">
            <span *ngIf="n2 === 0" [translateParams]="{n1}" translate>dailyPlan.popup.modifyOrdersCount</span>
            <span *ngIf="n2>0" [translateParams]="{n1, n2}" translate>dailyPlan.popup.modifyCyclicOrdersCount</span>
          </div>
        </div>
        <div *ngIf="order && order.orderId" class="form-group row">
          <label class="col-md-3" translate>dailyPlan.label.plannedStart</label>
          <div class="col-md-9">
            <span *ngIf="order.plannedStartTime">{{order.plannedStartTime}}</span>
            <span *ngIf="!order.plannedStartTime && !order.scheduledNever">{{order.scheduledFor | stringToDate}}</span>
          </div>
        </div>
        <div *ngIf="plan && !errorMsg" class="form-group row">
          <label class="col-md-3" translate>dailyPlan.label.plannedStart</label>
          <div class="col-md-9">
            <span
              *ngIf="plan.value.length ==1 && plan.value[0].plannedStartTime">{{plan.value[0].plannedStartTime}}</span>
            <span *ngIf="plan.value.length > 1" [translateParams]="{n1}" translate>dailyPlan.popup.differentModifyStartTime</span>
          </div>
        </div>
        <ng-container *ngIf="order && !order.cyclicOrder">
          <div class="form-group row">
            <label class="col-md-3 " translate>order.label.ignoreAdmissionTimes</label>
            <div class="col-md-8">
              <label [(ngModel)]="dateType.forceJobAdmission" name="ignoreAdmissionTimes" nz-checkbox>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3" translate>common.label.startTime</label>
            <div class="col-md-9">
              <nz-radio-group [(ngModel)]="dateType.at" name="at">
                <label nz-radio nzValue="now"><span translate>common.label.now</span></label>
                <label nz-radio nzValue="date"><span translate>common.label.specificDate</span></label>
                <label nz-radio nzValue="later"><span translate>common.label.relativeDate</span></label>
                <label *ngIf="!isDailyPlan" nz-radio nzValue="never"><span translate>common.label.never</span></label>
              </nz-radio-group>
            </div>
          </div>
          <div *ngIf="dateType.at == 'later'" class="form-group row">
            <label class="col-md-3 form-control-label" translate>common.label.time
              <sup class="text-danger text-sm">*</sup>
            </label>
            <div class="col-sm-6" [ngClass]="{ 'has-error' : (time.dirty || time.touched) && time.invalid}">
              <input validTimeReqex type="text" #time="ngModel" class="form-control" required
                     name="atTime" [(ngModel)]="order.atTime" placeholder="{{'common.placeholder.enterSecond' | translate}}">
              <div *ngIf="time.errors && (time.dirty || time.touched)" class="help-block text-danger">
                <div *ngIf="!time.valid" translate>common.message.invalid</div>
              </div>
            </div>
          </div>
          <div *ngIf="dateType.at == 'date'" class="form-group row">
            <label class="col-md-3 form-control-label" translate>workflow.label.enterDateAndTime
              <sup class="text-danger text-sm">*</sup>
            </label>
            <div class="col-sm-6">
              <app-date-input [object]="order" [ignoreThirdParam]="true" [attributeDate]="'fromDate'" [attributeTime]="'fromTime'" [isRequired]="true"
                              [isTime]="true" [isAllowClear]="true" [name]="'from'" [dateFormat]="dateFormat" [isPreviousDateDisabled]="true"
                              [placeholder]="( dateFormat | uppercase )"
              ></app-date-input>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="order && order.cyclicOrder">
          <div class="form-group row">
            <label class="col-md-3 " translate>order.label.ignoreAdmissionTimes</label>
            <div class="col-md-8">
              <label [(ngModel)]="order.forceJobAdmission" name="ignoreAdmissionTimes" nz-checkbox>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" translate>runtime.label.repeatTime
              <sup class="text-danger text-sm">*</sup>
            </label>
            <div class="col-md-2" [ngClass]="{ 'has-error' : (((repeat.dirty || repeat.touched) && repeat.invalid))}">
              <input timevalidator validTimeReqex required maxlength="8" class="form-control" name="repeat" #repeat="ngModel"
                     [(ngModel)]="period.repeat"
                     placeholder="HH:MM:SS" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" translate>runtime.label.begin
              <sup class="text-danger text-sm">*</sup>
            </label>
            <div class="col-md-2" [ngClass]="{'has-error': (begin.dirty || begin.touched) && begin.invalid}">
              <input timevalidator validTimeReqex required maxlength="8" class="form-control" name="begin" #begin="ngModel"
                     [(ngModel)]="period.begin"
                     placeholder="HH:MM:SS" type="text">
            </div>
            <label class="col-md-2 form-control-label text-right" translate>runtime.label.end
              <sup class="text-danger text-sm">*</sup>
            </label>
            <div class="col-md-2" [ngClass]="{'has-error': (end.dirty || end.touched) && end.invalid}">
              <input timevalidator validTimeReqex required maxlength="8" class="form-control" name="end" #end="ngModel"
                     [(ngModel)]="period.end"
                     placeholder="HH:MM:SS" type="text">
            </div>
          </div>
        </ng-container>
        <div class="form-group row" *ngIf="errorMsg">
          <div class="col-md-12 text-center p-a" translate [translateParams]="{n1, n2}">
            dailyPlan.popup.cannotModifyStartTime
          </div>
        </div>
        <div class="form-group row" *ngIf="!errorMsg" [hidden]="!(dateType.at =='date')">
          <div class="col-md-3 form-control-label" translate>common.label.timeZone</div>
          <div class="col-sm-6">
            <app-select-input isSearchable='true' isAllowClear="true" [attributeName]="'timeZone'" [name]="'timeZone'"
                              [listArray]="zones" [object]="dateType"></app-select-input>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="order" [disabled]="!myForm.form.valid || submitted" class="btn btn-primary btn-sm"
            type="submit">
      <i *ngIf="submitted" class="fa fa-spin fa-spinner p-r-xs"></i>
      {{'common.button.submit' | translate}}
    </button>
    <button (click)="cancel()" class="btn btn-grey btn-sm" translate type="button">
      common.button.cancel
    </button>
  </div>
</form>
