<div class="app-header white box-shadow bg-blue-color {{preferences.headerColor}}"
     [ngClass]="{'backup': (isBackUp === 'YES')}">
  <div class="navbar box-shadow-z0 p-l-0 p-r-20">
    <a (click)="toggle()" class="navbar-item pull-right hide-menubar m-a-0 m-l">
      <i class="fa fa-navicon text-white"></i>
    </a>
    <!-- brand -->
    <a class="navbar-brand white">
      <img class="cursor logo-for-light" (click)="about()" src="./assets/images/JS7-logo-with-type-light-theme.png"
           alt="JS7">
      <img class="cursor logo-for-default" (click)="about()" src="./assets/images/JS7-logo-with-type-default-theme.png"
           alt="JS7">
      <img class="cursor logo-for-dark" (click)="about()" src="./assets/images/JS7-log-with-type-dark-theme.png"
           alt="JS7">
      <img class="cursor logo-for-grey" (click)="about()" src="./assets/images/JS7-log-with-type-dark-theme.png"
           alt="JS7">
    </a>
    <!-- / brand -->
    <!-- navbar right -->
    <ul class="nav navbar-nav pull-right ">
      <ng-template #jocMonitorEvent>
        <div class="notification">
          <div *ngFor="let log of jocMonitor">
            <span>{{log.timestamp}}
              <span class="inline w-64">[{{log.level}}]</span>
              {{log.request || log.subCategory}} {{log.message}}
             </span>
          </div>
          <div *ngIf="jocMonitor.length === 0">
            <app-empty-data></app-empty-data>
          </div>
        </div>
      </ng-template>
      <ng-template #systemMonitorEvent>
        <div class="notification">
          <div *ngFor="let log of systemMonitor">
            <span>{{log.timestamp}}
              <span class="inline w-64">[{{log.level}}]</span>
              {{log.subCategory}} {{log.message}}
            </span>
          </div>
          <div *ngIf="systemMonitor.length === 0">
            <app-empty-data></app-empty-data>
          </div>
        </div>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link text-white pointer" style="top: 3px">
          <span class="p-l-xs cursor" nz-popover
                nzPopoverTitle="{{'info.label.jocMonitorEvent' | translate}}" nzPopoverTrigger="click" [nzPopoverContent]="jocMonitorEvent"
                nzPopoverPlacement="bottomRight">
            <i class="fa fa-flag text-18" style="line-height: 0"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white pointer" style="top: 3px" >
          <span class="p-l-xs cursor" nz-popover
                nzPopoverTitle="{{'info.label.systemMonitorEvent' | translate}}" nzPopoverTrigger="click" [nzPopoverContent]="systemMonitorEvent"
                nzPopoverPlacement="bottomRight">
            <i class="fa fa-flag-o text-18"  style="line-height: 0"></i>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <app-info-menu [isHeader]="true"></app-info-menu>
      </li>
      <li class="nav-item dropdown"
            *ngIf="permission.joc && (permission.joc.administration.accounts.view || permission.joc.administration.controllers.view || permission.joc.administration.settings.view)">
        <a class="nav-link text-white pointer" style="top: 6px">
          <span class="p-l-xs cursor" nzTrigger="click" nz-dropdown [nzDropdownMenu]="submenu">
            <i class="icon3-administration-icon text-20" style="line-height: 0"></i>
          </span>
          <nz-dropdown-menu #submenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item routerLink="/controllers" [routerLinkActive]="['active']"
                  *ngIf="permission && permission.joc && permission.joc.administration.controllers.view">
                <a>
                  <i class="fa fa-id-card-o"></i>
                  {{'header.button.manageControllersAndAgents' | translate}}
                </a>
              </li>
              <li nz-menu-item routerLink="/users/identity_service" [routerLinkActive]="['active']"
                  *ngIf="permission && permission.joc && permission.joc.administration.accounts.view">
                <a>
                  <i class="fa fa-users"></i>
                  {{'header.button.manageAccount' | translate}}
                </a>
              </li>
              <li nz-menu-item routerLink="/settings" [routerLinkActive]="['active']"
                  *ngIf="permission && permission.joc && permission.joc.administration.settings.view">
                <a>
                  <i class="fa fa-cog"></i>
                  {{'header.button.settings' | translate}}
                </a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white pointer">
          <span class="cursor avatar" nz-dropdown nzTrigger="click" [nzDropdownMenu]="user" [innerHtml]="username | slice:0:1"></span>
          <span class="cursor text-left p-l-sm" nz-dropdown nzTrigger="click" [nzDropdownMenu]="user">
            <span class="_500 text-md">{{username | decodeSpace}}</span>
            <i class="fa fa-caret-down p-l-xs"></i>
          </span>
          <nz-dropdown-menu #user="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item routerLink="/user">
              <a>
                <i class="fa fa-user"></i>
                {{'header.button.profile' | translate}}
              </a>
            </li>
            <li nz-menu-item  routerLink="/logging">
              <a>
                <i class="fa fa-file"></i>
                {{'header.button.logging' | translate}}
              </a>
            </li>
            <li nz-menu-item (click)="logout()">
              <a>
                <i class="fa fa-sign-out"></i>
                {{'header.button.logOut' | translate}}
              </a>
            </li>
          </ul>
        </nz-dropdown-menu>
        </a>
      </li>
    </ul>
    <!-- navbar collapse -->
    <div class="navbar-toggleable-custom collapse" id="navbarId">
      <!-- link -->
      <ul class="nav navbar-nav navbar-nav-inline text-center pull-left nav-active-border b-orange">
        <li class="nav-item" *ngIf="(showViews && showViews.dashboard != undefined) ? showViews.dashboard : true">
          <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon2-dashboard text-white"></i>
              <span class="ico text-white _600" translate>header.label.dashboard</span>
            </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="(showViews && showViews.monitor != undefined) ? showViews.monitor : (permission.currentController && (permission.currentController.view ||
        permission.currentController.agents.view || permission.currentController.orders.view))">
          <a class="nav-link" routerLink="/monitor" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon-dashboard-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.monitor</span>
            </span>
          </a>
        </li>
        <li class="nav-item"
            *ngIf="((showViews && showViews.dailyPlan != undefined) ? showViews.dailyPlan : (permission.joc && permission.joc.dailyPlan.view && permission.currentController.orders.view))">
          <a class="nav-link" routerLink="/daily_plan" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon-daily-plan-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.dailyPlan</span>
            </span>
          </a>
        </li>
        <li class="nav-item"
            *ngIf="((showViews && showViews.workflows != undefined) ? showViews.workflows : (permission.currentController && permission.currentController.workflows.view))">
          <a class="nav-link" routerLink="/workflows" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon-workflows-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.workflows</span>
            </span>
          </a>
        </li>
        <li class="nav-item"
            *ngIf="((showViews && showViews.fileTransfers != undefined) ? showViews.fileTransfers : (permission.joc && permission.joc.fileTransfer.view))">
          <a class="nav-link" routerLink="/file_transfer" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon-file-transfers-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.fileTransfers</span>
            </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="((showViews && showViews.resources != undefined) ? showViews.resources :
        (permission.currentController && (permission.currentController.agents.view || permission.currentController.locks.view || permission.currentController.noticeBoards.view ||
                    permission.joc.documentations.view  || permission.joc.calendars.view)))">
          <a class="nav-link" routerLink="/resources" [routerLinkActive]="['active']" (click)="navigateToResource()">
            <span class="nav-text">
              <i class="icon-resources-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.resources</span>
            </span>
          </a>
        </li>
        <li class="nav-item"
            *ngIf="((showViews && showViews.history != undefined) ? showViews.history : (permission.currentController && (permission.currentController.orders.view || permission.joc.fileTransfer.view || permission.currentController.deployments.view || permission.joc.dailyPlan.view)))">
          <a class="nav-link" routerLink="/history" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon-alarm-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.history</span>
            </span>
          </a>
        </li>
        <li class="nav-item"
            *ngIf="((showViews && showViews.auditLog != undefined) ? showViews.auditLog : (permission.joc && permission.joc.auditLog.view))">
          <a class="nav-link" routerLink="/audit_log" [routerLinkActive]="['active']">
            <span class="nav-text">
              <i class="icon-audit-log-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.auditLog</span>
            </span>
          </a>
        </li>
        <li class="nav-item"
            *ngIf="((showViews && showViews.configuration != undefined) ? showViews.configuration : (permission.joc && (permission.joc.inventory.view || permission.joc.fileTransfer.view || permission.joc.notification.view || permission.joc.others.view)))">
          <a class="nav-link" routerLink="/configuration" [routerLinkActive]="['active']"
             (click)="navigateToConfiguration()">
            <span class="nav-text">
              <i class="icon-configuration-icon text-white"></i>
              <span class="ico text-white _600" translate>header.label.configuration</span>
            </span>
          </a>
        </li>
      </ul>
      <!-- end link -->
    </div>
    <!-- / navbar collapse -->
  </div>
</div>
