<div class="app-header white box-shadow bg-blue-color" [ngClass]="{'backup': (selectedJobScheduler && selectedJobScheduler.role === 'BACKUP')}" id="headerColor">
    <div class="navbar box-shadow-z0 p-l-0 p-r-20">
        <a data-toggle="collapse" data-target="#navbar1" class="navbar-item pull-right hide-menubar m-a-0 m-l">
            <i class="fa fa-navicon text-white"></i>
        </a>
        <!-- brand -->
        <a class="navbar-brand white fa-fa-color b-b-transparent p-l-3" style="width: 208px;">
            <img class="cursor" (click)="coreService.about()" src="./assets/images/jobscheduler-logo.png" alt="JobScheduler">
        </a>
        <!-- / brand -->

        <!-- nabar right -->
        <ul class="nav navbar-nav pull-right ">
            <li class="nav-item dropdown">
                <a class="nav-link text-white" nz-dropdown nzTrigger="click" [nzDropdownMenu]="help" nzPlacement="bottomRight">
                  <span class="text-left p-l-xs">
                    <i class="fa fa-question-circle" style="font-size: 20px;position: relative; top: 3px;"></i>
                  </span>
                </a>
                <nz-dropdown-menu #help="nzDropdownMenu">
                    <ul nz-menu >
                        <li nz-menu-item><a (click)="coreService.about()">{{'info.button.aboutJobScheduler' | translate}}</a></li>
                        <li nz-submenu nzTitle="{{'info.button.featuresAndDownload' | translate}} " >
                            <ul>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/jobscheduler" >{{'info.button.jobSchedulerHome' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/jobscheduler-downloads" >{{'info.button.jobSchedulerDownload' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu nzTitle="{{'info.button.announcements' | translate}}" >
                            <ul>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://twitter.com/job_scheduler" >{{'info.button.followOnTwitter' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/news" >{{'info.button.jobSchedulerNews' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/s4BB" >{{'info.button.jobSchedulerReleaseNotes' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://change.sos-berlin.com/" >{{'info.button.changeManagementSystem' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu nzTitle="{{'info.button.documentation' | translate}}" >
                            <ul>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/doc/en/scheduler.doc/index.xml" >{{'info.button.jobSchedulerReferenceDocumentation' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/fgKX" >{{'info.button.jobSchedulerTutorials' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/lo74" >{{'info.button.jocCockpitDocumentation' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://www.youtube.com/channel/UCBL98BrVLzJxk8t8TXRFjhA" >{{'info.button.videosOnYouTube' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu nzTitle="{{'info.button.discussion' | translate}}" >
                            <ul>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/LYBB" >{{'info.button.jobSchedulerFAQ' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://sourceforge.net/p/jobscheduler/discussion/" >{{'info.button.jobSchedulerForum' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu nzTitle="{{'info.button.supportRequests' | translate}}" >
                            <ul>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://sourceforge.net/p/jobscheduler/_list/tickets" >{{'info.button.openSourceUserTicketSystem' | translate}}</a>
                                </li>
                                <li nz-menu-item >
                                    <a tabindex="-1" target="_blank" href="https://support.sos-berlin.com/otrs/customer.pl?Lang=en" >{{'info.button.customerTicketSystem' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li nz-menu-item ><a href="mailto:sales@sos-berlin.com" target="_top">{{'info.button.feedback' | translate}}</a></li>
                    </ul>
                </nz-dropdown-menu>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-white" id ="shownotification" nz-dropdown nzTrigger="click" [nzDropdownMenu]="bell"nzPlacement="bottomRight" (click)="updateAllEvent(allSessionEvent)">
                    <span class="text-left p-l-xs p-r-xs">
                       <span class="label label-sm up notification" *ngIf="allSessionEvent.eventUnReadCount>0">
                           {{allSessionEvent.eventUnReadCount}}
                       </span>
                      <i id ="notifyBell" class="fa fa-lg fa-bell notify"></i>
                  </span>
                </a>
                <nz-dropdown-menu #bell="nzDropdownMenu" id="notification">
                    <ul nz-menu>
                      <li>
                        <div class="scrollable" style="max-height: 300px;width: 680px ;margin-left: 0;padding-top:10px">
                            <div>
                                <div class="col-sm-6" *ngIf="!showEvent">
                                    <h5 style="padding-top: 7px; margin-bottom: 0"><span translate>label.notifications </span></h5>
                                </div>
                                <div class="col-sm-6 cursor" (click)="collapseNotification()" *ngIf="showEvent">
                                    <h5 style="padding-top: 7px; margin-bottom: 0"><i class=" fa fa-angle-left "></i>&nbsp;
                                        <span translate>label.backToNotifications </span></h5>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="btn-group m-l-sm pull-right" *ngIf="!showEvent">
                                        <button class="btn btn-grey btn-sm btn-primary active"  (click)="makeAllGroupEventRead(allSessionEvent)"
                                                  translate>button.markAllAsRead
                                        </button>
                                    </div>
                                    <div class="btn-group m-l-sm pull-right" *ngIf="showEvent">
                                        <button class="btn btn-grey btn-sm btn-primary active"  (click)="makeAllEventRead(allSessionEvent,showGroupEvent)" translate>button.markAllAsRead</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div style="max-height: 300px; overflow: auto">
                            <table class="table-hover" style="margin-left: 16px; margin-bottom: 12px; width: 94%">
                                <tbody>
                                <tr *ngFor="let group of allSessionEvent.group">
                                    <td (click)="expandNotification(group)" class="cursor" [hidden]="showEvent">
                                        <span>
                                            <span class="_600" *ngIf="group.readCount>9">{{group.readCount}}&nbsp;</span>
                                            <span class="_600" *ngIf="group.readCount<9">0{{group.readCount}}&nbsp;</span>
                                            <span translate>label.newEventsOn</span>
                                            <span class="text-black-dk">&nbsp;{{group.jobschedulerId}}</span>
                                            <span>&nbsp;{{group.objectType | translate}}:</span>
                                            <span class="text-primary">&nbsp;{{group.path}}</span>
                                            <span class="text-muted">&nbsp;{{group.eventId/1000 | stringToDate}}</span>
                                        </span>&nbsp;
                                        <i class="cursor fa fa-angle-right"></i>
                                    </td>
                                </tr>
                                <tr class="_600" *ngIf="showEvent">
                                    <td style="font-size: 14px;padding-bottom: 6px">
                                        <span>{{showGroupEvent.objectType | translate}}</span>
                                        &nbsp;{{showGroupEvent.path}}
                                        <span class="_600">&nbsp;{{showGroupEvent.readCount}}</span>
                                    </td>
                                </tr>
                                <tr *ngFor="let value of showGroupEvent.events" style="margin-top: 10px">
                                    <td>
                                        <span class="cursor p-l p-r _600" *ngIf="value.read==false" (click)="readEvent(showGroupEvent,value,allSessionEvent)">
                                            <span>{{value.objectType | translate}} : &nbsp;</span>
                                            <span class="text-primary">{{value.path}}</span>
                                            &nbsp;{{value.eventType | translate}}
                                            <span class="text-muted">&nbsp;{{(value.eventId/1000) | stringToDate}}</span>
                                        </span>
                                        <span class="p-l p-r" *ngIf="value.read==true">
                                            <span>{{value.objectType | translate}} :&nbsp;</span>
                                            <span class="text-primary">{{value.path}}</span>
                                            &nbsp;{{value.eventType | translate}}
                                            <span class="text-muted">&nbsp;{{(value.eventId/1000) | stringToDate}}</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="p-r-sm">
                                            <i class="cursor fa fa-file-o" (click)="viewObject(showGroupEvent,value,allSessionEvent)" title="{{'tooltip.viewObject' | translate}}"></i>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center text m-t m-b h6 text-uppercase" *ngIf="!allSessionEvent.group || allSessionEvent.group.length==0" translate>
                            message.noNotificationFound
                        </div>
                      </li>
                    </ul>
                </nz-dropdown-menu>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-white" nz-dropdown nzTrigger="click" [nzDropdownMenu]="user" nzPlacement="bottomRight">
                 <span class="avatar" id="avatarBg" [innerHtml]="username | slice:0:1"></span>
                  <span class="text-left p-l-sm">
                        <span class="_500 text-md" >{{username | decodeSpace}}</span>
                        <i class="fa fa-caret-down p-l-xs"></i>
                  </span>
                </a>
                <nz-dropdown-menu #user="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item >
                            <a href="#/user">
                                <i class="fa fa-user"></i>
                                {{'button.profile' | translate}}
                            </a>
                        </li>
                        <li nz-menu-item  *ngIf="permission && permission.JobschedulerMaster && permission.JobschedulerMaster.administration.editPermissions">
                            <a href="#/users/account">
                                <i class="fa fa-users"></i>
                                {{'button.manageUser' | translate}}
                            </a>
                        </li>
                        <li nz-menu-item >
                            <a href="#/masters">
                                <i class="fa fa-tasks"></i>
                                {{'label.manageMasters' | translate}}
                            </a>
                        </li>
                        <li nz-menu-item >
                            <a (click)="logout()">
                                <i class="fa fa-sign-out"></i>
                                {{'button.logOut' | translate}}
                            </a>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </li>
        </ul>

        <!-- navbar collapse -->
        <div class="collapse navbar-toggleable-custom" id="navbar1">
            <!-- link -->
            <ul class="nav navbar-nav navbar-nav-inline text-center pull-left nav-active-border b-orange">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['active']">
                        <span class="nav-text">
                             <i class="icon-dashboard-icon text-white" ></i>
                            <span  class="ico text-white text-u-c _600" translate>header.label.dashboard</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.DailyPlan && permission.DailyPlan.view.status">
                    <a class="nav-link" routerLink="/daily_plan" [routerLinkActive]="['active']">
                        <span class="nav-text">
                            <i class="icon-daily-plan-icon text-white"></i>
                            <span  class="ico text-white text-u-c _600" translate>header.label.dailyPlan</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.JobschedulerMaster">
                    <a class="nav-link" routerLink="/workflow" [routerLinkActive]="['active']">
                        <span class="nav-text">
                          <i class="icon-workflows-icon text-white"></i>
                          <span class="ico text-white text-u-c _600" translate>header.label.workflows</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.Job && permission.Job.view.status">
                    <a class="nav-link" routerLink="/job" [routerLinkActive]="['active']">
                        <span class="nav-text">
                            <i class="icon-jobs-icon text-white"></i>
                            <span class="ico text-white text-u-c _600" translate>header.label.jobs</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.YADE && permission.YADE.view.status">
                    <a class="nav-link" routerLink="/file_transfer" [routerLinkActive]="['active']">
                        <span class="nav-text">
                            <i class="icon-file-transfers-icon text-white"></i>
                            <span class="ico text-white text-u-c _600" translate>header.label.fileTransfers</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.JobschedulerUniversalAgent && (permission.JobschedulerUniversalAgent.view.status || permission.ProcessClass.view.status ||
                    permission.Lock.view.status  || permission.Calendar.view.status || permission.Documentation.view)">
                    <a class="nav-link" routerLink="/resources" [routerLinkActive]="['active']" (click)="navigateToResource()">
                        <span class="nav-text">
                            <i class="icon-resources-icon text-white"></i>
                            <span class="ico text-white text-u-c _600" translate>header.label.resources</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.History && (permission.History.view.status || permission.YADE.view.status)">
                    <a class="nav-link" routerLink="/history" [routerLinkActive]="['active']">
                        <span class="nav-text">
                            <i class="icon-alarm-icon text-white"></i>
                            <span class="ico text-white text-u-c _600" translate>header.label.history</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.AuditLog && permission.AuditLog.view.status">
                    <a class="nav-link" routerLink="/audit_log" [routerLinkActive]="['active']">
                        <span class="nav-text">
                            <i class="icon-audit-log-icon text-white"></i>
                            <span class="ico text-white text-u-c _600" translate>header.label.auditLog</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="permission.JobschedulerMaster">
                    <a class="nav-link" routerLink="/configuration" [routerLinkActive]="['active']" (click)="navigateToConfiguration()">
                        <span class="nav-text" >
                            <i class="icon-configuration-icon text-white"></i>
                            <span class="ico text-white text-u-c _600" translate>header.label.configuration</span>
                        </span>
                    </a>
                </li>
            </ul>
            <!-- end link -->
        </div>
        <!-- / navbar collapse -->
    </div>
</div>
