.graph-container {
  overflow: auto;
  margin-top: 8px;

  &:hover {
    #toolbar-icons {
      opacity: 1;
      -webkit-animation: fadeInDown ease-in 1;
      -moz-animation: fadeInDown ease-in 1;
      animation: fadeInDown ease-in 1;
      -webkit-animation-duration: 0.2s;
      -moz-animation-duration: 0.2s;
      animation-duration: 0.2s;
    }
  }
}

#graph {
  position: relative;
  overflow-x: auto !important;
  cursor: default;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06);
  height: calc(100vh - 168px);
}

#outlineContainer {
  z-index: 9;
  position: absolute;
  overflow: hidden;
  top: 56px;
  right: 10px;
  width: 170px;
  height: 150px;
  border: 1px solid var(--border-color);
}

#dropContainer {
  z-index: 9;
  position: absolute;
  overflow: hidden;
  right: 10px;
  height: 150px;
  opacity: 1;
  top: 57px;
  left: 14px;
  display: none;
  border: 2px dashed #d3d3d3;
  width: 190px;
  text-align: center;

  &:hover {
    opacity: .7;
    border-color: var(--primary) !important;
  }

  div {
    text-transform: uppercase;
    margin: 55px auto;
    position: relative;
    width: 120px;
  }
}

#toolbar-icons {
  position: absolute;
  padding: 2px 16px 0;
  text-align: center;
  background-color: var(--bg-box);
  z-index: 9;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.12);
  opacity: 0;
  top: 57px;
  left: 14px;
}

#toolbarContainer div.draggable {
  font-size: 12px;
  padding: 6px 4px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  border: 1px solid grey;
  margin: 6px 0;
  text-align: center
}

#toolbarContainer {
  overflow: auto;
  min-height: 260px;

  .vert-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 236px;
  }
}

#toolbarContainer div.draggable:hover {
  background: var(--box-color);
  cursor: move;
}

.agent-list {
  margin-top: 7px;
  min-height: 60px;
  background: var(--bg-box);
  overflow: hidden;
  display: block;
  padding: 8px 12px;
}

.cdk-drag-preview {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: var(--bg-box);
}

tr.cdk-drag-preview {
  justify-content: space-between;
  align-content: flex-start;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.agent-list.cdk-drop-list-dragging .agent-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.bottom-btn {
  color: #fff !important;
}
