<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="inline m-l-sm" ng-class="{'hide':object.jobChains.length>0}">

                        <div class="btn-group m-l-sm hidden-btn-group">
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'ALL'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.status=='ALL'}" ng-click="dailyPlanFilters.filter.state='';getPlans()" translate>button.allStatus
                            </button>
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'WAITING'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.status=='WAITING'}" ng-click="getPlans()" translate>button.waiting
                            </button>
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'SUCCESSFUL'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.status=='SUCCESSFUL'}" ng-click="getPlans();" translate>button.successful
                            </button>
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'FAILED'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.status=='FAILED'}" ng-click="getPlans()" translate>button.failed
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.status</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'ALL'"
                                   ng-class="{'btn-primary': dailyPlanFilters.filter.status=='ALL', 'disable-link':savedDailyPlanFilter.selected}" ng-click="dailyPlanFilters.filter.state='';getPlans()" translate>button.allStatus
                                </a>
                                <a class="dropdown-item" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'WAITING'"
                                   ng-class="{'btn-primary': dailyPlanFilters.filter.status=='WAITING', 'disable-link':savedDailyPlanFilter.selected}" ng-click="getPlans()" translate>button.waiting
                                </a>
                                <a class="dropdown-item" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'SUCCESSFUL'"
                                        ng-class="{'btn-primary': dailyPlanFilters.filter.status=='SUCCESSFUL', 'disable-link':savedDailyPlanFilter.selected}" ng-click="getPlans();" translate>button.successful
                                </a>
                                <a class="dropdown-item" ng-model="dailyPlanFilters.filter.status" uib-btn-radio="'FAILED'"
                                        ng-class="{'btn-primary': dailyPlanFilters.filter.status=='FAILED', 'disable-link':savedDailyPlanFilter.selected}" ng-click="getPlans()" translate>button.failed
                                </a>
                            </div>
                        </div>
                        <div class="btn-group m-l-sm hidden-btn-group">
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.state" uib-btn-radio="'LATE'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.state=='LATE'}" ng-click="changeLate()" translate>button.late
                            </button>
                        </div>
                        <div class="btn-group m-l-sm hidden-btn-group">
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.range" uib-btn-radio="'today'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.range=='today'}"
                                    ng-click="dailyPlanFilters.range='period';getPlans()" translate>button.today
                            </button>
                            <button ng-disabled="savedDailyPlanFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="dailyPlanFilters.filter.range"
                                    uib-btn-radio="'next-24-hours'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.range=='next-24-hours'}"
                                    ng-click="dailyPlanFilters.range='period';getPlans();setDateRange('next-24-hours');"
                                    translate>button.next24
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.anyDate</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-model="dailyPlanFilters.filter.range" uib-btn-radio="'today'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.range=='today', 'disable-link':savedDailyPlanFilter.selected}" ng-click="dailyPlanFilters.range='period';getPlans()" translate>button.today
                                </a>
                                <a class="dropdown-item" ng-model="dailyPlanFilters.filter.range" uib-btn-radio="'next-24-hours'"
                                    ng-class="{'btn-primary': dailyPlanFilters.filter.range=='next-24-hours', 'disable-link':savedDailyPlanFilter.selected}" ng-click="dailyPlanFilters.range='period';getPlans()" translate>button.next24
                                </a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <a class="btn btn-grey btn-sm m-l-sm" data-toggle="dropdown">
                                <span translate>label.sortBy</span>
                                <span class="text-primary">
                                <span ng-show="dailyPlanFilters.filter.sortBy =='processedPlanned'">
                                    {{'label.path' | translate}}
                                    <i ng-show="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                                    <i ng-show="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                                </span>
                                <span ng-show="dailyPlanFilters.filter.sortBy =='orderId'">
                                    {{'label.orderId' | translate}}
                                  <i ng-show="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                                    <i ng-show="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                                </span>
                                <span ng-show="dailyPlanFilters.filter.sortBy =='plannedStartTime'">
                                    {{'label.planned' | translate}}
                                <i ng-show="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                                        <i ng-show="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                                </span>
                                <span ng-show="dailyPlanFilters.filter.sortBy =='state._text'">
                                   {{'label.status' | translate}}
                                    <i ng-show="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                                    <i ng-show="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                                </span>
                                </span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-click="sortBy('processedPlanned')" translate>label.path</a>
                                <a class="dropdown-item" ng-click="sortBy('orderId')" translate>label.orderId</a>
                                <a class="dropdown-item" ng-click="sortBy('plannedStartTime')" translate>label.plannedStart</a>
                                <a class="dropdown-item" ng-click="sortBy('state._text')" translate>label.status</a>
                            </div>
                        </div>


                        <div class="btn-group dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" uib-tooltip="{{selectedFiltered.account}}" data-toggle="dropdown">
                                {{'label.filters' | translate}}
                                <span class="text-primary"  ng-bind="selectedFiltered.name"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-click="applyFilter()" translate>label.createFilter</a>
                                <a class="dropdown-item" ng-click="editFilters()"
                                   ng-if="dailyPlanFilterList.length>0" translate>label.editExistingFilters</a>

                                <div class="dropdown-divider" ng-if="dailyPlanFilterList.length>0"></div>
                                <a class="dropdown-item"
                                   ng-class="{orange: (savedDailyPlanFilter.selected == filter.id)}"
                                   ng-click="changeFilter(filter)"
                                   ng-repeat="filter in dailyPlanFilterList | orderBy: 'name'">
                                   <span uib-tooltip="{{filter.account}}">{{filter.name}}</span>
                                    <i ng-click="changeFilter();$event.stopPropagation();" ng-if="savedDailyPlanFilter.selected == filter.id"
                                       class="fa fa-times-circle-o remove" uib-tooltip="{{'tooltip.deactivateCustomization' | translate}}" tooltip-placement="right"></i>
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-grey btn-sm m-l-sm" uib-tooltip="{{'tooltip.exportInXLS' | translate}}" ng-disabled="pageView=='grid' || filtered.length==0" id="exportToExcelBtn" ng-click="exportToExcel()"><i>.</i></button>
                    </div>

                    <toggle-view></toggle-view>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0">
        <div class="row m-b-sm m-t-xs">
            <div class="col-lg-12">
                <button class="btn btn-sm inline pull-right m-l btn-default" ng-click="advancedSearch()" ng-show="!showSearchPanel">
                    <span translate>button.advancedSearch</span> <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" ng-click="cancel()" ng-if="showSearchPanel">
                    <span translate>button.advancedSearch</span> <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <input type="search" class="pull-right hide" ng-class="{'show-block': pageView=='list'}"  placeholder="{{'placeholder.search' | translate}}" ng-model="q" style="width: 180px">
            </div>
        </div>
        <div class="row hide" ng-class="{'show':showSearchPanel}">
                <div class="col-md-12">
                <div class="box p-a m-b-sm m-t-sm">
                    <form name="form" role="form" ng-submit="saveAsFilter(form)" novalidate>
                        <div class="form-group row" ng-class="{ 'has-error' : form.filterName.$invalid && form.filterName.$dirty }">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.filterName</label>

                            <div class=" col-sm-6">
                                <input uib-tooltip="Max: 25 characters" tooltip-trigger="focus" type="text" class="form-control" placeholder="{{'placeholder.name' | translate}}"
                                       name="filterName" ng-maxlength="25" ng-model="searchDailyPlanFilter.name"
                                       ng-blur="checkFilterName()">

                                <div class="help-block text-danger" ng-if="form.filterName.$dirty"
                                     ng-messages="form.filterName.$error">
                                    <div ng-message="maxlength" translate>message.tooLongError</div>
                                </div>
                                <div class="help-block text-danger hide" ng-class="{'show-block':!isUnique}">
                                    <div translate>message.uniqueError</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row m-b-sm">
                            <label class="col-md-2 col-sm-4" translate>label.dateRange</label>
                            <div class=" col-sm-8" ng-init="searchDailyPlanFilter.radio = 'current'">
                                <div>
                                    <label class="md-check w">
                                        <input type="radio" name="date" ng-model="searchDailyPlanFilter.radio" value="current">
                                        <i class="primary"></i> <span translate>label.specificDate</span>
                                    </label>
                                    <label class="md-check w">
                                        <input type="radio" name="date" ng-model="searchDailyPlanFilter.radio" value="planned">
                                        <i class="primary"></i> <span translate>label.manualDate</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="searchDailyPlanFilter.radio == 'current'">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.from</label>
                            <div class="col-sm-6">
                                <input class="form-control input-date" style="width: 225px;background-position: 200px" ng-model="searchDailyPlanFilter.from"
                                       data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setStartDate' | translate}} ({{dataFormat | uppercase}})"
                                       bs-datepicker type="text">
                                <input valid-time maxlength="8" ng-disabled="!searchDailyPlanFilter.from" class="form-control input-time m-l" ng-model="searchDailyPlanFilter.fromTime"
                                       placeholder="{{'placeholder.startTime' | translate}} (HH:MM:SS)" type="text" style="width: 175px;background-position: 150px">
                                <a class="text-sm text-primary" ng-show="searchDailyPlanFilter.from || searchDailyPlanFilter.fromTime" ng-click="searchDailyPlanFilter.from='';searchDailyPlanFilter.fromTime=''; " translate>button.clear</a>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="searchDailyPlanFilter.radio == 'current'">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.to</label>
                            <div class="col-sm-6">
                                <input class="form-control input-date" style="width: 225px;background-position: 200px"
                                       ng-model="searchDailyPlanFilter.to" data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setEndDate' | translate}} ({{dataFormat | uppercase}})" data-min-date="{{searchDailyPlanFilter.from}}"
                                       bs-datepicker type="text">
                                <input valid-time maxlength="8" ng-disabled="!searchDailyPlanFilter.to" class="form-control input-time m-l" ng-model="searchDailyPlanFilter.toTime"
                                       placeholder="{{'placeholder.endTime' | translate}} (HH:MM:SS)" type="text" style="width: 175px;background-position: 150px">
                                 <a class="text-sm text-primary" ng-show="searchDailyPlanFilter.to || searchDailyPlanFilter.toTime" ng-click="searchDailyPlanFilter.to='';searchDailyPlanFilter.toTime=''; " translate>button.clear</a>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="searchDailyPlanFilter.radio == 'planned'">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.from</label>

                            <div class=" col-sm-6" ng-class="{ 'has-error' : form.from.$invalid && form.from.$dirty }">
                                <input valid-daily-plan-filter-regex type="text" name="from" class="form-control"
                                       placeholder="{{'placeholder.timeRangeFrom' | translate}}" ng-model="searchDailyPlanFilter.from1">

                                <div class="help-block text-danger" ng-messages="form.from.$error">
                                    <div ng-message="invalid" translate>message.invalid</div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row" ng-if="searchDailyPlanFilter.radio == 'planned'">
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.to</label>
                           <div class=" col-sm-6" ng-class="{ 'has-error' : form.to.$invalid && form.to.$dirty }">
                            <input valid-daily-plan-filter-regex type="text" name="to" class="form-control" placeholder="{{'placeholder.timeRangeTo' | translate}}" ng-model="searchDailyPlanFilter.to1">
                               <div class="help-block text-danger" ng-messages="form.to.$error">
                                   <div ng-message="invalid" translate>message.invalid</div>
                               </div>
                           </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.regex</label>

                            <div class="col-sm-6" ng-class="{ 'has-error' : form.regex.$invalid && form.regex.$dirty }">
                                <input valid-regex type="text" class="form-control" name="regex"
                                       placeholder="{{'placeholder.regexAndChooseTree' | translate}}"
                                       ng-model="searchDailyPlanFilter.regex">

                                <div class="help-block text-danger" ng-messages="form.regex.$error">
                                    <div ng-message="invalid" translate>message.invalid</div>
                                </div>
                            </div>
                            <div class="col-sm-1 p-l-0 p-t-sm"><a href="" ng-click="getTreeStructure()"><i class="fa fa-folder-o fa-lg"></i></a></div>
                        </div>
                        <div class="form-group row" ng-if="searchDailyPlanFilter.paths.length>0">
                             <label class="col-md-2 col-sm-4" translate>label.folders</label>
                            <div class="col-sm-6" style="max-height: 140px; overflow: auto">
                                <div ng-repeat="path in searchDailyPlanFilter.paths track by $index">
                                        <span class="">{{path}}</span> <i class="pull-right fa fa-remove m-l text-hover-primary" ng-click="remove(path,'path')"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.jobChain</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="jobChain"
                                       placeholder="{{'placeholder.enterJobChainPath' | translate}}"
                                       ng-model="searchDailyPlanFilter.jobChain">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.orderId</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="orderId"
                                       placeholder="{{'placeholder.enterOrderId' | translate}}"
                                       ng-model="searchDailyPlanFilter.orderId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.job</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="job"
                                       placeholder="{{'placeholder.enterJobPath' | translate}}"
                                       ng-model="searchDailyPlanFilter.job">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label class="col-md-2 col-sm-4 " translate>label.status</label>

                            <div class=" col-sm-8">
                                    <label class="md-check w">
                                        <input type="checkbox" data-checklist-model="searchDailyPlanFilter.state"
                                               data-checklist-value="'WAITING'">
                                        <i class="primary"></i><span translate>label.waiting</span>
                                    </label>
                                    <label class="md-check w">
                                        <input type="checkbox" data-checklist-model="searchDailyPlanFilter.state"
                                               data-checklist-value="'LATE'">
                                        <i class="primary"></i><span translate>label.late</span>
                                    </label>
                                    <label class="md-check w">
                                        <input type="checkbox" data-checklist-model="searchDailyPlanFilter.state"
                                               data-checklist-value="'SUCCESSFUL'">
                                        <i class="primary"></i><span translate>label.successful</span>
                                    </label>
                                <label class="md-check w">
                                        <input type="checkbox" data-checklist-model="searchDailyPlanFilter.state"
                                               data-checklist-value="'FAILED'">
                                        <i class="primary"></i><span translate>label.failed</span>
                                    </label>
                            </div>
                        </div>
                        <div class="form-group m-t m-b-xs">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="search();" translate>
                                button.search
                            </button>
                            <button type="submit" class="btn orange btn-sm m-l-sm"
                                    ng-disabled="form.$invalid || !isUnique || !searchDailyPlanFilter.name" translate>button.saveAsFilter
                            </button>
                            <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel(form)" translate>
                                button.cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        <div class="hide p-t-sm" ng-class="{'show': isLoading }">
            <div class=" hide " ng-class="{'show': pageView=='grid' && plans.length>0}">
                <div class="box p-a">
                    <div class="hide" ng-class="{show:data.length>0}">
                         <div gantt
                             data="data"
                             show-side="options.labelsEnabled"
                             daily="options.daily"
                             current-date="options.currentDate"
                             current-date-value=currentDateValue
                             sort-mode="options.sortMode"
                             view-scale="options.scale"
                             column-width="getColumnWidth(options.width, options.scale, options.zoom)"
                             auto-expand="options.autoExpand"
                             task-out-of-range="options.taskOutOfRange"
                             from-date="options.fromDate"
                             to-date="options.toDate"
                             allow-side-resizing="options.allowSideResizing"
                             task-content="options.taskContentEnabled ? options.taskContent : undefined"
                             row-content="options.rowContentEnabled ? options.rowContent : undefined"
                             headers="options.width && options.shortHeaders || options.longHeaders"
                             max-height="options.maxHeight"
                             to-date="options.toDate"
                             api="options.api"
                             shrink-to-fit="option.shrinkToFit"
                             column-magnet="options.columnMagnet">

                            <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
                                         columns="options.treeTableColumns "
                                         headers="options.columnsHeaders"
                                         classes="options.columnsClasses"
                                         formatters="options.columnsFormatters"
                                         contents="options.columnsContents"
                                         header-contents="options.columnsHeaderContents">
                            </gantt-table>
                            <gantt-tooltips date-format="dataFormate"></gantt-tooltips>
                        </div>
                    </div>

                </div>
            </div>
            <div class="hide box p-a " ng-class="{'show': pageView=='list' && plans.length>0}">
                <div class="table-responsive" ng-if="plans.length>0">
                        <table class="table table-hover table-bordered " id="dailyPlanTableId">
                            <thead>
                            <tr>
                                <th ng-click="sortBy('processedPlanned')"><a><span translate>label.jobChain</span><span>/</span><span translate>label.job</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'processedPlanned' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'processedPlanned' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('orderId')"><a><span translate>label.orderId</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'orderId' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'orderId' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('state._text')"><a><span translate>label.status</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'state._text' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'state._text' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('late')"><a><span translate>label.late</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'late' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'late' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('late')"><a><span translate>label.repeatType</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'startMode' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'startMode' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('period.repeat')"><a><span translate>label.repeatInterval</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'period.repeat' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'period.repeat' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                 <th ng-click="sortBy('plannedStartTime')"><a><span translate>label.plannedStart</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'plannedStartTime' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'plannedStartTime' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('expectedEndTime')"><a><span translate>label.expectedEnd</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'expectedEndTime' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'expectedEndTime' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('duration')"><a><span translate>label.expectedDuration</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'duration' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'duration' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('startTime')"><a><span translate>label.startTime</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'startTime' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'startTime' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                 <th ng-click="sortBy('endTime')"><a><span translate>label.endTime</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'endTime' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'endTime' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                 <th ng-click="sortBy('duration1')"><a><span translate>label.duration</span>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'duration1' && !dailyPlanFilters.reverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="dailyPlanFilters.filter.sortBy == 'duration1' && dailyPlanFilters.reverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="plan in filtered = (plans | filter: q:strict) | orderBy: dailyPlanFilters.filter.sortBy:dailyPlanFilters.reverse | startFrom:(dailyPlanFilters.currentPage - 1) * userPreferences.entryPerPage | limitTo: userPreferences.entryPerPage" ng-click="showLogWindow(plan.historyId && plan.jobChain?plan:null,plan.historyId && plan.job?{taskId:plan.historyId,job:plan.job}:null)" ng-class="{'cursor':plan.historyId}">
                                <td>
                                    <span class="hide text-hover-primary" ng-click="showJobChain(plan.jobChain);$event.stopPropagation()"  ng-class="{show:plan.jobChain!=undefined}" ng-bind="plan.jobChain"></span>
                                    <span class="hide text-hover-primary" ng-click="showJob(plan.job);$event.stopPropagation()"  ng-class="{show:plan.job!=undefined}" ng-bind="plan.job"></span>
                                </td>
                                <td><span class="text-hover-primary" ng-click="showOrderLink(plan.jobChain);$event.stopPropagation()" ng-bind="plan.orderId"></span></td>
                                <td>
                                    <span class="label" ng-class="bgColorFunction(plan.state.severity)" ng-bind="plan.state._text | translate" uib-tooltip="{{plan.error.message}}"> </span>
                                </td>
                                <td><span ng-if="plan.late==true" translate>label.late</span></td>
                                <td>
                                    <span ng-if="plan.startMode ==0" translate>label.singleStartMode</span>
                                    <span ng-if="plan.startMode ==1" translate>label.startStartRepeatMode</span>
                                    <span ng-if="plan.startMode ==2" translate>label.startEndRepeatMode</span>
                                </td>
                                <td><span ng-if="plan.period.repeat">{{plan.period.repeat | convertTime}}</span></td>
                                <td><span ng-bind="plan.plannedStartTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.expectedEndTime | stringToDate"></span></td>

                                <td><span ng-bind="plan.plannedStartTime | duration:plan.expectedEndTime"></span></td>
                                <td><span ng-bind="plan.startTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.endTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.startTime | duration:plan.endTime"></span></td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="text-center m-t text-uppercase hide text-orange" ng-class="{'show': (filtered.length===0 && plans.length !==0)}" translate>message.noDataMatched</div>
                        <div class="inline text-sm m-l-xs m-b-sm" ng-class="{'m-t-xs m-l-sm': plans.length > 10}" ng-if="plans.length >0"><span translate>label.total</span> {{filtered.length}} <span translate>label.plansFound</span></div>
                        <ul ng-show="filtered.length > userPreferences.entryPerPage" uib-pagination total-items="filtered.length"
                            ng-model="dailyPlanFilters.currentPage" items-per-page='userPreferences.entryPerPage' ng-change="pageChange()"
                            class="pagination-sm text-sm m-t-0 pull-right" max-size="5" boundary-link-numbers="true" rotate="false"
                            previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                        <div class="pull-left" ng-show="filtered.length > 10">
                            <div class="btn-group m-r-xxs">
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'10'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='10'}">10
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'25'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='25'}">25
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'50'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='50'}">50
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'100'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='100'}">100
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="{{maxEntryPerPage}}"
                                        ng-class="{'primary': userPreferences.entryPerPage==maxEntryPerPage}">{{maxEntryPerPage}}
                                </button>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <div class=" text-center m-t text-uppercase "
             ng-if="plans.length==0" translate>message.noDataFound
        </div>
        <div ng-if="temp.length==0 && isLoading" class="text-center m-t h6 text-uppercase" translate>
            message.noPlanFound
        </div>
        <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
</div>
<div ng-if="showSpinner && isLoading" class="loading-img1"></div>
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-a" style="min-height: 550px;max-height: 550px; overflow: auto">
                <div>
                    <a class="text" ng-click="filter_tree.expand_all();"
                       uib-tooltip="{{'tooltip.expandAll' | translate}}">
                        <i class="fa fa-angle-double-down fa-lg"></i>
                    </a>
                    <a class="text m-l-xs" ng-click="filter_tree.collapse_all();"
                       uib-tooltip="{{'tooltip.collapseAll' | translate}}">
                        <i class="fa fa-angle-double-up fa-lg"></i>
                    </a>

                    <tree
                            tree-data="filterTree1"
                            tree-control="filter_tree"
                            object="object"
                            icon-leaf="fa fa-folder"
                            icon-expand="fa fa-folder"
                            icon-collapse="fa fa-folder-open"
                            expand-on="expanding_property"
                            on-select="treeExpand(branch)"
                            on-click="treeExpand(branch)"
                            template-url="modules/core/template/tree-filter-structure.html">
                    </tree>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-primary btn-sm pull-left" ng-click="addFolderPaths()"
                        data-dismiss="modal" translate>button.done
                </button>
                <button type="button" class="btn btn-grey btn-sm m-l-sm pull-left" data-dismiss="modal" translate>
                    button.cancel
                </button>
            </div>
        </div>
    </div>
</div>
