<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="inline m-l-sm" ng-class="{'hide':object.jobChains.length>0}">
                        <div class="btn-group m-l-sm hidden-btn-group">
                            <button class="btn btn-grey btn-sm" ng-model="filter.range" uib-btn-radio="'today'"
                                    ng-class="{'btn-primary': filter.range=='today'}"
                                    ng-click="range='period';getPlans('period')" translate>button.today
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.range"
                                    uib-btn-radio="'next-24-hours'"
                                    ng-class="{'btn-primary': filter.range=='next-24-hours'}"
                                    ng-click="range='period';getPlans('period')"
                                    translate>button.next24
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.anyDate</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-model="filter.range" uib-btn-radio="'today'"
                                    ng-class="{'btn-primary': filter.range=='today'}" ng-click="range='period';getPlans('period')" translate>button.today
                                </a>
                                <a class="dropdown-item" ng-model="filter.range" uib-btn-radio="'next-24-hours'"
                                    ng-class="{'btn-primary': filter.range=='next-24-hours'}" ng-click="range='period';getPlans('period')" translate>button.next24
                                </a>
                            </div>
                        </div>
                        <div class="btn-group m-l-sm hidden-btn-group">
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'all'"
                                    ng-class="{'btn-primary': filter.status=='all'}" ng-click="getPlans()" translate>button.all
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'WAITING'"
                                    ng-class="{'btn-primary': filter.status=='WAITING'}" ng-click="getPlans()" translate>button.waiting
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'LATE'"
                                    ng-class="{'btn-primary': filter.status=='LATE'}" ng-click="getPlans()" translate>button.late
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'EXECUTED'"
                                    ng-class="{'btn-primary': filter.status=='EXECUTED'}" ng-click="getPlans()" translate>button.executed
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.status</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-model="filter.status" uib-btn-radio="'all'"
                                   ng-class="{'btn-primary': filter.status=='all'}" ng-click="getPlans()" translate>button.all
                                </a>
                                <a class="dropdown-item" ng-model="filter.status" uib-btn-radio="'WAITING'"
                                   ng-class="{'btn-primary': filter.status=='WAITING'}" ng-click="getPlans()" translate>button.waiting
                                </a>
                                <a class="dropdown-item" ng-model="filter.status" uib-btn-radio="'LATE'"
                                   ng-class="{'btn-primary': filter.status=='LATE'}" ng-click="getPlans()" translate>button.late
                                </a>
                                <a class="dropdown-item" ng-model="filter.status" uib-btn-radio="'EXECUTED'"
                                   ng-class="{'btn-primary': filter.status=='EXECUTED'}" ng-click="getPlans()" translate>button.executed
                                </a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <a class="btn btn-grey btn-sm m-l-sm" data-toggle="dropdown">
                                <span translate>label.sortBy</span>
                                <span class="text-primary">
                                <span ng-show="filter.sortBy =='processedPlan'">
                                    {{'label.name' | translate}}
                                    <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                    <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>
                                <span ng-show="filter.sortBy =='orderId'">
                                    {{'label.orderId' | translate}}
                                  <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                    <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>
                                <span ng-show="filter.sortBy =='plannedStartTime'">
                                    {{'label.planned' | translate}}
                                <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>
                                <span ng-show="filter.sortBy =='status'">
                                   {{'label.status' | translate}}
                               <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>

                                </span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" href ng-click="mainSortBy('processedPlan')" translate>label.name</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('orderId')" translate>label.orderId</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('plannedStartTime')" translate>label.plannedStart</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('status')" translate>label.status</a>
                            </div>
                        </div>


                        <div class="btn-group dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown">
                                {{'label.filters' | translate}} <span class="text-primary"
                                                                      ng-bind="savedDailyPlanFilter.selected"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-click="applyFilter()" translate>label.createFilter</a>
                                <a class="dropdown-item" ng-click="editFilters()"
                                   ng-if="savedDailyPlanFilter.list.length>0" translate>label.editExistingFilters</a>

                                <div class="dropdown-divider" ng-if="savedDailyPlanFilter.length>0"></div>
                                <a class="dropdown-item"
                                   ng-class="{orange: savedDailyPlanFilter.selected == filter.name}"
                                   ng-click="changeFilter(filter.name)"
                                   ng-repeat="filter in savedDailyPlanFilter.list track by $index">
                                    {{filter.name}} <i ng-click="changeFilter();$event.stopPropagation();"
                                                       ng-if="savedDailyPlanFilter.selected == filter.name"
                                                       class="fa fa-times-circle-o remove"></i>
                                </a></div>
                        </div>
                        <button class="btn btn-grey btn-sm m-l-sm" uib-tooltip="{{'tooltip.exportInXLS' | translate}}" ng-disabled="pageView=='grid' || filtered.length==0" id="exportToExcelBtn" ng-click="exportToExcel()"><img src="images/share.png" class="p-b-xs"> </button>
                    </div>

                    <toggle-view></toggle-view>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0">
        <div class="row m-b-sm">
            <div class="col-md-12">
                <div class="pull-right">
                <span class="m-r-sm" translate>label.from</span>
                <input class="form-control input-date" style="width: 125px;background-position: 100px"
                       ng-model="filter.from"
                       data-date-format="yyyy-MM-dd" data-autoclose="1" placeholder="yyyy-mm-dd"
                       bs-datepicker type="text" ng-change="range='dateRange';getPlans('dateRange')">
                <input class="form-control input-time" ng-model="filter.from" data-time-format="HH:mm:ss"
                       data-autoclose="1"
                       placeholder="hh:mm:ss" bs-timepicker type="text" style="width: 110px;background-position: 85px"
                       ng-change="range='dateRange';getPlans('dateRange')">
                <span class="m-l-sm m-r-sm" translate>label.to</span>
                <input class="form-control input-date" style="width: 125px;background-position: 100px"
                       ng-model="filter.to"
                       data-date-format="yyyy-MM-dd" data-autoclose="1" placeholder="yyyy-mm-dd" data-min-date="{{filter.from}}"
                       bs-datepicker type="text" ng-change="range='dateRange';getPlans('dateRange')">
                <input class="form-control input-time" ng-model="filter.to" data-time-format="HH:mm:ss"
                       data-autoclose="1"
                       placeholder="hh:mm:ss" bs-timepicker type="text" style="width: 110px;background-position: 85px"
                       ng-change="range='dateRange';getPlans('dateRange')">
                </div>
            </div>
        </div>
        <div class="hide p-t-xs" ng-class="{'show': isLoading }">
            <div class="hide" ng-class="{'show': pageView=='grid'}">
                <div class="box p-a">
                    <div class="hide" ng-class="{show:data.length>0}">
                           <div gantt
                         data="data"
                         show-side="options.labelsEnabled"
                         daily="options.daily"
                         current-date="options.currentDate"
                         current-date-value="options.currentDateValue"
                         sort-mode="options.sortMode"
                         view-scale="options.scale"
                         column-width="getColumnWidth(options.width, options.scale, options.zoom)"
                         auto-expand="options.autoExpand"
                         task-out-of-range="options.taskOutOfRange"
                         from-date="options.fromDate"
                         to-date="options.toDate"
                         allow-side-resizing="options.allowSideResizing"
                         task-content="options.taskContentEnabled ? options.taskContent : undefined"
                         row-content="options.rowContentEnabled ? options.rowContent : undefined"
                         headers="options.width && options.shortHeaders || options.longHeaders"
                         max-height="options.maxHeight"
                         api="options.api"
                         shrink-to-fit="option.shrinkToFit"
                         column-magnet="options.columnMagnet">

                        <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
                                     columns="options.treeTableColumns "
                                     headers="options.columnsHeaders"
                                     classes="options.columnsClasses"
                                     formatters="options.columnsFormatters"
                                     contents="options.columnsContents"
                                     header-contents="options.columnsHeaderContents">
                        </gantt-table>
                        <gantt-tooltips></gantt-tooltips>
                    </div>
                    </div>
                    <div class="hide" ng-class="{show:!data || data.length==0}">
                       <div class="text-center m-t text-uppercase text-orange" translate>message.noDataMatched</div>
                    </div>

                </div>
            </div>
            <div class="hide box p-a " ng-class="{'show': pageView=='list'}" context-menu="menuOptions">
                <div class="table-responsive">
                        <table class="table table-hover table-bordered " id="dailyPlanTableId">
                            <thead>
                            <tr>

                                <th ng-click="sortBy('processedPlan')"><a><span translate>label.jobChain</span><span>/</span><span translate>label.job</span>

                                    <i ng-show="propertyName == 'processedPlan' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'processedPlan' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('orderId')"><a><span translate>label.orderId</span>
                                    <i ng-show="propertyName == 'orderId' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'orderId' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                <th ng-click="sortBy('state._text')"><a><span translate>label.status</span>
                                    <i ng-show="propertyName == 'state._text' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'state._text' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                 <th ng-click="sortBy('exitCode')"><a><span translate>label.executionResult</span>
                                    <i ng-show="propertyName == 'exitCode' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'exitCode' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                 <th ng-click="sortBy('plannedStartTime')"><a><span translate>label.plannedStart</span>
                                    <i ng-show="propertyName == 'plannedStartTime' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'plannedStartTime' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                <th ng-click="sortBy('expectedEndTime')"><a><span translate>label.expectedEnd</span>
                                    <i ng-show="propertyName == 'expectedEndTime' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'expectedEndTime' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                <th ng-click="sortBy('duration')"><a><span translate>label.duration</span>
                                    <i ng-show="propertyName == 'duration' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'duration' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                <th ng-click="sortBy('startTime')"><a><span translate>label.start</span>
                                    <i ng-show="propertyName == 'startTime' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'startTime' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                 <th ng-click="sortBy('endTime')"><a><span translate>label.end</span>
                                    <i ng-show="propertyName == 'endTime' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'endTime' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                                 <th ng-click="sortBy('duration1')"><a><span translate>label.duration</span>
                                    <i ng-show="propertyName == 'duration1' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'duration1' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>

                            </tr>
                            </thead>
                            <tbody ng-repeat="plan in filtered = (plans | filter: filterString:strict) | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
                            <tr>
                                <td>
                                <span class="hide" ng-class="{show:!plan.job!='NULL'}" ng-bind="plan.jobChain.substring(plan.jobChain.lastIndexOf('/')+1,plan.jobChain.length)"></span>
                                <span class="hide" ng-class="{show:!plan.job=='NULL'}" ng-bind="plan.job.substring(plan.job.lastIndexOf('/')+1,plan.job.length)"></span>
                                </td>
                                <td><span ng-bind="plan.orderId"></span></td>
                                <td><span class="text-c label" ng-class="bgColorFunction(plan.state.severity)" ng-bind="plan.state._text"></span></td>
                                <td><span ng-bind="plan.exitCode"></span></td>
                                <td><span ng-bind="plan.plannedStartTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.expectedEndTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.plannedStartTime | duration:plan.expectedEndTime"></span></td>
                                <td><span ng-bind="plan.startTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.endTime | stringToDate"></span></td>
                                <td><span ng-bind="plan.startTime | duration:plan.endTime"></span></td>

                            </tr>

                            </tbody>
                        </table>
                        <ul ng-show="filtered.length > pageSize" uib-pagination total-items="filtered.length"
                            ng-model="currentPage" items-per-page='pageSize' ng-change="pageChange()"
                            class="pagination-sm m-t-0" max-size="5" boundary-link-numbers="true" rotate="false"
                            previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                        <div class="pull-right" ng-show="filtered.length > 10">
                            <div class="btn-group m-r-xxs">
                                <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'10'"
                                        ng-class="{'primary': pageSize=='10'}">10
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'25'"
                                        ng-class="{'primary': pageSize=='25'}">25
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'50'"
                                        ng-class="{'primary': pageSize=='50'}">50
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'100'"
                                        ng-class="{'primary': pageSize=='100'}">100
                                </button>
                            </div>
                        </div>
                    </div>
                <div class="hide text-center m-t text-uppercase text-orange"
                     ng-class="{'show': (temp.length>0 && (!plans||plans.length ==0))}" translate>message.noDataMatched
                </div>
            </div>
        </div>
        <div ng-if="temp.length==0 && isLoading" class="text-center m-t h6 text-uppercase" translate>
            message.noPlanFound
        </div>
        <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
</div>

<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-a" style="height: 550px; overflow: auto">

                   <div class="col-sm-12">
                       <input type="text" class="form-control" placeholder="Name of Job chain" ng-model="filterString1">
                   </div>

                <tree-grid tree-data="tree" on-click="selectValue(branch)"></tree-grid>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-grey btn-sm pull-left" data-dismiss="modal" translate>button.cancel</button>
            </div>
        </div>
    </div>
</div>
