<div>
    <div class="hide" ng-class="{'show': isLoading}">
        <div class="m-t-sm box p-a">
            <div class="table-responsive">
                <table class="table table-hover table-bordered ">
                    <thead>
                    <tr>
                        <th ng-if="!current" ng-click="sortBy('jobschedulerId')"><a><span translate>label.jobSchedulerId</span>
                            <i ng-show="scheduleFilters.filter.sortBy == 'jobschedulerId' && !scheduleFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="scheduleFilters.filter.sortBy == 'jobschedulerId' && scheduleFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('agentUrl')"><a><span translate>label.agentUrl</span>
                            <i ng-show="scheduleFilters.filter.sortBy == 'agentUrl' && !scheduleFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="scheduleFilters.filter.sortBy == 'agentUrl' && scheduleFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('causeOfTheTaskStart')"><a><span translate>label.causeOfTheTaskStart</span>
                            <i ng-show="scheduleFilters.filter.sortBy == 'causeOfTheTaskStart' && !scheduleFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="scheduleFilters.filter.sortBy == 'causeOfTheTaskStart' && scheduleFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('numberOfSuccessfullyExecutedTask')"><a><span translate>label.numberOfSuccessfullyExecutedTask</span>
                            <i ng-show="scheduleFilters.filter.sortBy == 'numberOfSuccessfullyExecutedTask' && !scheduleFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="scheduleFilters.filter.sortBy == 'numberOfSuccessfullyExecutedTask' && scheduleFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="agentTask in agentTasks">
                    <tr>
                        <td ng-if="!current">
                            <span ng-bind="agentTask.jobschedulerId"></span>
                        </td>
                        <td nowrap>
                            <span ng-bind="agentTask.agent"></span></td>
                        <td><span ng-bind="agentTask.cause"></span></td>
                        <td><span ng-bind="agentTask.numOfSuccessfulTasks"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="inline text-sm m-l-xs m-b-sm" ng-class="{'m-t-xs m-l-sm': agentTasks.length > 10}"
                     ng-if="agentTasks.length >0"><span translate>label.total</span> {{agentTasks.length}}
                    <span translate ng-if="agentTasks.length >1">label.agentTasksFound</span>
                    <span translate ng-if="agentTasks.length ==1">label.agentTaskFound</span>
                </div>
                <ul ng-show="agentTasks.length > userPreferences.entryPerPage" uib-pagination
                    total-items="agentTasks.length" ng-model="adtLog.currentPage"
                    items-per-page='userPreferences.entryPerPage' class="pagination-sm text-sm m-t-0 pull-right"
                    max-size="5" boundary-link-numbers="true" rotate="false"
                    previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                <div class="pull-left" ng-show="agentTasks.length > 10">
                    <div class="btn-group m-r-xxs">
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'10'"
                                ng-class="{'primary': userPreferences.entryPerPage=='10'}">10
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'25'"
                                ng-class="{'primary': userPreferences.entryPerPage=='25'}">25
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'50'"
                                ng-class="{'primary': userPreferences.entryPerPage=='50'}">50
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'100'"
                                ng-class="{'primary': userPreferences.entryPerPage=='100'}">100
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="{{maxEntryPerPage}}"
                                ng-class="{'primary': userPreferences.entryPerPage==maxEntryPerPage}">
                            {{maxEntryPerPage}}
                        </button>
                    </div>
                </div>
                <div ng-if="isLoading && agentTasks.length==0" class="text-center m-t-md h6 text-uppercase" translate>
                    message.noAgentTasksFound
                </div>
                <div class="text-center m-t text-uppercase hide text-orange"
                     ng-class="{'show': (agentTasks.length===0 && agentTasks.length !==0)}" translate>message.noDataMatched
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!isLoading" class="text-center m-t-lg">
        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
    </div>
</div>

<script>
    $('.table-responsive').on('show.bs.dropdown', function (e) {
        var $table = $(this),
                $menu = $(e.target).find('.more-option-h');
        if ($menu.offset().top + 70 > $(window).innerHeight() + $(window).scrollTop()) {
            $('.dropdown-menu-list').css('top', $(window).innerHeight() - 70 + 'px');
            $('.dropdown-menu-list').removeClass('dropdown-ac');
            $('.dropdown-menu-list').addClass('dropdown-list');
        } else {
            $('.dropdown-menu-list').css('top', $menu.offset().top + 20 + 'px');
        }
        $('.dropdown-menu-list').addClass('list-dropdown');
        $('.dropdown-menu-list').css('left', $menu.offset().left + 'px');
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.dropdown-menu-list').removeClass('list-dropdown');
        $('.dropdown-menu-list').removeClass('dropdown-list');
        $('.dropdown-menu-list').addClass('dropdown-ac');
    });

</script>
