<div ng-show="isLoading">
    <div class="hide m-t-sm row" ng-class="{'show': pageView=='grid'}">
        <div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 hide" ng-class="{'show': pageView=='grid'}"
                 ng-repeat="cluster in tree_data | orderBy: agentsFilters.filter.sortBy:agentsFilters.reverse">
                <div class="box card">
                    <div class="box-body">
                        <div>
                            <span class="text-left ">
                                <span class="fa fa-stop pos-abt m-t-xs text-xs {{cluster.Status.substring(0,cluster.Status.lastIndexOf('&'))}}"></span>
                                <i class="fa fa-server m-l m-r-xs"></i>
                                <span uib-tooltip="{{cluster.AgentCluster}}" class="text text-ellipsis1"
                                      ng-bind="cluster.AgentCluster"></span>
                                <span class="text-sm _600 pull-right" uib-tooltip="{{cluster.SchedulingType}}" ng-bind-template="({{cluster.SchedulingType | limitTo:1}})"></span>

                            </span>
                        </div>
                        <div class="text-sm  text-left text-muted p-t-sm">
                            <span class="text-black _600" ng-bind="cluster.TotalAgents"></span>
                            {{'label.totalAgents' | translate}}
                        </div>
                        <div class="text-sm  text-left text-muted p-t-xs p-l">
                            <span class="text-black _600" ng-bind="cluster.RunningAgents"></span> {{'label.running' | translate}}
                        </div>
                        <div class="text-sm  text-left text-muted p-t-xs">
                            <span class="text-black _600" ng-bind="cluster.RunningTasks"></span>
                            {{'label.runningTasks' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t-sm box p-a" ng-show="pageView=='list' && tree_data.length >0">
        <tree-grid id="healthy-id"  tree-data="tree_data" tree-control="my_tree" col-defs="col_defs"
                   icon-leaf="fa fa-server" expand-on="expanding_property"></tree-grid>
    </div>
    <div ng-if="isLoading && tree_data.length==0" class="text-center m-t h6 text-uppercase" translate>message.noAgentClusterFound</div>
</div>
<div ng-if="!isLoading" class="text-center m-t-lg">
    <div class="cssload-loading">{{'label.loading' | translate}}...</div>
</div>
