<div>
    <div class="row m-b hide" ng-class="{'show':showSearchPanel}">
        <div class="col-md-12">
            <div class="box p-a m-b-xs m-t-xs">
                <form name="form" ng-submit="saveAsFilter(from)" novalidate>
                    <div class="form-group row"
                         ng-class="{ 'has-error' : form.filterName.$invalid && form.filterName.$dirty }">
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.filterName</label>

                        <div class=" col-sm-6">
                            <input uib-tooltip="Max: 25 characters" tooltip-trigger="focus" type="text" class="form-control"
                                   placeholder="{{'placeholder.name' | translate}}" name="filterName" ng-maxlength="25"
                                   ng-model="agentJobSearch.name" ng-blur="checkFilterName()">

                            <div class="help-block text-danger" ng-if="form.filterName.$dirty"
                                 ng-messages="form.filterName.$error">
                                <div ng-message="maxlength" translate>message.tooLongError</div>
                            </div>
                            <div class="help-block text-danger hide" ng-class="{'show-block':!isUnique}">
                                <div translate>message.uniqueError</div>
                            </div>
                        </div>
                    </div>
                    <div class="m-b-sm row ">
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.dateRange</label>
                        <div class="col-md-6">
                            <label class="md-check w-sm">
                                <input type="radio" name="radio" ng-model="agentJobSearch.date" value="date">
                                <i class="primary"></i> <span translate>label.specificDate</span>
                            </label>
                            <label class="md-check">
                                <input type="radio" name="radio" ng-model="agentJobSearch.date" value="process">
                                <i class="primary"></i> <span translate>label.manualDate</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row"  ng-if="agentJobSearch.date == 'process'">
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.processExecuted</label>
                        <div class="col-sm-6" ng-class="{ 'has-error' : form.planned.$invalid && form.planned.$dirty }">
                            <input valid-history-filter-regex type="text" name="planned" class="form-control"
                                   placeholder="{{'placeholder.processExecuted' | translate}}" ng-model="agentJobSearch.planned">
                            <div class="help-block text-danger" ng-messages="form.planned.$error">
                                <div ng-message="invalid" translate>message.invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="agentJobSearch.date == 'date'">
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.from</label>
                        <div class="col-sm-6">
                            <input class="form-control input-date" style="width: 225px;background-position: 200px" ng-model="agentJobSearch.from"
                                   data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setStartDate' | translate}} ({{dataFormat | uppercase}})" data-max-date="{{currentTime}}"
                                   bs-datepicker type="text">
                            <input valid-time maxlength="8" ng-disabled="!agentJobSearch.from" class="form-control input-time m-l" ng-model="agentJobSearch.fromTime"
                                   placeholder="{{'placeholder.startTime' | translate}} (HH:MM:SS)" type="text" style="width: 175px;background-position: 150px">
                            <a class="text-sm text-primary" ng-show="agentJobSearch.from || agentJobSearch.fromTime" ng-click="agentJobSearch.from='';agentJobSearch.fromTime=''; " translate>button.clear</a>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="agentJobSearch.date == 'date'">
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.to</label>
                        <div class="col-sm-6">
                            <input class="form-control input-date"
                                   style="width: 225px;background-position: 200px"
                                   ng-model="agentJobSearch.to" data-date-format="{{dataFormat}}"
                                   data-autoclose="1"
                                   placeholder="{{'placeholder.setEndDate' | translate}} ({{dataFormat | uppercase}})"
                                   data-min-date="{{agentJobSearch.from}}" data-max-date="{{currentTime}}"
                                   bs-datepicker type="text">
                            <input valid-time maxlength="8" ng-disabled="!agentJobSearch.to"
                                   class="form-control input-time m-l" ng-model="agentJobSearch.toTime"
                                   placeholder="{{'placeholder.endTime' | translate}} (HH:MM:SS)" type="text"
                                   style="width: 175px;background-position: 150px">
                            <a class="text-sm text-primary" ng-show="agentJobSearch.to || agentJobSearch.toTime"
                               ng-click="agentJobSearch.to='';agentJobSearch.toTime=''; "
                               translate>button.clear</a>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.jobSchedulerId</label>
                        <div class=" col-sm-6">
                            <select class="form-control" ng-model="agentJobSearch.jobschedulerId">
                                <option ng-repeat="jobScheduler in schedulerIds.jobschedulerIds">{{jobScheduler}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-md-2 col-sm-4 form-control-label" translate>label.agentUrl</label>
                        <div class=" col-sm-6">
                            <input type="text" class="form-control" name="url" placeholder="{{'placeholder.enterAgentUrl' | translate}}" ng-model="agentJobSearch.url">
                        </div>
                    </div>
                    <div class="form-group m-t m-b-xs">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="search();" translate>button.search</button>
                        <button type="submit" class="btn orange btn-sm m-l-sm" ng-disabled="form.$invalid || !agentJobSearch.name" translate>button.saveAsFilter</button>
                        <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel(form)" translate>button.cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="hide" ng-class="{'show': isLoading}">
        <div class="m-t-xs box p-a" >
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="agentJobExecution">
                    <thead>
                    <tr>
                        <th ng-if="!agentJobExecutionFilters.current" ng-click="sortByAT('jobschedulerId')"><a><span translate>label.jobSchedulerId</span>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'jobschedulerId' && !agentJobExecutionFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'jobschedulerId' && agentJobExecutionFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByAT('agent')"><a><span translate>label.agentUrl</span>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'agent' && !agentJobExecutionFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'agent' && agentJobExecutionFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByAT('cause')"><a><span translate>label.causeOfTheTaskStart</span>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'cause' && !agentJobExecutionFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'cause' && agentJobExecutionFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByAT('numOfSuccessfulTasks')"><a><span translate>label.numberOfSuccessfullyExecutedTask</span>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'numOfSuccessfulTasks' && !agentJobExecutionFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'numOfSuccessfulTasks' && agentJobExecutionFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByAT('numOfJobs')"><a><span translate>label.numberOfJobsExecuted</span>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'numOfJobs' && !agentJobExecutionFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="agentJobExecutionFilters.filter.sortBy == 'numOfJobs' && agentJobExecutionFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="agentTask in agentTasks | orderBy:agentJobExecutionFilters.filter.sortBy:agentJobExecutionFilters.sortReverse | startFrom:(agentJobExecutionFilters.currentPage - 1) * userPreferences.entryPerPage | limitTo: userPreferences.entryPerPage">
                        <td ng-if="!agentJobExecutionFilters.current"><span ng-bind="agentTask.jobschedulerId"></span></td>
                        <td><a target="_blank" href="{{agentTask.agent}}" class="text-hover-primary" ng-bind="agentTask.agent"></a></td>
                        <td><span ng-bind="agentTask.cause"></span></td>
                        <td><span ng-bind="agentTask.numOfSuccessfulTasks"></span></td>
                        <td><span ng-bind="agentTask.numOfJobs"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="inline text-sm m-l-xs m-b-sm" ng-class="{'m-t-xs m-l-sm': agentTasks.length > 10}"
                     ng-if="agentTasks.length >0"> {{agentTasks.length}}
                    <span translate ng-if="agentTasks.length >1">label.agentTasksFound</span>
                    <span translate ng-if="agentTasks.length ==1">label.agentTaskFound</span>.
                    <span translate>label.totalNumberOfExecutions</span>: {{totalJobExecution}}
                </div>
                <ul ng-show="agentTasks.length > userPreferences.entryPerPage" uib-pagination
                    total-items="agentTasks.length" ng-model="adtLog.currentPage"
                    items-per-page='userPreferences.entryPerPage' class="pagination-sm text-sm m-t-0 pull-right"
                    max-size="5" boundary-link-numbers="true" rotate="false"
                    previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                <div class="pull-left" ng-show="agentTasks.length > 10">
                    <div class="btn-group m-r-xxs">
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'10'"
                                ng-class="{'primary': userPreferences.entryPerPage=='10'}">10
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'25'"
                                ng-class="{'primary': userPreferences.entryPerPage=='25'}">25
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'50'"
                                ng-class="{'primary': userPreferences.entryPerPage=='50'}">50
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="'100'"
                                ng-class="{'primary': userPreferences.entryPerPage=='100'}">100
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage"
                                uib-btn-radio="{{maxEntryPerPage}}"
                                ng-class="{'primary': userPreferences.entryPerPage==maxEntryPerPage}">
                            {{maxEntryPerPage}}
                        </button>
                    </div>
                </div>
                <div ng-if="isLoading && agentTasks.length==0" class="text-center m-t-md h6 text-uppercase" translate>message.noAgentTaskFound</div>
            </div>
        </div>
    </div>
    <div ng-if="!isLoading" class="text-center m-t-lg">
        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
    </div>
</div>
