<div class="hide-block sidebar-btn resize-cursor">
    <i class="fa fa-angle-double-right p-l-sm" ng-click="showLeftPanel()"></i>
</div>
<div id="leftPanel" class="leftPanel" resizable r-directions="['right']" r-width="270" ng-show="tree.length>0">
    <div>
        <a class="text" ng-click="my_tree.expand_all();" uib-tooltip="{{'tooltip.expandAll' | translate}}">
            <i class="fa fa-angle-double-down fa-lg"></i>
        </a>
        <a class="text m-l-xs" ng-click="my_tree.collapse_all();" uib-tooltip="{{'tooltip.collapseAll' | translate}}">
            <i class="fa fa-angle-double-up fa-lg"></i>
        </a>
        <a class="text resize-cursor" uib-tooltip="{{'tooltip.hideTree' | translate}}" tooltip-placement="left" style="position: absolute; right: 28px;"><i class="fa fa-angle-double-left fa-lg" ng-click="hidePanel()" ></i></a>
        <tree tree-data="tree"
              tree-control="my_tree"
              expand-on="expanding_property1"
              on-select="treeHandler1(branch)"
              on-click="treeHandler(branch)"
              expand-node="expandNode(branch)"
              collapse-node="collapseNode(branch)"
              template-url="modules/core/template/tree.html">
        </tree>
    </div>
</div>
<div id="rightPanel1">
    <div class="hide m-t-xs" ng-class="{'show': isLoading}" ng-hide="loading">
        <div class="hide row" ng-class="{'show': pageView=='grid'}">
            <div ng-repeat="(key, value) in allSchedules  | groupBy: 'path1'">
                <div class="col-sm-12" style="margin-bottom: 10px">
                    <span class="text inline"><i class="fa fa-folder-o"></i> {{key}}</span>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                     ng-repeat="schedule in value | orderBy: schdeuleFilters.filter.sortBy:schdeuleFilters.reverse">
                    <div class="box card">
                        <div class="box-body">

                            <div>
                                <label class="md-check pos-abt" ng-if="permission.Schedule.edit">
                                    <input type="checkbox" data-checklist-model="object.schedules" data-checklist-value="schedule"><i class="primary"></i>
                                </label>

                                <div class="text-left block-ellipsis" ng-class="{'m-l-md': permission.Schedule.edit}">
                                    <span uib-tooltip="{{schedule.title}}" ng-bind="schedule.name"></span>
                                    <span class="fa fa-stop text-xs" ng-class="colorFunction(schedule.state.severity)"></span>
                                </div>
                                <div class="btn-group dropdown pull-right abt-dropdown ">
                                    <a href class=" more-option text-black-lt" data-toggle="dropdown"><i class="text fa fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu dropdown-ac dropdown-more">
                                        <a ng-click="showConfiguration('schedule',schedule.path,schedule.name)" class="hide dropdown-item"
                                           ng-class="{show:permission.Schedule.view.configuration}" translate>button.showConfiguration</a>
                                        <a class="hide dropdown-item" ng-class="{show:permission.Schedule.edit}" ng-click="substitute(schedule)" translate>button.addSubstitute</a>
                                        <a class="hide dropdown-item" ng-class="{show:permission.Schedule.edit}" ng-click="editSchedule(schedule)" translate>button.editSchedule</a>
                                        <a class="dropdown-item" ng-click="copyLinkToObject('schedule',schedule.path)" translate>button.copyLinkToObject</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-sm text-left text-muted p-t-sm">
                                <span translate>label.validity </span>:
                                <span ng-bind="schedule.validityFrom || 'never'"></span>
                                <span ng-if="schedule.validityFrom && schedule.validityTo"> - </span>
                                <span ng-bind="schedule.validityTo"></span>
                            </div>
                            <div class="text-sm text-left text-muted p-t-sm">
                                <span translate>label.noOfOrders </span>:
                                <a ng-if="schedule.usedByOrders.length>0" href="#!/schedule/{{schedule.name}}?path={{schedule.path}}" class="text-dark text-hover-primary" ng-bind="schedule.usedByOrders.length"></a>
                                <span class="text-dark" ng-if="!schedule.usedByOrders.length || schedule.usedByOrders.length==0">0</span>
                            </div>
                            <div class="text-sm text-left text-muted p-t-sm">
                                <span translate>label.noOfJobs </span>:
                                <!--<a href="#!/schedule/{{schedule.name}}?path={{schedule.path}}" ng-if="schedule.usedByJobs.length>0" class="text-dark text-hover-primary" ng-bind="schedule.usedByJobs.length">--></a>
                                <span class="text-dark" ng-bind="schedule.usedByJobs.length || 0"></span>
                            </div>
                        </div>
                        <div class="box-footer b-t" >
                            <div>
                                <a ng-if="permission.Schedule.edit" href class="text-left primary-text-hover-color" ng-click="substitute(schedule)"><i class="fa fa-repeat text-black-lt"></i> <span class="text-black-lt" translate>button.addSubstitute</span></a>
                                <a ng-if="permission.Schedule.edit" href class="pull-right primary-text-hover-color" ng-click="editSchedule(schedule)"><i class="fa fa-pencil text-black-lt"></i> <span class="text-black-lt" translate>button.editSchedule</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box p-a" ng-show="pageView=='list' && allSchedules.length>0">
            <div class="table-responsive">
                <table class="table table-hover table-bordered  ">
                    <thead>
                    <tr>
                        <th ng-if="permission.Schedule.edit">
                            <label class="md-check lg-check">
                                <input type="checkbox" ng-model="allCheck.checkbox" ng-click="checkAll()"><i class="primary"></i>
                            </label>
                        </th>
                        <th ng-click="sortByS('name')"><a><span translate>label.scheduleName</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'name' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'name' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('path')"><a><span translate>label.path</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'path' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'path' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('state._text')"><a><span translate>label.status</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'state._text' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'state._text' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('usedByOrders.length')"><a><span translate>label.usedByOrders</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'usedByOrders.length' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'usedByOrders.length' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('usedByJobs.length')"><a><span translate>label.usedByJobs</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'usedByJobs.length' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'usedByJobs.length' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('validityFrom')"><a><span translate>label.validityFrom</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'validityFrom' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'validityFrom' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('validityTo')"><a><span translate>label.validityTo</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'validityTo' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'validityTo' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortByS('subsituteBy')"><a><span translate>label.substituteBy</span>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'subsituteBy' && !schdeuleFilters.reverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="schdeuleFilters.filter.sortBy == 'subsituteBy' && schdeuleFilters.reverse"
                               class="fa fa-caret-down "></i></a>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="schedule in allSchedules | orderBy: schdeuleFilters.filter.sortBy:schdeuleFilters.reverse | startFrom:(schdeuleFilters.currentPage - 1) * schdeuleFilters.pageSize|limitTo: schdeuleFilters.pageSize">
                        <td ng-if="permission.Schedule.edit">
                            <label class="md-check">
                                <input type="checkbox" data-checklist-model="object.schedules"
                                       data-checklist-value="schedule"><i class="primary"></i>
                            </label>
                        </td>
                        <td>{{schedule.name}}
                            <span ng-if="schedule.title">-</span>
                            <i class="text-muted" ng-bind-html="schedule.title"></i>
                        </td>
                        <td ng-bind="schedule.path"></td>
                        <td><span class="label" ng-class="bgColorFunction(schedule.state.severity)"
                                  ng-bind="schedule.state._text  | translate"></span></td>
                        <td>
                            <a ng-if="schedule.usedByOrders.length>0" class="text-hover-primary" href="#!/schedule/{{schedule.name}}?path={{schedule.path}}" ng-bind="schedule.usedByOrders.length"></a>
                            <span ng-if="!schedule.usedByOrders.length || schedule.usedByOrders.length==0">0</span>
                        </td>
                        <td>
                            <!--<a ng-if="schedule.usedByJobs.length>0" class="text-hover-primary" href="#!/schedule/{{schedule.name}}?path={{schedule.path}}" ng-bind="schedule.usedByJobs.length"></a>-->
                            <span ng-bind="schedule.usedByJobs.length || 0"></span>
                        </td>
                        <td ng-bind="schedule.validityFrom || 'never'"></td>
                        <td ng-bind="schedule.validityTo || 'never'"></td>
                        <td ng-bind="schedule.subsituteBy || 'never'"></td>
                        <td>
                            <div class="btn-group dropdown">
                                <a class="more-option-h" href data-toggle="dropdown"><i
                                        class="fa fa-ellipsis-h"></i></a>

                                <div class="dropdown-menu dropdown-ac dropdown-more pull-left m-r-28" role="menu">
                                    <a ng-click="showConfiguration('schedule',schedule.path,schedule.name)"
                                       class="hide dropdown-item"
                                       ng-class="{show:permission.Schedule.view.configuration}" translate>button.showConfiguration</a>
                                    <a class="hide dropdown-item" ng-class="{show:permission.Schedule.edit}" ng-click="substitute(schedule)"
                                       translate>button.addSubstitute</a>
                                    <a class="hide dropdown-item" ng-class="{show:permission.Schedule.edit}" ng-click="editSchedule(schedule)" translate>button.editSchedule</a>
                                    <a class="dropdown-item" ng-click="copyLinkToObject('schedule',schedule.path)" translate>button.copyLinkToObject</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="inline text-sm m-l-xs" ng-class="{'m-t-xs m-l-sm': allSchedules.length > 10}" ng-if="allSchedules.length >0"><span translate>label.total</span> {{allSchedules.length}}
                    <span translate ng-if="allSchedules.length >1">label.schedulesFound</span>
                    <span translate ng-if="allSchedules.length ==1">label.scheduleFound</span>
                </div>
                <ul ng-show="allSchedules.length > schdeuleFilters.pageSize" uib-pagination total-items="allSchedules.length"
                    ng-model="schdeuleFilters.currentPage" items-per-page='schdeuleFilters.pageSize' class="pagination-sm text-sm m-t-0 pull-right" max-size="5"
                    ng-change="pageChange()" boundary-link-numbers="true" rotate="false"
                    previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                <div class="pull-left" ng-show="allSchedules.length > 10">
                    <div class="btn-group m-r-xxs">
                        <button class="btn btn-default white btn-sm" ng-model="schdeuleFilters.pageSize" uib-btn-radio="'10'"
                                ng-class="{'primary': schdeuleFilters.pageSize=='10'}">10
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="schdeuleFilters.pageSize" uib-btn-radio="'25'"
                                ng-class="{'primary': schdeuleFilters.pageSize=='25'}">25
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="schdeuleFilters.pageSize" uib-btn-radio="'50'"
                                ng-class="{'primary': schdeuleFilters.pageSize=='50'}">50
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="schdeuleFilters.pageSize" uib-btn-radio="'100'"
                                ng-class="{'primary': schdeuleFilters.pageSize=='100'}">100
                        </button>
                        <button class="btn btn-default white btn-sm" ng-model="schdeuleFilters.pageSize" uib-btn-radio="{{maxEntryPerPage}}"
                                ng-class="{'primary': schdeuleFilters.pageSize==maxEntryPerPage}">{{maxEntryPerPage}}
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div ng-if="isLoading && !loading && folderPathS && allSchedules.length==0 && tree.length>0" class="text-center m-t h6">
            <span class="text-primary">"{{folderPathS}}"</span>
            <span translate>message.emptyFolder</span>
        </div>
    </div>
    <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
    </div>
    <div class="hide text-center m-t-lg text-primary text" ng-class="{'show': loading}">
        <div><i class="fa fa-spinner fa-spin"></i> {{'label.loading' | translate}}...</div>
    </div>
</div>

<div ng-if="isLoading && tree.length==0 && !loading" class="text-center m-t h6 text-uppercase" translate>message.noScheduleFound</div>
<script>
    $('.table-responsive').on('show.bs.dropdown', function () {
        $('.table-responsive').css("overflow", "inherit");
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.table-responsive').css("overflow", "auto");
    });
    $(document).ready(function () {
        $('#leftPanel').stickySidebar({
            sidebarTopMargin: 190
        });
    });
</script>

