<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding p-l">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="scroll-y max-ht">
    <div class="padding p-b-0 ">
        <div class="hide m-t-sm" ng-class="{'show': isLoading}">
            <div class="box p-a">
                <div class="table-responsive" resizable r-directions="['bottom']" r-height="450">
                    <table class="table table-hover table-bordered  ">
                        <thead>
                        <tr>
                            <th width="45"><span translate>label.action</span></th>
                            <th><span translate>label.scheduleName</span></th>
                            <th><span translate>label.path</span></th>
                            <th><span translate>label.status</span></th>
                            <th><span translate>label.usedByOrders</span></th>
                            <th><span translate>label.usedByJobs</span></th>
                            <th><span translate>label.validityFrom</span></th>
                            <th><span translate>label.validityTo</span></th>
                            <th><span translate>label.substitute</span></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="schedule in allSchedules">
                        <tr >
                            <td>
                                <div class="btn-group dropdown">
                                    <a class="more-option-h" href data-toggle="dropdown"><i
                                            class="fa fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu dropdown-ac dropdown-more list-drop" role="menu">
                                        <a ng-click="showConfiguration('schedule',schedule.path,schedule.name)"
                                           class="hide dropdown-item"
                                           ng-class="{show:permission.Schedule.view.configuration}" translate>button.showConfiguration</a>
                                        <a class="hide dropdown-item" ng-class="{show:permission.Schedule.change.addSubstitute}" ng-click="substitute(schedule)"
                                           translate>button.addSubstitute</a>
                                        <a class="hide dropdown-item" ng-class="{show:permission.Schedule.change.editContent}" ng-click="editSchedule(schedule)" translate>button.editSchedule</a>
                                        <a class="dropdown-item" ng-click="copyLinkToObject('schedule',schedule.path)" translate>button.copyLinkToObject</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                               <i class="cursor fa fa-caret-down noExl fa-lg" ng-if="!schedule.show" ng-click="schedule.show = true"></i>
                                <i class="cursor fa fa-caret-up noExl fa-lg" ng-if="schedule.show" ng-click="schedule.show = false"></i>
                                <span ng-class="{'crimson':schedule.configurationStatus.severity==2}">{{schedule.name}}</span>
                                <span ng-if="schedule.title">-</span>
                                <i class="text-muted" ng-bind-html="schedule.title | linky:'_blank'" ></i>
                            </td>
                            <td ng-bind="schedule.path"></td>
                            <td><span class="label" ng-class="bgColorFunction(schedule.state.severity)"
                                      ng-bind="schedule.state._text  | translate"></span></td>
                            <td><span ng-bind="schedule.usedByOrders.length || 0"></span></td>
                            <td><span ng-bind="schedule.usedByJobs.length || 0"></span></td>
                            <td ng-bind="schedule.substitute.validFrom | stringToDate"></td>
                            <td ng-bind="schedule.substitute.validTo | stringToDate"></td>
                            <td ng-bind="schedule.substitute.path"></td>

                        </tr>
                        <tr ng-if="schedule.configurationStatus._text" style="background: transparent !important;">
                            <td></td>
                            <td colspan="8">
                                {{schedule.configurationStatus._text | translate}} :<span ng-class="colorFunction(schedule.configurationStatus.severity)">{{schedule.configurationStatus.message}}</span>
                            </td>
                        </tr>
                        <tr ng-if="schedule.show" style="background: transparent !important;" >
                            <td></td>
                            <td colspan="8">
                                <span ng-if="schedule.usedByOrders">{{'label.usedByOrders' |translate}}: </span>
                                <div class="p-l">
                                    <div ng-repeat="order in schedule.usedByOrders">
                                        <a class="text-hover-primary" ng-click="showOrderLink(order.jobChain);">{{order.orderId}}</a>
                                        <span class="text-muted" translate>label.ofJobChain</span>
                                        <a class="text-hover-primary" ng-click="showJobChain(order.jobChain);">{{order.jobChain}}</a>
                                    </div>
                                </div>
                                <span ng-if="schedule.usedByJobs">{{'label.usedByJobs' |translate}}:</span>
                                <div class="p-l">
                                    <div ng-repeat="job in schedule.usedByJobs"> <a class="text-hover-primary" ng-click="showJob(job.job);">{{job.job}}</a></div>
                                </div>
                                <div ng-if="!schedule.usedByOrders && !schedule.usedByJobs" translate>message.noDataFound</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
</div>
