<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding p-l">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0 ">
        <div class="hide m-t-sm" ng-class="{'show': isLoading}">
            <div class="box p-a">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered  ">
                        <thead>
                        <tr>
                            <th class="menu"><span translate>label.action</span></th>
                            <th><span translate>label.scheduleName</span></th>
                            <th><span translate>label.path</span></th>
                            <th><span translate>label.status</span></th>
                            <th><span translate>label.usedByOrders</span></th>
                            <th><span translate>label.usedByJobs</span></th>
                            <th><span translate>label.validityFrom</span></th>
                            <th><span translate>label.validityTo</span></th>
                            <th><span translate>label.substitute</span></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="schedule in allSchedules">
                        <tr >
                            <td>
                                <div class="btn-group dropdown">
                                    <a class="more-option-h" href dropdown data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu dropdown-ac dropdown-more list-dropdown" role="menu">
                                        <a class="hide dropdown-item" ng-class="{show:permission.Schedule.change.addSubstitute}" ng-click="substitute(schedule)"
                                           translate>button.addSubstitute</a>
                                        <a class="hide dropdown-item" ng-class="{show:permission.Schedule.change.editContent}" ng-click="editSchedule(schedule)" translate>button.editSchedule</a>
                                        <a ng-click="showConfiguration('schedule',schedule.path,schedule.name)"
                                           class="hide dropdown-item" ng-class="{show:permission.Schedule.view.configuration}" translate>button.showConfiguration</a>
                                        <div class="dropdown-divider"></div>
                                        <a href class="dropdown-item" ng-click="assignedDocument(schedule)" ng-if="permission.Schedule.assignDocumentation">
                                            <span translate>button.assignedDocumentation</span>
                                        </a>
                                        <a href class="dropdown-item" ng-click="unassignedDocument(schedule)" ng-if="permission.Schedule.assignDocumentation && schedule.documentation">
                                            <span translate>button.unassignedDocumentation</span>
                                        </a>
                                        <a href class="dropdown-item {{schedule.documentation ? '': 'disable-link'}}" ng-if="permission.Schedule.view.documentation" ng-click="showDocumentation('schedule', schedule.path)">
                                            <span translate>button.showDocumentation</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                               <i class="cursor fa fa-caret-down noExl fa-lg" ng-if="!schedule.show" ng-click="schedule.show = true"></i>
                                <i class="cursor fa fa-caret-up noExl fa-lg" ng-if="schedule.show" ng-click="schedule.show = false"></i>
                                <i ng-if="schedule.documentation && !permission.Schedule.view.documentation" class="fa fa-book"></i>
                                <i ng-if="schedule.documentation && permission.Schedule.view.documentation" ng-click="showDocumentation('schedule', schedule.path)" class="cursor fa fa-book"></i>
                                <span ng-class="{'crimson':schedule.configurationStatus.severity==2}">{{schedule.name}}</span>
                                <span ng-if="schedule.title">-</span>
                                <i class="text-muted" ng-bind-html="schedule.title | linky:'_blank'" ></i>
                            </td>
                            <td><a ng-click="showScheduleLink1(schedule.path)" class="text-hover-primary" ng-bind="schedule.path"></a></td>
                            <td><span class="label" ng-class="bgColorFunction(schedule.state.severity)" ng-bind="schedule.state._text  | translate"></span></td>
                            <td><span ng-bind="schedule.usedByOrders.length || 0"></span></td>
                            <td><span ng-bind="schedule.usedByJobs.length || 0"></span></td>
                            <td ng-bind="schedule.substitute.validFrom | stringToDate"></td>
                            <td ng-bind="schedule.substitute.validTo | stringToDate"></td>
                            <td ng-bind="schedule.substitute.path"></td>
                        </tr>
                        <tr ng-if="schedule.configurationStatus._text">
                            <td></td>
                            <td colspan="8">
                                {{schedule.configurationStatus._text | translate}} :<span ng-class="colorFunction(schedule.configurationStatus.severity)">{{schedule.configurationStatus.message}}</span>
                            </td>
                        </tr>
                        <tr ng-if="schedule.show" >
                            <td></td>
                            <td colspan="8">
                                <span ng-if="schedule.usedByOrders">{{'label.usedByOrders' |translate}}: </span>
                                <div class="p-l">
                                    <div ng-repeat="order in schedule.usedByOrders">
                                        <a class="text-hover-primary" ng-click="showOrderLink(order.jobChain);">{{order.orderId}}</a>
                                        <span class="text-muted" translate>label.ofJobChain</span>
                                        <a class="text-hover-primary" ng-click="showJobChain(order.jobChain);">{{order.jobChain}}</a>
                                    </div>
                                </div>
                                <span ng-if="schedule.usedByJobs">{{'label.usedByJobs' |translate}}:</span>
                                <div class="p-l">
                                    <div ng-repeat="job in schedule.usedByJobs"> <a class="text-hover-primary" ng-click="showJob(job.job);">{{job.job}}</a></div>
                                </div>
                                <div ng-if="!schedule.usedByOrders && !schedule.usedByJobs && !schedule.substitutedBy" translate>message.noDataFound</div>
                            </td>
                        </tr>
                        <tr ng-if="schedule.show && schedule.substitutedBy">
                        <td></td>
                            <td colspan="9" style="padding: 0 !important;">
                                <table class="table m-a-0">
                                    <thead>
                                    <tr>
                                        <th translate>label.substituteBy</th>
                                        <th translate>label.validFrom</th>
                                        <th translate>label.validTo</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="substitutedBy in schedule.substitutedBy">
                                    <tr>
                                        <td><i class="fa fa-{{agent.os.name | lowercase}}"></i> {{substitutedBy.path}}</td>
                                        <td>{{substitutedBy.validFrom | stringToDate}}</td>
                                        <td>{{substitutedBy.validTo | stringToDate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
</div>
