<div class="white box-shadow" style="display: flex">
  <div class="text-center">
    <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border4 b-orange">
      <li class="nav-item">
        <a class="nav-link z-index" [routerLink]="['/configuration/joe']" [routerLinkActive]="['active']">
          <span class="nav-text"><span translate>tab.designer</span></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link z-index" [routerLink]="['/configuration/xml']" [routerLinkActive]="['active']">
          <span class="nav-text"><span translate>tab.xmlEditor</span></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="separator"></div>
</div>
<div class="m-t-sm">
  <router-outlet></router-outlet>
</div>
