<div class="row">
  <div class="col-md-12">
    <div id="toolbar" class="bg-white"></div>
    <div class="row toolbar">
      <div class="col-md-12">
        <div class="b-b m-b-12">
          <div class="inline">
            <ul class="nav navbar-nav navbar-nav-inline nav-active-border3 ">
              <li class="nav-item">
                <a class="nav-link" [nz-tooltip]="'workflow.button.zoomIn' | translate"
                   (click)="zoomIn()">
                  <span class="nav-text"> <i class="icon1-Zoom-In"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   [nz-tooltip]="'workflow.button.zoomOut' | translate" (click)="zoomOut()">
                  <span class="nav-text"> <i class="icon1-Zoom-Out"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a class="nav-link" [nz-tooltip]="'workflow.button.actual' | translate"
                   (click)="actual()">
                  <span class="nav-text"> <i class="icon1-Actual-size"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [nz-tooltip]="'workflow.button.fit' | translate"
                   (click)="fit()">
                  <span class="nav-text"> <i class="icon1-fit-to-width"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="undoBtn"
                   [nz-tooltip]="'workflow.button.undo' | translate" (click)="undo()">
                  <span class="nav-text"> <i class="icon1-undo"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="redoBtn"
                   [nz-tooltip]="'workflow.button.redo' | translate" (click)="redo()">
                  <span class="nav-text"> <i class="icon1-redo"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   [nz-tooltip]="'workflow.button.delete' | translate" (click)="delete()">
                  <span class="nav-text"> <i class="icon1-Delete"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
            </ul>
          </div>
          <div class="inline m-l pos-rlt" *ngIf="workflow.name" style="top: -12px">
            <span class="text-dark p-l-sm">Workflow Name</span>:
            <span class="text-primary">{{workflow.name}}</span>
          </div>
          <div class="inline pull-right">
            <ul class="nav navbar-nav navbar-nav-inline nav-active-border3 ">
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   [nz-tooltip]="'workflow.button.addWorkflow' | translate" (click)="addWorkflow()">
                  <span class="nav-text">  <i nz-icon nzType="plus" nzTheme="outline"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   [nz-tooltip]="'button.export' | translate" (click)="exportJSON()">
                  <span class="nav-text">  <i nz-icon nzType="download" nzTheme="outline"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   [nz-tooltip]="'button.import' | translate" (click)="importJSON()">
                  <span class="nav-text">  <i nz-icon nzType="upload" nzTheme="outline"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'disable-link':!workFlowJson}"
                   [nz-tooltip]="'workflow.button.reload' | translate" (click)="clearWorkFlow()">
                  <span class="nav-text">  <i class="icon1-reset"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'disable-link':!workFlowJson.instructions}"
                   [nz-tooltip]="'workflow.button.submitWorkFlow' | translate" (click)="submitWorkFlow()">
                  <span class="nav-text">  <i class="icon1-SaveIco"></i></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="inline pull-right m-r-sm p-t-xs">
                  <span *ngIf="workFlowJson && workFlowJson.instructions" class="badge"
                        [ngClass]="isWorkflowDraft ? 'badge-danger':'badge-success'"
                        translate>{{isWorkflowDraft ? 'workflow.label.draft' : 'workflow.label.readyToDeploy'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="graph-container">
      <div id="graph"></div>
      <!-- Creates a container for the outline -->
      <div id="outlineContainer"></div>
    </div>
  </div>
</div>
<!-- BEGIN SLIDER -->
<div appResizable id="rightSideBar" *ngIf="selectedNode" class="slideInRight" [ngStyle]="{width: propertyPanelWidth}">
  <div class="close-btn" (click)="close()"></div>
  <div class="text-center" style="margin-top: -40px">
    <h5><span class="b-b p-b-xs" translate>workflow.label.properties</span></h5>
  </div>
  <div class="text-left">
    <div class="box-body" *ngIf="selectedNode.type === 'Job'">
      <app-job-content [selectedNode]="selectedNode" [jobs]="jobs"></app-job-content>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'If'">
      <app-expression-content [selectedNode]="selectedNode"></app-expression-content>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'Fork'">
      <div class="form-group row">
        <label class="col-md-12" translate>workflow.label.branches</label>
      </div>
      <div class="form-group row" *ngFor="let branch of selectedNode.obj.branches; let i = index;">
        <label class="col-md-4 col-lg-3 form-control-label" >
          <span translate>workflow.label.branchId</span> ({{i + 1}})
        </label>
        <div class="col-md-8 col-lg-9">
          <input type="text" class="form-control"
                 name="directory" [(ngModel)]="branch.id">
        </div>
      </div>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'Await'">
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.junctionPath</label>
        <div class="col-md-8 col-lg-9" [ngClass]="{'has-error' : ((junction.dirty || junction.touched) && junction.invalid)}">
          <input autocomplete="off" type="text" class="form-control" required #junction="ngModel"
                 name="junction" [(ngModel)]="selectedNode.obj.junctionPath"  placeholder="{{'workflow.placeholder.enterJunction' | translate}}">
          <div *ngIf="junction.invalid && (junction.dirty || junction.touched)"
               class="text-danger help-block">
            <div *ngIf="junction.errors.required">
              <div translate>message.requiredError</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.timeout</label>
        <div class="col-md-8 col-lg-9">
          <input type="text" class="form-control"
                 name="timeout" [(ngModel)]="selectedNode.obj.timeout">
        </div>
      </div>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'Publish'">
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.junctionPath</label>
        <div class="col-md-8 col-lg-9" [ngClass]="{'has-error' : ((junction.dirty || junction.touched) && junction.invalid)}">
          <input autocomplete="off" type="text" class="form-control" required #junction="ngModel"
                 name="junction" [(ngModel)]="selectedNode.obj.junctionPath"  placeholder="{{'workflow.placeholder.enterJunction' | translate}}">
          <div *ngIf="junction.invalid && (junction.dirty || junction.touched)"
               class="text-danger help-block">
            <div *ngIf="junction.errors.required">
              <div translate>message.requiredError</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'Fail' || selectedNode.type === 'Finish'">
      <div class="form-group row m-t-sm">
        <label class="col-md-12" translate>workflow.label.message</label>
        <div class="col-md-12">
          <textarea class="form-control" name="message" rows="3" [(ngModel)]="selectedNode.obj.message"></textarea>
        </div>
      </div>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'Retry'">
      <div class="form-group row m-t-sm">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.maxTries</label>
        <div class="col-md-8 col-lg-9">
          <nz-input-number [nzMin]="0" [nzStep]="1" name="maxTries"
                           [(ngModel)]="selectedNode.obj.maxTries"></nz-input-number>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.delay</label>
        <div class="col-md-8 col-lg-9">
          <input autocomplete="off" type="text" class="form-control" validateNumberArrayReqex
                 placeholder="{{'placeholder.enterPositiveNumber' | translate}}"
                 name="delay" #retryDelays="ngModel" [(ngModel)]="selectedNode.obj.retryDelays">
        </div>
      </div>
    </div>
    <div class="box-body" *ngIf="selectedNode.type === 'FileWatch'">
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.directory</label>
        <div class="col-md-8 col-lg-9">
          <input type="text" class="form-control"
                 name="directory" [(ngModel)]="selectedNode.obj.directory">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-lg-3 form-control-label" translate>workflow.label.regex</label>
        <div class="col-md-8 col-lg-9">
          <input type="text" class="form-control"
                 name="regex" [(ngModel)]="selectedNode.obj.regex">
        </div>
      </div>
    </div>
  </div>

  <div class="rg-right"><span></span></div>
</div>
<!-- END SLIDER -->




