<div class="modal-header">
  <h4 class="modal-title">
    <span translate>user.label.showPermission</span>:
    {{account.accountName}}
  </h4>
  <button (click)="activeModal.destroy()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<div class="modal-body p-a">
  <div *ngIf="permission.joc">
    <app-permission-view [permission]="permission" [schedulerIds]="schedulerIds"></app-permission-view>
  </div>
  <div *ngIf="!isLoaded" class="loading-center text-primary text ht-260">
    <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
  </div>
  <div *ngIf="!permission.joc && isLoaded" class="vert-middle ht-260">
    <div>
      <app-empty-data></app-empty-data>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="activeModal.destroy()" class="btn btn-grey btn-sm" translate type="button">
    common.button.close
  </button>
</div>

