<ng-template #itemTemplate let-order>
  <ng-template #contentTemplate>
    <div class="p-l-sm">
      <span translate> order.label.state </span>:
      <span class="_600"> {{order.state._text |  translate}}</span>
    </div>
    <div class="p-l-sm" *ngIf="order.lastOutcome">
      <span translate> order.label.lastOutcome </span>:
      <span class="_600" >{{order.lastOutcome.TYPE}}</span>
    </div>
    <div class="p-l-sm" *ngIf="!order.cyclicOrder">
      <span translate> order.label.scheduledFor </span>:
      <span class="_600" >{{order.scheduledFor | stringToDate}}</span>
    </div>
    <div class="m-a-sm m-t-0" *ngIf="order.cyclicOrder">
      <div class="_600 m-b-xs" translate>dailyPlan.label.cyclicOrder</div>
      <span class="_600 p-l-sm" translate>dailyPlan.label.begin</span>:
      {{order.cyclicOrder.firstStart | stringToDate}}
      <br>
      <span class="_600 p-l-sm" translate>dailyPlan.label.end</span>:
      {{order.cyclicOrder.lastStart | stringToDate}}
      <br>
      <span class="_600 p-l-sm" translate>order.label.orders</span>:
      {{order.cyclicOrder.count}}
    </div>
  </ng-template>
  <app-order-action [order]="order" [schedulerId]="schedulerId" [permission]="permission"
                    [preferences]="preferences"></app-order-action>
  <span [nz-tooltip]="contentTemplate">
    <i class="fa fa-circle p-r-s" [ngClass]="coreService.getColor(order.state.severity, 'text')"></i>
    {{order.orderId}} <i *ngIf="order.cyclicOrder" class="fa fa-repeat p-l-xs p-r-xs" aria-hidden="true"></i>
    <i class="text-sm text-muted" *ngIf="order.scheduledFor">{{order.scheduledFor | stringToDate}}</i>
  </span>
</ng-template>
<div *ngFor="let instruction of configuration.instructions">
  <ul style="margin-bottom: 0">
    <li >
      <a class="hover"
        *ngIf="instruction.TYPE === 'Fork' || instruction.TYPE === 'If' || instruction.TYPE === 'Try' || instruction.TYPE === 'Retry' || instruction.TYPE === 'Lock'">
        <i (click)="collapse(instruction)" class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (instruction.show || expandAll)}"></i>
        <i *ngIf="instruction.TYPE !== 'Lock'" class="_600">{{instruction.TYPE}}</i>
        <i *ngIf="instruction.TYPE === 'Lock'" class="_600" [nz-tooltip]="lockItemTemplate">{{instruction.TYPE}}</i>
        <ng-template #lockItemTemplate>
          <div>
            <div class="p-l-sm">
              <span translate> workflow.label.name </span>:
              <span class="_600"> {{instruction.lockName |  translate}}</span>
            </div>
            <div class="p-l-sm">
              <span translate> workflow.label.count </span>:
              <span class="_600" >{{instruction.count}}</span>
            </div>
          </div>
        </ng-template>
        <span class="expand-collapse-btn">
          <i class="fa fa-lg fa-angle-double-down" (click)="expandNode(instruction)"></i>
          <i class="fa fa-lg fa-angle-double-up p-l-xs" (click)="collapseNode(instruction)"></i>
        </span>
        <span class="m-l" *ngIf="instruction.orders && instruction.orders.length> 0">
          <ng-template ngFor let-order [ngForOf]="instruction.orders | orderBy : 'scheduledFor': true | slice:0:3">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
          </ng-template>
          <span class="remaining-order-count" (click)="showOrders(instruction)" *ngIf="instruction.orders.length > 3">
            <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
            <span class="remaining-order-count-span">{{instruction.orders.length - 3}}</span>
          </span>
        </span>
        <span class="order-count" (click)="showOrders(instruction)" *ngIf="instruction.orderCount > 0 && (!instruction.show && !expandAll)">{{instruction.orderCount}}</span>
      </a>
      <div *ngIf="instruction.TYPE === 'Job' || instruction.TYPE === 'Fail' || instruction.TYPE === 'Finish' || instruction.TYPE === 'ImplicitEnd'
       || instruction.TYPE === 'Publish' || instruction.TYPE === 'Await'" [ngClass]="{'m-t-xs m-l-n-40 text-primary': instruction.TYPE === 'ImplicitEnd'}">
        <div class="btn-group dropdown" style="margin-left: -10px" *ngIf="instruction.TYPE === 'Job'">
          <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
                  type="button">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu" role="menu">
            <ul nz-menu>
              <li nz-menu-item>
                <a (click)="showConfiguration(instruction);">
                  <span translate>common.button.showConfiguration</span>
                </a>
              </li>
              <li nz-menu-item>
                <a (click)="viewDocumentation(instruction);">
                  <span translate>common.button.viewDocumentation</span>
                </a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <a [ngClass]="{'cursor': instruction.TYPE === 'Job'}" (click)="showConfiguration(instruction)">{{instruction.jobName || (instruction.TYPE | translate)}}</a>
        <span class="m-l-md" *ngIf="instruction.orders && instruction.orders.length> 0">
         <ng-template ngFor let-order [ngForOf]="instruction.orders | orderBy : 'scheduledFor': true | slice:0:3">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
          </ng-template>
          <span class="remaining-order-count" (click)="showOrders(instruction)" *ngIf="instruction.orders.length > 3">
            <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
            <span class="remaining-order-count-span">{{instruction.orders.length - 3}}</span>
          </span>
        </span>
      </div>
      <div *ngIf="instruction.TYPE === 'Fork' && (instruction.show || expandAll)">
        <div *ngFor="let branch of instruction.branches">
          <div class="p-l-md">
            <a class="m-l" (click)="collapse(branch)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (branch.show || expandAll)}"></i>
              <i class="_600">{{branch.id}}</i>
            </a>
            <span class="m-l-md" *ngIf="branch.orders && branch.orders.length> 0">
              <ng-template ngFor let-order [ngForOf]="branch.orders | orderBy : 'scheduledFor': true | slice:0:3">
                  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
              </ng-template>
              <span class="remaining-order-count" (click)="showOrders(branch)" *ngIf="branch.orders.length > 3">
                <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
                <span class="remaining-order-count-span">{{branch.orders.length - 3}}</span>
              </span>
            </span>
            <span class="order-count" (click)="showOrders(branch)" *ngIf="branch.orderCount > 0 && (!branch.show && !expandAll)"> {{branch.orderCount}}</span>
            <div class="p-l" *ngIf="branch.instructions && (branch.show || expandAll)">
              <app-type [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId"
                        [configuration]="branch" [jobs]="jobs" [orderRequirements]="orderRequirements" [expandAll]="expandAll"></app-type>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'If' && (instruction.show || expandAll)">
        <div *ngIf="instruction.then && instruction.then.instructions">
          <app-type [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction.then" [jobs]="jobs" [orderRequirements]="orderRequirements" [expandAll]="expandAll"></app-type>
          <div class="p-l-md">
            <a class="m-l" *ngIf="instruction.else" (click)="collapse(instruction.else)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (instruction.else.show || expandAll)}"></i>
              <i class="_600">Else</i>
            </a>
            <span class="m-l-md" *ngIf="instruction.else && instruction.else.orders && instruction.else.orders.length>0">
              <ng-template ngFor let-order [ngForOf]="instruction.else.orders | orderBy : 'scheduledFor': true | slice:0:3">
                  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order }"></ng-container>
              </ng-template>
              <span class="remaining-order-count" (click)="showOrders(instruction.else)" *ngIf="instruction.else.orders.length > 3">
                <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
                <span class="remaining-order-count-span">{{instruction.else.orders.length - 3}}</span>
              </span>
            </span>
            <span class="order-count" (click)="showOrders(instruction.else)" *ngIf="instruction.else && instruction.else.orderCount > 0 && (!instruction.else.show && !expandAll)">{{instruction.else.orderCount}}</span>
            <div class="p-l" *ngIf="instruction.else && (instruction.else.show || expandAll)">
              <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                        [configuration]="instruction.else" [jobs]="jobs" [expandAll]="expandAll" *ngIf="instruction.else.instructions"></app-type>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Try' && (instruction.show || expandAll)">
          <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction" [jobs]="jobs" [expandAll]="expandAll" *ngIf="instruction.instructions"></app-type>
          <div class="p-l-md">
            <a class="m-l" *ngIf="instruction.catch" (click)="collapse(instruction.catch)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (instruction.catch.show || expandAll)}"></i>
              <i class="_600">Catch</i>
            </a>
            <span class="m-l-md" *ngIf="instruction.catch && instruction.catch.orders && instruction.catch.orders.length>0">
              <ng-template ngFor let-order [ngForOf]="instruction.catch.orders | orderBy  : 'scheduledFor': true | slice:0:3">
                  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
              </ng-template>
              <span class="remaining-order-count" (click)="showOrders(instruction.catch)" *ngIf="instruction.catch.orders.length > 3">
                <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
                <span class="remaining-order-count-span">{{instruction.catch.orders.length - 3}}</span>
              </span>
            </span>
            <span class="order-count" (click)="showOrders(instruction.catch)" *ngIf="instruction.catch && instruction.catch.orderCount > 0 && (!instruction.catch.show && !expandAll)">{{instruction.catch.orderCount}}</span>
            <div class="m-l" *ngIf="instruction.catch && (instruction.catch.show || expandAll)">
              <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                        [configuration]="instruction.catch" [jobs]="jobs" [expandAll]="expandAll" *ngIf="instruction.catch.instructions"></app-type>
            </div>
          </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Retry' && (instruction.show || expandAll)">
        <div>
          <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction" [jobs]="jobs" [expandAll]="expandAll" *ngIf="instruction.instructions"></app-type>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Lock' && (instruction.show || expandAll)">
        <div>
          <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction" [jobs]="jobs" [expandAll]="expandAll" *ngIf="instruction.instructions"></app-type>
        </div>
      </div>
    </li>
  </ul>
</div>
<nz-drawer [nzVisible]="sideBar.isVisible" nzPlacement="right" (nzOnClose)="sideBar.isVisible = false">
  <ng-container *nzDrawerContent>
    <div class="close-btn" (click)="sideBar.isVisible = false"></div>
    <app-order-list-sidebar [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId" [orders]="sideBar.orders"></app-order-list-sidebar>
  </ng-container>
</nz-drawer>
