<ng-template #itemTemplate let-order>
  <ng-template #contentTemplate>
    <div class="p-l-sm">
      <span translate> order.label.state </span>:
      <span class="_600"> {{order.state._text |  translate}}</span>
    </div>
    <div class="p-l-sm" *ngIf="order.lastOutcome">
      <span translate> order.label.lastOutcome </span>:
      <span class="_600" >{{order.lastOutcome.TYPE}}</span>
    </div>
    <div class="p-l-sm">
      <span translate> order.label.scheduledFor </span>:
      <span class="_600" >{{order.scheduledFor | stringToDate}}</span>
    </div>
  </ng-template>
  <app-order-action [order]="order" [schedulerId]="schedulerId" [permission]="permission"
                    [preferences]="preferences"></app-order-action>
  <span [nz-tooltip]="contentTemplate">
    <i class="fa fa-circle p-r-s" [ngClass]="coreService.getColor(order.state.severity, 'text')"></i>
    {{order.orderId}}
    <i class="text-sm text-muted" *ngIf="order.scheduledFor">{{order.scheduledFor | stringToDate}}</i>
   <!-- <span class="text-success p-l-xs text-xs" *ngIf="order.scheduledFor">({{order.scheduledFor | timeInString}})</span>-->
  </span>
</ng-template>
<div *ngFor="let instruction of configuration.instructions">
  <ul style="margin-bottom: 0">
    <li >
      <a class="hover"
        *ngIf="instruction.TYPE === 'Fork' || instruction.TYPE === 'If' || instruction.TYPE === 'Try' || instruction.TYPE === 'Retry' || instruction.TYPE === 'Lock'">
        <i (click)="collapse(instruction)" class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (instruction.show || expandAll)}"></i>
        <i class="_600">{{instruction.TYPE}}</i>
        <span class="expand-collapse-btn">
          <i class="fa fa-lg fa-angle-double-down" (click)="expandNode(instruction)"></i>
          <i class="fa fa-lg fa-angle-double-up p-l-xs" (click)="collapseNode(instruction)"></i>
        </span>
        <span class="m-l" *ngIf="instruction.orders && instruction.orders.length> 0">
          <ng-template ngFor let-order [ngForOf]="instruction.orders | orderBy : 'scheduledFor': true | slice:0:3">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
          </ng-template>
          <span class="remaining-order-count" (click)="showOrders(instruction)" *ngIf="instruction.orders.length > 3">
            <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
            <span class="remaining-order-count-span">{{instruction.orders.length - 3}}</span>
          </span>
        </span>
        <span class="order-count" (click)="showOrders(instruction)" *ngIf="instruction.count > 0 && (!instruction.show && !expandAll)">{{instruction.count}}</span>
      </a>
      <div *ngIf="instruction.TYPE === 'Job' || instruction.TYPE === 'Fail' || instruction.TYPE === 'Finish' || instruction.TYPE === 'ImplicitEnd'
       || instruction.TYPE === 'Publish' || instruction.TYPE === 'Await'" [ngClass]="{'m-t-xs m-l-n-40 text-primary': instruction.TYPE === 'ImplicitEnd'}">
        {{instruction.jobName || (instruction.TYPE | translate)}}
        <span class="m-l-md" *ngIf="instruction.orders && instruction.orders.length> 0">
         <ng-template ngFor let-order [ngForOf]="instruction.orders | orderBy : 'scheduledFor': true | slice:0:3">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
          </ng-template>
          <span class="remaining-order-count" (click)="showOrders(instruction)" *ngIf="instruction.orders.length > 3">
            <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
            <span class="remaining-order-count-span">{{instruction.orders.length - 3}}</span>
          </span>
        </span>
      </div>
      <div *ngIf="instruction.TYPE === 'Fork' && (instruction.show || expandAll)">
        <div *ngFor="let branch of instruction.branches">
          <div class="p-l-md">
            <a class="m-l" (click)="collapse(branch)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (branch.show || expandAll)}"></i>
              <i class="_600">{{branch.id}}</i>
            </a>
            <span class="m-l-md" *ngIf="branch.orders && branch.orders.length> 0">
              <ng-template ngFor let-order [ngForOf]="branch.orders | orderBy : 'scheduledFor': true | slice:0:3">
                  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
              </ng-template>
              <span class="remaining-order-count" (click)="showOrders(branch)" *ngIf="branch.orders.length > 3">
                <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
                <span class="remaining-order-count-span">{{branch.orders.length - 3}}</span>
              </span>
            </span>
            <span class="order-count" (click)="showOrders(branch)" *ngIf="branch.count > 0 && (!branch.show && !expandAll)"> {{branch.count}}</span>
            <div class="p-l" *ngIf="branch.instructions && (branch.show || expandAll)">
              <app-type [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId"
                        [configuration]="branch" [orderRequirements]="orderRequirements" [expandAll]="expandAll"></app-type>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'If' && (instruction.show || expandAll)">
        <div *ngIf="instruction.then && instruction.then.instructions">
          <app-type [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction.then" [orderRequirements]="orderRequirements" [expandAll]="expandAll"></app-type>
          <div class="p-l-md">
            <a class="m-l" *ngIf="instruction.else" (click)="collapse(instruction.else)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (instruction.else.show || expandAll)}"></i>
              <i class="_600">Else</i>
            </a>
            <span class="m-l-md" *ngIf="instruction.else.orders && instruction.else.orders.length>0">
              <ng-template ngFor let-order [ngForOf]="instruction.else.orders | orderBy : 'scheduledFor': true | slice:0:3">
                  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order }"></ng-container>
              </ng-template>
              <span class="remaining-order-count" (click)="showOrders(instruction.else)" *ngIf="instruction.else.orders.length > 3">
                <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
                <span class="remaining-order-count-span">{{instruction.else.orders.length - 3}}</span>
              </span>
            </span>
            <span class="order-count" (click)="showOrders(instruction.else)" *ngIf="instruction.else.count > 0 && (!instruction.else.show && !expandAll)">{{instruction.else.count}}</span>
            <div class="p-l" *ngIf="instruction.else && (instruction.else.show || expandAll)">
              <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                        [configuration]="instruction.else" [expandAll]="expandAll" *ngIf="instruction.else.instructions"></app-type>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Try' && (instruction.show || expandAll)">
          <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction" [expandAll]="expandAll" *ngIf="instruction.instructions"></app-type>
          <div class="p-l-md">
            <a class="m-l" *ngIf="instruction.catch" (click)="collapse(instruction.catch)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : (instruction.catch.show || expandAll)}"></i>
              <i class="_600">Catch</i>
            </a>
            <span class="m-l-md" *ngIf="instruction.catch.orders && instruction.catch.orders.length>0">
              <ng-template ngFor let-order [ngForOf]="instruction.catch.orders | orderBy  : 'scheduledFor': true | slice:0:3">
                  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: order}"></ng-container>
              </ng-template>
              <span class="remaining-order-count" (click)="showOrders(instruction.catch)" *ngIf="instruction.catch.orders.length > 3">
                <i class="remaining-order-count-i" translate>workflow.label.showOther</i>
                <span class="remaining-order-count-span">{{instruction.catch.orders.length - 3}}</span>
              </span>
            </span>
            <span class="order-count" (click)="showOrders(instruction.catch)" *ngIf="instruction.catch.count > 0 && (!instruction.catch.show && !expandAll)">{{instruction.catch.count}}</span>
            <div class="m-l" *ngIf="instruction.catch && (instruction.catch.show || expandAll)">
              <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                        [configuration]="instruction.catch" [expandAll]="expandAll" *ngIf="instruction.catch.instructions"></app-type>
            </div>
          </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Retry' && (instruction.show || expandAll)">
        <div>
          <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction" [expandAll]="expandAll" *ngIf="instruction.instructions"></app-type>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Lock' && (instruction.show || expandAll)">
        <div>
          <app-type [permission]="permission" [orderRequirements]="orderRequirements" [preferences]="preferences" [schedulerId]="schedulerId"
                    [configuration]="instruction" [expandAll]="expandAll" *ngIf="instruction.instructions"></app-type>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="rightSideBar" *ngIf="sideBar.isVisible" class="slideInRight">
  <div class="close-btn" (click)="sideBar.isVisible = false"></div>
  <app-order-list-sidebar [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId" [orders]="sideBar.orders"></app-order-list-sidebar>
</div>
