<div class="modal-header">
  <h4 class="modal-title">
    <span translate>workflow.label.valueEditor</span>
  </h4>
  <a class="max-btn" appMaximum [textarea]="myInputField">
    <i class="fa fa-window-maximize"></i>
  </a>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.destroy()">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<form (ngSubmit)="onSubmit()" spellcheck="false">
  <div class="modal-body p-a">
    <div class="row">
      <div class="col-md-12 mono-font" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
        <textarea [facetValidation]="object.facet" #value="ngModel" nz-input name="value" #myinput (keyup)="do_resize()" [(ngModel)]="data" rows="10"
                  placeholder="{{'common.placeholder.value' | translate}}"
        ></textarea>
        <i class="pos-abt cursor fa fa-info-circle" *ngIf="object.message" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="object.message" style="right: 22px;top:9px;"></i>
        <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
             class="text-danger help-block">
          <div *ngIf="value.errors['required']">
            <div translate>common.message.requiredError</div>
          </div>
          <div *ngIf="value.errors['invalidFacet']" translate>common.message.invalid</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" translate type="submit">
      common.button.submit
    </button>
    <button (click)="activeModal.destroy()" class="btn btn-grey btn-sm"
            translate type="button">
      common.button.cancel
    </button>
  </div>
</form>
