<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="inline m-l-sm" ng-class="{'hide':object.jobChains.length>0}">

                                <input class="form-control input-date" ng-model="filter.from"
                                       data-date-format="yyyy-MM-dd" data-autoclose="1" placeholder="yyyy-mm-dd"
                                       bs-datepicker type="text" ng-change="getPlans('dateRange')">
                                <input class="form-control input-date" ng-model="filter.to"
                                       data-date-format="yyyy-MM-dd" data-autoclose="1"
                                       placeholder="yyyy-mm-dd"
                                       bs-datepicker type="text" ng-change="getPlans('dateRange')">

                        <div class="btn-group m-l-sm">

                            <button class="btn btn-grey btn-sm" ng-model="filter.range" uib-btn-radio="'today'"
                                    ng-class="{'btn-primary': filter.range=='today'}" ng-click="getPlans()">Today
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.range"
                                    uib-btn-radio="'next-24-hours'"
                                    ng-class="{'btn-primary': filter.range=='next-24-hours'}" ng-click="getPlans()"
                                    translate>button.next24
                            </button>
                        </div>


                        <div class="btn-group m-l-sm">

                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'all'"
                                    ng-class="{'btn-primary': filter.status=='all'}" ng-click="getPlans()">All
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'WAITING'"
                                    ng-class="{'btn-primary': filter.status=='WAITING'}" ng-click="getPlans()">Waiting
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'LATE'"
                                    ng-class="{'btn-primary': filter.status=='LATE'}" ng-click="getPlans()">Late
                            </button>
                            <button class="btn btn-grey btn-sm" ng-model="filter.status" uib-btn-radio="'EXECUTED'"
                                    ng-class="{'btn-primary': filter.status=='EXECUTED'}" ng-click="getPlans()">Executed
                            </button>


                        </div>
                        <div class="btn-group dropdown">
                            <a class="btn btn-grey btn-sm m-l-sm" data-toggle="dropdown"><span
                                    translate>label.sortBy</span> <span
                                    class="text-primary">
                                <span ng-show="filter.sortBy =='processedPlan'">
                                    {{'label.name' | translate}}
                                 <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>
                                <span ng-show="filter.sortBy =='orderId'">
                                    {{'label.orderId' | translate}}
                                  <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>
                                <span ng-show="filter.sortBy =='nextStartTime'">
                                    {{'label.planned' | translate}}
                               <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>
                                <span ng-show="filter.sortBy =='status'">
                                   {{'label.executed' | translate}}
                               <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                </span>

                                </span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" href ng-click="mainSortBy('processedPlan')" translate>label.name</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('orderId')" translate>label.orderId</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('nextStartTime')"
                                   translate>label.plannedStart</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('status')"
                                   translate>label.status</a>
                            </div>
                        </div>


                        <div class="btn-group dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown">
                                {{'label.filters' | translate}} <span class="text-primary"
                                                                      ng-bind="savedDailyPlanFilter.selected"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-click="applyFilter()" translate>label.createFilter</a>
                                <a class="dropdown-item" ng-click="editFilters()"
                                   ng-if="savedDailyPlanFilter.list.length>0" translate>label.editExistingFilters</a>

                                <div class="dropdown-divider" ng-if="savedDailyPlanFilter.length>0"></div>
                                <a class="dropdown-item"
                                   ng-class="{orange: savedDailyPlanFilter.selected == filter.name}"
                                   ng-click="changeFilter(filter.name)"
                                   ng-repeat="filter in savedDailyPlanFilter.list track by $index">
                                    {{filter.name}} <i ng-click="changeFilter();$event.stopPropagation();"
                                                       ng-if="savedDailyPlanFilter.selected == filter.name"
                                                       class="fa fa-times-circle-o remove"></i>
                                </a></div>
                        </div>
                        <button class="btn btn-grey btn-sm m-l-sm" id="exportToExcelBtn" ng-click="exportToExcel()"><img src="images/share.png" class="p-b-xs"> </button>


<!--                        <div class="btn-group dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="text-primary" ng-bind="dataSource"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-click="dataSource='Demo';load('Demo')" >Demo</a>
                                <a class="dropdown-item" ng-click="dataSource='From API';load('From API')">From API</a>
                        </div>-->
                    </div>

                    <toggle-view></toggle-view>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0">


        <div class="hide" ng-class="{'show': isLoading }">


            <div class="hide m-t-sm" ng-class="{'show': pageView=='grid'}">
                <div class="box p-a">
                    <div class="hide" ng-class="{show:data.length>0}">
                        <div gantt
                         data="data"
                         show-side="options.labelsEnabled"
                         daily="options.daily"
                         current-date="options.currentDate"
                         current-date-value="options.currentDateValue"
                         filter-task="{'name': options.filterTask}"
                         filter-row="{'name': options.filterRow}"
                         sort-mode="options.sortMode"
                         view-scale="options.scale"
                         column-width="getColumnWidth(options.width, options.scale, options.zoom)"
                         auto-expand="options.autoExpand"
                         task-out-of-range="options.taskOutOfRange"
                         from-date="options.fromDate"
                         to-date="options.toDate"
                         allow-side-resizing="options.allowSideResizing"
                         task-content="options.taskContentEnabled ? options.taskContent : undefined"
                         row-content="options.rowContentEnabled ? options.rowContent : undefined"
                         headers="options.width && options.shortHeaders || options.longHeaders"
                         max-height="options.maxHeight"
                         time-frames="options.timeFrames"
                         date-frames="options.dateFrames"
                         time-frames-working-mode="options.timeFramesWorkingMode"
                         time-frames-non-working-mode="options.timeFramesNonWorkingMode"
                         time-frames-magnet="options.timeFramesMagnet"
                         api="options.api"
                         shrink-to-fit="option.shrinkToFit"
                         column-magnet="options.columnMagnet">
                        <gantt-tree header-content="options.treeHeaderContent"
                                    keep-ancestor-on-filter-row="false">
                        </gantt-tree>
                        <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
                                     columns="options.treeTableColumns "
                                     headers="options.columnsHeaders"
                                     classes="options.columnsClasses"
                                     formatters="options.columnsFormatters"
                                     contents="options.columnsContents"
                                     header-contents="options.columnsHeaderContents">
                        </gantt-table>
                        <gantt-groups
                                enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview' || options.groupDisplayMode === 'promote'"
                                display="options.groupDisplayMode"></gantt-groups>
                        <gantt-tooltips></gantt-tooltips>
                        <gantt-bounds></gantt-bounds>
                        <gantt-progress></gantt-progress>
                        <gantt-sortable></gantt-sortable>
                        <gantt-movable enabled="!options.readOnly"></gantt-movable>

                        <gantt-overlap></gantt-overlap>
                    </div>
                    </div>
                    <div class="hide" ng-class="{show:!data || data.length==0}">
                       <div class="text-center m-t text-uppercase text-orange" translate>message.noDataMatched</div>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="hide box p-a " ng-class="{'show': pageView=='list'}" context-menu="menuOptions">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered ">
                        <thead>
                        <tr>
                            <th>
                                <label class="md-check">
                                    <input type="checkbox" ng-model="allCheck.checkbox" ng-click="checkAll()">
                                    <i class="primary"></i>
                                </label>
                            </th>

                            <th ng-click="sortBy('processedPlan')"><a><span translate>label.jobChain</span><span>/</span><span translate>label.job</span>

                                <i ng-show="propertyName == 'processedPlan' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'processedPlan' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>
                            <th ng-click="sortBy('orderId')"><a><span translate>label.orderId</span>
                                <i ng-show="propertyName == 'orderId' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'orderId' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                             <th ng-click="sortBy('plannedStart')"><a><span translate>label.plannedStart</span>
                                <i ng-show="propertyName == 'plannedStart' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'plannedStart' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                            <th ng-click="sortBy('expectedEnd')"><a><span translate>label.expectedEnd</span>
                                <i ng-show="propertyName == 'expectedEnd' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'expectedEnd' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                            <th ng-click="sortBy('duration')"><a><span translate>label.duration</span>
                                <i ng-show="propertyName == 'duration' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'duration' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                            <th ng-click="sortBy('start')"><a><span translate>label.start</span>
                                <i ng-show="propertyName == 'start' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'start' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                             <th ng-click="sortBy('end')"><a><span translate>label.end</span>
                                <i ng-show="propertyName == 'end' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'end' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                             <th ng-click="sortBy('duration')"><a><span translate>label.duration</span>
                                <i ng-show="propertyName == 'duration' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'duration' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>

                            <th ng-click="sortBy('status')"><a><span translate>label.status</span>
                                <i ng-show="propertyName == 'status' && !reverse"
                                   class="fa fa-caret-down "></i>
                                <i ng-show="propertyName == 'status' && reverse"
                                   class="fa fa-caret-up "></i></a>
                            </th>



                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="plan in filtered = (plans | filter: filterString:strict) | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
                        <tr>
                            <td>
                                <label class="md-check">
                                    <input type="checkbox" data-checklist-model="object.orders"
                                           data-checklist-value="order"><i class="primary"></i>
                                </label>
                            </td>
                            <td class="hide" ng-class="{show:!plan.name}" ng-bind="plan.jobChain.substring(plan.jobChain.lastIndexOf('/')+1,plan.jobChain.length)"></td>
                            <td class="hide" ng-class="{show:plan.name}" ng-bind="plan.name"></td>
                            <td><span ng-bind="plan.orderId"></span></td>
                            <td><span ng-bind="plan.nextStartTime| stringToDate"></span></td>
                            <td><span ng-bind="plan.expectedEnd| stringToDate"></span></td>
                            <td><span ng-bind="plan.nextStartTime| duration:plan.expectedEnd"></span></td>

                            <td><span ng-bind="plan.start| stringToDate"></span></td>
                            <td><span ng-bind="plan.end| stringToDate"></span></td>
                            <td><span ng-bind="plan.start| duration:plan.end"></span></td>


                            <td ng-show="!plan.name"><span class="text-c label"
                                                           ng-class="bgColorFunction(plan.processingState.severity)"
                                                           ng-bind="plan.processingState._text"></span></td>

                            <td ng-show=" plan.name"><span class=" text-c label"
                                                           ng-class="bgColorFunction(plan.state.severity)"
                                                           ng-bind="plan.state._text"></span></td>





                        </tr>

                        </tbody>
                    </table>
                    <ul ng-show="filtered.length > pageSize" uib-pagination total-items="filtered.length"
                        ng-model="currentPage" items-per-page='pageSize' ng-change="pageChange()"
                        class="pagination-sm m-t-0" max-size="5" boundary-link-numbers="true" rotate="false"
                        previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                    <div class="pull-right" ng-show="filtered.length > 10">
                        <div class="btn-group m-r-xxs">
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'10'"
                                    ng-class="{'primary': pageSize=='10'}">10
                            </button>
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'25'"
                                    ng-class="{'primary': pageSize=='25'}">25
                            </button>
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'50'"
                                    ng-class="{'primary': pageSize=='50'}">50
                            </button>
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'100'"
                                    ng-class="{'primary': pageSize=='100'}">100
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hide text-center m-t text-uppercase text-orange"
                     ng-class="{'show': (temp.length>0 && (!plans||plans.length ==0))}" translate>message.noDataMatched
                </div>
            </div>
        </div>
        <div ng-if="temp.length==0" class="text-center m-t h6 text-uppercase" translate>
            message.noPlanFound
        </div>


    </div>
    <div class="hide text-center m-t-lg " ng-class="{'show': !isLoading1}">
        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
    </div>
    <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
    </div>
</div>

</div>
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-a" style="height: 550px; overflow: auto">

                   <div class="col-sm-12">
                       <input type="text" class="form-control" placeholder="Name of Job chain" ng-model="filterString1">
                   </div>

                <tree-grid tree-data="tree" on-click="selectValue(branch)"></tree-grid>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-grey btn-sm pull-left" data-dismiss="modal" translate>button.cancel</button>
            </div>
        </div>
    </div>
</div>
