<div id="masterClusterStatus1">
    <div class="box-header b-b remove">
        <h3>
            <span *ngIf="selectedJobScheduler.role && selectedJobScheduler.role !== 'STANDALONE'" translate>dashboard.label.jobSchedulerClusterStatus</span>
            <span *ngIf="selectedJobScheduler.role === 'STANDALONE' || !selectedJobScheduler.role" translate>dashboard.label.standaloneJobSchedulerMaster</span>
        </h3>
    </div>
    <div class="box-body" [hidden]="!isLoaded" style="overflow-y:auto;"
    [ngStyle]="{'height': (clusterStatusData ? (ybody * 55 + ((ybody -1) *20 -50)) : 0)+'px'}">
      <div id="clusterStatus" [ngStyle]="{'height':(ybody * 55 + ((ybody -1) *20 -80)) +'px'}"></div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu >
            <li nz-submenu nzTitle="{{'button.terminate' | translate}}" *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.terminate && master && master.role !== 'STANDALONE'
                 && master.clusterNodeState._text === 'active'">
              <ul>
                <li nz-menu-item >
                  <a [ngClass]="{'disable-link':!master.isCoupled}" (click)="clusterAction('terminate', master,true)">{{'button.withSwitchover' | translate}}</a>
                </li>
                <li nz-menu-item >
                  <a (click)="clusterAction('terminate', master,false)">{{'button.withOutSwitchover' | translate}}</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzTitle="{{'button.terminateAndRestart' | translate}}" *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.restart.terminate && master && master.role !== 'STANDALONE' && master.clusterNodeState._text === 'active'">
              <ul>
                <li nz-menu-item >
                  <a [ngClass]="{'disable-link':!master.isCoupled}" (click)="clusterAction('terminateAndRestart', master,true)">{{'button.withSwitchover' | translate}}</a>
                </li>
                <li nz-menu-item >
                  <a (click)="clusterAction('terminateAndRestart', master,false)">{{'button.withOutSwitchover' | translate}}</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzTitle="{{'button.abort' | translate}}" *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.abort && master && master.role !== 'STANDALONE' && master.clusterNodeState._text === 'active'">
              <ul>
                <li nz-menu-item >
                  <a [ngClass]="{'disable-link':!master.isCoupled}" (click)="clusterAction('abort', master,true)">{{'button.withFailover' | translate}}</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzTitle="{{'button.abortAndRestart' | translate}}" *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.restart.abort && master && master.role !== 'STANDALONE' && master.clusterNodeState._text === 'active'">
              <ul>
                <li nz-menu-item >
                <a [ngClass]="{'disable-link':!master.isCoupled}" (click)="clusterAction('abortAndRestart', master,true)">{{'button.withFailover' | translate}}</a>
                </li>
              </ul>
            </li>
            <li nz-menu-item *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.terminate && master && (master.role === 'STANDALONE' || master.clusterNodeState._text !== 'active')">
              <a [ngClass]="{'disable-link': master.componentState._text !== 'operational'}" (click)="clusterAction('terminate', master,false)">{{'button.terminate' | translate}}</a>
            </li>
            <li nz-menu-item *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.restart.terminate && master && (master.role === 'STANDALONE' || master.clusterNodeState._text !== 'active')">
              <a [ngClass]="{'disable-link': master.componentState._text !== 'operational'}" (click)="clusterAction('terminateAndRestart', master,false)">{{'button.terminateAndRestart' | translate}}</a>
            </li>
            <li nz-menu-item *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.abort && master && (master.role === 'STANDALONE' || master.clusterNodeState._text !== 'active')">
              <a [ngClass]="{'disable-link': master.componentState._text !== 'operational'}" (click)="clusterAction('abort', master, false)"
                 translate>button.abort</a></li>
            <li nz-menu-item *ngIf="permission.JobschedulerMaster && permission.JobschedulerMaster.execute.restart.abort && master && (master.role === 'STANDALONE' || master.clusterNodeState._text !== 'active')">
              <a [ngClass]="{'disable-link': master.componentState._text !== 'operational'}" (click)="clusterAction('abortAndRestart', master, false)"
                 translate>button.abortAndRestart</a></li>

            <li nz-menu-item *ngIf="master">
              <a [ngClass]="{'disable-link': master.componentState._text !== 'operational'}" (click)="clusterAction('download', master, false)"
                 translate>button.downloadLog</a></li>
            <li nz-menu-item *ngIf="permission.JobschedulerMaster && permission.JobschedulerMasterCluster.execute.terminate && cluster">
              <a (click)="clusterAction('switchover',cluster, false)"
                 [ngClass]="{'disable-link': cluster._text !== 'ClusterCoupled'}"
                 translate>button.switchOver</a></li>
            <li nz-menu-item *ngIf="joc" ><a (click)="downloadJocLog()"
                   translate>button.downloadLog</a></li>
          </ul>
      </nz-dropdown-menu>
    </div>
    <div class="hide text-center text-primary text" [ngClass]="{'show': !isLoaded}"
         style="padding-top: 140px">
        <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
    </div>
    <div *ngIf="isLoaded && !clusterStatusData" class="vert-middle" [ngStyle]="{'height':(ybody * 55 + ((ybody -1) *20 -50)) +'px'}">
      <div>
        <app-empty-data></app-empty-data>
      </div>
    </div>
</div>
