<div id="masterClusterStatus1">
    <div class="box-header b-b remove">
        <h3>
            <span *ngIf="selectedJobScheduler.role && selectedJobScheduler.role !== 'STANDALONE'" translate>label.masterClusterStatus</span>
            <span *ngIf="selectedJobScheduler.role === 'STANDALONE' || !selectedJobScheduler.role" translate>label.standaloneJobSchedulerMaster</span>
        </h3>
    </div>
   <div class="box-tool" *ngIf="selectedJobScheduler.role && selectedJobScheduler.role !== 'STANDALONE'" >
        <div class="btn-group dropdown pull-right">
            <button class="btn btn-sm btn-grey dropdown-toggle" data-toggle="dropdown" translate>label.menu</button>
            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more">
                <a class="dropdown-item"
                   *ngIf="permission.JobschedulerMasterCluster.execute.restart"
                   (click)="clusterAction('restart',null)"
                   [ngClass]="{'disable-link': selectedJobScheduler.state && selectedJobScheduler.state._text ==='STOPPED'}"
                   translate>button.restart</a>
                <a class="dropdown-item"
                   *ngIf="permission.JobschedulerMasterCluster.execute.terminate"
                   (click)="clusterAction('terminate',null)"
                   [ngClass]="{'disable-link': selectedJobScheduler.state && selectedJobScheduler.state._text ==='STOPPED'}"
                   translate>button.terminate</a>
                <a class="dropdown-item"
                    *ngIf="permission.JobschedulerMasterCluster.execute.terminateFailSafe && selectedJobScheduler.role !== 'STANDALONE'"
                   (click)="clusterAction('terminateFailsafe',null)"
                   [ngClass]="{'disable-link': selectedJobScheduler.state && selectedJobScheduler.state._text=='STOPPED'}"
                   translate>button.terminateFailsafe</a>
                <a class="dropdown-item"
                   *ngIf="permission.JobschedulerMasterCluster.execute.restart && selectedJobScheduler.role !== 'STANDALONE'"
                   (click)="clusterAction('reactivatePrimaryJobscheduler',null)"
                   [ngClass]="{'disable-link':selectedJobScheduler.state && selectedJobScheduler.state._text=='STOPPED'}"
                   translate>button.reactivatePrimaryJobscheduler</a>
                <a class="dropdown-item"
                   *ngIf="permission.JobschedulerMasterCluster.execute.restart && selectedJobScheduler.role !== 'STANDALONE'"
                   (click)="clusterAction('reactivatePrimaryJobschedulerWithIn',null)"
                   [ngClass]="{'disable-link':selectedJobScheduler.state && selectedJobScheduler.state._text=='STOPPED'}"
                   translate>button.reactivatePrimaryJobschedulerWithIn</a>
            </div>
        </div>
    </div>
    <div id="divClusterStatusWidget" class="box-body" [hidden]="!isLoaded" style="overflow-y:auto;"
    [ngStyle]="{'height':(ybody * 125 - 45) +'px'}">
     <div class="clusterDiagram"></div>
    </div>
    <div class="hide text-center text-primary text" [ngClass]="{'show': !isLoaded}"
         style="padding: 140px 0 155px 0">
        <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
    </div>
</div>
