<ng-template #orderTemplate let-order let-plan="plan">
  <ng-container *ngFor="let value of order">
    <tr>
      <td [nzShowCheckbox]="true"
          [nzChecked]="object.mapOfCheckedId.has(value.orderId)"
          (nzCheckedChange)="onItemChecked(value, plan, $event)">
      </td>
      <td>
        <div class="btn-group dropdown">
          <button class="btn-drop more-option-h"
                  [ngClass]="{'disable-link': value.state && value.state._text === 'FINISHED'}"
                  nz-dropdown nzTrigger="click"
                  [nzDropdownMenu]="export5" type="button">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <nz-dropdown-menu #export5="nzDropdownMenu" role="menu">
            <ul nz-menu>
              <li nz-menu-item *ngIf="value.state && value.state._text === 'PLANNED'">
                <a (click)="submitOrder(value, null, false)" translate>dailyPlan.button.submitOrder</a>
              </li>
              <li nz-menu-item class="bg-hover-color"
                  *ngIf="value.state && value.state._text === 'PLANNED'">
                <a (click)="removeOrder(value, null, false)" translate>dailyPlan.button.removeOrder</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && value.state._text !== 'PLANNED' && value.state._text !== 'FINISHED'">
                <a (click)="cancelOrder(value, null )" translate>order.button.cancel</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && value.state._text !== 'PLANNED' && value.state._text !== 'FINISHED'">
                <a (click)="cancelOrderWithKill(value, null )" translate>order.button.cancelAndKillTask</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && value.state._text !== 'PLANNED' && value.state._text !== 'FINISHED'  && value.state._text !== 'FAILED'  && value.state._text !== 'PENDING'">
                <a (click)="suspendOrder(value, null )" translate>order.button.suspend</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && value.state._text !== 'PLANNED' && value.state._text !== 'FINISHED'  && value.state._text !== 'FAILED'  && value.state._text !== 'PENDING'">
                <a (click)="suspendOrderWithKill(value, null )" translate>order.button.suspendAndKillTask</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && (value.state._text === 'SUSPENDED' || value.state._text === 'FAILED')">
                <a (click)="resumeOrder(value, null )" translate>order.button.resume</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && (value.state._text === 'PLANNED' || value.state._text === 'PENDING')">
                <a (click)="modifyOrder(value)" translate>dailyPlan.button.setStartTime</a>
              </li>
              <li nz-menu-item
                  *ngIf="value.state && (value.state._text === 'PLANNED' || value.state._text === 'PENDING')">
                <a (click)="changeParameter(null, value, null)" translate>dailyPlan.button.setParameters</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </td>
      <td [ngStyle]="{'padding-left' : dailyPlanFilters.filter.groupBy === '' ? 'inherit' :  '20px !important'}">
        <i class="fa fa-caret-down cursor p-r-xs" *ngIf="!value.show"
           (click)="addDetailsOfOrder(value)"
           aria-hidden="true"></i>
        <i class="fa fa-caret-up cursor p-r-xs" *ngIf="value.show"
           (click)="addDetailsOfOrder(value)" aria-hidden="true"></i>
        <span *ngIf="value.state && (value.state._text === 'PLANNED' || value.state._text === 'PENDING')" [innerHtml]="value.orderId"></span>
        <a class="text-hover-primary" *ngIf="value.state && (value.state._text !== 'PLANNED' && value.state._text !== 'PENDING')"
        (click)="navToOrderHistory(value.orderId)">{{value.orderId}}</a>
      </td>
      <td *ngIf="dailyPlanFilters.filter.groupBy === ''">
        <i (click)="navToInventoryTab(value.schedulePath, 'SCHEDULE');" class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
        <span>{{value.schedulePath}} </span>
      </td>
      <td *ngIf="dailyPlanFilters.filter.groupBy !== 'WORKFLOW'">
        <i (click)="navToInventoryTab(value.workflowPath, 'WORKFLOW');" class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
        <a class="text-hover-primary" (click)="coreService.showWorkflow(value.workflowPath);">{{value.workflowPath}} </a>
      </td>
      <td>
        <span class="label" [ngClass]="coreService.getColor(value.state.severity,'bg')"
              [innerHtml]="value.status"> </span>
      </td>
      <td><span *ngIf="value.late==true" translate>dailyPlan.label.late</span></td>
      <td><span [innerHtml]="value.plannedStartTime"></span></td>
      <td><span [innerHtml]="value.expectedEndTime"></span></td>
      <td><span
        [innerHtml]="value.expectedDuration"></span>
      </td>
      <td><span [innerHtml]="value.startTime"></span></td>
      <td><span [innerHtml]="value.endTime"></span></td>
      <td><span [innerHtml]="value.duration"></span>
      </td>
      <td><span *ngIf="value.period.repeat">
        {{'dailyPlan.label.repeatEvery' | translate}}
        {{value.period.repeat}}s</span></td>
    </tr>
    <tr *ngIf="value.show">
      <td></td>
      <td></td>
      <td colspan="12">
        <div *ngFor="let variable of value.variables"
             class="plan-variables">
          <span class="btn-group dropdown"
                *ngIf="value.state && (value.state._text === 'PLANNED' || value.state._text === 'PENDING')">
            <button class="btn-drop more-option-h" nz-dropdown
                    nzTrigger="click" [nzDropdownMenu]="export3"
                    type="button">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <nz-dropdown-menu #export3="nzDropdownMenu" role="menu">
              <ul nz-menu>
                <li nz-menu-item>
                  <a (click)="changeParameter(null, value, variable)"
                     translate>dailyPlan.button.setParameter</a>
                </li>
                <li nz-menu-item>
                  <a (click)="removeParameter(value, variable)"
                     translate>dailyPlan.button.removeParameter</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </span>
          <span>{{variable.name}} : {{variable.value}}</span>
        </div>
        <div class="p-l" *ngIf="value.variables && value.variables.length === 0">
          <span translate>common.message.noDataAvailable</span>
        </div>
        <div class="p-l p-t-xs" *ngIf="!value.variables">
          <i class="fa fa-spin fa-spinner"></i>
          <span class="p-l-xs" translate>common.label.loading</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="value.seperate">
      <td colspan="13" class="td-border"></td>
    </tr>
  </ng-container>
</ng-template>
<ng-template #planTemplate let-ajaxTable>
  <ng-template ngFor let-plan [ngForOf]="ajaxTable.data">
    <tr>
      <td [nzShowCheckbox]="true"
              [(nzChecked)]="plan.checked"
              [nzIndeterminate]="plan.indeterminate"
              (nzCheckedChange)="checkOrderTemplate(plan)">
      </td>
      <td>
        <div class="btn-group dropdown">
          <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click"
                  [nzDropdownMenu]="export2" type="button">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <nz-dropdown-menu #export2="nzDropdownMenu" role="menu">
            <ul nz-menu>
              <li nz-menu-item [nzDisabled]="!plan.isPlanned">
                <a (click)="submitOrder(plan, null, true)" translate>dailyPlan.button.submitOrder</a>
              </li>
              <li nz-menu-item class="bg-hover-color" [nzDisabled]="!plan.isPlanned">
                <a (click)="removeOrder(plan, null, true )" translate>dailyPlan.button.removeOrder</a>
              </li>
              <li nz-menu-item [nzDisabled]="plan.isCancel">
                <a (click)="cancelOrder(null, plan )" translate>order.button.cancel</a>
              </li>
              <li nz-menu-item [nzDisabled]="plan.isCancel">
                <a (click)="cancelOrderWithKill(null, plan )"
                   translate>order.button.cancelAndKillTask</a>
              </li>
              <li nz-menu-item [nzDisabled]="!plan.isSuspend">
                <a (click)="suspendOrder(null, plan )" translate>order.button.suspend</a>
              </li>
              <li nz-menu-item [nzDisabled]="!plan.isSuspend">
                <a (click)="suspendOrderWithKill(null, plan )" translate>order.button.suspendAndKillTask</a>
              </li>
              <li nz-menu-item *ngIf="plan.isResume">
                <a (click)="resumeOrder(null, plan )" translate>order.button.resume</a>
              </li>
              <li nz-menu-item [nzDisabled]="!plan.isModify">
                <a (click)="changeParameter(plan, null, null)" translate>dailyPlan.button.setParameters</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </td>
      <td
        [colSpan]="(plan.value.length === 1 && !plan.order) ? 1 : dailyPlanFilters.filter.groupBy === 'WORKFLOW' ? 10 : 11">
        <i class="fa fa-angle-down cursor fa-lg p-r-xs" *ngIf="plan.order"
           (click)="expandCollapseOrder(plan)" aria-hidden="true"></i>
        <i class="fa fa-angle-right cursor fa-lg p-r-xs" *ngIf="!plan.order"
           (click)="expandCollapseOrder(plan)" aria-hidden="true"></i>

        <span *ngIf="dailyPlanFilters.filter.groupBy === 'WORKFLOW'">
           <i (click)="navToInventoryTab(plan.value[0].workflowPath, 'WORKFLOW');" class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
          <a class="text-hover-primary" (click)="coreService.showWorkflow(plan.value[0].workflowPath);">{{plan.value[0].workflowPath}} </a>
        </span>
        <span *ngIf="dailyPlanFilters.filter.groupBy !== 'WORKFLOW'">
          <i (click)="navToInventoryTab(plan.value[0].schedulePath, 'SCHEDULE');" class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
          {{plan.value[0].schedulePath}}
        </span>
      </td>
      <td
        *ngIf="!plan.order && plan.value.length === 1 && plan.value[0] && dailyPlanFilters.filter.groupBy !== 'WORKFLOW'">
        <i (click)="navToInventoryTab(plan.value[0].workflowPath, 'WORKFLOW');" class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
        <a class="text-hover-primary" (click)="coreService.showWorkflow(plan.value[0].workflowPath);">{{plan.value[0].workflowPath}} </a>
      </td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]">
        <span class="label"
              [ngClass]="coreService.getColor(plan.value[0].state.severity,'bg')"
              [innerHtml]="plan.value[0].status"> </span>
      </td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        *ngIf="plan.value[0].late==true" translate>dailyPlan.label.late</span></td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        [innerHtml]="plan.value[0].plannedStartTime"></span></td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        [innerHtml]="plan.value[0].expectedEndTime"></span></td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        [innerHtml]="plan.value[0].expectedDuration"></span>
      </td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        [innerHtml]="plan.value[0].startTime"></span></td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        [innerHtml]="plan.value[0].endTime"></span></td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        [innerHtml]="plan.value[0].duration"></span>
      </td>
      <td *ngIf="!plan.order && plan.value.length === 1 && plan.value[0]"><span
        *ngIf="plan.value[0].period.repeat">
        {{'dailyPlan.label.repeatEvery' | translate}}
        {{plan.value[0].period.repeat}}s</span>
      </td>
    </tr>
    <ng-container *ngIf="plan.order" [ngTemplateOutlet]="orderTemplate"
                  [ngTemplateOutletContext]="{ $implicit: plan.value, plan: plan}"></ng-container>
  </ng-template>
</ng-template>
<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline" [ngClass]="{'hide':object.mapOfCheckedId.size>0}">
            <div class="btn-group m-l-12 hidden-btn-group">
              <ng-container *ngFor="let btn of filterBtn">
                <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                        [ngClass]="{'btn-primary': dailyPlanFilters.filter.status===btn.status}"
                        (click)="getPlans(btn.status)" translate>common.button.{{btn.text}}
                </button>
              </ng-container>
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="state" [nzPlacement]="'bottomRight'" type="button" translate>
                common.label.state
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #state="nzDropdownMenu">
                <ul nz-menu>
                  <ng-container *ngFor="let btn of filterBtn">
                    <li nz-menu-item
                        [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status=== btn.status, 'disable-link':savedFilter.selected}">
                      <a (click)="getPlans(btn.status)"
                         translate>common.button.{{btn.text}}</a>
                    </li>
                  </ng-container>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="inline break-line" [ngClass]="{'hide':object.mapOfCheckedId.size>0}">
            <div class="btn-group m-l-12">
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.late}" (click)="changeLate()">
                <span translate>dailyPlan.button.late</span>
              </button>
            </div>
            <div class="btn-group dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="sortBy" [nzPlacement]="'bottomRight'" type="button" translate>
                <span translate>common.label.sortBy</span>
                <span class="text-primary">
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='orderId'">
                    {{'dailyPlan.label.order' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='workflowPath'">
                    {{'dailyPlan.label.workflow' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='plannedStartTime'">
                    {{'dailyPlan.label.plannedStart' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='status'">
                    {{'dailyPlan.label.state' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                </span>
              </button>
              <nz-dropdown-menu #sortBy="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="sort('orderId')" translate>dailyPlan.label.order</a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="sort('workflowPath')" translate>dailyPlan.label.workflow</a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="sort( 'plannedStartTime')" translate>dailyPlan.label.plannedStart</a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="sort('status')" translate>dailyPlan.label.state</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <div class="btn-group dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click"
                      [ngClass]="{'btn-primary': selectedFiltered.name}"
                      [nz-tooltip]="selectedFiltered.account" [nzDropdownMenu]="customization"
                      [nzPlacement]="'bottomRight'" type="button" translate>
                {{'customization.label.customizations' | translate}}
                <span>{{selectedFiltered.name}}</span>
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #customization="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="createCustomization()" translate>customization.label.createCustomization</a>
                  </li>
                  <li nz-menu-item *ngIf="filterList.length>0">
                    <a (click)="editFilters()" translate>customization.label.editExistingCustomizations</a>
                  </li>
                  <li nz-menu-divider *ngIf="filterList.length>0"></li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': (savedFilter.selected === filter.id)}"
                      *ngFor="let filter of filterList | orderBy: 'name'">
                    <a (click)="changeFilter(filter)">
                      <span [nz-tooltip]="filter.account">{{filter.name}}</span>
                      <i (click)="changeFilter(null);$event.stopPropagation();"
                         *ngIf="savedFilter.selected === filter.id"
                         class="fa fa-times-circle-o remove"
                         [nz-tooltip]="'customization.tooltip.deactivateCustomization' | translate"></i>
                    </a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <button class="btn btn-grey btn-sm m-l-12" [nz-tooltip]="'common.tooltip.exportInXLS' | translate"
                    [disabled]="(planOrders | filter: dailyPlanFilters.searchText).length===0"
                    (click)="exportToExcel()">
              <i class="fa fa-share-square-o"></i>
            </button>
            <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
          </div>
          <div class="hide" [ngClass]="{'show-block':object.mapOfCheckedId.size>0}">
            <button class="btn btn-grey btn-sm m-l-12" [disabled]="!object.isModify" (click)="modifySelectedOrder()"><i
              class="fa fa-edit"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.modifySelectedOrder</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12" [disabled]="!object.isPlanned" (click)="submitSelectedOrder()"><i
              class="fa fa-rocket"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.submitSelectedOrder</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12 bg-hover-color" [disabled]="!object.isPlanned"
                    (click)="removeSelectedOrder()"><i
              class="fa fa-trash"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.removeSelectedOrder</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12" [disabled]="object.isCancel" (click)="cancelSelectedOrder()"><i
              class="fa fa-times"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.cancelSelectedOrder</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12" [disabled]="!object.isSuspend" (click)="suspendSelectedOrder()">
              <i
                class="fa fa-stop"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.suspendSelectedOrder</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12" [disabled]="!object.isResume" (click)="resumeSelectedOrder()"><i
              class="fa fa-step-forward"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.resumeSelectedOrder</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row m-t-sm">
      <div class="col-lg-12">
        <div id="leftPanel" class="sticky leftPanel daily-plan" [hidden]="pageView === 'grid'">
          <div class="box m-b-0" style="height: calc(100vh - 155px)">
            <div class="p-b b-b">
              <div class="calendar-sm m-t-0" id="full-calendar"></div>
            </div>
            <div>
              <div class="text-center m-t">
                <button [disabled]="isPastDate" class="btn btn-grey btn-sm" (click)="createPlan()">
                  <i class="fa fa-plus"></i>&nbsp;
                  <span translate>dailyPlan.button.createPlan</span>
                </button>
                <button class="btn btn-grey btn-sm m-l-xs" (click)="deleteSubmission()">
                  <i class="fa fa-trash"></i>&nbsp;
                  <span translate>dailyPlan.button.deleteSubmissions</span>
                </button>
                <div class="m-t p-a-sm p-l-0" *ngIf="submissionHistory.length > 0">
                  <div class="_600 m-b-sm text-left p-l" style="font-size: 14px" >
                    <a class="text-hover-primary" (click)="navToHistory()" translate>dailyPlan.label.submissionHistory</a>
                  </div>
                  <ul class="text-left p-l" style="max-height: 250px; overflow: auto">
                    <li *ngFor="let history of submissionHistory">
                      <a [ngClass]="{ 'text-primary' : selectedSubmissionId === history.submissionHistoryId }"
                         (click)="selectSubmissionHistory(history.submissionHistoryId)">
                        <i class="fa fa-circle p-r-xs"></i>
                        <span translate>dailyPlan.label.submission</span> -
                        <i class="text-muted">({{history.submissionTime | stringToTime}})</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="rightPanel" [ngClass]="{'m-l-0' : pageView === 'grid'}">
          <div>
            <div class="row m-b-12">
              <div class="col-lg-12">
                <button class="btn btn-sm btn-grey" nz-tooltip="{{'common.button.expandDetails' | translate}}"
                        [disabled]="planOrders.length === 0" (click)="expandCollapseDetails(true)">
                  <i class="fa fa-expand text"></i>
                </button>
                <button class="btn btn-sm btn-grey m-l-sm m-r-sm"
                        nz-tooltip="{{'common.button.collapseDetails' | translate}}"
                        [disabled]="planOrders.length === 0" (click)="expandCollapseDetails(false)">
                  <i class="fa fa-compress text"></i>
                </button>
                <button class="btn btn-grey btn-sm hidden-btn-text"
                        [ngClass]="{'btn-primary': dailyPlanFilters.filter.groupBy==='ORDER'}"
                        (click)="groupByWorkflow('ORDER')">
                  <i class="icon icon-calendar-icon"></i>
                  <span translate>dailyPlan.button.groupByScheduleTemplate</span>
                </button>
                <button class="btn btn-grey btn-sm hidden-btn-text"
                        [ngClass]="{'btn-primary': dailyPlanFilters.filter.groupBy==='WORKFLOW'}"
                        (click)="groupByWorkflow('WORKFLOW')">
                  <i class="icon icon-workflows-icon"></i>
                  <span translate>dailyPlan.button.groupByWorkflow</span>
                </button>
                <button class="btn btn-grey btn-sm hidden-btn-text"
                        [ngClass]="{'btn-primary': dailyPlanFilters.filter.groupBy===''}"
                        (click)="groupByWorkflow('')">
                  <i class="icon icon-orders-icon"></i>
                  <span translate>dailyPlan.button.groupByOrder</span>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" (click)="advancedSearch()"
                        [hidden]="showSearchPanel">
                  <span translate>common.button.advancedSearch</span>
                  <i class="fa fa-caret-down p-l-xs"></i>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" (click)="cancel()" *ngIf="showSearchPanel">
                  <span translate>common.button.advancedSearch</span>
                  <i class="fa fa-caret-down p-l-xs"></i>
                </button>
                <div class="search-box-field pull-right">
                  <label>
                    <input type="search" placeholder="{{'common.placeholder.search' | translate}}"
                           (keyup)="searchInResult()"
                           [(ngModel)]="dailyPlanFilters.searchText">
                  </label>
                  <i [hidden]="!dailyPlanFilters.searchText" class="fa fa-times search-close"
                     (click)="dailyPlanFilters.searchText = '';searchInResult()"></i>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="showSearchPanel">
              <div class="col-md-12">
                <div class="box p-a m-b p-t-md">
                  <app-form-template [filter]="searchFilter" [preferences]="preferences" [schedulerIds]="schedulerIds"
                                     [permission]="permission" [allFilter]="filterList"
                                     [isSearch]="true" (onCancel)="cancel()" (onSearch)="search()"></app-form-template>
                </div>
              </div>
            </div>
            <div *ngIf="pageView==='grid' && plans.length>0">
              <div class="box p-a m-b-0">
                <div class="row">
                  <div class="col-md-12">
                    <app-gantt [data]="planOrders" [groupBy]="dailyPlanFilters.filter.groupBy" [toggle]="isToggle"
                               [preferences]="preferences"></app-gantt>
                  </div>
                </div>
              </div>
            </div>
            <div class=" text-center m-t text-uppercase" *ngIf="pageView =='grid' && planOrders.length==0 && isLoaded">
              <app-empty-data></app-empty-data>
            </div>
            <div class="box p-a" *ngIf="pageView !=='grid'">
              <div class="table-responsive" id="dailyPlanTableId">
                <nz-table
                  #ajaxTable
                  [nzSize]="'small'"
                  [nzPageSize]="dailyPlanFilters.entryPerPage || preferences.entryPerPage"
                  [nzPageIndex]="dailyPlanFilters.currentPage"
                  [nzBordered]="true"
                  [nzShowPagination]="planOrders.length > 0"
                  [nzData]="planOrders"
                  [nzLoading]="!isLoaded"
                  [nzShowSizeChanger]="true"
                  (nzPageIndexChange)="pageIndexChange($event)"
                  (nzPageSizeChange)="pageSizeChange($event)"
                  [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
                >
                  <thead>
                  <tr>
                    <th class="chk" [nzShowCheckbox]="true"
                        [(nzChecked)]="object.checked"
                        [nzIndeterminate]="object.indeterminate"
                        (nzCheckedChange)="checkAll()">
                    </th>
                    <th class="menu"><span translate>common.label.action</span></th>
                    <th (click)="sort('orderId')" *ngIf="dailyPlanFilters.filter.groupBy === 'ORDER'">
                      <a><span class="p-r-xs" translate>dailyPlan.label.scheduleAndOrder</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'orderId' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'orderId' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('orderId')" *ngIf="dailyPlanFilters.filter.groupBy === ''">
                      <a>
                        <span class="p-r-xs" translate>dailyPlan.label.order</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'orderId' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'orderId' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('schedulePath')" *ngIf="dailyPlanFilters.filter.groupBy === ''">
                      <a>
                        <span class="p-r-xs" translate>dailyPlan.label.schedule</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'schedulePath' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'schedulePath' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('workflowPath')">
                      <a>
                        <span class="p-r-xs" *ngIf="dailyPlanFilters.filter.groupBy !== 'WORKFLOW'" translate>dailyPlan.label.workflow</span>
                        <span class="p-r-xs" *ngIf="dailyPlanFilters.filter.groupBy === 'WORKFLOW'" translate>dailyPlan.label.workflowAndOrder</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'workflowPath' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'workflowPath' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('status')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.state</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'status' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'status' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('late')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.late</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'late' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'late' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('plannedStartTime')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.plannedStart</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'plannedStartTime' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'plannedStartTime' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('expectedEndTime')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.expectedEnd</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'expectedEndTime' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'expectedEndTime' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('expectedDuration')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.expectedDuration</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('startTime')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.startTime</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'startTime' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'startTime' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('endTime')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.endTime</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'endTime' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'endTime' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('duration')">
                      <a><span class="p-r-xs" translate>common.label.duration</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration1' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration1' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('period.repeat')">
                      <a><span class="p-r-xs" translate>dailyPlan.label.repeatInterval</span>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'period.repeat' && !dailyPlanFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="dailyPlanFilters.filter.sortBy == 'period.repeat' && dailyPlanFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                  </tr>
                  </thead>
                  <ng-container>
                    <tbody>
                    <ng-container *ngIf="dailyPlanFilters.filter.groupBy" [ngTemplateOutlet]="planTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: ajaxTable}"></ng-container>
                    <ng-container *ngIf="!dailyPlanFilters.filter.groupBy" [ngTemplateOutlet]="orderTemplate"
                                  [ngTemplateOutletContext]="{ $implicit: ajaxTable.data, plan: null}"></ng-container>
                    </tbody>
                  </ng-container>
                </nz-table>
              </div>
              <div class="w-half label-top" *ngIf="ajaxTable.data.length >0">
                <span translate *ngIf="dailyPlanFilters.filter.groupBy === 'ORDER'"
                      [translateParams]="{total: planOrders.length, orderCount: (plans | filter: dailyPlanFilters.searchText).length}">dailyPlan.label.totalEntry</span>
                <span translate *ngIf="dailyPlanFilters.filter.groupBy === 'WORKFLOW'"
                      [translateParams]="{total: planOrders.length, orderCount: (plans | filter: dailyPlanFilters.searchText).length}">dailyPlan.label.totalWorkflowEntry</span>
                <span translate *ngIf="dailyPlanFilters.filter.groupBy === ''"
                      [translateParams]="{total: planOrders.length}">dailyPlan.label.totalOrderEntry</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="!isLoaded && pageView ==='grid'">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
