<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline" [ngClass]="{'hide':object.templates.length>0}">
            <div class="btn-group m-l-12 hidden-btn-group">
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='ALL'}"
                      (click)="dailyPlanFilters.filter.late=false;getPlans('ALL')" translate>button.allStatus
              </button>
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='PLANNED'}"
                      (click)="getPlans('PLANNED')" translate>button.planned
              </button>
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='PENDING'}"
                      (click)="getPlans('PENDING')" translate>button.pending
              </button>
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='RUNNING'}"
                      (click)="getPlans('RUNNING')" translate>button.running
              </button>
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='BLOCKED'}"
                      (click)="getPlans('BLOCKED')" translate>button.blocked
              </button>
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='FINISHED'}"
                      (click)="getPlans('FINISHED');" translate>button.finished
              </button>
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.status==='FAILED'}"
                      (click)="getPlans('FAILED')" translate>button.failed
              </button>
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="status" [nzPlacement]="'bottomRight'" type="button" translate>
                label.status
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #status="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='ALL', 'disable-link':savedFilter.selected}">
                    <a (click)="dailyPlanFilters.filter.late='';getPlans('ALL')"
                       translate>button.allStatus</a>
                  </li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='PLANNED', 'disable-link':savedFilter.selected}">
                    <a (click)="getPlans('PLANNED')"
                       translate>button.planned</a>
                  </li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='PENDING', 'disable-link':savedFilter.selected}">
                    <a (click)="getPlans('PENDING')"
                       translate>button.pending</a>
                  </li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='RUNNING', 'disable-link':savedFilter.selected}">
                    <a (click)="getPlans('RUNNING')"
                       translate>button.running</a>
                  </li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='BLOCKED', 'disable-link':savedFilter.selected}">
                    <a (click)="getPlans('BLOCKED')"
                       translate>button.blocked</a>
                  </li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='FINISHED', 'disable-link':savedFilter.selected}">
                    <a (click)="getPlans('FINISHED');"
                       translate>button.finished</a>
                  </li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': dailyPlanFilters.filter.status==='FAILED', 'disable-link':savedFilter.selected}">
                    <a (click)="getPlans('FAILED')" translate>button.failed</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <div class="btn-group m-l-12">
              <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.late}" (click)="changeLate()">
                <span translate>button.late</span>
              </button>
            </div>
            <div class="btn-group dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="sortBy" [nzPlacement]="'bottomRight'" type="button" translate>
                <span translate>label.sortBy</span>
                <span class="text-primary">
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='orderId'">
                    {{'label.orderId' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='workflow'">
                    {{'label.workflow' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='plannedStartTime'">
                    {{'label.planned' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="dailyPlanFilters.filter.sortBy ==='status'">
                    {{'label.status' | translate}}
                    <i *ngIf="!dailyPlanFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="dailyPlanFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                </span>
              </button>
              <nz-dropdown-menu #sortBy="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="sort('orderId')" translate>label.orderId</a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="sort('workflow')" translate>label.workflow</a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="sort( 'plannedStartTime')" translate>label.plannedStart</a>
                  </li>
                  <li nz-menu-item>
                    <a (click)="sort('status')" translate>label.status</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <div class="btn-group dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click"
                      [ngClass]="{'btn-primary': selectedFiltered.name}"
                      [nz-tooltip]="selectedFiltered.account" [nzDropdownMenu]="customization"
                      [nzPlacement]="'bottomRight'" type="button" translate>
                {{'customization.label.customizations' | translate}}
                <span>{{selectedFiltered.name}}</span>
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #customization="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="createCustomization()" translate>customization.label.createCustomization</a>
                  </li>
                  <li nz-menu-item *ngIf="filterList.length>0">
                    <a (click)="editFilters()" translate>customization.label.editExistingCustomizations</a>
                  </li>
                  <li nz-menu-divider *ngIf="filterList.length>0"></li>
                  <li nz-menu-item
                      [ngClass]="{'ant-select-dropdown-menu-item-active': (savedFilter.selected === filter.id)}"
                      *ngFor="let filter of filterList | orderBy: 'name'">
                    <a (click)="changeFilter(filter)">
                      <span [nz-tooltip]="filter.account">{{filter.name}}</span>
                      <i (click)="changeFilter(null);$event.stopPropagation();"
                         *ngIf="savedFilter.selected === filter.id"
                         class="fa fa-times-circle-o remove"
                         [nz-tooltip]="'customization.tooltip.deactivateCustomization' | translate"></i>
                    </a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <button class="btn btn-grey btn-sm m-l-12" [nz-tooltip]="'tooltip.exportInXLS' | translate"
                    [disabled]="(planOrders | filter: dailyPlanFilters.searchText).length===0" (click)="exportToExcel()">
              <i class="fa fa-share-square-o"></i>
            </button>
          </div>
          <div class="hide" [ngClass]="{'show-block':object.templates.length>0}">
            <button class="btn btn-grey btn-sm m-l-12" (click)="submitSelectedOrder()"><i
              class="fa fa-rocket"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.submitSelectedOrder</span></button>
          </div>
          <div class="hide" [ngClass]="{'show-block':object.templates.length>0}">
            <button class="btn btn-grey btn-sm m-l-12 bg-hover-color" (click)="removeSelectedOrder()"><i
              class="fa fa-trash"></i>&nbsp;
              <span class="hidden-sm-down" translate>dailyPlan.button.removeSelectedOrder</span></button>
          </div>
          <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="hide p-t-sm" [ngClass]="{'show': isLoaded }">
      <div class="d-flex w-full">
        <div style="width: 336px">
          <div class="box m-b-0" style="height: calc(100vh - 155px)">
            <div class="p-b b-b">
              <div class="calendar-sm m-t-0" id="full-calendar"></div>
            </div>
            <div>
              <div class="text-center m-t">
                <button [disabled]="isPastDate" class="btn btn-grey btn-sm" (click)="createPlan()">
                  <i class="fa fa-plus"></i>&nbsp;
                  <span translate>dailyPlan.button.createPlan</span>
                </button>
                <div class="box-shadow m-t p-a-sm p-l-0" *ngIf="submissionHistory.length > 0">
                  <ul class="text-left p-l" style="max-height: 250px; overflow: auto">
                    <li *ngFor="let history of submissionHistory">
                      <a [ngClass]="{ 'text-primary' : selectedSubmissionId === history.submissionHistoryId }" (click)="selectSubmissionHistory(history.submissionHistoryId)">
                        <i class="fa fa-circle p-r-xs"></i>
                        <span translate>dailyPlan.label.submission</span> -
                        <i class="text-muted">({{history.submissionTime | stringToTime}})</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full p-l">
          <div class="row m-b">
            <div class="col-lg-12">
              <button class="btn btn-grey btn-sm"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.groupBy==='ORDER'}"
                      (click)="groupByWorkflow('ORDER')">&nbsp;
                <span translate>dailyPlan.button.groupByOrderTemplate</span>
              </button>
              <button class="btn btn-grey btn-sm"
                      [ngClass]="{'btn-primary': dailyPlanFilters.filter.groupBy==='WORKFLOW'}"
                      (click)="groupByWorkflow('WORKFLOW')">&nbsp;
                <span translate>dailyPlan.button.groupByWorkflow</span>
              </button>
<!--              <button [disabled]="object.templates.length > 0"
                      class="btn btn-grey btn-sm bg-hover-color m-l-12" (click)="removeAllOrder()">
                <i class="fa fa-trash"></i>&nbsp;
                <span translate>dailyPlan.button.removeOrders</span>
              </button>-->
              <button class="btn btn-sm inline pull-right m-l btn-grey" (click)="advancedSearch()"
                      [hidden]="showSearchPanel">
                <span translate>button.advancedSearch</span>
                <i class="fa fa-caret-down p-l-xs"></i>
              </button>
              <button class="btn btn-sm inline pull-right m-l btn-grey" (click)="cancel()" *ngIf="showSearchPanel">
                <span translate>button.advancedSearch</span>
                <i class="fa fa-caret-down p-l-xs"></i>
              </button>
              <div class="search-box-field pull-right">
                <label>
                  <input type="search" placeholder="{{'placeholder.search' | translate}}" (keyup)="searchInResult()"
                         [(ngModel)]="dailyPlanFilters.searchText">
                </label>
                <i [hidden]="!dailyPlanFilters.searchText" class="fa fa-times search-close"
                   (click)="dailyPlanFilters.searchText = '';searchInResult()"></i>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showSearchPanel">
            <div class="col-md-12">
              <div class="box p-a m-b p-t-md">
                <app-form-template [filter]="searchFilter" [preferences]="preferences" [schedulerIds]="schedulerIds"
                                   [permission]="permission" [allFilter]="filterList"
                                   [isSearch]="true" (onCancel)="cancel()" (onSearch)="search()"></app-form-template>
              </div>
            </div>
          </div>
          <div *ngIf="pageView==='grid' && plans.length>0">
            <div class="box p-a m-b-0">
              <div class="row">
                <div class="col-md-12">
                  <app-gantt [data]="planOrders" [groupBy]="dailyPlanFilters.filter.groupBy"
                             (dataEvent)="receiveData($event)" [preferences]="preferences"></app-gantt>
                </div>
              </div>
            </div>
          </div>
          <div class=" text-center m-t text-uppercase" *ngIf="pageView =='grid' && planOrders.length==0 && isLoaded">
            <app-empty-data></app-empty-data>
          </div>
          <div class="hide box p-a overflow-y" [ngClass]="{'show': pageView !=='grid'}" style="max-height: calc(100vh - 224px)">
            <div class="table-responsive">
              <nz-table id="dailyPlanTableId"
                        #ajaxTable
                        [nzSize]="'small'"
                        [nzPageSize]="dailyPlanFilters.entryPerPage || preferences.entryPerPage"
                        [nzPageIndex]="dailyPlanFilters.currentPage"
                        [nzBordered]="true"
                        [nzShowPagination]="planOrders.length > 0"
                        [nzData]="planOrders"
                        [nzLoading]="!isLoaded"
                        [nzShowSizeChanger]="true"
                        (nzPageIndexChange)="pageIndexChange($event)"
                        (nzPageSizeChange)="pageSizeChange($event)"
                        [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
              >
                <thead>
                <tr>
                  <th class="tableexport-ignore chk">
                    <label class="md-check lg-check">
                      <input type="checkbox" [(ngModel)]="object.checkbox" (change)="checkAll()"><i class="primary"></i>
                    </label>
                  </th>
                  <th class="tableexport-ignore menu"><span translate>label.action</span></th>
                  <th (click)="sort('orderId')" *ngIf="dailyPlanFilters.filter.groupBy === 'ORDER'">
                    <a><span class="p-r-xs" translate>dailyPlan.label.order</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'orderId' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'orderId' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('workflow')">
                    <a><span class="p-r-xs" translate>label.workflow</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'workflow' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'workflow' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('status')">
                    <a><span class="p-r-xs" translate>label.status</span>
                    <i *ngIf="dailyPlanFilters.filter.sortBy == 'status' && !dailyPlanFilters.reverse"
                       class="fa fa-caret-up "></i>
                    <i *ngIf="dailyPlanFilters.filter.sortBy == 'status' && dailyPlanFilters.reverse"
                       class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('late')">
                    <a><span class="p-r-xs" translate>label.late</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'late' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'late' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('plannedStartTime')">
                    <a><span class="p-r-xs" translate>label.plannedStart</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'plannedStartTime' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'plannedStartTime' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('expectedEndTime')">
                    <a><span class="p-r-xs" translate>label.expectedEnd</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'expectedEndTime' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'expectedEndTime' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('expectedDuration')">
                    <a><span class="p-r-xs" translate>label.expectedDuration</span>
                    <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration' && !dailyPlanFilters.reverse"
                       class="fa fa-caret-up "></i>
                    <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration' && dailyPlanFilters.reverse"
                       class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('startTime')">
                    <a><span class="p-r-xs" translate>label.startTime</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'startTime' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'startTime' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('endTime')">
                    <a><span class="p-r-xs" translate>label.endTime</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'endTime' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'endTime' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('duration')">
                    <a><span class="p-r-xs" translate>label.duration</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration1' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'duration1' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                  <th (click)="sort('period.repeat')">
                    <a><span class="p-r-xs" translate>label.repeatInterval</span>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'period.repeat' && !dailyPlanFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="dailyPlanFilters.filter.sortBy == 'period.repeat' && dailyPlanFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                  </th>
                </tr>
                </thead>
                <ng-container *ngIf="dailyPlanFilters.filter.groupBy === 'WORKFLOW'">
                  <tbody>
                  <ng-template ngFor let-plan [ngForOf]="ajaxTable.data">
                    <tr>
                      <td class="tableexport-ignore">
                        <label class="md-check">
                          <input type="checkbox" [(ngModel)]="plan.checkbox"
                                 (change)="checkOrderTemplate(plan)"><i
                          class="primary"></i>
                        </label>
                      </td>
                      <td class="tableexport-ignore"
                          style="padding-top: 3px !important; padding-bottom: 3px !important;">
                        <div class="btn-group dropdown">
                          <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click"
                                  [nzDropdownMenu]="export2" type="button">
                            <i class="fa fa-ellipsis-h"></i>
                          </button>
                          <nz-dropdown-menu #export2="nzDropdownMenu" role="menu">
                            <ul nz-menu>
                              <li nz-menu-item>
                                <a (click)="submitOrder(plan, null, true)" translate>dailyPlan.button.submitOrder</a>
                              </li>
                              <li nz-menu-item class="bg-hover-color">
                                <a (click)="removeOrder(plan, null, true )" translate>dailyPlan.button.removeOrder</a>
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                        </div>
                      </td>
                      <td colspan="11">
                        <i class="fa fa-angle-down cursor fa-lg p-r-xs" *ngIf="plan.show"
                           (click)="expandCollapseTable(plan)" aria-hidden="true"></i>
                        <i class="fa fa-angle-right cursor fa-lg p-r-xs" *ngIf="!plan.show"
                           (click)="expandCollapseTable(plan)" aria-hidden="true"></i>
                        <span [innerHtml]="plan.key"></span>
                      </td>
                    </tr>
                    <ng-container *ngIf="plan.show">
                      <ng-container  *ngFor="let value of plan.value">
                        <tr>
                          <td class="tableexport-ignore">
                            <label class="md-check">
                              <input type="checkbox" [(checklist)]="object.templates"
                                     [checklistValue]="value" (change)="checkPlan(plan)"><i
                              class="primary"></i>
                            </label>
                          </td>
                          <td class="tableexport-ignore">
                            <div class="btn-group dropdown">
                              <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click"
                                      [nzDropdownMenu]="export2" type="button">
                                <i class="fa fa-ellipsis-h"></i>
                              </button>
                              <nz-dropdown-menu #export2="nzDropdownMenu" role="menu">
                                <ul nz-menu>
                                  <li nz-menu-item>
                                    <a (click)="submitOrder(value, null, false)" translate>dailyPlan.button.submitOrder</a>
                                  </li>
                                  <li nz-menu-item class="bg-hover-color">
                                    <a (click)="removeOrder(value, null, false)" translate>dailyPlan.button.removeOrder</a>
                                  </li>
                                  <li nz-menu-item>
                                    <a (click)="modifyOrder(value, null)"
                                       translate>dailyPlan.button.modifyOrder</a>
                                  </li>
                                  <li nz-menu-item>
                                    <a (click)="changeParameter(value, null)"
                                       translate>dailyPlan.button.changeParameter</a>
                                  </li>
                                </ul>
                              </nz-dropdown-menu>
                            </div>
                          </td>
                          <td style="padding-left: 16px !important">
                            <i class="fa fa-caret-down cursor p-r-xs"
                               *ngIf="!value.show" (click)="addDetailsOfOrder(value)"
                               aria-hidden="true"></i><i
                            class="fa fa-caret-up cursor p-r-xs" *ngIf="value.show"
                            (click)="addDetailsOfOrder(value)" aria-hidden="true"></i>
                            <span [innerHtml]="value.orderId"></span>
                          </td>
                          <td>
                            <span class="label"
                                  [ngClass]="coreService.getColor(value.state.severity,'bg')"
                                  [innerHtml]="value.status"> </span>
                          </td>
                          <td><span *ngIf="value.late==true" translate>label.late</span></td>
                          <td><span [innerHtml]="value.plannedStartTime"></span></td>
                          <td><span [innerHtml]="value.expectedEndTime"></span></td>
                          <td><span
                            [innerHtml]="value.expectedDuration"></span>
                          </td>
                          <td><span [innerHtml]="value.startTime "></span></td>
                          <td><span [innerHtml]="value.endTime"></span></td>
                          <td><span [innerHtml]="value.duration"></span>
                          </td>
                          <td><span *ngIf="value.period.repeat">Repeat every
                            {{value.period.repeat}}s</span></td>
                        </tr>
                        <tr *ngIf="value.show">
                          <td></td>
                          <td></td>
                          <td colspan="10">
                            <div *ngFor="let order of value.variables"
                                 class="plan-varibales pt-1 pb-1">
                              <span class="btn-group dropdown">
                                <button class="btn-drop more-option-h" nz-dropdown
                                        nzTrigger="click" [nzDropdownMenu]="export3"
                                        type="button">
                                  <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <nz-dropdown-menu #export3="nzDropdownMenu" role="menu">
                                  <ul nz-menu>
                                    <li nz-menu-item>
                                      <a (click)="changeParameter(value, order)"
                                         translate>dailyPlan.button.updateParameter</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a (click)="removeParameter(value, order)"
                                         translate>dailyPlan.button.removeParameter</a>
                                    </li>
                                  </ul>
                                </nz-dropdown-menu>
                              </span>
                              <span>{{order.name}} : {{order.value}}</span>
                            </div>
                            <div class="p-l" *ngIf="value.variables && value.variables.length === 0">
                              <span translate>message.noDataAvailable</span>
                            </div>
                            <div class="p-l p-t-xs" *ngIf="!value.variables">
                              <i class="fa fa-spin fa-spinner"></i>
                              <span class="p-l-xs" translate>label.loading</span>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                  </tbody>
                </ng-container>
                <ng-container *ngIf="dailyPlanFilters.filter.groupBy === 'ORDER'">
                  <tbody>
                  <ng-template ngFor let-plan
                               [ngForOf]="ajaxTable.data">
                    <tr *ngFor="let value of plan.value; let i = last">
                      <td *ngIf="i" class="tableexport-ignore">
                        <label class="md-check">
                          <input type="checkbox" [(ngModel)]="plan.checkbox" (change)="checkOrderTemplate(plan)"><i
                          class="primary"></i>
                        </label>
                      </td>
                      <td *ngIf="i" class="tableexport-ignore">
                        <div class="btn-group dropdown">
                          <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click"
                                  [nzDropdownMenu]="export4" type="button">
                            <i class="fa fa-ellipsis-h"></i>
                          </button>
                          <nz-dropdown-menu #export4="nzDropdownMenu" role="menu">
                            <ul nz-menu>
                              <li nz-menu-item>
                                <a (click)="submitOrder(value, plan, false)" translate>dailyPlan.button.submitOrder</a>
                              </li>
                              <li nz-menu-item class="bg-hover-color">
                                <a (click)="removeOrder(value, plan, false)" translate>dailyPlan.button.removeOrder</a>
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                        </div>
                      </td>
                      <td *ngIf="i">
                        <i class="fa fa-angle-down cursor fa-lg p-r-xs" *ngIf="plan.order"
                           (click)="expandCollapseOrder(plan)" aria-hidden="true"></i>
                        <i class="fa fa-angle-right cursor fa-lg p-r-xs" *ngIf="!plan.order"
                           (click)="expandCollapseOrder(plan)" aria-hidden="true"></i>
                        {{value.orderTemplatePath}}
                      </td>
                      <td *ngIf="i">
                              <span>{{value.workflow}} </span>
                      </td>
                      <td *ngIf="i">
                              <span class="label"
                                    [ngClass]="coreService.getColor(value.state.severity,'bg')"
                                    [innerHtml]="value.status"> </span>
                      </td>
                      <td *ngIf="i"><span *ngIf="value.late==true" translate>label.late</span></td>
                      <td *ngIf="i"><span [innerHtml]="value.plannedStartTime"></span></td>
                      <td *ngIf="i"><span [innerHtml]="value.expectedEndTime"></span></td>
                      <td *ngIf="i"><span
                        [innerHtml]="value.expectedDuration"></span>
                      </td>
                      <td *ngIf="i"><span [innerHtml]="value.startTime"></span></td>
                      <td *ngIf="i"><span [innerHtml]="value.endTime"></span></td>
                      <td *ngIf="i"><span [innerHtml]="value.duration"></span>
                      </td>
                      <td *ngIf="i"><span *ngIf="value.period.repeat">Repeat every
                        {{value.period.repeat}}s</span>
                      </td>
                    </tr>
                    <ng-container *ngIf="plan.order">
                      <ng-container *ngFor="let value of plan.value">
                        <tr>
                          <td class="tableexport-ignore">
                            <label class="md-check">
                              <input type="checkbox" [(checklist)]="object.templates"
                                     [checklistValue]="value" (change)="checkPlan(plan)"><i
                              class="primary"></i>
                            </label>
                          </td>
                          <td class="tableexport-ignore">
                            <div class="btn-group dropdown">
                              <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click"
                                      [nzDropdownMenu]="export5" type="button">
                                <i class="fa fa-ellipsis-h"></i>
                              </button>
                              <nz-dropdown-menu #export5="nzDropdownMenu" role="menu">
                                <ul nz-menu>
                                  <li nz-menu-item>
                                    <a (click)="submitOrder(value, null, false)" translate>dailyPlan.button.submitOrder</a>
                                  </li>
                                  <li nz-menu-item class="bg-hover-color">
                                    <a (click)="removeOrder(value, null, false)" translate>dailyPlan.button.removeOrder</a>
                                  </li>
                                  <li nz-menu-item>
                                    <a (click)="modifyOrder(value, null)" translate>dailyPlan.button.modifyOrder</a>
                                  </li>
                                  <li nz-menu-item>
                                    <a (click)="changeParameter(value, null)" translate>dailyPlan.button.changeParameter</a>
                                  </li>
                                </ul>
                              </nz-dropdown-menu>
                            </div>
                          </td>
                          <td style="padding-left: 20px !important;">
                            <i class="fa fa-caret-down cursor p-r-xs" *ngIf="!value.show"
                               (click)="addDetailsOfOrder(value)"
                               aria-hidden="true"></i>
                            <i class="fa fa-caret-up cursor p-r-xs" *ngIf="value.show"
                               (click)="addDetailsOfOrder(value)" aria-hidden="true"></i><span
                            [innerHtml]="value.orderId"></span>
                          </td>
                          <td>
                            <span>{{value.workflow}} </span>
                          </td>
                          <td>
                            <span class="label" [ngClass]="coreService.getColor(value.state.severity,'bg')"
                                  [innerHtml]="value.status"> </span>
                          </td>
                          <td><span *ngIf="value.late==true" translate>label.late</span></td>
                          <td><span [innerHtml]="value.plannedStartTime"></span></td>
                          <td><span [innerHtml]="value.expectedEndTime"></span></td>
                          <td><span
                            [innerHtml]="value.expectedDuration"></span>
                          </td>
                          <td><span [innerHtml]="value.startTime"></span></td>
                          <td><span [innerHtml]="value.endTime"></span></td>
                          <td><span [innerHtml]="value.duration"></span>
                          </td>
                          <td><span *ngIf="value.period.repeat">
                                  {{'label.repeatEvery' | translate}}
                            {{value.period.repeat}}s</span></td>
                        </tr>
                        <tr *ngIf="value.show">
                          <td></td>
                          <td></td>
                          <td colspan="11">
                            <div *ngFor="let order of value.variables"
                                 class="plan-varibales pt-1 pb-1">
                              <span class="btn-group dropdown">
                                <button class="btn-drop more-option-h" nz-dropdown
                                        nzTrigger="click" [nzDropdownMenu]="export3"
                                        type="button">
                                  <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <nz-dropdown-menu #export3="nzDropdownMenu" role="menu">
                                  <ul nz-menu>
                                    <li nz-menu-item>
                                      <a (click)="changeParameter(value, order)"
                                         translate>dailyPlan.button.updateParameter</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a (click)="removeParameter(value, order)"
                                         translate>dailyPlan.button.removeParameter</a>
                                    </li>
                                  </ul>
                                </nz-dropdown-menu>
                              </span>
                              <span>{{order.name}} : {{order.value}}</span>
                            </div>
                            <div class="p-l" *ngIf="value.variables && value.variables.length === 0">
                              <span translate>message.noDataAvailable</span>
                            </div>
                            <div class="p-l p-t-xs" *ngIf="!value.variables">
                              <i class="fa fa-spin fa-spinner"></i>
                              <span class="p-l-xs" translate>label.loading</span>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                  </tbody>
                </ng-container>
              </nz-table>
            </div>
            <div class="w-half label-top" *ngIf="ajaxTable.data.length >0">
              <span translate [translateParams]="{total: planOrders.length, orderCount: (plans | filter: dailyPlanFilters.searchText).length}">dailyPlan.label.totalEntry</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="!isLoaded">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
