.input-overlay {
  width: 191px;
  background-color: var(--background-color);
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.bottom-border {
  border-bottom: 1px solid var(--border-color);
}

.bottom-border:hover, .bottom-border:focus {
  border-bottom-color: var(--primary);
}

.error .bottom-border {
  border-bottom-color: #a94442 !important;
}

.bottom-border {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
