<div class="white box-shadow sub-header" style="height: 54px">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                      <app-breadcrumbs></app-breadcrumbs>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht" style="overflow: hidden">
  <div class="padding p-b-0">
    <div class="row m-t-sm">
      <div class="col-lg-12">
        <div class="box p-a m-t-xs m-b-0">
          <div appResizable class="table-responsive resizable" [height]="resizerHeight" style="position: initial" id="workflowTableId">
            <nz-table
              #ajaxTable
              [nzSize]="'small'"
              [nzBordered]="true"
              [nzShowPagination]="false"
              [nzData]="workflows"
              [nzLoading]="loading"
              [nzShowSizeChanger]="true"
            >
              <thead>
              <tr>
                <th class="tableexport-ignore" rowspan="2" nzWidth="55px"><span translate>common.label.action</span></th>
                <th rowspan="2"><span translate>common.label.name</span></th>
                <th rowspan="2"><span translate>common.label.path</span></th>
                <th rowspan="2"><span translate>common.label.noOfOrders</span></th>
                <th colspan="8"><span translate>common.label.order</span></th>
              </tr>
              <tr>
                <th><span translate>common.label.pending</span></th>
                <th><span translate>common.label.incomplete</span></th>
                <th><span translate>common.label.running</span></th>
                <th><span translate>common.label.suspended</span></th>
                <th><span translate>common.label.calling</span></th>
                <th><span translate>common.label.waiting</span></th>
                <th><span translate>common.label.blocked</span></th>
                <th><span translate>common.label.failed</span></th>
              </tr>
              </thead>
              <tbody>
              <ng-template ngFor let-workflow [ngForOf]="ajaxTable.data">
                <tr>
                  <td>
                    <app-workflow-action [schedulerId]="schedulerId" [permission]="permission"
                                         [preferences]="preferences" [workflow]="workflow"></app-workflow-action>
                  </td>
                  <td>
                    <span class="show-in-single-line">
                      <i class="cursor fa fa-caret-down tableexport-ignore fa-lg p-l-xs p-r-xs"
                         *ngIf="!workflow.show" (click)="showPanelFuc(workflow)"></i>
                      <i class="cursor fa fa-caret-up tableexport-ignore fa-lg p-l-xs p-r-xs" *ngIf="workflow.show"
                         (click)="hidePanelFuc(workflow)"></i>
                      <a class="text-dark">{{workflow.name}}</a>
                      <span *ngIf="workflow.title">-</span>
                      <i class="text-muted">{{workflow.title}}</i>
                    </span>
                  </td>
                  <td [innerHtml]="workflow.path"></td>
                  <td [innerHtml]="workflow.numOfOrders || 0"></td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'PENDING')"
                       [innerHtml]="workflow.ordersSummary.pending || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'inprogress')"
                       [innerHtml]="workflow.ordersSummary.inprogress || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'RUNNING')"
                       [innerHtml]="workflow.ordersSummary.running || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'SUSPENDED')"
                       [innerHtml]="workflow.ordersSummary.suspended || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'CALLING')"
                       [innerHtml]="workflow.ordersSummary.calling || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'WAITING')"
                       [innerHtml]="workflow.ordersSummary.waiting || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'BLOCKED')"
                       [innerHtml]="workflow.ordersSummary.blocked || 0"></a>
                  </td>
                  <td>
                    <a class="text-hover-primary" (click)="viewOrders(workflow,'FAILED')"
                       [innerHtml]="workflow.ordersSummary.failed || 0"></a>
                  </td>
                </tr>
                <tr *ngIf="workflow.show">
                  <td colspan="12">
                    <div class="m-a-sm">
                      <a class="text" (click)="workflow.isExpand = true;"
                         [nz-tooltip]="'common.tooltip.expandAll' | translate">
                        <i class="fa fa-angle-double-down fa-lg"></i>
                      </a>
                      <a class="text m-l-xs" (click)="workflow.isExpand = false;"
                         [nz-tooltip]="'common.tooltip.collapseAll' | translate">
                        <i class="fa fa-angle-double-up fa-lg"></i>
                      </a>
                      <div class="text-primary m-t-xs" translate>workflow.label.start</div>
                      <app-type [configuration]="workflow.configuration" [permission]="permission" [preferences]="preferences"
                                [schedulerId]="schedulerId" [expandAll]="workflow.isExpand"
                                [orders]="workflow.orders"></app-type>
                      <div class="text-primary" translate>workflow.label.end</div>
                    </div>
                  </td>
                </tr>
              </ng-template>
              </tbody>
            </nz-table>
          </div>
          <div class="rg-bottom"><span></span></div>
        </div>
        <div class="row m-t">
          <div class="col-md-12" *ngIf="showPanel">
            <div class="box white">
              <div class="box-header">
                <span class="text">{{showPanel.path}}: {{showPanel.name}} <i *ngIf="showPanel.title">-</i> <i
                      class="text-sm text-muted">{{showPanel.title}}</i></span>
              </div>
              <div class="box-body p-t-0 b-t">
                <app-workflow-history [workflow]="{path: showPanel.path}"></app-workflow-history>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
