<div class="white box-shadow sub-header m-b-sm">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 ">
                            <ol class="breadcrumb p-t-xs">
                                <li (click)="coreService.backClicked()">
                                    <a><i title="back" class="fa fa-arrow-circle-left" style="font-size: 18px"></i></a>
                                </li>
                                <li class="active">
                                    <span>{{'label.workflows' | translate }}</span>
                                </li>
                            </ol>
                        </span>
                    </div>
                    <div class="inline m-l-sm">
                        <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0">
        <div class="row">
            <div class="col-12">
                <div class="hide-block sidebar-btn resize-cursor">
                    <i class="fa fa-angle-double-right p-l-sm" (click)="coreService.showLeftPanel()"></i>
                </div>
                <div appResizable id="leftPanel" class="sticky leftPanel resource">
                    <div *ngIf="tree.length>0">
                        <app-tree-nagivation [tree]="tree" (messageEvent)="receiveAction($event)"></app-tree-nagivation>
                    </div>
                </div>
                <div id="rightPanel">
                    <div class="hide" [ngClass]="{'show': isLoading}" [hidden]="loading">
                      <div class="row">
                        <div class="col-md-12 m-b-sm " [hidden]="pageView !== 'grid'">
                          <div class="m-b-sm b-b p-b-sm">
                            <div class="inline">
                               <button class="btn btn-sm btn-grey" placement="bottom" ngbTooltip="{{'workflow.button.zoomIn' | translate}}" (click)="zoomIn()">
                                  <i class="fa fa-search-plus"></i>
                                </button>
                                <button class="btn btn-sm btn-grey m-r-sm" placement="bottom" ngbTooltip="{{'workflow.button.zoomOut' | translate}}" (click)="zoomOut()">
                                  <i class="fa fa-search-minus"></i>
                                </button>
                                <button class="btn btn-sm btn-grey" placement="bottom" ngbTooltip="{{'workflow.button.actual' | translate}}" (click)="actual()">
                                  <i class="fa fa-search"></i>
                                </button>
                                <button class="btn btn-sm btn-grey m-r-sm" placement="bottom" ngbTooltip="{{'workflow.button.fit' | translate}}" (click)="fit()">
                                  <i class="fa fa-arrows-alt"></i>
                                </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div>
                            <div [hidden]="pageView !== 'grid' || !workFlowJson">
                              <div id="toolbar"></div>
                              <div class="graph-container">
                                <div id="graph"></div>
                                <!-- Creates a container for the outline -->
                                <div id="outlineContainer"></div>
                              </div>
                            </div>
                            <div *ngIf="pageView !== 'grid' && workFlowJson">
                              <div class="box p-a">
                                <div *ngIf="workFlowJson.instructions && workFlowJson.instructions.length > 0">
                                  <div class="text-primary">Start</div>
                                  <app-type [workflowJson]="workFlowJson.instructions"></app-type>
                                  <div class="text-primary">End</div>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="!workFlowJson" class="text text-center text-uppercase p-a-md">
                              No workflow Added to <span class="text-primary">{{selectedPath}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="spinner" *ngIf="loading || !isLoading">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
