.graph-container{
   margin-left: 0;
  overflow: auto;
}
#graph {
  position: relative;
  overflow-x: auto !important;
  cursor: default;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06) ;
  height: 100%;
}

#toolbar {
 display: none;
}
#outlineContainer{
  z-index:9;
  position:absolute;
  overflow:hidden;
  top:0;
  right:10px;
  width:170px;
  height:150px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
li {
    padding-bottom: 5px;
}

.m-l-4 {
    margin-left: 1.25rem !important;
}
.m-l-8 {
  margin-left: 2.25rem !important;
}
