<div class="app-content" id="content">
  <div class="fixed-top">
    <div [ngClass]="{'backup-top-header':permission.precedence>0}"
         class="w-full text-right top-header-bar white fa-fa-color">
          <span *ngIf="preferences.themeTitle" class="pull-left p-l-3 backup-text">
              <span [innerHtml]="preferences.themeTitle" class="_600 m-l-sm text-shadow _500 backup-text"></span> </span>
      <span class="m-r-sm"><span class="text-muted" translate>label.time</span>:
              <i [innerHtml]="currentTime | stringToDate" class="text-dark _500"></i></span>
      <i class="fa fa-circle-o circle"></i>
      <span class="m-r-sm"><span class="text-muted" translate>label.remainingSessionTime</span>:
              <span [innerHtml]="remainingSessionTime" class="text-danger"></span></span>
      <i class="fa fa-circle-o circle" *ngIf="scheduleState"></i>
      <span *ngIf="scheduleState" class="m-r-sm"><span class="text-muted" translate>label.state</span>:
              <span [innerHtml]="scheduleState | translate"
                    [ngClass]="{'text-success': scheduleState == 'RUNNING', 'text-danger': (scheduleState == 'UNREACHABLE' || scheduleState == 'TERMINATING'  || scheduleState == 'DEAD')}"
                    class="text-warn _500"></span>
          </span>
      <i class="fa fa-circle-o circle" [hidden]="!selectedJobScheduler.startedAt"></i>
      <span [hidden]="!selectedJobScheduler.startedAt" class="m-r-sm">
        <span class="text-muted" translate>label.jobSchedulerStartTime</span>:
        <i [innerHtml]="selectedJobScheduler.startedAt | stringToDate:selectedJobScheduler.timeZone"
              class="text-primary _500"></i>
      </span>
      <i *ngIf="schedulerIds.selected" class="fa fa-circle-o circle"></i>
      <span *ngIf="schedulerIds.selected" class="dropdown">
              <a data-toggle="dropdown">
                  <span class="backup-text text-muted" translate>label.id</span>:
                  <span [innerHtml]="schedulerIds.selected" class="_500 text-orange"></span><i
                class="fa fa-caret-down p-l-xs"></i>
              </a>
              <div class="dropdown-menu dropdown-ac dropdown-more pull-right m-r" role="menu">
                  <a (click)="changeScheduler(jobScheduler);$event.stopPropagation()" *ngFor="let jobScheduler of schedulerIds.jobschedulerIds"
                     [ngClass]="{'primary':schedulerIds.selected == jobScheduler}"
                     class="dropdown-item">
                      <span>{{jobScheduler}}</span>
                  </a>
              </div>
          </span>
    </div>
    <app-header (myLogout)="logout(null)"></app-header>
  </div>
  <div class="app-body">
    <router-outlet></router-outlet>
  </div>
</div>
<iframe name="tmpFrame" id="tmpFrame" width="1" height="1" style="visibility:hidden;position:absolute;display:none"></iframe>
