<div class="padding p-b-0">
  <div class="inline w-full" [hidden]="isLoading">
    <div appResizable id="leftSidePanel" class="sticky leftPanel editor">
      <div *ngIf="tree.length>0">
        <!-- <input type="search" class="form-control" placeholder="Search" style="width: 90%">-->
        <div class="tree-block">
          <tree-root #treeCtrl [nodes]="tree" (activate)="onNodeSelected($event)" [options]="options"
                     (toggleExpanded)="toggleExpanded($event)">
            <ng-template #treeNodeWrapperTemplate let-node let-index="index">
              <div class="node-wrapper" style="white-space: nowrap">
                <span *ngIf="node.hasChildren"
                      [class.toggle-children-wrapper-expanded]="node.isExpanded"
                      [class.toggle-children-wrapper-collapsed]="node.isCollapsed"
                      (click)="node.mouseAction('expanderClick', $event)" class="w-16 cursor">
                  <span *ngIf="node.isCollapsed" class="fa fa-angle-right fa-lg p-r-10"></span>
                  <span *ngIf="node.isExpanded" class="fa fa-angle-down fa-lg p-r-10"></span>
                </span>
                <span *ngIf="!node.hasChildren" class="fa fa-caret-right fa-lg w-16 m-t-xs p-r-10"></span>
                <div class="node-content-wrapper"
                     [class.node-content-wrapper-active]="node.data.isSelected"
                     (click)="node.mouseAction('click', $event)">
                  <i *ngIf="node.isExpanded" class="fa fa-folder-open-o w-16"></i>
                  <i *ngIf="node.isCollapsed" class="fa fa-folder-o w-16"></i>
                  <tree-node-content [node]="node" [index]="index"></tree-node-content>
                </div>
              </div>
            </ng-template>
          </tree-root>
        </div>
        <div class="rg-right"><span></span></div>
      </div>
    </div>
    <div id="centerPanel" class="centerPanel">
      <div class="row m-t-xs">
        <div class="col-md-12 m-b-sm ">
          <div class="m-b-sm p-b-sm b-b">
            <div class="inline pull-right">
              <button class="btn btn-grey btn-sm m-r-sm" (click)="toggleRightSideBar()">
                <i *ngIf="isPropertyHide" class="fa fa-window-close"></i>
                <i *ngIf="!isPropertyHide" class="fa fa-window-maximize"></i>
              </button>
              <button class="btn btn-grey btn-sm" (click)="toggleView()">
                <i *ngIf="view=='list'" class="fa fa-bars"></i>
                <i *ngIf="view=='grid'" class="fa fa-th-large"></i>
              </button>
           
            </div>
            <div id="zoomActions" class="inline" [hidden]="view !== 'grid'"></div>
            <div id="mainActions" class="inline" [hidden]="view !== 'grid'"></div>
          </div>
        </div>
        <div class="col-md-9" [ngClass]="{'col-md-12':isPropertyHide}">
          <div>
            <div [hidden]="view !== 'grid'">
              <div id="toolbar"></div>
              <div class="graph-container">
                <div id="graph"></div>
                  <!-- Creates a container for the outline -->
                <div id="outlineContainer"></div>
              </div>
            </div>
            <div [hidden]="view === 'grid'">
              <div class="box p-a" style="height: 82vh">
                <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                      <th width="30">
                        <label class="md-check lg-check">
                          <input type="checkbox" [(ngModel)]="object.checkbox" (change)="checkAll()"><i
                          class="primary"></i>
                        </label>
                      </th>
                      <th><span translate>label.job</span></th>
                      <th><span translate>label.path</span></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let workflow of workFlows">
                    <tr>
                      <td>
                        <label class="md-check">
                          <input type="checkbox" [(checklist)]="object.workflows" [checklistValue]="workflow" (change)="checkMainCheckbox()">
                          <i class="primary"></i>
                        </label>
                      </td>
                      <td>{{workflow.job}}</td>
                      <td>{{workflow.path}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" [ngClass]="{'hide':isPropertyHide}">
          <div class="box">
            <div class="box-header b-b p-t-sm p-b-sm">
              <h3 translate>label.properties</h3>
            </div>
            <div class="box-body p-a">
              <div id="properties"></div>
<!--              <div class="form-group m-t-0 row">
                <label class="col-md-4 form-control-label" translate>label.language</label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option selected value="">Shell</option>
                    <option value="">Java</option>
                  </select>
                </div>
              </div>-->
            </div>
          </div>
          <div class="m-t">
            <div class="box">
              <div class="box-header b-b p-t-sm p-b-sm">
                <h3 translate>Source</h3>
              </div>
              <div class="box-body" style="max-height: 500px; overflow: auto">
                <pre>{{json | json}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="spinner" *ngIf="isLoading">
  <div></div>
</div>
