<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="inline" ng-class="{'hide':object.fileTransfers.length>0}">
                        <div class="show-inline">
                            <span class="upper-check">
                                <label class="md-check" >
                                    <input type="checkbox" ng-model="yadeView.current" ng-change="changeJobScheduler()">
                                    <i class="primary"></i><span translate>label.currentJobscheduler</span>
                                </label>
                            </span>
                        </div>
                        <div class="btn-group m-l-sm hidden-btn-group" >
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.states" uib-btn-radio="'all'" ng-click="loadYadeFiles()"
                                    ng-class="{'btn-primary': yadeFilters.filter.states=='all'}" translate>button.allStatus
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.states" uib-btn-radio="'SUCCESSFUL'" ng-click="loadYadeFiles()"
                                    ng-class="{'btn-primary': yadeFilters.filter.states=='SUCCESSFUL'}" translate>button.successful
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.states" uib-btn-radio="'FAILED'" ng-click="loadYadeFiles()"
                                    ng-class="{'btn-primary': yadeFilters.filter.states=='FAILED'}" translate>button.failed
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.states" uib-btn-radio="'INCOMPLETE'" ng-click="loadYadeFiles()"
                                    ng-class="{'btn-primary': yadeFilters.filter.states=='INCOMPLETE'}" translate>button.incomplete
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.state</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item " ng-model="yadeFilters.filter.states" uib-btn-radio="'all'" ng-click="loadYadeFiles()"
                                   ng-class="{'btn-primary': yadeFilters.filter.states=='all', 'disable-link':savedYadeFilter.selected}" translate>button.allStatus
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.states" uib-btn-radio="'SUCCESSFUL'" ng-click="loadYadeFiles()"
                                   ng-class="{'btn-primary':yadeFilters.filter.states=='SUCCESSFUL', 'disable-link':savedYadeFilter.selected}" translate>button.successful
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.states" uib-btn-radio="'FAILED'" ng-click="loadYadeFiles()"
                                   ng-class="{'btn-primary': yadeFilters.filter.states=='FAILED', 'disable-link':savedYadeFilter.selected}" translate>button.failed
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.states" uib-btn-radio="'INCOMPLETE'" ng-click="loadYadeFiles()"
                                   ng-class="{'btn-primary': yadeFilters.filter.states=='INCOMPLETE', 'disable-link':savedYadeFilter.selected}" translate>button.incomplete
                                </a>
                            </div>
                        </div>
                        <div class="btn-group m-l-sm hidden-btn-group">
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.date" uib-btn-radio="'all'" ng-click="loadYadeFiles()"
                                    ng-class="{'btn-primary': yadeFilters.filter.date=='all'}" translate>button.all
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'today'"
                                    ng-class="{'btn-primary': yadeFilters.filter.date=='today'}" translate>button.today
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-1h'"
                                    ng-class="{'btn-primary': yadeFilters.filter.date=='-1h'}" translate>button.last1
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-12h'"
                                    ng-class="{'btn-primary': yadeFilters.filter.date=='-12h'}" translate>button.last12
                            </button>
                            <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-24h'"
                                    ng-class="{'btn-primary': yadeFilters.filter.date=='-24h'}" translate>button.last24
                            </button>
                             <button ng-disabled="savedYadeFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-7d'"
                                    ng-class="{'btn-primary': yadeFilters.filter.date=='-7d'}" translate>button.lastWeak
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.anyDate</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-model="yadeFilters.filter.date" uib-btn-radio="'all'" ng-click="loadYadeFiles()"
                                        ng-class="{'btn-primary': yadeFilters.filter.date=='all', 'disable-link':savedYadeFilter.selected}" translate>button.all
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'today'"
                                   ng-class="{'btn-primary': yadeFilters.filter.date=='today', 'disable-link':savedYadeFilter.selected}" translate>button.today
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-1h'"
                                        ng-class="{'btn-primary': yadeFilters.filter.date=='-1h', 'disable-link':savedYadeFilter.selected}" translate>button.last1
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.date" uib-btn-radio="'-12h'" ng-click="loadYadeFiles()"
                                        ng-class="{'btn-primary': yadeFilters.filter.date=='-12h', 'disable-link':savedYadeFilter.selected}" translate>button.last12
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-24h'"
                                        ng-class="{'btn-primary': yadeFilters.filter.date=='-24h', 'disable-link':savedYadeFilter.selected}" translate>button.last24
                                </a>
                                <a class="dropdown-item" ng-model="yadeFilters.filter.date" ng-click="loadYadeFiles()" uib-btn-radio="'-7d'"
                                        ng-class="{'btn-primary': yadeFilters.filter.date=='-7d', 'disable-link':savedYadeFilter.selected}" translate>button.lastWeak
                                </a>
                            </div>
                        </div>
                        <div class="btn-group dropdown m-r-sm">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" ng-class="{'btn-primary': selectedFiltered.name}" uib-tooltip="{{selectedFiltered.account}}" data-toggle="dropdown">{{'label.filters' | translate}} <span ng-bind="selectedFiltered.name"></span></button>
                            <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" href ng-click="advanceFilter()" translate>label.createFilter</a>
                                <a class="dropdown-item" href ng-click="editFilters()" ng-if="yadeFilterList.length>0" translate>label.editExistingFilters</a>
                                <div class="dropdown-divider" ng-if="yadeFilterList.length>0"></div>
                                <a class="dropdown-item" ng-class="{orange: (savedYadeFilter.selected == filter.id)}" ng-click="changeFilter(filter)" ng-repeat="filter in yadeFilterList | orderBy: 'name'">
                                    <span uib-tooltip="{{filter.account}}">{{filter.name}}</span>
                                    <i ng-click="changeFilter();$event.stopPropagation();" ng-if="savedYadeFilter.selected == filter.id" class="fa fa-times-circle-o remove" uib-tooltip="{{'tooltip.deactivateCustomization' | translate}}" tooltip-placement="right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hide" ng-class="{'show-block':object.fileTransfers.length>0}">
                        <button class="hide btn btn-grey btn-sm m-l-sm"
                                ng-class="{'show-block':permission.YADE.execute.transferStart}"
                                ng-click="restartAllTransfer()"><i class="fa fa-repeat"></i>
                            <span class="hidden-sm-down" translate>button.restart</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht" >
    <div class="padding p-b-0">
        <div class="row m-b m-t-xs">
            <div class="col-md-12">
                <button class="btn btn-sm btn-grey" ng-click="expandDetails()">
                    <i class="fa fa fa-caret-down"></i>
                    <span translate>button.expandDetails</span>
                </button>
                <button class="btn btn-sm btn-grey m-l-sm" ng-click="collapseDetails()">
                    <i class="fa fa fa-caret-up"></i>
                    <span translate>button.collapseDetails</span>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-default" ng-click="advancedSearch()"
                        ng-show="!showSearchPanel">
                    <span translate>button.advancedSearch</span> <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" ng-click="cancel()"
                        ng-if="showSearchPanel">
                    <span translate>button.advancedSearch</span> <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <input type="search" class="pull-right" placeholder="{{'placeholder.search' | translate}}"
                       ng-model="filterString" style="width: 180px">
            </div>
        </div>
        <div class="m-b-sm" ng-if="showSearchPanel">
             <div class="box p-a ">
                    <form name="form1" ng-submit="saveAsFilter(form1)" novalidate>
                         <div class="form-group row" ng-class="{ 'has-error' : form1.filterName.$invalid && form1.filterName.$dirty }">
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.filterName</label>
                           <div class=" col-sm-6">
                               <input uib-tooltip="Max: 25 characters" tooltip-trigger="focus" type="text" class="form-control" placeholder="{{'placeholder.name' | translate}}" name="filterName" ng-maxlength="25"  ng-model="yadeSearch.name" ng-blur="checkFilterName()">
                               <div class="help-block text-danger" ng-if="form1.filterName.$dirty" ng-messages="form1.filterName.$error">
                                    <div ng-message="maxlength" translate>message.tooLongError</div>
                               </div>
                               <div class="help-block text-danger hide" ng-class="{'show-block':!isUnique}">
                                   <div translate>message.uniqueError</div>
                               </div>
                           </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.profileId</label>
                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.profileId' | translate}}"
                                       name="profileId" ng-model="yadeSearch.profileId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.mandator</label>
                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.mandator' | translate}}"
                                       name="mandator" ng-model="yadeSearch.mandator">
                            </div>
                        </div>
                        <div class="m-b-sm row ">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.dateRange</label>

                            <div class="col-md-6">
                                <label class="md-check w-sm">
                                    <input type="radio" name="radio" ng-model="yadeSearch.date" value="date">
                                    <i class="primary"></i> <span translate>label.specificDate</span>
                                </label>
                                <label class="md-check">
                                    <input type="radio" name="radio" ng-model="yadeSearch.date" value="process">
                                    <i class="primary"></i> <span translate>label.manualDate</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="yadeSearch.date == 'process'">
                            <label class="col-md-2 col-sm-4 form-control-label"
                                   translate>label.processExecuted</label>

                            <div class=" col-sm-6"
                                 ng-class="{ 'has-error' : form.planned.$invalid && form.planned.$dirty }">
                                <input valid-yade-filter-regex type="text" name="planned" class="form-control"
                                       placeholder="{{'placeholder.processExecuted' | translate}}"
                                       ng-model="yadeSearch.planned">

                                <div class="help-block text-danger" ng-messages="form.planned.$error">
                                    <div ng-message="invalid" translate>message.invalid</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="yadeSearch.date == 'date'">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.from</label>
                            <div class="col-sm-6">
                                <input class="form-control input-date" style="width: 225px;background-position: 200px" ng-model="yadeSearch.from"
                                       data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setStartDate' | translate}} ({{dataFormat | uppercase}})" data-max-date="{{currentTime}}"
                                       bs-datepicker type="text">
                                <input valid-time maxlength="8" ng-disabled="!yadeSearch.from" class="form-control input-time m-l" ng-model="yadeSearch.fromTime"
                                        placeholder="{{'placeholder.startTime' | translate}} (HH:MM:SS)" type="text" style="width: 175px;background-position: 150px">
                                <a class="text-sm text-primary" ng-show="yadeSearch.from || yadeSearch.fromTime" ng-click="yadeSearch.from='';yadeSearch.fromTime=''; " translate>button.clear</a>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="yadeSearch.date == 'date'">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.to</label>
                            <div class="col-sm-6">
                                <input class="form-control input-date" style="width: 225px;background-position: 200px"
                                       ng-model="yadeSearch.to" data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setEndDate' | translate}} ({{dataFormat | uppercase}})" data-min-date="{{yadeSearch.from}}" data-max-date="{{currentTime}}"
                                       bs-datepicker type="text">
                                <input valid-time maxlength="8" ng-disabled="!yadeSearch.to"
                                       class="form-control input-time m-l" ng-model="yadeSearch.toTime"
                                       placeholder="{{'placeholder.endTime' | translate}} (HH:MM:SS)" type="text"
                                       style="width: 175px;background-position: 150px">
                                <a class="text-sm text-primary" ng-show="yadeSearch.to || yadeSearch.toTime"
                                   ng-click="yadeSearch.to='';yadeSearch.toTime=''; "
                                   translate>button.clear</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.jobSchedulerId</label>
                            <div class=" col-sm-6">
                                <select class="form-control" ng-model="yadeSearch.jobschedulerId">
                                    <option value="" translate="">label.selectJobScheduler</option>
                                    <option ng-repeat="jobScheduler in schedulerIds.jobschedulerIds">{{jobScheduler}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 " translate>label.status</label>

                            <div class="col-sm-9">
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.states" data-checklist-value="'SUCCESSFUL'">
                                    <i class="primary"></i><span translate>label.successful</span>
                                </label>
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.states" data-checklist-value="'FAILED'">
                                    <i class="primary"></i><span translate>label.failed</span>
                                </label>
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.states" data-checklist-value="'INCOMPLETE'">
                                    <i class="primary"></i><span translate>label.incomplete</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 " translate>label.operations</label>

                            <div class="col-sm-8">
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.operations"
                                           data-checklist-value="'COPY'">
                                    <i class="primary"></i><span translate>label.copy</span>
                                </label>
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.operations"
                                           data-checklist-value="'MOVE'">
                                    <i class="primary"></i><span translate>label.move</span>
                                </label>
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.operations"
                                           data-checklist-value="'GETLIST'">
                                    <i class="primary"></i><span translate>label.getList</span>
                                </label>
                                <label class="md-check w">
                                    <input type="checkbox" data-checklist-model="yadeSearch.operations"
                                           data-checklist-value="'RENAME'">
                                    <i class="primary"></i><span translate>label.rename</span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.sourceFileName</label>

                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.sourceFileName' | translate}}"
                                       name="sourceFileName" ng-model="yadeSearch.sourceFileName">
                            </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.sourceFileRegex</label>
                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.sourceFilesRegex' | translate}}"
                                       name="sourceFilesRegex" ng-model="yadeSearch.sourceFileRegex">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.targetFileName</label>
                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.targetFileName' | translate}}"
                                       name="targetFileName" ng-model="yadeSearch.targetFileName">
                            </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.targetFileRegex</label>
                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.targetFilesRegex' | translate}}"
                                       name="targetFilesRegex" ng-model="yadeSearch.targetFileRegex">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.sourceHost</label>

                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.sourceHost' | translate}}"
                                       name="sourceHost"
                                       ng-model="yadeSearch.sourceHost">
                            </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.sourceProtocol</label>
                           <div class="col-sm-6">
                               <ui-select multiple ng-model="yadeSearch.sourceProtocol" name="sProtocol" on-remove="removed($item, $model)" theme="bootstrap" close-on-select="false" >
                                <ui-select-match placeholder="{{'placeholder.sourceProtocol' | translate}}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="protocol as protocol in protocols">
                                  <div ng-bind-html="protocol | highlight: $select.search"></div>
                                </ui-select-choices>
                               </ui-select>
                           </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.targetHost</label>
                            <div class=" col-sm-6">
                                <input class="form-control" placeholder="{{'placeholder.targetHost' | translate}}"
                                       name="targetHost"
                                       ng-model="yadeSearch.targetHost">
                            </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.targetProtocol</label>
                           <div class="col-sm-6">
                               <ui-select multiple ng-model="yadeSearch.targetProtocol" name="tProtocol" on-remove="removed($item, $model)" theme="bootstrap" close-on-select="false" >
                                <ui-select-match placeholder="{{'placeholder.targetProtocol' | translate}}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="protocol as protocol in protocols">
                                  <div ng-bind-html="protocol | highlight: $select.search"></div>
                                </ui-select-choices>
                               </ui-select>
                           </div>
                        </div>
                        <div class="form-group m-t m-b-xs">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="search();" translate>
                                button.search
                            </button>
                            <button type="submit" class="btn orange btn-sm m-l-sm"
                                    ng-disabled="!yadeSearch.name" translate>button.saveAsFilter
                            </button>
                            <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel(form1)" translate>
                                button.cancel
                            </button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="m-t-sm box p-a" ng-show="isLoading">
            <div class="table-responsive" ng-if="reloadState !== 'yes'">
                <table class="table table-hover table-bordered " id="yade">
                    <thead>
                    <tr>
                        <th class="chk" ng-if="permission.YADE.execute.transferStart">
                            <label class="md-check lg-check">
                                <input type="checkbox" ng-model="checkAllFileTransfers.checkbox" ng-change="checkAllFileTransfersFnc()"><i class="primary"></i>
                            </label>
                        </th>
                        <th class="tableexport-ignore menu"><span translate>label.action</span></th>
                        <th ng-click="sortBy('state._text')"><a><span translate>label.status</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'state._text' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'state._text' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('profile')"><a><span translate>label.profileName</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'profile' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'profile' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('mandator')"><a><span translate>label.mandator</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'mandator' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'mandator' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-if="!yadeView.current" ng-click="sortBy('jobschedulerId')"><a><span translate>label.jobSchedulerId</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'jobschedulerId' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'jobschedulerId' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('operation')"><a><span translate>label.operation</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'operation' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'operation' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('source.host')"><a><span translate>label.sourceHost</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'source.host' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'source.host' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('target.host')"><a><span translate>label.targetHost</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'target.host' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'target.host' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('numOfFiles')"><a><span translate>label.totalNumberOfFiles</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'numOfFiles' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'numOfFiles' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th class="error-text" ng-click="sortBy('error.message')"><a><span translate>label.lastErrorMessage</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'error.message' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'error.message' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('start')"><a><span translate>label.startTime</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'start' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'start' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('end')"><a><span translate>label.endTime</span>
                            <i ng-show="yadeFilters.filter.sortBy == 'end' && !yadeFilters.sortReverse"
                               class="fa fa-caret-up "></i>
                            <i ng-show="yadeFilters.filter.sortBy == 'end' && yadeFilters.sortReverse"
                               class="fa fa-caret-down "></i></a>
                        </th>
                        <th ng-click="sortBy('duration')">
                            <a><span translate>label.duration</span>
                                <i ng-show="yadeFilters.filter.sortBy == 'duration' && !yadeFilters.sortReverse"
                                   class="fa fa-caret-up "></i>
                                <i ng-show="yadeFilters.filter.sortBy == 'duration' && yadeFilters.sortReverse"
                                   class="fa fa-caret-down "></i></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="transfer in filtered = (fileTransfers | filter: filterString:strict) | orderBy:yadeFilters.filter.sortBy:yadeFilters.sortReverse | startFrom:(yadeFilters.currentPage - 1) * userPreferences.entryPerPage | limitTo: userPreferences.entryPerPage" ng-class="{'light-bg':transfer.show}">
                        <tr>
                            <td ng-if="permission.YADE.execute.transferStart">
                                <label class="md-check">
                                    <input type="checkbox" id="{{transfer.id}}" data-checklist-model="object.fileTransfers" ng-disabled="transfer.state._text=='SUCCESSFUL'"
                                           data-checklist-value="transfer" data-checklist-comparator=".id" ng-change="checkALLFilesFnc(transfer)"><i class="primary"></i>
                                </label>
                            </td>
                            <td class="tableexport-ignore">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn-drop more-option-h" dropdown data-toggle="dropdown" ><i class="fa fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-ac dropdown-more list-dropdown" role="menu">
                                        <a ng-if="transfer.permission.execute.transferStart && transfer.state._text!='SUCCESSFUL'" class="dropdown-item"
                                           ng-click="restartTransfer(transfer)" translate>button.restart</a>
                                         <a class="dropdown-item" ng-click="showLogWindow(null, transfer)" translate>button.viewLog</a>
                                         <a class="dropdown-item" ng-click="copyLinkToObject('fileTransfer',transfer.id)" translate>button.copyLinkToObject</a>
                                    </div>
                                </div>
                            </td>
                            <td class="nowrap" >
                                <i class="cursor fa fa-caret-down fa-lg tableexport-ignore" ng-if="!transfer.show" ng-click="showTransferFuc(transfer);"></i>
                                 <i class="cursor fa fa-caret-up fa-lg tableexport-ignore" ng-if="transfer.show" ng-click="transfer.show = false;"></i>
                                <span class="label cursor" ng-click="showLogWindow(null, transfer);$event.stopPropagation()" ng-class="bgColorFunction(transfer.state.severity)" ng-bind="transfer.state._text | translate"></span>
                            </td>
                            <td ng-bind-html="transfer.profile | highlight:filterString"></td>
                            <td ng-bind-html="transfer.mandator | highlight:filterString"></td>
                            <td ng-if="!yadeView.current" >
                                 <span ng-bind="yade.jobschedulerId"></span>
                                 <span ng-if="!yade.jobschedulerId" ng-bind="transfer.jobschedulerId"></span>
                             </td>
                            <td><span ng-if="transfer._operation" ng-bind-html="transfer._operation | highlight:filterString"></span></td>
                            <td><span ng-if="transfer.source.host" ng-bind-html="transfer.source.host | highlight:filterString"></span></td>
                            <td><span ng-if="transfer.target.host" ng-bind-html="transfer.target.host | highlight:filterString"></span></td>
                            <td ng-bind="transfer.numOfFiles"></td>
                            <td class="text-danger" ng-bind="transfer.error.message"></td>
                            <td ng-bind="transfer.start | stringToDate"></td>
                            <td ng-bind="transfer.end | stringToDate"></td>
                            <td ng-bind="transfer.start | duration:transfer.end"></td>
                        </tr>
                        <tr class="tableexport-ignore" ng-if="transfer.show">
                            <td></td>
                            <td colspan="13" style="padding: 0 !important;">
                                 <table class="table m-a-0 inner-table">
                                     <thead>
                                     <tr class="tableexport-ignore">
                                         <th translate>label.sourceHostUser</th>
                                         <th translate>label.sourceHostPort</th>
                                         <th translate>label.sourceHostProtocol</th>
                                         <th translate>label.targetHostUser</th>
                                         <th translate>label.targetHostPort</th>
                                         <th translate>label.targetHostProtocol</th>
                                         <th translate>label.jumpHost</th>
                                         <th translate>label.jumpUser</th>
                                         <th translate>label.jumpPort</th>
                                         <th translate>label.jumpProtocol</th>
                                         <th translate>label.jobChain</th>
                                         <th translate>label.job</th>
                                         <th translate>label.order</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                        <td ng-bind="transfer.source.account"></td>
                                        <td ng-bind="transfer.source.port"></td>
                                        <td ng-bind="transfer.source.protocol"></td>
                                        <td ng-bind="transfer.target.account"></td>
                                        <td ng-bind="transfer.target.port"></td>
                                        <td ng-bind="transfer.target.protocol"></td>
                                        <td ng-bind="transfer.jump.host"></td>
                                        <td ng-bind="transfer.jump.account"></td>
                                        <td ng-bind="transfer.jump.port"></td>
                                        <td ng-bind="transfer.jump.protocol"></td>
                                        <td><span ng-click="showJobChain(transfer.jobChain,transfer.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == transfer.jobschedulerId) || !transfer.jobschedulerId)}" ng-bind="transfer.jobChain"></span></td>
                                        <td><span ng-click="showJob(transfer.job,transfer.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == transfer.jobschedulerId) || !transfer.jobschedulerId)}" ng-bind="transfer.job"></span></td>
                                        <td><span ng-click="showOrderLink(transfer.jobChain,transfer.orderId,transfer.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == transfer.jobschedulerId) || !transfer.jobschedulerId)}" ng-bind="transfer.orderId"></span></td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </td>
                        </tr>
                        <tr class="tableexport-ignore" ng-if="permission.YADE.view.files && transfer.show">
                            <td></td>
                            <td colspan="13" style="padding: 0 !important;">
                                 <table class="table m-a-0 inner-table">
                                     <thead>
                                     <tr class="tableexport-ignore">
                                         <th class="chk" ng-if="transfer.permission.execute.transferStart">#</th>
                                         <th translate>label.sourceFileName</th>
                                         <th translate>label.sourceFilePath</th>
                                         <th translate>label.targetFileName</th>
                                         <th translate>label.targetFilePath</th>
                                         <th class="status" translate>label.status</th>
                                         <th class="error-text" translate>label.errorMessage</th>
                                         <th translate>label.size</th>
                                         <th translate>label.integrityHash</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr ng-repeat="file in transfer.files">
                                         <td ng-if="transfer.permission.execute.transferStart" >
                                            <label class="md-check">
                                                <input type="checkbox" data-checklist-model="object.files" ng-disabled="transfer.state._text=='SUCCESSFUL'"
                                                       data-checklist-value="file"><i class="primary"></i>
                                            </label>
                                         </td>
                                         <td>{{file.sourceName}}</td>
                                         <td>{{file.sourcePath}}</td>
                                         <td>{{file.targetName}}</td>
                                         <td>{{file.targetPath}}</td>
                                         <td><span class="label" ng-class="bgColorFunction(file.state.severity)" ng-bind="file.state._text | translate"></span></td>
                                         <td class="text-danger">{{file.error.message}}</td>
                                         <td>{{file.size | byteToSize}}</td>
                                         <td>{{file.integrityHash}}</td>
                                     </tr>
                                     </tbody>
                                 </table>
                                 <div ng-if="transfer.files.length==0" translate>message.noFileFound</div>
                                <div ng-if="!transfer.files" class="text-center text-primary"><i class="fa fa-spin fa-spinner"></i></div>
                             </td>
                        </tr>
                    </tbody>
                </table>
                <div class="inline text-sm m-l-xs m-b-sm" ng-class="{'m-t-xs m-l-sm': filtered.length > 10}" ng-if="filtered.length >0"><span translate>label.total</span> {{filtered.length}}
                    <span translate ng-if="filtered.length >1">label.fileTransfersFound</span>
                    <span translate ng-if="filtered.length ==1">label.fileTransferFound</span>
                </div>
                <ul ng-show="filtered.length > userPreferences.entryPerPage" uib-pagination total-items="filtered.length" ng-model="yadeFilters.currentPage" items-per-page='userPreferences.entryPerPage' class="pagination-sm text-sm m-t-0 pull-right" max-size="5" boundary-link-numbers="true" rotate="false" previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                <div class="pull-left" ng-show="filtered.length > 10">
                    <div class="btn-group m-r-xxs">
                        <button class="btn btn-default btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'10'"
                                ng-class="{'primary': userPreferences.entryPerPage=='10'}" >10
                        </button>
                        <button class="btn btn-default btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'25'"
                                ng-class="{'primary': userPreferences.entryPerPage=='25'}" >25
                        </button>
                        <button class="btn btn-default btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'50'"
                                ng-class="{'primary': userPreferences.entryPerPage=='50'}" >50
                        </button>
                        <button class="btn btn-default btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'100'"
                                ng-class="{'primary': userPreferences.entryPerPage=='100'}">100
                        </button>
                        <button ng-if="maxEntryPerPage" class="btn btn-default btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="{{maxEntryPerPage}}"
                                ng-class="{'primary': userPreferences.entryPerPage==maxEntryPerPage}">{{maxEntryPerPage}}
                        </button>
                    </div>
                </div>
                <div ng-if="isLoading && fileTransfers.length==0" class="text-center m-t-md h6 text-uppercase" translate>message.noFilesFound</div>
                <div class="text-center m-t text-uppercase hide text-orange" ng-class="{'show': (filtered.length===0 && fileTransfers.length !==0)}" translate>message.noDataMatched</div>
            </div>
            <div ng-if="reloadState == 'yes'" class="text-center m-t-md m-b h6 text-orange text-uppercase" translate>{{abort}}</div>
        </div>

        <div ng-if="!isLoading" class="text-center m-t-lg" >
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
</div>
<div ng-if="!isLoading || isLoaded || reloadState == 'yes'">
    <div class="bottom-btn" ng-click="reload()">
        <i ng-if="reloadState == 'no'" class="fa fa-times"></i>
        <i ng-if="reloadState == 'yes'" class="fa fa-refresh"></i>
    </div>
</div>

