<div class="modal-header">
  <h4 class="modal-title">
    <span *ngIf="(type === 'Delete' || type === 'Remove') && !resetProfiles">
      <span>{{'common.label.' + title | translate}}</span>
      <span *ngIf="objectName">:
        {{objectName}} ?
      </span>
    </span>
    <span *ngIf="updateFromJobTemplate">{{'inventory.button.updateFromJobTemplate' | translate}}
      :
      {{updateFromJobTemplate}}
    </span>
    <span *ngIf="type && (type !== 'Delete' && type !== 'Remove') || resetProfiles">
      <span *ngIf="title">{{'common.label.' + title | translate}}</span>
      <span *ngIf="resetProfiles">?</span>
      <span *ngIf="title2">{{'workflow.button.' + title2 | translate}}</span>
      <span *ngIf="objectName">
        {{objectName}}
      </span>
    </span>
    <span *ngIf="lossNode || title == 'confirm'">{{'common.label.confirm' | translate}}</span>
  </h4>
  <button (click)="activeModal.destroy()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<div class="modal-body p-a">
  <div class="row text-center">
    <div class="col-sm-12 m-t m-b">
      <span *ngIf="lossNode" class="text">
        <span [translateParams]="{lossNode: lossNode}" class="text"
              translate>dashboard.message.confirmNodeLoss</span>
      </span>
      <span *ngIf="updateFromJobTemplate" class="text" translate>inventory.message.updateFromJobTemplate</span>
      <span *ngIf="question" class="text">{{question | translate}}</span>
      <span *ngIf="message2" class="text">
        {{'workflow.message.' + message2 | translate}}
      </span>
      <span *ngIf="!countMessage && message" class="text">
        {{(message === 'deleteGitCredentials' ? 'profile.gitManagement.message.' : 'common.message.') + message | translate}}
      </span>
      <span *ngIf="countMessage && count > 0" [translateParams]="{count: count}" class="text"
            translate>{{'common.message.' + countMessage}}</span>
      <span *ngIf="countMessage && count === 0" class="text">
        <app-empty-data [title]="'common.message.noObjectFoundToDelete'"></app-empty-data>
      </span>
    </div>
    <div *ngIf="document" class="col-sm-12 text-left m-t">
      <div *ngFor="let doc of document.usedIn" class="row">
        <label class="col-md-3 _600">
          {{doc.type | translate}} :
        </label>
        <div class="col-md-9">
          <a>{{doc.path}}</a>
        </div>
      </div>
    </div>
    <div *ngIf="documentArr && documentArr.length>0" class="col-sm-12 text-left m-t">
      <div *ngFor="let document of documentArr; let i = index" [ngClass]="{'b-t p-t': i !=0}" class="row">
        <div class="col-sm-12">
          <span class="col-md-3" translate>resource.documentation.label.documentation</span>
          <label class="col-md-9">{{document.name}}</label>
        </div>
        <div class="col-sm-12">
          <div *ngFor="let doc of document.usedIn" class="row">
            <label class="col-md-3 _600">
              {{doc.type | translate}} :
            </label>
            <div class="col-md-9">
              <a>{{doc.path}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="resetProfiles && resetProfiles.length>0" class="col-sm-12 text-left m-t-sm">
      <div class="row">
        <label class="col-md-3 col-md-offset-3" translate>
          user.label.account
        </label>
        <div class="col-md-6  text-left">
          <div *ngFor="let profile of resetProfiles; let i = index">
            {{i + 1}} - {{profile}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="activeModal.close('close')" [disabled]="count == 0"
          [ngClass]="{'btn-primary' : type !== 'Delete' && type !== 'Remove'}" class="btn btn-danger btn-sm"
          type="button">
    <span *ngIf="type === 'Delete'">{{'common.button.delete' | translate}}</span>
    <span *ngIf="type === 'Remove'">{{'common.button.remove' | translate}}</span>
    <span *ngIf="type !== 'Delete' && type !== 'Remove'">{{'common.button.confirm' | translate}}</span>
  </button>
  <button (click)="activeModal.destroy()" class="btn btn-grey btn-sm" translate type="button">
    common.button.cancel
  </button>
</div>

