<div class="navbar p-l-0 p-r-20">
  <!-- nabar right -->
  <ul class="nav navbar-nav pull-right " style="margin-right: 165px">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" nz-dropdown nzTrigger="click" [nzDropdownMenu]="help" [nzPlacement]="'bottomRight'">
         <span class="text-left p-l-xs">
             <i class="fa fa-lg fa-question-circle" style="font-size: 20px"></i>
         </span>
      </a>
      <nz-dropdown-menu #help="nzDropdownMenu">
        <ul nz-menu >
          <li nz-menu-item >
            <a (click)="coreService.about()">{{'info.button.aboutJobScheduler' | translate}}</a></li>
          <li nz-submenu nzTitle="{{'info.button.featuresAndDownload' | translate}} " >
            <ul>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/jobscheduler">{{'info.button.jobSchedulerHome' | translate}}</a>
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/jobscheduler-downloads">{{'info.button.jobSchedulerDownload' | translate}}</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="{{'info.button.announcements' | translate}} " >
            <ul>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://twitter.com/job_scheduler">{{'info.button.followOnTwitter' | translate}}</a>
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/news">{{'info.button.jobSchedulerNews' | translate}}</a>
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/s4BB">{{'info.button.jobSchedulerReleaseNotes' | translate}}</a>
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://change.sos-berlin.com/">{{'info.button.changeManagementSystem' | translate}}</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="{{'info.button.documentation' | translate}} " >
            <ul>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://www.sos-berlin.com/doc/en/scheduler.doc/index.xml">{{'info.button.jobSchedulerReferenceDocumentation' | translate}}</a>              
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/fgKX">{{'info.button.jobSchedulerTutorials' | translate}}</a>              
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/lo74">{{'info.button.jocCockpitDocumentation' | translate}}</a>              
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://www.youtube.com/channel/UCBL98BrVLzJxk8t8TXRFjhA">{{'info.button.videosOnYouTube' | translate}}</a>              
              </li>
            </ul> 
          </li>
          <li nz-submenu nzTitle="{{'info.button.discussion' | translate}} " >
            <ul>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://kb.sos-berlin.com/x/LYBB">{{'info.button.jobSchedulerFAQ' | translate}}</a>              
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://sourceforge.net/p/jobscheduler/discussion/">{{'info.button.jobSchedulerForum' | translate}}</a>              
              </li>
            </ul> 
          </li>
          <li nz-submenu nzTitle="{{'info.button.supportRequests' | translate}} " >
            <ul>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://sourceforge.net/p/jobscheduler/_list/tickets">{{'info.button.openSourceUserTicketSystem' | translate}}</a>
              </li>
              <li nz-menu-item >
                <a tabindex="-1" target="_blank" href="https://support.sos-berlin.com/otrs/customer.pl?Lang=en">{{'info.button.customerTicketSystem' | translate}}</a>
              </li>
            </ul> 
          </li>
          <li nz-menu-item ><a href="mailto:sales@sos-berlin.com"
                 target="_top">{{'info.button.feedback' | translate}}</a></li>
        </ul>
      </nz-dropdown-menu>
    </li>
  </ul>
</div>
<div class="bg-color bg-auto w-full">
  <div class="smooth pos-rlt">
    <div id="logo-top"></div>
    <div class="center-block w-xxxl w-auto-xs p-y-md">
      <div class="padding box text-color m-a-md">
        <div class="navbar m-t">
          <div class="pull-center">
            <a class="navbar-brand">
              <img src="./assets/images/JobScheduler_logo.png" alt="." style="max-height: 90px">
            </a>
          </div>
        </div>
        <div style="margin-top: 65px"></div>
        <div class="hide alert alert-danger" [ngClass]="{'show':errorMsg}">
          <span translate>message.loginError</span>
        </div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(user)" class="p-t-sm p-b-sm p-l-xs p-r-xs">

          <div class="md-form-group">
            <input type="text" [(ngModel)]="user.userName" class="md-input" name="userName" required>
            <label class="font14"> {{ 'login.label.account' | translate}}</label>
          </div>
          <div class="md-form-group">
            <input type="password" [(ngModel)]="user.password" class="md-input" name="password" autocomplete required>
            <label class="font14"> {{'login.label.password' | translate}}</label>
          </div>
          <div class="m-b-md">
            <label class="md-check">
              <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe">
              <i class="primary"></i>

              {{'login.label.rememberMe' | translate}}
            </label>
          </div>
          <button [disabled]="!myForm.form.valid || submitted" type="submit" class="btn btn-primary btn-block p-x-md">
            <i *ngIf="submitted" class="fa fa-spin fa-spinner"></i>
            {{'login.button.logIn' | translate}}
          </button>
        </form>
      </div>
    </div>
    <div id="logo-bottom"></div>
  </div>
</div>
