<ul class="m-r-165 pos-abt r-12" style="z-index: 9999;">
  <li class="nav-item dropdown">
    <app-info-menu></app-info-menu>
  </li>
</ul>

<div class="w-full" style="overflow: auto;height: 100%">
  <img src="./assets/images/diamond_img.png" alt="" class="pos-abt top-50">
  <div class="smooth pos-rlt login-box">
    <div class="w-full">
      <div id="logo-top"></div>
      <div class="center-block w-xxxl w-auto-xs" id="center-block">
        <div class="padding text-color m-a p-t-xs">
          <div class="navbar min-ht">
            <div class="pull-center">
              <a class="navbar-brand" target="_blank" href="https://js7.sh/">
                <img class="cursor logo-for-default logo-ht" src="./assets/images/JS7-logo-default-theme.png" alt="JS7">
                <img class="cursor logo-for-light logo-ht" src="./assets/images/JS7-logo-light-theme.png" alt="JS7">
                <img class="cursor logo-for-dark logo-ht" src="./assets/images/JS7-light-dark-theme.png" alt="JS7">
                <img class="cursor logo-for-grey logo-ht" src="./assets/images/JS7-logo-grey-theme.png" alt="JS7">
              </a>
            </div>
          </div>
          <div class="m-t-72"></div>
          <div class="hide b-a p-a-sm m-t-sm error-input" [ngClass]="{'show':errorMsg}">
            <span *ngIf="!errorMsgText" translate>login.message.loginError</span>
            <span *ngIf="errorMsgText">{{errorMsgText}}</span>
          </div>
          <form  #myForm="ngForm" (ngSubmit)="onSubmit(user)" class="p-t-sm p-b-sm p-l-xs p-r-xs">
            <div *ngIf="showRegister" class="md-form-group">
              <input type="text" [(ngModel)]="user.displayName" id="display-name" class="md-input"
                #displayName="ngModel" required name="displayName">
              <label class="font14" for="displayName"> {{ 'register.label.displayName' | translate}}
                <sup class="text-danger text-sm">*</sup>
              </label>
              <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)" class="text-danger help-block">
                <div *ngIf="displayName.errors.required">
                  <div translate>common.message.requiredError</div>
                </div>
            </div>
            </div>
            <div *ngIf="showRegister" class="md-form-group">
              <input type="text" [(ngModel)]="user.email" id="email" class="md-input" #email="ngModel" required
                name="email">
              <label class="font14" for="email"> {{ 'register.label.email' | translate}}
                <sup class="text-danger text-sm">*</sup>
              </label>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger help-block">
                <div *ngIf="email.errors.required">
                  <div translate>common.message.requiredError</div>
                </div>
              </div>
            </div>
            <div *ngIf="!showRegister" class="md-form-group">
              <input type="text" [(ngModel)]="user.userName" id="account" class="md-input" #userName="ngModel"
                name="userName">
              <label class="font14" for="account"> {{ 'login.label.account' | translate}}</label>
            </div>
            <div *ngIf="!showRegister" class="md-form-group">
              <input type="password" [(ngModel)]="user.password" id="password" class="md-input" name="password"
                autocomplete="off">
              <label class="font14" for="password"> {{'login.label.password' | translate}}</label>
            </div>
            <div class="m-b-md" *ngIf="defaultSetting.enableRememberMe && !showRegister">
              <label name="rememberMe" nz-checkbox [(ngModel)]="rememberMe">
                {{'login.label.rememberMe' | translate}}
              </label>
            </div>
            <button *ngIf="!showRegister" [disabled]="submitted" type="submit" class="btn btn-primary btn-block p-x-md">
              <i *ngIf="submitted" class="fa fa-spin fa-spinner"></i>
              <i *ngIf="!submitted" class="fa fa-sign-in p-r-xs"></i>
              {{'login.button.logIn' | translate}}
            </button>
            <button *ngIf="showRegister" [disabled]="submitted1 || !myForm.form.valid" type="submit" class="btn btn-primary btn-block p-x-md m-t-12"  (click)="register()">
              <i *ngIf="submitted1" class="fa fa-spin fa-spinner"></i>
              <i *ngIf="!submitted1" class="fa fa-user-plus p-r-xs"></i>
              {{'register.button.register' | translate}}
            </button>
          </form>
          <a class="font14 text-primary m-t p-l-xs" *ngIf="showRegister" (click)="back();"><i class="fa fa-arrow-left p-r-xs" aria-hidden="true"></i> {{'register.button.back' | translate}}</a>

          <ng-container *ngIf="!showRegister">
            <div *ngIf="oidcIdentityServiceItems?.length > 0 || fido2IdentityServiceItems?.length > 0"
              class="horz-line-text text-u-c" translate>common.label.or</div>

            <div class="row" *ngIf="oidcIdentityServiceItems?.length > 0">
              <div class="col-md-12" *ngFor="let item of oidcIdentityServiceItems">
                <ng-container *ngIf="item.iamOidcName">
                  <button class="btn btn-default btn-block btn-sm m-b-12" (click)="loginWithPopup(item)"
                    [ngStyle]="{'padding-bottom': (item.iamIconUrl ? '4px' : '7px'), 'padding-top': (item.iamIconUrl ? '4px' : '7px')}">
                    <img *ngIf=" item.iamIconUrl" height="24px" width="24px" class="m-r-sm"
                      src="./api/iam/icon/{{item.identityServiceName}}" />
                    <span translate
                      [translateParams]="{identityServiceName: item.iamOidcName}">login.button.loginWith</span>
                  </button>
                </ng-container>
              </div>
            </div>
            <div *ngIf="fido2IdentityServiceItems?.length > 0" class="horz-line-text text-u-c" translate>common.label.or
            </div>
            <div class="row" *ngIf="fido2IdentityServiceItems?.length > 0">
              <div class="col-md-12" *ngFor="let item of fido2IdentityServiceItems">
                <ng-container *ngIf="item.identityServiceName">
                  <button class="btn btn-default btn-block btn-sm m-b-12" (click)="onSign(item)">
                    <img height="24px" width="24px" class="m-r-sm" src="./assets/images/fido2.png" />
                    <span translate
                      [translateParams]="{identityServiceName: item.identityServiceName}">login.button.loginWith</span>
                  </button>
                  <a class="float-right font-14 text-primary" (click)="registerDevice()">{{'login.button.registerDevice' | translate}}</a>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div id="logo-bottom"></div>
    </div>
  </div>
</div>
