<div class="navbar p-l-0 p-r-20">
  <ul class="nav navbar-nav pull-right m-r-165">
    <li class="nav-item dropdown">
      <app-info-menu></app-info-menu>
    </li>
  </ul>
</div>
<div class="w-full" style="overflow: auto;">
  <img src="./assets/images/diamond_img.png" alt="" class="pos-abt top-50">
  <div class="smooth pos-rlt login-box">
    <div id="logo-top"></div>
    <div class="center-block w-xxxl w-auto-xs">
      <div class="padding text-color m-a p-t-xs">
        <div class="navbar min-ht">
          <div class="pull-center">
            <a class="navbar-brand" target="_blank" href="https://js7.sh/">
              <img class="cursor logo-for-default logo-ht" src="./assets/images/JS7-logo-default-theme.png" alt="JS7">
              <img class="cursor logo-for-light logo-ht" src="./assets/images/JS7-logo-light-theme.png" alt="JS7">
              <img class="cursor logo-for-dark logo-ht" src="./assets/images/JS7-light-dark-theme.png" alt="JS7">
              <img class="cursor logo-for-grey logo-ht" src="./assets/images/JS7-logo-grey-theme.png" alt="JS7">
            </a>
          </div>
        </div>
        <div class="m-t-72"></div>
        <div class="hide b-a p-a-sm m-t-sm error-input" [ngClass]="{'show':errorMsg}">
          <span translate>login.message.loginError</span>
        </div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(user)" class="p-t-sm p-b-sm p-l-xs p-r-xs">
          <div class="md-form-group">
            <input type="text" [(ngModel)]="user.userName" id="account" class="md-input" #userName="ngModel"
              name="userName">
            <label class="font14" for="account"> {{ 'login.label.account' | translate}}</label>
          </div>
          <div class="md-form-group">
            <input type="password" [(ngModel)]="user.password" id="password" class="md-input" name="password"
              autocomplete="off">
            <label class="font14" for="password"> {{'login.label.password' | translate}}</label>
          </div>
          <div class="m-b-md">
            <label name="rememberMe" nz-checkbox [(ngModel)]="rememberMe">
              {{'login.label.rememberMe' | translate}}
            </label>
          </div>
          <button [disabled]="submitted" type="submit" class="btn btn-primary btn-block p-x-md">
            <i *ngIf="submitted" class="fa fa-spin fa-spinner"></i>
            <i *ngIf="!submitted" class="fa fa-sign-in p-r-xs"></i>
            {{'login.button.logIn' | translate}}
          </button>
        </form>

        <div *ngIf="identityServiceItems.length > 0" class="horz_line_text text-u-c" translate>common.label.or</div>

        <div class="row" *ngIf="identityServiceItems.length > 0">

          <div class="col-md-12" *ngFor="let item of identityServiceItems">
            <ng-container *ngIf="item.iamOidcName && !item.iamIconUrl">
              <button *ngIf="!item.iamIconUrl" class="btn btn-default btn-block btn-sm m-b-12"
                (click)="loginWithPopup(item)" style="padding-top: 6px;padding-bottom: 6px;">
                <span translate
                  [translateParams]="{identityServiceName: item.iamOidcName}">login.button.loginWith</span>
              </button>
            </ng-container>
          </div>
          <div class="col-md-12 text-center">
            <span *ngFor="let item of identityServiceItems">
            <ng-container *ngIf="item.iamOidcName && item.iamIconUrl">

              <a class="btn btn-sm m-r-12" (click)="loginWithPopup(item)" role="button" style="text-transform:none">
                <img height="20px"
                  src=".{{item.iamIconUrl}}" />
              </a>
            </ng-container>
          </span>
        </div>
      </div>

    </div>
  </div>
  <div id="logo-bottom"></div>
</div>
</div>
