<div class="row" >
  <div class="col-md-12" *ngIf="data.type">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span class="text-left">
          <a (click)="backToListView()"><i nz-tooltip="{{'common.button.back' | translate}}" class="fa fa-arrow-circle-left config-back-btn"></i></a>
          <span class="_600">{{data.path}}<span *ngIf="data.path !=='/'">/</span>{{data.name}}</span>
        </span>
        <div class="inline pull-right">
          <span class="badge badge-success m-r-12" *ngIf="lock.valid">
              <span translate>inventory.label.valid</span>
          </span>
          <span class="badge" [ngClass]="!data.deployed ? 'badge-danger':'badge-success'">
            <span *ngIf="!data.deployed" translate>inventory.label.notDeployed</span>
            <span *ngIf="data.deployed" translate>inventory.label.deployed</span>
          </span>
          <button *ngIf="permission.Inventory.configurations.publish.deploy" type="button" [disabled]="!lock.valid && !lock.hasDeployments" class="btn btn-sm btn-grey m-l-12 m-t-n-xs" (click)="deploy()" >
            <i class="fa fa-rocket p-r-xs"></i>
            <span translate>inventory.button.deploy</span>
          </button>
        </div>
      </div>
      <form *ngIf="lock.configuration">
        <div class="form-group row"
             [ngClass]="{ 'has-error' : (((name.dirty || name.touched) && name.invalid))}">
          <label class="col-md-4 col-lg-3 form-control-label" translate>common.label.name</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" required identifierValidation [appAutofocus]="true" class="form-control" (blur)="rename(name.invalid)"
                   name="name" [(ngModel)]="lock.name" #name="ngModel" autocomplete="off">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger help-block">
              <div *ngIf="name.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
              <div *ngIf="name.errors.invalidIdentifier" translate>common.message.invalid</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" translate>common.label.title</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" class="form-control" autocomplete="off" placeholder="{{'common.placeholder.title' | translate}}"
                   name="title" [(ngModel)]="lock.configuration.title" (blur)="saveJSON()">
          </div>
        </div>
        <div class="form-group row" [ngClass]="{ 'has-error' : (((limit.dirty || limit.touched) && limit.invalid))}">
          <label class="col-md-4 col-lg-3 form-control-label" translate>inventory.label.limit</label>
          <div class="col-md-8 col-lg-6">
            <nz-input-number required [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'inventory.placeholder.enterLimit' | translate"
                             name="limit" #limit="ngModel" [(ngModel)]="lock.configuration.limit" (nzBlur)="saveJSON()"></nz-input-number>
            <div *ngIf="limit.invalid && (limit.dirty || limit.touched)" class="text-danger help-block">
              <div *ngIf="limit.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12" *ngIf="data.object">
    <app-table
      [schedulerId]="schedulerId"
      [preferences]="preferences"
      [permission]="permission"
      [copyObj]="copyObj"
      [objectType]="objectType"
      [dataObj]="data"></app-table>
  </div>
</div>
