<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                      <app-breadcrumbs></app-breadcrumbs>
                    </div>
                    <div class="inline" [ngClass]="{'hide':object.fileTransfers.length>0}">
                        <label class="md-check valign" >
                            <input type="checkbox" [(ngModel)]="yadeView.current" (click)="changeJobScheduler()">
                            <i class="primary"></i><span translate>label.currentJobscheduler</span>
                        </label>

                        <div class="btn-group m-l-12 hidden-btn-group" >
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('STATE','ALL')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.states=='ALL'}" translate>button.allStatus
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('STATE','SUCCESSFUL')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.states=='SUCCESSFUL'}" translate>button.successful
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('STATE','FAILED')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.states=='FAILED'}" translate>button.failed
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('STATE','INCOMPLETE')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.states=='INCOMPLETE'}" translate>button.incomplete
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-12 dropdown-toggle" data-toggle="dropdown" translate>label.state</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" (click)="loadYadeFiles('STATE','ALL')"
                                   [ngClass]="{'btn-primary': yadeFilters.filter.states=='ALL', 'disable-link':savedFilter.selected}" translate>button.allStatus
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('STATE','SUCCESSFUL')"
                                   [ngClass]="{'btn-primary':yadeFilters.filter.states=='SUCCESSFUL', 'disable-link':savedFilter.selected}" translate>button.successful
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('STATE','FAILED')"
                                   [ngClass]="{'btn-primary': yadeFilters.filter.states=='FAILED', 'disable-link':savedFilter.selected}" translate>button.failed
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('STATE','INCOMPLETE')"
                                   [ngClass]="{'btn-primary': yadeFilters.filter.states=='INCOMPLETE', 'disable-link':savedFilter.selected}" translate>button.incomplete
                                </a>
                            </div>
                        </div>
                        <div class="btn-group m-l-12 hidden-btn-group">
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('DATE','all')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.date=='all'}" translate>button.all
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('DATE','today')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.date=='today'}" translate>button.today
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('DATE','-1h')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.date=='-1h'}" translate>button.last1
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('DATE','-12h')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.date=='-12h'}" translate>button.last12
                            </button>
                            <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('DATE','-24h')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.date=='-24h'}" translate>button.last24
                            </button>
                             <button [disabled]="savedFilter.selected" class="btn btn-grey btn-sm button-group-ellipsis" (click)="loadYadeFiles('DATE','-7d')"
                                    [ngClass]="{'btn-primary': yadeFilters.filter.date=='-7d'}" translate>button.lastWeak
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-12 dropdown-toggle" data-toggle="dropdown" translate>label.anyDate</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" (click)="loadYadeFiles('DATE','all')"
                                        [ngClass]="{'btn-primary': yadeFilters.filter.date=='all', 'disable-link':savedFilter.selected}" translate>button.all
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('DATE','today')"
                                   [ngClass]="{'btn-primary': yadeFilters.filter.date=='today', 'disable-link':savedFilter.selected}" translate>button.today
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('DATE','-1h')"
                                        [ngClass]="{'btn-primary': yadeFilters.filter.date=='-1h', 'disable-link':savedFilter.selected}" translate>button.last1
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('DATE','-12h')"
                                        [ngClass]="{'btn-primary': yadeFilters.filter.date=='-12h', 'disable-link':savedFilter.selected}" translate>button.last12
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('DATE','-24h')"
                                        [ngClass]="{'btn-primary': yadeFilters.filter.date=='-24h', 'disable-link':savedFilter.selected}" translate>button.last24
                                </a>
                                <a class="dropdown-item" (click)="loadYadeFiles('DATE','-7d')"
                                        [ngClass]="{'btn-primary': yadeFilters.filter.date=='-7d', 'disable-link':savedFilter.selected}" translate>button.lastWeak
                                </a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <button class="btn btn-grey btn-sm m-l-12 dropdown-toggle" [nz-tooltip]="selectedFiltered.account" data-toggle="dropdown">{{'label.filters' | translate}} <span class="text-primary" [innerHtml]="selectedFiltered.name"></span></button>
                            <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" (click)="createCustomization()" translate>label.createFilter</a>
                                <a class="dropdown-item" (click)="editFilters()" *ngIf="filterList.length>0" translate>label.editExistingFilters</a>
                                <div class="dropdown-divider" *ngIf="filterList.length>0"></div>
                                <a class="dropdown-item" [ngClass]="{orange: (savedFilter.selected == filter.id)}" (click)="changeFilter(filter)" *ngFor="let filter of filterList | orderBy: 'name'">
                                    <span [nz-tooltip]="filter.account">{{filter.name}}</span>
                                    <i (click)="changeFilter();$event.stopPropagation();" *ngIf="savedFilter.selected == filter.id" class="fa fa-times-circle-o remove" [nz-tooltip]="'tooltip.deactivateCustomization' | translate"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hide" [ngClass]="{'show-block':object.fileTransfers.length>0}">
                        <button class="hide btn btn-grey btn-sm m-l-12"
                                [ngClass]="{'show-block':permission.YADE.execute.transferStart}"
                                (click)="restartAllTransfer()"><i class="fa fa-repeat"></i>&nbsp;
                            <span class="hidden-sm-down" translate>button.restart</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht" >
    <div class="padding p-b-0">
        <div class="row m-b m-t-xs">
            <div class="col-md-12">
                <button class="btn btn-sm btn-grey" (click)="expandDetails()" *ngIf="fileTransfers.length>0">
                  <i class="fa fa fa-caret-down p-r-xs"></i>&nbsp;
                  <span translate>button.expandDetails</span>
                </button>
                <button class="btn btn-sm btn-grey m-l-12" (click)="collapseDetails()" *ngIf="fileTransfers.length>0">
                  <i class="fa fa fa-caret-up p-r-xs"></i>&nbsp;
                    <span translate>button.collapseDetails</span>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" (click)="advancedSearch()" *ngIf="!showSearchPanel">
                  <span translate>button.advancedSearch</span>&nbsp;
                  <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" (click)="cancel()" *ngIf="showSearchPanel">
                  <span translate>button.advancedSearch</span>&nbsp;
                  <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <input type="search" class="pull-right" placeholder="{{'placeholder.search' | translate}}"
                       [(ngModel)]="searchKey" style="width: 180px">
            </div>
        </div>
        <div class="row hide" [ngClass]="{'show':showSearchPanel}">
          <div class="col-md-12">
            <div class="box p-a m-b-sm m-t-sm p-t-md">
                  <app-form-template [filter]="searchFilter" [preferences]="preferences" [schedulerIds]="schedulerIds" [permission]="permission" [allFilter]="filterList"
                                   [isSearch]="true" (onCancel)="cancel()" (onSearch)="search()"></app-form-template>
            </div>
          </div>
        </div>
        <div class="m-t-sm box p-a">
                <div class="table-responsive">
                    <nz-table id="yade"
                        #ajaxTable
                        [nzSize]="'small'"
                        [nzPageSize]="yadeFilters.entryPerPage || preferences.entryPerPage"
                        [nzPageIndex]="yadeFilters.currentPage"
                        [nzBordered]="true"
                        [nzShowPagination]="fileTransfers.length > 0"
                        [nzData]="fileTransfers"
                        [nzLoading]="!isLoaded"
                        [nzShowSizeChanger]="true"
                        (nzPageIndexChange)="pageIndexChange($event)"
                        (nzPageSizeChange)="pageSizeChange($event)"
                        [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
                    >
                        <thead (nzSortChange)="sortBy($event)" nzSingleSort>
                            <tr>
                                <th nzWidth="30px" *ngIf="permission.YADE.execute.transferStart">
                                    <label class="md-check lg-check">
                                        <input type="checkbox" [(ngModel)]="checkAllFileTransfers.checkbox" (change)="checkAllFileTransfersFnc()"><i class="primary"></i>
                                    </label>
                                </th>
                                <th class="tableexport-ignore menu"><span translate>label.action</span></th>
                                <th nzShowSort nzSortKey="state._text"><span translate>label.status</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="profile"><span translate>label.profileName</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="created"><span translate>label.mandator</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="jobschedulerId" *ngIf="!yadeView.current"><span translate>label.jobSchedulerId</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="operation"><span translate>label.operation</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="source.host"><span translate>label.sourceHost</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="target.host"><span translate>label.targetHost</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="numOfFiles"><span translate>label.totalNumberOfFiles</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="error.message"><span translate>label.lastErrorMessage</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="start"><span translate>label.startTime</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="end"><span translate>label.endTime</span>&nbsp;</th>
                                <th nzShowSort nzSortKey="duration"><span translate>label.duration</span>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody >
                        <ng-template ngFor let-transfer [ngForOf]="ajaxTable.data | orderBy: yadeFilters.filter.sortBy:yadeFilters.reverse">
                        <tr>
                            <td *ngIf="permission.YADE.execute.transferStart">
                                <label class="md-check">
                                    <input type="checkbox" id="{{transfer.id}}" [(checklist)]="object.fileTransfers" [disabled]="transfer.state._text=='SUCCESSFUL'"
                                           [checklistValue]="transfer" data-checklist-comparator=".id" (change)="checkALLFilesFnc(transfer)"><i class="primary"></i>
                                </label>
                            </td>
                            <td class="tableexport-ignore">
                                <div class="btn-group dropdown"  >
                                    <button type="button" class="btn-drop more-option-h"  data-toggle="dropdown" ><i
                                            class="fa fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-list dropdown-ac dropdown-more" role="menu">
                                        <a *ngIf="transfer.permission.execute.transferStart && transfer.state._text!='SUCCESSFUL'" class="dropdown-item"
                                           (click)="restartTransfer(transfer)" translate>button.restart</a>
                                         <a class="dropdown-item" (click)="coreService.copyLink('fileTransfer',transfer.id)" translate>button.copyLinkToObject</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                              <span class="show-in-single-line">
                                <i class="cursor fa fa-caret-down fa-lg tableexport-ignore p-l-xs p-r-xs" *ngIf="!transfer.show" (click)="showTransferFuc(transfer);"></i>
                                 <i class="cursor fa fa-caret-up fa-lg tableexport-ignore p-l-xs p-r-xs" *ngIf="transfer.show" (click)="transfer.show = false;"></i>&nbsp;
                                <span class="label cursor"  (click)="coreService.showLogWindow(null, transfer, null, transfer.jobschedulerId, null);$event.stopPropagation()" [ngClass]="coreService.getColor(transfer.state.severity,'bg')" [innerHtml]="transfer.state._text | translate"></span>
                              </span>
                            </td>
                            <td [innerHtml]="transfer.profile"></td>
                            <td [innerHtml]="transfer.mandator"></td>
                            <td *ngIf="!yadeView.current" >
                                 <span *ngIf="!transfer.jobschedulerId" [innerHtml]="schedulerIds.selected"></span>
                                 <span *ngIf="transfer.jobschedulerId" [innerHtml]="transfer.jobschedulerId"></span>
                             </td>
                            <td [innerHtml]="transfer._operation"></td>
                            <td [innerHtml]="transfer.source.host"></td>
                            <td [innerHtml]="transfer.target.host"></td>
                            <td [innerHtml]="transfer.numOfFiles"></td>
                            <td class="text-danger">
                              <span *ngIf="transfer.error" [innerHtml]="transfer.error.message"></span>
                            </td>
                            <td [innerHtml]="transfer.start | stringToDate"></td>
                            <td [innerHtml]="transfer.end | stringToDate"></td>
                            <td [innerHtml]="transfer.start | duration:transfer.end"></td>
                        </tr>
                        <tr class="tableexport-ignore" *ngIf="transfer.show">
                            <td></td>
                            <td colspan="13" style="padding: 0 !important;">
                                <nz-table class="m-a-0 inner-table"
                                    [nzSize]="'small'"
                                    [nzShowPagination]="false">
                                    <thead>
                                     <tr class="tableexport-ignore">
                                         <th translate>label.sourceHostUser</th>
                                         <th translate>label.sourceHostPort</th>
                                         <th translate>label.sourceHostProtocol</th>
                                         <th translate>label.targetHostUser</th>
                                         <th translate>label.targetHostPort</th>
                                         <th translate>label.targetHostProtocol</th>
                                         <th translate>label.jumpHost</th>
                                         <th translate>label.jumpUser</th>
                                         <th translate>label.jumpPort</th>
                                         <th translate>label.jumpProtocol</th>
                                         <th translate>label.jobChain</th>
                                         <th translate>label.job</th>
                                         <th translate>label.order</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                        <td>
                                          <span *ngIf="transfer.source" [innerHtml]="transfer.source.account"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.source" [innerHtml]="transfer.source.port"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.source" [innerHtml]="transfer.source.protocol"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.target" [innerHtml]="transfer.target.account"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.target" [innerHtml]="transfer.target.port"></span>
                                        </td>
                                        <td>
                                           <span *ngIf="transfer.target" [innerHtml]="transfer.target.protocol"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.jump" [innerHtml]="transfer.jump.host"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.jump" [innerHtml]="transfer.jump.account"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.jump" [innerHtml]="transfer.jump.port"></span>
                                        </td>
                                        <td>
                                          <span *ngIf="transfer.jump" [innerHtml]="transfer.jump.protocol"></span>
                                        </td>
                                        <td><span (click)="coreService.showJobChain(transfer.jobChain);" class="text-hover-primary" [innerHtml]="transfer.jobChain"></span></td>
                                        <td><span (click)="coreService.showJob(transfer.job);" class="text-hover-primary" [innerHtml]="transfer.job"></span></td>
                                        <td><span (click)="coreService.showOrderLink(transfer);" class="text-hover-primary" [innerHtml]="transfer.orderId"></span></td>
                                     </tr>
                                     </tbody>
                                 </nz-table>
                             </td>
                        </tr>
                        <tr class="tableexport-ignore" *ngIf="transfer.show">
                            <td></td>
                            <td colspan="13" style="padding: 0 !important;">
                                 <table class="table m-a-0 inner-table">
                                     <thead>
                                     <tr class="tableexport-ignore">
                                         <th class="chk" *ngIf="transfer.permission.execute.transferStart">
                                            #
                                        </th>
                                         <th translate>label.sourceFileName</th>
                                         <th translate>label.sourceFilePath</th>
                                         <th translate>label.targetFileName</th>
                                         <th translate>label.targetFilePath</th>
                                         <th translate>label.status</th>
                                         <th translate>label.errorMessage</th>
                                         <th translate>label.size</th>
                                         <th translate>label.integrityHash</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr *ngFor="let file of transfer.files">
                                         <td *ngIf="transfer.permission.execute.transferStart" >
                                            <label class="md-check">
                                                <input type="checkbox" [(checklist)]="object.files" [disabled]="transfer.state._text=='SUCCESSFUL'"
                                                       [checklistValue]="file"><i class="primary"></i>
                                            </label>
                                        </td>
                                         <td>{{file.sourceName}}</td>
                                         <td>{{file.sourcePath}}</td>
                                         <td>{{file.targetName}}</td>
                                         <td>{{file.targetPath}}</td>
                                         <td><span *ngIf="file.state" class="label" [ngClass]="coreService.getColor(file.state.severity,'bg')" [innerHtml]="file.state._text | translate"></span></td>
                                         <td class="text-danger"><span *ngIf="file.error">{{file.error.message}}</span></td>
                                         <td>{{file.size | byteToSize}}</td>
                                         <td>{{file.integrityHash}}</td>
                                     </tr>
                                     </tbody>
                                 </table>
                                 <div *ngIf="transfer.files && transfer.files.length==0" translate>message.noFileFound</div>
                                 <div *ngIf="!transfer.files" class="text-center text-primary"><i class="fa fa-spin fa-spinner"></i></div>
                             </td>
                        </tr>
                        </ng-template>
                        </tbody>
                    </nz-table>
                </div>
                <div class="w-half label-top"
                     *ngIf="(fileTransfers | filter: searchKey).length >0"><span
                  translate>label.total</span> {{(fileTransfers | filter: searchKey).length}}
                  <span *ngIf="(fileTransfers | filter: searchKey).length >1" translate>label.noFilesFound</span>
                  <span *ngIf="(fileTransfers | filter: searchKey).length ==1" translate>label.noFileFound</span>
                </div>
            </div>
    </div>
</div>
