<div class="modal-header">
  <h4 class="modal-title">
    <span translate>workflow.wizard.label.new</span>&nbsp;
    <span *ngIf="job.docName">{{job.docName}}</span>
    <span class="_600" *ngIf="!job.docName" translate>workflow.wizard.label.job</span>
  </h4>
  <button type="button" class="close" (click)="cancel()" aria-label="Close">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<form>
  <div class="modal-body p-a">
      <div class="row">
        <div class="col-md-12" *ngIf="wizard.step === 1">
          <div class="form-group row">
            <label class="col-sm-3 form-control-label" translate>workflow.wizard.label.title</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="title" placeholder="{{'common.placeholder.title' | translate}}"
                     [(ngModel)]="job.title">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 m-t-sm m-b">
              <input type="search" name="search" [appAutofocus]="true" placeholder="{{'common.placeholder.search' | translate}}" [(ngModel)]="wizard.searchText">
              <i *ngIf="wizard.searchText" class="fa fa-times search-close" (click)="wizard.searchText = '';"></i>
            </div>
            <div class="col-sm-12">
              <div class="table-responsive" style="max-height: 400px;overflow: auto">
                <nz-table
                  #ajaxTable
                  [nzSize]="'small'"
                  [nzBordered]="true"
                  [nzShowPagination]="false"
                  [nzFrontPagination]="false"
                  [nzData]="(jobList | filter: wizard.searchText: ['assignReference', 'title', 'javaClass']) | orderBy: filter.sortBy:filter.reverse"
                  [nzLoading]="loading"
                  [nzShowSizeChanger]="false"
                >
                  <thead>
                  <tr>
                    <th nzWidth="22%" (click)="sort('assignReference')"><a><span class="p-r-xs" translate>workflow.wizard.label.name</span>
                      <i *ngIf="filter.sortBy == 'assignReference' && !filter.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="filter.sortBy == 'assignReference' && filter.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('title')"><a><span class="p-r-xs" translate>workflow.wizard.label.title</span>
                      <i *ngIf="filter.sortBy == 'title' && !filter.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="filter.sortBy == 'title' && filter.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('javaClass')"><a><span class="p-r-xs" translate>workflow.wizard.label.class</span>
                      <i *ngIf="filter.sortBy == 'javaClass' && !filter.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="filter.sortBy == 'javaClass' && filter.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of ajaxTable.data"
                      (click)="selectJob(item)" class="cursor" [ngClass]="{'light-bg' : item.javaClass == job.javaClass}">
                    <td>
                      <span class="show-in-single-line">
                        <i *ngIf="item.docPath" class="fa fa-book p-r-sm" (click)="showDoc(item.docPath);$event.stopPropagation()"></i>
                        <span [innerHTML]="item.assignReference | highlight:wizard.searchText"></span>
                      </span>
                    </td>
                    <td><span [innerHTML]="item.title | highlight:wizard.searchText"></span></td>
                    <td><span [innerHTML]="item.javaClass | highlight:wizard.searchText"></span></td>
                  </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="wizard.step === 2">
          <div class="row">
            <div class="col-sm-1 m-b-sm text-center">
              <label nz-checkbox [(nzChecked)]="wizard.checked" [nzIndeterminate]="wizard.indeterminate"
                     (nzCheckedChange)="onAllChecked($event)"></label>
            </div>
            <div class="col-sm-5 m-b-sm p-l-0" translate>common.label.name</div>
            <div class="col-sm-6 m-b-sm p-r-0" translate>common.label.value</div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="form-group row m-b-0" *ngFor="let param of job.params; let i = index">
                <div class="col-sm-1 m-b-sm text-center">
                  <label nz-checkbox style="position: relative;top:5px" [nzChecked]="wizard.setOfCheckedValue.has(param.name)" (nzCheckedChange)="onItemChecked(param, $event)"></label>
                </div>
                <div class="col-sm-5 m-b-sm p-l-0">
                  <label class="form-control-label p-l-0" [ngClass]="{'highlight-yellow-bg': param.required}"
                         style="white-space: normal;word-wrap: break-word;">{{param.name}}</label>
                </div>
                <div class="col-sm-5 m-b-sm p-r-0" [ngClass]="{ 'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <input type="text" autocomplete="off" #value="ngModel" [required]="param.required" class="form-control" name="newValue{{i}}" (blur)="checkCheckbox(param)" [(ngModel)]="param.newValue">
                </div>
                <div class="col-sm-1" *ngIf="param.description">
                  <i class="cursor fa fa-info-circle m-t-sm"
                     [nz-tooltip]="contentTemplate"></i>
                  <ng-template #contentTemplate>
                    <div [innerHTML]="param.description"></div>
                  </ng-template>
                </div>
              </div>
              <div class="form-group row m-b-0" *ngFor="let param of job.paramList; let i = index">
                <div class="col-sm-1 m-b-sm text-center">
                  <label nz-checkbox style="position: relative;top:5px" [nzDisabled]="true"></label>
                </div>
                <div class="col-sm-5 m-b-sm p-l-0">
                  <input type="text" autocomplete="off" class="form-control" name="name{{i}}"
                         [(ngModel)]="param.name" placeholder="{{'common.placeholder.name' | translate}} {{i+1}}">
                </div>

                <div class="col-sm-5 m-b-sm p-r-0">
                  <input type="text" autocomplete="off" class="form-control" name="value{{i}}" (keydown)="onKeyPress($event);"
                         [(ngModel)]="param.newValue" placeholder="{{'common.placeholder.value' | translate}} {{i+1}}">
                </div>
                <div class="col-sm-1">
                  <a><i (click)="removeParams(i)" class="fa fa-times m-t-sm text-muted"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 p-l-md">
              <a class="text-u-l" (click)="addParameter()"
                 translate>workflow.wizard.button.addAnotherParameter</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm"
            [disabled]="!job.javaClass" (click)="ok()" translate>common.button.submit
    </button>
    <button type="button" class="btn btn-secondary btn-sm" *ngIf="wizard.step === 1" [disabled]="!job.javaClass"
            (click)="next()" translate>workflow.wizard.button.next
    </button>
    <button type="button" class="btn btn-secondary btn-sm" *ngIf="wizard.step === 2"
            (click)="back()" translate>common.button.back
    </button>
    <button type="button" class="btn btn-grey btn-sm"
            (click)="cancel()" translate>common.button.cancel
    </button>
    <button type="button" class="btn btn-grey btn-sm pull-right" *ngIf="wizard.step === 2"
            (click)="showDoc(job.docPath)">
      <i class="fa fa-book p-r-sm"></i>
      <span translate>workflow.wizard.button.showDocumentation</span>
    </button>
  </div>
</form>

