<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="show-inline">
            <button type="button" class="btn btn-sm btn-grey" (click)="resetProfile();">
              <i class="fa fa-refresh"></i>
              {{'profile.button.resetProfile' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row m-t-sm">
      <div class="col-sm-12">
        <div class="box p-a p-b-lg">
          <h5 translate>profile.label.userDetails</h5>
          <div class="row m-t">
            <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.userName</span></div>
            <div class="col-md-8 col-lg-9">
              <span class="text-black-lt" [innerHtml]="authService.currentUserData | decodeSpace"></span>
            </div>
          </div>
          <hr>
          <h5 translate>profile.label.roles</h5>
          <div class="row m-t-sm">
            <div class="col-sm-6" *ngIf="permission.SOSPermissionRoles">
              <div class="m-t-sm" *ngFor="let role of permission.SOSPermissionRoles.SOSPermissionRole">
                <div class="col-sm-12 text-black-lt">{{role}}</div>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="!permission.SOSPermissionRoles">
              <div class="m-t-sm">
                <div class="col-sm-12 text-black-lt">all</div>
              </div>
            </div>
          </div>
          <hr>
          <nz-tabset [nzAnimated]="false">
            <nz-tab [nzTitle]="'profile.label.preferences' | translate">
              <div class="m-l-12">
                <div class="row">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.language</div>
                  <div class="col-md-8 col-lg-9">
                    <nz-select name="language" class="w-xl"
                               [(ngModel)]="preferences.locale" (ngModelChange)="setLocale()">
                      <nz-option *ngFor="let option of locales" [nzLabel]="option.name"
                                 [nzValue]="option.lang"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.timeZone</div>
                  <div class="col-md-8 col-lg-9">
                    <nz-select nzShowSearch name="timeZone" class="w-xl"
                               [(ngModel)]="preferences.zone" (ngModelChange)="changeConfiguration()">
                      <nz-option [nzValue]="timeZone" [nzLabel]="'local '+timeZone"></nz-option>
                      <!-- <nz-option [nzValue]="selectedController.timeZone" [nzLabel]="'Controller ('+ selectedController.timeZone + ')'"></nz-option>-->
                      <nz-option nzDisabled [nzLabel]="'-----------------------------'"></nz-option>
                      <nz-option *ngFor="let option of zones" [nzLabel]="option" [nzValue]="option"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.dateTimeFormat
                  </div>
                  <div class="col-md-8 col-lg-9">
                    <nz-select nzShowSearch class="w-xl" [(ngModel)]="preferences.dateFormat"
                               (ngModelChange)="changeConfiguration()">
                      <nz-option nzValue="DD.MM.YYYY HH:mm:ss" nzLabel="Default (DD.MM.YYYY HH:mm:ss)"></nz-option>
                      <nz-option nzDisabled nzLabel="---------------------------------------------------"></nz-option>
                      <nz-option nzValue="HH:mm | DD.MM.YYYY" nzLabel="HH:mm | DD.MM.YYYY"></nz-option>
                      <nz-option nzValue="hh:mm A | DD.MM.YYYY" nzLabel="hh:mm A | DD.MM.YYYY"></nz-option>
                      <nz-option nzValue="YYYY/DD/MM HH:mm" nzLabel="YYYY/DD/MM HH:mm"></nz-option>
                      <nz-option nzValue="YYYY/DD/MM hh:mm A" nzLabel="YYYY/DD/MM hh:mm A"></nz-option>
                      <nz-option nzValue="YYYY/DD/MM HH:mm:ss" nzLabel="YYYY/DD/MM HH:mm:ss"></nz-option>
                      <nz-option nzValue="YYYY/DD/MM hh:mm:ss A" nzLabel="YYYY/DD/MM hh:mm:ss A"></nz-option>

                      <nz-option nzValue="YYYY-MM-DD HH:mm" nzLabel="YYYY-MM-DD HH:mm"></nz-option>
                      <nz-option nzValue="YYYY-MM-DD hh:mm A" nzLabel="YYYY-MM-DD hh:mm A"></nz-option>
                      <nz-option nzValue="YYYY-MM-DD HH:mm:ss" nzLabel="YYYY-MM-DD HH:mm:ss"></nz-option>
                      <nz-option nzValue="YYYY-MM-DD hh:mm:ss A" nzLabel="YYYY-MM-DD hh:mm:ss A"></nz-option>

                      <nz-option nzValue="YYYY.MM.DD HH:mm" nzLabel="YYYY.MM.DD HH:mm"></nz-option>
                      <nz-option nzValue="YYYY.MM.DD hh:mm A" nzLabel="YYYY.MM.DD hh:mm A"></nz-option>
                      <nz-option nzValue="YYYY.MM.DD HH:mm:ss" nzLabel="YYYY.MM.DD HH:mm:ss"></nz-option>
                      <nz-option nzValue="YYYY.MM.DD hh:mm:ss A" nzLabel="YYYY.MM.DD hh:mm:ss A"></nz-option>

                      <nz-option nzValue="YYYY MM DD HH:mm" nzLabel="YYYY MM DD HH:mm"></nz-option>
                      <nz-option nzValue="YYYY MM DD hh:mm A" nzLabel="YYYY MM DD hh:mm A"></nz-option>
                      <nz-option nzValue="YYYY MM DD HH:mm:ss" nzLabel="YYYY MM DD HH:mm:ss"></nz-option>
                      <nz-option nzValue="YYYY MM DD hh:mm:ss A" nzLabel="YYYY MM DD hh:mm:ss A"></nz-option>

                      <nz-option nzValue="DD/MM/YYYY HH:mm" nzLabel="DD/MM/YYYY HH:mm"></nz-option>
                      <nz-option nzValue="DD/MM/YYYY hh:mm A" nzLabel="DD/MM/YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="DD/MM/YYYY HH:mm:ss" nzLabel="DD/MM/YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="DD/MM/YYYY hh:mm:ss A" nzLabel="DD/MM/YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="DD-MM-YYYY HH:mm" nzLabel="DD-MM-YYYY HH:mm"></nz-option>
                      <nz-option nzValue="DD-MM-YYYY hh:mm A" nzLabel="DD-MM-YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="DD-MM-YYYY HH:mm:ss" nzLabel="DD-MM-YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="DD-MM-YYYY hh:mm:ss A" nzLabel="DD-MM-YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="DD.MM.YYYY HH:mm" nzLabel="DD.MM.YYYY HH:mm"></nz-option>
                      <nz-option nzValue="DD.MM.YYYY hh:mm A" nzLabel="DD.MM.YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="DD.MM.YYYY HH:mm:ss" nzLabel="DD.MM.YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="DD.MM.YYYY hh:mm:ss A" nzLabel="DD.MM.YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="DD MM YYYY HH:mm" nzLabel="DD MM YYYY HH:mm"></nz-option>
                      <nz-option nzValue="DD MM YYYY hh:mm A" nzLabel="DD MM YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="DD MM YYYY HH:mm:ss" nzLabel="DD MM YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="DD MM YYYY hh:mm:ss A" nzLabel="DD MM YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="DD.MMM YYYY HH:mm" nzLabel="DD.MMM YYYY HH:mm"></nz-option>
                      <nz-option nzValue="DD.MMM YYYY hh:mm A" nzLabel="DD.MMM YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="DD.MMM YYYY HH:mm:ss" nzLabel="DD.MMM YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="DD.MMM YYYY hh:mm:ss A" nzLabel="DD.MMM YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MM/DD/YYYY HH:mm" nzLabel="MM/DD/YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MM/DD/YYYY hh:mm A" nzLabel="MM/DD/YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MM/DD/YYYY HH:mm:ss" nzLabel="MM/DD/YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MM/DD/YYYY hh:mm:ss A" nzLabel="MM/DD/YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MMM/DD/YYYY HH:mm" nzLabel="MMM/DD/YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MMM/DD/YYYY hh:mm A" nzLabel="MMM/DD/YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MMM/DD/YYYY HH:mm:ss" nzLabel="MMM/DD/YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MMM/DD/YYYY hh:mm:ss A" nzLabel="MMM/DD/YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MM-DD-YYYY HH:mm" nzLabel="MM-DD-YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MM-DD-YYYY hh:mm A" nzLabel="MM-DD-YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MM-DD-YYYY HH:mm:ss" nzLabel="MM-DD-YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MM-DD-YYYY hh:mm:ss A" nzLabel="MM-DD-YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MM.DD.YYYY HH:mm" nzLabel="MM.DD.YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MM.DD.YYYY hh:mm A" nzLabel="MM.DD.YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MM.DD.YYYY HH:mm:ss" nzLabel="MM.DD.YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MM.DD.YYYY hh:mm:ss A" nzLabel="MM.DD.YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MM DD YYYY HH:mm" nzLabel="MM DD YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MM DD YYYY hh:mm A" nzLabel="MM DD YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MM DD YYYY HH:mm:ss" nzLabel="MM DD YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MM DD YYYY hh:mm:ss A" nzLabel="MM DD YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MMM.DD YYYY HH:mm" nzLabel="MMM.DD YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MMM.DD YYYY hh:mm A" nzLabel="MMM.DD YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MMM.DD YYYY HH:mm:ss" nzLabel="MMM.DD YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MMM.DD YYYY hh:mm:ss A" nzLabel="MMM.DD YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="D.M.YYYY HH:mm" nzLabel="D.M.YYYY HH:mm"></nz-option>
                      <nz-option nzValue="D.M.YYYY hh:mm A" nzLabel="D.M.YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="D.M.YYYY HH:mm:ss" nzLabel="D.M.YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="D.M.YYYY hh:mm:ss A" nzLabel="D.M.YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="D.MMMM YYYY HH:mm" nzLabel="D.MMMM YYYY HH:mm"></nz-option>
                      <nz-option nzValue="D.MMMM YYYY hh:mm A" nzLabel="D.MMMM YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="D.MMMM YYYY HH:mm:ss" nzLabel="D.MMMM YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="D.MMMM YYYY hh:mm:ss A" nzLabel="D.MMMM YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="D/M/YY HH:mm" nzLabel="D/M/YY HH:mm"></nz-option>
                      <nz-option nzValue="D/M/YY hh:mm A" nzLabel="D/M/YY hh:mm A"></nz-option>
                      <nz-option nzValue="D/M/YY HH:mm:ss" nzLabel="D/M/YY HH:mm:ss"></nz-option>
                      <nz-option nzValue="D/M/YY hh:mm:ss A" nzLabel="D/M/YY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="M/D/YYYY HH:mm" nzLabel="M/D/YYYY HH:mm"></nz-option>
                      <nz-option nzValue="M/D/YYYY hh:mm A" nzLabel="M/D/YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="M/D/YYYY HH:mm:ss" nzLabel="M/D/YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="M/D/YYYY hh:mm:ss A" nzLabel="M/D/YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MMM DD, YYYY HH:mm" nzLabel="MMM DD, YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MMM DD, YYYY hh:mm A" nzLabel="MMM DD, YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MMM DD, YYYY HH:mm:ss" nzLabel="MMM DD, YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MMM DD, YYYY hh:mm:ss A" nzLabel="MMM DD, YYYY hh:mm:ss A"></nz-option>

                      <nz-option nzValue="MMMM DD, YYYY HH:mm" nzLabel="MMMM DD, YYYY HH:mm"></nz-option>
                      <nz-option nzValue="MMMM DD, YYYY hh:mm A" nzLabel="MMMM DD, YYYY hh:mm A"></nz-option>
                      <nz-option nzValue="MMMM DD, YYYY HH:mm:ss" nzLabel="MMMM DD, YYYY HH:mm:ss"></nz-option>
                      <nz-option nzValue="MMMM DD, YYYY hh:mm:ss A" nzLabel="MMMM DD, YYYY hh:mm:ss A"></nz-option>
                    </nz-select>
                    <div class="help-block">YYYY - 4 digit year, YY - 2 digit year, M / MM - month number, MMM / MMMM -
                      month name, D / DD - day of month
                    </div>
                    <div class="help-block">HH - 24 hour time, hh - 12 hour time, A - am and pm, mm - minutes, ss -
                      seconds
                    </div>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>
                    profile.label.maxNumberOfHistoryEntries
                  </div>
                  <div class="col-sm-6">
                    <nz-input-number class="w-xl" [nzMin]="1" [nzStep]="5" [(ngModel)]="preferences.maxRecords"
                                     (nzBlur)="changeConfiguration()"></nz-input-number>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label"
                       translate>profile.label.maxNumberOfAuditLogEntries
                  </div>
                  <div class="col-sm-6">
                    <nz-input-number class="w-xl" [nzMin]="1" [nzStep]="5" [(ngModel)]="preferences.maxAuditLogRecords"
                                     (nzBlur)="changeConfiguration()"></nz-input-number>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label"
                       translate>profile.label.maxNumberOfHistoryEntriesPerOrder
                  </div>
                  <div class="col-sm-6">
                    <nz-input-number class="w-xl" [nzMin]="1" [nzStep]="5" [(ngModel)]="preferences.maxHistoryPerOrder"
                                     (nzBlur)="changeConfiguration()"></nz-input-number>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label"
                       translate>profile.label.maxNumberOfHistoryEntriesPerTask
                  </div>
                  <div class="col-sm-6">
                    <nz-input-number class="w-xl" [nzMin]="1" [nzStep]="5" [(ngModel)]="preferences.maxHistoryPerTask"
                                     (nzBlur)="changeConfiguration()"></nz-input-number>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label"
                       translate>profile.label.maxNumberOfAuditLogPerObject
                  </div>
                  <div class="col-sm-6">
                    <nz-input-number class="w-xl" [nzMin]="1" [nzStep]="5"
                                     [(ngModel)]="preferences.maxAuditLogPerObject"
                                     (nzBlur)="changeConfiguration()"></nz-input-number>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.maxEntryPerPage
                  </div>
                  <div class="col-sm-6">
                    <nz-select nzShowSearch class="w-xl" [(ngModel)]="preferences.maxEntryPerPage"
                               (ngModelChange)="changeConfiguration()">
                      <nz-option nzValue="500" nzLabel="500"></nz-option>
                      <nz-option nzValue="1000" nzLabel="1000"></nz-option>
                      <nz-option nzValue="1500" nzLabel="1500"></nz-option>
                      <nz-option nzValue="2000" nzLabel="2000"></nz-option>
                      <nz-option nzValue="2500" nzLabel="2500"></nz-option>
                      <nz-option nzValue="3000" nzLabel="3000"></nz-option>
                      <nz-option nzValue="3500" nzLabel="3500"></nz-option>
                      <nz-option nzValue="4000" nzLabel="4000"></nz-option>
                      <nz-option nzValue="4500" nzLabel="4500"></nz-option>
                      <nz-option nzValue="5000" nzLabel="5000"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.entryPerPage</div>
                  <div class="col-sm-6">
                    <nz-select class="w-xl" [(ngModel)]="preferences.entryPerPage"
                               (ngModelChange)="changeConfiguration()">
                      <nz-option nzValue="10" nzLabel="10"></nz-option>
                      <nz-option nzValue="25" nzLabel="25"></nz-option>
                      <nz-option nzValue="50" nzLabel="50"></nz-option>
                      <nz-option nzValue="100" nzLabel="100"></nz-option>
                      <nz-option [nzValue]="preferences.maxEntryPerPage"
                                 [nzLabel]="preferences.maxEntryPerPage"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.theme</div>
                  <div class="col-sm-6">
                    <nz-select class="w-xl" [(ngModel)]="preferences.theme"
                               (ngModelChange)="changeTheme(preferences.theme)">
                      <nz-option nzValue="lighter" [nzLabel]="'profile.label.white' | translate"></nz-option>
                      <nz-option nzValue="light" [nzLabel]="'profile.label.light' | translate"></nz-option>
                      <nz-option nzValue="blue-lt" [nzLabel]="'profile.label.blueGrey' | translate"></nz-option>
                      <nz-option nzValue="blue" [nzLabel]="'profile.label.blue' | translate"></nz-option>
                      <nz-option nzValue="cyan" [nzLabel]="'profile.label.petrol' | translate"></nz-option>
                      <nz-option nzValue="grey" [nzLabel]="'profile.label.grey' | translate"></nz-option>
                      <nz-option nzValue="dark" [nzLabel]="'profile.label.dark' | translate"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="row m-t" *ngIf="this.preferences.theme === 'light'">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.MenuBarTheme</div>
                  <div class="col-sm-6">
                    <nz-select nzShowSearch class="w-xl" [(ngModel)]="preferences.headerColor"
                               (ngModelChange)="changeMenuTheme(preferences.headerColor)">
                      <nz-option nzValue="" nzLabel="Default"></nz-option>
                      <nz-option nzValue="header-blackcurrant" nzLabel="Blackcurrant"></nz-option>
                      <nz-option nzValue="header-Dodger-Blue" nzLabel="Dodger-Blue"></nz-option>
                      <nz-option nzValue="header-eggplant" nzLabel="Eggplant"></nz-option>
                      <nz-option nzValue="header-Pine-Green" nzLabel="Pine Green"></nz-option>
                      <nz-option nzValue="header-light-sea-green" nzLabel="Light Sea Green"></nz-option>
                      <nz-option nzValue="header-nordic" nzLabel="Nordic"></nz-option>
                      <nz-option nzValue="header-prussian-blue" nzLabel="Prussian Blue"></nz-option>
                      <nz-option nzValue="header-radical-red" nzLabel="Radical Red"></nz-option>
                      <nz-option nzValue="header-toledo" nzLabel="Toledo"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark form-control-label" translate>profile.label.themeTitle</div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control w-xl" [(ngModel)]="preferences.themeTitle"
                           (blur)="changeConfiguration()">
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>profile.label.showLogs</div>
                  <div class="col-sm-6">
                    <nz-radio-group [(ngModel)]="preferences.isNewWindow" (ngModelChange)="changeConfiguration()">
                      <label nz-radio nzValue="newWindow"><span translate>profile.label.newWindow</span></label>
                      <label nz-radio nzValue="newTab"><span translate>profile.label.newTab</span></label>
                      <label nz-radio nzValue="download"><span translate>profile.label.download</span></label>
                    </nz-radio-group>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>profile.label.showDocumentations</div>
                  <div class="col-sm-6">
                    <nz-radio-group [(ngModel)]="preferences.isDocNewWindow" (ngModelChange)="changeConfiguration()">
                      <label nz-radio nzValue="newWindow"><span translate>profile.label.newWindow</span></label>
                      <label nz-radio nzValue="newTab"><span translate>profile.label.newTab</span></label>
                    </nz-radio-group>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>profile.label.showSubFolderAndFolderContents</div>
                  <div class="col-sm-6">
                    <nz-radio-group [(ngModel)]="preferences.expandOption" (ngModelChange)="changeConfiguration()">
                      <label nz-radio nzValue="single"><span translate>profile.label.folderContents</span></label>
                      <label nz-radio nzValue="both"><span translate>profile.label.subFolderAndFolderContents</span></label>
                    </nz-radio-group>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>profile.label.enableCommentsForAuditLog</div>
                  <div class="col-sm-6">
                    <label nz-checkbox [(ngModel)]="preferences.auditLog" [disabled]="forceLoging" (ngModelChange)="changeConfiguration()"></label>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>profile.label.useTimezoneForLog</div>
                  <div class="col-sm-6">
                    <label nz-checkbox [(ngModel)]="preferences.logTimezone" (ngModelChange)="changeConfiguration()"></label>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>
                    profile.label.currentController
                  </div>
                  <div class="col-sm-6">
                    <label nz-checkbox [(ngModel)]="preferences.currentController" (ngModelChange)="changeConfiguration()"></label>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3 text-dark" translate>profile.label.showView</div>
                  <div class="col-sm-6">
                    <nz-radio-group [(ngModel)]="preferences.pageView" (ngModelChange)="changeConfiguration();changeView()">
                      <label nz-radio nzValue="grid"><span translate>profile.label.asCard</span></label>
                      <label nz-radio nzValue="list"><span translate>profile.label.asList</span></label>
                    </nz-radio-group>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab [nzTitle]="'profile.label.permissions' | translate" *ngIf="permission.JS7Controller">
              <div class="m-l-12">
                <div class="row">
                  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                                       translate>profile.label.js7Controller</span>
                  </div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                           [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.view.mainlog}"></i>&nbsp; <span
                      translate>permission.label.viewMainLog</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.execute.pause}"></i>&nbsp; <span
                      translate>permission.label.pause</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.execute.continue}"></i> &nbsp;<span
                      translate>permission.label.continue</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.execute.terminate}"></i>&nbsp; <span
                      translate>permission.label.terminate</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.execute.abort}"></i>&nbsp; <span
                      translate>permission.label.abort</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.execute.restart.terminate}"></i>&nbsp; <span
                      translate>permission.label.restartTerminate</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.execute.restart.abort}"></i>&nbsp; <span
                      translate>permission.label.restartAbort</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.administration.removeOldInstances}"></i>&nbsp; <span
                      translate>permission.label.removeOldInstances</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.administration.manageCategories}"></i>&nbsp; <span
                      translate>permission.label.manageCategories</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7Controller.administration.editPermissions}"></i>&nbsp; <span
                      translate>permission.label.editPermissions</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                                       translate>profile.label.js7ControllerCluster</span>
                  </div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7ControllerCluster.view.status}"></i>&nbsp; <span
                    translate>permission.label.viewClusterStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7ControllerCluster.execute.terminate}"></i>&nbsp; <span
                      translate>permission.label.terminate</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7ControllerCluster.execute.terminateFailSafe}"></i>&nbsp; <span
                      translate>permission.label.terminateFailsafe</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7ControllerCluster.execute.restart}"></i>&nbsp; <span
                      translate>permission.label.restart</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                                       translate>profile.label.js7UniversalAgent</span>
                  </div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7UniversalAgent.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7UniversalAgent.execute.terminate}"></i>&nbsp; <span
                      translate>permission.label.terminate</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7UniversalAgent.execute.abort}"></i>&nbsp; <span
                      translate>permission.label.abort</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7UniversalAgent.execute.restart.terminate}"></i>&nbsp; <span
                      translate>permission.label.restartTerminate</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JS7UniversalAgent.execute.restart.abort}"></i>&nbsp; <span
                      translate>permission.label.restartAbort</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.dailyPlan</span></div>
                  <div class="row col-md-8 col-lg-9">
                      <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                      [ngClass]="{'fa-times text-black-lt': !permission.DailyPlan.view.status}"></i>&nbsp; <span
                        translate>permission.label.viewStatus</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.history</span></div>
                  <div class="row col-md-8 col-lg-9">
                       <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                          class="fa fa-check text-success"
                          [ngClass]="{'fa-times text-black-lt': !permission.History.view.status}"></i>&nbsp; <span translate>permission.label.viewStatus</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.order</span></div>
                  <div class="row col-md-8 col-lg-9">
                      <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                          class="fa fa-check text-success"
                          [ngClass]="{'fa-times text-black-lt': !permission.Order.view.configuration}"></i>&nbsp; <span translate>permission.label.viewConfiguration</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.view.orderLog}"></i>&nbsp; <span
                      translate>permission.label.viewOrderLog</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.change.startAndEndNode}"></i>&nbsp; <span
                      translate>permission.label.changeStartAndEndNode</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.change.timeForAdhocOrder}"></i>&nbsp; <span
                      translate>permission.label.changeTimeForAdhocOrder</span></span>
                    <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                      class="fa fa-check text-success"
                      [ngClass]="{'fa-times text-black-lt': !permission.Order.change.parameter}"></i>&nbsp; <span
                      translate>permission.label.changeParameters</span></span>
                    <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                      class="fa fa-check text-success"
                      [ngClass]="{'fa-times text-black-lt': !permission.Order.execute.start}"></i>&nbsp; <span
                      translate>permission.label.start</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.execute.update}"></i>&nbsp; <span
                      translate>permission.label.update</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.execute.suspend}"></i>&nbsp; <span
                      translate>permission.label.suspend</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.execute.resume}"></i>&nbsp; <span
                      translate>permission.label.resume</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.delete.permanent}"></i>&nbsp; <span
                      translate>permission.label.deletePermanent</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.delete.temporary}"></i>&nbsp; <span
                      translate>permission.label.deleteTemporary</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.execute.removeSetback}"></i>&nbsp; <span
                      translate>permission.label.removeSetback</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.change.runTime}"></i>&nbsp; <span
                      translate>permission.label.setRunTime</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.change.state}"></i>&nbsp; <span
                      translate>permission.label.setState</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Order.execute.reset}"></i>&nbsp; <span
                      translate>permission.label.reset</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.workflow</span></div>
                  <div class="row col-md-8 col-lg-9">
                   <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                     class="fa fa-check text-success"
                     [ngClass]="{'fa-times text-black-lt': !permission.Workflow.view.configuration}"></i>&nbsp; <span
                     translate>permission.label.viewConfiguration</span></span>
                    <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                      class="fa fa-check text-success"
                      [ngClass]="{'fa-times text-black-lt': !permission.Workflow.view.history}"></i>&nbsp; <span
                      translate>permission.label.viewHistory</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.view.documentation}"></i>&nbsp; <span
                      translate>permission.label.viewDocumentation</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.execute.stop}"></i>&nbsp; <span
                      translate>permission.label.stop</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.execute.unstop}"></i>&nbsp; <span
                      translate>permission.label.unstop</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.execute.addOrder}"></i>&nbsp; <span
                      translate>permission.label.addOrder</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.execute.skipWorkflowNode}"></i>&nbsp; <span
                      translate>permission.label.skipWorkflowNode</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.execute.stopWorkflowNode}"></i>&nbsp; <span
                      translate>permission.label.stopWorkflowNode</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Workflow.execute.processWorkflowNode}"></i>&nbsp; <span
                      translate>permission.label.processWorkflowNode</span></span>
                  </div>
                </div>

                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.lock</span></div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt" [ngClass]="{'text-l-c' : preferences.locale.lang=='en'}"><i
                      class="fa fa-check text-success"
                      [ngClass]="{'fa-times text-black-lt': !permission.Lock.view.configuration}"></i>&nbsp; <span translate>permission.label.viewConfiguration</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Lock.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.holidayCalendar</span>
                  </div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.HolidayCalendar.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-sm-3"><span class="text-dark" translate>profile.label.auditLog</span></div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.AuditLog.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.JOCConfiguration</span>
                  </div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JOCConfigurations.share.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JOCConfigurations.share.change.editContent}"></i>&nbsp; <span
                      translate>permission.label.edit</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JOCConfigurations.share.change.delete}"></i>&nbsp; <span
                      translate>permission.label.delete</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JOCConfigurations.share.change.sharedStatus.makePrivate}"></i>&nbsp; <span
                      translate>permission.label.makePrivate</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.JOCConfigurations.share.change.sharedStatus.makeShared}"></i>&nbsp; <span
                      translate>permission.label.makeShared</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.calendar</span></div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Calendar.view.status}"></i>&nbsp; <span
                      translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Calendar.edit.assign.runtime}"></i>&nbsp; <span
                      translate>permission.label.assignRuntime</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Calendar.edit.assign.nonworking}"></i>&nbsp; <span
                      translate>permission.label.assignNonworking</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Calendar.edit.assign.change}"></i>&nbsp; <span
                      translate>permission.label.assignChange</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.inventory</span></div>
                  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.view}"></i>&nbsp; <span
                      translate>permission.label.configurationView</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.edit}"></i>&nbsp; <span
                      translate>permission.label.edit</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.delete}"></i>&nbsp; <span
                      translate>permission.label.delete</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.deploy}"></i>&nbsp; <span
                      translate>permission.label.deploy</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.setVersion}"></i>&nbsp; <span
                      translate>permission.label.setVersion</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.import}"></i>&nbsp; <span
                      translate>permission.label.import</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.export}"></i>&nbsp; <span
                      translate>permission.label.export</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.showKey}"></i>&nbsp; <span
                      translate>permission.label.showKey</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.importKey}"></i>&nbsp; <span
                      translate>permission.label.importKey</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Inventory.configurations.publish.generateKey}"></i>&nbsp; <span
                      translate>permission.label.generateKey</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.documentation</span>
                  </div>
                  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                          [ngClass]="{'fa-times text-black-lt': !permission.Documentation.view}"></i>&nbsp; <span
                    translate>permission.label.viewStatus</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Documentation.import}"></i>&nbsp; <span
                      translate>permission.label.import</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Documentation.export}"></i>&nbsp; <span
                      translate>permission.label.export</span></span>
                    <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                            [ngClass]="{'fa-times text-black-lt': !permission.Documentation.delete}"></i>&nbsp; <span
                      translate>permission.label.delete</span></span>
                  </div>
                </div>
                <div class="row m-t">
                  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.label.joc</span></div>
                  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i class="fa fa-check text-success"
                                                          [ngClass]="{'fa-times text-black-lt': !permission.Joc.view.log}"></i>&nbsp; <span
                    translate>permission.label.downloadLog</span></span>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab [nzTitle]="'profile.label.keyManagement' | translate"
                    *ngIf="securityLevel !== 'LOW' && permission.joc && permission.joc.administration.certificates">
              <div class="m-l-12">
                <div class="row m-t-sm">
                  <div class="col-sm-12">
                    <div class="m-t-sm" *ngIf="keys">
                      <div class="row">
                        <div class="col-md-2">
                          <span class="text-dark _600" translate>profile.label.keysAndCertificates</span>
                        </div>
                        <div class="col-md-10">
                          <span *ngIf="keys.keyID || keys.keyAlgorithm">
                            <span class="text-dark _600" style="padding-right: 10%" translate>{{keys.keyID}}</span>
                            <span class="text-black-lt">
                              <i class="fa fa-check text-success"
                                 [ngClass]="{'fa-times text-danger': keys.isKeyExpired}"></i>&nbsp;
                              <span *ngIf="!keys.isKeyExpired" translate>profile.label.valid</span>
                              <span *ngIf="keys.isKeyExpired" translate>profile.label.expiredKey</span>
                              <span *ngIf="keys.validUntil">
                                <span class="m-l" translate>profile.label.validUntil</span>:
                                <span class="text-muted p-l-sm">{{keys.validUntil | stringToDate}}</span>
                              </span>
                               <span *ngIf="!keys.validUntil">
                                <span class="m-l" translate>profile.label.noValidDate</span>
                              </span>
                            </span>
                            <a class="text-hover-primary m-l-12" [nz-tooltip]="'profile.label.showKey' | translate"
                               (click)="showKey()"><i class="fa fa-television"></i></a>
                          </span>
                          <span *ngIf="!keys.keyID && !keys.keyAlgorithm" translate>
                            profile.message.noKeyFound
                          </span>
                          <div class="inline pull-right" style="margin-bottom: 2px">
                            <button *ngIf="permission.joc.administration.certificates.manage" class="btn btn-sm btn-grey m-l-12" (click)="pasteKey()"
                                    [nz-tooltip]="'profile.tooltip.updateKey' | translate">
                              <i class="fa fa-paste"></i>
                            </button>
                            <button *ngIf="permission.joc.administration.certificates.manage" class="btn btn-sm btn-grey m-l-12" (click)="importKey()"
                                    [nz-tooltip]="'profile.tooltip.import' | translate">
                              <i nz-icon nzType="upload" nzTheme="outline"></i>
                            </button>
                            <button *ngIf="securityLevel ==='MEDIUM' && permission.joc.administration.certificates.manage"
                              class="btn btn-sm btn-grey m-l-12"
                              (click)="showGenerateKeyModal()"
                              [nz-tooltip]="'profile.tooltip.generate' | translate">
                              <i nz-icon nzType="file-protect" nzTheme="outline"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>
  </div>
</div>

