div.mxRubberband {
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	background: #0077FF;
}
.mxCellEditor {
	border-color: transparent;
	border-style: solid;
	display: inline-block;
	position: absolute;
	overflow: visible;
	word-wrap: normal;
	border-width: 0;
	min-width: 1px;
	resize: none;
	padding: 0;
	margin: 0;
}
.mxPlainTextEditor * {
	padding: 0;
	margin: 0;
}
div.mxWindow {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	border:1px solid #c3c3c3;
	position: absolute;
	overflow: hidden;
	z-index: 1;
  background: #FFFFFF;
}
table.mxWindow {
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 8pt;
}
td.mxWindowTitle {
	text-overflow: ellipsis;
	white-space: nowrap;
 	text-align: left;
 	font-weight: bold;
 	overflow: hidden;
	height: 13px;
	padding: 8px;
  background: #f2f2f2;
}
td.mxWindowPane {
	vertical-align: top;
	padding: 0;
}
div.mxWindowPane {
	overflow: hidden;
	position: relative;
}
td.mxWindowPane td {
	font-size: 8pt;
}
td.mxWindowPane input, td.mxWindowPane select, td.mxWindowPane textarea, td.mxWindowPane radio {
  border-color: #8C8C8C;
  border-style: solid;
  border-width: 1px;
  font-size: 8pt;
  padding: 1px;
}
td.mxWindowPane button {
  font-size: 8pt;
  padding: 2px;
  float: left;
}
img.mxToolbarItem {
	border-width: 1px;
}
select.mxToolbarCombo {
	vertical-align: top;
	border-style: inset;
	border-width: 2px;
}
div.mxToolbarComboContainer {
	padding: 2px;
}
img.mxToolbarMode {
	border-width: 0;
}
img.mxToolbarModeSelected {
	border: 1px solid #C0C0C0;
}

div.mxPopupMenu {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
table.mxPopupMenu {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 1px;
}
tr.mxPopupMenuItem {
	color: black;
	cursor: pointer;
}
tr.mxPopupMenuItemHover {
	background-color: #000066;
	color: #FFFFFF;
	cursor: pointer;
}
td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	white-space: nowrap;
	font-size: 8pt;
}
td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 2px 4px 2px 4px;
}
.mxDisabled {
	opacity: 0.2 !important;
	cursor:default !important;
}
