@if (isProcessing) {
  <div class="operation-status-info">
    <div id='prog-bar-cont'>
      <div id="prog-bar">
        <div id="background"></div>
      </div>
    </div>
  </div>
}
<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding p-b-sm">
        <div class="text-right ">
          <div class="pull-left">
            <span class="text-md text-muted _600 ">
              <ol class="breadcrumb p-t-xs">
                <li>
                  <a (click)="backClicked()">
                    <i class="fa fa-arrow-circle-left" style="font-size: 18px"
                       title="back"></i></a>
                </li>
                <li>
                  <span>
                    <a routerLink="/workflows"> {{ 'breadcrumb.label.workflows' | translate }}</a>
                  </span>
                </li>
                <li>
                  <span class="text-muted">
                    {{workFlowJson.name}}
                  </span>
                </li>
              </ol>
            </span>
          </div>
          <div class="inline m-b-xs">
            <div class="btn-group m-l-12 hidden-btn-group">
              @for (btn of filterBtn; track btn) {
                <button (click)="loadOrders(btn.date)"
                        [ngClass]="{'btn-primary': workflowFilters.date===btn.date}"
                        class="btn btn-grey btn-sm button-group-ellipsis" translate>filters.button.{{btn.text}}
                </button>
              }
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button [nzDropdownMenu]="anyDate" [nzPlacement]="'bottomRight'" class="btn btn-grey btn-sm m-l-12" nz-dropdown
                      nzTrigger="click" translate type="button">
                common.label.anyDate
                <i class="caretDownIcon" nz-icon nzTheme="outline" nzType="caret-down"></i>
              </button>
              <nz-dropdown-menu #anyDate="nzDropdownMenu">
                <ul nz-menu>
                  @for (btn of filterBtn; track btn) {
                    <li (click)="loadOrders(btn.date)" [ngClass]="{'ant-select-dropdown-menu-item-active': workflowFilters.date=== btn.date}"
                        nz-menu-item>
                      <a translate>filters.button.{{btn.text}}</a>
                    </li>
                  }
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="inline">
            @if (workflow.hasExpectedNoticeBoards || workflow.hasConsumeNoticeBoards || workflow.hasPostNoticeBoards || workflow.hasAddOrderDependencies) {
              <button (click)="openModal()"
                      class="btn btn-grey btn-sm m-l-12 button-group-ellipsis">
                <i class="fa fa-codepen"></i>
                &nbsp;<span class="hidden-sm-down" translate>workflow.button.showDependency</span>
              </button>
            }
            @if (permission.currentController && permission.currentController.orders?.create) {
              <button (click)="addOrder()" [disabled]="!workflow.isCurrentVersion || workflow.state._text === 'NOT_IN_SYNC'"
                      class="btn btn-grey btn-sm m-l-12 button-group-ellipsis"><i
                class="fa fa-plus-square"></i>
                &nbsp;<span class="hidden-sm-down" translate>workflow.button.addOrder</span>
              </button>
            }
            @if (!workflow.suspended) {
              <button (click)="suspend()" [disabled]="!workflow.isCurrentVersion || workflow.state._text === 'NOT_IN_SYNC'"
                      class="btn btn-grey btn-sm m-l-12"><i
                class="fa fa-stop p-r-xs"></i>
                <span class="hidden-sm-down" translate>order.button.suspend</span></button>
            }
            @if (workflow.suspended) {
              <button (click)="resume()" [disabled]="!workflow.isCurrentVersion"
                      class="btn btn-grey btn-sm m-l-12"><i
                class="fa fa-step-forward p-r-xs"></i> <span class="hidden-sm-down"
                                                             translate>order.button.resume</span>
              </button>
            }
            @if (workflow.path && !workflow.isCurrentVersion) {
              <button (click)="transitionOrders()" [disabled]="workflow?.state?._text === 'NOT_IN_SYNC'"
                      class="btn btn-grey btn-sm m-l-12 button-group-ellipsis"><i class="fa fa-exchange"></i>
                &nbsp;<span class="hidden-sm-down" translate>workflow.button.transitionOrders</span>
              </button>
            }
            <div class="btn-group m-l-12">
              @if (workflow.hasExpectedNoticeBoards || workflow.hasConsumeNoticeBoards || workflow.hasPostNoticeBoards || workflow.hasAddOrderDependencies) {
                <button (click)="setView('graph')"
                        [ngClass]="{'btn-primary': pageView=='graph'}" class="btn btn-grey btn-sm"><i
                  class="fa fa-codepen"></i>
                </button>
              }
              <button (click)="setView('grid')" [ngClass]="{'btn-primary': pageView=='grid'}"
                      class="btn btn-grey btn-sm"><i
                class="fa fa-sitemap"></i>
              </button>
              <button (click)="setView('list')" [ngClass]="{'btn-primary': pageView=='list'}"
                      class="btn btn-grey btn-sm">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row m-t-sm">
      <div class="col-md-12">
        <div class="box p-a">
          <div class="table-responsive">
            <nz-table
              #ajaxTable
              [nzBordered]="true"
              [nzData]="workflow.path ? [workflow] : []"
              [nzLoading]="!loading"
              [nzShowPagination]="false"
              [nzShowSizeChanger]="false"
              [nzSize]="'small'"
            >
              <thead>
              <tr>
                <th rowspan="2"><span translate>common.label.path</span></th>
                <th rowspan="2"><span translate>inventory.label.deploymentDate</span></th>
                <th rowspan="2"><span translate>common.label.status</span></th>
                <th rowspan="2"><span translate>workflow.label.noOfOrders</span></th>
                <th colspan="10"><span translate>workflow.label.order</span></th>
              </tr>
              <tr>
                <th><span translate>common.label.pending</span></th>
                <th><span translate>common.label.scheduled</span></th>
                <th><span translate>common.label.incomplete</span></th>
                <th><span translate>common.label.running</span></th>
                <th><span translate>common.label.suspended</span></th>
                <th><span translate>common.label.prompting</span></th>
                <th><span translate>common.label.waiting</span></th>
                <th><span translate>common.label.blocked</span></th>
                <th><span translate>common.label.failed</span></th>
                <th><span translate>common.label.completed</span></th>
              </tr>
              </thead>
              <tbody>
                @for (item of ajaxTable.data; track item) {
                  <tr>
                    <td>
                    <span class="show-in-single-line">
                      @if (item.hide && item.fileOrderSources && item.fileOrderSources.length>0) {
                        <i (click)="item.hide = false"
                           class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"></i>
                      }
                      @if (!item.hide && item.fileOrderSources && item.fileOrderSources.length>0) {
                        <i (click)="item.hide = true"
                           class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs"></i>
                      }
                      @if (item.documentationName) {
                        <i (click)="coreService.showDocumentation(item.documentationName, preferences)"
                           class="cursor fa fa-book p-l-xs p-r-xs"></i>
                      }
                      <span class="text-dark">
                        @if (permission.joc && permission.joc.inventory.view) {
                          <i (click)="coreService.navToInventoryTab(item.path, 'WORKFLOW');"
                             class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                        }
                        <span [innerHtml]="item.path"></span>
                        @if (item.title) {
                          <i> - </i>
                        }
                        <i class="text-muted">{{item.title}}</i>
                      </span>
                    </span>
                    </td>
                    <td>
                      <span [innerHtml]="item.versionDate | stringToDate"></span>
                    </td>
                    <td>
                      @if (item.state) {
                        <span [innerHtml]="item.state._text | translate" [ngClass]="coreService.getColor(item.state.severity, 'bg')"
                              class="label"></span>
                      }
                      @if (item.state && (item.state._text === 'OUTSTANDING')) {
                        <app-tooltip-info [controllerId]="schedulerIds.selected"
                                          [workflow]="item"></app-tooltip-info>
                      }
                    </td>
                    <td>
                    <span (click)="viewOrders(workflow)" [innerHtml]="item.numOfOrders || 0"
                          class="remaining-order-count"></span>
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.pending || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="workflow.ordersSummary.scheduled || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.inprogress || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.running || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.suspended || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="workflow.ordersSummary.prompting || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.waiting || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.blocked || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.failed || 0"></span>
                      }
                    </td>
                    <td>
                      @if (item.ordersSummary) {
                        <span [innerHtml]="item.ordersSummary.terminated || 0"></span>
                      }
                    </td>
                  </tr>
                  @if (!item.hide && item.fileOrderSources) {
                    <tr>
                      <td colspan="14" style="padding:0 !important;">
                        <nz-table #innerChildTable [nzData]="item.fileOrderSources" [nzFrontPagination]="false"
                                  [nzShowPagination]="false"
                                  class="m-a-0 inner-table" nzSize="small">
                          <thead>
                          <tr>
                            <th><span class="m-l-sm" translate>common.label.path</span></th>
                            <th><span translate>inventory.label.deploymentDate</span></th>
                            <th><span translate>common.label.status</span></th>
                            <th><span translate>workflow.label.agent</span></th>
                            <th><span translate>inventory.label.directory</span></th>
                            <th><span translate>inventory.label.pattern</span></th>
                            <th><span translate>common.label.timeZone</span></th>
                            <th><span translate>workflow.label.delay</span></th>
                          </tr>
                          </thead>
                          <tbody>
                            @for (order of innerChildTable.data; track order) {
                              <tr>
                                <td>
                              <span class="show-in-single-line m-l-sm">
                                @if (order.documentationName) {
                                  <i (click)="coreService.showDocumentation(order.documentationName, preferences)"
                                     class="cursor fa fa-book p-r-xs"></i>
                                }
                                <span class="text-dark">
                                  <i (click)="coreService.navToInventoryTab(order.path, 'FILEORDERSOURCE')"
                                     class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                                  <span [innerHtml]="order.path"></span>
                                  @if (order.title) {
                                    <i> - </i>
                                  }
                                  <i class="text-muted">{{order.title}}</i>
                                </span>
                              </span>
                                </td>
                                <td>
                                  <span [innerHtml]="order.versionDate | stringToDate"></span>
                                </td>
                                <td>
                                  @if (order.state) {
                                    <span [innerHtml]="order.state._text | translate"
                                          [ngClass]="coreService.getColor(order.state.severity, 'bg')"
                                          class="label"></span>
                                  }
                                </td>
                                <td>{{order.agentName}}</td>
                                <td>{{order.directoryExpr || order.directory}}</td>
                                <td>{{order.pattern}}</td>
                                <td>{{order.timeZone}}</td>
                                <td>{{order.delay}}</td>
                              </tr>
                            }
                          </tbody>
                        </nz-table>
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        @if (loading) {
          <div>
            @if (recursiveCals.length > 0) {
              <div class="left-sidebar">
                <div class="m-t">
                  @for (item of recursiveCals; track item; let i = $index) {
                    <div [ngClass]="{'active': i === recursiveCals.length-1 }"
                         class="box p-a-sm">
                      <div class="block-ellipsis" style="width: 90%">
                        <a (click)="openWorkflowDependency(item)" class="text-hover-primary" title="{{item.workflow.path}}">
                          <i class="p-r-xs" nz-icon nzTheme="outline"
                             nzType="gateway"></i>
                          <b>{{item.workflow.path.substring(item.workflow.path.lastIndexOf('/') + 1)}}</b>
                        </a>
                      </div>
                      <i (click)="item.modalInstance.destroy()" class="fa fa-times pull-right cursor"
                         style="margin-top: -15px"></i>
                    </div>
                  }
                </div>
              </div>
            }
            @if (pageView === 'graph' && workflow.instructions) {
              <div>
                @if (isLoading) {
                  <div>
                    <app-workflow-graphical [controllerId]="schedulerIds.selected" [jobs]="workflow.jobs" [permission]="permission"
                                            [preferences]="preferences" [recursiveCals]="recursiveCals"
                                            [reload]="isReload" [workFlowJson]="workFlowJson"
                                            [workflowFilters]="workflowFilters"
                                            [workflowObjects]="workflowObjects"></app-workflow-graphical>
                  </div>
                }
                @if (!isLoading) {
                  <div class="box m-b-0"
                       style="height: calc(100vh - 322px);display: flex;align-items: center">
                    <div class="text-center vert-middle">
                      <nz-spin nzSimple></nz-spin>
                    </div>
                  </div>
                }
              </div>
            }
            @if (pageView === 'grid' && workflow.instructions) {
              <div>
                <app-workflow-graphical (onClick)="viewHistory($event)" [controllerId]="schedulerIds.selected" [jobMap]="jobMap"
                                        [jobs]="workflow.jobs" [orderPreparation]="orderPreparation" [orders]="workflow.orders"
                                        [permission]="permission"
                                        [preferences]="preferences" [recursiveCals]="recursiveCals"
                                        [reload]="isReload"
                                        [workFlowJson]="workFlowJson"
                                        [workflowFilters]="workflowFilters"></app-workflow-graphical>
              </div>
            }
            @if (pageView === 'list' && workFlowJson.instructions) {
              <div>
                <div [height]="workflowFilters.panelSize2" [workflowTab]="workflowFilters" appResizable
                     class="box m-b-0 p-a-0 resizable" id="workflowTextId">
                  <div class="p-a overflow-y" style="height: 100%">
                    <div class="hover">
                      <a class="text-primary noExl" translate>workflow.label.start</a>
                      <span class="expand-collapse-btn">
                        <i (click)="expandAll()"
                           [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'common.tooltip.expandAll' | translate" class="cursor fa fa-lg fa-angle-double-down"></i>
                        <i (click)="collapseAll()"
                           [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'common.tooltip.collapseAll' | translate" class="cursor fa fa-lg fa-angle-double-up p-l-xs"></i>
                      </span>
                    </div>
                    <app-type (isChanged)="changedHandler($event)" (isDropdownChangedHandler)="dropdownChangedHandler($event)"
                              (isProcessing)="changedHandler($event)" (onClick)="viewHistory($event)"
                              [addOrderToWorkflows]="workFlowJson.addOrderToWorkflows" [configuration]="workFlowJson"
                              [expandAll]="isExpandAll" [expectedNoticeBoards]="workFlowJson.expectedNoticeBoards" [jobs]="workFlowJson.jobs"
                              [orderPreparation]="orderPreparation" [orders]="workflow.orders"
                              [permission]="permission"
                              [postNoticeBoards]="workFlowJson.postNoticeBoards"
                              [preferences]="preferences" [recursiveCals]="recursiveCals"
                              [schedulerId]="schedulerIds.selected" [timezone]="workFlowJson.timeZone"
                              [workflowFilters]="workflowFilters"
                              [workflowObj]="{path: path, versionId: versionId}"></app-type>
                    <div class="rg-bottom"><span></span></div>
                  </div>
                </div>
              </div>
            }
            <div class="scrollTop-btn">
              <a (click)="scrollTop()">
                <i class="fa fa-angle-up"></i>
              </a>
            </div>
            <div class="scrollBottom-btn">
              <a (click)="scrollBottom()">
                <i class="fa fa-angle-down"></i>
              </a>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="row m-t">
      @if (loading && workFlowJson && workFlowJson.name && permission && permission.joc && (permission.currentController.orders.view || permission.joc.auditLog.view)) {
        <div class="col-md-12">
          <div class="box white">
            <div class="box-header">
              <span class="text">{{workFlowJson.path}} @if (workFlowJson.title) {<i>-</i>} <i
                class="text-sm text-muted">{{workFlowJson.title}}</i></span>
            </div>
            <div class="box-body p-t-0 b-t">
              <app-workflow-history [jobName]="workFlowJson.jobName"
                                    [workflow]="{name: workFlowJson.name, path: workFlowJson.path}"></app-workflow-history>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<!-- BEGIN SLIDER -->
<nz-drawer (nzOnClose)="sideBar.isVisible = false" [nzVisible]="sideBar.isVisible" nzPlacement="right">
  <ng-container *nzDrawerContent>
    <div (click)="sideBar.isVisible = false" class="close-btn"></div>
    <div class="p-l-sm p-r-sm">
      <app-order-list-sidebar [orderPreparation]="orderPreparation" [orders]="sideBar.orders"
                              [permission]="permission" [preferences]="preferences"
                              [schedulerId]="schedulerIds.selected"></app-order-list-sidebar>
    </div>
  </ng-container>
</nz-drawer>
<!-- END SLIDER -->
@if (!loading) {
  <div class="spinner">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
}
