<div class="operation-status-info" *ngIf="isProcessing">
  <div id='prog-bar-cont'>
    <div id="prog-bar">
      <div id="background"></div>
    </div>
  </div>
</div>
<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding p-b-sm">
        <div class="text-right ">
          <div class="pull-left">
            <span class="text-md text-muted _600 ">
              <ol class="breadcrumb p-t-xs">
                <li>
                  <a (click)="backClicked()">
                    <i title="back" class="fa fa-arrow-circle-left"
                       style="font-size: 18px"></i></a>
                </li>
                <li>
                  <span>
                    <a routerLink="/workflows"> {{ 'breadcrumb.label.workflows' | translate }}</a>
                  </span>
                </li>
                <li>
                  <span class="text-muted">
                    {{workFlowJson.name}}
                  </span>
                </li>
              </ol>
            </span>
          </div>
          <div class="inline m-b-xs">
            <div class="btn-group m-l-12 hidden-btn-group">
              <ng-container *ngFor="let btn of filterBtn">
                <button class="btn btn-grey btn-sm button-group-ellipsis"
                        [ngClass]="{'btn-primary': workflowFilters.date===btn.date}"
                        (click)="loadOrders(btn.date)" translate>filters.button.{{btn.text}}
                </button>
              </ng-container>
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button class="btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click" [nzDropdownMenu]="anyDate" [nzPlacement]="'bottomRight'" type="button" translate>
                common.label.anyDate
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #anyDate="nzDropdownMenu" >
                <ul nz-menu>
                  <ng-container *ngFor="let btn of filterBtn">
                    <li nz-menu-item (click)="loadOrders(btn.date)"
                        [ngClass]="{'ant-select-dropdown-menu-item-active': workflowFilters.date=== btn.date}">
                      <a translate>filters.button.{{btn.text}}</a>
                    </li>
                  </ng-container>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="inline">
            <button class="btn btn-grey btn-sm m-l-12 button-group-ellipsis" (click)="openModal()" *ngIf="workflow.hasExpectedNoticeBoards || workflow.hasPostNoticeBoards || workflow.hasAddOrderDependencies">
              <i class="fa fa-codepen"></i>
              &nbsp;<span class="hidden-sm-down" translate>workflow.button.showDependency</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12 button-group-ellipsis" (click)="addOrder()" [disabled]="!workflow.isCurrentVersion || workflow.state._text === 'NOT_IN_SYNC'"
                    *ngIf="permission.currentController && permission.currentController.orders.create"><i class="fa fa-plus-square"></i>
              &nbsp;<span class="hidden-sm-down" translate>workflow.button.addOrder</span>
            </button>
            <button class="btn btn-grey btn-sm m-l-12" (click)="suspend()" *ngIf="!workflow.suspended" [disabled]="!workflow.isCurrentVersion || workflow.state._text === 'NOT_IN_SYNC'"><i
              class="fa fa-stop p-r-xs"></i>
              <span class="hidden-sm-down" translate>order.button.suspend</span></button>
            <button class="btn btn-grey btn-sm m-l-12" (click)="resume()" *ngIf="workflow.suspended" [disabled]="!workflow.isCurrentVersion"><i
              class="fa fa-step-forward p-r-xs"></i> <span class="hidden-sm-down"
                                                           translate>order.button.resume</span>
            </button>
            <div class="btn-group m-l-12">
              <button class="btn btn-grey btn-sm" *ngIf="workflow.hasExpectedNoticeBoards || workflow.hasPostNoticeBoards || workflow.hasAddOrderDependencies"
                      [ngClass]="{'btn-primary': pageView=='graph'}" (click)="setView('graph')"><i class="fa fa-codepen"></i>
              </button>
              <button class="btn btn-grey btn-sm" [ngClass]="{'btn-primary': pageView=='grid'}" (click)="setView('grid')"><i
                class="fa fa-sitemap"></i>
              </button>
              <button class="btn btn-grey btn-sm" [ngClass]="{'btn-primary': pageView=='list'}" (click)="setView('list')">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row m-t-sm">
      <div class="col-md-12">
        <div class="box p-a">
          <div class="table-responsive">
            <nz-table
              #ajaxTable
              [nzSize]="'small'"
              [nzBordered]="true"
              [nzShowPagination]="false"
              [nzData]="workflow.path ? [workflow] : []"
              [nzLoading]="!loading"
              [nzShowSizeChanger]="false"
            >
              <thead>
              <tr>
                <th rowspan="2"><span translate>common.label.path</span></th>
                <th rowspan="2"><span translate>inventory.label.deploymentDate</span></th>
                <th rowspan="2"><span translate>common.label.status</span></th>
                <th rowspan="2"><span translate>workflow.label.noOfOrders</span></th>
                <th colspan="10"><span translate>workflow.label.order</span></th>
              </tr>
              <tr>
                <th><span translate>common.label.pending</span></th>
                <th><span translate>common.label.scheduled</span></th>
                <th><span translate>common.label.incomplete</span></th>
                <th><span translate>common.label.running</span></th>
                <th><span translate>common.label.suspended</span></th>
                <th><span translate>common.label.prompting</span></th>
                <th><span translate>common.label.waiting</span></th>
                <th><span translate>common.label.blocked</span></th>
                <th><span translate>common.label.failed</span></th>
                <th><span translate>common.label.completed</span></th>
              </tr>
              </thead>
              <tbody>
              <ng-template ngFor let-item [ngForOf]="ajaxTable.data">
                <tr>
                  <td>
                    <span class="show-in-single-line">
                      <i class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"
                         *ngIf="item.hide && item.fileOrderSources && item.fileOrderSources.length>0" (click)="item.hide = false"></i>
                      <i class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs" *ngIf="!item.hide && item.fileOrderSources && item.fileOrderSources.length>0"
                         (click)="item.hide = true"></i>
                      <i *ngIf="item.documentationName" (click)="coreService.showDocumentation(item.documentationName, preferences)" class="cursor fa fa-book p-l-xs p-r-xs"></i>
                      <span class="text-dark">
                        <i *ngIf="permission.joc && permission.joc.inventory.view" (click)="coreService.navToInventoryTab(item.path, 'WORKFLOW');"
                             class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                        <span [innerHtml]="item.path"></span>
                        <i *ngIf="item.title"> - </i>
                        <i class="text-muted">{{item.title}}</i>
                      </span>
                    </span>
                  </td>
                  <td>
                    <span [innerHtml]="item.versionDate | stringToDate"></span>
                  </td>
                  <td>
                    <span class="label" *ngIf="item.state" [ngClass]="coreService.getColor(item.state.severity, 'bg')"
                       [innerHtml]="item.state._text | translate"></span>
                    <app-tooltip-info *ngIf="item.state && (item.state._text === 'SUSPENDED' || item.state._text === 'SUSPENDING' || item.state._text === 'RESUMING')" [workflow]="item" [controllerId]="schedulerIds.selected"></app-tooltip-info>
                  </td>
                  <td>
                    <span class="remaining-order-count" (click)="viewOrders(workflow)" [innerHtml]="item.numOfOrders || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.pending || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="workflow.ordersSummary.scheduled || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.inprogress || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.running || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.suspended || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="workflow.ordersSummary.prompting || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.waiting || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.blocked || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.failed || 0"></span>
                  </td>
                  <td>
                    <span *ngIf="item.ordersSummary" [innerHtml]="item.ordersSummary.terminated || 0"></span>
                  </td>
                </tr>
                <ng-container *ngIf="!item.hide && item.fileOrderSources">
                  <tr>
                    <td colspan="14" style="padding:0 !important;">
                      <nz-table class="m-a-0 inner-table" #innerChildTable nzSize="small"
                                [nzData]="item.fileOrderSources" [nzShowPagination]="false">
                        <thead>
                        <tr>
                          <th><span class="m-l-sm" translate>common.label.path</span></th>
                          <th><span translate>inventory.label.deploymentDate</span></th>
                          <th><span translate>common.label.status</span></th>
                          <th><span translate>workflow.label.agent</span></th>
                          <th><span translate>inventory.label.directory</span></th>
                          <th><span translate>inventory.label.pattern</span></th>
                          <th><span translate>common.label.timeZone</span></th>
                          <th><span translate>workflow.label.delay</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of innerChildTable.data">
                          <td>
                            <span class="show-in-single-line m-l-sm">
                              <i *ngIf="order.documentationName" (click)="coreService.showDocumentation(order.documentationName, preferences)" class="cursor fa fa-book p-r-xs"></i>
                              <span class="text-dark">
                                <i (click)="coreService.navToInventoryTab(order.path, 'FILEORDERSOURCE')"
                                   class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                                <span [innerHtml]="order.path"></span>
                                <i *ngIf="order.title"> - </i>
                                <i class="text-muted">{{order.title}}</i>
                              </span>
                            </span>
                          </td>
                          <td>
                            <span [innerHtml]="order.versionDate | stringToDate"></span>
                          </td>
                          <td>
                            <span class="label" *ngIf="order.state" [ngClass]="coreService.getColor(order.state.severity, 'bg')"
                            [innerHtml]="order.state._text | translate"></span>
                          </td>
                          <td>{{order.agentName}}</td>
                          <td>{{order.directoryExpr || order.directory}}</td>
                          <td>{{order.pattern}}</td>
                          <td>{{order.timeZone}}</td>
                          <td>{{order.delay}}</td>
                        </tr>
                        </tbody>
                      </nz-table>
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div *ngIf="loading">
          <div class="left-sidebar" *ngIf="recursiveCals.length > 0">
            <div class="m-t">
              <div class="box p-a-sm" *ngFor="let item of recursiveCals;let i = index" [ngClass]="{'active': i === recursiveCals.length-1 }">
                <div class="block-ellipsis" style="width: 90%">
                  <a title="{{item.workflow.path}}" class="text-hover-primary" (click)="openWorkflowDependency(item)">
                    <i nz-icon nzType="gateway" class="p-r-xs"
                       nzTheme="outline"></i>
                    <b>{{item.workflow.path.substring(item.workflow.path.lastIndexOf('/') + 1)}}</b>
                  </a>
                </div>
                <i class="fa fa-times pull-right cursor" style="margin-top: -15px" (click)="item.modalInstance.destroy()"></i>
              </div>
            </div>
          </div>
          <div *ngIf="pageView === 'graph' && workflow.instructions">
            <div *ngIf="isLoading">
              <app-workflow-graphical [recursiveCals]="recursiveCals" [workFlowJson]="workFlowJson" [permission]="permission" [preferences]="preferences"
                                      [jobs]="workflow.jobs" [controllerId]="schedulerIds.selected" [workflowObjects]="workflowObjects"
                                      [workflowFilters]="workflowFilters"></app-workflow-graphical>
            </div>
            <div *ngIf="!isLoading" class="box m-b-0" style="height: calc(100vh - 322px);display: flex;align-items: center">
              <div class="text-center vert-middle">
                <nz-spin nzSimple></nz-spin>
              </div>
            </div>
          </div>
          <div *ngIf="pageView === 'grid' && workflow.instructions">
            <app-workflow-graphical [recursiveCals]="recursiveCals" [workFlowJson]="workFlowJson" [permission]="permission" [preferences]="preferences"
                                    [jobs]="workflow.jobs" [controllerId]="schedulerIds.selected" [orders]="workflow.orders"
                                    [workflowFilters]="workflowFilters" [orderPreparation]="orderPreparation"></app-workflow-graphical>
          </div>
          <div *ngIf="pageView === 'list' && workFlowJson.instructions">
            <div class="box m-b-0 p-a-0 resizable" appResizable [height]="workflowFilters.panelSize2" [workflowTab]="workflowFilters" id="workflowTextId">
              <div class="p-a overflow-y" style="height: 100%">
                <div class="hover" >
                  <a class="text-primary" translate >workflow.label.start</a>
                  <span class="expand-collapse-btn">
                    <i class="cursor fa fa-lg fa-angle-double-down" [nz-tooltip]="'common.tooltip.expandAll' | translate" (click)="expandAll()"></i>
                    <i class="cursor fa fa-lg fa-angle-double-up p-l-xs" [nz-tooltip]="'common.tooltip.collapseAll' | translate" (click)="collapseAll()"></i>
                  </span>
                </div>
                <app-type [timezone]="workFlowJson.timeZone" [path]="workFlowJson.path" [recursiveCals]="recursiveCals" [configuration]="workFlowJson" [jobs]="workFlowJson.jobs" [orderPreparation]="orderPreparation" [permission]="permission" [preferences]="preferences"
                          [schedulerId]="schedulerIds.selected" [expandAll]="isExpandAll" (isChanged)="changedHandler($event)" [orders]="workflow.orders"
                          [workflowFilters]="workflowFilters" [expectedNoticeBoards]="workFlowJson.expectedNoticeBoards" [addOrderToWorkflows]="workFlowJson.addOrderToWorkflows" [postNoticeBoards]="workFlowJson.postNoticeBoards"></app-type>
                <div class="rg-bottom"><span></span></div>
              </div>
            </div>
          </div>
          <div class="scrollTop-btn">
            <a (click)="scrollTop()">
              <i class="fa fa-angle-up"></i>
            </a>
          </div>
          <div class="scrollBottom-btn">
            <a (click)="scrollBottom()">
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t">
      <div class="col-md-12" *ngIf="loading && workFlowJson && workFlowJson.name && permission && permission.joc && (permission.currentController.orders.view || permission.joc.auditLog.view)">
        <div class="box white">
          <div class="box-header">
            <span class="text">{{workFlowJson.path}} <i *ngIf="workFlowJson.title">-</i> <i
                      class="text-sm text-muted">{{workFlowJson.title}}</i></span>
          </div>
          <div class="box-body p-t-0 b-t">
            <app-workflow-history [workflow]="{name: workFlowJson.name, path: workFlowJson.path}"></app-workflow-history>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN SLIDER -->
<nz-drawer [nzVisible]="sideBar.isVisible" nzPlacement="right" (nzOnClose)="sideBar.isVisible = false">
  <ng-container *nzDrawerContent>
    <div class="close-btn" (click)="sideBar.isVisible = false"></div>
    <div class="p-l-sm p-r-sm">
      <app-order-list-sidebar [permission]="permission" [preferences]="preferences" [orderPreparation]="orderPreparation" [schedulerId]="schedulerIds.selected" [orders]="sideBar.orders"></app-order-list-sidebar>
    </div>
  </ng-container>
</nz-drawer>
<!-- END SLIDER -->
<div class="spinner" *ngIf="!loading">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
