.table-responsive{
  overflow: visible;
}
.table-responsive .dropdown-more{
  top:20px;
}
.table-responsive .dropdown-menu.dropdown-more.dropdown-more ::after, .table-responsive .dropdown-menu.dropdown-more.dropdown-more ::before, [flex]{
  left: 8px !important;
}
.table-responsive .arrows {
  visibility: hidden;
}

.table-responsive th.active .arrows {
    visibility: visible;
}
