<div class="white box-shadow sub-header">
  <div class="row">
      <div class="col-md-12">
          <div class="padding">
              <div class="text-right ">
                  <div class="pull-left">
                    <app-breadcrumbs></app-breadcrumbs>
                  </div>
                  <div class="inline" *ngIf="!editLayoutObj">
                    <button class="btn btn-grey btn-sm m-l-12" (click)="editLayout()">
                        <i class="fa fa-pencil"></i>&nbsp;
                        <span translate>dashboard.button.editLayout</span>
                    </button>
                    <button class="btn btn-grey btn-sm m-l-12" (click)="resetLayout()">
                        <i class="fa fa-refresh"></i>&nbsp;
                        <span translate>dashboard.button.resetLayout</span>
                    </button>
                  </div>
                  <div class="inline" *ngIf="editLayoutObj">
                      <button class="btn btn-grey btn-sm m-l-12" (click)="addWidgetDialog()">
                          <i class="fa fa-plus"></i>&nbsp;
                          <span translate>dashboard.button.widget</span>
                      </button>
                      <button class="btn btn-grey btn-sm m-l-12" (click)="saveWidget()">
                          <i class="fa fa-save"></i>&nbsp;
                          <span translate>common.button.save</span>
                      </button>
                      <button class="btn btn-grey btn-sm m-l-12" (click)="cancelWidget()">
                          <i class="fa fa-times"></i>&nbsp;
                          <span translate>common.button.cancel</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="gridster-container">
  <div class="m-a hide" [ngClass]="{'show':dashboard.length == 0 && isLoading}">
      <div class="m-a-sm emtpy-text" >
          <a class="cursor" (click)="addWidgetDialog()" translate>dashboard.button.addNewWidget</a>
      </div>
  </div>
  <div class="gridster" *ngIf="dashboard.length > 0">
      <gridster [options]="options">
          <gridster-item  [item]="item" *ngFor="let item of dashboard"  id = "{{item.name}}" >
              <div class="destroy-button">
                  <i *ngIf="editLayoutObj" (mousedown)="$event.stopPropagation()" class="fa fa-times-circle" [nz-tooltip]="'common.button.remove' | translate" (click)="removeWidget($event, item)"></i>
              </div>
              <div *ngIf="item.name === 'agentClusterStatus'">
                  <app-agent-status [layout]="item"></app-agent-status>
              </div>
              <div *ngIf="item.name === 'js7ClusterStatus'">
                  <app-controller-cluster [sizeY]="item.rows" [permission]="permission"></app-controller-cluster>
              </div>
              <div *ngIf="item.name === 'agentClusterRunningTasks'">
                  <app-agent-running-task [layout]="item"></app-agent-running-task>
              </div>
              <div *ngIf="item.name === 'js7Status'">
                  <app-scheduler-instance [sizeY]="item.rows" [permission]="permission"></app-scheduler-instance>
              </div>
              <div *ngIf="item.name === 'orders'">
                  <app-order-overview [sizeX]="item.cols" [sizeY]="item.rows"></app-order-overview>
              </div>
              <div *ngIf="item.name === 'history'">
                  <app-history-summary></app-history-summary>
              </div>
              <div *ngIf="item.name === 'inventory'">
                  <app-inventory-statistics [sizeX]="item.cols" [sizeY]="item.rows"></app-inventory-statistics>
              </div>
              <div *ngIf="item.name === 'dailyPlan'">
                <app-daily-plan></app-daily-plan>
              </div>
          </gridster-item>
      </gridster>
  </div>
</div>
<div class="spinner" *ngIf="!isLoading">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
