<div class="row m-t-xs p-b-xs">
  <div class="col-md-12">
    <h5 >{{ 'profile.permission.label.jocCockpit' | translate }}</h5>
  </div>
</div>
<div class="row m-t-xs p-b-xs">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.accounts' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.accounts.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.accounts.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-sm-3"><span class="text-dark" >{{ 'profile.permission.label.auditLog' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.auditLog.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.calendar' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.calendars.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.certificates' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.certificates.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.certificates.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.cluster' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.cluster.manage}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.controllers' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.controllers.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.controllers.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.customization' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.customization.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.customization.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.customization.share}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.share' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.dailyPlan' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                      <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.dailyPlan.view}"
                                                              class="fa fa-check text-success"></i>&nbsp; <span
                        >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.dailyPlan.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" >{{ 'profile.permission.label.documentation' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.documentations.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.documentations.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.fileTransfer' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.fileTransfer.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.fileTransfer.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.inventory' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.inventory.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.inventory.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.inventory.deploy}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.deploy' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.jocCockpit' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.getLog}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.downloadLog' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.notification' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.notification.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.notification.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.others' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.others.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.others.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.reports' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.reports.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.reports.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.settings' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.settings.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.settings.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.manage' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.encipherment' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.encipherment.encrypt}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.encrypt' | translate }}</span></span>
  </div>
</div>
<div class="row m-t p-b-xs b-t p-t">
  <div class="col-md-12">
    <h5>
      <span >{{ 'profile.permission.label.controller' | translate }}</span>:
      <a [nzDropdownMenu]="option" class="m-l-xs" nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
        <span class="_500 text-orange">{{selectedController || 'default'}}</span><i
        class="fa fa-caret-down p-l-xs"></i>
      </a>
      <nz-dropdown-menu #option="nzDropdownMenu">
        <ul nz-menu>
          <li (click)="changeController('');" [ngClass]="{'ant-select-dropdown-menu-item-active':selectedController == ''}"
              nz-menu-item>
            <a>default</a>
          </li>
          @for (controller of schedulerIds.controllerIds; track controller) {
            <li (click)="changeController(controller);"
                [ngClass]="{'ant-select-dropdown-menu-item-active':selectedController == controller}" nz-menu-item>
              <a>{{controller}}</a>
            </li>
          }
        </ul>
      </nz-dropdown-menu>
    </h5>
  </div>
</div>
<div class="row m-t-xs">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.agent' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.agents.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.deployments' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                      <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.deployments.view}"
                                                              class="fa fa-check text-success"></i>&nbsp; <span
                        >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.deployments.deploy}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.deploy' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.js7Controller' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.terminate}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.terminate' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.restart}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.restart' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.switchOver}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.switchOver' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.getLog}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.downloadLog' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" >{{ 'profile.permission.label.lock' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.locks.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       >{{ 'profile.permission.label.workflow' | translate }}</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.workflows.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" >{{ 'profile.permission.label.board' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.noticeBoards.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.noticeBoards.post}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.post' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.noticeBoards.delete}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.delete' | translate }}</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" >{{ 'profile.permission.label.order' | translate }}</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      >{{ 'profile.permission.label.view' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i
      [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.create}"
      class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.create' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.cancel}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.cancel' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.modify}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.modify' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.suspendResume}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.suspendResume' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.resumeFailed}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.resumeFailed' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.managePositions}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.managePositions' | translate }}</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.confirm}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      >{{ 'profile.permission.label.confirm' | translate }}</span></span>
  </div>
</div>
