<div class="row m-t-xs p-b-xs">
  <div class="col-md-12">
    <h5 translate>profile.permission.label.jocCockpit</h5>
  </div>
</div>
<div class="row m-t-xs p-b-xs">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.accounts</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.accounts.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.accounts.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-sm-3"><span class="text-dark" translate>profile.permission.label.auditLog</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.auditLog.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.calendar</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.calendars.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.certificates</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.certificates.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.certificates.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.cluster</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.cluster.manage}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.controllers</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.controllers.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.controllers.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.customization</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.customization.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.customization.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.customization.share}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.share</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.dailyPlan</span></div>
  <div class="row col-md-8 col-lg-9">
                      <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.dailyPlan.view}"
                                                              class="fa fa-check text-success"></i>&nbsp; <span
                        translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.dailyPlan.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.permission.label.documentation</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.documentations.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.documentations.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.fileTransfer</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.fileTransfer.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.fileTransfer.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.inventory</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.inventory.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.inventory.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.inventory.deploy}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.deploy</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.jocCockpit</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.getLog}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.downloadLog</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.notification</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.notification.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.notification.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.others</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.others.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.others.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.reports</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.reports.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.reports.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.reports</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                  <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.reports.view}"
                                                          class="fa fa-check text-success"></i>&nbsp; <span
                    translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.reports.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.settings</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.settings.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !permission.joc.administration.settings.manage}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.manage</span></span>
  </div>
</div>
<div class="row m-t p-b-xs b-t p-t">
  <div class="col-md-12">
    <h5>
      <span translate>profile.permission.label.controller</span>:
      <a [nzDropdownMenu]="option" class="m-l-xs" nz-dropdown nzPlacement="bottomRight" nzTrigger="click">
        <span class="_500 text-orange">{{selectedController || 'default'}}</span><i
        class="fa fa-caret-down p-l-xs"></i>
      </a>
      <nz-dropdown-menu #option="nzDropdownMenu">
        <ul nz-menu>
          <li (click)="changeController('');" [ngClass]="{'ant-select-dropdown-menu-item-active':selectedController == ''}"
              nz-menu-item>
            <a>default</a>
          </li>
          <li (click)="changeController(controller);" *ngFor="let controller of schedulerIds.controllerIds"
              [ngClass]="{'ant-select-dropdown-menu-item-active':selectedController == controller}" nz-menu-item>
            <a>{{controller}}</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </h5>
  </div>
</div>
<div class="row m-t-xs">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.agent</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.agents.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.deployments</span></div>
  <div class="row col-md-8 col-lg-9">
                      <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.deployments.view}"
                                                              class="fa fa-check text-success"></i>&nbsp; <span
                        translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.deployments.deploy}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.deploy</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.js7Controller</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.terminate}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.terminate</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.restart}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.restart</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.switchOver}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.switchOver</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.getLog}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.downloadLog</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.permission.label.lock</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.locks.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark"
                                       translate>profile.permission.label.workflow</span></div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.workflows.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.permission.label.board</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.noticeBoards.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.noticeBoards.post}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.post</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.noticeBoards.delete}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.delete</span></span>
  </div>
</div>
<div class="row m-t">
  <div class="col-md-4 col-lg-3"><span class="text-dark" translate>profile.permission.label.order</span>
  </div>
  <div class="row col-md-8 col-lg-9">
                    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.view}"
                                                            class="fa fa-check text-success"></i>&nbsp; <span
                      translate>profile.permission.label.view</span></span>
    <span class="col-sm-3 text-black-lt"><i
      [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.create}"
      class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.create</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.cancel}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.cancel</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.modify}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.modify</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.suspendResume}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.suspendResume</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.resumeFailed}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.resumeFailed</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.managePositions}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.managePositions</span></span>
    <span class="col-sm-3 text-black-lt"><i [ngClass]="{'fa-times text-black-lt': !controllerPermission.orders.confirm}"
                                            class="fa fa-check text-success"></i>&nbsp; <span
      translate>profile.permission.label.confirm</span></span>
  </div>
</div>
