<div class="btn-group dropdown">
  <button [disabled]="isDisabled"  class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option"
          type="button">
    <i class="fa fa-ellipsis-h"></i>
  </button>
  <nz-dropdown-menu #option="nzDropdownMenu" role="menu">
    <ul nz-menu>
      <li nz-menu-item (click)="navToDetailView('list')">
        <a translate>workflow.button.showTabularView</a>
      </li>
      <li nz-menu-item (click)="navToDetailView('grid')">
        <a translate>workflow.button.showGraphicalView</a>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item *ngIf="permission.currentController.orders.create" [nzDisabled]="!workflow.isCurrentVersion || workflow.state._text === 'NOT_IN_SYNC'" (click)="addOrder(workflow);" >
        <a>{{'workflow.button.addOrder' | translate}} ..</a>
      </li>
      <li nz-menu-item *ngIf="!workflow.suspended" [nzDisabled]="!workflow.isCurrentVersion || workflow.state._text === 'NOT_IN_SYNC'" (click)="suspend(workflow);" >
        <a>{{'order.button.suspend' | translate}}</a>
      </li>
      <li nz-menu-item *ngIf="workflow.suspended" [nzDisabled]="!workflow.isCurrentVersion" (click)="resume(workflow);" >
        <a>{{'order.button.resume' | translate}}</a>
      </li>
      <li nz-menu-item *ngIf="workflow.hasExpectedNoticeBoards || workflow.hasPostNoticeBoards || workflow.hasAddOrderDependencies" (click)="showDependency(workflow);" >
        <a>{{'workflow.button.showDependency' | translate}} ..</a>
      </li>
      <li nz-menu-item (click)="coreService.copyLink('workflow',workflow.name)" >
        <a translate>common.button.copyLinkToObject</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
