<div class="row">
  <div class="col-md-12" *ngIf="data.type">
    <div class="box p-a p-r-md">
      <div class="b-b p-b m-b">
        <span class="text-left">
          <a (click)="backToListView()"><i nz-tooltip="{{'inventory.button.backToList' | translate}}" class="fa fa-arrow-circle-left config-back-btn"></i></a>
          <span class="_600">{{data.path}}<span *ngIf="data.path !=='/'">/</span>{{data.name}}</span>
        </span>
        <div class="inline pull-right">
          <button type="button" class="btn btn-sm btn-grey m-l-12 m-t-n-xs" (click)="openRuntimeEditor()" >
            <i class="fa fa-clock-o p-r-xs"></i>
            <span translate>inventory.button.runTime</span>
          </button>
        </div>
        <div class="inline pull-right" *ngIf="!isTrash">
          <span class="badge m-r-12" *ngIf="schedule.configuration" [ngClass]="!schedule.valid ? 'badge-danger':'badge-success'">
              <span *ngIf="schedule.valid" translate>inventory.label.valid</span>
              <span *ngIf="!schedule.valid">
                <span translate>inventory.label.notValid</span>
                <i nz-tooltip="{{invalidMsg | translate}}" class="fa fa-info-circle p-l-xs"></i>
              </span>
            </span>
          <span class="badge" *ngIf="schedule.configuration" [ngClass]="!data.released ? 'badge-danger':'badge-success'">
              <span *ngIf="!data.released" translate>inventory.label.notReleased</span>
              <span *ngIf="data.released" translate>inventory.label.released</span>
            </span>
          <button *ngIf="permission.joc && permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy)" type="button" [disabled]="!schedule.valid" class="btn btn-sm btn-grey m-l-12 m-t-n-xs" (click)="release()" >
            <i class="fa fa-rocket p-r-xs"></i>
            <span translate>inventory.button.release</span>
          </button>
        </div>
      </div>
      <form *ngIf="schedule.configuration && permission.joc">
        <div class="form-group row"
             [ngClass]="{ 'has-error' : (((name.dirty || name.touched) && name.invalid))}">
          <label class="col-lg-3 col-xl-3 col-xxl-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.schedule.name' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.orderTemplateName</label>
          <div class="col-lg-9 col-xl-8 col-xxl-6">
            <input autocomplete="off" [readOnly]="isTrash || !permission.joc.inventory.manage" identifierValidation required class="form-control" [appAutofocus]="!isTrash"
                   name="name" [(ngModel)]="schedule.name" #name="ngModel" (blur)="rename(name.invalid)">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger help-block">
              <div *ngIf="name.errors.invalidIdentifier" translate>common.message.invalid</div>
              <div *ngIf="name.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-xl-3 col-xxl-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.schedule.title' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>common.label.title</label>
          <div class="col-lg-9 col-xl-8 col-xxl-6">
            <input type="text" [readOnly]="isTrash || !permission.joc.inventory.manage" class="form-control" autocomplete="off" placeholder="{{'common.placeholder.title' | translate}}"
                   name="title" [(ngModel)]="schedule.configuration.title" (blur)="saveJSON()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-xl-3 col-xxl-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.schedule.documentation' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.documentation</label>
          <div class="col-lg-9 col-xl-8 col-xxl-6 select-input-both">
            <input autocomplete="off" [readOnly]="isTrash || !permission.joc.inventory.manage" type="text" class="form-control"
                   placeholder="{{'inventory.placeholder.documentationName' | translate}}"
                   name="documentationPath" [(ngModel)]="schedule.configuration.documentationName">
            <nz-tree-select
              name="documentationName"
              [disabled]="isTrash || !permission.joc.inventory.manage"
              nzNoAnimation
              [nzAllowClear]="false"
              [nzNodes]="documentationTree"
              [nzHideUnMatched]="true"
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              nzShowSearch
              [(ngModel)]="schedule.configuration.documentationName1"
              (nzExpandChange)="onExpand($event, 'DOCUMENTATION')"
            >
              <ng-template #nzTreeTemplate let-node>
                <div style="width: 93%" class="node-wrapper" (click)="loadData(node, 'DOCUMENTATION', $event);">
                  <div class="node-content-wrapper"
                       [class.node-content-wrapper-active]="node.origin.assignReference == schedule.configuration.documentationName">
                    <i *ngIf="!node.origin.type" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                       class="w-14"></i>
                    <i *ngIf="node.origin.type" class="fa fa-circle-o text-xs w-11 m-t-xs"></i>
                    {{node.origin.key}}
                  </div>
                </div>
              </ng-template>
            </nz-tree-select>
            <i class="tree-search-clear" (click)="schedule.configuration.documentationName = '';schedule.configuration.documentationName1='';saveJSON()"
               *ngIf="schedule.configuration.documentationName" nz-icon nzType="close-circle" nzTheme="outline"></i>
          </div>
        </div>
        <div class="form-group row"
             [ngClass]="{ 'has-error' : (((workflowName.dirty || workflowName.touched) && workflowName.invalid))}">
          <label class="col-lg-3 col-xl-3 col-xxl-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.schedule.workflowName' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.workflowName</label>
          <div class="col-lg-9 col-xl-8 col-xxl-6 select-input-both">
            <input autocomplete="off" [readOnly]="isTrash || !permission.joc.inventory.manage" type="text" class="form-control"
                   placeholder="{{'inventory.placeholder.workflowName' | translate}}"
                   name="workflowName" #workflowName="ngModel" [(ngModel)]="schedule.configuration.workflowName">
            <nz-tree-select
              name="workflowName1"
              [disabled]="isTrash || !permission.joc.inventory.manage"
              nzNoAnimation
              #treeSelectCtrl
              [nzAllowClear]="false"
              [nzNodes]="workflowTree"
              [nzHideUnMatched]="true"
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              nzShowSearch
              (keyup)="onKeyPressFunc($event)"
              [(ngModel)]="schedule.configuration.workflowName1"
              (nzExpandChange)="onExpand($event, 'WORKFLOW')"
            >
              <ng-template #nzTreeTemplate let-node>
                <div style="width: 93%" class="node-wrapper" (click)="loadData(node, 'WORKFLOW', $event);">
                  <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.origin.key == schedule.configuration.workflowName">
                    <i *ngIf="!node.origin.type" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14"></i>
                    <i *ngIf="node.origin.type" class="fa fa-circle-o text-xs w-11 m-t-xs"></i>
                    {{node.origin.name}}
                  </div>
                </div>
              </ng-template>
            </nz-tree-select>
            <div *ngIf="workflowName.invalid && (workflowName.dirty || workflowName.touched)" class="text-danger help-block">
              <div *ngIf="workflowName.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
            </div>
            <div *ngIf="schedule.configuration.workflowName" class="pos-abt" style="right: -8px;margin-top: -25px">
              <i (click)="navToWorkflow()" class="fa fa-pencil cursor"></i>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-xl-3 col-xxl-3 block-ellipsis-job" title="{{'inventory.label.planOrderAutomatically' | translate}}" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.schedule.planOrderAutomatically' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.planOrderAutomatically</label>
          <div class="col-lg-9 col-xl-8 col-xxl-6">
            <label nz-checkbox [nzDisabled]="isTrash || !permission.joc.inventory.manage" [(ngModel)]="schedule.configuration.planOrderAutomatically" (ngModelChange)="saveJSON()" name="planOrderAutomatically"></label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-xl-3 col-xxl-3 block-ellipsis-job" title="{{'inventory.label.submitOrderToControllerWhenPlanned' | translate}}" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.schedule.submitOrderToControllerWhenPlanned' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.submitOrderToControllerWhenPlanned</label>
          <div class="col-lg-9 col-xl-8 col-xxl-6">
            <label nz-checkbox [nzDisabled]="isTrash || !permission.joc.inventory.manage" [(ngModel)]="schedule.configuration.submitOrderToControllerWhenPlanned" (ngModelChange)="saveJSON()" name="submitOrderToControllerWhenPlanned"></label>
          </div>
        </div>
        <div class="form-group row" *ngIf="variableList.length || schedule.configuration.variableSets.length">
          <label class="col-md-12 _600" translate>inventory.label.variableSets</label>
        </div>
        <div *ngFor="let variableSet of schedule.configuration.variableSets; let j = index" [ngClass]="{'b-t p-t' : j != 0}">
          <div class="form-group row">
            <label class="col-lg-3 col-xl-3 col-xxl-3 form-control-label" translate>order.label.orderName</label>
            <div class="col-lg-9 col-xl-8 col-xxl-6" [ngClass]="{ 'has-error' : (((orderName.dirty || orderName.touched) && orderName.invalid))}">
              <input type="text" identifierValidation maxlength="30" [readOnly]="isTrash || !permission.joc.inventory.manage" class="form-control" autocomplete="off" placeholder="{{'inventory.placeholder.orderName' | translate}}"
                     name="orderName{{j}}" #orderName="ngModel" [(ngModel)]="variableSet.orderName" (keypress)="onKeyPress($event, null)" (blur)="isOrderNameValid(variableSet, orderName, schedule.configuration.variableSets)">
              <div *ngIf="orderName.invalid && (orderName.dirty || orderName.touched)" class="text-danger help-block">
                <div *ngIf="orderName.errors.invalidIdentifier" translate>common.message.invalid</div>
              </div>
              <div class="pos-abt" style="right: -6px; margin-top: -28px" [hidden]="j === schedule.configuration.variableSets.length - 1 && variableSet.forkListVariables && variableSet.forkListVariables.length > 0">
                <a [ngClass]="{'disable-link': isTrash || !permission.joc.inventory.manage}"><i (click)="removeVariableSet(j)" class="fa fa-times m-t-sm text-hover-color"></i></a>
              </div>
            </div>
          </div>
          <div *ngIf="variableSet.forkListVariables && variableSet.forkListVariables.length > 0">
            <div *ngFor="let listVariables of variableSet.forkListVariables; let x = index;">
              <div class="m-b-sm">{{'order.label.variableList' | translate}}:
                <b>{{listVariables.name}}</b>
              </div>
              <div *ngIf="listVariables.list" class="p-a-sm b-a m-b">
                <div class="form-group row m-b-0 m-l-12">
                  <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 m-b-sm" translate>common.label.name</div>
                  <div class="col-md-6 col-lg-8 col-xl-9 m-b-sm" style="margin-left: -23px" translate>common.label.value</div>
                </div>
                <div class="form-group row m-b-0 m-l-12" *ngFor="let actualListArr of listVariables.actualList; let i = index" [ngClass]="{'b-b m-b-sm': i !== listVariables.actualList.length - 1}">
                  <div *ngIf="listVariables.actualList && (i === listVariables.actualList.length - 1)" (click)="addVariableToList(listVariables)"
                       class="pos-abt" style="margin-left: -13px;font-size: 16px;margin-top: 3px;cursor: pointer">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </div>
                  <div class="col-md-12" *ngFor="let argument of actualListArr; let k = index">
                    <div class="form-group row m-b-0" >
                      <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 m-b-sm" style="padding-right: 34px">
                        <input readonly type="text" class="form-control" name="_name{{i}}{{j}}{{k}}{{x}}" [(ngModel)]="argument.name">
                      </div>
                      <ng-container [ngSwitch]="argument.type">
                        <ng-container *ngSwitchCase="'Number'">
                          <div class="col-md-6 col-lg-8 col-xl-8 col-xxl-6 m-b-sm"
                               [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                            <nz-input-number [required]="true" #value="ngModel" (nzBlur)="saveJSON()" style="margin-left: -23px;width: 103%"
                                             nzPlaceHolder="{{'common.placeholder.enterNumber' | translate}}"
                                             [nzMin]="0" [nzStep]="1" name="_value{{i}}{{j}}{{k}}{{x}}" [(ngModel)]="argument.value"></nz-input-number>
                            <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                                 class="text-danger help-block" style="margin-left: -23px;">
                              <div *ngIf="value.errors.required">
                                <div translate>common.message.requiredError</div>
                              </div>
                            </div>
                            <div class="pos-abt" style="right: -6px; margin-top: -28px" *ngIf="listVariables.actualList && listVariables.actualList.length > 1 && k === actualListArr.length - 1">
                              <a><i (click)="removeVariableFromList(i, listVariables.actualList)" class="fa fa-times m-t-sm text-muted"></i></a>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Boolean'">
                          <div class="col-md-6 col-lg-8 col-xl-8 col-xxl-6 m-b-sm"
                               [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                            <nz-select nzAllowClear [nzPlaceHolder]="'common.placeholder.selectValue' | translate" (ngModelChange)="saveJSON()" style="margin-left: -23px;width: 103%"
                                       #value="ngModel" [required]="true" name="_value{{i}}{{j}}{{k}}{{x}}" [(ngModel)]="argument.value">
                              <nz-option [nzLabel]="'True' | translate" [nzValue]="true"></nz-option>
                              <nz-option [nzLabel]="'False' | translate" [nzValue]="false"></nz-option>
                            </nz-select>
                            <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                                 class="text-danger help-block" style="margin-left: -23px;">
                              <div *ngIf="value.errors.required">
                                <div translate>common.message.requiredError</div>
                              </div>
                            </div>
                            <div class="pos-abt" style="right: -6px; margin-top: -28px" *ngIf="listVariables.actualList && listVariables.actualList.length > 1 && k === actualListArr.length - 1">
                              <a><i (click)="removeVariableFromList(i, listVariables.actualList)" class="fa fa-times m-t-sm text-muted"></i></a>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <div class="col-md-6 col-lg-8 col-xl-8 col-xxl-6 m-b-sm"
                               [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                            <input #value="ngModel" [required]="true" autocomplete="off" type="text" class="form-control" style="margin-left: -23px;width: 103%"
                                   name="_value{{i}}{{j}}{{k}}{{x}}" (blur)="saveJSON()"
                                   [(ngModel)]="argument.value" placeholder="{{'common.placeholder.value' | translate}}">
                            <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                                 class="text-danger help-block" style="margin-left: -23px;">
                              <div *ngIf="value.errors.required">
                                <div translate>common.message.requiredError</div>
                              </div>
                            </div>
                            <div class="pos-abt" style="right: -6px; margin-top: -28px" *ngIf="listVariables.actualList && listVariables.actualList.length > 1 && k === actualListArr.length - 1">
                              <a><i (click)="removeVariableFromList(i, listVariables.actualList)" class="fa fa-times m-t-sm text-muted"></i></a>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0" *ngFor="let variable of variableSet.variables; let i = index">
            <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 m-b-sm" *ngIf="i==0" translate>common.label.name</div>
            <div class="col-md-6 col-lg-8 col-xl-9 m-b-sm" *ngIf="i==0" translate>common.label.value</div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 m-b-sm" *ngIf="variable.isTextField" [ngClass]="{'has-error' : ((name.dirty || name.touched) && name.invalid)}">
              <input #name="ngModel" required autocomplete="off" type="text" class="form-control"
                     name="name_{{i}}{{j}}" [(ngModel)]="variable.name" placeholder="{{'common.placeholder.name' | translate}}">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3 m-b-sm" *ngIf="!variable.isTextField">
              <nz-select nzShowSearch name="name{{i}}{{j}}" [nzDisabled]="isTrash || !permission.joc.inventory.manage || variable.isRequired" nzPlaceHolder="{{'common.placeholder.selectVariable' | translate}}"
                         [(ngModel)]="variable.name" (ngModelChange)="checkVariableType(variable);saveJSON()">
                <nz-option *ngFor="let list of variableSet.variableList" [nzDisabled]="list.isSelected" [nzLabel]="list.name"
                           [nzValue]="list.name"></nz-option>
              </nz-select>
            </div>
            <ng-container [ngSwitch]="variable.type">
              <ng-container *ngSwitchCase="'Number'">
                <div class="col-md-6 col-lg-8 col-xl-8 col-xxl-6 m-b-sm" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <nz-input-number [nzDisabled]="isTrash || !permission.joc.inventory.manage" [required]="variable.isRequired" #value="ngModel" nzPlaceHolder="{{'common.placeholder.enterNumber' | translate}}" [nzMin]="0" [nzStep]="1"
                                   name="value{{i}}{{j}}" [(ngModel)]="variable.value" (nzBlur)="saveJSON()" (keypress)="onKeyPress($event, variableSet)"></nz-input-number>
                  <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                       class="text-danger help-block">
                    <div *ngIf="value.errors.required">
                      <div translate>common.message.requiredError</div>
                    </div>
                  </div>
                  <div class="pos-abt" style="right: -6px; margin-top: -28px" *ngIf="!variable.isRequired">
                    <a [ngClass]="{'disable-link': isTrash || !permission.joc.inventory.manage}"><i (click)="removeVariable(i, variableSet)" class="fa fa-times m-t-sm text-hover-color"></i></a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'Boolean'">
                <div class="col-md-6 col-lg-8 col-xl-8 col-xxl-6 m-b-sm" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <nz-select nzAllowClear [nzPlaceHolder]="'common.placeholder.selectValue' | translate"
                             #value="ngModel" [nzDisabled]="isTrash || !permission.joc.inventory.manage" [required]="variable.isRequired" (nzBlur)="saveJSON()" name="value{{i}}{{j}}" [(ngModel)]="variable.value">
                    <nz-option [nzLabel]="'True' | translate" [nzValue]="true"></nz-option>
                    <nz-option [nzLabel]="'False' | translate" [nzValue]="false"></nz-option>
                  </nz-select>
                  <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                       class="text-danger help-block">
                    <div *ngIf="value.errors.required">
                      <div translate>common.message.requiredError</div>
                    </div>
                  </div>
                  <div class="pos-abt" style="right: -6px; margin-top: -28px" *ngIf="!variable.isRequired">
                    <a [ngClass]="{'disable-link': isTrash || !permission.joc.inventory.manage}"><i (click)="removeVariable(i, variableSet)" class="fa fa-times m-t-sm text-hover-color"></i></a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <div class="col-md-6 col-lg-8 col-xl-8 col-xxl-6 m-b-sm" [ngClass]="{'has-error' : ((value.dirty || value.touched) && value.invalid)}">
                  <input #value="ngModel" [readOnly]="isTrash || !permission.joc.inventory.manage" [required]="variable.isRequired" autocomplete="off" type="text" class="form-control" (keypress)="onKeyPress($event, variableSet)"
                         name="value{{i}}{{j}}" [(ngModel)]="variable.value" (blur)="saveJSON()" placeholder="{{'common.placeholder.value' | translate}}">
                  <div *ngIf="value.invalid && value.errors && (value.dirty || value.touched)"
                       class="text-danger help-block">
                    <div *ngIf="value.errors.required">
                      <div translate>common.message.requiredError</div>
                    </div>
                  </div>
                  <div class="pos-abt" style="right: -6px; margin-top: -28px" *ngIf="!variable.isRequired">
                    <a [ngClass]="{'disable-link': isTrash || !permission.joc.inventory.manage}"><i (click)="removeVariable(i, variableSet)" class="fa fa-times m-t-sm text-hover-color"></i></a>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="form-group row" [ngClass]="{'disable-link': isTrash || !permission.joc.inventory.manage}">
            <div class="col-sm-12" *ngIf="variableList.length > variableSet.variables.length">
              <a class="text-u-l" (click)="addVariable(false, variableSet)" translate>order.button.modifyVariable</a>
            </div>
            <div class="col-sm-12" *ngIf="variableList.length <= variableSet.variables.length && (workflow.orderPreparation && workflow.orderPreparation.allowUndeclared)">
              <a class="text-u-l" (click)="addVariable(true, variableSet)" translate>order.button.addVariable</a>
            </div>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'disable-link': isTrash || !permission.joc.inventory.manage}">
          <div class="col-sm-12" *ngIf="variableList.length > 0 || forkListVariables.length > 0 || (workflow.orderPreparation && workflow.orderPreparation.allowUndeclared)">
            <a class="text-u-l" (click)="addVariableSet()" translate>inventory.button.addVariableSet</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12" *ngIf="data.object">
    <app-table
      [schedulerId]="schedulerId"
      [preferences]="preferences"
      [permission]="permission"
      [copyObj]="copyObj"
      [isTrash]="isTrash"
      [objectType]="objectType"
      [dataObj]="data"></app-table>
  </div>
</div>
<nz-drawer [nzVisible]="isVisible" nzPlacement="right" (nzOnClose)="closeCalendarView()">
  <ng-container *nzDrawerContent>
  <div class="close-btn" (click)="closeCalendarView()"></div>
  <div *ngIf="isVisible && permission.joc">
    <div class="text-center m-b text" ><i class="fa fa-clock-o"></i>&nbsp;<span class="_600 b-b p-b-sm m-l-sm" translate>runtime.label.runTime</span></div>
    <app-run-time [schedule]="schedule" [isTrash]="isTrash || !permission.joc.inventory.manage" [permission]="permission" [preferences]="preferences" [schedulerId]="schedulerId"></app-run-time>
  </div>
  </ng-container>
</nz-drawer>
