<div class="row m-b-sm m-t-n-xs">
  <div class="col-lg-offset-6 col-lg-6 col-md-offset-0 col-md-12">
    <div class="notify-tool">
      <div class="search-box-field pull-right">
        <label>
          <input (keyup)="searchInResult()" [(ngModel)]="filters.searchText" placeholder="{{'common.placeholder.search' | translate}}"
                 type="search">
        </label>
        <i (click)="filters.searchText = '';searchInResult()" [hidden]="!filters.searchText"
           class="fa fa-times search-close"></i>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="m-t-sm box p-a">
    <div class="table-responsive">
      <nz-table
        #ajaxTable
        [nzBordered]="true"
        [nzData]="data"
        [nzLoading]="!isLoaded"
        [nzPageIndex]="filters.filter.currentPage"
        [nzPageSizeOptions]="[10, 25, 50, 100, +(preferences.maxEntryPerPage)]"
        [nzPageSize]="filters.filter.entryPerPage || preferences.entryPerPage || 25"
        [nzShowPagination]="data.length > 0"
        [nzShowSizeChanger]="true"
        [nzSize]="'small'"
      >
        <thead>
        <tr>

<!--          <th class="menu"><span-->
<!--            translate>common.label.action</span></th>-->
          <th (click)="sort('name')"><a><span class="p-r-xs" translate>common.label.name</span>
            <i *ngIf="filters.filter.sortBy == 'name' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'name' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('title')"><a><span class="p-r-xs" translate>common.label.title</span>
            <i *ngIf="filters.filter.sortBy == 'title' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'title' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('template')"><a><span class="p-r-xs" translate>Template</span>
            <i *ngIf="filters.filter.sortBy == 'template' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'template' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('frequencies')"><a><span class="p-r-xs" translate>Frequencies</span>
            <i *ngIf="filters.filter.sortBy == 'frequencies' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'frequencies' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('dateFrom')"><a><span class="p-r-xs" translate>Date From</span>
            <i *ngIf="filters.filter.sortBy == 'dateFrom' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'dateFrom' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('size')" ><a><span class="p-r-xs" translate>Size</span>
            <i *ngIf="filters.filter.sortBy == 'size' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'size' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('created')" ><a><span class="p-r-xs" translate>monitor.notification.label.created</span>
            <i *ngIf="filters.filter.sortBy == 'created' && !filters.filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filters.filter.sortBy == 'created' && filters.filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-template [ngForOf]="ajaxTable.data" let-item
                     ngFor>
          <tr>
            <td><span [innerHtml]="item.name | highlight : filters.searchText"></span></td>
            <td><span [innerHtml]="item.title | highlight : filters.searchText"></span></td>
            <td><span [innerHtml]="item.template | highlight : filters.searchText"></span></td>
            <td><div *ngFor="let frequency of item.frequencies" [innerHtml]="frequency | translate | highlight : filters.searchText"></div></td>
            <td><span [innerHtml]="item.dateFrom"></span></td>
            <td><span [innerHtml]="item.size | highlight : filters.searchText"></span></td>
            <td><span [innerHtml]="item.created | stringToDate | highlight : filters.searchText"></span></td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="ajaxTable.data.length >0"
         class="w-half label-top"><span
      translate>common.label.total</span> {{data.length}}
      <span *ngIf="ajaxTable.data.length >1" translate>inventory.label.entriesFound</span>
      <span *ngIf="ajaxTable.data.length ==1" translate>inventory.label.entryFound</span>
    </div>
  </div>
</div>
