<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline">
            <div class="show-block">
              <div class="btn-group dropdown">
                <button class="btn btn-grey btn-sm m-l-12" data-toggle="dropdown"><span translate>label.sortBy</span>
                  <span class="text-primary">
                    <span *ngIf="processFilters.filter.sortBy =='name'">
                      {{'label.name' | translate}}
                      <i *ngIf="!processFilters.reverse" class="fa fa-caret-up"></i>
                      <i *ngIf="processFilters.reverse" class="fa fa-caret-down"></i>
                    </span>
                    <span *ngIf="processFilters.filter.sortBy =='path'">
                      {{'label.path' | translate}}
                      <i *ngIf="!processFilters.reverse" class="fa fa-caret-up"></i>
                      <i *ngIf="processFilters.reverse" class="fa fa-caret-down"></i>
                    </span>
                  </span>
                </button>
                <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                  <a (click)="sortBy('name')" class="dropdown-item" href translate>label.name</a>
                  <a (click)="sortBy('path')" class="dropdown-item" href translate>label.path</a>
                </div>
              </div>
              <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-link">
  <div class="row">
    <div class="col-md-8">
      <app-links></app-links>
    </div>
    <div class="col-md-4 text-right" *ngIf="pageView=='list' && processClasses.length>0">
      <button class="btn btn-sm btn-grey" (click)="expandDetails()">
        <i class="fa fa fa-caret-down"></i>&nbsp;
        <span translate>button.expandDetails</span>
      </button>
      <button class="btn btn-sm btn-grey m-l-12" (click)="collapseDetails()">
        <i class="fa fa fa-caret-up"></i>&nbsp;
        <span translate>button.collapseDetails</span>
      </button>
    </div>
  </div>
</div>
<div class="scroll-y max-ht2">
  <div class="padding p-b-0">
    <div class="row">
      <div class="col-sm-12">
        <div class="hide-block sidebar-btn resize-cursor">
          <i class="fa fa-angle-double-right p-l-sm" (click)="coreService.showLeftPanel()"></i>
        </div>
        <div appResizable id="leftPanel" class="sticky leftPanel resource">
          <div *ngIf="tree.length>0">
            <app-tree-nagivation [tree]="tree" (messageEvent)="receiveAction($event)"></app-tree-nagivation>
          </div>
        </div>
        <div id="rightPanel">
          <div class="hide" [ngClass]="{'show': isLoading}" [hidden]="loading">
            <div class="row" *ngIf="pageView=='grid'">
              <div class="w-full" *ngFor="let item of processClasses  | groupBy: 'path1'">
                <div class="col-sm-12" style="margin-bottom: 10px">
                  <span class="text inline"><i class="fa fa-folder-o"></i>&nbsp; {{item.key}}</span>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                     *ngFor="let processClass of item.value | orderBy: processFilters.filter.sortBy:processFilters.reverse">
                  <div class="box card">
                    <div class="box-body">
                      <div class="text-left block-ellipsis">
                        <span>
                          <i class="fa fa-stop text-sm text-orange"
                             [ngClass]="{'text-success': processClass.numOfProcesses>0 }"></i>
                          <span class="text" [innerHtml]="processClass.name"></span>
                        </span>
                      </div>
                      <div class="btn-group dropdown pull-right abt-dropdown">
                        <a href class=" more-option text-black-lt" data-toggle="dropdown"><i
                          class="text fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu dropdown-ac dropdown-more">
                          <a *ngIf="permission.ProcessClass.view.configuration"
                             (click)="showConfiguration('processClass',processClass.path,processClass.name)"
                             class="dropdown-item" translate>button.showConfiguration</a>
                          <a (click)="coreService.copyLink('processClass',processClass.path)" class="dropdown-item"
                             translate>button.copyLinkToObject</a>
                        </div>
                      </div>
                      <div class="text-sm  text-left text-muted p-t-sm">
                        <span class="text-black _600" [innerHtml]="processClass.maxProcesses"></span> {{'label.maxProcesses' | translate}}
                      </div>
                      <div class="text-sm  text-left text-muted p-t-xs">
                        <span *ngIf="!processClass.numOfProcesses" class="text-black _600">0</span>
                        <a (click)="showProcesses(processClass)" *ngIf="processClass.numOfProcesses>0"
                           class="text-hover-primary" [innerHtml]="processClass.numOfProcesses"></a>
                        {{'label.noOfProcesses' | translate}}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box p-a m-t-xs" *ngIf="pageView=='list' && processClasses.length>0">
              <div class="table-responsive">
                <table class="table table-hover table-bordered  ">
                  <thead>
                  <tr>
                    <th class="noExl" width="45"><span translate>label.action</span></th>
                    <th (click)="sortBy('name')"><a><span translate>label.name</span>&nbsp;
                      <i *ngIf="processFilters.filter.sortBy == 'name' && !processFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="processFilters.filter.sortBy == 'name' && processFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sortBy('path')"><a><span translate>label.path</span>&nbsp;
                      <i *ngIf="processFilters.filter.sortBy == 'path' && !processFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="processFilters.filter.sortBy == 'path' && processFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sortBy('maxProcesses')"><a><span translate>label.maxProcesses</span>&nbsp;
                      <i *ngIf="processFilters.filter.sortBy == 'maxProcesses' && !processFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="processFilters.filter.sortBy == 'maxProcesses' && processFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sortBy('numOfProcesses')"><a><span translate>label.noOfProcesses</span>&nbsp;
                      <i *ngIf="processFilters.filter.sortBy == 'numOfProcesses' && !processFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="processFilters.filter.sortBy == 'numOfProcesses' && processFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let processClass of processClasses | orderBy: processFilters.filter.sortBy:processFilters.reverse:'case-insensitive' | paginate: { itemsPerPage: preferences.entryPerPage  , currentPage: processFilters.currentPage }">
                  <tr>
                    <td>
                      <div appDropdown class="btn-group dropdown">
                        <button type="button" class="btn-drop more-option-h" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h"></i></button>
                        <div class="dropdown-menu dropdown-ac dropdown-more list-dropdown" role="menu">
                          <a *ngIf="permission.ProcessClass.view.configuration"
                             (click)="showConfiguration('processClass',processClass.path,processClass.name)"
                             class="dropdown-item"
                             translate>button.showConfiguration</a>
                          <a (click)="coreService.copyLink('processClass',processClass.path)"
                             class="dropdown-item"
                             translate>button.copyLinkToObject</a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <i class="cursor fa fa-caret-down noExl" *ngIf="!processClass.show"
                         (click)="showRunningProcesses(processClass)"></i>
                      <i class="cursor fa fa-caret-up noExl" *ngIf="processClass.show"
                         (click)="hideRunningProcesses(processClass)"></i>&nbsp;
                      <a class="text-hover-primary" [ngClass]="{'text-success': processClass.numOfProcesses>0 }"
                         [innerHtml]="processClass.name"></a>
                    </td>
                    <td [innerHtml]="processClass.path"></td>
                    <td [innerHtml]="processClass.maxProcesses"></td>
                    <td>
                      <a (click)="showProcesses(processClass)" *ngIf="processClass.numOfProcesses>0"
                         class="text-hover-primary" [innerHtml]="processClass.numOfProcesses"></a>
                      <span *ngIf="!processClass.numOfProcesses" [innerHtml]="processClass.numOfProcesses || 0"></span>
                    </td>
                  </tr>
                  <tr *ngIf="processClass.show && processClass.processes.length>0">
                    <td></td>
                    <td colspan="4" style="padding: 1px !important;">
                      <table class="table m-a-0">
                        <thead>
                        <tr>
                          <th width="45" translate>label.action</th>
                          <th translate>label.agent</th>
                          <th translate>label.job</th>
                          <th translate>label.pid</th>
                          <th translate>label.taskId</th>
                          <th translate>label.runningSince</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let process of processClass.processes">
                        <tr>
                          <td>
                            <div class="btn-group dropdown">
                              <button type="button" class="btn-drop more-option-h" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h"></i></button>
                              <div class="dropdown-menu dropdown-ac dropdown-more dropdown-menu-list" role="menu">
                                <a class="dropdown-item" *ngIf="permission.Job.view.taskLog"
                                   (click)="coreService.showLogWindow(null,process,process.job)" translate>button.viewLog</a>
                                <a class="dropdown-item" *ngIf="permission.Job.execute.endAllTasks"
                                   (click)="end(process,process.job)" translate>button.end</a>
                                <a class="dropdown-item bg-hover-color" *ngIf="permission.Job.execute.kill"
                                   (click)="killTask(process,process.job)" translate>button.killImmediately</a>
                                <a class="dropdown-item bg-hover-color"
                                   *ngIf="(selectedJobScheduler.os.name.toLowerCase() == 'linux' || selectedJobScheduler.os.name.toLowerCase() == 'unix') && permission.Job.execute.terminate"
                                   (click)="terminateTask(process,process.job)" translate>button.terminate</a>
                                <a class="dropdown-item bg-hover-color"
                                   *ngIf="(selectedJobScheduler.os.name.toLowerCase() == 'linux' || selectedJobScheduler.os.name.toLowerCase() == 'unix') && permission.Job.execute.terminate"
                                   (click)="terminateTaskWithTimeout(process,process.job)" translate>button.terminateWithTimeout</a>
                              </div>
                            </div>
                          </td>
                          <td>{{process.agent || '-'}}</td>
                          <td>{{process.job }}</td>
                          <td>{{process.pid}}</td>
                          <td>{{process.taskId}}</td>
                          <td>{{process.runningSince |stringToDate}} <span
                            class="text-success">(<span>{{process.runningSince}}</span>)</span></td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls class="pagination" (pageChange)="processFilters.currentPage = $event" previousLabel="{{'button.prev' | translate}}" nextLabel="{{'button.next' | translate}}" maxSize="5" responsive="true" autoHide="true"></pagination-controls>
                <div class="pull-left m-b" *ngIf="processClasses.length > 10">
                  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                       [(ngModel)]="preferences.entryPerPage">
                    <label ngbButtonLabel class="btn btn-default btn-sm"
                           [ngClass]="{'primary': preferences.entryPerPage=='10'}">
                      <input ngbButton type="radio" [value]="10"> 10
                    </label>
                    <label ngbButtonLabel class="btn btn-default btn-sm"
                           [ngClass]="{'primary': preferences.entryPerPage=='25'}">
                      <input ngbButton type="radio" [value]="25"> 25
                    </label>
                    <label ngbButtonLabel class="btn btn-default btn-sm"
                           [ngClass]="{'primary': preferences.entryPerPage=='50'}">
                      <input ngbButton type="radio" [value]="50"> 50
                    </label>
                    <label ngbButtonLabel class="btn btn-default btn-sm"
                           [ngClass]="{'primary': preferences.entryPerPage=='100'}">
                      <input ngbButton type="radio" [value]="100"> 100
                    </label>
                    <label ngbButtonLabel class="btn btn-default btn-sm"
                           [ngClass]="{'primary': preferences.entryPerPage== preferences.maxEntryPerPage}">
                      <input ngbButton type="radio"
                             [value]="preferences.maxEntryPerPage"> {{preferences.maxEntryPerPage}}
                    </label>
                  </div>
                </div>
                <div class="inline text-sm m-l-xs p-t-xxs" [ngClass]="{'m-t-xs m-l-sm': processClasses.length > 10}"
                     *ngIf="processClasses.length >0"><span translate>label.total</span> {{processClasses.length}}
                  <span translate *ngIf="processClasses.length >1">label.processClassesFound</span>
                  <span translate *ngIf="processClasses.length ==1">label.processClassFound</span>
                </div>
              </div>
            </div>
            <div *ngIf="isLoading && !loading && processClasses.length==0 && tree.length>0" class="text-center m-t h6">
              <span translate>message.noProcessClassesFound</span>
            </div>
          </div>
        </div>
        <div *ngIf="isLoading && tree.length==0 && !loading" class="text-center m-t h6 text-uppercase" translate>
          message.noProcessClassesFound
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="spinner" *ngIf="loading || !isLoading">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
