<div *ngFor="let variable of order[type]"
     class="plan-variables">
  <span class="btn-group dropdown"
        *ngIf="order.state && (order.state._text === 'PLANNED' || order.state._text === 'PENDING')">
    <button class="btn-drop more-option-h" nz-dropdown
            nzTrigger="click" [nzDropdownMenu]="export3"
            type="button">
      <i class="fa fa-ellipsis-h"></i>
    </button>
    <nz-dropdown-menu #export3="nzDropdownMenu" role="menu">
      <ul nz-menu>
        <li nz-menu-item>
          <a (click)="changeParameter(order, variable)"
             translate>dailyPlan.button.setParameter</a>
        </li>
        <li nz-menu-item>
          <a (click)="removeParameter(order, variable)"
             translate>dailyPlan.button.removeParameter</a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </span>
  <span>{{variable.name}} : {{variable.order}}</span>
</div>
<div class="p-l" *ngIf="order[type] && order[type].length === 0">
  <span translate>common.message.noDataAvailable</span>
</div>
<div class="p-l p-t-xs" *ngIf="!order[type]">
  <i class="fa fa-spin fa-spinner"></i>
  <span class="p-l-xs" translate>common.label.loading</span>
</div>
