<div class="form-group row">
  <label class="col-sm-{{sizeX}}" translate>common.label.selectComments</label>
  <div class="col-sm-8">
    <nz-radio-group name="radio" [(ngModel)]="comments.radio" (ngModelChange)="onChange($event)">
      <label nz-radio nzValue="predefined"><span translate>common.label.predefined</span></label>
      <label nz-radio nzValue="new"><span translate>common.label.individual</span></label>
    </nz-radio-group>
  </div>
</div>
<div class="form-group row" *ngIf="comments.radio=='predefined'">
  <label class="col-sm-{{sizeX}} form-control-label" translate>common.label.selectComment
    <sup *ngIf="required" class="text-danger text-sm">*</sup>
  </label>
  <div class="col-sm-{{sizeY}}">
    <app-select-input  [attributeName]="'comment'" [isRequired]="true" [placeholder]="'common.label.selectPredefinedReason'"
                      [listArray]="messageList" [name]="'comment'" [isAllowClear]="true"
                      [object]="comments"></app-select-input>
  </div>
</div>
<div *ngIf="comments.radio=='new'" [ngClass]="{'has-error' : ((textComment.dirty || textComment.touched) && textComment.invalid)}"
     class="form-group row">
  <label class="col-sm-{{sizeX}} " translate>common.label.comment
    <sup *ngIf="required" class="text-danger text-sm">*</sup>
  </label>
  <div class="col-sm-{{sizeY}}">
    <textarea rows="3" class="form-control" maxlength="2000" name="textComment" #textComment="ngModel"
              [required]="required"
              [(ngModel)]="comments.comment"
              placeholder="{{'common.placeholder.enterComment' | translate}}"
              rows="3"
    ></textarea>
    <div *ngIf="textComment.invalid && (textComment.dirty || textComment.touched)"
         class="text-danger help-block">
      <div *ngIf="textComment.errors && textComment.errors['required']" translate>
        common.message.requiredError
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-{{sizeX}} form-control-label" translate>common.label.timeSpend</label>
  <div class="col-sm-{{sizeY}}">
    <nz-input-number [nzPlaceHolder]="'common.placeholder.timeSpend' | translate" [nzMin]="0" [nzStep]="1" [(ngModel)]="comments.timeSpent"></nz-input-number>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-{{sizeX}} form-control-label" translate>common.label.ticketLink</label>
  <div class="col-sm-{{sizeY}}">
    <input type="text" class="form-control" name="ticketLink" placeholder="{{'common.placeholder.ticketLink' | translate}}"
           [(ngModel)]="comments.ticketLink">
  </div>
</div>
<div *ngIf="router.url.match('/users/') || router.url.match('/settings')" class="form-group row">
  <label class="col-sm-{{sizeX}}" translate>user.label.reuseReason</label>
  <div class="col-sm-{{sizeY}}">
    <label nz-checkbox [(ngModel)]="comments.isChecked"
           name="reuseReason"></label>
  </div>
</div>
