<div class="scroll-y">
  <div class="padding p-b-0">
    <div class="inline w-full" [hidden]="isLoading">
      <div appResizable id="leftSidePanel" class="sticky leftPanel editor">
        <div class="editor-tree white">
          <div class="row" *ngIf="tree.length > 0">
            <div class="col-12">
              <a class="text" (click)="expandAll();" placement="bottom" ngbTooltip="{{'tooltip.expandAll' | translate}}">
                <i class="fa fa-angle-double-down fa-lg"></i>
              </a>
              <a class="text m-l-xs" (click)="collapseAll();" placement="bottom" ngbTooltip="{{'tooltip.collapseAll' | translate}}">
                <i class="fa fa-angle-double-up fa-lg"></i>
              </a>
            </div>
          </div>
          <div class="tree-block">
            <tree-root #treeCtrl [nodes]="tree" (activate)="onNodeSelected($event)" (toggleExpanded)="toggleExpanded($event)">
              <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                <div class="node-wrapper">
                  <span *ngIf="node.hasChildren"
                        [class.toggle-children-wrapper-expanded]="node.isExpanded"
                        [class.toggle-children-wrapper-collapsed]="node.isCollapsed"
                        (click)="node.mouseAction('expanderClick', $event)" class="w-15 cursor">
                    <span *ngIf="node.isCollapsed" class="fa fa-angle-right fa-lg p-r-10"></span>
                    <span *ngIf="node.isExpanded" class="fa fa-angle-down fa-lg p-r-10"></span>
                  </span>
                  <span *ngIf="!node.hasChildren && !node.data.type" class="fa fa-caret-right fa-lg w-15 m-t-xs"></span>
                  <span *ngIf="node.data.type == 'workflow'" class="icon-workflows-icon tree-icon"></span>
                  <span *ngIf="node.data.type == 'order'" class="icon-orders-icon tree-icon"></span>
                  <span *ngIf="node.data.type == 'lock'" class="icon-lock-icon tree-icon"></span>
                  <span *ngIf="node.data.type == 'processClass'" class="icon-process-class-icon tree-icon"></span>
                  <span *ngIf="node.data.type == 'calendar'" class="icon-calendar-icon tree-icon"></span>
                  <div class="node-content-wrapper"
                       [class.node-content-wrapper-active]="node.data.isSelected"
                       (click)="node.mouseAction('click', $event)">
                    <i *ngIf="node.isExpanded && !node.data.object && !node.data.type" class="fa fa-folder-open-o w-18"></i>
                    <i *ngIf="node.isCollapsed && !node.data.object && !node.data.type" class="fa fa-folder-o w-18"></i>
                    <i *ngIf="node.data.object == 'workflow'" class="icon-workflows-icon tree-icon"></i>
                    <i *ngIf="node.data.object == 'order'" class="icon-orders-icon tree-icon"></i>
                    <i *ngIf="node.data.object == 'lock'" class="icon-lock-icon tree-icon"></i>
                    <i *ngIf="node.data.object == 'processClass'" class="icon-process-class-icon tree-icon"></i>
                    <i *ngIf="node.data.object == 'calendar'" class="icon-calendar-icon tree-icon"></i>
                    <tree-node-content [node]="node" [index]="index"></tree-node-content>
                  </div>
                </div>
              </ng-template>
            </tree-root>
          </div>
          <div class="rg-right bg-white"><span></span></div>
        </div>
      </div>
      <div id="centerPanel" class="centerPanel">
        <div *ngIf="type == 'workflow'" >
          <app-workflow-template [preferences]="preferences" [schedulerId]="schedulerIds.selected" [selectedPath]="selectedPath"></app-workflow-template>
        </div>
        <div *ngIf="type == 'order'">
          <app-order-template [preferences]="preferences" [schedulerId]="schedulerIds.selected"></app-order-template>
        </div>
        <div *ngIf="type == 'lock'">
          <app-lock-template [schedulerId]="schedulerIds.selected"></app-lock-template>
        </div>
        <div *ngIf="type == 'processClass'">
          <app-process-class-template [schedulerId]="schedulerIds.selected"></app-process-class-template>
        </div>
        <div *ngIf="type == 'calendar'">
          <app-calendar-template [schedulerId]="schedulerIds.selected" [preferences]="preferences"></app-calendar-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
