<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline">
            <button class="btn btn-sm btn-grey m-l-12" (click)="deployDraft()">
              <i class="fa fa-rocket"></i>&nbsp;
              <span translate>workflow.button.deploy</span>
            </button>
            <button class="btn btn-sm btn-grey m-l-12" (click)="setVersion()">
              <i class="fa fa-code-fork"></i>&nbsp;
              <span translate>workflow.button.setVersion</span>
            </button>
            <button class="btn btn-sm btn-grey m-l-12" (click)="export()">
              <i class="fa fa-download"></i>&nbsp;
              <span translate>button.export</span>
            </button>
            <button class="btn btn-sm btn-grey m-l-12" (click)="import()">
              <i class="fa fa-upload"></i>&nbsp;
              <span translate>button.import</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-link">
  <div class="row">
    <div class="col-md-8">
      <div>
        <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border2 b-primary">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/configuration/inventory']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.inventory</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator">
            <span class="separator"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/configuration/yade']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.yade</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator">
            <span class="separator"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/configuration/notification']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.notification</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator">
            <span class="separator"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/configuration/other']" [routerLinkActive]="['active']">
              <span class="nav-text text-dark p-b-sm"><span translate>configuration.tab.others</span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="scroll-y max-ht2">
  <div class="padding p-b-0">
    <div class="inline w-full" [hidden]="isLoading">
      <div appResizable id="leftSidePanel" class="sticky leftPanel editor">
        <div class="editor-tree">
          <a class="text resize-cursor a-1" style="position: absolute; right: 28px;">
            <i class="fa fa-angle-double-left fa-lg" (click)="coreService.hideConfigPanel()"></i>
          </a>
          <a class="text resize-cursor a-3" style="position: absolute; right: 18px;">
            <i class="fa fa-angle-double-right fa-lg" (click)="coreService.showConfigPanel()"></i>
          </a>
          <div class="tree-block">
            <nz-tree
              [nzShowExpand]="false"
              [nzData]="tree"
              [nzTreeTemplate]="nzTreeTemplate"
            ></nz-tree>
            <ng-template #nzTreeTemplate let-node>
              <div class="node-wrapper" [ngClass]="{'disable-link' : node.origin.deleted}">
                <span *ngIf="node.children && node.children.length>0"
                      [class.toggle-children-wrapper-expanded]="node.isExpanded"
                      [class.toggle-children-wrapper-collapsed]="!node.isExpanded"
                      (click)="openFolder(node)" class="cursor w-14">
                  <span *ngIf="!node.isExpanded" class="fa fa-angle-right fa-lg p-r-10"></span>
                  <span *ngIf="node.isExpanded" class="fa fa-angle-down fa-lg p-r-10"></span>
                </span>
                <span *ngIf="(!node.children || node.children.length === 0) && !node.origin.type" class="w-14">
                  <span class="fa fa-lg p-r-sm"></span>
                </span>
                <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" type="button">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu" >
                  <ul nz-menu>
                    <li nz-menu-item *ngIf="node.origin.type && permission.JobschedulerMaster.administration"><a (click)="copy(node, this)" translate>button.copy</a></li>
                    <li nz-menu-item *ngIf="node.origin.object && permission.JobschedulerMaster.administration"><a (click)="paste(node, this)" translate>button.paste</a></li>
                    <li nz-menu-divider *ngIf="node.type && permission.JobschedulerMaster.administration"></li>
                    <li nz-submenu [nzTitle]="'workflow.button.new' | translate" *ngIf="!node.origin.object && !node.origin.type">
                      <ul>
                        <li nz-menu-item *ngIf="!node.origin.configuration" ><a (click)="createFolder(node);" translate>workflow.button.newFolder</a></li>
                        <li nz-menu-item><a (click)="newObject(node, 'WORKFLOW')" translate>workflow.button.newWorkflow</a></li>
                        <li nz-menu-item><a (click)="newObject(node, 'JUNCTION')" translate>workflow.button.newJunction</a></li>
                        <li nz-menu-item><a (click)="newObject(node, 'JOBCLASS')" translate>workflow.button.newJobClass</a></li>
                        <li nz-menu-item><a (click)="newObject(node, 'AGENTCLUSTER')" translate>workflow.button.newAgentCluster</a></li>
                        <li nz-menu-item><a (click)="newObject(node, 'LOCK')" translate>workflow.button.newLock</a></li>
                        <li nz-menu-item><a (click)="newObject(node, 'CALENDAR')" translate>workflow.button.newCalendar</a></li>
                      </ul>
                    </li>
                    <li nz-menu-item *ngIf="(!node.origin.object && !node.origin.type && !node.origin.configuration)"
                        [nzDisabled]="node.origin.deployed && !node.origin.object">
                      <a (click)="deployObject(node);" translate>workflow.button.deploy</a></li>
                    <li nz-menu-item *ngIf="(!node.origin.object && !node.origin.deleted && !node.origin.configuration) && permission.JobschedulerMaster.administration" [nzDisabled]="(!node.origin.type && !node.origin.object && node.origin.path === '/')">
                      <a (click)="removeObject(node, this);" translate>button.delete</a></li>
                    <li nz-menu-item *ngIf="node.origin.type && permission.JobschedulerMaster.administration" [nzDisabled]="node.origin.deployed">
                      <a (click)="removeDraft(node, this);" translate>Delete Draft</a></li>
                    <li nz-menu-item *ngIf="!node.origin.object && node.origin.deleted && permission.JobschedulerMaster.administration"><a (click)="restoreObject(node, this);" translate>button.undelete</a></li>
                  </ul>
                </nz-dropdown-menu>
                <div class="node-content-wrapper" [ngClass]="{'node-content-wrapper-active' : node.origin.name === selectedObj.name && (node.origin.type === selectedObj.type || node.origin.object === selectedObj.type) && (node.origin.path === selectedObj.path || node.origin.parent === selectedObj.path) && (!selectedObj.parent || selectedObj.parent === node.parentNode.origin.name)
              , 'text-muted':node.origin.deleted}" (click)="selectNode(node)">
                  <i *ngIf="node.children && !node.origin.object && !node.origin.type && !node.origin.configuration" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14"></i>
                  <i *ngIf="node.origin.configuration" class="icon-configuration-icon tree-icon"></i>
                  <i *ngIf="node.origin.object == 'WORKFLOW'" nz-icon nzType="apartment" class="icon-color" nzTheme="outline"></i>
                  <i *ngIf="node.origin.object == 'JOBCLASS'" nz-icon nzType="profile" class="icon-color" nzTheme="outline"></i>
                  <i *ngIf="node.origin.object == 'JUNCTION'" nz-icon nzType="gateway" class="icon-color" nzTheme="outline"></i>
                  <i *ngIf="node.origin.object == 'ORDER'" nz-icon nzType="unordered-list" class="icon-color" nzTheme="outline"></i>
                  <i *ngIf="node.origin.object == 'LOCK'" nz-icon nzType="lock" class="icon-color" nzTheme="outline"></i>
                  <i *ngIf="node.origin.object == 'AGENTCLUSTER'" nz-icon nzType="user" class="icon-color" nzTheme="outline"></i>
                  <i *ngIf="node.origin.object == 'CALENDAR'" nz-icon nzType="calendar" class="icon-color" nzTheme="outline"></i>
                  <span *ngIf="node.origin.type" class="fa fa-circle-o text-xs w-11" style="margin-top: 4px"></span>
                  <span class="p-l-xs">
                    <span *ngIf="node.origin.object">{{node.origin.name | translate}}</span>
                    <span *ngIf="!node.origin.object">{{node.origin.name || node.origin.path}}</span>
                    <i *ngIf="node.origin.deleted">({{'joe.label.deleted' | translate}})</i>
                    <i *ngIf="node.origin.title"> - </i>
                    <span class="text-muted">{{node.origin.title}}</span>
                  </span>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="rg-right"><span></span></div>
        </div>
      </div>
      <div id="centerPanel" class="centerPanel">
        <div *ngIf="type == 'WORKFLOW'" >
          <app-workflow [preferences]="preferences" [schedulerId]="schedulerIds.selected" [selectedPath]="selectedPath"></app-workflow>
        </div>
        <div *ngIf="type == 'ORDER'">
          <app-order [preferences]="preferences" [schedulerId]="schedulerIds.selected"></app-order>
        </div>
        <div *ngIf="type == 'JOBCLASS'">
          <app-job-class [schedulerId]="schedulerIds.selected"></app-job-class>
        </div>
        <div *ngIf="type == 'JUNCTION'">
          <app-junction [schedulerId]="schedulerIds.selected"></app-junction>
        </div>
        <div *ngIf="type == 'LOCK'">
          <app-lock [schedulerId]="schedulerIds.selected"></app-lock>
        </div>
        <div *ngIf="type == 'AGENTCLUSTER'">
          <app-process-class [schedulerId]="schedulerIds.selected"></app-process-class>
        </div>
        <div *ngIf="type == 'CALENDAR'">
          <app-calendar [schedulerId]="schedulerIds.selected" [preferences]="preferences"></app-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
