.graph-container{
   margin-left: 60px;
}
#graph {
  position: relative;
  overflow: hidden;
  cursor: default;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06) ;
  height: calc(100vh - 196px) ;
}

#toolbar {
  width: 44px;
  box-shadow: 0 0 3px #bbb;
  padding: 10px;
  position: absolute;
}
#outlineContainer{
  z-index:9;
  position:absolute;
  overflow:hidden;
  top:0;
  right:10px;
  width:170px;
  height:150px;
}
