.graph-container{
   margin-left: 66px;
}
#graph {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  cursor: default;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06) ;
  height: calc(100vh - 156px) ;
}

#toolbar {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 52px;
  position: absolute;
}
#outlineContainer{
  z-index:9;
  position:absolute;
  overflow:hidden;
  top:0;
  right:10px;
  width:170px;
  height:150px;
}
