/**Add light color css**/
.backup {
    background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.51), rgb(44, 62, 80)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.51),rgba(44, 62, 80,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.51),rgba(44, 62, 80,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255, 255, 255, 0.51), rgba(44, 62, 80,1)); /*Standard*/
}
