@media (max-width: 33.9em) {
    .dropdown-menu.pull-none-xs {
        left: 0;
    }

    .row-col-xs {
        display: block;
    }

    .row-col-xs .row-body {
        overflow: visible !important;
    }

    .row-col-xs .row-inner {
        position: static;
    }

    .pull-none-xs {
        float: none !important;
    }

    .w-auto-xs {
        width: auto;
    }

    .w-full-xs {
        width: 100%;
    }

    .pos-stc-xs {
        position: static !important;
    }

}

@media (min-width: 34em) {
    .row-col > [class*="col-sm"],
    .row-col > [class*=" col-sm"] {
        display: table-cell;
        height: 100%;
    }
}

.row-col > [class*="col-xs"],
.row-col > [class*=" col-xs"] {
    display: table-cell;
    height: 100%;
}

@media (max-width: 47.9em) {
    .padding {
        padding: 8px 8px;
    }

    .padding-out {
        margin: -8px -8px;
    }

    .margin {
        margin-bottom: 8px;
    }

    .box,
    .box-color {
        margin-bottom: 8px;
    }

    .no-padding-xs {
        padding: 0;
    }

    .w-auto-sm {
        width: auto;
    }

    .w-full-sm {
        width: 100%;
    }

    .pull-none-sm {
        float: none !important;
    }

    .row {
        margin-left: -4px;
        margin-right: -4px;
    }

    .row [class*="col-"] {
        padding-left: 4px;
        padding-right: 4px;
    }

    .pos-stc-sm {
        position: static !important;
    }


}

@media (min-width: 48em) {
    .row-col > [class*="col-md"],
    .row-col > [class*=" col-md"] {
        display: table-cell;
        height: 100%;
    }
}

@media (max-width: 61.9em) {
    .padding {
        padding: 16px 16px;
    }
    .padding-out {
        margin: -16px -16px;
    }

    .margin {
        margin-bottom: 16px;
    }

    .box,
    .box-color {
        margin-bottom: 16px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .row [class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }

    .row-2 [class*="col"] {
        width: 50%;
        float: left;
    }

    .row-2 .col-0 {
        clear: none;
    }

    .row-2 li:nth-child(odd) {
        clear: left;
        margin-left: 0;
    }

    .app-aside.modal {
        width: 100%;
        position: fixed;
        z-index: 1050;
    }

    .app-aside .left {
        position: fixed;
        width: 304px;
    }

    body.container,
    .app .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .hidden-dropdown{
         display: inline-block;
    }
    .hidden-btn-group{
        display: none;
    }
    ul.b-orange li:first-child{
        padding-left: 8px;
    }

    input[type="search"] {
        width: 100%;
        border: 1px solid transparent;
        box-shadow: none;
        background: #3e5269 url("../images/Search.png") no-repeat 10px 8px;
        color: #fff;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        margin: 8px 10px -8px 10px;
        padding: 6px 17px 6px 31px;
    }
    input[type="search"]:focus {
        width: 100%;
    }
}

@media (min-width: 62em) {
    body.container {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    body.container,
    body.container .container {
        padding-left: 0;
        padding-right: 0;
    }

    body.container .app-header {
        left: inherit;
        right: auto;
        margin-left: 0;
        width: 60rem;
    }

    .row-col > [class*="col-lg"],
    .row-col > [class*=" col-lg"] {
        display: table-cell;
        height: 100%;
    }
    .hide-scroll {
        width: auto;
        margin-right: -17px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

}


@media (max-width: 767px) {
    .no-bg-xs {
        background-color: transparent;
    }

    .no-border-xs {
        border-width: 0;
    }

    .card-width{
        width: 95%;
    }
}

@media (max-width: 991px) {
    .no-border-sm {
        border-width: 0;
    }
}
