<div style="box-shadow: 0 0 8px rgba(0,0,0,0.18)">
<div id="tree-modal" class="modal-body p-a" style="min-height: 350px;">
  <a class="text" (click)="expandAll();"
     [nz-tooltip]="'common.tooltip.expandAll' | translate">
    <i class="fa fa-angle-double-down fa-sm"></i>
  </a>
  <a class="text m-l-xs" (click)="collapseAll();"
     [nz-tooltip]="'common.tooltip.collapseAll' | translate">
    <i class="fa fa-angle-double-up fa-sm"></i>
  </a>
  <div class="tree-content m-t-sm">
    <nz-tree
      nzNoAnimation
      [nzExpandAll]="isExpandAll"
      [nzData]="tree"
      [nzTreeTemplate]="nzTreeTemplate"
    ></nz-tree>
    <ng-template #nzTreeTemplate let-node>
        <div class="node-wrapper">
          <label class="md-check" *ngIf="showCheckBox" style="margin-right: 6px">
            <input type="checkbox" name="{{node.key}}" [(ngModel)]="node.origin.isChecked" (click)="handleCheckbox(node.origin)"/>
            <i class="primary"></i>
          </label>
          <div class="node-content-wrapper"
               (click)="selectNode(node)">
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14"></i>
            {{node.origin.name || node.origin.path}}
          </div>
        </div>
        <div class="m-l-md m-b-xs" style="padding-left: 21px" *ngFor="let cal of node.origin.calendars">
          <label class="md-check" style="top:2px">
            <input type="checkbox" name="'chk-'+ {{cal.id}}" [(ngModel)]="cal.isChecked" (click)="handleCheckbox(cal)" />
            <i class="primary"></i>
          </label>
          <span style="margin-top: 4px" class="p-l-sm"><i class="fa fa-calendar text-sm">&nbsp;</i>{{cal.name}}</span>
        </div>
      </ng-template>
  </div>
</div>
<div class="modal-footer ">
  <div *ngIf="showCheckBox || object">
    <button type="button" class="btn btn-primary btn-sm"  (click)="submit()"
            translate>common.button.done
    </button>
    <button type="button" class="btn btn-grey btn-sm m-l-sm" (click)="activeModal.dismiss('Cross click')"
            translate>
      common.button.cancel
    </button>
  </div>
  <div *ngIf="!showCheckBox && !object">
    <button type="button" class="btn btn-grey btn-sm " (click)="activeModal.dismiss('Cross click')"
            translate>
      common.button.close
    </button>
  </div>
</div>
</div>
