<div id="tree-modal" class="modal-body p-a" style="min-height: 350px;">
  <a class="text" (click)="expandAll();"
     [nz-tooltip]="'tooltip.expandAll' | translate">
    <i class="fa fa-angle-double-down fa-sm"></i>
  </a>
  <a class="text m-l-xs" (click)="collapseAll();"
     [nz-tooltip]="'tooltip.collapseAll' | translate">
    <i class="fa fa-angle-double-up fa-sm"></i>
  </a>
  <div class="tree-content">
    <nz-tree
      [nzExpandAll]="isExpandAll"
      [nzData]="tree"
      [nzTreeTemplate]="nzTreeTemplate"
    ></nz-tree>
    <ng-template #nzTreeTemplate let-node>
        <div class="node-wrapper">
          <label class="md-check" *ngIf="showCheckBox" style="margin-right: 6px">
            <input type="checkbox" [(checklist)]="paths" [checklistValue]="node.origin.path" />
            <i class="primary"></i>
          </label>
          <div class="node-content-wrapper"
               (click)="selectNode(node)">
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14"></i>
            {{node.origin.name || node.origin.path}}
            <i *ngIf="node.origin.title"> - </i>
            <span class="text-muted">{{node.origin.title}}</span>
          </div>
        </div>
        <div class="m-l p-l-xs p-t-xs m-b-xs" *ngFor="let cal of node.origin.calendars">
          <label class="md-check" style="margin-right: 6px">
            <input type="checkbox" [(checklist)]="objects" [checklistValue]="cal" />
            <i class="primary"></i> <span class="fa fa-calendar text-sm">&nbsp;{{cal.name}}</span>
          </label>
        </div>
      </ng-template>
  </div>
</div>
<div class="modal-footer ">
  <div *ngIf="showCheckBox || object">
    <button type="button" class="btn btn-primary btn-sm"  (click)="submit()"
            translate>button.done
    </button>
    <button type="button" class="btn btn-grey btn-sm m-l-sm" (click)="activeModal.dismiss('Cross click')"
            translate>
      button.cancel
    </button>
  </div>
  <div *ngIf="!showCheckBox && !object">
    <button type="button" class="btn btn-grey btn-sm " (click)="activeModal.dismiss('Cross click')"
            translate>
      button.close
    </button>
  </div>
</div>
