<div class="box-shadow-on-modal">
  <div class="modal-body p-a min-ht-350" id="tree-modal">
    <div class="search-box-field ">
      <label>
        <input (input)="onSearchInput($event.target['value'])" [value]="obj.name"
               class="input-tree-search "
               placeholder="{{'common.placeholder.search' | translate}}" type="search"/>
      </label>
    </div>

    <div *ngIf="tree.length > 0" class="tree-content m-t-sm">
      <nz-tree
        [nzData]="tree"
        [nzExpandAll]="isExpandAll"
        [nzTreeTemplate]="nzTreeTemplate"
        nzNoAnimation
      ></nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <label (ngModelChange)="handleCheckbox(node.origin)" *ngIf="showCheckBox" [(ngModel)]="node.origin.isChecked" class="p-r-sm" name="{{node.key}}"
               nz-checkbox></label>
        <div class="node-wrapper">
          <div (click)="selectNode(node)"
               class="node-content-wrapper">
            <i [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="w-14" nz-icon></i>
            {{node.origin.name || node.origin.path}}
          </div>
        </div>
        <div *ngFor="let cal of node.origin.calendars" class="m-b-xs m-l-22">
          <label (ngModelChange)="handleCheckbox(cal)" [(ngModel)]="cal.isChecked" name="'chk-'+ {{cal.id}}"
                 nz-checkbox></label>
          <span class="p-l-sm m-t-xs"><i class="fa fa-calendar text-sm">&nbsp;</i>{{cal.name}}</span>
        </div>
      </ng-template>
    </div>
    <div *ngIf="tree.length === 0 && loading" class="m-t-lg">
      <app-empty-data></app-empty-data>
    </div>
    <div *ngIf="!loading" class="m-t-lg text-center">
      <nz-spin [nzSize]="'small'" nzSimple></nz-spin>
    </div>
  </div>
  <div class="modal-footer ">
    <div *ngIf="showCheckBox ||  object">
      <button (click)="submit()" class="btn btn-primary btn-sm" translate
              type="button">common.button.done
      </button>
      <button (click)="activeModal.destroy()" class="btn btn-grey btn-sm m-l-sm" translate
              type="button">
        common.button.cancel
      </button>
    </div>
    <div *ngIf="!showCheckBox && !object">
      <button (click)="activeModal.destroy()" class="btn btn-grey btn-sm " translate
              type="button">
        common.button.close
      </button>
    </div>
  </div>
</div>
