<!-- Admin Sub Header Starts -->
<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
              <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline" *ngIf="permission.joc && permission.joc.administration.accounts.manage">
            <!-- Sorting via Account Name Starts -->
            <div class="btn-group dropdown" *ngIf="!isSelected && route && identityServiceType !== 'VAULT' && identityServiceType !== 'LDAP' && route.match('/users/identity_service/role')">
              <button class="btn btn-grey btn-sm m-l-12 "
                nz-dropdown nzTrigger="click" [nzDropdownMenu]="account" [nzPlacement]="'bottomRight'">{{'user.label.user' | translate}}
                <span class="text-primary">{{selectedUser | decodeSpace}} </span>
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #account="nzDropdownMenu" >
                <ul nz-menu >
                  <li nz-menu-item (click)="selectUser(account.account)" [ngClass]="{orange: selectedUser === account.account}" *ngFor="let account of userObj.accounts | orderBy: 'name'">
                    <a>
                      <span>{{account.account | decodeSpace}}</span>
                      <i (click)="selectUser(null);$event.stopPropagation();" *ngIf="selectedUser === account.account"
                        class="fa fa-times-circle-o remove"></i>
                    </a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <!-- Sorting via Account Name Ends -->
            <button *ngIf="route === '/users' || route === '/users/identity_service'" class="btn btn-grey btn-sm m-l-12" (click)="manageSetting()">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.manageGeneralSetting</span>
            </button>
            <button *ngIf="route === '/users' || route === '/users/identity_service'" class="btn btn-grey btn-sm m-l-12" (click)="addAccount()">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.addIdentityService</span>
            </button>
            <button *ngIf="!isSelected && isPaste && (route.match('/users/identity_service/account') || route.match('/users/identity_service/role'))" class="btn btn-grey btn-sm m-l-12" (click)="pasteList()">
              <i class="fa fa-paste"></i>&nbsp;
              <span translate>common.button.paste</span>
            </button>
            <button *ngIf="!isSelected && route.match('/users/identity_service/account')" class="btn btn-grey btn-sm m-l-12" (click)="addAccount()">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.addUser</span>
            </button>
            <button *ngIf="isSelected && (route.match('/users/identity_service/account') || route.match('/users/identity_service/role'))" class="btn btn-grey btn-sm m-l-12" (click)="copyList()">
              <i class="fa fa-copy"></i>&nbsp;
              <span translate>common.button.copy</span>
            </button>
            <button *ngIf="isSelected && (identityServiceType === 'JOC' || identityServiceType === 'VAULT-JOC-ACTIVE') && (route.match('/users/identity_service/account'))" class="btn btn-grey btn-sm m-l-12" (click)="resetPassword()">
              <i class="fa fa-refresh"></i>&nbsp;
              <span translate>user.button.resetPassword</span>
            </button>
            <button *ngIf="isSelected && (identityServiceType === 'JOC' || identityServiceType === 'VAULT-JOC-ACTIVE') && (route.match('/users/identity_service/account'))" class="btn btn-grey btn-sm m-l-12" (click)="forcePasswordChange()">
              <i class="fa fa-key"></i>&nbsp;
              <span translate>user.button.forcePasswordChange</span>
            </button>
            <button *ngIf="isSelected && identityServiceType && identityServiceType.match('JOC') && (route.match('/users/identity_service/account'))" class="btn btn-grey btn-sm m-l-12" (click)="disableList()">
              <i class="fa fa-ban"></i>&nbsp;
              <span translate>user.button.disable</span>
            </button>
            <button *ngIf="isSelected && route && (route.match('/users/identity_service/account') || route.match('/users/identity_service/role'))" class="btn btn-grey btn-sm m-l-12" (click)="deleteList()">
              <i class="fa fa-trash"></i>&nbsp;
              <span translate>user.button.delete</span>
            </button>
            <button *ngIf="!isSelected && route && route.match('/users/identity_service/role')" class="btn btn-grey btn-sm m-l-12" (click)="addController()">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.addController</span>
            </button>
            <button *ngIf="!isSelected && route && route.match('/users/identity_service/role')" class="btn btn-grey btn-sm m-l-12" (click)="addRole()">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.addRole</span>
            </button>
            <button *ngIf="route === '/users/identity_service/main_section'" type="button" [disabled]="!isLdapRealmEnable"
                    (click)="addLdapRealm()"
                    class="btn btn-sm btn-grey m-l-12">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.addLdapRealm</span>
            </button>
            <button *ngIf="route === '/users/identity_service/main_section'" type="button" [disabled]="!isJOCClusterEnable"
                    (click)="enableJOCCluster()"
                    class="btn btn-sm btn-grey m-l-12">
              <i class="fa fa-toggle-on"></i>&nbsp;
              <span translate>user.button.enableJOCCluster</span>
            </button>
            <button *ngIf="route === '/users/identity_service/main_section'" type="button" class="btn btn-sm btn-grey m-l-12"
                    (click)="editMainSection()">
              <i class="fa fa-pencil"></i>&nbsp;
              <span translate>user.button.updateSection</span>
            </button>
            <button *ngIf="route === '/users/identity_service/main_section'" type="button" class="btn btn-sm btn-grey m-l-12"
                    (click)="addMainSection()">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>user.button.addEntry</span>
            </button>
            <button *ngIf="route === '/users/identity_service/profiles' && isButtonShow" type="button" class="btn btn-sm btn-grey m-l-12"
                    (click)="resetProfiles()">
              <i class="fa fa-refresh"></i>&nbsp;
              <span translate>user.button.resetProfile</span>
            </button>
            <button type="button" class="btn btn-sm btn-grey m-l-12" *ngIf="route && route.match('/users/identity_service/permissions')"
                    (click)="addFolder()">
              <i class="fa fa-plus"></i>
              {{'user.button.addFolder' | translate}}
            </button>
            <button type="button" class="btn btn-sm btn-grey m-l-12" *ngIf="route && route.match('/users/identity_service/permissions')"
                    [hidden]="pageView=='grid'" (click)="addPermission();">
              <i class="fa fa-plus"></i>&nbsp;
              {{'user.button.addPermission' | translate}}
            </button>
            <div class="hide" [ngClass]="{'show-block': route && route.match('/users/identity_service/permissions')}">
              <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
            </div>
          </div>
          <div class="inline" *ngIf="permission.joc && !permission.joc.administration.accounts.manage">
            <div class="hide" [ngClass]="{'show-block': route && route.match('/users/identity_service/permissions')}">
              <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Admin Sub Header Ends -->
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row m-b m-t-xs" *ngIf="route !== '/users' && route !== '/users/identity_service'">
      <div class="col-md-12">
        <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border2 b-primary">
          <li class="nav-item">
            <a class="nav-link" routerLink="identity_service/role" routerLinkActive="active">
              <span class="nav-text text-dark p-b-sm"><span class="text" translate>user.label.manageRoles</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator" *ngIf="identityServiceType !== 'VAULT' && identityServiceType !== 'LDAP'">
            <span class="separator"></span>
          </li>
          <li class="nav-item" *ngIf="identityServiceType !== 'VAULT' && identityServiceType !== 'LDAP'">
            <a class="nav-link" routerLink="identity_service/account" routerLinkActive="active">
              <span class="nav-text text-dark p-b-sm"><span class="text" translate>user.label.users</span></span>
             </a>
          </li>
          <li class="nav-item dropdown-separator" *ngIf="identityServiceType === 'SHIRO'">
            <span class="separator"></span>
          </li>
          <li class="nav-item" *ngIf="identityServiceType === 'SHIRO'">
            <a class="nav-link" routerLink="identity_service/main_section" routerLinkActive="active">
              <span class="nav-text text-dark p-b-sm"><span class="text" translate>user.label.mainSetting</span></span>
            </a>
          </li>
          <li class="nav-item dropdown-separator">
            <span class="separator"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="identity_service/profiles" routerLinkActive="active">
              <span class="nav-text text-dark p-b-sm"><span class="text" translate>user.label.profiles</span></span>
            </a>
          </li>
        </ul>
        <div *ngIf="route.match('/users/identity_service/account')" class="inline pull-right search-box-field admin-search-bar">
          <label>
            <input type="search" #input (keyup)="searchBar(input.value)"
                   placeholder="{{'common.placeholder.search' | translate}}" [(ngModel)]="filter.searchKey">
            <i *ngIf="filter.searchKey" class="fa fa-times search-close" (click)="filter.searchKey = '';searchBar('')"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="row m-t-sm">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
