<div class="row" >
  <div class="col-md-12" *ngIf="data.type">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span class="text-left">
          <a (click)="backToListView()"><i nz-tooltip="{{'inventory.button.backToList' | translate}}" class="fa fa-arrow-circle-left config-back-btn"></i></a>
          <span class="_600">{{data.path}}<span *ngIf="data.path !=='/'">/</span>{{data.name}}</span>
        </span>
        <div class="inline pull-right" *ngIf="!isTrash">
          <span class="badge m-r-12" *ngIf="fileOrder.configuration" [ngClass]="!fileOrder.valid ? 'badge-danger':'badge-success'">
            <span *ngIf="fileOrder.valid" translate>inventory.label.valid</span>
            <span *ngIf="!fileOrder.valid">
              <span translate>inventory.label.notValid</span>
              <i nz-tooltip="{{invalidMsg | translate}}" class="fa fa-info-circle p-l-xs"></i>
            </span>
          </span>
          <span class="badge" [ngClass]="!data.deployed ? 'badge-danger':'badge-success'">
            <span *ngIf="!data.deployed" translate>inventory.label.notDeployed</span>
            <span *ngIf="data.deployed" translate>inventory.label.deployed</span>
          </span>
          <button *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy)" type="button" [disabled]="!fileOrder.valid && !fileOrder.hasDeployments" class="btn btn-sm btn-grey m-l-12 m-t-n-xs" (click)="deploy()" >
            <i class="fa fa-rocket p-r-xs"></i>
            <span translate>inventory.button.deploy</span>
          </button>
        </div>
      </div>
      <form *ngIf="fileOrder.configuration">
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.name' | translate) : ''" [nzTooltipMouseEnterDelay]="0.5"
                 translate>common.label.name</label>
          <div class="col-md-8 col-lg-6"
               [ngClass]="{ 'has-error' : (((name.dirty || name.touched) && name.invalid))}">
            <input type="text" required identifierValidation [readonly]="isTrash || !permission.joc.inventory.manage" [appAutofocus]="!isTrash"
                   class="form-control" (blur)="rename(name.invalid)"
                   name="name" [(ngModel)]="fileOrder.name" #name="ngModel" autocomplete="off">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger help-block">
              <div *ngIf="name.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
              <div *ngIf="name.errors.invalidIdentifier" translate>common.message.invalid</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.title' | translate) : ''" [nzTooltipMouseEnterDelay]="0.5"
                 translate>common.label.title</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" [readonly]="isTrash || !permission.joc.inventory.manage" class="form-control" autocomplete="off" maxlength="255"
                   placeholder="{{'common.placeholder.title' | translate}}"
                   name="title" [(ngModel)]="fileOrder.configuration.title" (blur)="saveJSON()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.documentation' | translate) : ''" [nzTooltipMouseEnterDelay]="0.5"
                 translate>inventory.label.documentation</label>
          <div class="col-md-8 col-lg-6 select-input-both">
            <input autocomplete="off" [readOnly]="isTrash" type="text" class="form-control"
                   placeholder="{{'inventory.placeholder.documentationName' | translate}}"
                   name="documentationPath" [(ngModel)]="fileOrder.configuration.documentationName">
            <nz-tree-select
              name="documentationName"
              [disabled]="isTrash"
              nzNoAnimation
              #treeSelectCtrl
              [nzAllowClear]="false"
              [nzNodes]="documentationTree"
              [nzHideUnMatched]="true"
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              nzShowSearch
              [(ngModel)]="fileOrder.configuration.documentationName1"
              (nzExpandChange)="onExpand($event, 'DOCUMENTATION')"
            >
              <ng-template #nzTreeTemplate let-node>
                <div style="width: 93%" class="node-wrapper" (click)="loadData(node, 'DOCUMENTATION', $event);">
                  <div class="node-content-wrapper"
                       [class.node-content-wrapper-active]="node.origin.path == fileOrder.configuration.documentationName">
                    <i *ngIf="!node.origin.type" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                       class="w-14"></i>
                    <i *ngIf="node.origin.type" class="fa fa-circle-o text-xs w-11 m-t-xs"></i>
                    {{node.origin.key}}
                  </div>
                </div>
              </ng-template>
            </nz-tree-select>
            <i class="tree-search-clear" (click)="fileOrder.configuration.documentationName = '';fileOrder.configuration.documentationName1='';saveJSON()"
               *ngIf="fileOrder.configuration.documentationName" nz-icon nzType="close-circle" nzTheme="outline"></i>
          </div>
        </div>
        <div class="form-group row"
             [ngClass]="{ 'has-error' : (((workflowName.dirty || workflowName.touched) && workflowName.invalid))}">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.workflowName' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.workflowName</label>
          <div class="col-md-8 col-lg-6 select-input-both">
            <input autocomplete="off" [readOnly]="isTrash" type="text" class="form-control"
                   placeholder="{{'inventory.placeholder.workflowName' | translate}}"
                   name="workflowName" #workflowName="ngModel" [(ngModel)]="fileOrder.configuration.workflowName">
            <nz-tree-select
              name="workflowName1"
              [disabled]="isTrash"
              nzNoAnimation
              #treeSelectCtrl
              [nzAllowClear]="false"
              [nzNodes]="workflowTree"
              [nzHideUnMatched]="true"
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              nzShowSearch
              [(ngModel)]="fileOrder.configuration.workflowName1"
              (nzExpandChange)="onExpand($event, 'WORKFLOW')"
            >
              <ng-template #nzTreeTemplate let-node>
                <div style="width: 93%" class="node-wrapper" (click)="loadData(node, 'WORKFLOW', $event);">
                  <div class="node-content-wrapper"
                       [class.node-content-wrapper-active]="node.origin.path == fileOrder.configuration.workflowName">
                    <i *ngIf="!node.origin.type" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                       class="w-14"></i>
                    <i *ngIf="node.origin.type" class="fa fa-circle-o text-xs w-11 m-t-xs"></i>
                    {{node.origin.name}}
                  </div>
                </div>
              </ng-template>
            </nz-tree-select>
            <div *ngIf="workflowName.invalid && (workflowName.dirty || workflowName.touched)" class="text-danger help-block">
              <div *ngIf="workflowName.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
            </div>
          </div>
          <div *ngIf="fileOrder.configuration.workflowName" style="position: relative; top: 2px">
            <i (click)="navToWorkflow()" class="fa fa-pencil cursor"></i>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.agent' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>workflow.label.agent</label>
          <div class="col-md-8 col-lg-6"
               [ngClass]="{'has-error' : (agentName.dirty || agentName.touched) && agentName.invalid}">
            <nz-select nzShowSearch name="agentName" (ngModelChange)="changeValue($event, 'agentName')"
                       nzPlaceHolder="{{'workflow.placeholder.selectAgentName' | translate}}"
                       [(ngModel)]="fileOrder.configuration.agentName" #agentName="ngModel">
              <nz-option *ngFor="let agent of agents" [nzLabel]="agent" [nzValue]="agent"></nz-option>
            </nz-select>
            <div *ngIf="agentName.invalid && (agentName.dirty || agentName.touched)"
                 class="text-danger help-block">
              <div *ngIf="(agentName.errors && agentName.errors.required)">
                <div translate>common.message.requiredError</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.directory' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.directory</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" [readonly]="isTrash" class="form-control" autocomplete="off" maxlength="255"
                   placeholder="{{'inventory.placeholder.directory' | translate}}"
                   name="directory" [(ngModel)]="fileOrder.configuration.directory" (blur)="saveJSON()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.pattern' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>inventory.label.pattern</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" [readonly]="isTrash" class="form-control" autocomplete="off" maxlength="255"
                   placeholder="{{'inventory.placeholder.pattern' | translate}}"
                   name="pattern" [(ngModel)]="fileOrder.configuration.pattern" (blur)="saveJSON()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.timeZone' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>common.label.timeZone</label>
          <div class="col-md-8 col-lg-6">
            <nz-select nzShowSearch name="timeZone" nzAllowClear [(ngModel)]="fileOrder.configuration.timeZone" (ngModelChange)="changeValue($event, 'timeZone')">
              <nz-option *ngFor="let zone of zones" [nzValue]="zone" [nzLabel]="zone"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="!preferences.showTooltipInfo ? ('inventory.tooltips.fileOrderSource.delay' | translate) : ''"
                 [nzTooltipMouseEnterDelay]="0.5" translate>workflow.label.delay</label>
          <div class="col-md-8 col-lg-6">
            <nz-input-number [nzMin]="1" [nzStep]="1" name="delay" (nzBlur)="saveJSON()"
                             [(ngModel)]="fileOrder.configuration.delay"></nz-input-number>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12" *ngIf="data.object">
    <app-table
      [schedulerId]="schedulerId"
      [preferences]="preferences"
      [permission]="permission"
      [copyObj]="copyObj"
      [isTrash]="isTrash"
      [objectType]="objectType"
      [dataObj]="data"></app-table>
  </div>
</div>
