<div class="app-footer">
  <div ui-include="'modules/core/views/footer.html'"></div>
</div>
<div class="app-body orange-300 bg-auto w-full">
  <div class="text-center pos-rlt p-y-md">
    <h1 class="text-shadow m-a-0 text-white text-4x">
      <span class="text-2x font-bold block m-t-lg">404</span>
    </h1>
    <h2 class="h1 m-y-lg text-black"><span class="text-uppercase" translate>message.oops</span>!</h2>
    <p class="h5 m-y-lg text-u-c font-bold text-black" translate>message.pageNotExist</p>
    <a ui-sref="app.dashboard" class="md-btn amber-700 md-raised p-x-md">
      <span class="text-white" translate>message.goToTheDashboard</span>
    </a>
  </div>
</div>
