
<div class="app-header navbar-md box-shadow bg-blue-color" >
  <div ui-include="'modules/core/views/header.html'"></div>
</div>
<div class="app-body bg-auto w-full">
  <div class="text-center pos-rlt p-y-md">
    <h1 class="text-shadow m-a-0 text-4x">
      <span class="text-1x font-bold block m-t-lg">Unauthorised to access JOC Cockpit</span>
    </h1>
    <p class="h5 m-y-lg text-u-c font-bold text-black">{{error}}</p>
    <a href="" ng-click="logout()" class="md-btn orange md-raised p-x-md">
      <span class="text-white" translate>button.logInAgain</span>
    </a>
  </div>
</div>
