
<div class="navbar box-shadow-z0 p-l-0 p-r-md">
    <a data-toggle="collapse" data-target="#navbar1" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
        <i class="fa fa-navicon text-white"></i>
    </a>
    <!-- brand -->
    <a class="navbar-brand white ">
        <img src="images/jobscheduler-logo.png" alt="." class="m-r m-l">
    </a>
    <!-- / brand -->

    <!-- nabar right -->
    <ul class="nav navbar-nav pull-right">

        <li class="nav-item dropdown">
            <a class="nav-link text-white" data-toggle="dropdown">
             <span class="avatar w-32">
                <letter-avatar shape="round" width="30" height="30" data="{{username}}"></letter-avatar>
              </span>
              <span class="text-left p-l-xs">
                    <span class="_500 " ng-bind="username"></span>
                    <i class="fa fa-caret-down p-l-xs"></i>
              </span>
            </a>
            <div class="dropdown-menu pull-right dropdown-ac">
                <a class="dropdown-item" ui-sref="app.profile">
                    <s class="fa fa-user"></s>
                    {{'button.profile' | translate}}
                </a>
                <a class="dropdown-item" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    {{'button.signOut' | translate}}
                </a>
            </div>
        </li>
    </ul>
    <!-- / navbar right -->

    <!-- navbar collapse -->
    <div class="collapse navbar-toggleable-sm" id="navbar1">
        <!-- search form -->
        <form class="navbar-form form-inline pull-right navbar-item m-r" role="search">
            <div class="l-h">
                <input type="search" data-ng-model="filterString" placeholder="{{'placeholder.search'| translate}}">
            </div>
        </form>
        <!-- / search form -->
        <!-- link -->
        <ul class="nav navbar-nav navbar-nav-inline text-center pull-left nav-active-border b-orange">
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.dashboard" ui-sref-active="active">
                    <span class="nav-text">
                         <i class="fa fa-dashboard text-white"></i>
                        <span id="dashboard_id" class="text-sm text-white" translate>label.dashboard</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.dailyPlan" ui-sref-active="active">
                    <span class="nav-text">
                         <img src="images/daily_plan.png">
                        <span id="dailyPlan_id" class="text-sm text-white" translate>label.dailyPlan</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.jobChain" ui-sref-active-eq="active">
                    <span class="nav-text ">
                        <i class="fa fa-chain text-white"></i>
                        <span id="jobChain_id" class="text-sm text-white" translate>label.jobChains</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.orders" ui-sref-active="active">
                    <span class="nav-text ">
                        <i class="fa fa-list-ul text-white"></i>
                        <span id="orders_id" class="text-sm text-white" translate>label.orders</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.jobs" ui-sref-active="active">
                    <span class="nav-text ">
                        <i class="fa fa-tasks text-white"></i>
                        <span id="jobs_id" class="text-sm text-white" translate>label.jobs</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.resources.agentClusters" ui-sref-active-eq="active">
                    <span class="nav-text" >
                        <img src="images/resources.png">
                        <span class="text-sm text-white" translate>label.resources</span>
                    </span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="app.schedules" ui-sref-active="active">
                    <span class="nav-text">
                        <i class="fa fa-calendar text-white"></i>
                        <span class="text-sm text-white" translate>label.schedules</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" ng-if="permission.History.view">
                <a class="nav-link" ui-sref="app.history" ui-sref-active="active">
                    <span class="nav-text">
                        <i class="fa fa-history text-white"></i>
                        <span class="text-sm text-white" translate>label.history</span>
                    </span>
                </a>
            </li>
        </ul>
        <!-- end link -->
    </div>
    <!-- / navbar collapse -->
</div>
