<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline valign">
            <label *ngIf="monitorFilters.tabIndex == 0" [(ngModel)]="monitorFilters.controller.current"
                   name="current" nz-checkbox  (nzCheckedChange)="controllerChange()" >
              {{'common.label.currentController' | translate}}
            </label>
            <label *ngIf="monitorFilters.tabIndex == 1" [(ngModel)]="monitorFilters.agent.current"
                   name="current" nz-checkbox (nzCheckedChange)="controllerChange()" >
              {{'common.label.currentController' | translate}}
            </label>
            <label *ngIf="monitorFilters.tabIndex == 2 && monitorFilters.orderNotification.mapOfCheckedId.size ===0" [(ngModel)]="monitorFilters.orderNotification.current" name="current"
                   nz-checkbox (nzCheckedChange)="controllerChange()">
              {{'common.label.currentController' | translate}}
            </label>
            <label *ngIf="monitorFilters.tabIndex == 4 && monitorFilters.approvalRequests.mapOfCheckedId.size ===0 && this.isApprover" [(ngModel)]="monitorFilters.approvalRequests.current" name="current"
                   nz-checkbox (nzCheckedChange)="requestChange()">
              {{'monitor.approvalRequest.label.allApproverRequests' | translate}}
            </label>

          </div>
          <div *ngIf="monitorFilters.tabIndex == 2 && monitorFilters.orderNotification.mapOfCheckedId.size ===0"
               class="inline">
            <div class="btn-group m-l-12">
              <button (click)="changeTypes('SUCCESS')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.types.includes('SUCCESS')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.success
              </button>
              <button (click)="changeTypes('ERROR')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.types.includes('ERROR')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.error
              </button>
              <button (click)="changeTypes('WARNING')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.types.includes('WARNING')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.warning
              </button>
              <button (click)="changeTypes('RECOVERED')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.types.includes('RECOVERED')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.recovered
              </button>
              <button (click)="changeTypes('ACKNOWLEDGED')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.types.includes('ACKNOWLEDGED')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.acknowledge
              </button>
            </div>
            <div class="btn-group m-l-12 hidden-btn-group">
              <button (click)="changeDate('ALL')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.date=='ALL'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.all
              </button>
              <button (click)="changeDate('0d')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.date=='0d'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.today
              </button>
              <button (click)="changeDate('-1h')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.date=='-1h'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.last1
              </button>
              <button (click)="changeDate('-6h')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.date=='-6h'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.last6
              </button>
              <button (click)="changeDate('-12h')" [ngClass]="{'btn-primary': monitorFilters.orderNotification.filter.date=='-12h'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.last12
              </button>
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown
                      nzTrigger="click" translate type="button">
                common.label.anyDate
                <i class="caretDownIcon" nz-icon nzTheme="outline" nzType="caret-down"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.orderNotification.filter.date=='ALL'}"
                      nz-menu-item>
                    <a (click)="changeDate('ALL')" translate>filters.button.all</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.orderNotification.filter.date=='0d'}"
                      nz-menu-item>
                    <a (click)="changeDate('0d')" translate>filters.button.today</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.orderNotification.filter.date=='-1h'}"
                      nz-menu-item>
                    <a (click)="changeDate('-1h')" translate>filters.button.last1</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.orderNotification.filter.date=='-6h'}"
                      nz-menu-item>
                    <a (click)="changeDate('-6h')" translate>filters.button.last6</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.orderNotification.filter.date=='-12h'}"
                      nz-menu-item>
                    <a (click)="changeDate('-12h')" translate>filters.button.last12</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div *ngIf="monitorFilters.tabIndex == 3 && monitorFilters.systemNotification.mapOfCheckedId.size ===0"
               class="inline">
            <div class="btn-group m-l-12">
              <button (click)="changeCategories('ALL')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.categories == 'ALL'}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.all
              </button>
              <button (click)="changeCategories('SYSTEM')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.categories == 'SYSTEM'}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.system
              </button>
              <button (click)="changeCategories('JOC')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.categories == 'JOC'}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.joc
              </button>
              <button (click)="changeCategories('CONTROLLER')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.categories == 'CONTROLLER'}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.controller
              </button>
              <button (click)="changeCategories('AGENT')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.categories == 'AGENT'}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.agent
              </button>
            </div>
          </div>
          <div *ngIf="monitorFilters.tabIndex == 4 && monitorFilters.approvalRequests.mapOfCheckedId.size ===0"
               class="inline">
            <div class="btn-group m-l-12">
              <button (click)="changeRequestors('REQUESTED')" [ngClass]="{'btn-primary': monitorFilters.approvalRequests.filter.requestorStates.includes('REQUESTED')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.approvalRequest.button.requested
              </button>
              <button (click)="changeRequestors('WITHDRAWN')" [ngClass]="{'btn-primary': monitorFilters.approvalRequests.filter.requestorStates.includes('WITHDRAWN')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.approvalRequest.button.withdrawn
              </button>
              <button (click)="changeRequestors('IN_PROGRESS')" [ngClass]="{'btn-primary': monitorFilters.approvalRequests.filter.requestorStates.includes('IN_PROGRESS')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.approvalRequest.button.inProgress
              </button>
            </div>
            <div class="btn-group m-l-12">
              <button (click)="changeApprover('PENDING')" [ngClass]="{'btn-primary':monitorFilters.approvalRequests.filter.approverStates.includes('PENDING')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.approvalRequest.button.pending
              </button>
              <button (click)="changeApprover('APPROVED')" [ngClass]="{'btn-primary':monitorFilters.approvalRequests.filter.approverStates.includes('APPROVED')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.approvalRequest.button.approved
              </button>
              <button (click)="changeApprover('REJECTED')" [ngClass]="{'btn-primary': monitorFilters.approvalRequests.filter.approverStates.includes('REJECTED')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.approvalRequest.button.rejected
              </button>
            </div>
          </div>
          <div *ngIf="monitorFilters.tabIndex == 5 && monitorFilters.approvers.mapOfCheckedId.size ===0"
               class="inline">
            <div class="btn-group m-l-12">
              <button (click)="newApprover()"
                      class="btn btn-grey btn-sm"
                      translate>
                <i class="fa fa-plus"></i>&nbsp;
                <span translate>
                monitor.approvers.button.newApprover
                </span>
              </button>
            </div>
          </div>
          <div *ngIf="monitorFilters.tabIndex == 3 && monitorFilters.systemNotification.mapOfCheckedId.size ===0"
               class="inline">
            <div class="btn-group m-l-12">
              <button (click)="changeSystemType('ERROR')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.types.includes('ERROR')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.error
              </button>
              <button (click)="changeSystemType('WARNING')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.types.includes('WARNING')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.warning
              </button>
              <button (click)="changeSystemType('ACKNOWLEDGED')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.types.includes('ACKNOWLEDGED')}"
                      class="btn btn-grey btn-sm"
                      translate>monitor.notification.button.acknowledge
              </button>
            </div>
            <div class="btn-group m-l-12 hidden-btn-group">
              <button (click)="changeDate('ALL')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.date=='ALL'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.all
              </button>
              <button (click)="changeDate('0d')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.date=='0d'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.today
              </button>
              <button (click)="changeDate('-1h')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.date=='-1h'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.last1
              </button>
              <button (click)="changeDate('-6h')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.date=='-6h'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.last6
              </button>
              <button (click)="changeDate('-12h')" [ngClass]="{'btn-primary': monitorFilters.systemNotification.filter.date=='-12h'}"
                      class="btn btn-grey btn-sm" translate>
                filters.button.last12
              </button>
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown
                      nzTrigger="click" translate type="button">
                common.label.anyDate
                <i class="caretDownIcon" nz-icon nzTheme="outline" nzType="caret-down"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.systemNotification.filter.date=='ALL'}"
                      nz-menu-item>
                    <a (click)="changeDate('ALL')" translate>filters.button.all</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.systemNotification.filter.date=='0d'}"
                      nz-menu-item>
                    <a (click)="changeDate('0d')" translate>filters.button.today</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.systemNotification.filter.date=='-1h'}"
                      nz-menu-item>
                    <a (click)="changeDate('-1h')" translate>filters.button.last1</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.systemNotification.filter.date=='-6h'}"
                      nz-menu-item>
                    <a (click)="changeDate('-6h')" translate>filters.button.last6</a>
                  </li>
                  <li [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.systemNotification.filter.date=='-12h'}"
                      nz-menu-item>
                    <a (click)="changeDate('-12h')" translate>filters.button.last12</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div *ngIf="monitorFilters.tabIndex == 2 && monitorFilters.orderNotification.mapOfCheckedId.size > 0"
               class="inline">
            <button (click)="acknowledge()" class="btn btn-grey btn-sm" translate>
              monitor.notification.menu.bulkAcknowledge
            </button>
          </div>
          <div *ngIf="monitorFilters.tabIndex == 3 && monitorFilters.systemNotification.mapOfCheckedId.size > 0"
               class="inline">
            <button (click)="acknowledge()" class="btn btn-grey btn-sm" translate>
              monitor.notification.menu.bulkAcknowledge
            </button>
          </div>
          <button (click)="exportToExcel()"
                  *ngIf="monitorFilters.tabIndex == 2 || monitorFilters.tabIndex == 3"
                  [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'common.tooltip.exportInXLS' | translate"
                  class="btn btn-grey btn-sm m-l-12"><i class="fa fa fa-share-square-o"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div *ngIf="loading" class="padding p-b-0">
    <nz-tabset (nzSelectChange)="tabChange($event)" [(nzSelectedIndex)]="index">
      <nz-tab *ngIf="permission && permission.currentController && permission.currentController.view"
              [nzTitle]="'monitor.label.controllerAvailability' | translate">
        <div *ngIf="index === 0">
          <app-controller-monitor [filters]="monitorFilters.controller" [permission]="permission"
                                  [preferences]="preferences"
                                  [schedulerIds]="schedulerIds"></app-controller-monitor>
        </div>
      </nz-tab>
      <nz-tab *ngIf="permission && permission.currentController && permission.currentController.agents.view"
              [nzTitle]="'monitor.label.agentAvailability' | translate">
        <div *ngIf="index === 1 || (!permission.currentController.view && index === 0)">
          <app-agent-monitor [filters]="monitorFilters.agent" [permission]="permission"
                             [preferences]="preferences" [schedulerIds]="schedulerIds"></app-agent-monitor>
        </div>
      </nz-tab>
      <nz-tab *ngIf="permission && permission.currentController && permission.currentController.orders.view"
              [nzTitle]="'monitor.label.orderNotification' | translate">
        <div *ngIf="index === 2 || (!permission.currentController.view && permission.currentController.agents.view && index === 1) || (!permission.currentController.agents.view && permission.currentController.view && index === 1) ||
         (!permission.currentController.view && !permission.currentController.agents.view && index === 0)">
          <app-order-notification [filters]="monitorFilters.orderNotification" [permission]="permission"
                                  [preferences]="preferences"
                                  [schedulerIds]="schedulerIds"></app-order-notification>
        </div>
      </nz-tab>
      <nz-tab *ngIf="permission && permission.currentController && permission.currentController.orders.view"
              [nzTitle]="'monitor.label.systemNotification' | translate">
        <div *ngIf="index === 3 || (!permission.currentController.view && permission.currentController.agents.view && index === 1) || (!permission.currentController.agents.view && permission.currentController.view && index === 1) ||
         (!permission.currentController.view && !permission.currentController.agents.view && index === 0)">
          <app-system-notification [filters]="monitorFilters.systemNotification" [permission]="permission"
                                   [preferences]="preferences"></app-system-notification>
        </div>
      </nz-tab>
      <nz-tab *ngIf="(isRequestor || isApprover)"
              [nzTitle]="'monitor.label.approvalRequest' | translate">
        <div *ngIf="index === 4">
          <app-approval-request [preferences]="preferences" [permission]="permission" [filters]="monitorFilters.approvalRequests" [schedulerIds]="schedulerIds"></app-approval-request>
        </div>
      </nz-tab>

      <nz-tab *ngIf="permission.joc && permission.joc.administration.accounts.view && (isRequestor || isApprover)"
              [nzTitle]="'monitor.label.approvers' | translate">
        <div *ngIf="index === 5">
          <app-approvers #approvers [preferences]="preferences" [permission]="permission" [filters]="monitorFilters.approvers" [schedulerIds]="schedulerIds"></app-approvers>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <div *ngIf="!loading" class="text-center m-t-lg m-b-md">
    <nz-spin nzSimple></nz-spin>
  </div>
</div>
