<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline valign">
            <label *ngIf="monitorFilters.tabIndex == 0" nz-checkbox [(ngModel)]="monitorFilters.controller.current" name="current" (nzCheckedChange)="controllerChange()">
              {{'common.label.currentController' | translate}}
            </label>
            <label *ngIf="monitorFilters.tabIndex == 1" nz-checkbox [(ngModel)]="monitorFilters.agent.current" name="current" (nzCheckedChange)="controllerChange()">
              {{'common.label.currentController' | translate}}
            </label>
            <label *ngIf="monitorFilters.tabIndex == 2 && monitorFilters.notification.mapOfCheckedId.size ===0" nz-checkbox [(ngModel)]="monitorFilters.notification.current" name="current" (nzCheckedChange)="controllerChange()">
              {{'common.label.currentController' | translate}}
            </label>
          </div>
          <div class="inline" *ngIf="monitorFilters.tabIndex == 2 && monitorFilters.notification.mapOfCheckedId.size ===0">
            <div class="btn-group m-l-12 hidden-btn-group">
              <button class="btn btn-grey btn-sm" (click)="changeTypes('SUCCESS')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.types.includes('SUCCESS')}" translate>monitor.notification.button.success
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeTypes('ERROR')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.types.includes('ERROR')}" translate>monitor.notification.button.error
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeTypes('WARNING')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.types.includes('WARNING')}" translate>monitor.notification.button.warning
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeTypes('RECOVERED')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.types.includes('RECOVERED')}" translate>monitor.notification.button.recovered
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeTypes('ACKNOWLEDGED')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.types.includes('ACKNOWLEDGED')}" translate>monitor.notification.button.acknowledge
              </button>
            </div>
            <div class="btn-group m-l-12 hidden-btn-group">
              <button class="btn btn-grey btn-sm" (click)="changeDate('ALL')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.date=='ALL'}" translate>filters.button.all
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeDate('0d')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.date=='0d'}" translate>filters.button.today
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeDate('-1h')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.date=='-1h'}" translate>filters.button.last1
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeDate('-6h')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.date=='-6h'}" translate>filters.button.last6
              </button>
              <button class="btn btn-grey btn-sm" (click)="changeDate('-12h')"
                      [ngClass]="{'btn-primary': monitorFilters.notification.filter.date=='-12h'}" translate>filters.button.last12
              </button>
            </div>
            <div class="btn-group dropdown hidden-dropdown">
              <button class="btn-drop btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" type="button" translate>
                common.label.anyDate
                <i nz-icon nzType="caret-down" nzTheme="outline" class="caretDownIcon"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu" >
                <ul nz-menu>
                  <li nz-menu-item [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.notification.filter.date=='ALL'}">
                    <a (click)="changeDate('ALL')" translate>filters.button.all</a>
                  </li>
                  <li nz-menu-item [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.notification.filter.date=='0d'}">
                    <a (click)="changeDate('0d')" translate>filters.button.today</a>
                  </li>
                  <li nz-menu-item [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.notification.filter.date=='-1h'}">
                    <a (click)="changeDate('-1h')" translate>filters.button.last1</a>
                  </li>
                  <li nz-menu-item [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.notification.filter.date=='-6h'}">
                    <a (click)="changeDate('-6h')" translate>filters.button.last6</a>
                  </li>
                  <li nz-menu-item [ngClass]="{'ant-select-dropdown-menu-item-active': monitorFilters.notification.filter.date=='-12h'}">
                    <a (click)="changeDate('-12h')" translate>filters.button.last12</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="inline" *ngIf="monitorFilters.tabIndex == 2 && monitorFilters.notification.mapOfCheckedId.size > 0">
            <button class="btn btn-grey btn-sm" (click)="acknowledge()" translate>monitor.notification.menu.bulkAcknowledge</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0" *ngIf="loading">
    <nz-tabset [(nzSelectedIndex)]="index" (nzSelectChange)="tabChange($event)">
      <nz-tab [nzTitle]="'monitor.label.controllerAvailability' | translate" *ngIf="permission && permission.joc && permission.joc.administration.controllers.view">
        <div *ngIf="index === 0" >
          <app-controller-monitor [permission]="permission" [preferences]="preferences"
                                  [schedulerIds]="schedulerIds" [filters]="monitorFilters.controller"></app-controller-monitor>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'monitor.label.agentAvailability' | translate" *ngIf="permission && permission.currentController && permission.currentController.agents.view">
        <div *ngIf="index === 1 || (!permission.joc.administration.controllers.view && index === 0)">
          <app-agent-monitor [permission]="permission" [preferences]="preferences"
                             [schedulerIds]="schedulerIds" [filters]="monitorFilters.agent"></app-agent-monitor>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="'monitor.label.notification' | translate">
        <div *ngIf="index === 2 || (!permission.joc.administration.controllers.view && index === 1) ||
         (!permission.joc.administration.controllers.view && !permission.currentController.agents.view && index === 0)">
          <app-notification-monitor [permission]="permission" [preferences]="preferences"
                             [schedulerIds]="schedulerIds" [filters]="monitorFilters.notification"></app-notification-monitor>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="text-center m-t-lg m-b-md" *ngIf="!loading">
    <nz-spin nzSimple></nz-spin>
  </div>
</div>
