

#leftPanel2.dependencies {
  left: auto;
  top: auto !important;
  width: 320px !important;
  position: absolute !important;
  height: 100%;
  overflow: auto;
}

#rightPanel2 {
  margin-left: 338px;
}

.r-t-8 {
  right: 8px;
  top: 6px
}

.l-t-8 {
  left: 8px;
  top: 6px
}

.toolbar-icons {
  position: absolute;
  padding: 2px 16px 0;
  text-align: center;
  background-color: var(--bg-box);
  z-index: 9;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.12);
}


.notice-progress {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 18px !important;

}

.notice-count {
  font-weight: 600;
  white-space: nowrap;
  min-width: 30px;
}

.notice-progress nz-progress {
  flex-grow: 1;
  min-width: 30px;
  max-width: 60px;
}

.selected-blue, .cal-day-plan {
  color: var(--date-selected);

  &:hover {
    color: var(--date-selected-hover) !important;
  }
}

.selected-orange {
  color: var(--date-selected-exclude);

  &:hover {
    color: var(--date-selected-exclude-hover);
  }
}


