<div class="row">
  <div
    *ngIf="!(checked && setOfCheckedId.size > 0 && noticeBoards.length > (plansFilters.entryPerPage || preferences.entryPerPage))"
    class="col-md-12 m-b">
    <div class="inline" style="height: 26px">
      <div class="pos-rel t-xxs">
        <i class="fa fa-stop bg-postingWorkflow"></i>
        {{'dailyPlan.label.postingWorkflow' | translate}}
        <i class="fa fa-stop bg-expectingWorkflow p-l-sm"></i>
        {{'dailyPlan.label.expectingWorkflow' | translate}}
        <i class="fa fa-stop bg-consumingWorkflow p-l-sm"></i>
        {{'dailyPlan.label.consumingWorkflow' | translate}}
      </div>
    </div>
    <div class="search-box-field pull-right">
      <label>
        <input
          [(ngModel)]="searchValue"
          (ngModelChange)="highlightNodes(searchValue)"
          placeholder="{{ 'common.placeholder.search' | translate }}"
          type="search">

      </label>
      <i (click)="searchValue = ''"
         [hidden]="!searchValue"
         class="fa fa-times search-close"></i>
    </div>
    <br/>
  </div>
  <div class="col-lg-12">
    <div class="sticky leftPanel dependencies" id="leftPanel2">
      <div class="box m-b-0 overflow-y max-ht-n-252">
        <div class="p-b b-b icon-hover">
          <ng-template #tooltipTemplate>
            <div class="m-a-xs">
              <i class="fa fa-circle circle daily-plan-step-icon"></i><span translate>dailyPlan.tooltip.dateRangeSelectStep1</span><br>
              <i class="fa fa-circle circle daily-plan-step-icon"></i><span translate>dailyPlan.tooltip.dateRangeSelectStep2</span><br>
              <i class="fa fa-circle circle daily-plan-step-icon"></i><span translate>dailyPlan.tooltip.dateRangeSelectStep3</span>
            </div>
          </ng-template>
          <div class="calendar-sm m-t-0" id="full-calendar2"></div>
        </div>
        <div class="text-center m-t">
          <button (click)="openPlan()" [disabled]="!isClosed" *ngIf="permission.joc && permission.joc.dailyPlan.manage"
                  class="btn btn-grey btn-sm m-b-sm">
            <i class="fa fa-stop selected-blue m-r-sm"></i>
            <span translate>dailyPlan.button.openPlan</span>
          </button>
          <button (click)="closePlan()" [disabled]="!isOpen"
            *ngIf="permission.joc && permission.joc.dailyPlan.manage"
            class="btn btn-grey btn-sm m-l-xs m-b-sm">
            <i class="fa fa-stop selected-orange m-r-sm"></i>
            <span translate>dailyPlan.button.closePlan</span>
          </button>
        </div>

      </div>
    </div>
    <div id="rightPanel2">
        <div style="overflow: auto; width: 100%; height: calc(100vh - 280px)">
          <div class="inline toolbar-icons">
            <ul class="nav navbar-nav navbar-nav-inline nav-active-border3 ">
              <li class="nav-item">
                <a (click)="zoomIn()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.zoomIn' | translate" class="nav-link">
                  <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="zoom-in"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="zoomOut()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.zoomOut' | translate" class="nav-link">
                  <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="zoom-out"></i></span>
                </a>
              </li>
              <li class="nav-item dropdown-separator">
                <span class="separator"></span>
              </li>
              <li class="nav-item">
                <a (click)="actual()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.actual' | translate" class="nav-link">
                  <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="fit()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.fit' | translate" class="nav-link">
                  <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="column-width"></i></span>
                </a>
              </li>
            </ul>
          </div>
          <div #graphContainer class="graph-container "></div>
        </div>

    </div>
  </div>
</div>
<div *ngIf="!isLoaded" class="spinner">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
