<div class="row">
  <div class="col-md-12 m-b">
    <div class="inline btn-group">
      <div (click)="setView('Global')"
           [class.primary]="plansFilters.filter.calView === 'Global'"
           class="btn btn-default btn-sm" translate>
        dailyPlan.label.global
      </div>
      <div (click)="setView('Plannable')"
           [class.primary]="plansFilters.filter.calView === 'Plannable'"
           class="btn btn-default btn-sm" translate>
        dailyPlan.label.plannable
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="sticky leftPanel dependencies" id="leftPanel2">
      <div class="box m-b-0 overflow-y" style="height: 97.4%">
        <div class="p-b b-b icon-hover">
          <ng-template #tooltipTemplate>
            <div class="m-a-xs">
              <i class="fa fa-circle circle daily-plan-step-icon"></i><span translate>dailyPlan.tooltip.dateRangeSelectStep1</span><br>
              <i class="fa fa-circle circle daily-plan-step-icon"></i><span translate>dailyPlan.tooltip.dateRangeSelectStep2</span><br>
              <i class="fa fa-circle circle daily-plan-step-icon"></i><span translate>dailyPlan.tooltip.dateRangeSelectStep3</span>
            </div>
          </ng-template>
          <i [nzTooltipPlacement]="'left'" [nzTooltipTitle]="tooltipTemplate" class="fa fa-info-circle pos-abt r-t-8"
             nz-tooltip></i>
          <i
            class="fa fa-calendar-plus-o pos-abt cursor l-t-8"></i>
          <div class="calendar-sm m-t-0" id="full-calendar2"></div>
        </div>
      </div>
    </div>
    <div id="rightPanel2">
      <div class="row">
        <div class="col-lg-12 col-sm-3 p-r-xs">
          <div class="box p-a max-ht-n-220" style="overflow: auto; ">
            <pre>{{data | json}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoaded" class="spinner">
  <div class="cssload-inner cssload-one"></div>
  <div class="cssload-inner cssload-two"></div>
  <div class="cssload-inner cssload-three"></div>
</div>
