<div class="row">
  <div class="col-md-12" *ngIf="data.type">
    <div class="box p-a">
      <div class="b-b p-b m-b">
        <span class="text-left">
          <a (click)="backToListView()"><i nz-tooltip="{{'inventory.button.backToList' | translate}}" class="fa fa-arrow-circle-left config-back-btn"></i></a>
          <span class="_600">{{data.path}}<span *ngIf="data.path !=='/'">/</span>{{data.name}}</span>
        </span>
        <div class="inline pull-right" *ngIf="!isTrash">
           <span class="badge badge-success m-r-12" *ngIf="junction.configuration" [ngClass]="!junction.valid ? 'badge-danger':'badge-success'">
              <span *ngIf="junction.valid" translate>inventory.label.valid</span>
              <span *ngIf="!junction.valid">
                <span translate>inventory.label.notValid</span>
                <i nz-tooltip="{{invalidMsg | translate}}" class="fa fa-info-circle p-l-xs"></i>
              </span>
          </span>
          <span class="badge" [ngClass]="!data.deployed ? 'badge-danger':'badge-success'">
              <span *ngIf="!data.deployed" translate>inventory.label.notDeployed</span>
              <span *ngIf="data.deployed" translate>inventory.label.deployed</span>
          </span>
          <button *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy)" type="button" [disabled]="!junction.valid && !junction.hasDeployments" class="btn btn-sm btn-grey m-l-12 m-t-n-xs" (click)="deploy()" >
            <i class="fa fa-rocket p-r-xs"></i>
            <span translate>inventory.button.deploy</span>
          </button>
        </div>
      </div>
      <form *ngIf="junction.configuration">
        <div class="form-group row"
             [ngClass]="{ 'has-error' : (((name.dirty || name.touched) && name.invalid))}">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="'inventory.tooltips.junction.name' | translate" translate>common.label.name</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" required identifierValidation class="form-control" [readonly]="isTrash || !permission.joc.inventory.manage" [appAutofocus]="!isTrash"
                   name="name" [(ngModel)]="junction.name" #name="ngModel" autocomplete="off" (blur)="rename(name.invalid)">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger help-block">
              <div *ngIf="name.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
              <div *ngIf="name.errors.invalidIdentifier" translate>common.message.invalid</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="'inventory.tooltips.junction.title' | translate" translate>common.label.title</label>
          <div class="col-md-8 col-lg-6">
            <input type="text" class="form-control" [readonly]="isTrash || !permission.joc.inventory.manage" autocomplete="off" placeholder="{{'common.placeholder.title' | translate}}"
                   name="title" [(ngModel)]="junction.configuration.title" (blur)="saveJSON()">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="'inventory.tooltips.junction.documentation' | translate" translate>inventory.label.documentation</label>
          <div class="col-md-8 col-lg-6 select-input-both">
            <input autocomplete="off" [readOnly]="isTrash || !permission.joc.inventory.manage" type="text" class="form-control"
                   placeholder="{{'inventory.placeholder.documentationName' | translate}}"
                   name="documentationPath" [(ngModel)]="junction.configuration.documentationName">
            <nz-tree-select
              name="documentationName"
              [disabled]="isTrash || !permission.joc.inventory.manage"
              nzNoAnimation
              #treeSelectCtrl
              [nzAllowClear]="true"
              [nzNodes]="documentationTree"
              [nzHideUnMatched]="false"
              [nzDropdownStyle]="{ 'max-height': '300px' }"
              nzShowSearch
              [(ngModel)]="junction.configuration.documentationName1"
              (nzExpandChange)="onExpand($event)"
            >
              <ng-template #nzTreeTemplate let-node>
                <div style="width: 93%" class="node-wrapper" (click)="loadData(node, $event);">
                  <div class="node-content-wrapper"
                       [class.node-content-wrapper-active]="node.origin.path == junction.configuration.documentationName">
                    <i *ngIf="!node.origin.type" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                       class="w-14"></i>
                    <i *ngIf="node.origin.type" class="fa fa-circle-o text-xs w-11 m-t-xs"></i>
                    {{node.origin.key}}
                  </div>
                </div>
              </ng-template>
            </nz-tree-select>
            <i class="tree-search-clear" (click)="junction.configuration.documentationName = '';junction.configuration.documentationName1='';saveJSON()"
               *ngIf="junction.configuration.documentationName" nz-icon nzType="close-circle" nzTheme="outline"></i>
          </div>
        </div>
        <div class="form-group row"
             [ngClass]="{ 'has-error' : (((lt.dirty || lt.touched) && lt.invalid))}">
          <label class="col-md-4 col-lg-3 form-control-label" [nz-tooltip]="'inventory.tooltips.junction.lifetime' | translate" translate>inventory.label.lifetime</label>
          <div class="col-md-8 col-lg-6">
            <input autocomplete="off" [readonly]="isTrash || !permission.joc.inventory.manage" #lt="ngModel" required type="text" class="form-control" name="lt"
                   placeholder="{{'workflow.placeholder.duration' | translate}}" (blur)="saveJSON()"
                   validateDurtionReqex [(ngModel)]="lifetime">
            <div *ngIf="lt.invalid && (lt.dirty || lt.touched)" class="text-danger help-block">
              <div *ngIf="lt.errors.required">
                <div translate>common.message.requiredError</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12" *ngIf="data.object">
    <app-table
      [schedulerId]="schedulerId"
      [preferences]="preferences"
      [permission]="permission"
      [copyObj]="copyObj"
      [isTrash]="isTrash"
      [objectType]="objectType"
      [dataObj]="data"></app-table>
  </div>
</div>
