<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht2">
  <div class="padding p-b-0">
    <div class="row">
      <div class="col-sm-12">
        <div class="box p-a m-t-xs">
          <div class="table-responsive">
            <nz-table
              #ajaxTable
              [nzSize]="'small'"
              [nzBordered]="true"
              [nzShowPagination]="false"
              [nzData]="boards"
              [nzLoading]="loading"
              [nzShowSizeChanger]="false"
            >
              <thead>
              <tr>
                <th *ngIf="permission.currentController && permission.currentController.noticeBoards.post" nzWidth="55px"><span translate>common.label.action</span></th>
                <th><span translate>resource.board.label.name</span></th>
                <th><span translate>common.label.path</span></th>
                <th><span translate>resource.board.label.deploymentDate</span></th>
                <th><span translate>common.label.status</span></th>
                <th nzWidth="15%"><span translate>resource.board.label.postOrderToNoticeId</span></th>
                <th nzWidth="15%"><span translate>resource.board.label.expectOrderToNoticeId</span></th>
                <th><span translate>resource.board.label.endOfLifeOfNotices</span></th>
                <th nzWidth="100px"><span translate>resource.board.label.numOfNotices</span></th>
              </tr>
              </thead>
              <tbody>
              <ng-template ngFor let-board [ngForOf]="ajaxTable.data">
                <tr [ngClass]="{'light-bg':board.show}">
                  <td *ngIf="permission.currentController && permission.currentController.noticeBoards.post">
                    <div class="btn-group dropdown">
                      <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option" type="button">
                        <i class="fa fa-ellipsis-h"></i>
                      </button>
                      <nz-dropdown-menu #option="nzDropdownMenu" role="menu" >
                        <ul nz-menu>
                          <li nz-menu-item (click)="post(board)">
                            <a  translate>resource.board.button.post</a>
                          </li>
                        </ul>
                      </nz-dropdown-menu>
                    </div>
                  </td>
                  <td>
                    <span class="show-in-single-line w-full">
                      <i class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"
                         *ngIf="!board.show" (click)="board.show = true;"></i>
                      <i class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs"
                         *ngIf="board.show" (click)="board.show = false;"></i>
                      <i *ngIf="board.documentationName" (click)="coreService.showDocumentation(board.documentationName, preferences)" class="cursor fa fa-book p-l-xs p-r-xs"></i>
                      <span [innerHtml]="board.name"></span>
                      <i *ngIf="board.title"> - </i>
                      <i class="text-muted" [innerHtml]="board.title"></i>
                    </span>
                  </td>
                  <td>
                    <span class="show-in-single-line">
                      <i (click)="coreService.navToInventoryTab(board.path, 'NOTICEBOARD');"
                         class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                      <span [innerHtml]="board.path"></span>
                    </span>
                  </td>
                  <td>
                    <span [innerHtml]="board.versionDate | stringToDate"></span>
                  </td>
                  <td>
                    <a class="label" *ngIf="board.state" [ngClass]="coreService.getColor(board.state.severity, 'bg')"
                       [innerHtml]="board.state._text | translate"></a>
                  </td>
                  <td>{{board.postOrderToNoticeId}}</td>
                  <td>{{board.expectOrderToNoticeId}}</td>
                  <td>{{board.endOfLife}}</td>
                  <td>{{board.notices.length}}</td>
                </tr>
                <tr *ngIf="board.show">
                  <td class="menu"></td>
                  <td colspan="8" style="padding:0 !important;" class="order-history-template0">
                    <nz-table class="m-a-0 inner-table" #nestedTable [nzSize]="'small'"
                              [nzData]="board.workflows" [nzShowPagination]="false">
                      <thead>
                      <tr>
                        <th *ngIf="permission.currentController && permission.currentController.noticeBoards.delete" nzWidth="55px"><span translate>common.label.action</span></th>
                        <th><span translate>resource.board.label.id</span></th>
                        <th><span translate>resource.board.label.endOfLife</span></th>
                        <th><span translate>resource.board.label.expectingOrders</span></th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-template ngFor let-notice
                                   [ngForOf]="nestedTable.data">
                        <tr>
                          <td *ngIf="permission.currentController && permission.currentController.noticeBoards.delete">
                            <div class="btn-group dropdown">
                              <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option" type="button">
                                <i class="fa fa-ellipsis-h"></i>
                              </button>
                              <nz-dropdown-menu #option="nzDropdownMenu" role="menu" >
                                <ul nz-menu>
                                  <li nz-menu-item (click)="delete(board, notice)">
                                    <a translate>resource.board.button.delete</a>
                                  </li>
                                </ul>
                              </nz-dropdown-menu>
                            </div>
                          </td>
                          <td>{{notice.id}}</td>
                          <td>{{notice.endOfLife | stringToDate}}</td>
                          <td>{{notice.expectingOrders.length}}</td>
                        </tr>
                        <ng-container *ngIf="notice.expectingOrders.length > 0">
                          <tr>
                            <td class="custom-th"><span class="p-l" translate>order.label.orderId</span></td>
                            <td class="custom-th"><span translate>order.label.workflow</span></td>
                            <td class="custom-th"><span translate>order.label.position</span></td>
                            <td class="custom-th"><span translate>order.label.state</span></td>
                            <td class="custom-th"><span translate>order.label.scheduledFor</span></td>
                          </tr>
                          <tr *ngFor="let order of notice.expectingOrders">
                            <td><span class="p-l">{{order.orderId}}</span></td>
                            <td><span>{{order.workflowId}}</span></td>
                            <td>
                                      <span>
                                        {{order.positionString}}
                                      </span>
                            </td>
                            <td><span class="label" [ngClass]="coreService.getColor(order.state.severity,'bg')">{{order.state._text | translate}}</span></td>
                            <td>{{order.scheduledFor | stringToDate}}</td>
                          </tr>
                        </ng-container>
                      </ng-template>
                      </tbody>
                    </nz-table>
                  </td>
                </tr>
              </ng-template>
            </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
