<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"><img src="images/close-button.png"></span></button>
        <h4 class="modal-title">Enter Criteria</h4>
    </div>
    <div class="modal-body p-a">
       <div class="form-group row">
           <label class="col-sm-3 form-control-label">Enter Regex</label>
           <div class=" col-sm-6">
            <input type="text" class="form-control" placeholder="Regex " ng-model="orderFilter.regex">
           </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">From </label>
            <div class="col-sm-8">
                <input class="form-control input-date" ng-model="orderFilter.fromDate" data-date-format="yyyy-MM-dd" data-autoclose="1" data-max-date="{{orderFilter.toDate}}" placeholder="yyyy-mm-dd" bs-datepicker type="text">

                <input  class="form-control input-time" ng-model="orderFilter.fromTime" data-time-format="HH:mm:ss" data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">To </label>
            <div class="col-xs-8">
                <input class="form-control input-date" ng-model="orderFilter.toDate" data-date-format="yyyy-MM-dd" data-autoclose="1" data-min-date="{{orderFilter.fromDate}}" placeholder="yyyy-mm-dd" bs-datepicker type="text">
                <input class="form-control input-time" ng-model="orderFilter.toTime" data-time-format="HH:mm:ss" data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker type="text">
            </div>
         </div>
        <div class="row m-t-md">
            <div class="b-t"></div>
        </div>
        <div class="form-group m-t m-b-xs">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="ok()">Apply</button>
            <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
