
<div>
    <form name="form" ng-submit="ok()" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"><img
                    src="images/close-button.png"></span></button>
            <h4 class="modal-title">
                <span translate>label.setRunTimeOf</span> {{job.jobName}}
                <span ng-if="job.title">-</span>
                <span class="text text-muted">{{job.title}}</span>
            </h4>
        </div>
    </form>
</div>

