<div class="btn-group dropdown">
  <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option"
          type="button">
    <i class="fa fa-ellipsis-h"></i>
  </button>
  <nz-dropdown-menu #option="nzDropdownMenu" role="menu">
    <ul nz-menu>
      <li nz-menu-item *ngIf="permission && permission.Order.execute.start">
        <a (click)="startOrder(order)" translate>button.startOrderNow</a>
      </li>
      <li nz-menu-item *ngIf="permission && permission.Order.execute.start">
        <a (click)="startOrderAt()" translate>button.startOrderat</a>
      </li>
      <li nz-menu-item *ngIf="permission && permission.Order.execute">
        <a (click)="cancelOrder()" translate>button.cancelOrder</a>
      </li>
      <li nz-menu-item *ngIf="permission && permission.Order.execute.suspend">
        <a (click)="suspendOrder(order)" translate>button.suspendOrder</a>
      </li>
      <li nz-menu-item *ngIf="permission && permission.Order.execute.resume">
        <a (click)="resumeOrder()" translate>button.resumeOrder</a>
      </li>
      <li nz-menu-item>
        <a (click)="coreService.copyLink('order',order.orderId)" translate>button.copyLinkToObject</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
