/* You can add global styles to this file, and also import other style files */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); /* Firefox 16+*/
  }
  100% {
    -moz-transform: rotate(360deg); /* Firefox 16+*/
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  & > div {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #eb8814;
    transform: translate3d(0, 0, 0);
    animation: spin 1.1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #007da6;
      animation: spin 2.8s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ffc300;
      animation: spin 1.4s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
  }
}

@font-face {
  font-family: "joc";
  src:url("../assets/fonts/joc.eot");
  src:url("../assets/fonts/joc.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/joc.woff") format("woff"),
    url("../assets/fonts/joc.ttf") format("truetype"),
    url("../assets/fonts/joc.svg#joc") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "joc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "joc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-waiting-ico:before {
  content: "\e000";
}
.icon-jobs-ico:before {
  content: "\e001";
}
.icon-inclusive-ico:before {
  content: "\e002";
}
.icon-upload-ico:before {
  content: "\e003";
}
.icon-transfer-ico:before {
  content: "\e004";
}
.icon-hierarchical-ico:before {
  content: "\e005";
}
.icon-timer-ico:before {
  content: "\e006";
}
.icon-fork-ico:before {
  content: "\e007";
}
.icon-export-ico:before {
  content: "\e008";
}
.icon-standalone-ico:before {
  content: "\e009";
}
.icon-save-ico:before {
  content: "\e00a";
}
.icon-end-start-ico:before {
  content: "\e00b";
}
.icon-dates-ico:before {
  content: "\e00c";
}
.icon-resources-ico:before {
  content: "\e00d";
}
.icon-properties-ico:before {
  content: "\e00e";
}
.icon-dashboard-ico:before {
  content: "\e00f";
}
.icon-configs-ico:before {
  content: "\e010";
}
.icon-planner-ico:before {
  content: "\e011";
}
.icon-orders-ico:before {
  content: "\e012";
}
.icon-clock-ico:before {
  content: "\e013";
}
.icon-category-ico:before {
  content: "\e014";
}
.icon-options-ico:before {
  content: "\e015";
}
.icon-cancel-ico:before {
  content: "\e016";
}
.icon-merge-ico:before {
  content: "\e017";
}
.icon-lockedstate-ico:before {
  content: "\e018";
}
.icon-audit-ico:before {
  content: "\e019";
}
