:root {
  --antd-wave-shadow-color: #fff;
  --primary: #ff9505;
  --hover-primary: #eb8700;
  --secondary: #eb8700;
  --primary-disable-color: rgba(255, 113, 5, .7);
  --bar-color: #ffe8c9;
  --box-color: #3f5669;
  --white: #fff;
  --background-color: #233446;
  --bg-box: #32465a;
  --bg-footer: #3f5669;
  --text-color: rgba(255, 255, 255, .87);
  --text-hover: rgba(0, 0, 0, .87);
  --text-muted: rgba(255, 255, 255, .67);
  --placholder-color: rgba(255, 255, 255, .5);
  --menu-hover: #4e6d8c;
  --box-shadow: rgba(0, 0, 0, .2);
  --border-color: rgba(255, 255, 255, .3);
  --blue: #1591d4;
  --green: #9ccc65;
  --red: #ff5252;
  --bg-dimgrey: #999;
  --mangenta: #d900d9;
  --bg-mangenta: #b966b9;
  --row-selected: rgba(35, 52, 70, .5);
  --date-selected: rgba(255, 149, 5, .7);
  --date-selected-hover: rgba(255, 149, 5, 0.55);
  --date-selected-exclude: rgba(36, 148, 191, 0.56);
  --date-selected-exclude-hover: rgba(36, 148, 191, 0.66);
  --range-hover: rgba(36, 148, 191, .5);
  --range-start: rgb(36, 148, 191);
  --btn-secondary: rgba(36, 148, 191, .87);
  --btn-secondary-hover: rgb(36, 148, 191);
}

body {
  color: var(--text-color);
  background: var(--background-color)
}

.bg-blue-color {
  background-color: var(--background-color) !important
}

img.logo-for-dark{
  display: inline-block !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #fff;
}

pre, .syntax-box {
  background-color: var(--bg-box)
}

.list-group-item.active > .label,
.nav-pills > .active > a > .label {
  color: rgba(0, 0, 0, .87)
}

.nav-active-border2 > li.dropdown-separator .separator {
  background-color: #f2f2f2
}

.box,
.box-color {
  background-color: var(--bg-box);
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .2) !important;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .2) !important
}
gridster-item {
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .12) !important;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .12) !important;
}

.box-footer {
  background: var(--bg-footer)
}

.white {
  background: var(--bg-box)
}

.bg-white {
  background-color: var(--bg-box) !important;
}
.bg-gold, .bg-yellow-green, .bg-light-blue, .bg-calling, .badge-danger, .bg-orange {
  color: rgba(0, 0, 0, .87);
}
.ui-check input:checked + i:before {
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #337ab7
}

.dark-white {
  background-color: #233446
}

.white-overlay {
  background-color: rgba(255, 255, 255, .85)
}

.black-overlay {
  background-color: rgba(0, 0, 0, .85)
}

.border-grey {
  border-top: 1px solid rgba(0, 0, 0, .12)
}

.order-eclipse {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12)
}

.order-detail-rect {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: 4px solid rgba(0, 0, 0, .2)
}

.error-link {
  height: 1px;
  background: var(--bg-box)
}

#mainContainer .h-line {
  height: 1px;
  background: #a5a5a5
}

.log_error, .log_stderr {
  color: #ff144b !important;
}

.log_warn {
  color: tomato;
}
.log_trace {
  color: #f0f0f0;
}
.log_info {
  color: #fafafa;
}

.log_detail {
  color: #00BFFF;
}

.log_success {
  color: #90ee90;
}

.log_debug {
  color: #adff2f;
}

.rzslider .rz-pointer {
  background-color: #337ab7
}

.search-box {
  border: none;
  box-shadow: none;
  background: url(../assets/images/Search.png) 9px 8px no-repeat #e8e8e8;
  padding: 5px 10px 4px 28px !important
}

.loader1 {
  color: #337ab7
}

.left-sidebar-btn:hover,
.sidebar-btn {
  background: var(--bg-box);
  color: #fff
}

.disable-link {
  pointer-events: none;
  cursor: auto;
  color: #a9a9a9 !important;
  opacity: .7;
  background: 0 0
}

.fa-angle-circle {
  color: #fff;
  background: rgba(58, 58, 58, .7)
}

table.folder-tree-grid > tbody > tr,
table.folder-tree-grid > tbody > tr > td {
  border: none !important;
  background: 0 0 !important
}

table.folder-tree-grid .indented a {
  color: #606060
}

input[readonly=readonly],
input[readonly] {
  background-color: #fff !important
}

input[type=search] {
  background: url(../assets/images/search-lt.png) 6px center no-repeat;
}

.table .table,
.table > thead > tr > th {
  background-color: var(--bg-box)
}

.table {
  border-color: var(--bg-footer) !important
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-color: var(--bg-footer)
}

.table > tbody > tr {
  border-bottom: 2px solid var(--bg-footer)
}

.table-bordered > tbody > tr {
  border-bottom: 1px solid var(--bg-footer);
}

.table-bordered,
.table > thead > tr > th {
  border-color: var(--bg-footer)
}

.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th,
.table-hover tbody tr:hover {
  background-color: var(--bg-footer) !important
}

.text-black-lt {
  color: rgba(255, 255, 255, .82) !important
}

.text-black-dk {
  color: #fff
}

.btn-default {
  color: rgba(255, 255, 255, .87);
  background-color: rgba(56, 77, 94, .7);
  border-color: rgba(56, 77, 94, .7);
}

.btn-default.active.focus,
.btn-default:hover {
  color: #fff !important;
  background-color: rgba(56, 77, 94, .9);
  border-color: rgba(56, 77, 94, .9);
}

.btn-grey {
  color: rgba(255, 255, 255, .87);
  background-color: #384d5e;
  border-color: #384d5e
}

.btn-grey.active.focus,
.btn-grey:hover {
  color: #fff;
  background-color: var(--bg-box);
  border-color: #233446;
}

.btn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4) !important
}

.text-dark,
.text-dark-hover a:hover,
.text-dark:hover {
  color: #fff !important;
}
a.danger:hover {
   background-color: #f55666;
 }

a .text-danger:hover {
   color: #f55666;
}

.text-danger, .text-danger-hover a:hover {
  color: #f55666 !important;
}

.cssload-loading {
  color: rgba(255, 255, 255, .87)
}

.cssload-loading::after,
.cssload-loading::before {
  background: #337ab7
}

.more-option i,
.more-option-h i {
  background-color: var(--bg-footer)
}

.more-option i:hover,
.more-option-h i:hover {
  background: rgba(63, 86, 105, .8)
}

.rg-bottom,
.rg-right {
  background: var(--bg-footer)
}

.cluster-rect,
.rect, .cluster {
  background: var(--bg-footer);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, var(--bg-footer)), color-stop(1, #2f3f4f));
  background-image: -moz-linear-gradient(center bottom, var(--bg-footer) 37%, #2f3f4f 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .2);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .2)
}

.joc.current {
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.4), inset 0 -2px 6px rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .3) !important;
}

.light {
  background-color: var(--bg-box) !important
}

.breadcrumb > .active {
  color: rgba(255, 255, 255, .85)
}

.light-bg,
.light-bg tr:hover {
  background: rgba(66, 89, 109, .87) !important
}

.modal-content,
.modal-footer,
.modal-header {
  border-color: #2d3d4d
}

.modal-content, .ant-modal-content {
  background-color: var(--bg-footer)
}

.modal-header {
  background: #283746;
  color: rgba(255, 255, 255, .87)
}

.nvd3 .nv-discretebar .nv-groups rect,
.nvd3 .nv-multibar .nv-groups rect,
.nvd3.nv-noData,
.nvd3.nv-pie path,
input,
select,
textarea {
  color: var(--text-color) !important
}

.modal-footer {
  border-top: 1px solid rgba(233, 244, 255, .18)
}

input,
textarea {
  background-color: transparent !important
}

select {
  background-color: var(--bg-footer) !important
}

.box select {
  background-color: var(--bg-box) !important
}

.input-dropdown {
  background: var(--bg-footer)
}

.box .input-dropdown {
  background: var(--bg-box);
}

.popover {
  background-color: var(--bg-footer);
  -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .2);
  color: whitesmoke !important;
}

.popover.bs-tether-element-attached-left .popover-arrow::after,
.popover.popover-right .popover-arrow::after {
  border-right-color: var(--bg-footer)
}

.popover.bs-tether-element-attached-right .popover-arrow::after,
.popover.popover-left .popover-arrow::after {
  border-left-color: var(--bg-footer)
}

.popover.bs-tether-element-attached-top .popover-arrow::after,
.popover.popover-bottom .popover-arrow::after {
  border-bottom-color: var(--bg-footer)
}

.popover.bs-tether-element-attached-bottom .popover-arrow::after,
.popover.popover-top .popover-arrow::after {
  border-top-color: var(--bg-footer)
}

.popover-title {
  background-color: transparent
}

.gantt-row-even > .gantt-row-background,
.notification {
  background-color: var(--bg-footer)
}

.help-block {
  color: rgba(255, 255, 255, .82)
}

div.order-panel div {
  background: var(--bg-footer);
  color: #fff
}

.order-panel .all {
  color: rgba(255, 255, 255, .87);
  border-left-color: rgba(255, 255, 255, .87)
}

.nvd3 text {
  fill: #fff
}

.nvd3 .nv-axis path {
  stroke: #fff
}

.pagination > li > a,
.pagination > li > span {
  color: inherit !important;
  background-color: transparent !important;
  border-color: rgba(216, 239, 255, .13) !important;
  border-radius: 0 !important
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  border-color: rgba(218, 239, 255, .13);
  background-color: rgba(255, 255, 255, .06);
  color: inherit
}

.pagination > .active > a,
.pagination > .active > span {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4
}

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12) !important
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !important;
  border: none
}

.card:hover {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2) !important
}

.box-shadow-z0 {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12)
}

.box,
.box-shadow-z1 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02)
}

.box-shadow-z2,
.box-shadow-z2 .box,
.box-shadow-z2 .box-color {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 0 rgba(0, 0, 0, .02)
}

.box-shadow-z3,
.box-shadow-z3 .box,
.box-shadow-z3 .box-color {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02)
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: rgba(233, 244, 255, .13);
  border-bottom: 1px solid var(--bg-footer)
}

hr {
  border-top: 1px solid rgba(233, 244, 255, .18)
}

.b {
  border-color: rgba(233, 244, 255, .13)
}

.b-a {
  border: 1px solid rgba(233, 244, 255, .18)
}

.b-t {
  border-top: 1px solid rgba(233, 244, 255, .18)
}

.b-r {
  border-right: 1px solid rgba(233, 244, 255, .18)
}

.b-b {
  border-bottom: 1px solid rgba(233, 244, 255, .18)
}

.b-l {
  border-left: 1px solid rgba(233, 244, 255, .18)
}

.gantt-task-info {
  background: var(--bg-box)
}

.gantt-task-infoArrow:after,
.gantt-task-infoArrowR:after {
  border-top: 7px solid var(--bg-box)
}

span.attribute_name,
span.bracket,
span.namespace_name {
  color: #fff
}

span.attribute_val {
  color: var(--primary);
}

span.namespace_val {
  color: #6cc788
}

span.element_name {
  color: var(--primary);
}

span.cdata {
  color: #3898c3
}

pre.cdata {
  color: #e8e8e8
}

#cal-week-box {
  background-color: var(--bg-footer)
}

.text-dark {
  color: rgba(255, 255, 255, .87)
}

.nvd3.nv-noData {
  fill: rgba(255, 255, 255, .87)
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: var(--bg-footer)
}

.tree-grid .tree-icon {
  color: #fff
}

.backup {
  background: #233446;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .51), #233446);
  background: -o-linear-gradient(right, rgba(255, 255, 255, .51), #233446);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, .51), #233446);
  background: linear-gradient(to right, rgba(255, 255, 255, .51), #233446)
}

.calendar .calendar-header table th:hover {
  background: #233446;
}

.calendar .calendar-header .year-neighbor {
  color: rgba(255, 255, 255, 0.75);
}

.calendar .calendar-header .year-neighbor2 {
  color: rgba(255, 255, 255, 0.50);
}

.calendar table.month th.month-title {
  background: #233446
}

select.w-xl {
  background-color: var(--bg-box) !important
}

.status-table table tr {
  background: #233446 !important;
  border-bottom: 6px solid var(--bg-box) !important;
  width: 100%
}

input[readonly=readonly],
input[readonly] {
  background-color: transparent !important
}

.calendar {
  color: white !important;
  direction: ltr;

}

.calendar .calendar-header table th:hover {
  background-color: #233446 !important;
}

.text-muted {
  color: white !important;
}

#graph {
  background-color: rgba(50, 70, 90, 0.61) !important;
}

#outlineContainer, .outlineContainer {
  background: rgba(50, 70, 90, 0.91) !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0 100px var(--bg-box) inset;
}
.center-block input:-webkit-autofill, .center-block input:-webkit-autofill:hover,
.center-block input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px var(--background-color) inset;
}

.ngx-pagination a, .ngx-pagination button {
  color: rgba(255, 255, 255, 0.87) !important;
}

.ui-select-container {
  background-color: var(--bg-footer);
}

.ui-select-choices-row[_ngcontent-c5] > a[_ngcontent-c5] {
  color: white !important;
}

.node-content-wrapper::after {
  border-bottom: solid 2px var(--primary);
}

.nav-active-border .nav-link.active:before, .nav-active-border .nav-link:focus:before, .nav-active-border .nav-link:hover:before {
  border-bottom-color: var(--primary);
}

span ul li a {
  color: var(--primary) !important;
}

.input-time + a {
  margin-left: 16px;
}

.row.open {
  background-color: #233446 !important;
  box-shadow: 1px 1px 20px #222222 !important;
  border: 2px solid #ffffff94;
}

.text-orange {
  color: var(--primary) !important;
}

pre#pre {
  background-color: #24313c;
}

.avatar[_ngcontent-c2] {
  background: var(--primary) !important;
}

.ui-select-match-item {
  background-color: var(--primary);
  color: black;
}

.ui-select-match-item a {
  color: black;
}

.remaining-order-count {
  background-color: rgba(35, 52, 70, .3) !important;
}

.remaining-order-count:hover {
  background-color: rgba(35, 52, 70, .5) !important;
}

.ant-drawer-content-wrapper {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.1);
}

.sidebar-hover-effect {
  background: var(--bg-box)
}

.sidebar-hover-effect:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2)
}

.close-btn:before, .close-btn:after {
  background-color: #fff;
}

.close:hover, .close:focus {
  color: #fff;
}

.property-panel .sidebar-open, .property-panel .sidebar-close {
  background: url(../assets/images/left-tips-blue.svg) center no-repeat;
}

#property-panel .rg-right {
  background-color: var(--bg-box) !important;
}

.nav-active-border3 li.dropdown-separator .separator {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-active-border3 .nav-text i {
  color: rgba(255, 255, 255, 0.9);
}

.nav-active-border4 .nav-text {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .active .nav-text {
  color: #fff;
}

#toolbar {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
}

.separator {
  background-color: rgba(255, 255, 255, 0.1);
}

.predicate-edit {
  background: var(--bg-footer);
}

.arrow-down-ac:last-child:after {
  color: var(--bg-box);
}

.arrow-down:last-child:after {
  color: var(--bg-box);
}

.ant-dropdown-menu {
  background-color: var(--bg-box);
  border: 1px solid var(--bg-box) !important;
  border-bottom: 1px solid rgba(0, 0, 0, .95);
  -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, .3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.ant-select-dropdown {
  background-color: var(--bg-box) !important;
  color: rgba(255, 255, 255, .87);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.ant-input-number, .ant-select-selection {
  color: rgba(255, 255, 255, .87);
  background-color: transparent !important;
}
.ant-select-clear,
.ant-picker-clear,
.ant-picker-clear:hover {
  background-color: var(--bg-box) !important;
  color: rgba(255, 255, 255, .87);
}

.ant-spin-container::after,
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: var(--box-color) !important
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-input, .ant-input:hover,
.ant-pagination-item:focus a, .ant-pagination-item:hover a,
.ant-input-number:hover, .ant-select-selection:hover,
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab-active:hover,
.ant-tabs-nav .ant-tabs-tab:hover,
.ant-pagination-item-active a {
  color: var(--white);
}

.ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
  background-color: var(--border-color)
}

.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
}

.btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3) !important;
}

.anticon, .ant-radio, .ant-checkbox, .ant-radio-group, .ant-radio-wrapper, .ant-checkbox-wrapper {
  color: var(--text-color);
}

.select-input-both .ant-select-open .ant-select-selection {
  color: var(--text-color) !important;
}

.select-input-both .ant-select-open {
  border: 1px solid var(--primary);
  background: var(--bg-box) !important;
}

.ant-select-multiple .ant-select-selection-item {
  background: #4e6d8c;
  border-color: #4e6d8c;
  color: #fafafa;
}

/*
JSON editor
**/
.ace-jsoneditor.ace_editor {
  background: var(--bg-footer) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.ace-jsoneditor .ace_gutter {
  background: rgba(50, 70, 90, .6) !important;
  color: var(--text-color) !important
}

.ace-jsoneditor .ace_scroller {
  background-color: var(--bg-footer) !important;
}

div.jsoneditor {
  border-color: var(--border-color);
  color: var(--text-color) !important;
}

.ace-jsoneditor .ace_indent-guide {
  filter: opacity(12%);
}

.ace-jsoneditor .ace_scroller.ace_scroll-left {
  box-shadow: 17px 0 16px -16px rgba(0, 0, 0, 0.4) inset;
}

.ace-jsoneditor .ace_cursor {
  border-left: 2px solid var(--border-color);
}

.ace-jsoneditor .ace_text-input.ace_composition {
  background: var(--bg-box);
  color: var(--text-color);
}

.ace-jsoneditor .ace_overwrite-cursors .ace_cursor {
  border-bottom: 1px solid var(--border-color);
}

.ace-jsoneditor .ace_line .ace_fold {
  border: 1px solid var(--border-color);
}

.ace-jsoneditor .ace_variable {
  color: var(--text-color);
}

.ace-jsoneditor .ace_text-layer {
  color: #ccc;
}

.ace-jsoneditor .ace_tooltip {
  background-color: var(--box-color);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  color: var(--text-color);
}

.ace-jsoneditor .ace_gutter-active-line {
  background: rgba(35, 52, 70, .4) !important;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: rgba(35, 52, 70, .5) !important;
}

/**
Code mirror
 */
.CodeMirror, .CodeMirror-gutters {
  color: rgba(255, 255, 255, .87) !important;
}

.CodeMirror-gutters {
  background: #2b3e50 !important;
  border-color: rgba(221, 221, 221, .2)
}

.CodeMirror-cursor {
  border-left: solid thin #E6C845 !important;
}

.CodeMirror-linenumber {
  color: #f8f8f2 !important;
}

.CodeMirror-focused div.CodeMirror-selected,
.ace-jsoneditor .ace_marker-layer .ace_selection,
.CodeMirror-selected {
  background: #243443 !important;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #243443 !important;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #243443 !important;
}

span.cm-comment {
  color: #5c98cd !important;
}

span.cm-string, span.cm-string-2 {
  color: #E6DB74 !important;
}

span.cm-number {
  color: yellow !important;
}

span.cm-variable {
  color: #f8f8f2 !important;
}

span.cm-variable-2 {
  color: #f8f8f2 !important;
}

span.cm-def {
  color: #72C05D !important;
}

span.cm-operator {
  color: #66D9EF !important;
}

span.cm-keyword {
  color: #ff6541 !important;
}

span.cm-atom {
  color: #bd93f9 !important;
}

span.cm-meta {
  color: #f8f8f2 !important;
}

span.cm-tag {
  color: #ff6541 !important;
}

span.cm-attribute {
  color: #66D9EF !important;
}

span.cm-qualifier {
  color: #72C05D !important;
}

span.cm-property {
  color: #f8f8f2 !important;
}

span.cm-builtin {
  color: #72C05D !important;
}

span.cm-variable-3, span.cm-type {
  color: #ffb86c !important;
}

.CodeMirror-activeline-background {
  background: #243443 !important;
}

.CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.table tr.active {
  background: rgba(35, 52, 70, .65) !important
}

.vertex-text.job span a {
  color: #77acda
}

.modal-body table.table > tbody > tr > td, .modal-body table.table > thead > tr > th {
  border-color: rgba(233, 244, 255, .18) !important
}

.ace-jsoneditor .ace_string {
  color: #E6DB74 !important;
}

.ace-jsoneditor .ace_constant.ace_numeric {
  color: orangered;
}

#editor-script {
  color: #abb2bf
}

.light-yellow-bg {
  background: #485d6f
}

.bg-highlight {
  background-color: rgba(253, 70, 71, .58) !important
}

.jsgantt-chart .jsgantt-task-row:nth-child(even) {
  background-color: #233446;
}

.jsgantt-chart .jsgantt-row-task:nth-child(even) {
  background-color: #233446;
}

.jsgantt-chart .jsgantt-grid-data .jsgantt-row.odd:hover,
.jsgantt-chart .jsgantt-grid-data .jsgantt-row:hover {
  background-color: #65707d;
}

.order-history-template0 {
  background: rgba(35, 52, 70, .8) !important;
}

.order-history-template1 {
  background: var(--background-color) !important;
}

.order-history-template2 {
  background: #2c4157 !important;
}

.order-history-template3 {
  background: #1c2a39 !important;
}

.order-history-template4 {
  background: var(--background-color) !important;
}

.order-history-template5 {
  background: #2c4157 !important;
}

.order-history-template6 {
  background: #1c2a39 !important;
}

.order-history-template7 {
  background: var(--background-color) !important;
}

.order-history-template8 {
  background: #2c4157 !important;
}

.order-history-template9 {
  background: #1c2a39 !important;
}

.order-history-template10 {
  background: var(--background-color) !important;
}

.highlighted {
  color: yellow;
}

.highlight-yellow-bg{
  background: #485d6f
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: rgba(35, 52, 70, .35);
}

/* coloring of JSON in tree mode */
div.jsoneditor-navigation-bar {
  color: #f9f9f9;
}
div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}
