:root {
  --primary: #eb8814;
  --hover-primary: #d47a12;
  --primary-light-hover: #d47a12;
  --primary-disable-color: rgba(235, 136, 20, .7);
  --background-color: #4e5c6a;
  --bar-color: #ffe8c9;
  --bg-box: #46525f;
  --bg-footer: #65707d;
  --bg-dimgrey: #7c8d9e;
  --text-color: rgba(255, 255, 255, .87);
  --text-hover: rgba(0, 0, 0, .87);
  --text-muted: rgba(255, 255, 255, .67);
  --menu-hover: rgba(70, 82, 95, .7);
  --blue: #1690d4;
  --green: #3fa93f;
  --black: #ffffff;
  --bg-gold: #e6b000;
  --mangenta: #d900d9;
  --bg-mangenta: #b966b9;
  --bg-red: #ff2727;
  --border-color: rgba(233, 244, 255, .18);
  --dark-border-color: rgba(255, 255, 255, .3);
  --box-shadow: rgba(255, 255, 255, 0.1);
  --row-selected: rgba(66, 89, 109, .87);
  --date-selected: rgba(235, 136, 20, .4);
  --date-selected-hover: rgba(235, 136, 20, 0.55);
  --date-selected-exclude: rgba(36, 148, 191, 0.56);
  --date-selected-exclude-hover: rgba(36, 148, 191, 0.66);
}

.bg-blue-color {
  background-color: var(--background-color) !important
}

pre, .syntax-box {
  background-color: var(--bg-box)
}

.list-group-item.active > .label,
.nav-pills > .active > a > .label {
  color: rgba(0, 0, 0, .87)
}

.form-control,
.input-group-addon {
  border-color: rgba(221, 221, 221, .2)
}

.nav-active-border2 > li.dropdown-separator .separator {
  background-color: #f2f2f2
}

gridster-item {
  background-color: var(--bg-box) !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #fff;
}

.box,
.box-color {
  background-color: var(--bg-box);
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(255, 255, 255, .05) !important;
  box-shadow: 0 1px 3px 1px rgba(255, 255, 255, .05) !important
}

.box-footer {
  background: var(--bg-footer);
}

.white {
  background: var(--bg-box);
}

.bg-white {
  background-color: var(--bg-box) !important;;
}

.dark-white {
  background-color: var(--background-color)
}

.white-overlay {
  background-color: rgba(255, 255, 255, .85)
}

.black-overlay {
  background-color: rgba(0, 0, 0, .85)
}

.border-grey {
  border-top: 1px solid rgba(0, 0, 0, .12)
}

.order-eclipse {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .12)
}

.order-detail-rect {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: 4px solid rgba(0, 0, 0, .2)
}

.error-link {
  height: 1px;
  background: var(--bg-box)
}

#mainContainer .h-line {
  height: 1px;
  background: #a5a5a5
}

pre.log {
  color: #f5f5f5
}

.log_info,
.log_stdout {
  color: #fff
}

.log_debug {
  color: #90ee90
}

.log_detail {
  color: #7573e0;
}

.log_success {
  color: #90ee90;
}

.log_debug2 {
  color: #adff2f
}

.log_debug3 {
  color: #8c8c8c
}

.log_debug9,
.log_trace {
  color: #a4a4a4
}


.search-box {
  border: none;
  box-shadow: none;
  background: url(../assets/images/search-lt.png) 9px 8px no-repeat #e8e8e8;
  padding: 5px 10px 4px 28px !important
}

.left-sidebar-btn:hover,
.sidebar-btn {
  background: var(--bg-box);
  color: #fff
}

.disable-link {
  pointer-events: none;
  cursor: auto;
  color: #a9a9a9 !important;
  opacity: .7;
  background: 0 0
}

.fa-angle-circle {
  color: #fff;
  background: rgba(58, 58, 58, .7)
}

table.folder-tree-grid > tbody > tr,
table.folder-tree-grid > tbody > tr > td {
  border: none !important;
  background: 0 0 !important
}

table.folder-tree-grid .indented a {
  color: #606060
}

input[readonly=readonly],
input[readonly] {
  background-color: #fff !important
}

input[type=search] {
  background: url(../assets/images/search-lt.png) 6px center no-repeat;
  color: #fff;
}

.table .table,
.table > thead > tr > th {
  background-color: var(--bg-box)
}

.table {
  border-color: var(--bg-footer) !important
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-color: var(--bg-footer)
}

.table > tbody > tr {
  border-bottom: 2px solid var(--bg-footer)
}

.table-bordered > tbody > tr {
  border-bottom: 1px solid var(--bg-footer);
  border-color: var(--bg-footer)
}

.table-bordered,
.table > thead > tr > th {
  border-color: var(--bg-footer)
}

.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th,
.table-hover tbody tr:hover {
  background-color: var(--bg-footer) !important
}

.text-black-lt {
  color: rgba(255, 255, 255, .82) !important
}

.text-black-dk {
  color: #fff
}

.btn-default,
.btn-grey {
  color: rgba(255, 255, 255, .87);
  background-color: #5a6470;
  border-color: #5b6572
}

.btn-grey.active.focus,
.btn-grey:hover {
  color: #fff;
  background-color: #5b6572;
  border-color: #535c69
}

.btn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4) !important
}

.text-dark,
.text-dark-hover a:hover,
.text-dark:hover {
  color: #fff !important;
}

.cssload-loading {
  color: rgba(255, 255, 255, .87)
}

.cssload-loading::after,
.cssload-loading::before {
  background: #eb8814
}

.more-option i,
.more-option-h i {
  background-color: var(--bg-footer)
}

.more-option i:hover,
.more-option-h i:hover {
  background: rgba(101, 112, 125, .7);
}

.rg-bottom,
.rg-right {
  background: var(--bg-footer)
}

.cluster-rect,
.rect, .cluster {
  background: var(--bg-footer);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, var(--bg-footer)), color-stop(1, var(--background-color)));
  background-image: -moz-linear-gradient(center bottom, var(--bg-footer) 37%, var(--background-color) 69%);
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .2);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .2)
}

.light {
  background-color: var(--bg-box) !important
}

.breadcrumb > .active {
  color: rgba(255, 255, 255, .85)
}


.modal-content,
.modal-footer,
.modal-header {
  border-color: var(--bg-footer)
}

.modal-content {
  background-color: var(--bg-footer)
}

.modal-header {
  background: var(--bg-box);
  color: rgba(255, 255, 255, .87)
}

.nvd3 .nv-discretebar .nv-groups rect,
.nvd3 .nv-multibar .nv-groups rect,
.nvd3.nv-noData,
.nvd3.nv-pie path,
.anticon-calendar,
.anticon-clock-circle,
input,
select,
textarea {
  color: rgba(255, 255, 255, .87) !important
}

.modal-footer {
  border-top: 1px solid var(--border-color)
}

input,
textarea {
  background-color: transparent !important
}

select {
  background-color: var(--bg-footer) !important
}

.box select {
  background-color: var(--bg-box) !important
}

.input-dropdown {
  background: var(--bg-footer)
}

.box .input-dropdown {
  background: var(--bg-box);
}

.popover {
  background-color: var(--bg-footer);
  -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .2);
  color: whitesmoke !important;
}

.popover.bs-tether-element-attached-left .popover-arrow::after,
.popover.popover-right .popover-arrow::after {
  border-right-color: var(--bg-footer)
}

.popover.bs-tether-element-attached-right .popover-arrow::after,
.popover.popover-left .popover-arrow::after {
  border-left-color: var(--bg-footer)
}

.popover.bs-tether-element-attached-top .popover-arrow::after,
.popover.popover-bottom .popover-arrow::after {
  border-bottom-color: var(--bg-footer)
}

.popover.bs-tether-element-attached-bottom .popover-arrow::after,
.popover.popover-top .popover-arrow::after {
  border-top-color: var(--bg-footer)
}

.popover-title {
  background-color: transparent
}

.gantt-row-even > .gantt-row-background,
.notification {
  background-color: var(--bg-footer)
}

.help-block {
  color: rgba(255, 255, 255, .82)
}

div.order-panel div {
  background: var(--bg-footer);
  color: #fff
}

.order-panel .all {
  color: rgba(255, 255, 255, .87);
  border-left-color: rgba(255, 255, 255, .87)
}

.nvd3 text {
  fill: #fff
}

.nvd3 .nv-axis path {
  stroke: #fff
}

.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  color: #fafafa !important;
}

::placeholder {
  color: #fafafa
}

:-moz-placeholder {
  color: #fafafa
}

::-moz-placeholder {
  color: #fafafa
}

:-ms-input-placeholder {
  color: #fafafa
}


.pagination > li > a,
.pagination > li > span {
  color: inherit !important;
  background-color: transparent !important;
  border-color: rgba(216, 239, 255, .13) !important;
  border-radius: 0 !important
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  border-color: rgba(218, 239, 255, .13);
  background-color: rgba(255, 255, 255, .06);
  color: inherit
}

.pagination > .active > a,
.pagination > .active > span {
  color: #fff !important;
  background-color: #eb8814 !important;
  border-color: #e98514
}

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, .12) !important;
  box-shadow: 0 1px 3px rgba(255, 255, 255, .12) !important
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !important;
  border: none
}

.card:hover {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2) !important
}

.box-shadow-z0 {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12)
}

.box,
.box-shadow-z1 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02)
}

.box-shadow-z2,
.box-shadow-z2 .box,
.box-shadow-z2 .box-color {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 0 rgba(0, 0, 0, .02)
}

.box-shadow-z3,
.box-shadow-z3 .box,
.box-shadow-z3 .box-color {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02)
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
  border-bottom: 1px solid var(--bg-footer)
}

hr {
  border-top: 1px solid var(--border-color)
}

.b {
  border-color: var(--border-color)
}

.b-a {
  border: 1px solid var(--border-color)
}

.b-t {
  border-top: 1px solid var(--border-color)
}

.b-r {
  border-right: 1px solid var(--border-color)
}

.b-b {
  border-bottom: 1px solid var(--border-color)
}

.b-l {
  border-left: 1px solid var(--border-color)
}

.gantt-task-info {
  background: var(--bg-box)
}

.gantt-task-infoArrow:after,
.gantt-task-infoArrowR:after {
  border-top: 7px solid var(--bg-box)
}

span.attribute_name,
span.bracket,
span.namespace_name {
  color: #fff
}

span.attribute_val {
  color: rgba(255, 195, 0, .9)
}

span.namespace_val {
  color: #6cc788
}

span.element_name {
  color: #ff9800
}

span.cdata {
  color: #3898c3
}

pre.cdata {
  color: #e8e8e8
}

#cal-week-box {
  background-color: var(--bg-footer)
}

.text-dark {
  color: rgba(255, 255, 255, .87)
}

.nvd3.nv-noData {
  fill: rgba(255, 255, 255, .87)
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: var(--bg-footer)
}

.tree-grid .tree-icon {
  color: #fff
}

.tree-grid .tree-icon:hover {
  color: #eb8814
}

.btn-today {
  background: #007da6 !important;
  color: rgba(255, 255, 255, .87) !important
}

.backup {
  background: var(--background-color);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .51), var(--background-color));
  background: -o-linear-gradient(right, rgba(255, 255, 255, .51), var(--background-color));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, .51), var(--background-color));
  background: linear-gradient(to right, rgba(255, 255, 255, .51), var(--background-color))
}

.calendar .calendar-header .year-neighbor {
  color: rgba(255, 255, 255, 0.75);
}

.calendar .calendar-header .year-neighbor2 {
  color: rgba(255, 255, 255, 0.50);
}

.calendar .calendar-header table th:hover {
  background: var(--bg-box);
}

.calendar table.month th.month-title {
  background: #4e5c6a;
}

select.w-xl {
  background-color: var(--bg-box) !important
}

.specific-days-calendar .cal-day-weekend span[data-cal-date] {
  color: #fff !important
}

.status-table table tr {
  background-color: var(--background-color) !important;
  border-bottom: 6px solid var(--bg-box) !important;
  width: 100% !important;
}

input[readonly=readonly],
input[readonly] {
  background-color: transparent !important
}

.calendar {
  color: white !important;
  direction: ltr;
}

.calendar .calendar-header table th:hover {
  background-color: #151a24 !important;
}

.text-muted {
  color: white !important;
}

.remaining-order-count {
  background-color: rgba(78, 92, 106, .3) !important;
}

.remaining-order-count:hover {
  background-color: rgba(78, 92, 106, .5) !important;
}

#graph {
  background-color: rgba(70, 82, 95, 0.6) !important;
}

#outlineContainer {
  background: rgba(70, 82, 95, 0.96) !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0 100px var(--bg-box) inset;
}

.ngx-pagination a, .ngx-pagination button {
  color: rgba(255, 255, 255, 0.88) !important;
}

.node-content-wrapper::after {
  border-bottom: solid 2px orange;
}


.ui-select-container {
  background-color: transparent;
}

.ui-select-choices-row[_ngcontent-c5] > a[_ngcontent-c5] {
  color: white !important;
}


span ul li a {
  color: orange !important;
}

.row.open {
  background-color: var(--background-color) !important;
  box-shadow: 1px 1px 20px #434f5b !important;
  border: 2px solid #ffffff94;
}

.avatar[_ngcontent-c2] {
  background: orange !important;
}

.ui-select-match-item {
  background-color: orange;
  color: black;
}

.ui-select-match-item a {
  color: black;
}

pre#pre {
  background-color: #00000036;
}

.input-time + a {
  margin-left: 16px;
}

#rightSideBar {
  background: var(--bg-box);
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.1);
}

.sidebar-hover-effect {
  background: var(--bg-box)
}

.sidebar-hover-effect:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2)
}

.close-btn:before, .close-btn:after {
  background-color: #fff;
}

.property-panel .sidebar-open, .property-panel .sidebar-close {
  background: url(../assets/images/left-tips-blue-lt.svg) center no-repeat;
}

#property-panel .rg-right {
  background-color: var(--bg-box) !important;
}

.nav-active-border3 li.dropdown-separator .separator {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-active-border3 .nav-text i {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .nav-text {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .active .nav-text {
  color: #fff;
}

#toolbar {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
}

.separator {
  background-color: rgba(255, 255, 255, 0.1);
}

.predicate-edit {
  background: var(--bg-footer);
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: var(--bg-footer);
  color: white;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  background-color: rgba(189, 189, 189, 0.1);
  border-color: var(--bg-footer);
  color: #fff;
}

.ck.ck-reset_all, .ck.ck-reset_all * {
  color: #FFF;
}

.ck.ck-button:not(.ck-disabled):active, a.ck.ck-button:not(.ck-disabled):active {
  background-color: transparent;
}

.ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover {
  background-color: transparent;
}

.ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus {
  background-color: transparent;
}

.ck-rounded-corners .ck.ck-dropdown .ck-dropdown__panel .ck-list, .ck.ck-dropdown .ck-dropdown__panel .ck-list.ck-rounded-corners {
  background-color: var(--bg-box);
  border-color: var(--bg-box);
}

.ck.ck-button.ck-on, a.ck.ck-button.ck-on {
  background-color: orange;
}

.ck.ck-dropdown__panel {
  border: 1px solid var(--bg-box);
  color: #333;
}

.ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
  color: #333;
}

.ck.ck-button:not(.ck-disabled):active, a.ck.ck-button:not(.ck-disabled):active {
  color: #333;
}

.ck.ck-list__item .ck-button.ck-on {
  background-color: orange;
  color: white;
}

.arrow-down-ac:last-child:after {
  color: var(--bg-box);
}

.arrow-down:last-child:after {
  color: var(--bg-box);
}

.ck-content a {
  color: orange;
  text-decoration: underline;
}

.ck.ck-link-form {
  background: var(--bg-box);
}

.ck.ck-link-actions {
  background: var(--bg-box);
}

.ck.ck-link-actions .ck-button.ck-link-actions__preview .ck-button__label {
  color: #fff !important;
}

.ant-dropdown-menu {
  color: var(--text-color);
  background-color: var(--bg-box);
  border: 1px solid var(--bg-box) !important;
  border-bottom: 1px solid rgba(0, 0, 0, .95);
  -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, .3);
  box-shadow: 0 2px 4px rgba(255, 255, 255, .3)
}

.ant-select-dropdown {
  background-color: var(--bg-box) !important;
  color: rgba(255, 255, 255, .87);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
}

.ant-calendar-year-panel-header .ant-calendar-year-panel-century-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-decade-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-year-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-month-select,
.ant-calendar-month-panel-header .ant-calendar-month-panel-century-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-decade-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-year-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-month-select,
.ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-year-select, .ant-calendar-header .ant-calendar-month-select {
  color: var(--text-color);
}

.ant-input-number, .ant-select-selection {
  color: var(--text-color);
  background-color: var(--bg-box) !important;
  border: 1px solid rgba(221, 221, 221, .2)
}

.ant-time-picker-clear,
.ant-calendar-picker-clear,
.ant-calendar-picker-clear:hover,
.ant-time-picker-clear:hover {
  background-color: var(--bg-box) !important;
  color: rgba(255, 255, 255, .87);
}

.ant-time-picker-panel-input-wrap,
.ant-calendar-input-wrap {
  border-bottom: 1px solid rgba(221, 221, 221, .2);
}

.ant-calendar {
  background-color: var(--bg-box);
  border: 1px solid var(--bg-box);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.modal-open .ant-select-dropdown,
.modal-open .ant-input-number,
.modal-open .ant-select-selection {
  background-color: var(--bg-footer) !important
}

.modal-open input:-webkit-autofill, .modal-open input:-webkit-autofill:hover,
.modal-open input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px var(--bg-footer) inset;
}

.ant-tabs-bar,
.ant-time-picker-panel-select,
.ant-calendar-header,
.ant-calendar-footer,
.ant-input, .ant-input:hover,
.ant-input-number,
.ant-input-number:hover,
.ant-pagination-item, .ant-pagination-item-active,
.ant-table-small,
.ant-select-selection,
.ant-select-selection:hover,
.ant-calendar-picker,
.ant-calendar-picker:hover,
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-time-picker-input,
.ant-time-picker-input:hover,
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td,
.ant-table-small.ant-table-bordered .ant-table-content {
  border-color: rgba(255, 255, 255, .3);
}

.ant-input-number-handler-wrap {
  background-color: var(--bg-footer);
  border-color: var(--bg-footer) !important;
}

.ant-table-bordered .ant-table-thead > tr:not(:last-child) > th, .ant-table-small.ant-table-bordered .ant-table-thead > tr > th:last-child {
  border-color: rgba(255, 255, 255, .3);
}

.ant-table-small.ant-table-bordered {
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.ant-table-small.ant-table-bordered .ant-table-placeholder, .ant-table-small > .ant-table-content .ant-table-row:last-child td {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: var(--bg-box) !important
}

.ant-calendar-header .ant-calendar-prev-century-btn:hover,
.ant-calendar-header .ant-calendar-prev-decade-btn:hover,
.ant-calendar-header .ant-calendar-prev-year-btn:hover,
.ant-input, .ant-input:hover,
.ant-pagination-item:focus a, .ant-pagination-item:hover a,
.ant-input-number:hover, .ant-select-selection:hover,
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab-active:hover,
.ant-tabs-nav .ant-tabs-tab:hover,
.ant-pagination-item-active a {
  color: var(--white);
}

.ant-calendar-month-panel-month:hover,
.ant-calendar-year-panel-year:hover,
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
.ant-calendar-selected-day .ant-calendar-date,
.ant-calendar-today .ant-calendar-date,
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month, .ant-time-picker-panel-select li:hover, li.ant-time-picker-panel-select-option-selected, .ant-calendar-date:hover, .ant-tabs-ink-bar,
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
  color: var(--primary);
  background: var(--bar-color);
}

.ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
  background-color: rgba(255, 255, 255, .3)
}

.ant-calendar-year-panel,
.ant-calendar-month-panel,
.ant-time-picker-panel-inner {
  background-color: var(--bg-box);
  color: rgba(255, 255, 255, .87);
}

.ant-calendar-year-panel-last-decade-cell .ant-calendar-year-panel-year, .ant-calendar-year-panel-next-decade-cell .ant-calendar-year-panel-year,
.ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date, .ant-calendar-last-month-cell .ant-calendar-date:hover, .ant-calendar-next-month-btn-day .ant-calendar-date:hover {
  color: rgba(255, 255, 255, .6);
}

.ant-calendar-header a.ant-calendar-prev-year-btn:hover,
.ant-calendar-header a.ant-calendar-prev-month-btn:hover,
.ant-calendar-header a.ant-calendar-next-year-btn:hover,
.ant-calendar-header a.ant-calendar-next-month-btn:hover,
.ant-calendar-header a.ant-calendar-year-panel-next-decade-btn:hover,
.ant-calendar-header a.ant-calendar-year-panel-prev-decade-btn:hover {
  border-color: #fff !important;
  color: #fff !important;
}

.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
}

.btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3) !important;
}

.select-input-both .ant-select-open {
  border: 1px solid var(--primary);
  background: var(--bg-box) !important;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  background: var(--bg-box);
  border-color: var(--bg-box);
  color: var(--text-color);
}

/*
JSON editor
**/
.ace-jsoneditor.ace_editor {
  background: var(--bg-footer) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.ace-jsoneditor .ace_gutter {
  background: var(--bg-box) !important;
  color: var(--text-color) !important
}

.ace-jsoneditor .ace_scroller {
  background-color: var(--bg-footer) !important;
}

div.jsoneditor {
  border-color: var(--border-color);
  color: var(--text-color) !important;
}

.ace-jsoneditor .ace_indent-guide {
  filter: opacity(12%);
}

.ace-jsoneditor .ace_scroller.ace_scroll-left {
  box-shadow: 17px 0 16px -16px rgba(0, 0, 0, 0.4) inset;
}

.ace-jsoneditor .ace_cursor {
  border-left: 2px solid var(--border-color);
}

.ace-jsoneditor .ace_text-input.ace_composition {
  background: var(--bg-box);
  color: var(--text-color);
}

.ace-jsoneditor .ace_overwrite-cursors .ace_cursor {
  border-bottom: 1px solid var(--border-color);
}

.ace-jsoneditor .ace_line .ace_fold {
  border: 1px solid var(--border-color);
}

.ace-jsoneditor .ace_variable {
  color: var(--text-color);
}

.ace-jsoneditor .ace_text-layer {
  color: #ccc;
}

.ace-jsoneditor .ace_tooltip {
  background-color: var(--bg-box);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  color: var(--text-color);
}

.ace-jsoneditor .ace_gutter-active-line {
  background: rgba(70, 82, 95, .4) !important;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: rgba(70, 82, 95, .5) !important;
}

/**
Code mirror
 */
.CodeMirror {
  color: rgba(255, 255, 255, .87) !important
}

.CodeMirror-gutters {
  background: var(--bg-footer) !important;
  border-color: rgba(221, 221, 221, .2)
}

.CodeMirror-linenumber {
  color: #fff !important
}

.table tr.active {
  background: rgba(78, 92, 106, .65) !important
}

.vertex-text.job span a {
  color: #eb8814
}

.modal-body table.table > tbody > tr > td, .modal-body table.table > thead > tr > th {
  border-color: var(--border-color) !important
}

div.CodeMirror-selected {
  background: #b36539
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: rgba(179, 101, 57, .99)
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: rgba(179, 101, 57, .99)
}

.CodeMirror-gutters {
  background: #002240;
  border-right: 1px solid #aaa
}

.CodeMirror-guttermarker {
  color: #ffee80
}

.CodeMirror-guttermarker-subtle {
  color: #d0d0d0
}

.CodeMirror-linenumber {
  color: #d0d0d0
}

.CodeMirror-cursor {
  border-left: 1px solid #fff
}

span.cm-comment, .cm-s-default .cm-attribute {
  color: #1a94ff !important;
}

span.cm-atom {
  color: #aa93dd
}

span.cm-attribute, .cm-s-default span.cm-number {
  color: #ff80e1
}

span.cm-keyword {
  color: #ffee80
}

span.cm-string, .ace-jsoneditor .ace_string {
  color: #3ad900 !important;
}

.ace-jsoneditor .ace_constant.ace_numeric {
  color: orangered;
}

span.cm-meta {
  color: #ff9d00
}

span.cm-tag, span.cm-variable-2, .cm-s-default span.cm-variable-2 {
  color: #9effff !important;
}

.cm-type, span.cm-def, span.cm-variable-3, .cm-s-default .cm-variable-3 {
  color: #fff !important;
}

span.cm-bracket {
  color: #d8d8d8 !important;
}

span.cm-builtin, span.cm-special {
  color: #ff9e59 !important;
}

span.cm-link {
  color: #845dc4 !important;
}

span.cm-error {
  color: red
}

.CodeMirror-activeline-background {
  background: #002d57
}

span.cm-operator {
  color: #b5b500
}

.CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: #fff !important
}

#editor-script {
  color: #abb2bf
}

.light-yellow-bg {
  background: #5c6774
}

.bg-highlight {
  background-color: rgba(255, 0, 0, .56) !important
}

span.cm-property {
  color: #fedcba
}

span.cm-variable {
  color: #abcdef
}

.jsgantt-chart .jsgantt-task-row:nth-child(even) {
  background-color: var(--background-color);
}

.jsgantt-chart .jsgantt-row-task:nth-child(even) {
  background-color: var(--background-color);
}

.jsgantt-chart .jsgantt-grid-data .jsgantt-row.odd:hover,
.jsgantt-chart .jsgantt-grid-data .jsgantt-row:hover {
  background-color: var(--bg-footer);
}

.jsgantt-chart .jsgantt-grid-scale .jsgantt-grid-head-cell,
.jsgantt-chart .jsgantt-task .jsgantt-task-scale .jsgantt-scale-cell {
  color: rgba(255, 255, 255, 0.87);
}

.order-history-template0 {
  background: #434f5b !important;
}

.order-history-template1 {
  background: var(--background-color) !important;
}

.order-history-template2 {
  background: #596979 !important;
}

.order-history-template2 {
  background: #434f5b !important;
}

.order-history-template3 {
  background: var(--background-color) !important;
}

.order-history-template4 {
  background: #596979 !important;
}

.order-history-template5 {
  background: #434f5b !important;
}

.order-history-template6 {
  background: var(--background-color) !important;
}

.order-history-template7 {
  background: #596979 !important;
}

.order-history-template8 {
  background: #434f5b !important;
}

.order-history-template9 {
  background: var(--background-color) !important;
}

.order-history-template10 {
  background: #596979 !important;
}

.order-history-template11 {
  background: #434f5b !important;
}

.order-history-template12 {
  background: var(--background-color) !important;
}

.order-history-template13 {
  background: #596979 !important;
}

.highlighted {
  color: yellow;
}
