:root {
  --antd-wave-shadow-color: #fff;
  --primary: #d87600;
  --primary-disable-color: rgba(216, 118, 0, .8);
  --hover-primary: #c46b00;
  --secondary: rgb(237, 148, 44);
  --bar-color: #e6fcff;
  --box-color: #00536a;
  --background-color: #00445a;
  --bg-box: #003040;
  --bg-footer: #00485f;
  --text-color: rgba(255, 255, 255, .87);
  --text-hover: rgba(0, 0, 0, .87);
  --placholder-color: rgba(255, 255, 255, .5);
  --text-muted: rgba(255, 255, 255, .6);
  --box-shadow: rgba(0, 0, 0, .1);
  --border-color: rgba(255, 255, 255, .3);
  --dark-border-color: rgba(0, 0, 0, .2);
  --menu-hover: rgba(0, 48, 64, .7);
  --bg-dimgrey: #999;
  --green: #9ccc65;
  --red: #ff5252;
  --mangenta: #C519C5;
  --bg-mangenta: #b966b9;
  --bg-red: #ff2727;
  --bg-light-blue: #829ebb;
  --row-selected: #e6f7ff;
  --date-selected: rgba(216, 118, 0, 0.65);
  --date-selected-hover: rgba(216, 118, 0, 0.76);
  --date-selected-exclude: rgba(19, 149, 190, .4);
  --date-selected-exclude-hover: rgba(19, 149, 190, 0.55);
  --range-hover: rgba(36, 148, 191, .6);
  --range-start: rgb(36, 148, 191);
  --btn-secondary: rgba(36, 148, 191, .87);
  --btn-secondary-hover: rgb(36, 148, 191);
}

body {
  color: var(--text-color);
  background: var(--background-color)
}

.bg-blue-color {
  background-color: var(--background-color) !important
}

img.logo-for-dark{
  display: inline-block !important;
}

pre, .syntax-box {
  background-color: var(--bg-box)
}

.list-group-item.active > .label,
.nav-pills > .active > a > .label {
  color: rgba(0, 0, 0, .87)
}

.nav-active-border2 > li.dropdown-separator .separator {
  background-color: #f2f2f2
}

.box,
.box-color {
  background-color: var(--bg-box);
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 3px 1px var(--box-shadow) !important;
  box-shadow: 0 1px 3px 1px var(--box-shadow) !important
}

gridster-item {
  -webkit-box-shadow: 0 1px 3px 1px var(--box-shadow) !important;
  box-shadow: 0 1px 3px 1px var(--box-shadow) !important;
}

.box-footer {
  background: var(--bg-footer)
}

.white {
  background: var(--bg-box)
}

.bg-white {
  background-color: var(--bg-box) !important;
}
.bg-gold, .bg-yellow-green, .bg-light-blue, .bg-calling, .badge-danger, .bg-orange {
  color: rgba(0, 0, 0, .87);
}
.dark-white {
  background-color: var(--background-color)
}

.white-overlay {
  background-color: rgba(255, 255, 255, .85)
}

.black-overlay {
  background-color: rgba(0, 0, 0, .85)
}

.b-primary {
  border-color: var(--primary)
}

.b-t-primary {
  border-top-color: var(--primary)
}

.b-b-primary {
  border-bottom-color: var(--primary)
}

.b-l-primary {
  border-left-color: var(--primary)
}

a.text-primary:hover,
a.text-primary:focus,
.text-primary,
.text-hover-primary a:hover {
  color: var(--primary) !important
}

.md-input.focus,
.md-input:focus {
  border-color: var(--primary);
  border-bottom-width: 2px;
  padding-bottom: 1px
}

.md-input.focus ~ label,
.md-input:focus ~ label {
  color: var(--primary);
  opacity: 1;
  top: 0 !important;
  font-size: .85em !important
}

.loader {
  border-left: 1.1em solid #478bca
}

.ch-purple {
  color: var(--text-color);
  background-color: var(--primary)
}

.purple-color {
  color: var(--primary)
}

.text-hover-primary:hover {
  cursor: pointer !important;
  color: var(--primary) !important
}

.border-grey {
  border-top: 1px solid rgba(0, 0, 0, .12)
}

.order-eclipse {
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, .12)
}

.order-detail-rect {
  background-color: var(--white);
  border: 1px solid var(--dark-border-color);
  border-top: 4px solid var(--dark-border-color)
}

.error-link {
  height: 1px;
  background: var(--bg-box)
}

#mainContainer .h-line {
  height: 1px;
  background: #a5a5a5
}

.circle {
  opacity: 0.6;
}

pre.log {
  color: #f5f5f5
}

.log_info,
.log_stdout {
  color: var(--white)
}

.log_debug {
  color: green
}

.log_detail {
  color: var(--primary);
}

.log_success {
  color: #90ee90 !important;
}

.log_debug2 {
  color: #90ee90
}

.log_debug3 {
  color: #969696
}

.log_debug9,
.log_trace {
  color: #a8a8a8
}

.rzslider .rz-pointer {
  background-color: var(--primary)
}

.search-box {
  border: none;
  box-shadow: none;
  background: url(../assets/images/Search.png) 9px 8px no-repeat #e8e8e8;
  padding: 5px 10px 4px 28px !important
}

.loader1 {
  color: var(--primary)
}

.left-sidebar-btn:hover,
.sidebar-btn {
  background: var(--white);
  color: #3a3a3a
}

.disable-link {
  pointer-events: none;
  cursor: auto;
  color: #a9a9a9 !important;
  opacity: .7;
  background: 0 0
}

.fa-angle-circle {
  color: var(--white);
  background: rgba(58, 58, 58, .7)
}

.cal-year-box .month-name {
  background-color: var(--primary);
  color: var(--text-color);
  text-align: center;
  margin-top: 8px
}

.cal-day-plan {
  background: rgba(0, 125, 166, .7)
}

.cal-day-today span[data-cal-date] {
  color: var(--primary)
}

.cal-year-box .cal-day-today span[data-cal-date] {
  color: var(--white)
}

.black,
.danger,
.danger-bg,
.dark,
.grey,
.info,
.primary,
.warn,
.warning {
  color: var(--text-color)
}

.primary-text-hover-color:hover,
.primary-text-hover-color:hover i,
.primary-text-hover-color:hover span {
  color: var(--primary) !important
}

.primary,
.primary .bg {
  background-color: var(--primary) !important
}

table.folder-tree-grid > tbody > tr,
table.folder-tree-grid > tbody > tr > td {
  border: none !important;
  background: 0 0 !important
}

table.folder-tree-grid .indented a {
  color: #606060
}

input[readonly=readonly],
input[readonly] {
  background-color: transparent !important
}

.start-on-hover:hover .fa-star-o {
  color: var(--primary)
}

input[type=search] {
  background: url(../assets/images/Search.png) 6px center no-repeat;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

input[type=search]:focus {
  color: var(--text-color);
  border-bottom: 1px solid var(--primary)
}

.table .table,
.table > thead > tr > th {
  background-color: var(--bg-box)
}

.table {
  border-color: var(--box-color) !important
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-color: var(--box-color) !important;
}

.table > tbody > tr {
  border-bottom: 2px solid var(--box-color);
}

.table-bordered > tbody > tr {
  border-bottom: 1px solid var(--box-color)
}

.table-bordered,
.table > thead > tr > th {
  border-color: var(--box-color)
}

.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th,
.table-hover tbody tr:hover {
  background-color: var(--box-color) !important
}

.text-black-lt {
  color: rgba(255, 255, 255, .82) !important
}

.text-black-dk {
  color: var(--white)
}

.btn-default,
.btn-grey {
  color: var(--text-color);
  background-color: var(--box-color);
  border-color: var(--box-color)
}

.btn-grey.active.focus,
.btn-grey:hover {
  color: var(--white);
  background-color: var(--bg-footer);
  border-color: var(--bg-footer)
}

.btn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4) !important
}

.btn-primary {
  border-color: var(--primary)
}

.text-dark,
.text-dark-hover a:hover,
a.text-dark:hover {
  color: var(--white) !important;
}
a.danger:hover {
  background-color: #f55666;
}

a .text-danger:hover {
  color: #f55666;
}

.text-danger, .text-danger-hover a:hover {
  color: #f55666 !important;
}
.more-option i,
.more-option-h i {
  background-color: var(--box-color)
}

.more-option i:hover,
.more-option-h i:hover {
  background: var(--bg-footer)
}

.rg-bottom,
.rg-right {
  background: var(--box-color)
}

.cluster-rect,
.rect, .cluster, .joint {
  background: var(--box-color);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, var(--box-color)), color-stop(1, var(--bg-box)));
  background-image: -moz-linear-gradient(center bottom, var(--box-color) 37%, var(--bg-box) 69%);
  -webkit-box-shadow: inset 0 2px 9px var(--border-color), inset 0 -2px 6px var(--dark-border-color);
  -moz-box-shadow: inset 0 2px 9px var(--border-color), inset 0 -2px 6px var(--dark-border-color);
  box-shadow: inset 0 2px 9px var(--border-color), inset 0 -2px 6px var(--dark-border-color)
}
.joc.current {
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.4), inset 0 -2px 6px rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .3) !important;
}
.light {
  background-color: var(--bg-box) !important
}

.breadcrumb > .active {
  color: var(--text-color)
}

.light-bg,
.light-bg tr:hover {
  background: rgba(0, 68, 90, 0.87) !important;
}

.modal-content,
.modal-footer,
.modal-header {
  border-color: var(--border-color)
}

.modal-content, .ant-modal-content {
  background-color: var(--bg-footer)
}

.modal-header {
  background: var(--bg-box);
  color: var(--text-color)
}

.nvd3 .nv-discretebar .nv-groups rect,
.nvd3 .nv-multibar .nv-groups rect,
.nvd3.nv-noData,
.nvd3.nv-pie path,
input,
select,
textarea {
  color: var(--text-color) !important
}

.modal-footer {
  border-top: 1px solid var(--border-color)
}

select {
  background-color: var(--bg-footer) !important
}

.box select {
  background-color: var(--bg-box) !important
}

.input-dropdown {
  background: var(--bg-footer);
}

.box .input-dropdown {
  background: transparent;
}

input,
textarea {
  background-color: transparent !important
}

.popover, .ant-popover-inner-content {
  background-color: var(--box-color);
  -webkit-box-shadow: 1px 1px 8px 4px var(--dark-border-color);
  box-shadow: 2px 2px 8px 4px var(--dark-border-color);
  color: var(--text-color) !important;
}

.ant-popover-arrow-content{
  background-color: var(--box-color);
}

.bs-popover-right .arrow::before,
.bs-popover-auto[x-placement^=right] .arrow::before,
.popover.bs-tether-element-attached-left .popover-arrow::after,
.popover.popover-right .popover-arrow::after {
  border-right-color: var(--box-color)
}

.bs-popover-left .arrow::before,
.bs-popover-auto[x-placement^=left] .arrow::before
.popover.bs-tether-element-attached-right .popover-arrow::after,
.popover.popover-left .popover-arrow::after {
  border-left-color: var(--box-color)
}

.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^=bottom] .arrow::before,
.popover.bs-tether-element-attached-top .popover-arrow::after,
.popover.popover-bottom .popover-arrow::after {
  border-bottom-color: var(--box-color)
}

.bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^=top] .arrow::before,
.popover.bs-tether-element-attached-bottom .popover-arrow::after,
.popover.popover-top .popover-arrow::after {
  border-top-color: var(--box-color)
}

.popover-title {
  background-color: transparent
}

.help-block {
  color: var(--text-color)
}

.gantt-row-even > .gantt-row-background {
  background-color: var(--box-color)
}

div.order-panel div {
  background: var(--box-color);
  color: var(--white)
}

.order-panel .all {
  color: var(--text-color);
  border-left-color: var(--text-color)
}

.nvd3 text {
  fill: var(--white)
}

.nvd3 .nv-axis path {
  stroke: var(--white)
}

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12) !important
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02) !important;
  border: none
}

.card:hover {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2) !important
}

.box-shadow-z0 {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12)
}

.box,
.box-shadow-z1 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02)
}

.box-shadow-z2,
.box-shadow-z2 .box,
.box-shadow-z2 .box-color {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 -1px 0 rgba(0, 0, 0, .02)
}

.box-shadow-z3,
.box-shadow-z3 .box,
.box-shadow-z3 .box-color {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 -1px 0 rgba(0, 0, 0, .02)
}

hr {
  border-top: 1px solid var(--border-color)
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
  border-bottom: 1px solid var(--bg-footer)
}

.b {
  border-color: var(--border-color)
}

.b-a {
  border: 1px solid var(--border-color)
}

.b-t {
  border-top: 1px solid var(--border-color)
}

.b-r {
  border-right: 1px solid var(--border-color)
}

.b-b {
  border-bottom: 1px solid var(--border-color)
}

.b-l {
  border-left: 1px solid var(--border-color)
}

.gantt-task-info {
  background: var(--bg-box)
}

.gantt-task-infoArrow:after,
.gantt-task-infoArrowR:after {
  border-top: 7px solid var(--bg-box)
}

span.attribute_name,
span.bracket,
span.namespace_name {
  color: var(--white)
}

span.attribute_val {
  color: #3898c3
}

span.namespace_val {
  color: #6cc788
}

span.element_name {
  color: #ff9800
}

span.cdata {
  color: #3898c3
}

pre.cdata {
  color: #e8e8e8
}

#cal-week-box {
  background-color: var(--bg-footer)
}


.dropdown-divider {
  background-color: var(--border-color)
}

.text-dark {
  color: var(--text-color)
}

.nvd3.nv-noData {
  fill: var(--text-color)
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: var(--box-color);
}


.dropdown-list {
  border: 1px solid var(--bg-box)
}

.dropdown-list a:hover {
  color: var(--white);
  background: var(--primary)
}

.backup {
  background: var(--background-color);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .51), var(--background-color));
  background: -o-linear-gradient(right, rgba(255, 255, 255, .51), var(--background-color));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, .51), var(--background-color));
  background: linear-gradient(to right, rgba(255, 255, 255, .51), var(--background-color))
}

.calendar .calendar-header table th:hover {
  background: rgba(51, 51, 50, 1);
}

.calendar .calendar-header .year-neighbor {
  color: rgba(255, 255, 255, 0.75);
}

.calendar .calendar-header .year-neighbor2 {
  color: rgba(255, 255, 255, 0.50);
}

.calendar table.month th.month-title {
  background: #4a4a49
}

select {
  background-color: var(--bg-box) !important
}

.status-table table > tbody > tr {
  background: var(--background-color);
  border-color: var(--bg-box);
}

input[readonly=readonly],
input[readonly] {
  background-color: transparent !important
}

.calendar {
  color: var(--text-color) !important;
  direction: ltr;
}

#graph {
  background-color: rgba(29, 29, 28, 0.5) !important;
}

#outlineContainer {
  background: rgba(0, 48, 64, 0.91) !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0 100px var(--bg-box) inset;
  border-color: var(--border-color);
}

.ngx-pagination a, .ngx-pagination button {
  color: var(--text-color) !important;
}

pre#pre {
  background-color: var(--bg-box);
}

.avatar[_ngcontent-c2] {
  background: var(--primary) !important;
}

span ul li a {
  color: var(--primary) !important;
}

.row.open {
  background-color: transparent !important;
  box-shadow: 1px 1px 20px #00536e !important;
  border: 2px solid #ffffff94;
}

.input-time + a {
  margin-left: 16px;
}

.ui-select-container {
  background-color: transparent;
}

.ui-select-choices-row[_ngcontent-c5] > a[_ngcontent-c5] {
  color: var(--text-color) !important;
}

.ui-select-match-item {
  color: var(--primary);
}

.ant-drawer-content-wrapper {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.1);
}

.sidebar-hover-effect {
  background: var(--bg-box)
}

.sidebar-hover-effect:hover {
  box-shadow: 0 0 25px 0 var(--dark-border-color)
}

.close-btn:before, .close-btn:after {
  background-color: var(--white);
}

.property-panel .sidebar-open, .property-panel .sidebar-close {
  background: url(../assets/images/left-tips-cyan.svg) center no-repeat;
}

#property-panel .rg-right {
  background-color: var(--bg-box) !important;
}

.nav-active-border3 li.dropdown-separator .separator {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-active-border3 .nav-text i {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .nav-text {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .active .nav-text {
  color: var(--white);
}

#toolbar {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
}

.separator {
  background-color: rgba(255, 255, 255, 0.1);
}

.predicate-edit {
  background: var(--box-color);
}

.arrow-down-ac:last-child:after, .arrow-down:last-child:after {
  color: var(--bg-box);
}

.ant-dropdown-menu {
  color: var(--text-color);
  background-color: var(--bg-box);
  border: 1px solid var(--bg-box) !important;
  border-bottom-color: rgba(0, 0, 0, .95);
  -webkit-box-shadow: 0 2px 4px var(--border-color);
  box-shadow: 0 2px 4px var(--border-color)
}

.ant-select-dropdown {
  background-color: var(--bg-box) !important;
  color: var(--text-color);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
}

.ant-select-clear,
.ant-picker-clear,
.ant-picker-clear:hover {
  background-color: var(--bg-box) !important;
  color: rgba(255, 255, 255, .87);
}

.ant-input-number, .ant-select-selection {
  color: var(--text-color);
  background-color: transparent !important;
  border: 1px solid var(--border-color)
}

.ant-spin-container::after,
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: var(--box-color) !important
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-input, .ant-input:hover,
.ant-pagination-item:focus a, .ant-pagination-item:hover a,
.ant-input-number:hover, .ant-select-selection:hover,
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab-active:hover,
.ant-tabs-nav .ant-tabs-tab:hover,
.ant-pagination-item-active a {
  color: var(--white);
}

.ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
  background-color: var(--border-color)
}

.ant-time-picker-panel-inner {
  background-color: var(--bg-box);
  color: var(--text-color);
  -webkit-box-shadow: 0 2px 4px var(--border-color);
  box-shadow: 0 2px 4px var(--border-color)
}

.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
}

.btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3) !important;
}

.anticon, .ant-radio, .ant-checkbox, .ant-radio-group, .ant-radio-wrapper, .ant-checkbox-wrapper {
  color: var(--text-color);
}

.select-input-both .ant-select-open .ant-select-selection {
  color: var(--text-color) !important;
}

.select-input-both .ant-select-open {
  border: 1px solid var(--primary);
  background: var(--bg-box) !important;
}

.ant-select-multiple .ant-select-selection-item {
  background: var(--bg-box);
  border-color: var(--bg-box);
  color: var(--text-color);
}

/*
JSON editor
**/
.ace-jsoneditor.ace_editor {
  background: var(--bg-footer) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.ace-jsoneditor .ace_gutter {
  background: var(--box-color) !important;
  color: var(--text-color) !important
}

.ace-jsoneditor .ace_scroller {
  background-color: var(--bg-footer) !important;
}

div.jsoneditor {
  border-color: var(--border-color);
  color: var(--text-color) !important;
}

.ace-jsoneditor .ace_indent-guide {
  filter: opacity(12%);
}

.ace-jsoneditor .ace_scroller.ace_scroll-left {
  box-shadow: 17px 0 16px -16px rgba(0, 0, 0, 0.4) inset;
}

.ace-jsoneditor .ace_cursor {
  border-left: 2px solid var(--border-color);
}

.ace-jsoneditor .ace_text-input.ace_composition {
  background: var(--bg-box);
  color: var(--text-color);
}

.ace-jsoneditor .ace_overwrite-cursors .ace_cursor {
  border-bottom: 1px solid var(--border-color);
}

.ace-jsoneditor .ace_line .ace_fold {
  border: 1px solid var(--border-color);
}

.ace-jsoneditor .ace_variable {
  color: var(--text-color);
}

.ace-jsoneditor .ace_text-layer {
  color: #ccc;
}

.ace-jsoneditor .ace_tooltip {
  background-color: var(--box-color);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  color: var(--text-color);
}

.ace-jsoneditor .ace_gutter-active-line {
  background: rgba(0, 46, 56, 0.6) !important;
}

.ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: rgba(0, 46, 56, .8) !important;
}

.table tr.active {
  background: rgba(51, 51, 50, .65) !important
}

.vertex-text.job span a {
  color: var(--primary)
}

/*
Code Mirror
**/
.CodeMirror {
  color: var(--text-color) !important
}

.CodeMirror-gutters {
  background: rgba(0, 48, 64, .7) !important;
  border-color: var(--border-color)
}

.CodeMirror-cursor {
  border-left: 1px solid white !important;
}

.CodeMirror-linenumber {
  color: #f8f8f2 !important;
}

.ace-jsoneditor .ace_marker-layer .ace_selection,
div.CodeMirror-selected {
  background: rgba(179, 101, 57, .99) !important;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: rgba(179, 101, 57, .99) !important;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: rgba(179, 101, 57, .99) !important;
}

span.cm-comment {
  color: #08f !important;
}

span.cm-atom {
  color: #845dc4 !important
}

span.cm-number, span.cm-attribute {
  color: #ff80e1 !important
}

span.cm-keyword {
  color: #ffee80 !important
}

span.cm-string, span.cm-string-2 {
  color: #3ad900 !important
}

span.cm-meta {
  color: #ff9d00 !important
}

span.cm-variable-2,
span.cm-tag {
  color: #9effff !important
}

span.cm-variable-3,
span.cm-def,
.cm-type {
  color: white !important
}

span.cm-bracket {
  color: #d8d8d8 !important
}

span.cm-builtin,
span.cm-special {
  color: #ff9e59 !important
}

span.cm-link {
  color: #845dc4 !important
}

.CodeMirror-activeline-background {
  background: #314151
}

.ace-jsoneditor .ace_string {
  color: #3ad900 !important
}

.ace-jsoneditor .ace_constant.ace_numeric {
  color: #ff80e1;
}

#editor-script {
  color: #dcdcdc
}

.light-yellow-bg {
  background: var(--background-color)
}

.jsgantt-chart .jsgantt-task-row:nth-child(even) {
  background-color: var(--background-color);
}

.jsgantt-chart .jsgantt-row-task:nth-child(even) {
  background-color: var(--background-color);
}

.jsgantt-chart .jsgantt-grid-data .jsgantt-row.odd:hover,
.jsgantt-chart .jsgantt-grid-data .jsgantt-row:hover {
  background-color: var(--box-color);
}

.jsgantt-chart .jsgantt-grid-scale .jsgantt-grid-head-cell,
.jsgantt-chart .jsgantt-task .jsgantt-task-scale .jsgantt-scale-cell {
  color: var(--text-color);
}

.remaining-order-count {
  background-color: #777;
}

.order-history-template0 {
  background: #00536e !important;
}

.order-history-template1 {
  background: var(--background-color) !important;
}

.order-history-template2 {
  background: #006281 !important;
}

.order-history-template3 {
  background: #00536e !important;
}

.order-history-template4 {
  background: var(--background-color) !important;
}

.order-history-template5 {
  background: #006281 !important;
}

.order-history-template6 {
  background: #00536e !important;
}

.order-history-template7 {
  background: var(--background-color) !important;
}

.order-history-template8 {
  background: #006281 !important;
}

.order-history-template9 {
  background: #00536e !important;
}

.order-history-template10 {
  background: var(--background-color) !important;
}

.highlighted {
  color: yellow;
}

.highlight-yellow-bg {
  background: #004d69;
}

/* coloring of JSON in tree mode */
tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: rgba(0, 68, 90, .35);
}
div.jsoneditor-navigation-bar {
  color: #f9f9f9;
}
div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap::after,
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap::after,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap::after,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap::after {
    box-shadow: inset -10px 0 8px -8px rgba(255, 255, 255, .2);
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap::before,
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap::before,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap::before,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap::before {
    box-shadow: inset 10px 0 8px -8px rgba(255, 255, 255, .2);
}
.warn-icon {
  color: red;
}
.bg-highlight {
    background-color: #ff7F50A6 !important
}
