:root {
  --primary: #1395BE;
  --bar-color: #e6f7ff;
  --secondary: #333332;
  --white: #fff;
  --bg-light: #333332;
  --bg-dark: #1d1d1c;
  --bg-footer: #2b2b2b;
  --text-color: rgba(255, 255, 255, .87);
  --box-shadow: rgba(255, 255, 255, .1);
  --border-color: rgba(255, 255, 255, .3);
}

body {
  color: var(--text-color);
  background: var(--bg-light)
}

.bg-blue-color {
  background-color: var(--bg-light) !important
}

pre, .syntax-box {
  background-color: var(--bg-dark)
}

.list-group-item.active > .label,
.nav-pills > .active > a > .label {
  color: rgba(0, 0, 0, .87)
}

.form-control,
.input-group-addon {
  border-color: var(--border-color)
}

.nav-active-border2 > li.dropdown-separator .separator {
  background-color: #f2f2f2
}

.box,
.box-color {
  background-color: var(--bg-dark);
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 3px 1px var(--box-shadow) !important;
  box-shadow: 0 1px 3px 1px var(--box-shadow) !important
}

.box-footer {
  background: var(--bg-footer)
}

.white {
  background: var(--bg-dark)
}

.bg-white {
  background-color: var(--bg-dark) !important;;
}

.ui-check input:checked + i:before {
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: var(--primary)
}

.dark-white {
  background-color: var(--bg-light)
}

.white-overlay {
  background-color: rgba(255, 255, 255, .85)
}

.black-overlay {
  background-color: rgba(0, 0, 0, .85)
}

.b-primary {
  border-color: var(--primary)
}

.b-t-primary {
  border-top-color: var(--primary)
}

.b-b-primary {
  border-bottom-color: var(--primary)
}

.b-l-primary {
  border-left-color: var(--primary)
}
a.text-primary:hover,
a.text-primary:focus,
.text-primary,
.text-primary-hover a:hover {
  color: var(--primary) !important
}

.md-input.focus,
.md-input:focus {
  border-color: var(--primary);
  border-bottom-width: 2px;
  padding-bottom: 1px
}

.md-input.focus ~ label,
.md-input:focus ~ label {
  color: var(--primary);
  opacity: 1;
  top: 0 !important;
  font-size: .85em !important
}

.loader {
  border-left: 1.1em solid #478bca
}

.ch-purple {
  color: var(--text-color);
  background-color: var(--primary)
}

.purple-color {
  color: var(--primary)
}

.text-hover-primary:hover {
  cursor: pointer !important;
  color: var(--primary) !important
}

.border-grey {
  border-top: 1px solid rgba(0, 0, 0, .12)
}

.order-eclipse {
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, .12)
}

.order-detail-rect {
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: 4px solid rgba(0, 0, 0, .2)
}

.error-link {
  height: 1px;
  background: var(--bg-dark)
}

#mainContainer .h-line {
  height: 1px;
  background: #a5a5a5
}

pre.log {
  color: #f5f5f5
}

.log_info,
.log_stdout {
  color: var(--white)
}

.log_debug {
  color: green
}

.log_detail {
  color: var(--primary);
}

.log_success {
  color: #90ee90;
}

.log_debug2 {
  color: #90ee90
}

.log_debug3 {
  color: #969696
}

.log_debug9,
.log_trace {
  color: #a8a8a8
}

.rzslider .rz-pointer {
  background-color: var(--primary)
}

.search-box {
  border: none;
  box-shadow: none;
  background: url(../assets/images/Search.png) 9px 8px no-repeat #e8e8e8;
  padding: 5px 10px 4px 28px !important
}

.loader1 {
  color: var(--primary)
}

.left-sidebar-btn:hover,
.sidebar-btn {
  background: var(--white);
  color: #3a3a3a
}

.disable-link {
  pointer-events: none;
  cursor: auto;
  color: #a9a9a9 !important;
  opacity: .7;
  background: 0 0
}

.fa-angle-circle {
  color: var(--white);
  background: rgba(58, 58, 58, .7)
}

.cal-year-box .month-name {
  background-color: var(--primary);
  color: var(--text-color);
  text-align: center;
  margin-top: 8px
}

.cal-day-plan {
  background: rgba(0, 125, 166, .7)
}

.cal-day-today span[data-cal-date] {
  color: var(--primary)
}

.cal-year-box .cal-day-today span[data-cal-date] {
  color: var(--white)
}

.black,
.danger,
.danger-bg,
.dark,
.grey,
.info,
.primary,
.warn,
.warning {
  color: var(--text-color)
}

.primary-text-hover-color:hover,
.primary-text-hover-color:hover i,
.primary-text-hover-color:hover span {
  color: var(--primary) !important
}

.primary,
.primary .bg {
  background-color: var(--primary) !important
}

table.folder-tree-grid > tbody > tr,
table.folder-tree-grid > tbody > tr > td {
  border: none !important;
  background: 0 0 !important
}

table.folder-tree-grid .indented a {
  color: #606060
}

.expand-collapse:hover {
  color: var(--primary);
  cursor: pointer
}

input[readonly=readonly],
input[readonly] {
  background-color: transparent !important
}

.start-on-hover:hover .fa-star-o {
  color: var(--primary)
}

input[type=search] {
  background: url(../assets/images/Search.png) 6px center no-repeat;
  color: #3d464d;
  border-bottom: 1px solid var(--border-color);
}

input[type=search]:focus {
  color: #3d464d;
  border-bottom: 1px solid var(--primary)
}

.notification {
  background-color: var(--white);
  color: #000;
  border-radius: 8px
}

.table .table,
.table > thead > tr > th {
  background-color: var(--bg-dark)
}

.table {
  border-color: #393937 !important
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-color: #393937 !important;
}

.table > tbody > tr {
  border-bottom: 2px solid #393937;
}

.table-bordered > tbody > tr {
  border-bottom: 1px solid #393937
}

.table-bordered,
.table > thead > tr > th {
  border-color: #393937
}

.table-hover .table-active:hover,
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th,
.table-hover tbody tr:hover {
  background-color: #393937 !important
}

.text-black-lt {
  color: rgba(255, 255, 255, .82) !important
}

.text-black-dk {
  color: var(--white)
}

.btn-default,
.btn-grey {
  color: var(--text-color);
  background-color: #393937;
  border-color: var(--bg-dark)
}

.btn-grey.active.focus,
.btn-grey:hover {
  color: var(--white);
  background-color: var(--bg-footer);
  border-color: var(--bg-light)
}

.btn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4) !important
}

.btn-primary {
  border-color: #327aa3
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
  color: var(--white);
  background-color: #138db4;
  border-color: #327aa3
}

.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
  color: var(--white);
  background-color: #138db4;
  background-image: none;
  border-color: #327aa3
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary:disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled:hover {
  background-color: rgba(51, 122, 183, .9);
  border-color: #327aa3
}

.text-dark,
.text-dark-hover a:hover,
a.text-dark:hover {
  color: var(--white) !important;
}

.cssload-loading {
  color: var(--text-color)
}

.cssload-loading::after,
.cssload-loading::before {
  background: var(--primary)
}

.more-option i,
.more-option-h i {
  background-color: #393937
}

.more-option i:hover,
.more-option-h i:hover {
  background: #2d3d4d
}

.rg-bottom,
.rg-right {
  background: #393937
}

.cluster-rect,
.rect, .cluster, .joint  {
  background: #393937;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #393937), color-stop(1, var(--bg-dark)));
  background-image: -moz-linear-gradient(center bottom, #393937 37%, var(--bg-dark) 69%);
  -webkit-box-shadow: inset 0 2px 9px var(--border-color), inset 0 -2px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0 2px 9px var(--border-color), inset 0 -2px 6px rgba(0, 0, 0, .2);
  box-shadow: inset 0 2px 9px var(--border-color), inset 0 -2px 6px rgba(0, 0, 0, .2)
}

.light {
  background-color: var(--bg-dark) !important
}

.breadcrumb > .active {
  color: rgba(255, 255, 255, .85)
}

.light-bg,
.light-bg tr:hover {
  background: rgba(57, 57, 55, .87) !important
}

.modal-content,
.modal-footer,
.modal-header {
  border-color: var(--border-color)
}

.modal-content {
  background-color: var(--bg-footer)
}

.modal-header {
  background: var(--bg-dark);
  color: var(--text-color)
}

.nvd3 .nv-discretebar .nv-groups rect,
.nvd3 .nv-multibar .nv-groups rect,
.nvd3.nv-noData,
.nvd3.nv-pie path,
input,
select,
textarea {
  color: var(--text-color) !important
}

.modal-footer {
  border-top: 1px solid var(--border-color)
}

select {
  background-color: var(--bg-footer) !important
}

.box select {
  background-color: var(--bg-dark) !important
}

.input-dropdown {
  background: var(--bg-footer);
}

.box .input-dropdown {
  background: transparent;
}

input,
textarea {
  background-color: transparent !important
}

.popover {
  background-color: #393937;
  -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .2);
  color: rgba(255, 255, 255, 0.87) !important;
}

.popover.bs-tether-element-attached-left .popover-arrow::after,
.popover.popover-right .popover-arrow::after {
  border-right-color: #393937
}

.popover.bs-tether-element-attached-right .popover-arrow::after,
.popover.popover-left .popover-arrow::after {
  border-left-color: #393937
}

.popover.bs-tether-element-attached-top .popover-arrow::after,
.popover.popover-bottom .popover-arrow::after {
  border-bottom-color: #393937
}

.popover.bs-tether-element-attached-bottom .popover-arrow::after,
.popover.popover-top .popover-arrow::after {
  border-top-color: #393937
}

.popover-title {
  background-color: transparent
}

.help-block {
  color: rgba(255, 255, 255, .82)
}

.gantt-row-even > .gantt-row-background {
  background-color: #393937
}

div.order-panel div {
  background: #393937;
  color: var(--white)
}

.order-panel .all {
  color: var(--text-color);
  border-left-color: var(--text-color)
}

.nvd3 text {
  fill: var(--white)
}

.nvd3 .nv-axis path {
  stroke: var(--white)
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder{
  color: rgba(255, 255, 255, 0.6) !important;
}
::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}
::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.6) !important;
}
:-moz-placeholder{
  color: rgba(255, 255, 255, 0.6) !important;
}
::-moz-placeholder{
  color: rgba(255, 255, 255, 0.6) !important;
}
::-ms-input-placeholder{
  color: rgba(255, 255, 255, 0.6) !important;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.pagination > li > a,
.pagination > li > span {
  color: inherit !important;
  background-color: transparent !important;
  border-color: rgba(216, 239, 255, .13) !important;
  border-radius: 0 !important
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  border-color: rgba(218, 239, 255, .13);
  background-color: rgba(255, 255, 255, .06);
  color: inherit
}

.pagination > .active > a,
.pagination > .active > span {
  color: var(--white) !important;
  background-color: var(--primary) !important;
  border-color: #327aa3
}

.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, .12) !important;
  box-shadow: 0 1px 3px rgba(255, 255, 255, .12) !important
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px var(--box-shadow), 0 -1px 0 rgba(255, 255, 255, .02) !important;
  box-shadow: 0 2px 4px var(--box-shadow), 0 -1px 0 rgba(255, 255, 255, .02) !important;
  border: none
}

.card:hover {
  -webkit-box-shadow: 0 2px 6px rgba(255, 255, 255, .2) !important;
  box-shadow: 0 2px 6px rgba(255, 255, 255, .2) !important
}

.box-shadow-z0 {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .12);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .12)
}

.box,
.box-shadow-z1 {
  -webkit-box-shadow: 0 1px 2px var(--box-shadow), 0 -1px 0 rgba(255, 255, 255, .02);
  box-shadow: 0 1px 2px var(--box-shadow), 0 -1px 0 rgba(255, 255, 255, .02)
}

.box-shadow-z2,
.box-shadow-z2 .box,
.box-shadow-z2 .box-color {
  box-shadow: 0 1px 2px rgba(255, 255, 255, .15), 0 -1px 0 rgba(255, 255, 255, .02)
}

.box-shadow-z3,
.box-shadow-z3 .box,
.box-shadow-z3 .box-color {
  box-shadow: 0 2px 4px var(--box-shadow), 0 -1px 0 rgba(255, 255, 255, .02)
}

hr {
  border-top: 1px solid var(--border-color)
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
  border-bottom: 1px solid var(--bg-footer)
}

.b {
  border-color: var(--border-color)
}

.b-a {
  border: 1px solid var(--border-color)
}

.b-t {
  border-top: 1px solid var(--border-color)
}

.b-r {
  border-right: 1px solid var(--border-color)
}

.b-b {
  border-bottom: 1px solid var(--border-color)
}

.b-l {
  border-left: 1px solid var(--border-color)
}

.gantt-task-info {
  background: var(--bg-dark)
}

.gantt-task-infoArrow:after,
.gantt-task-infoArrowR:after {
  border-top: 7px solid var(--bg-dark)
}

span.attribute_name,
span.bracket,
span.namespace_name {
  color: var(--white)
}

span.attribute_val {
  color: #3898c3
}

span.namespace_val {
  color: #6cc788
}

span.element_name {
  color: #ff9800
}

span.cdata {
  color: #3898c3
}

pre.cdata {
  color: #e8e8e8
}

#cal-week-box {
  background-color: var(--bg-footer)
}


.dropdown-divider {
  background-color: var(--border-color)
}

.text-dark {
  color: var(--text-color)
}

.nvd3.nv-noData {
  fill: var(--text-color)
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #393937;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--white)
}

.tree-grid .tree-icon {
  color: var(--white)
}

.tree-grid .tree-icon:hover {
  color: var(--primary)
}

.form-control:focus {
  border-color: var(--primary)
}

.dropdown-list {
  border: 1px solid var(--bg-dark)
}

.dropdown-list a:hover {
  color: var(--white);
  background: var(--primary)
}

.backup {
  background: var(--bg-light);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .51), var(--bg-light));
  background: -o-linear-gradient(right, rgba(255, 255, 255, .51), var(--bg-light));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, .51), var(--bg-light));
  background: linear-gradient(to right, rgba(255, 255, 255, .51), var(--bg-light))
}
.calendar {
  color: var(--text-color);
}
.calendar .calendar-header table th:hover{
  background: rgba(51, 51, 50, 1);
}
.calendar .calendar-header .year-title{
  color: var(--white)
}
.calendar .calendar-header .year-neighbor{
  color: rgba(255, 255, 255, 0.75);
}
.calendar .calendar-header .year-neighbor2{
  color: rgba(255, 255, 255, 0.50);
}

.calendar table.month tr td .day-content{
  color: var(--text-color)
}
.calendar table.month tr td .cal-day-weekend .date {
  color: #bbb;
}
.calendar table.month th.month-title {
  background: #4a4a49
}

.calendar table.month tr td {
  border: 1px solid var(--bg-footer);
}
#rightSideBar .calendar table.month tr td {
  border-color: #1d1d1b !important
}

select {
  background-color: var(--bg-dark) !important
}

.status-table table > tbody > tr {
  background: var(--bg-light);
  border-color: var(--bg-dark);
}

input[readonly=readonly],
input[readonly] {
  background-color: transparent !important
}

gridster-item {
  overflow: visible !important;
  z-index: unset !important;
  background-color: var(--bg-dark) !important;
  box-sizing: border-box;
  position: absolute;
  transition: .3s;
  display: none;
  user-select: text;
}

.calendar {
  color: rgba(255, 255, 255, 0.87) !important;
  direction: ltr;
}


.text-muted {
  color: rgba(255, 255, 255, 0.83) !important;
}

#graph {
  background-color: rgba(29, 29, 28, 0.5) !important;
}

button.close {
  color: rgba(255, 255, 255, 0.87) !important;
}

#outlineContainer {
  background: rgba(29, 29, 28, 0.91) !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0 100px var(--bg-dark) inset;
}

.ngx-pagination a, .ngx-pagination button {
  color: rgba(255, 255, 255, 0.87) !important;
}

pre#pre {
  background-color: var(--bg-dark);
}

.avatar[_ngcontent-c2] {
  background: var(--primary) !important;
}

span ul li a {
  color: var(--primary) !important;
}

.row.open {
  background-color: transparent !important;
  box-shadow: 1px 1px 20px #222222 !important;
  border: 2px solid #ffffff94;
}

.input-time + a {
  margin-left: 16px;
}

.ui-select-container {
  background-color: transparent;
}

.ui-select-choices-row[_ngcontent-c5] > a[_ngcontent-c5] {
  color: rgba(255, 255, 255, 0.87) !important;
}

.ui-select-match-item {
  color: var(--primary);
}

#rightSideBar {
  background: var(--bg-dark);
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.1);
}
.sidebar-hover-effect {
  background: var(--bg-dark)
}

.sidebar-hover-effect:hover {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2)
}

.close-btn:before, .close-btn:after {
  background-color: var(--white);
}

.property-panel .sidebar-open, .property-panel .sidebar-close {
  background: url(../assets/images/left-tips-dark.svg) center no-repeat;
}
#property-panel .rg-right {
  background-color: var(--bg-dark) !important;
}
.nav-active-border3 li.dropdown-separator .separator {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-active-border3 .nav-text i {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .nav-text {
  color: rgba(255, 255, 255, 0.7);
}

.nav-active-border4 .active .nav-text {
  color: var(--white);
}

#toolbar {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
}

.separator {
  background-color: rgba(255, 255, 255, 0.1);
}

.predicate-edit {
  background: #393937;
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  background-color: var(--bg-light);
  border-color: #65707d;
  color: white;
}
#property-panel .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, #property-panel .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  background-color: var(--bg-dark) !important;
  border-color: var(--border-color);
  color: rgba(255, 255, 255, 0.89);
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  background-color: rgba(189, 189, 189, 0.1);
  border-color: #65707d;
  color: var(--white);
}

.ck.ck-reset_all, .ck.ck-reset_all * {
  color: var(--white);
}

.ck.ck-button:not(.ck-disabled):active, a.ck.ck-button:not(.ck-disabled):active,
.ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover,
.ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus {
  background-color: transparent;
}

.ck-rounded-corners .ck.ck-dropdown .ck-dropdown__panel .ck-list, .ck.ck-dropdown .ck-dropdown__panel .ck-list.ck-rounded-corners {
  background-color: var(--bg-light);
  border-color: var(--bg-light);
}

.ck.ck-dropdown__panel {
  border: 1px solid var(--bg-light);
}

.ck.ck-list__item .ck-button:hover:not(.ck-disabled),
.ck.ck-button:not(.ck-disabled):active, a.ck.ck-button:not(.ck-disabled):active {
  color: #333;
}

.ck.ck-list__item .ck-button.ck-on {
  background-color: var(--primary);
  color: white;
}

.ck.ck-button.ck-on, a.ck.ck-button.ck-on {
  background-color: var(--primary);
}

.documents a[href*="http:"], .documents a[href*="https:"] {
  color: var(--primary) !important;
}

.arrow-down-ac:last-child:after, .arrow-down:last-child:after {
  color: var(--bg-dark);
}

.ck-content a {
  color: var(--primary);
  text-decoration: underline;
}

.ck.ck-link-form, .ck.ck-link-actions {
  background: var(--bg-light);
}

.ck.ck-link-actions .ck-button.ck-link-actions__preview .ck-button__label {
  color: var(--white) !important;
}
.ant-dropdown-menu{
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-dark) !important;
  border-bottom-color: rgba(0, 0, 0, .95);
  -webkit-box-shadow: 0 2px 4px var(--border-color);
  box-shadow: 0 2px 4px var(--border-color)
}

.ant-select-dropdown {
  background-color: var(--bg-dark) !important;
  color: var(--text-color);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
}
.ant-calendar-year-panel-header .ant-calendar-year-panel-century-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-decade-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-year-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-month-select,
.ant-calendar-month-panel-header .ant-calendar-month-panel-century-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-decade-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-year-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-month-select,
.ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-year-select, .ant-calendar-header .ant-calendar-month-select{
  color: rgba(255, 255, 255, .97);
}

.ant-input-number, .ant-select-selection {
  color: var(--text-color);
  background-color: var(--bg-dark) !important;
  border: 1px solid var(--border-color)
}
.ant-time-picker-clear,
.ant-calendar-picker-clear,
.ant-calendar-picker-clear:hover,
.ant-time-picker-clear:hover{
  background-color: var(--bg-dark) !important;
  color: var(--text-color);
}
.ant-time-picker-panel-input-wrap,
.ant-calendar-input-wrap {
  border-bottom: 1px solid var(--border-color);
}
.ant-calendar {
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}
.modal .ant-select-dropdown,
.modal .ant-input-number,
.modal .ant-select-selection {
  background-color: var(--bg-footer) !important
}

.ant-time-picker-panel-select,
.ant-calendar-header,
.ant-calendar-footer,
.ant-input, .ant-input:hover,
.ant-input-number,
.ant-input-number:hover,
.ant-select-selection,
.ant-select-selection:hover,
.ant-pagination-item, .ant-pagination-item-active,
.ant-table-small,
.ant-calendar-picker,
.ant-calendar-picker:hover,
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-time-picker-input,
.ant-time-picker-input:hover,
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td,
.ant-table-small.ant-table-bordered .ant-table-content {
  border-color: var(--border-color)
}
.ant-input:focus, .ant-input:active .ant-input-focused,
.ant-select-focused .ant-select-selection,
.ant-calendar-picker-input:focus,
.ant-time-picker-input:focus,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-input-number:focus,
.ant-input-number-focused {
  border-color: var(--primary) !important;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td{
  background: #393937 !important
}
.ant-calendar-header .ant-calendar-prev-century-btn:hover,
.ant-calendar-header .ant-calendar-prev-decade-btn:hover,
.ant-calendar-header .ant-calendar-prev-year-btn:hover,
.ant-input, .ant-input:hover,
.ant-pagination-item:focus a, .ant-pagination-item:hover a,
.ant-input-number:hover, .ant-select-selection:hover,
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab-active:hover,
.ant-tabs-nav .ant-tabs-tab:hover,
.ant-pagination-item-active a {
  color: var(--primary);
}
.ant-calendar-month-panel-month:hover,
.ant-calendar-year-panel-year:hover,
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
.ant-calendar-selected-day .ant-calendar-date,
.ant-calendar-today .ant-calendar-date,
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month, .ant-time-picker-panel-select li:hover, li.ant-time-picker-panel-select-option-selected, .ant-calendar-date:hover, .ant-tabs-ink-bar,
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
  color: var(--primary);
  background: var(--bar-color);
}

.ant-tabs-bar,
.ant-time-picker-panel-select,
.ant-calendar-header,
.ant-calendar-footer,
.ant-input, .ant-input:hover,
.ant-input-number, .ant-select-selection,
.ant-input-number:hover, .ant-select-selection:hover,
.ant-pagination-item, .ant-pagination-item-active,
.ant-table-small,
.ant-time-picker-input,
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td,
.ant-table-small.ant-table-bordered .ant-table-content {
  border-color: var(--border-color)
}
.ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
  background-color: var(--border-color)
}
.ant-calendar-year-panel,
.ant-calendar-month-panel,
.ant-time-picker-panel-inner{
  background-color: var(--bg-dark);
  color: var(--text-color);
  -webkit-box-shadow: 0 2px 4px var(--border-color);
  box-shadow: 0 2px 4px var(--border-color)
}

.ant-calendar-year-panel-last-decade-cell .ant-calendar-year-panel-year, .ant-calendar-year-panel-next-decade-cell .ant-calendar-year-panel-year,
.ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date, .ant-calendar-last-month-cell .ant-calendar-date:hover, .ant-calendar-next-month-btn-day .ant-calendar-date:hover{
  color: rgba(255, 255, 255, .6);
}
.ant-calendar-header a.ant-calendar-prev-year-btn:hover,
.ant-calendar-header a.ant-calendar-prev-month-btn:hover,
.ant-calendar-header a.ant-calendar-next-year-btn:hover,
.ant-calendar-header a.ant-calendar-next-month-btn:hover,
.ant-calendar-header a.ant-calendar-year-panel-next-decade-btn:hover,
.ant-calendar-header a.ant-calendar-year-panel-prev-decade-btn:hover {
  border-color: var(--white) !important;
  color: var(--white) !important;
}
.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
}
.btn:hover {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3) !important;
 }
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--primary);
}
.ant-radio, .ant-checkbox, .ant-radio-group, .ant-radio-wrapper{
  color: var(--text-color);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary);
  border-color: var(--primary);
}

.ant-radio-inner::after {
  background-color: var(--primary);
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
  border-color: var(--primary);
}
/*
Code Mirror
**/
.CodeMirror {
  color: var(--text-color) !important
}

.CodeMirror-gutters {
  background: var(--bg-footer) !important;
  border-color: var(--border-color)
}

.CodeMirror-linenumber {
  color: var(--white) !important
}

.table tr.active {
  background: rgba(51, 51, 50, .65) !important
}

.vertex-text.job span a {
  color: var(--primary)
}

div.CodeMirror-selected {
  background: #515151
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: rgba(56, 56, 56, .99)
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: rgba(56, 56, 56, .99)
}

.CodeMirror-gutters {
  background: #555;
  border-right: 2px solid #314151
}

.CodeMirror-guttermarker {
  color: #222
}

.CodeMirror-guttermarker-subtle {
  color: azure
}

.CodeMirror-linenumber {
  color: var(--white)
}

.CodeMirror-cursor {
  border-left: 1px solid #0f0
}

span.cm-keyword {
  color: #b8860b !important
}

span.cm-atom {
  color: #77f !important
}

span.cm-number {
  color: violet !important
}

span.cm-def {
  color: #fffabc !important
}

span.cm-variable {
  color: #abcdef !important
}

span.cm-variable-2 {
  color: #cacbcc !important
}

span.cm-type, span.cm-variable-3 {
  color: #def !important
}

span.cm-property {
  color: #fedcba !important
}

span.cm-operator {
  color: #c0c000 !important
}

span.cm-comment {
  color: #7a7b7c !important;
  font-style: italic
}

span.cm-string {
  color: #2b4 !important
}

span.cm-meta {
  color: #c9f !important
}

span.cm-qualifier {
  color: #fff700 !important
}

span.cm-builtin {
  color: #30aabc !important
}

span.cm-bracket {
  color: #8a8a8a !important
}

span.cm-tag {
  color: #fd4 !important
}

span.cm-attribute {
  color: #df0 !important
}

span.cm-error {
  color: red !important
}

span.cm-header {
  color: #7fffd4 !important;
  font-weight: 700
}

span.cm-link {
  color: #8a2be2 !important
}

.CodeMirror-activeline-background {
  background: #314151
}

#editor-script {
  color: #dcdcdc
}

.light-yellow-bg {
  background: #333
}
.calendar .calendar-header table th:hover, .calendar-sm .selected {
  background: #393937;
}

.jsgantt-chart .jsgantt-task-row:nth-child(even) {
  background-color: var(--bg-light);
}

.jsgantt-chart .jsgantt-row-task:nth-child(even) {
  background-color: var(--bg-light);
}

.jsgantt-chart .jsgantt-grid-data .jsgantt-row.odd:hover,
.jsgantt-chart .jsgantt-grid-data .jsgantt-row:hover {
  background-color: #393937;
}

.jsgantt-chart .jsgantt-grid-scale .jsgantt-grid-head-cell,
.jsgantt-chart .jsgantt-task .jsgantt-task-scale .jsgantt-scale-cell {
  color: rgba(255, 255, 255, 0.87);
}
.order-history-template0 {
  background: #222222 !important;
}
.order-history-template1 {
  background: #333333 !important;
}
.order-history-template2 {
  background: #444444 !important;
}
.order-history-template2 {
  background: #222222 !important;
}
.order-history-template3 {
  background: #333333 !important;
}
.order-history-template4 {
  background: #444444 !important;
}
.order-history-template5 {
  background: #222222 !important;
}
.order-history-template6 {
  background: #333333 !important;
}
.order-history-template7 {
  background: #444444 !important;
}
.order-history-template8 {
  background: #222222 !important;
}
.order-history-template59 {
  background: #333333 !important;
}
.order-history-template10 {
  background: #444444 !important;
}
.order-history-template11 {
  background: #222222 !important;
}
.order-history-template12 {
  background: #333333 !important;
}
.order-history-template13 {
  background: #444444 !important;
}
