.backup {
  background: #2c3e50;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .51), #2c3e50);
  background: -o-linear-gradient(right, rgba(255, 255, 255, .51), rgba(44, 62, 80, 1));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, .51), rgba(44, 62, 80, 1));
  background: linear-gradient(to right, rgba(255, 255, 255, .51), rgba(44, 62, 80, 1))
}

.backup-top-header {
  background: #2c3e50
}

.backup-top-header .backup-text, .backup-top-header .m-r-sm {
  color: #fff
}
