.backup {
	background: #2c3e50;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, .51), #2c3e50);
	background: -o-linear-gradient(right, rgba(255, 255, 255, .51), rgba(44, 62, 80, 1));
	background: -moz-linear-gradient(right, rgba(255, 255, 255, .51), rgba(44, 62, 80, 1));
	background: linear-gradient(to right, rgba(255, 255, 255, .51), rgba(44, 62, 80, 1))
}

.backup-top-header {
	background: #2c3e50
}

.backup-top-header .backup-text,
.backup-top-header .m-r-sm {
	color: #fff
}

.header-prussian-blue {
    background-color: #03254E !important;
}

.header-eggplant {
    background-color: #45062E !important;
}

.header-blackcurrant {
    background-color: #320E3B !important;
}

.header-Dodger-Blue {
    background-color: #246EB9 !important;
}

.header-nordic {
    background-color: #022C2F !important;
}

.header-light-sea-green {
    background-color: #2EC4B6 !important;
}

.header-toledo {
    background-color: #3A3335 !important;
}

.header-Pine-Green {
    background-color: #0F7173 !important;
}

.header-radical-red {
    background-color: #C20114 !important;
}

.avatarbg-prussian-blue {
    background-color: #FFF !important;
    color: #03254E !important;
}

.avatarbg-eggplant {
    background-color: #FFF !important;
    color: #45062E !important;
}

.avatarbg-blackcurrant {
    background-color: #FFF !important;
    color: #320E3B !important;
}

.avatarbg-Dodger-Blue {
    background-color: #FFF !important;
    color: #246EB9 !important;
}

.avatarbg-nordic {
    background-color: #FFF !important;
    color: #022C2F !important;
}

.avatarbg-light-sea-green {
    background-color: #FFF !important;
    color: #2EC4B6 !important;
}

.avatarbg-toledo {
    background-color: #FFF !important;
    color: #3A3335 !important;
}

.avatarbg-Pine-Green {
    background-color: #FFF !important;
    color: #0F7173 !important;
}

.avatarbg-radical-red {
    background-color: #FFF !important;
    color: #7B0D1E !important;
}
button.close {
  color: #3a3a3a;
}
#outlineContainer{
  background: #fff !important;
}
.property-panel .sidebar-close i {
  color: darkcyan;
}
.documents a[href*="http:"] {
  color: #1395BE !important;
}
.documents a[href*="https:"] {
  color: #1395BE !important;
}
.ck .ck-link_selected {
  color: #1395BE;
  text-decoration: underline;
}
.ck-content a {
  color: #1395BE;
  text-decoration: underline;
}
.ant-dropdown-menu-item .ant-dropdown-menu-submenu-arrow-icon, .ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow-icon,
.cluster-rect, .connection, .cluster, .icon-color,.ant-tree li {
  color: #3d464d
}
.ant-calendar-header a:hover,
.ant-time-picker-panel,
.ant-calendar-picker-container,
.ant-calendar-year-panel-year,
.ant-calendar-month-panel-month,
.ant-calendar-date,
.ant-tabs,
.ant-pagination-item a, .ant-pagination-prev a, .ant-pagination-next a,
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table, .ant-table-placeholder,
.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link,
.ant-select-arrow .ant-select-arrow-icon, .ant-result-title, .ant-result-subtitle,
.ant-select-dropdown-menu-item,
.ant-calendar-picker-icon,
.ant-time-picker-icon,
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a,
.anticon-calendar, .anticon-clock-circle {
  color: #3d464d;
}
