// Colors
$text: #7D90A8;
$text-darken: #615d7c;
$text-darken-more: #514d6a;

$background-color: #f9f8f6;
$border-color: #e3e3e3;
$dark-border-color: #ccc;
$white: #ffffff;
$black: rgba(0, 0, 0, 0.87);
$black-lighten: #222034;
$black-lighten-more: #393749;

$default: #3d464d;
$default-btn: #dddddd;
$primary: #2494bf;
$hover-primary: #2d90b6;
$secondary: #fc6e51;
$success: #6cc788;
$info: #0887c9;
$warning: #f39834;
$danger: #fb434a;
$green: #228b22;
$blue: #1171a6;
$gold: #ffc300;
$red: #dc143c;
$orange: #eb8814;
$dimgrey: #696969;
$light-blue: #688ecf;
$mangenta: #a500a5;
$pink: #f37891;
$orange: #FF8000;
$yellow-green: #b3b300;
$bg-green: #7ab97a;
$bg-blue: #1591d4;
$bg-gold: #ffc91a;
$bg-red: #ed365b;
$bg-dimgrey: #bbb;
$bg-light-blue: #7b9cd5;
$bg-mangenta: #b966b9;
$bg-orange: #FF8d1a;
$bg-pink: #f37891;
$bg-yellow-green: #cccc00;


// Font Family
$base__font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, serif !important;
$base__font-family_2: Lucida Console, monospace !important;

// Font Size
$base__font-size: 13 !default;

// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor(($px/$base) * 100) / 100}rem; // to REMs
  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}

// Transitions
@mixin transition-fast() {
  transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
  transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
  transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
  transition: all 0.4s ease-in-out;
}
@mixin transition-color() {
  transition: color 0.2s ease-in-out;
}

// Responsive utils
$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 576px;
$xs-max-width: 575px;
