@media (max-width: 33.9em) {
  .dropdown-menu.pull-none-xs {
    left: 0
  }

  .pull-none-xs {
    float: none !important
  }

  .w-auto-xs {
    width: auto
  }

  .w-full-xs {
    width: 100%
  }

  .pos-stc-xs {
    position: static !important
  }
}

@media (max-width: 47.9em) {
  .padding {
    padding: 8px
  }

  .padding-out {
    margin: -8px
  }

  .box, .box-color, .margin {
    margin-bottom: 8px
  }

  .w-auto-sm {
    width: auto
  }

  .w-full-sm {
    width: 100%
  }

  .row {
    margin-left: -4px;
    margin-right: -4px
  }

  .pos-stc-sm {
    position: static !important
  }
}

@media (max-width: 61.9em) {
  .padding {
    padding: 14px
  }

  .padding-out {
    margin: -16px
  }

  .box, .box-color, .margin {
    margin-bottom: 16px
  }

  .row {
    margin-left: -8px;
    margin-right: -8px
  }

  .app .container, body.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0
  }

  ul.b-orange li:first-child {
    padding-left: 8px
  }
}

@media (min-width: 62em) {
  body.container {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
  }

  body.container, body.container .container {
    padding-left: 0;
    padding-right: 0
  }

  body.container .app-header {
    left: inherit;
    right: auto;
    margin-left: 0;
    width: 60rem
  }
}

@media (max-width: 767px) {
  .no-bg-xs {
    background-color: transparent
  }

  .no-border-xs {
    border-width: 0
  }

  .card-width {
    width: 95%
  }
}

@media (max-width: 991px) {
  .no-border-sm {
    border-width: 0
  }

  .date-center, .date-right {
    text-align: left;
    margin-top: 16px;
  }
}

@media (max-width: 640px) {
  body {
    min-width: 640px;
    right: 0;
    left: 0;
    overflow-x: auto;
  }
}

@media (max-width: 880px) {
  .hide-menubar {
    display: inline-block !important
  }

  .navbar-brand img {
    margin-left: 17px;
    margin-right: 20px
  }
}

@media (min-width: 1025px) {
  .navbar-toggleable-custom {
    display: block !important
  }
}

@media (max-width: 1185px) {
  .button-group-ellipsis {
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis
  }
   .view-all-agent span{
        display: none;
    }
    .view-all-agent i{
        display: block;
    }
}

@media (max-width: 1025px) {
  .hidden-dropdown {
    display: inline-block
  }

  .hidden-btn-group {
    display: none
  }

  .hide-menubar, .hide-nav-dropdown {
    display: inline-block !important
  }

  .custom-nav-bar {
    display: none
  }

  .hidden-btn-text span {
    display: none;
  }

  .hidden-btn-text i {
    font-size: 13px;
  }

  .navbar-brand img {
    margin-left: 17px;
    margin-right: 20px
  }

  .search-filed-w {
    width: 180px
  }

  .hide-menubar .fa-navicon {
    font-size: 18px;
    top: 3px;
    position: relative;
  }

}
