<style>
    .cal-day-outmonth {
        background: transparent !important;
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
        <h4 class="modal-title">
            <span ng-if="!planViewJob">
                <span ng-if="!maxPlannedTime" translate>label.calendarViewFor</span>
                {{_jobChain.path}}
                {{_job.path}}
                <span ng-if="_jobChain.title || _job.title" class="text-muted"> - {{_jobChain.title}}{{_job.title}}</span>
                <span ng-if="maxPlannedTime" class="text-muted font14">({{'label.dailyPlanCreated' | translate}} : {{maxPlannedTime|stringToDate}})</span>
            </span>
            <span ng-if="planViewJob">
                <span translate>button.showPlanned</span>: {{planViewJob.path}}
            </span>
        </h4>
    </div>
    <div class="modal-body" ng-class="{'min-ht-500':planItems.length>0}">

        <div class="text-md text-center">
            <a class="m-r-sm" mwl-date-modifier date="viewDate" decrement="calendarView" ng-click="planViewJob ? getPlan2(calendarView,viewDate) : getPlan(calendarView,viewDate)">
                <i class="fa fa-angle-left fa-lg"></i>
            </a>
            {{ calendarTitle }}
            <a class="m-l-sm" mwl-date-modifier date="viewDate" increment="calendarView" ng-click="planViewJob ? getPlan2(calendarView,viewDate) : getPlan(calendarView,viewDate)">
                <i class="fa fa-angle-right fa-lg"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-nav-inline pull-right nav-active-border nav-active-border2 b-primary">
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'active' : calendarView=='month'}" ng-model="calendarView"
                           uib-btn-radio="'month'" ng-click="planViewJob ? getPlan2(calendarView,viewDate) : getPlan(calendarView,viewDate)">
                            <span class="nav-text text-dark p-b-sm">
                                <span class="" translate>label.monthly</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-class="{'active' : calendarView=='year'}" ng-model="calendarView"
                           uib-btn-radio="'year'" ng-click="getPlan(calendarView,viewDate)">
                            <span class="nav-text text-dark p-b-sm"><span class="" translate>label.yearly</span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center" ng-show="isCalendarLoading" > <div class="loading-img1 m-t-lg"></div></div>
        <div class="row">
            <div class="col-md-12"  style="min-height: 500px;" ng-show="calendarView ==='year'">
                <div class="w-full" id="year-calendar" ></div>
            </div>
        </div>
       <div class="calendar-body" ng-show="calendarView!=='year'">
            <mwl-calendar
                    events="[]"
                    plan-items="planItems"
                    view="calendarView"
                    view-date="viewDate"
                    view-title="calendarTitle"
                    cell-is-open="true">
            </mwl-calendar>
        </div>
    </div>
</div>
