<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
        <h4 class="modal-title" >
            <span ng-if="!jobStream && !_dashboard && !entry && !calendar && !calendarArr && !document && !documentArr  && (!importCalendars || importCalendars.length==0) && (!_profiles  || _profiles.length==0)">
                <span class="text-capitalize" translate>label.delete</span> {{user.user}} {{role.role}} {{master.master}} {{folder.folder}}{{permission.path}} {{profile.account}} {{processClassObject.path}}?
            </span>
            <span ng-if="calendar && !calendar.delete && (!importCalendars || importCalendars.length==0)">
                <span class="text-capitalize" translate>label.update</span> {{calendar.name}} ?
            </span>
            <span ng-if="calendar && calendar.delete && (!importCalendars || importCalendars.length==0)">
                <span class="text-capitalize" translate>label.delete</span> {{calendar.name}} ?
            </span>
            <span ng-if="calendarArr">
                <span class="text-capitalize" translate>label.deleteAllCalendar</span>?
            </span>
            <span ng-if="document && document.delete">
                <span class="text-capitalize" translate>label.delete</span> {{document.name}} ?
            </span>
            <span ng-if="documentArr">
                <span class="text-capitalize" translate>label.deleteAllDocument</span>?
            </span>
            <span ng-if="_profiles">
                <span class="text-capitalize" translate>label.deleteAllProfiles</span>?
            </span>
            <span ng-if="importCalendars && importCalendars.length>0">
                <span class="text-capitalize" translate>label.importAllCalendar</span>?
            </span>
            <span ng-if="entry">
                 <span class="text-capitalize" translate>label.delete</span>
                 {{entry.entryName}}?
            </span>
            <span ng-if="jobStream">
                 <span class="text-capitalize" translate>label.reset</span>
                 {{jobStream}}?
            </span>
            <span ng-if="_dashboard">
                 <span translate>button.resetLayout</span>?
            </span>
        </h4>
    </div>
    <div class="modal-body p-a" style="max-height: 640px; overflow: auto">
        <div class="form-group row">
            <div class="col-sm-12 text-center m-t">
                <span ng-if="deleteJobSteam" translate class="text">message.deleteJobStreamAndAllJobs</span>
                <span ng-if="deleteAllEvents" translate class="text">message.deleteAllEvents</span>
                <span ng-if="jobStream" translate class="text">message.resetJobStream</span>
                <span ng-if="_dashboard" translate class="text">message.resetLayout</span>
                <span ng-if="profile" translate class="text">message.deleteProfiles</span>
                <span ng-if="entry" translate class="text">message.deleteMainSection</span>
                <span ng-if="user.user" translate class="text">message.deleteUser</span>
                <span ng-if="role.role" translate class="text">message.deleteRole</span>
                <span ng-if="master.master" translate class="text">message.deleteMaster</span>
                <span ng-if="folder.folder" translate class="text">message.deleteFolder</span>
                <span ng-if="permission.path" translate class="text">message.deletePermission</span>
                <span ng-if="processClassObject && processClassObject.path" translate class="text">message.deleteProcessClass</span>
                <div ng-if="calendar && !calendarArr && (!importCalendars || importCalendars.length==0)">
                    <div class="row form-group">
                        <span ng-if="!calendar.delete" translate class="text">message.updateCalendar</span>
                        <span ng-if="calendar.delete" translate class="text">message.deleteCalendar</span>
                    </div>
                    <div class="text-left row">
                        <div class=" col-sm-12">
                            <div>
                                <div class="row form-group" ng-if="calendar.usedIn.jobs">
                                    <label class="col-md-3" translate="">
                                        label.jobs
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="job in calendar.usedIn.jobs">
                                            {{$index+1}} - {{job}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="calendar.usedIn.orders">
                                    <label class="col-md-3" translate="">
                                        label.orders
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="order in calendar.usedIn.orders">
                                            {{$index+1}} - {{order}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="calendar.usedIn.schedules">
                                    <label class="col-md-3" translate="">
                                        label.schedules
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="schedule in calendar.usedIn.schedules">
                                            {{$index+1}} - {{schedule}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="calendarArr && !calendar">
                    <div class="row form-group">
                        <span  translate class="text">message.deleteAllCalendar</span>
                    </div>
                    <div class="row" ng-repeat="calendar in calendarArr" ng-class="{'b-t p-t': $index !=0}">
                        <div class="row col-sm-12">
                            {{$index + 1}} - <label>{{calendar.path}}</label>
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <div class="row form-group" ng-if="calendar.usedIn.jobs">
                                    <label class="col-md-3" translate="">
                                        label.jobs
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="job in calendar.usedIn.jobs">
                                            {{$index+1}} - {{job}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="calendar.usedIn.orders">
                                    <label class="col-md-3" translate="">
                                        label.orders
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="order in calendar.usedIn.orders">
                                            {{$index+1}} - {{order}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="calendar.usedIn.schedules">
                                    <label class="col-md-3" translate="">
                                        label.schedules
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="schedule in calendar.usedIn.schedules">
                                            {{$index+1}} - {{schedule}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="document && !documentArr">
                    <div class="row form-group">
                        <span ng-if="document.delete" translate class="text">message.deleteDocument</span>
                    </div>
                    <div class="text-left row">
                        <div class="col-sm-12">
                            <div class="row" ng-repeat="doc in document.usedIn">
                                 <label class="col-md-2 _600">
                                    {{doc.type}} :
                                </label>
                                <div class="col-md-10">
                                    <a class="text-hover-primary" ng-click="showDocument(doc)">{{doc.path}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="documentArr && !document">
                    <div class="row form-group">
                        <span  translate class="text">message.deleteAllDocument</span>
                    </div>
                    <div class="text-left row" ng-repeat="document in documentArr" ng-class="{'b-t p-t': $index !=0}">
                        <div class="row col-sm-12">
                            <span class="col-md-3" translate="">label.documentation</span>
                            <label class="col-md-9">{{document.path}}</label>
                        </div>
                        <div class="col-sm-12">
                            <div class="row" ng-repeat="doc in document.usedIn">
                                 <label class="col-md-2 _600">
                                    {{doc.type}} :
                                </label>
                                <div class="col-md-10">
                                    <a class="text-hover-primary" ng-click="showDocument(doc)">{{doc.path}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="importCalendars && importCalendars.length>0">
                    <div class="row form-group">
                        <span  translate class="text">message.importAllCalendar</span>
                    </div>
                    <div class="text-left row" ng-repeat="calendar in importCalendars" ng-class="{'b-t p-t': $index !=0}">
                        <div class="row col-sm-12">
                            <span class="col-md-3" translate="">label.calendar</span>
                            <label class="col-md-9">{{calendar.path}}</label>
                        </div>
                        <div class=" col-sm-12">
                            <div>
                                <div class="row form-group" ng-if="calendar.usedBy.jobs">
                                    <label class="col-md-3" translate="">
                                        label.jobs
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="job in calendar.usedBy.jobs">
                                            {{$index+1}} - {{job}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="calendar.usedBy.orders">
                                    <label class="col-md-3" translate="">
                                        label.orders
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="order in calendar.usedBy.orders">
                                            {{$index+1}} - {{order}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" ng-if="calendar.usedBy.schedules">
                                    <label class="col-md-3" translate="">
                                        label.schedules
                                    </label>
                                    <div class="col-md-9">
                                        <div ng-repeat="schedule in calendar.usedBy.schedules">
                                            {{$index+1}} - {{schedule}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="_profiles && _profiles.length>0">
                    <div class="row form-group">
                        <span  translate class="text">message.deleteAllProfiles</span>
                    </div>
                    <div class="text-left row" >
                        <div class="col-sm-12">
                            <label class="col-md-3 col-md-offset-3" translate="">
                                label.account
                            </label>
                            <div class="col-md-6">
                                <div ng-repeat="_profile in _profiles">
                                    {{$index+1}} - {{_profile.account}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-left">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="ok()">
            <span ng-if="(!calendar || calendar.delete) && !importCalendars && !jobStream && !_dashboard" translate>button.delete</span>
            <span ng-if="!deleteAllEvents && !deleteAllEvents && jobStream || _dashboard || (calendar && !calendar.delete) || importCalendars" translate>button.confirm</span>
        </button>
        <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()" translate>button.cancel</button>
    </div>
</div>
