<div ng-click="refreshSession()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true" class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title" translate>
            <span translate>label.updateEvents</span>
            <span ng-if="updateEventObj.jobStream">: {{updateEventObj.jobStream}}</span>
        </h4>
    </div>
    <form name="form" role="form" ng-submit="ok()" novalidate>
        <div class="modal-body p-a">
            <div class="form-group row">
                <div class="col-md-10 _600" translate>label.eventList</div>
            </div>
            <div class="form-group row m-b-0" >
                <div class="col-sm-12 m-b">
                    <div class="b-b">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   href data-toggle="tab" data-target="#tab1" translate>tab.deleteExistingEvents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href data-toggle="tab" data-target="#tab2" translate>tab.addMissingEvents</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content p-a">
                    <div class="tab-pane animated fadeIn active" id="tab1">
                        <div class="text-center m-t-md m-b h6 text-uppercase" ng-if="updateEventObj.existingEvents.length === 0">
                            <span translate>message.noEventsFound</span>
                        </div>
                        <div class="col-sm-12 m-b-sm" ng-repeat="evn in updateEventObj.existingEvents;">
                            <div class="p-l-0">
                                <label class="md-check m-t-xs">
                                    <input type="checkbox" ng-model="evn.checked">
                                    <i class="primary"></i>
                                    {{evn.event}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane animated fadeIn" id="tab2">
                        <div class="text-center m-t-md m-b h6 text-uppercase" ng-if="updateEventObj.missingEvents.length === 0">
                            <span translate>message.noEventsFound</span>
                        </div>
                        <div class="col-sm-12 m-b-sm" ng-repeat="evn in updateEventObj.missingEvents;">
                            <div class="p-l-0">
                                <label class="md-check m-t-xs">
                                    <input type="checkbox" ng-model="evn.checked">
                                    <i class="primary"></i>
                                    {{evn.event}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid" translate>
                button.submit
            </button>
            <button type="button" class="btn btn-grey btn-sm" ng-click="cancel()" translate>button.cancel</button>
        </div>
    </form>
</div>
