<div>
    <form name="form" ng-submit="ok()" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"><img
                    src="images/close-button.png"></span></button>
            <h4 class="modal-title">
                <span translate>label.setRunTimeOf</span> {{order.orderId}}
                <span ng-if="order.title">-</span>
                <span class="text text-muted">{{order.title}}</span>
            </h4>
        </div>
        <div class="modal-body p-a" style="min-height: 300px;max-height: 620px; overflow: auto">
            <div ng-hide="editor.hidePervious">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm pull-right btn-grey m-b"
                                ng-click="editor.hidePervious = true;editor.create=true;editor.edit=false;" translate>
                            button.addNewRuntime
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4" translate>label.chooseRunTime</label>

                            <div class="col-md-8" ng-init="order.at = 'now'">
                                <label class="md-check w-sm">
                                    <input type="radio" name="radio" ng-model="order.at" value="now">
                                    <i class="primary"></i> <span translate>label.runTime</span>
                                </label>
                                <label class="md-check">
                                    <input type="radio" name="radio" ng-model="order.at" value="later">
                                    <i class="primary"></i> <span translate>label.schedule</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12" ng-if="order.at == 'later'">
                                <select class="form-control" ng-model="order.runTime"
                                        ng-options="schedule.name as schedule.name for schedule in schedules">
                                    <option value="" translate>label.selectASchedule</option>
                                </select>
                            </div>
                            <div class="col-sm-12" ng-if="order.at == 'now'">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered ">
                                        <thead>
                                        <tr>
                                            <th translate>label.srNo</th>
                                            <th translate>label.runTime</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="data in runtimeList">
                                        <tr>
                                            <td>{{$index +1}}</td>
                                            <td>
                                                <a href=""
                                                   ng-click="editRunTime(data.xml);editor.hidePervious = true;editor.create=false;editor.edit=true;">{{data.runTime}}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center text-uppercase text-orange " ng-if="!runTimeList">
                                    <a href ng-click="editor.hidePervious = true;editor.create=true;editor.edit=false;"
                                       translate>button.addNewRuntime</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="10" ng-model="xml" ng-blur="textEditor(xml)"></textarea>
                    </div>
                </div>
            </div>
            <div ng-show="editor.hidePervious">
                <div ng-hide="editor.hideEvery">
                    <div style="margin-top: 100px">
                        <label class="col-sm-offset-2 col-sm-2 form-control-label" translate>label.every</label>

                        <div class="col-sm-6">
                            <select class="form-control" ng-model="run_time.every">
                                <option value="weekDays" translate>label.weekDays</option>
                                <option value="monthDays" translate>label.monthDays</option>
                                <option value="yearDays" translate>label.yearDays</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-show="editor.hideEvery">
                    <div class="row m-b-sm">
                        <label class="col-sm-12" ng-if="editor.create">
                            <span class="text-primary text-u-l" translate>label.create</span>
                            <i class="fa fa-angle-right m-l-xs fa-lg"></i> {{str}}
                        </label>
                        <label class="col-sm-12" ng-if="editor.update">
                            <span class="text-primary text-u-l" translate>label.edit</span>
                            <i class="fa fa-angle-right m-l-xs fa-lg"></i> {{str}}
                        </label>
                    </div>
                    <div ng-show="run_time.every == 'weekDays'">
                        <div class="b-b">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href data-toggle="tab" data-target="#tab1"
                                       ng-click="run_time.tab = 'weekDays'" translate>tab.weekDays</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href data-toggle="tab" data-target="#tab2"
                                       ng-click="run_time.tab = 'specificWeekDays'" translate>label.specificWeekDays</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content b-l b-r b-b p-a p-b-0 m-b">
                            <div class="tab-pane animated fadeIn active " id="tab1">
                                <div class="form-group row">
                                    <label class="col-sm-3" translate>label.weekDays</label>
                                    <div class="col-sm-9">
                                        <label class="md-check w">
                                            <input type="checkbox" ng-model="run_time.all" ng-click="checkAllWeek()">
                                            <i class="primary"></i> <span translate>label.everyDay</span>
                                        </label><br>
                                        <label class="md-check m-t-sm w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'1'">
                                            <i class="primary"></i> <span translate>label.monday</span>
                                        </label>
                                        <label class="md-check w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'2'">
                                            <i class="primary"></i> <span translate>label.tuesday</span>
                                        </label>
                                        <label class="md-check w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'3'">
                                            <i class="primary"></i> <span translate>label.wednesday</span>
                                        </label>
                                        <label class="md-check w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'4'">
                                            <i class="primary"></i> <span translate>label.thursday</span>
                                        </label>
                                        <label class="md-check m-t-sm w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'5'">
                                            <i class="primary"></i> <span translate>label.friday</span>
                                        </label>
                                        <label class="md-check m-t-sm w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'6'">
                                            <i class="primary"></i> <span translate>label.saturday</span>
                                        </label>
                                        <label class="md-check m-t-sm w">
                                            <input type="checkbox" data-checklist-model="run_time.weekdays.day._day"
                                                   data-checklist-value="'7'">
                                            <i class="primary"></i> <span translate>label.sunday</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane animated fadeIn " id="tab2">
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label" translate>label.weekDays</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="run_time.monthdays.weekdays._day">
                                            <option value="monday">{{'label.monday' | translate}}</option>
                                            <option value="tuesday">{{'label.tuesday' | translate}}</option>
                                            <option value="wednesday">{{'label.wednesday' | translate}}</option>
                                            <option value="thursday">{{'label.thursday' | translate}}</option>
                                            <option value="friday">{{'label.friday' | translate}}</option>
                                            <option value="saturday">{{'label.saturday' | translate}}</option>
                                            <option value="sunday">{{'label.sunday' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3" translate>label.dayNumber</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="run_time.monthdays.weekdays._which">
                                            <option value="1" translate>label.first</option>
                                            <option value="2" translate>label.second</option>
                                            <option value="3" translate>label.third</option>
                                            <option value="4" translate>label.fourth</option>
                                            <option value="-1" translate>label.last</option>
                                            <option value="-2" translate>label.secondLast</option>
                                            <option value="-3" translate>label.thirdLast</option>
                                            <option value="-4" translate>label.fourthLast</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="run_time.every == 'monthDays'">
                        <div class="form-group row">
                            <label class="col-sm-3" translate>label.countFromTheLastDay</label>

                            <div class="col-sm-6">
                                <label class="md-check">
                                    <input type="checkbox" ng-model="run_time.isUltimos">
                                    <i class="primary"></i>
                                </label>
                            </div>
                            <div class="col-sm-6 m-t-sm">
                                <table class="table table-bordered table-striped text-center m-b-xs w">
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('1')}"><a
                                                ng-click="selectMonthDays('1')">1</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('2')}"><a
                                                ng-click="selectMonthDays('2')">2</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('3')}"><a
                                                ng-click="selectMonthDays('3')">3</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('4')}"><a
                                                ng-click="selectMonthDays('4')">4</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('5')}"><a
                                                ng-click="selectMonthDays('5')">5</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('6')}"><a
                                                ng-click="selectMonthDays('6')">6</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('7')}"><a
                                                ng-click="selectMonthDays('7')">7</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('8')}"><a
                                                ng-click="selectMonthDays('8')">8</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('9')}"><a
                                                ng-click="selectMonthDays('9')">9</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('10')}"><a
                                                ng-click="selectMonthDays('10')">10</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('11')}"><a
                                                ng-click="selectMonthDays('11')">11</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('12')}"><a
                                                ng-click="selectMonthDays('12')">12</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('13')}"><a
                                                ng-click="selectMonthDays('13')">13</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('14')}"><a
                                                ng-click="selectMonthDays('14')">14</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('15')}"><a
                                                ng-click="selectMonthDays('15')">15</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('16')}"><a
                                                ng-click="selectMonthDays('16')">16</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('17')}"><a
                                                ng-click="selectMonthDays('17')">17</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('18')}"><a
                                                ng-click="selectMonthDays('18')">18</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('19')}"><a
                                                ng-click="selectMonthDays('19')">19</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('20')}"><a
                                                ng-click="selectMonthDays('20')">20</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('21')}"><a
                                                ng-click="selectMonthDays('21')">21</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('22')}"><a
                                                ng-click="selectMonthDays('22')">22</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('23')}"><a
                                                ng-click="selectMonthDays('23')">23</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('24')}"><a
                                                ng-click="selectMonthDays('24')">24</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('25')}"><a
                                                ng-click="selectMonthDays('25')">25</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('26')}"><a
                                                ng-click="selectMonthDays('26')">26</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('27')}"><a
                                                ng-click="selectMonthDays('27')">27</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('28')}"><a
                                                ng-click="selectMonthDays('28')">28</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('29')}"><a
                                                ng-click="selectMonthDays('29')">29</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('30')}"><a
                                                ng-click="selectMonthDays('30')">30</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('31')}"
                                            ng-if="!run_time.isUltimos"><a ng-click="selectMonthDays('31')">31</a></td>
                                        <td colspan="3" ng-class="{'primary': getSelectedMonthDays('0')}"
                                            ng-if="run_time.isUltimos"><a ng-click="selectMonthDays('0')">Last Day</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-if="run_time.every == 'yearDays'">
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label" translate>label.month</label>

                            <div class="col-sm-2">
                                <input class="form-control" placeholder="YYYY" ng-model="run_time.yeardays.month"
                                       type="text">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" placeholder="MM" ng-model="run_time.yeardays.year"
                                       type="text">
                            </div>
                            <div class="col-sm-6 m-t">
                                <table class="table table-bordered table-striped text-center m-b-xs w">
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('1')}"><a
                                                ng-click="selectMonthDays('1')">1</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('2')}"><a
                                                ng-click="selectMonthDays('2')">2</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('3')}"><a
                                                ng-click="selectMonthDays('3')">3</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('4')}"><a
                                                ng-click="selectMonthDays('4')">4</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('5')}"><a
                                                ng-click="selectMonthDays('5')">5</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('6')}"><a
                                                ng-click="selectMonthDays('6')">6</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('7')}"><a
                                                ng-click="selectMonthDays('7')">7</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('8')}"><a
                                                ng-click="selectMonthDays('8')">8</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('9')}"><a
                                                ng-click="selectMonthDays('9')">9</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('10')}"><a
                                                ng-click="selectMonthDays('10')">10</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('11')}"><a
                                                ng-click="selectMonthDays('11')">11</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('12')}"><a
                                                ng-click="selectMonthDays('12')">12</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('13')}"><a
                                                ng-click="selectMonthDays('13')">13</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('14')}"><a
                                                ng-click="selectMonthDays('14')">14</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('15')}"><a
                                                ng-click="selectMonthDays('15')">15</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('16')}"><a
                                                ng-click="selectMonthDays('16')">16</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('17')}"><a
                                                ng-click="selectMonthDays('17')">17</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('18')}"><a
                                                ng-click="selectMonthDays('18')">18</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('19')}"><a
                                                ng-click="selectMonthDays('19')">19</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('20')}"><a
                                                ng-click="selectMonthDays('20')">20</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('21')}"><a
                                                ng-click="selectMonthDays('21')">21</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('22')}"><a
                                                ng-click="selectMonthDays('22')">22</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('23')}"><a
                                                ng-click="selectMonthDays('23')">23</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('24')}"><a
                                                ng-click="selectMonthDays('24')">24</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('25')}"><a
                                                ng-click="selectMonthDays('25')">25</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('26')}"><a
                                                ng-click="selectMonthDays('26')">26</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('27')}"><a
                                                ng-click="selectMonthDays('27')">27</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('28')}"><a
                                                ng-click="selectMonthDays('28')">28</a></td>
                                    </tr>
                                    <tr>
                                        <td ng-class="{'primary': getSelectedMonthDays('29')}"><a
                                                ng-click="selectMonthDays('29')">29</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('30')}"><a
                                                ng-click="selectMonthDays('30')">30</a></td>
                                        <td ng-class="{'primary': getSelectedMonthDays('31')}"><a
                                                ng-click="selectMonthDays('31')">31</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label" translate>label.repeatInterval</label>

                        <div class="col-sm-6" ng-init="run_time.frequency = 'single_start'">
                            <select class="form-control" ng-model="run_time.frequency">
                                <option value="single_start" translate>label.singleStart</option>
                                <option value="repeat" translate>label.repeatStartEnd</option>
                                <option value="absolute_repeat" translate>label.absoluteRepeatEndEnd</option>
                            </select>
                        </div>
                    </div>

                    <div ng-if="run_time.every != 'monthDays'">
                        <div class="form-group row" ng-show="run_time.frequency=='single_start'">
                            <label class="col-sm-3 form-control-label" translate>label.startTime</label>

                            <div class="col-sm-2">
                                <input class="form-control input-time" ng-model="run_time.weekdays.day.period._single_start"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker data-length="1"
                                       data-minute-step="1"
                                       data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                        <div class="form-group row" ng-show="run_time.frequency=='repeat'">
                            <label class="col-sm-3 form-control-label" translate>label.repeatTime</label>

                            <div class="col-sm-2">
                                <input class="form-control input-time" ng-model="run_time.weekdays.day.period._repeat"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker data-length="1"
                                       data-minute-step="1"
                                       data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                        <div class="form-group row"
                             ng-show="run_time.frequency=='absolute_repeat'">
                            <label class="col-sm-3 form-control-label" translate>label.interval</label>

                            <div class="col-sm-2">
                                <input class="form-control input-time" ng-model="run_time.weekdays.day.period._absolute_repeat"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker data-length="1"
                                       data-minute-step="1"
                                       data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                        <div class="form-group row" ng-hide="run_time.frequency=='single_start'"
                             ng-class="{'has-error': (form.time1.$invalid || form.time2.$invalid)}">
                            <label class="col-sm-3 form-control-label" translate>label.begin</label>
                            <div class="col-sm-2">
                                <input class="form-control input-time" name="time1"
                                       ng-model="run_time.weekdays.day.period._begin"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="{{'label.begin' | translate}}" bs-timepicker
                                       data-length="1"
                                       data-minute-step="1" data-arrow-behavior="picker" type="text">
                            </div>
                            <label class="col-sm-2 form-control-label text-right" translate>label.end</label>
                            <div class="col-sm-2">
                                <input class="form-control input-time" name="time2"
                                       ng-model="run_time.weekdays.day.period._end"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="{{'label.end' | translate}}"
                                       data-min-time="{{run_time.weekdays.day.period._begin}}" bs-timepicker data-length="1"
                                       data-minute-step="1" data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                    </div>
                    <div ng-if="run_time.every != 'weekDays'">
                        <div class="form-group row" ng-show="run_time.frequency=='single_start'">
                            <label class="col-sm-3 form-control-label" translate>label.startTime</label>

                            <div class="col-sm-2">
                                <input class="form-control input-time" ng-model="run_time.monthdays.day.period._single_start"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker data-length="1"
                                       data-minute-step="1"
                                       data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                        <div class="form-group row" ng-show="run_time.frequency=='repeat'">
                            <label class="col-sm-3 form-control-label" translate>label.repeatTime</label>

                            <div class="col-sm-2">
                                <input class="form-control input-time" ng-model="run_time.monthdays.day.period._repeat"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker data-length="1"
                                       data-minute-step="1"
                                       data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                        <div class="form-group row"
                             ng-show="run_time.frequency=='absolute_repeat'">
                            <label class="col-sm-3 form-control-label" translate>label.interval</label>

                            <div class="col-sm-2">
                                <input class="form-control input-time" ng-model="run_time.monthdays.day.period._absolute_repeat"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="hh:mm:ss" bs-timepicker data-length="1"
                                       data-minute-step="1"
                                       data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                        <div class="form-group row" ng-hide="run_time.frequency=='single_start'"
                             ng-class="{'has-error': (form.time1.$invalid || form.time2.$invalid)}">
                            <label class="col-sm-3 form-control-label" translate>label.begin</label>
                            <div class="col-sm-2">
                                <input class="form-control input-time" name="time1"
                                       ng-model="run_time.monthdays.day.period._begin"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="{{'label.begin' | translate}}" bs-timepicker
                                       data-length="1"
                                       data-minute-step="1" data-arrow-behavior="picker" type="text">
                            </div>
                            <label class="col-sm-2 form-control-label text-right" translate>label.end</label>
                            <div class="col-sm-2">
                                <input class="form-control input-time" name="time2"
                                       ng-model="run_time.monthdays.day.period._end"
                                       data-time-format="HH:mm:ss" style="width: 100%; background-position: 95% 8px;"
                                       data-autoclose="1" placeholder="{{'label.end' | translate}}"
                                       data-min-time="{{run_time.monthdays.day.period._begin}}" bs-timepicker data-length="1"
                                       data-minute-step="1" data-arrow-behavior="picker" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label" translate>label.onHoliday</label>
                        <div class="col-sm-6" ng-init="run_time.period._when_holiday = 'suppress'">
                            <select class="form-control" ng-model="run_time.period._when_holiday">
                                <option value="{{k}}" ng-repeat="(k,v) in editor.when_holiday_options" translate>
                                    {{v}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3">{{'label.monthRange' | translate}}
                            <a href>
                                <i class="cursor fa fa-caret-up m-l-xs" ng-hide="showMonthRange"
                                   ng-click="showMonthRange=true"></i>
                                <i class="cursor fa fa-caret-down m-l-xs" ng-show="showMonthRange"
                                   ng-click="showMonthRange=false"></i>
                            </a>
                        </label>
                        <div class="col-sm-9" ng-show="showMonthRange">
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'1'">
                                <i class="primary"></i> <span translate>label.january</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'2'">
                                <i class="primary"></i> <span translate>label.february</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'3'">
                                <i class="primary"></i> <span translate>label.march</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'4'">
                                <i class="primary"></i> <span translate>label.april</span>
                            </label>
                            <label class="md-check m-t-sm w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'5'">
                                <i class="primary"></i> <span translate>label.may</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'6'">
                                <i class="primary"></i> <span translate>label.june</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'7'">
                                <i class="primary"></i> <span translate>label.july</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'8'">
                                <i class="primary"></i> <span translate>label.august</span>
                            </label>
                            <label class="md-check m-t-sm w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'9'">
                                <i class="primary"></i> <span translate>label.september</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'10'">
                                <i class="primary"></i> <span translate>label.october</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'11'">
                                <i class="primary"></i> <span translate>label.november</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.month._month"
                                       data-checklist-value="'12'">
                                <i class="primary"></i> <span translate>label.december</span>
                            </label>
                        </div>
                    </div>
                    <div class="row m-b-sm">
                        <label class="col-sm-12">{{'label.nonWorkingDays' | translate}}
                            <a href>
                                <i class="cursor fa fa-caret-up m-l-xs" ng-hide="nonWorkingDay"
                                   ng-click="nonWorkingDay=true"></i>
                                <i class="cursor fa fa-caret-down m-l-xs" ng-show="nonWorkingDay"
                                   ng-click="nonWorkingDay=false"></i>
                            </a>
                        </label>
                    </div>
                    <div class="form-group row" ng-show="nonWorkingDay">
                        <label class="col-sm-3" translate>label.date</label>

                        <div class="col-sm-6">
                            <input class="form-control input-date" ng-model="run_time.holidays.holiday._date"
                                   data-date-format="yyyy-MM-dd"
                                   data-autoclose="1" placeholder="yyyy-mm-dd" bs-datepicker type="text"
                                   style="width: 30%; background-position: 95% 8px;">
                        </div>
                    </div>
                    <div class="form-group row" ng-show="nonWorkingDay">
                        <label class="col-sm-3" translate>label.weekDays</label>
                        <div class="col-sm-9">
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'1'">
                                <i class="primary"></i> <span translate>label.monday</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'2'">
                                <i class="primary"></i> <span translate>label.tuesday</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'3'">
                                <i class="primary"></i> <span translate>label.wednesday</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'4'">
                                <i class="primary"></i> <span translate>label.thursday</span>
                            </label>
                            <label class="md-check m-t-sm w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'5'">
                                <i class="primary"></i> <span translate>label.friday</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'6'">
                                <i class="primary"></i> <span translate>label.saturday</span>
                            </label>
                            <label class="md-check w">
                                <input type="checkbox" data-checklist-model="run_time.holidays.weekdays.day._day"
                                       data-checklist-value="'7'">
                                <i class="primary"></i> <span translate>label.sunday</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" ng-show="nonWorkingDay">
                        <label class="col-sm-3 form-control-label" translate>label.fromHotFolder</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="run_time.holidays.livefile">
                        </div>
                    </div>
                    <div class="m-t row" ng-show="periodList.length>0">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th translate>label.weekDays</th>
                                        <th translate>label.begin</th>
                                        <th translate>label.end</th>
                                        <th translate>label.repeatInterval</th>
                                        <th translate>label.time</th>
                                        <th translate>label.onHoliday</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="period in periodList">
                                        <td >{{getWeekDays(period.weekdays.day._day)}}</td>
                                        <td>{{period.weekdays.day.period._begin  | date:'HH:mm:ss'}}</td>
                                        <td>{{period.weekdays.day.period._end  | date:'HH:mm:ss'}}</td>
                                        <td>
                                              <span ng-if="period.frequency == 'single_start'" translate>label.singleStart</span>
                                              <span ng-if="period.frequency == 'repeat'" translate>label.repeatStartEnd</span>
                                              <span ng-if="period.frequency == 'absolute_repeat'" translate>label.absoluteRepeatEndEnd</span>
                                        </td>
                                        <td>
                                            {{period.weekdays.day.period._single_start | date:'HH:mm:ss'}}
                                            {{period.weekdays.day.period._absolute_repeat | date:'HH:mm:ss'}}
                                            {{period.weekdays.day.period._repeat | date:'HH:mm:ss'}}
                                        </td>
                                        <td>
                                            <span ng-repeat="p in period">
                                                <span ng-if="p._when_holiday=='previous_non_holiday'" translate>previous non holiday</span>
                                                <span ng-if="p._when_holiday=='next_non_holiday'" translate>next non holiday</span>
                                                <span ng-if="p._when_holiday=='suppress'" translate>suppress execution (default)</span>
                                                <span ng-if="p._when_holiday=='ignore_holiday'" translate>ignore holiday</span>
                                            </span>
                                        </td>
                                        <td>
                                            <a><i ng-click="editPeriod(period, $index)" class="fa fa-pencil text-muted m-r-sm"></i></a>
                                            <a><i ng-click="removePeriod($index)" class="fa fa-times text-muted"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button ng-if="!editor.hidePervious" type="submit" class="btn btn-primary btn-sm" translate>button.submit
            </button>
            <button ng-if="!editor.hidePervious" type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()"
                    translate>button.cancel
            </button>
            <button ng-if="editor.hidePervious" ng-hide="editor.hideEvery" type="button" class="btn btn-primary btn-sm"
                    ng-click="editor.hideEvery =true" translate>button.addRuntime
            </button>
            <button ng-if="editor.hidePervious" ng-hide="editor.hideEvery" type="button"
                    class="btn btn-grey btn-sm m-l-sm" ng-click="editor.hidePervious = false" translate>button.back
            </button>
            <button ng-if="editor.hidePervious" ng-hide="!editor.hideEvery" type="button" class="btn btn-primary btn-sm"
                    ng-disabled="form.$invalid" ng-click="addPeriod();" translate>button.addPeriod
            </button>
            <button ng-if="editor.hidePervious" ng-hide="!editor.hideEvery" type="button" class="btn orange btn-sm"
                    ng-disabled="form.$invalid" ng-click="createRunTime();editor.hidePervious = false;editor.hideEvery =false" translate>
                button.createRuntime
            </button>
            <button ng-if="editor.hidePervious" ng-hide="!editor.hideEvery" type="button"
                    class="btn btn-grey btn-sm m-l-sm" ng-click="editor.hideEvery = false" translate>button.back
            </button>
        </div>
    </form>
</div>

