<div ng-click="refreshSession()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"
                                                                                         class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title" translate>
            <span ng-if="action == 'add'" translate>label.createFilter</span>
            <span ng-if="action == 'edit'" translate>label.updateFilter</span>
            <span ng-if="action == 'copy'" translate>label.copyFilter</span>
            <span ng-if="action == 'edit' || action == 'copy'">: {{::eventFilter.name}}</span>
        </h4>
    </div>
    <form name="form" role="form" ng-submit="ok()" novalidate>
        <div class="modal-body p-a">
            <div class="form-group row" ng-class="{ 'has-error' : form.filterName.$invalid && form.filterName.$dirty }">
                <label class="col-sm-4 form-control-label" translate>label.filterName</label>

                <div class="col-sm-6">
                    <input uib-tooltip="Max: 25 characters" tooltip-trigger="focus" type="text" required
                           class="form-control" placeholder="{{'placeholder.name' | translate}}" name="filterName"
                           ng-maxlength="25" ng-model="eventFilter.name" ng-blur="checkFilterName()">

                    <div class="help-block text-danger" ng-if="form.filterName.$dirty"
                         ng-messages="form.filterName.$error">
                        <div ng-message="required" translate>message.requiredError</div>
                        <div ng-message="maxlength" translate>message.tooLongError</div>
                    </div>
                    <div class="help-block text-danger" ng-if="!isUnique">
                        <div translate>message.uniqueError</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 form-control-label" translate>label.eventIds</label>

                <div class=" col-sm-6">
                    <input type="text" class="form-control" ng-model="eventFilter.eventIds">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 form-control-label" translate>label.eventClasses</label>

                <div class=" col-sm-6">
                    <input type="text" class="form-control" ng-model="eventFilter.eventClasses">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 form-control-label" translate>label.eventExitCodes</label>

                <div class=" col-sm-6">
                    <input type="text" class="form-control" ng-model="eventFilter.exitCodes">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 form-control-label" translate>label.expireFrom</label>

                <div class=" col-sm-6" ng-class="{ 'has-error' : form.from.$invalid && form.from.$dirty }">
                    <input valid-daily-plan-filter-regex type="text" name="from" class="form-control"
                           placeholder="{{'placeholder.timeRangeFrom' | translate}}" ng-model="eventFilter.from1">

                    <div class="help-block text-danger" ng-messages="form.from.$error">
                        <div ng-message="invalid" translate>message.invalid</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 form-control-label" translate>label.expireTo</label>

                <div class=" col-sm-6" ng-class="{ 'has-error' : form.to.$invalid && form.to.$dirty }">
                    <input valid-daily-plan-filter-regex type="text" name="to" class="form-control"
                           placeholder="{{'placeholder.timeRangeTo' | translate}}" ng-model="eventFilter.to1">

                    <div class="help-block text-danger" ng-messages="form.to.$error">
                        <div ng-message="invalid" translate>message.invalid</div>
                    </div>
                </div>
            </div>
            <div class="form-group row m-b-sm">
                <label class="col-md-4 col-sm-4">
                    <span translate>label.jobChains</span>
                    <span>/</span>
                    <span translate>label.orders</span>
                </label>

                <div class="col-sm-6" ng-if="eventFilter.jobChains.length>0 || eventFilter.orders.length>0">
                    <div style="max-height: 140px; overflow: auto" ng-if="eventFilter.jobChains.length>0">
                        <div ng-repeat="jobChain in eventFilter.jobChains track by $index">
                            <span class="text-muted" translate>label.jobChain</span>: <span class="">{{jobChain}}</span>
                            <i class="pull-right fa fa-remove m-l text-hover-primary"
                               ng-click="remove(jobChain,'jobChain')"></i>
                        </div>
                    </div>
                    <div style="max-height: 140px; overflow: auto" ng-if="eventFilter.orders.length>0">
                        <div ng-repeat="order in eventFilter.orders track by $index">
                            <span class="text-muted" translate>label.order</span>: <span
                                class="">{{order.orderId}}</span> <i
                                class="pull-right fa fa-remove m-l text-hover-primary"
                                ng-click="remove(order,'order')"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"
                     ng-class="{'p-l-0': eventFilter.jobChains.length>0 || eventFilter.orders.length>0}">
                    <a href="" ng-click="getTreeStructureForObjects('jobChain')"><i
                        class="fa fa-folder-o fa-lg"></i></a></div>
            </div>
            <div class="form-group row m-b-sm">
                <label class="col-md-4 col-sm-4">
                    <span translate>label.jobs</span>
                </label>

                <div class="col-sm-6" ng-if="eventFilter.jobs.length>0">
                    <div style="max-height: 140px; overflow: auto" ng-if="eventFilter.jobs.length>0">
                        <div ng-repeat="job in eventFilter.jobs track by $index">
                            <span class="">{{job}}</span>
                            <i class="pull-right fa fa-remove m-l text-hover-primary" ng-click="remove(job,'job')"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1" ng-class="{'p-l-0': eventFilter.jobs.length>0}">
                    <a href="" ng-click="getTreeStructureForObjects('job')">
                        <i class="fa fa-folder-o fa-lg"></i></a></div>
            </div>

            <div class="form-group row" ng-if="permission.JOCConfigurations.share.change.sharedStatus.makeShared">
                <label class="col-sm-4" translate>label.sharedFilter</label>

                <div class="col-sm-8">
                    <label class="md-check">
                        <input type="checkbox" ng-model="eventFilter.shared">
                        <i class="primary"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid" translate>button.saveFilter</button>
            <button type="button" class="btn btn-grey btn-sm" ng-click="cancel()" translate>button.cancel</button>
        </div>
    </form>
</div>
