<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel();uploader.queue[0].remove();" aria-label="Close">
            <span aria-hidden="true" class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title" translate>label.importJobStream</h4>
    </div>
    <div class="modal-body p-a" style="min-height: 240px">
        <form name="form1" ng-submit="ok()" novalidate >
            <div class="row hide" ng-class="{'show': display}">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3" translate>label.selectComments</label>

                        <div class=" col-sm-9">
                            <div>
                                <label class="md-check w w-md">
                                    <input type="radio" name="radio1" ng-model="comments.radio" value="predefined">
                                    <i class="primary"></i> <span translate>label.predefined</span>
                                </label>
                                <label class="md-check w">
                                    <input type="radio" name="radio1" ng-model="comments.radio" value="new">
                                    <i class="primary"></i> <span translate>label.individual</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="comments.radio=='predefined'"
                         ng-class="{'has-error' : logError}">
                        <label class="col-sm-3 form-control-label" translate>label.selectComment</label>

                        <div class="col-sm-9">
                            <select class="form-control" ng-model="comments.comment" ng-change="logError = false">
                                <option value="" selected translate>label.selectPredefinedReason</option>
                                <option ng-repeat="list in predefinedMessageList" value="{{list}}">{{list}}</option>
                            </select>

                            <div class="help-block text-danger" ng-if="logError">
                                <div translate>message.requiredError</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="comments.radio=='new'" ng-class="{'has-error' : logError}">
                        <label class="col-sm-3 " translate>label.comment</label>
                        <div class=" col-sm-9">
                            <textarea rows="3" class="form-control" maxlength="2000" name="comment"
                                      ng-model="comments.comment"
                                      ng-attr-placeholder="{{'placeholder.enterComment' | translate}}"
                                      ng-focus="logError = false"></textarea>
                            <div class="help-block text-danger" ng-if="logError">
                                <div translate>message.requiredError</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label" translate>label.timeSpend</label>
                        <div class="col-sm-9">
                            <input type="text" ng-pattern="/^(\d)+$/" class="form-control"
                                   placeholder="{{'placeholder.timeSpend' | translate}}"
                                   ng-model="comments.timeSpent">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label" translate>label.ticketLink</label>

                        <div class="col-sm-9">
                            <input type="url" class="form-control"
                                   placeholder="{{'placeholder.ticketLink' | translate}}"
                                   ng-model="comments.ticketLink">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="fileLoading">
                <div class="p-l-a p-b-0">
                    <div ng-if="uploader.queue.length>0" class="form-group row" ng-class="{ 'has-error' : form1.path.$invalid && form1.path.$dirty }">
                        <label class="col-sm-3 form-control-label" ng-class="{'col-sm-4':importJobstreamObj.isSame}" translate>label.path</label>
                        <div class="col-sm-6">
                            <input type="text" required class="form-control" placeholder="{{'placeholder.enterOrSelectFromTree' | translate}}" name="path"
                                   ng-model="importJobstreamObj.path">
                            <div class="help-block text-danger" ng-if="form1.path.$dirty" ng-messages="form1.path.$error">
                                <div ng-message="required" translate>message.requiredError</div>
                            </div>
                            <div style="position: absolute; right: 25px;margin-top:6px;top:0">
                                <a href="" ng-click="getTreeStructure()"><i class="fa fa-folder-o fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="uploader.queue.length>0 && importJobstreamObj.isSame" class="form-group row">
                        <label class="col-sm-4" translate>label.mergeJobStreamWithOtherFolder</label>
                        <div class="col-sm-6">
                            <label class="md-check">
                                <input type="checkbox" ng-model="importJobstreamObj.merge"
                                       name="merge"><i class="primary"></i>
                            </label>
                        </div>
                    </div>
                    <div ng-if="uploader.queue.length>0" style="min-height: 250px; max-height: 600px; overflow: auto">
                        <div class="m-b">
                            <label class="md-check lg-check" style="top:4px">
                                <input type="checkbox" ng-model="importJobstreamObj.all" ng-change="selectAll()"><i class="primary"></i>
                                <span class="p-l-sm">{{'label.selectAllJobStream' | translate}}</span>
                            </label>
                        </div>
                        <div ng-repeat="value in fileContentJobStreams" class="m-b">
                            <div class="m-b-xs">
                                <label class="md-check lg-check" style="top:4px">
                                    <input type="checkbox" data-checklist-model="importJobstreamObj.jobstreams"
                                           data-checklist-value="value"><i class="primary"></i>
                                </label>
                                <span class="fa fa-circle p-l-xs m-r-sm" style="font-size: 10px"></span>
                                <span translate>label.jobStream</span>:
                                <span class="text-dark">{{value.jobStream}}</span>
                                <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel" ng-click="showPanel=true"></i>
                                <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel" ng-click="showPanel=false"></i>
                            </div>
                            <div class="m-l-md" ng-repeat="starter in value.jobstreamStarters" ng-show="!showPanel">
                                <div>
                                    <span class="fa fa-circle-o p-l-xs m-r-xs" style="font-size: 9px"></span>
                                    <span translate>label.jobstreamStarter</span>:
                                    <span class="text-dark">{{starter.starterName}}</span>
                                    <i class="text-muted p-l-xs">{{starter.title}}</i>
                                </div>
                                <div class="m-l-md" ng-repeat="job in starter.jobs">
                                    <span class="icon-jobs-icon p-l-xs m-r-xs" style="font-size: 11px"></span>
                                    <span>{{job.job}}</span>
                                </div>
                            </div>
                            <div class="m-l-md" ng-show="!showPanel">
                                <div ng-repeat="job in value.jobs" ng-if="!job.hide">
                                    <span class="icon-jobs-icon p-l-xs m-r-xs" style="font-size: 11px"></span>
                                    <span translate>label.job</span>:
                                    <span class="text-dark">{{job.job}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div nv-file-drop="" uploader="uploader" class="drop-box-full" ng-hide="uploader.queue.length>0">
                    <div><i class="icon-upload-icon"></i></div>
                    <div translate>button.dropJobStreamFileToUpload</div>
                </div>
                <div class="p-l-sm p-t-sm" ng-hide="uploader.queue.length>0">
                    <button type="button" class="btn btn-grey btn-sm"
                            onclick="openFileOption()">
                        <span translate="">button.chooseFileToUpload</span>
                    </button>
                </div>
                <input type="file" id="file1" nv-file-select="" accept=".json" uploader="uploader" style="display: none;">
                <div class="row m-t-md" ng-if="uploader.queue.length>0">
                    <div class="b-t"></div>
                </div>
                <div class="form-group m-t m-b-xs" ng-if="uploader.queue.length>0">
                    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="importJobstreamObj.jobstreams.length==0 || form1.$invalid" translate>button.import</button>
                    <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="uploader.queue[0].remove();cancel()" translate>button.cancel</button>
                </div>
            </div>
        </form>
        <div ng-if="fileLoading" class="text-center m-t-lg m-b-md" >
            <div class="cssload-loading text-sm">{{'message.readingContentOfFile' | translate}}...</div>
        </div>
    </div>
</div>
<script>
    function openFileOption() {
        document.getElementById("file1").click();
    }
</script>
