<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"><img src="images/close-button.png"></span></button>
        <h4 class="modal-title"><span translate> button.keyboardshortcuts</span></h4>
    </div>
     <div class="modal-body p-a">
         <div class="row">
             <h5 style="margin-left: 18px"><span translate>label.navigationShortcuts</span></h5>

             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewProfile</span> </div> <div class="col-sm-3"><div class="kbs">p</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewDashboard</span> </div> <div class="col-sm-3"><div class="kbs">d</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewDailyPlan</span> </div> <div class="col-sm-3"> <div class="kbs">d</div> <span translate class="kbs-joint" > label.then</span> <div class="kbs-right">a</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewJobChains</span> </div> <div class="col-sm-3"><span class="kbs">j</span> <span translate class="kbs-joint"> label.then</span> <span class="kbs-right">c</span></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewOrders</span> </div> <div class="col-sm-3"><div class="kbs">o</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewJobs</span> </div> <div class="col-sm-3"><div class="kbs">j</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewResources</span> </div> <div class="col-sm-3"><div class="kbs">r</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewHistory</span> </div> <div class="col-sm-3"><div class="kbs">h</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.clientSideLog</span> </div> <div class="col-sm-3"><div class="kbs">s</div></div>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.viewAuditLog</span> </div><div class="col-sm-3"> <div class="kbs">a</div> <span translate class="kbs-joint"> label.then</span> <div class="kbs-right">l</div></div>
        </div>
         <div class="row">
             <h5 style="margin-left: 18px"><span translate> label.actionShortcuts</span></h5>
             <div class="col-sm-6 col-sm-offset-2"><span translate> message.notification</span> </div> <div class="col-sm-3"><div class="kbs">n</div></div>
         </div>
             <div class="row m-t-md">
                <div class="b-t"></div>
         </div>

         <div class="form-group m-t m-b-xs">
             <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()" translate>button.close</button>
         </div>
     </div>
</div>
