<div ng-controller="OrderFunctionCtrl" ng-click="refreshSession()">
    <div class="modal-header">
         <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
        <h4 class="modal-title" translate><span ng-bind="jobChain.path"></span> : <span translate>label.orders</span></h4>
    </div>
    <div class="modal-body" style="min-height: 500px; max-height: 650px; overflow: auto">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th><span translate>label.action</span></th>
                            <th><span translate>label.orderId</span></th>
                            <th><span translate>label.processingStatus</span></th>
                            <th><span translate>label.state</span></th>
                            <th><span translate>label.startedAt</span></th>
                            <th><span translate>label.runningSince</span></th>
                            <th><span translate>label.nextStartTime</span></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="order in orders | orderBy:orderId">
                        <tr>
                            <td>
                                <div class="btn-group dropdown ">
                                    <button type="button" class="btn-drop more-option-h"
                                            data-toggle="dropdown"><i
                                            class="fa fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-list1 dropdown-ac dropdown-more "
                                         role="menu">
                                        <a ng-click="showLogWindow(order)" class="dropdown-item hide"
                                           ng-if="order.historyId"
                                           ng-class="{'show':permission.Order.view.orderLog}"
                                           translate>button.viewLog</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK') && permission.Order.execute.start"
                                           ng-click="start(order)" translate>button.startOrderNow</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK') && permission.Order.execute.start"
                                           ng-click="startOrder(order)" translate>button.startOrderat</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text != 'BLACKLIST') && permission.Order.change.state"
                                           ng-click="setOrderState(order)"
                                           translate>button.setOrderState</a>
                                        <a href class="dropdown-item bg-hover-color"
                                           ng-if="(order.processingState._text != 'SUSPENDED' && order.processingState._text != 'BLACKLIST') && permission.Order.execute.suspend"
                                           ng-click="suspendOrder(order)" translate>button.suspendOrder</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.execute.resume"
                                           ng-click="resumeOrder(order)" translate>button.resumeOrder</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.execute.resume"
                                           ng-click="resumeOrderWithParam(order)" translate>button.resumeOrderParametrized</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.execute.resume"
                                           ng-click="resumeOrderNextstate(order)"
                                           translate>button.resumeOrderFromState</a>
                                        <a href class="dropdown-item bg-hover-color"
                                           ng-if="order.processingState._text == 'SETBACK' && permission.Order.execute.removeSetback "
                                           ng-click="removeOrder(order)" translate>button.removeOrder</a>
                                        <a href class="dropdown-item bg-hover-color"
                                           ng-if="order._type !='PERMANENT' && permission.Order.delete.permanent"
                                           ng-click="deleteOrder(order)" translate>button.deleteOrder</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text != 'BLACKLIST') && permission.Order.execute.reset"
                                           ng-click="resetOrder(order)" translate>button.resetOrder</a>
                                        <div class="dropdown-divider"></div>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text != 'BLACKLIST') && permission.Order.change.runTime"
                                           ng-click="setRunTime(order)"><span
                                                translate>button.setRunTime</span></a>
                                        <a href class="dropdown-item"
                                           ng-if="order._type =='PERMANENT' && order.processingState._text != 'BLACKLIST' && permission.DailyPlan.view.status"
                                           ng-click="viewCalendar(order)" translate>button.showDailyPlan</a>
                                        <a href class="dropdown-item"
                                           ng-if="(order.processingState._text != 'BLACKLIST') && permission.Order.change.runTime && order._type !='AD_HOC'"
                                           ng-click="showAssignedCalendar(order)">
                                            <span translate>button.showAssignedCalendar</span>
                                        </a>

                                        <div class="dropdown-divider"></div>
                                        <a ng-click="showConfiguration('order',order.jobChain,order.orderId)"
                                           class="hide dropdown-item"
                                           ng-class="{show:(permission.Order.view.configuration && order._type =='PERMANENT')}"
                                           translate>button.showConfiguration</a>
                                        <a class="dropdown-item"
                                           ng-click="copyLinkToObject('order',order.path)" translate>button.copyLinkToObject</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-dark">{{order.orderId}}</span> <span ng-if="order.title">-</span>
                                <i class="text-muted">{{order.title}}</i>
                            </td>
                            <td>
                                <a class="label" ng-click="showLogWindow(order)"  ng-if="order.historyId && permission.Order.view.orderLog" ng-class="bgColorFunction(order.processingState.severity)" ng-bind="order.processingState._text | translate"></a>
                                <span class="label" ng-if="!order.historyId" ng-class="bgColorFunction(order.processingState.severity)" ng-bind="order.processingState._text | translate"></span>
                                <span class="text-muted text-sm" ng-if="order.processingState._text == 'SETBACK'">{{order.setback}}</span>
                            </td>
                            <td uib-tooltip="{{order.stateText}}"><span  ng-bind="order.state"></span></td>
                            <td >
                                <span ng-if="order.startedAt" ng-bind="order.startedAt | stringToDate"></span>
                                <span class="hide " ng-class="{'show-inline':!order.startedAt}" translate>label.never</span>
                            </td>
                            <td><span class="hide" ng-class="{'show-inline':order.startedAt}">{{order.startedAt | stringToDate}} <span class="text-success">(<span time="{{order.startedAt}}"></span>)</span></span></td>
                            <td  class="text-muted">
                                <span class="hide" ng-class="{'show-inline':order.nextStartTime && !order.startedAt}">
                                     {{order.nextStartTime | stringToDate}}
                                    <span class="text-success">(<span time="{{order.nextStartTime}}"></span>)</span></span>
                                <span class="hide " ng-class="{'show-inline':!order.nextStartTime && !order.startedAt}" translate>label.never</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.table-responsive').on('show.bs.dropdown', function (e) {
        var $table = $(this),
                $menu = $(e.target).find('.more-option-h');

        $('.dropdown-menu-list1').addClass('list-dropdown');
         $('.dropdown-menu-list1').css('top', $menu.offset().top + 'px');
        $('.dropdown-menu-list1').css('left', '22px');
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.dropdown-menu-list1').removeClass('list-dropdown');
    });
</script>
