<div ng-click="refreshSession()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true" class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title"><span translate>label.updateOutCondition</span> : {{_job.path}}</h4>
    </div>
    <form name="form" role="form" ng-submit="ok()" novalidate>
        <div class="modal-body p-a" style="min-height: 425px;max-height: 650px; overflow: auto">
            <div ng-if="!condition">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                         <table class="table table-hover table-bordered">
                             <thead>
                             <tr>
                                 <td translate>label.workflow</td>
                                 <td translate>label.expression</td>
                                 <td translate>label.listOfEvents</td>
                             </tr>
                             </thead>
                             <tbody>
                             <tr ng-repeat="outcondition in outconditions track by $index" class="cursor" ng-click="updateCondition(outcondition, $index)">
                                 <td>
                                     {{outcondition.workflow}}
                                     <a class="text-xs text-hover-color m-l-sm" ng-click="removeOutCondition($index);$event.stopPropagation()">
                                         <i class="fa fa-times"></i></a>
                                 </td>
                                 <td>
                                     {{outcondition.conditionExpression.expression}}
                                 </td>
                                 <td>
                                     <div ng-repeat="events in outcondition.outconditionEvents track by $index">
                                         <a ng-click="editEvent(events, $index);$event.stopPropagation()">{{events.event}}</a>
                                         <a class="text-xs text-hover-primary m-l-sm" ng-click="editEvent(events, outcondition, $index);$event.stopPropagation()">
                                             <i class="fa fa-pencil"></i></a>
                                         <a class="text-xs text-hover-color m-l-sm" ng-click="removeEvent(outcondition.outconditionEvents, $index);$event.stopPropagation()">
                                             <i class="fa fa-times"></i></a>
                                     </div>
                                     <div class="text-xs cursor text-hover-primary">
                                         <i class="fa fa-plus" ng-click="addEvent(outcondition);$event.stopPropagation()"></i>
                                     </div>
                                 </td>
                             </tr>
                             </tbody>
                         </table>
                        </div>
                        <div class="text-center" ng-if="outconditions.length==0">
                            <span translate>message.noOutconditionFound</span>.
                            <a class="text-hover-primary text-u-l" ng-click="updateCondition()" translate>message.clickHereToADD</a>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="outconditions.length > 0">
                    <button type="button" class="btn btn-primary btn-sm" tooltip-placement="right" uib-tooltip="{{'button.addOutconditionEvents' | translate}}" ng-click="updateCondition()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div ng-if="condition">
                <div class="row m-b-sm">
                    <label class="col-sm-12" ng-show="strCondition == 'create'">
                        <span class="text-primary  text-capitalize" translate>label.create</span>
                        <i class="fa fa-angle-right m-l-xs fa-lg"></i>
                    </label>
                    <label class="col-sm-12" ng-show="strCondition == 'edit'">
                        <span class="text-primary text-capitalize" translate>label.edit</span>
                        <i class="fa fa-angle-right m-l-xs fa-lg"></i>
                    </label>
                </div>
                <div class="form-group row" ng-class="{ 'has-error' : form.workflow.$invalid && form.workflow.$dirty }">
                    <div class="col-md-10 m-b-sm" translate>label.workflow</div>
                    <div class="col-md-10">
                        <input type="text" required class="form-control" placeholder="{{'placeholder.name' | translate}}" name="workflow"
                               ng-model="condition.workflow">
                        <div class="help-block text-danger" ng-if="form.workflow.$dirty"
                             ng-messages="form.workflow.$error">
                            <div ng-message="required" translate>message.requiredError</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 m-b-sm" >
                        <span translate>label.expression</span>
                        <i class="fa fa-pencil m-l-sm text-hover-primary" ng-click="expressionEditor()"></i>
                    </div>
                    <div class="col-sm-10 m-b-sm" ng-class="{ 'has-error' : form.expression.$invalid && form.expression{{$index}}.$dirty}">
                        <textarea rows="3" class="form-control" name="expression" required
                                  ng-model="condition.conditionExpression.expression"></textarea>
                    </div>
                    <div class="col-sm-10 m-b-sm" translate>label.validatedExpression</div>
                    <div class="col-sm-10 m-b-sm" ng-class="{ 'has-error' : form.validatedExpression.$invalid && form.validatedExpression.$dirty}">
                        <input type="text" class="form-control" name="validatedExpression"
                               ng-model="condition.conditionExpression.validatedExpression">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 _600" translate>label.eventList</div>
                </div>
                <div class="form-group row m-b-0" ng-repeat="outconditionEvent in condition.outconditionEvents;">
                    <div class="col-sm-10 m-b-sm" ng-if="$index==0" translate>label.event</div>
                    <div class="col-sm-10 m-b-sm" ng-class="{ 'has-error' : form.event{{$index}}.$invalid && form.event{{$index}}.$dirty}">
                        <input type="text" class="form-control" name="event{{$index}}" ng-model="outconditionEvent.event">
                    </div>
                    <div style="position: relative;" ng-style="{'top': $index == 0 ? '26px' : '0'}">
                        <a><i ng-click="removeOutconditionEvents($index)" class="fa fa-times m-t-sm text-hover-color"></i></a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <a class="text-u-l" ng-if="condition.outconditionEvents.length>0"
                           ng-click="addOutconditionEvents()" translate>button.addAnotherOutconditionEvents</a>
                        <a class="text-u-l" ng-if="condition.outconditionEvents.length==0"
                           ng-click="addOutconditionEvents()" translate>button.addOutconditionEvents</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="modal-footer text-left">
             <div ng-if="!condition">
                 <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid" translate>
                     button.submit
                 </button>
                 <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()" translate>button.cancel</button>
             </div>
             <div ng-if="condition">
                  <button type="button" class="btn btn-primary btn-sm" ng-disabled="form.$invalid" ng-click="save2(form)">
                      <span translate>button.save</span>
                  </button>
                 <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="close2(form)" translate>button.close</button>
             </div>
         </div>
    </form>
</div>
<div ui-include="'modules/core/template/expression-editor-dialog.html'"></div>
<div ui-include="'modules/core/template/command-editor-dialog.html'"></div>