<div ng-click="refreshSession()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true" class="fa fa-times-circle"></span>
        </button>
        <h4 class="modal-title">
            <span translate>label.addPermission</span>
        </h4>
    </div>
    <form name="form" ng-submit="ok()" novalidate>
        <div class="modal-body p-a">
            <div class="form-group row m-t">
                <label class="col-sm-4 form-control-label" translate>label.permission</label>
                <div class="col-sm-6" ng-class="{ 'has-error' : isCovered }">
                    <select class="form-control" ng-model="permission.path"
                            style="border: none"
                            ng-required ng-change="checkCovered()">
                        <option value="{{p}}" ng-repeat="p in permissionOptions track by $index" ng-disabled="p.indexOf('-----')!=-1">{{p}}</option>
                    </select>

                    <div class="input-dropdown" style="margin-bottom: -15px">
                        <input class="form-control" name="permissionPath" required
                               ng-model="permission.path" type="text" placeholder="{{'placeholder.enterOrSelectPermission' | translate}}" ng-change="checkCovered()">
                    </div>
                    <div class="help-block text-danger" ng-class="{'m-b-sm':isCovered}" ng-if="isCovered" style="margin-top: -25px;margin-bottom: 8px">
                       <div translate>message.permissionIsAlreadyCovered</div>
                   </div>

                </div>
            </div>
            <div class="form-group row" style="margin-top: -12px">
                <label class="col-sm-4" translate>label.excluded</label>
                <div class=" col-sm-6">
                    <label class="md-check">
                        <input type="checkbox" ng-model="permission.excluded" ng-change="checkCovered()">
                        <i class="primary"></i><span class="m-l-xs" translate> </span>
                    </label>
                </div>
            </div>
            <div class="row m-t-md">
                <div class="b-t"></div>
            </div>

            <div class="form-group m-t m-b-xs">
                <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid || isCovered" translate>button.submit</button>
                <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()" translate>button.cancel</button>
            </div>
        </div>
    </form>
</div>
