<div ng-click="refreshSession()">
    <form name="form" ng-submit="ok()" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"
                                                                                             class="fa fa-times-circle"></span>
            </button>
            <h4 class="modal-title">
                <span translate>label.resetRunTimeOf</span>
                {{order.path}}
                <span ng-if="order.title">-</span>
                <span class="text text-muted">{{order.title}}</span>
            </h4>
        </div>
        <div class="modal-body p-a" style="min-height: 350px;">

            <div>
                <div class="row">
                    <div class="col-md-12 hide" ng-class="{'show': display}">
                        <div class="form-group row">
                            <label class="col-sm-3" translate>label.selectComments</label>

                            <div class=" col-sm-9">
                                <div>
                                    <label class="md-check w w-md">
                                        <input type="radio" name="radio1" ng-model="comments.radio" value="predefined">
                                        <i class="primary"></i> <span translate>label.predefined</span>
                                    </label>
                                    <label class="md-check w">
                                        <input type="radio" name="radio1" ng-model="comments.radio" value="new">
                                        <i class="primary"></i> <span translate>label.individual</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="comments.radio=='predefined'"
                             ng-class="{'has-error' : logError}">
                            <label class="col-sm-3 form-control-label" translate>label.selectComment</label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="comments.comment" ng-change="logError = false">
                                    <option value="" selected translate>label.selectPredefinedReason</option>
                                    <option ng-repeat="list in predefinedMessageList" value="{{list}}">{{list}}</option>
                                </select>

                                <div class="help-block text-danger" ng-if="logError">
                                    <div translate>message.requiredError</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="comments.radio=='new'" ng-class="{'has-error' : logError}">
                            <label class="col-sm-3 " translate>label.comment</label>

                            <div class=" col-sm-9">
                                <textarea rows="3" class="form-control" maxlength="2000" name="comment"
                                          ng-model="comments.comment"
                                          ng-attr-placeholder="{{'placeholder.enterComment' | translate}}"
                                          ng-focus="logError = false"></textarea>

                                <div class="help-block text-danger" ng-if="logError">
                                    <div translate>message.requiredError</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label" translate>label.timeSpend</label>

                            <div class="col-sm-9">
                                <input type="text" ng-pattern="/^(\d)+$/" class="form-control"
                                       placeholder="{{'placeholder.timeSpend' | translate}}"
                                       ng-model="comments.timeSpent">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label" translate>label.ticketLink</label>

                            <div class="col-sm-9">
                                <input type="url" class="form-control"
                                       placeholder="{{'placeholder.ticketLink' | translate}}"
                                       ng-model="comments.ticketLink">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-b-xs">
                    <div class="col-md-12 m-b-sm">
                        <button type="button" ng-if="!resetXml.importXml" class="btn btn-grey btn-sm pull-right" ng-click="resetXml.importXml = true" translate>button.showXml</button>
                        <button type="button" ng-if="resetXml.importXml" class="btn btn-grey btn-sm pull-right" ng-click="resetXml.importXml = false" translate>button.showList</button>
                    </div>
                </div>

                <div class="row" ng-if="resetXml.importXml">
                    <div class="col-md-6">
                       <label class=" _600">{{'label.previousRuntime' | translate}}</label>
                        <textarea readonly class="form-control" rows="15" ng-model="xml" ng-attr-placeholder="<run_time></run_time>" style="min-height: 226px;max-height: 638px;"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class=" _600">{{'label.currentRuntime' | translate}}</label>
                        <textarea readonly class="form-control" rows="15" ng-model="xml1" ng-attr-placeholder="<run_time></run_time>" style="min-height: 226px;max-height: 638px;"></textarea>
                    </div>
                </div>
                <div class="row" ng-if="!resetXml.importXml">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-12" style="max-height: 600px; overflow: auto">
                                <div class="table-responsive">
                                    <table class="table table-bordered frequency-table">
                                        <thead>
                                        <tr>
                                            <th translate colspan="2" align="center">label.previousListOfFrequencies</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="data in runtimeList track by $index">
                                        <tr>
                                            <td style="border-right: none !important;vertical-align: top !important; ">
                                                {{data.frequency}}
                                            </td>
                                            <td style="border-left: none !important; ">
                                                <div ng-repeat="p in data.period track by $index">
                                                    {{p}}
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center" ng-if="runtimeList.length==0">
                                        <span translate>message.noFrequencyFound</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-12" style="max-height: 600px; overflow: auto">
                                <div class="table-responsive">
                                    <table class="table table-bordered frequency-table">
                                        <thead>
                                        <tr>
                                            <th translate colspan="2" align="center">label.currentListOfFrequencies</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="data in runtimeList1 track by $index">
                                        <tr>
                                            <td style="border-right: none !important;vertical-align: top !important; ">
                                                {{data.frequency}}
                                            </td>
                                            <td style="border-left: none !important; ">
                                                <div ng-repeat="p in data.period track by $index">
                                                    {{p}}
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center" ng-if="runtimeList1.length==0">
                                        <span translate>message.noFrequencyFound</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-primary btn-sm"
                     translate>button.submit
            </button>
            <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()"
                    translate>button.cancel
            </button>

        </div>
    </form>
</div>
