<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
        <h4 class="modal-title" >
            <span>
                <span translate>label.showAssignedCalendar</span> : {{obj.path}} <span ng-if="obj.title">- <span class="text-muted text-sm">{{obj.title}}</span></span>
            </span>
        </h4>
    </div>
    <div class="modal-body p-a">
        <div class="row">
            <div class=" col-sm-12 m-l">
                <div ng-repeat="calendar in obj.calendars">
                    <div class="row form-group" >
                        <div class="col-md-12">
                            <div>
                                {{$index+1}} - <span class="text-hover-primary cursor" ng-click="showCalendarLink(calendar.path)">{{calendar.path}} <span class="label " ng-class="{'bg-green': calendar.type=='WORKING_DAYS','bg-gold':calendar.type=='NON_WORKING_DAYS'}" ng-bind="calendar.type | translate"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center text" ng-if="!obj.calendars || obj.calendars.length==0" >
                    <span translate>message.calendarNotAssigned</span>&nbsp; {{obj.id}}{{obj.name}}
                </div>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="b-t"></div>
        </div>
        <div class="form-group m-t m-b-xs">
            <button type="button" class="btn btn-grey btn-sm" ng-click="cancel()" translate>button.close</button>
        </div>
    </div>
</div>
