<div ng-click="refreshSession()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"><img src="images/close-button.png"></span></button>
        <h4 class="modal-title" translate>label.startJob</h4>
    </div>
    <form name="form" ng-submit="ok()" novalidate>
        <div class="modal-body p-a">
            <div class="form-group row">
                <label class="col-sm-4" translate>label.jobName</label>
                <label class="col-sm-6">{{job.name}} <span ng-if="job.title" class="text-muted"> - {{job.title}}</span></label>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 " translate>label.startTime</label>
                <div class=" col-md-8" ng-init="job.at = 'now'">
                    <label class="md-check ">
                        <input type="radio" name="radio" ng-model="job.at" value="now">
                        <i class="primary"></i><span translate>label.now</span>
                    </label>
                    <label class="md-check m-l">
                        <input type="radio" name="radio" ng-model="job.at" value="later">
                        <i class="primary"></i><span translate>label.scheduleForLater</span>
                    </label>
                </div>
            </div>
            <div class="form-group row" ng-if="job.at == 'now'">
                <label class="col-sm-4 form-control-label"  translate>label.enterStartTime</label>

                <div class="col-sm-6" ng-class="{ 'has-error' : form.atTime.$invalid && form.atTime.$dirty }">
                    <input valid-date-regex ng-required="job.at == 'now'" type="text" class="form-control"  name="atTime"  ng-model="job.atTime" placeholder="{{'placeholder.enterStartTime' | translate}}">
                    <div class="help-block text-danger" ng-messages="form.atTime.$error">
                        <div ng-message="invalid" translate>message.invalid</div>
                        <div ng-message="required" translate>message.requiredError</div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-if="job.at == 'later'">
                <label class="col-sm-4 form-control-label" translate>label.enterDateAndTime</label>

                <div class="col-sm-8">
                    <input class="form-control input-date" ng-model="fromDate" data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{dataFormat | uppercase}}" bs-datepicker type="text">
                    <input class="form-control input-time" ng-model="fromTime" data-time-format="HH:mm:ss" data-length="1" data-autoclose="1" placeholder="HH:MM:SS" bs-timepicker type="text">
                </div>
            </div>
            <div class="form-group row hide" ng-class="{'show': display}">
            <label class="col-sm-4 " translate>label.selectComments</label>
            <div class=" col-sm-8">
                <div>
                    <label class="md-check w">
                        <input type="radio" name="radio1" ng-model="comments.radio" value="predefined">
                        <i class="primary"></i> <span translate>label.predefined</span>
                    </label>
                    <label class="md-check  w">
                        <input type="radio" name="radio1" ng-model="comments.radio" value="new">
                        <i class="primary"></i> <span translate>label.individual</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row hide" ng-if="comments.radio=='predefined'" ng-class="{ 'has-error' : error,'show': display }">
            <label class="col-sm-4 form-control-label" translate>label.selectComment</label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="comments.comment" ng-change="error = false">
                    <option value="" selected translate>label.selectPredefinedReason</option>
                    <option ng-repeat="list in predefinedMessageList" value="{{list}}">{{list}}</option>
                </select>
                <div class="help-block text-danger" ng-if="error">
                    <div translate>message.requiredError</div>
                </div>
            </div>
        </div>
        <div class="form-group row hide" ng-if="comments.radio=='new'" ng-class="{ 'has-error' : error,'show': display }">
            <label class="col-sm-4 " translate>label.comment</label>
            <div class=" col-sm-8">
                <textarea rows="3" class="form-control" maxlength="2000" name="comment" ng-model="comments.comment" placeholder="{{'placeholder.enterComment' | translate}}" ng-focus="error = false"></textarea>
                <div class="help-block text-danger" ng-if="error">
                    <div translate>message.requiredError</div>
                </div>
            </div>
        </div>
                        <div class="form-group row m-b-sm " ng-repeat="param in job.params">
                <div class="col-sm-12 m-b-sm _600" ng-if="$index==0" translate>label.changeParameters</div>
                <label class="col-sm-4 form-control-label">{{param.name}}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control " ng-model="param.value" placeholder="{{'placeholder.value' | translate}}">
                </div>
            </div>
            <div class="form-group row m-b-sm m-t _600" ng-if="job.params.length>0">
                <div class="col-md-12" translate>label.declareNewParameters</div>
            </div>
            <div class="form-group row m-b-0" ng-repeat="param in paramObject.params track by $index">

                    <div class="col-sm-4 m-b-sm" ng-if="$index==0" translate>label.name</div>
                    <div class="col-sm-8 m-b-sm" ng-if="$index==0" translate>label.value</div>
                    <div class="col-sm-4 m-b-sm">
                        <input type="text" class="form-control " ng-model="param.name" placeholder="{{'placeholder.name' | translate}} {{$index+1}}">
                    </div>

                    <div class="col-sm-6">
                        <input type="text" class="form-control " ng-model="param.value" placeholder="{{'placeholder.value' | translate}} {{$index+1}}">
                    </div>
                <div class="col-sm-1 p-l-0">
                        <a><i ng-click="removeParams($index)" class="fa fa-times m-t-sm text-muted"></i></a>
                    </div>
                </div>
            <div class="form-group row">
                    <div class="col-sm-12">
                        <a href class="text-u-l" ng-if="paramObject.params.length>0" ng-click="addCriteria()" translate>button.addAnotherParameter</a>
                    <a href class="text-u-l" ng-if="paramObject.params.length==0" ng-click="addCriteria()" translate>button.addParameter</a>
                    </div>
                </div>
            <div class="row m-t-md">
                <div class="b-t"></div>
            </div>
            <div class="form-group m-t m-b-xs">
                <button type="submit" class="btn btn-primary btn-sm" translate ng-disabled="form.$invalid">button.submit</button>
                <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()" translate>button.cancel</button>
            </div>
        </div>
    </form>    
</div>
