<div class="btn-group m-l-sm">
    <button class="btn btn-grey btn-sm" ng-model="pageView" uib-btn-radio="'grid'"
            ng-class="{'btn-primary': pageView=='grid'}" ng-click="setView('grid')"><i class="fa fa-th" ng-class="{'fa-sitemap': path=='/users/permission'}"></i>
    </button>
    <button class="btn btn-grey btn-sm" ng-model="pageView"
            uib-btn-radio="'list'"
            ng-class="{'btn-primary': pageView=='list'}" ng-click="setView('list')"><i class="fa fa-bars"></i>
    </button>
</div>
