<div class="btn-group dropdown">
    <button type="button" class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="action" >
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <nz-dropdown-menu #action="nzDropdownMenu">
      <ul nz-menu >
        <li nz-submenu nzTitle="{{'dashboard.button.terminate' | translate}}" *ngIf="controllerPermission && controllerPermission.terminate && controller && controller.role !== 'STANDALONE' && controller.clusterNodeState._text === 'active'">
          <ul>
            <li nz-menu-item >
              <a tabindex="-1" [ngClass]="{'disable-link':!controller.isCoupled}"
                (click)="clusterAction('terminate', controller,true)">{{'dashboard.button.withSwitchover' | translate}}</a>
            </li>
            <li nz-menu-item >
              <a tabindex="-1"
                (click)="clusterAction('terminate', controller,false)">{{'dashboard.button.withOutSwitchover' | translate}}</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="{{'dashboard.button.terminateAndRestart' | translate}}" *ngIf="controllerPermission && controllerPermission.restart && controllerPermission.terminate && controller && controller.role !== 'STANDALONE' && controller.clusterNodeState._text === 'active'">
          <ul>
            <li nz-menu-item >
              <a tabindex="-1" [ngClass]="{'disable-link':!controller.isCoupled}"
                (click)="clusterAction('terminateAndRestart', controller,true)">{{'dashboard.button.withSwitchover' | translate}}</a>
            </li>
            <li nz-menu-item >
              <a tabindex="-1"
                (click)="clusterAction('terminateAndRestart', controller,false)">{{'dashboard.button.withOutSwitchover' | translate}}</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="{{'dashboard.button.abort' | translate}}" *ngIf="controllerPermission && controllerPermission.terminate && controller && controller.role !== 'STANDALONE' && controller.clusterNodeState._text === 'active'">
          <ul>
            <li nz-menu-item >
              <a tabindex="-1" [ngClass]="{'disable-link':!controller.isCoupled}"
                (click)="clusterAction('abort', controller,true)">{{'dashboard.button.withFailover' | translate}}</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="{{'dashboard.button.abortAndRestart' | translate}}" *ngIf="controllerPermission && controllerPermission.restart && controllerPermission.terminate && controller && controller.role !== 'STANDALONE' && controller.clusterNodeState._text === 'active'">
          <ul>
            <li nz-menu-item >
              <a tabindex="-1" [ngClass]="{'disable-link':!controller.isCoupled}"
                (click)="clusterAction('abortAndRestart', controller,true)">{{'dashboard.button.withFailover' | translate}}</a>
            </li>
          </ul>
        </li>
        <li nz-menu-item *ngIf="controllerPermission && controllerPermission.terminate && controller && (controller.role === 'STANDALONE' || controller.clusterNodeState._text !== 'active')">
          <a [ngClass]="{'disable-link': controller.componentState._text !== 'operational'}"
            (click)="clusterAction('terminate', controller,false)">{{'dashboard.button.terminate' | translate}}</a>
        </li>
        <li nz-menu-item *ngIf="controllerPermission && controllerPermission.restart && controller && (controller.role === 'STANDALONE' || controller.clusterNodeState._text !== 'active')">
          <a [ngClass]="{'disable-link': controller.componentState._text !== 'operational'}"
            (click)="clusterAction('terminateAndRestart', controller,false)">{{'dashboard.button.terminateAndRestart' | translate}}</a>
        </li>
        <li nz-menu-item *ngIf="controllerPermission && controllerPermission.terminate && controller && (controller.role === 'STANDALONE' || controller.clusterNodeState._text !== 'active')">
          <a [ngClass]="{'disable-link': controller.componentState._text !== 'operational'}"
              (click)="clusterAction('abort', controller, false)" translate>dashboard.button.abort</a>
        </li>
        <li nz-menu-item *ngIf="controllerPermission && controllerPermission.restart && controllerPermission.terminate && controller && (controller.role === 'STANDALONE' || controller.clusterNodeState._text !== 'active')">
          <a [ngClass]="{'disable-link': controller.componentState._text !== 'operational'}"
            (click)="clusterAction('abortAndRestart', controller, false)" translate>dashboard.button.abortAndRestart</a>
        </li>
        <li nz-menu-item *ngIf="controller && controllerPermission && controllerPermission.getLog"><a [ngClass]="{'disable-link': controller.componentState._text !== 'operational'}"
            (click)="clusterAction('downloadLog', controller, false)"
              translate>dashboard.button.downloadLog</a>
        </li>
      </ul>
    </nz-dropdown-menu>
</div>
