<div class="box p-a">
  <div class="b-b p-b-sm m-b text-right">
    <span class="text text-dark pos-abt" style="left: 18px;top:22px">
      <span class="text-primary">{{dataObj.path}}<span *ngIf="dataObj.path !=='/'">/</span></span> -
      <span *ngIf="objectType === 'WORKFLOW'" translate>inventory.label.workflows</span>
      <span *ngIf="objectType === 'FILEORDERSOURCE'" translate>inventory.label.fileOrderSources</span>
      <span *ngIf="objectType === 'JOBTEMPLATE'" translate>inventory.label.jobTemplates</span>
      <span *ngIf="objectType === 'JOBRESOURCE'" translate>inventory.label.jobResources</span>
      <span *ngIf="objectType === 'NOTICEBOARD'" translate>inventory.label.boards</span>
      <span *ngIf="objectType === 'LOCK'" translate>inventory.label.locks</span>
      <span *ngIf="objectType === 'SCHEDULE'" translate>inventory.label.orders</span>
      <span *ngIf="objectType === 'INCLUDESCRIPT'" translate>inventory.label.scripts</span>
      <span *ngIf="objectType && objectType.match('CALENDAR')" translate>inventory.label.calendars</span>
    </span>
    <div class="inline" >
      <div class="search-box-field" [ngClass]="{'opacity0': mapOfCheckedId.size > 0}">
        <label>
          <input type="search" placeholder="{{'common.placeholder.search' | translate}}" (keyup)="searchInResult()"
                 [(ngModel)]="searchKey">
        </label>
        <i [hidden]="!searchKey || mapOfCheckedId.size > 0" class="fa fa-times search-close"
           (click)="searchKey = '';searchInResult()"></i>
      </div>
      <button *ngIf="mapOfCheckedId.size === 0 && permission.joc && permission.joc.inventory.manage && !isTrash" type="button" [disabled]="!copyObj || (objectType !== copyObj.type)" class="btn btn-sm btn-grey m-l-12" (click)="paste()" >
        <i class="fa fa-paste p-r-xs"></i>
        <span translate>inventory.button.paste</span>
      </button>
      <button type="button" class="btn btn-sm btn-grey m-l-12" (click)="add()" *ngIf="mapOfCheckedId.size === 0 && permission.joc && permission.joc.inventory.manage && !isTrash">
        <i class="fa fa-plus p-r-xs"></i>
        <span *ngIf="objectType === 'WORKFLOW'" translate>inventory.button.newWorkflow</span>
        <span *ngIf="objectType === 'FILEORDERSOURCE'" translate>inventory.button.newFileOrderSource</span>
        <span *ngIf="objectType === 'JOBRESOURCE'" translate>inventory.button.newJobResource</span>
        <span *ngIf="objectType === 'NOTICEBOARD'" translate>inventory.button.newBoard</span>
        <span *ngIf="objectType === 'LOCK'" translate>inventory.button.newLock</span>
        <span *ngIf="objectType === 'SCHEDULE'" translate>inventory.button.newOrder</span>
        <span *ngIf="objectType === 'INCLUDESCRIPT'" translate>inventory.button.newScript</span>
        <span *ngIf="objectType && objectType.match('CALENDAR')" translate>inventory.button.newCalendar</span>
        <span *ngIf="objectType === 'JOBTEMPLATE'" translate>inventory.button.newJobTemplate</span>
      </button>
      <button *ngIf="mapOfCheckedId.size > 0" class="btn btn-sm btn-grey m-l-12" (click)="removeAll()" >
        <i class="fa fa-trash p-r-xs"></i>
        <span translate>inventory.button.remove</span>
      </button>
      <button *ngIf="mapOfCheckedId.size > 0" class="btn btn-sm btn-grey m-l-12" (click)="deleteAll()" >
        <i class="fa fa-times p-r-xs"></i>
        <span translate>inventory.button.deleteDraft</span>
      </button>
    </div>
  </div>
  <div class="text-center font14 box p-a-10 m-b-12" *ngIf="checked && mapOfCheckedId.size > 0 && data.length > (filter.entryPerPage || preferences.entryPerPage)">
    <span translate *ngIf="mapOfCheckedId.size !== data.length" [translateParams]="{count: mapOfCheckedId.size}">common.label.selectAllEntriesOfCurrentPage</span>
    <span translate *ngIf="mapOfCheckedId.size === data.length" [translateParams]="{count: data.length}">common.label.allEntriesSelected</span>
    <a class="text-primary p-l-xs" *ngIf="mapOfCheckedId.size !== data.length" (click)="selectAll()" translate [translateParams]="{count: data.length}">common.label.selectAllEntries</a>
    <a class="text-primary p-l-xs" *ngIf="mapOfCheckedId.size === data.length" (click)="reset()" translate>common.label.clearSelection</a>
  </div>
  <perfect-scrollbar class="table-responsive">
    <nz-table
      #ajaxTable
      [nzSize]="'small'"
      [nzPageSize]="filter.entryPerPage || preferences.entryPerPage || 25"
      [nzPageIndex]="filter.currentPage"
      [nzBordered]="true"
      [nzShowPagination]="data.length > 0"
      [nzData]="data"
      [nzShowSizeChanger]="true"
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
      [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]">
      <thead>
        <tr>
          <th class="chk"
            *ngIf="permission.joc.inventory.manage"
            [nzShowCheckbox]="true"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th class="menu"><span translate>common.label.action</span></th>
          <th (click)="sort('name')"><a><span class="p-r-xs" translate>common.label.name</span>
            <i *ngIf="filter.sortBy == 'name' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'name' && filter.reverse"
               class="fa fa-caret-down "></i></a></th>
          <th *ngIf="objectType === 'SCHEDULE'" (click)="sort('workflowNames')"><a><span class="p-r-xs" translate>inventory.label.workflows</span>
            <i *ngIf="filter.sortBy == 'workflowNames' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'workflowNames' && filter.reverse"
               class="fa fa-caret-down "></i></a></th>
          <th (click)="sort('valid')"><a><span class="p-r-xs" translate>inventory.label.validHeader</span>
            <i *ngIf="filter.sortBy == 'valid' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'valid' && filter.reverse"
               class="fa fa-caret-down "></i></a></th>
          <th (click)="sort('deployed')" *ngIf="!objectType.match('CALENDAR') && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'"><a><span class="p-r-xs" translate>common.label.status</span>
            <i *ngIf="filter.sortBy == 'deployed' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'deployed' && filter.reverse"
               class="fa fa-caret-down "></i></a></th>
          <th (click)="sort('released')" *ngIf="objectType === 'SCHEDULE' || objectType === 'JOBTEMPLATE' || objectType === 'INCLUDESCRIPT' || objectType.match('CALENDAR')"><a><span class="p-r-xs" translate>common.label.status</span>
            <i *ngIf="filter.sortBy == 'released' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'released' && filter.reverse"
               class="fa fa-caret-down "></i></a></th>
          <th (click)="sort('objectType')" *ngIf="objectType.match('CALENDAR')"><a><span class="p-r-xs" translate>common.label.type</span>
            <i *ngIf="filter.sortBy == 'objectType' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'objectType' && filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
          <th (click)="sort('syncState._text')" *ngIf="inventoryService.checkDeploymentStatus.isChecked && !objectType.match('CALENDAR') && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'">
            <a><span class="p-r-xs" translate>inventory.label.deploymentStatus</span>
            <i *ngIf="filter.sortBy == 'syncState._text' && !filter.reverse"
               class="fa fa-caret-up "></i>
            <i *ngIf="filter.sortBy == 'syncState._text' && filter.reverse"
               class="fa fa-caret-down "></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="ajaxTable.data">
          <tr [ngClass]="{'cut-row' : (copyObj && copyObj.operation === 'CUT' && copyObj.path === data.path && copyObj.name === data.name && copyObj.type === data.type)}">
            <td *ngIf="permission.joc.inventory.manage" [nzShowCheckbox]="true" [nzChecked]="mapOfCheckedId.has(data.name)" (nzCheckedChange)="onItemChecked(data, $event)"></td>
            <td>
              <div class="btn-group dropdown">
                <button class="btn-drop more-option-h" [disabled]="mapOfCheckedId.size > 0" nz-dropdown nzTrigger="click" [nzDropdownMenu]="exportMenu"
                  type="button">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <nz-dropdown-menu #exportMenu="nzDropdownMenu" role="menu">
                  <ul nz-menu *ngIf="!isTrash && permission.joc">
                    <li nz-menu-item (click)="cutObject(data)" *ngIf="permission.joc.inventory.manage">
                      <a translate>inventory.button.cut</a>
                    </li>
                    <li nz-menu-item (click)="copyObject(data)" *ngIf="permission.joc.inventory.manage">
                      <a translate>inventory.button.copy</a>
                    </li>
                    <li nz-menu-item (click)="renameObject(data);" *ngIf="permission.joc.inventory.manage">
                      <a translate>inventory.button.rename</a></li>
                    <li nz-menu-divider *ngIf="permission.joc.inventory.manage">
                    <li nz-menu-item (click)="deployObject(data)" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && !objectType.match('CALENDAR') && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'" [nzDisabled]="!data.hasDeployments && !data.valid">
                      <a translate>inventory.button.deploy</a>
                    </li>
                    <li nz-menu-item (click)="revoke(data)" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && !objectType.match('CALENDAR')  && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'" [nzDisabled]="!data.hasDeployments">
                      <a translate>inventory.button.revoke</a>
                    </li>
                    <li nz-menu-item (click)="releaseObject(data)" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && objectType.match('CALENDAR') || objectType === 'SCHEDULE' || objectType === 'JOBTEMPLATE' || objectType === 'INCLUDESCRIPT'" [nzDisabled]="!data.valid">
                      <a translate>inventory.button.release</a>
                    </li>
                    <li nz-menu-item (click)="recallObject(data)" *ngIf="permission.joc.inventory.deploy && (permission.controllerDefaults.deployments.deploy || permission.currentController.deployments.deploy) && objectType.match('CALENDAR') || objectType === 'SCHEDULE' || objectType === 'JOBTEMPLATE' || objectType === 'INCLUDESCRIPT'" [nzDisabled]="!data.released">
                      <a translate>inventory.button.recall</a>
                    </li>
                    <li nz-menu-divider *ngIf="permission.joc.inventory.manage">
                    <li nz-menu-item (click)="removeObject(data)" *ngIf="permission.joc.inventory.manage">
                      <a translate>inventory.button.remove</a>
                    </li>
                    <li nz-menu-item (click)="deleteDraft(data)" *ngIf="permission.joc.inventory.manage" [nzDisabled]="data.deployed || data.released">
                      <a translate>inventory.button.deleteDraft</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="newDraft(data)">
                      <a translate>inventory.button.newDraft</a>
                    </li>
                    <li nz-menu-item (click)="updateFromJobTemplates(data)"
                        *ngIf="objectType === 'WORKFLOW'">
                      <a translate>inventory.button.updateFromJobTemplates</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="showJson(data, false)">
                      <a translate>inventory.button.showJSON</a>
                    </li>
                    <li nz-menu-item (click)="showJson(data, true)"
                        *ngIf="permission.joc.inventory.manage">
                      <a translate>inventory.button.editJSON</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="exportJSON(data)">
                      <a translate>inventory.button.downloadJSON</a>
                    </li>
                    <li nz-menu-item (click)="importJSON(data)" *ngIf="permission.joc.inventory.manage">
                      <a translate>inventory.button.uploadJSON</a>
                    </li>
                    <li (click)="coreService.copyLink('configuration', (data.path + (data.path === '/' ? '' : '/') + data.name), data.type)" nz-menu-item>
                      <a translate>common.button.copyLinkToObject</a>
                    </li>
                  </ul>
                  <ul nz-menu *ngIf="isTrash && permission.joc">
                    <li nz-menu-item (click)="deletePermanently(data);" *ngIf="permission.joc.inventory.manage" class="bg-hover-color">
                      <a translate>inventory.button.delete</a></li>
                    <li nz-menu-item (click)="restoreObject(data);">
                      <a translate>inventory.button.restore</a></li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </td>
            <td class="cursor" (click)="editObject(data)">
              <span [innerHTML]="data.name | highlight : searchKey"></span>
              <i *ngIf="data.title"> - </i>
              <span class="text-muted">{{data.title}}</span>
            </td>
            <td *ngIf="objectType === 'SCHEDULE'">
              <div *ngIf="data.workflowNames && data.workflowNames.length > 0">
                <div class="text-hover-primary" *ngFor="let workflow of data.workflowNames" (click)="navToWorkflow(workflow)">
                  {{workflow}}
                </div>
              </div>
            </td>
            <td class="cursor" (click)="editObject(data)">
              <span class="label bg-dark-blue" *ngIf="data.valid"
                    translate>inventory.label.valid</span>
              <span class="label bg-orange" *ngIf="!data.valid"
                    translate>inventory.label.notValid</span>
            </td>
            <td class="cursor" (click)="editObject(data)">
              <span class="label bg-dark-blue" *ngIf="data.deployed && !objectType.match('CALENDAR') && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'"
                    translate>inventory.label.deployed</span>
              <span class="label bg-orange" *ngIf="!data.deployed && !objectType.match('CALENDAR') && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'"
                  translate>inventory.label.notDeployed</span>
              <span class="label bg-dark-blue" *ngIf="data.released && (objectType === 'SCHEDULE' || objectType === 'JOBTEMPLATE' || objectType === 'INCLUDESCRIPT' || objectType.match('CALENDAR'))"
                    translate>inventory.label.released</span>
              <span class="label bg-orange" *ngIf="!data.released && (objectType === 'SCHEDULE' || objectType === 'JOBTEMPLATE' || objectType === 'INCLUDESCRIPT' || objectType.match('CALENDAR'))"
                    translate>inventory.label.notReleased</span>
            </td>
            <td class="cursor" (click)="editObject(data)" *ngIf="objectType.match('CALENDAR')">
              <span class="label" [ngClass]="data.objectType=='WORKINGDAYSCALENDAR' ? 'bg-dark-blue': 'bg-orange'">
                {{data.objectType | translate}}</span>
            </td>
            <td class="cursor" (click)="editObject(data)" *ngIf="inventoryService.checkDeploymentStatus.isChecked && !objectType.match('CALENDAR') && objectType !== 'JOBTEMPLATE' && objectType !== 'SCHEDULE' && objectType !== 'INCLUDESCRIPT'">
              <span *ngIf="data.syncState" class="label" [ngClass]="coreService.getColor(data.syncState.severity, 'bg')" >{{data.syncState._text | translate}}</span>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </perfect-scrollbar>
  <div class="w-half label-top"
       *ngIf="ajaxTable.data.length >0"><span
    translate>common.label.total</span> {{data.length}}
    <span *ngIf="ajaxTable.data.length >1" translate>inventory.label.entriesFound</span>
    <span *ngIf="ajaxTable.data.length ==1" translate>inventory.label.entryFound</span>
  </div>
</div>
