<div class="table-responsive">
<nz-table
  #ajaxTable
  [nzSize]="'small'"
  [nzPageSize]="preferences.entryPerPage"
  [nzPageIndex]="1"
  [nzBordered]="true"
  [nzShowPagination]="(dataList | filter: searchKey).length > 0"
  [nzData]="(dataList | filter: searchKey)"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]">

  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th class="menu"><span translate>label.action</span></th>
      <th nzShowSort nzSortKey="name"><span translate>label.name</span></th>
      <th nzShowSort nzSortKey="status"><span translate>label.status</span></th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="ajaxTable.data | orderBy: filter.sortBy:filter.reverse">
      <tr>
        <td>
          <div class="btn-group dropdown">
            <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="exportMenu"
              type="button">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <nz-dropdown-menu #exportMenu="nzDropdownMenu" role="menu">
              <ul nz-menu>
                <li nz-menu-item *ngIf="permission.JobschedulerMaster.administration.configurations.edit">
                  <a (click)="copyObject(data)" translate>button.copy</a>
                </li>
                <li nz-menu-item *ngIf="!data.deleted">
                  <a (click)="editObject(data)" translate>button.edit</a>
                </li>
                <li nz-menu-item *ngIf="!data.deleted">
                  <a (click)="deployObject(data)" translate>inventory.button.deploy</a>
                </li>
                <li nz-menu-item class="bg-hover-color"
                  *ngIf="permission.JobschedulerMaster.administration.configurations.delete && !data.deleted">
                  <a (click)="removeObject(data)" translate>button.delete</a>
                </li>
                <li nz-menu-item *ngIf="permission.JobschedulerMaster.administration.configurations.delete">
                  <a (click)="deleteDraft(data)" translate>inventory.button.deleteDraft</a>
                </li>
                <li nz-menu-item
                  *ngIf="permission.JobschedulerMaster.administration.configurations.delete && data.deleted">
                  <a (click)="undeleteObject(data)" translate>inventory.button.undelete</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </td>
        <td class="cursor" (click)="editObject(data)">{{data.name}}</td>
        <td class="cursor" (click)="editObject(data)">
          <span class="label bg-green" *ngIf="data.deployed" translate>inventory.label.deployed</span>
          <span class="label bg-gold" [ngClass]="{'bg-crimson' : data.deleted}" *ngIf="!data.deployed"
            translate>inventory.label.notDeployed</span>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
</div>
<div class="w-half label-top"
     *ngIf="(dataList | filter: searchKey).length >0"><span
  translate>label.total</span> {{(dataList | filter: searchKey).length}}
  <span *ngIf="(dataList | filter: searchKey).length >1" translate>label.entriesFound</span>
  <span *ngIf="(dataList | filter: searchKey).length ==1" translate>label.entryFound</span>
</div>
