<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline">
            <div class="btn-group dropdown">
              <button class="btn btn-grey btn-sm m-l-12" nz-dropdown nzTrigger="click" [nzDropdownMenu]="sortBy" [nzPlacement]="'bottomRight'">
                <span translate>common.label.sortBy</span>
                <span class="text-primary">
                  <span *ngIf="locksFilters.filter.sortBy =='id'">
                    {{'resource.lock.label.name' | translate}}
                    <i *ngIf="!locksFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="locksFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                  <span *ngIf="locksFilters.filter.sortBy =='path'">
                    {{'common.label.path' | translate}}
                    <i *ngIf="!locksFilters.reverse" class="fa fa-caret-up"></i>
                    <i *ngIf="locksFilters.reverse" class="fa fa-caret-down"></i>
                  </span>
                </span>
              </button>
              <nz-dropdown-menu #sortBy="nzDropdownMenu" >
                <ul nz-menu>
                  <li nz-menu-item  >
                    <a (click)="sort('id')" translate>resource.lock.label.name</a>
                  </li>
                  <li nz-menu-item  >
                    <a (click)="sort('path')" translate>common.label.path</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-link">
    <div class="row">
      <div class="col-md-8">
        <app-links></app-links>
      </div>
      <div class="col-md-4 text-right">
        <button class="hide btn btn-sm btn-grey m-l-12 pull-right" nz-tooltip="{{'common.tooltip.collapseDetails' | translate}}" [ngClass]="{'show-block':locks.length>0 && pageView!='grid'}" (click)="collapseDetails()">
          <i class="fa fa-compress text"></i>
        </button>
        <button class="hide btn btn-sm btn-grey m-l-12 pull-right" nz-tooltip="{{'common.tooltip.expandDetails' | translate}}" [ngClass]="{'show-block':locks.length>0 && pageView!='grid'}" (click)="expandDetails()" >
          <i class="fa fa-expand text" ></i>
        </button>
        <div class="search-box-field pull-right">
          <label>
            <input type="search" placeholder="{{'common.placeholder.search' | translate}}" (keyup)="searchInResult()"
                   [(ngModel)]="locksFilters.searchText">
          </label>
          <i [hidden]="!locksFilters.searchText" class="fa fa-times search-close"
             (click)="locksFilters.searchText = '';searchInResult()"></i>
        </div>
      </div>
    </div>
</div>
<div class="scroll-y max-ht2">
  <div class="padding p-b-0 p-l-0">
    <div class="row">
      <div class="col-sm-12">
        <div appResizable [sideView]="sideView.lock" id="leftPanel" class="sticky leftPanel resource">
          <div *ngIf="tree.length>0">
            <app-tree-nagivation [tree]="tree" [sideView]="sideView.lock" [defaultSelectedKeys]="locksFilters.selectedkeys" [defaultExpandedKeys]="locksFilters.expandedKeys"
                                 (messageEvent)="receiveAction($event)"></app-tree-nagivation>
           </div>
        </div>
        <div id="rightPanel">
          <div class="hide" [ngClass]="{'show': isLoading}">
            <div class="row " *ngIf="pageView=='grid' && data.length > 0" [hidden]="loading">
              <div class="w-full" *ngFor="let item of data  | groupBy: 'path1'">
                <div class="col-sm-12" style="margin-bottom: 10px">
                  <span class="text inline"><i class="fa fa-folder-o"></i>&nbsp; {{item.key}}</span>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                     *ngFor="let lock of item.value | orderBy: locksFilters.filter.sortBy:locksFilters.reverse">
                  <div class="box card">
                    <div class="box-body">
                      <div class="text-left block-ellipsis">
                        <span class="text-left">
                          <i class="fa fa-lock text-sm "></i>&nbsp;
                          <i *ngIf="lock.documentationName" (click)="coreService.showDocumentation(lock.documentationName, preferences)" class="cursor fa fa-book p-l-xs p-r-xs"></i>
                          <span [innerHtml]="lock.id | highlight : locksFilters.searchText"></span>
                        </span>
                      </div>
                      <div class="btn-group dropdown pull-right abt-dropdown ">
                        <a class=" more-option text-black-lt" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option2" nzPlacement="bottomRight">
                          <i class="text fa fa-ellipsis-h"></i></a>
                        <nz-dropdown-menu #option2="nzDropdownMenu" role="menu" >
                          <ul nz-menu>
                            <li nz-menu-item >
                              <a (click)="coreService.copyLink('lock',lock.id)" translate>common.button.copyLinkToObject</a>
                            </li>
                          </ul>
                        </nz-dropdown-menu>
                      </div>
                      <div class="text-sm text-left text-muted p-t-sm block-ellipsis" style="width: 99%">
                        <span translate>resource.lock.label.deploymentDate </span>:
                        <span class="text-black-dk" [innerHtml]="lock.versionDate | stringToDate | highlight : locksFilters.searchText"></span>
                      </div>
                      <div class="text-sm text-left text-muted p-t-xs">
                        <span translate>common.label.status </span>:
                        <span [ngClass]="coreService.getColor(lock.state.severity, 'text')" [innerHtml]="lock.state._text | translate | highlight : locksFilters.searchText"></span>
                      </div>
                      <div class="text-sm  text-left text-muted p-t-sm">
                        <span class="text-black _600" [innerHtml]="lock.acquiredLockCount || '0'"></span>
                        {{'resource.lock.label.acquiredLockCount' | translate}}
                      </div>
                      <div class="text-sm  text-left text-muted p-t-sm">
                        <span class="text-black _600" [innerHtml]="lock.ordersHoldingLocks || '0'"></span>
                        {{'resource.lock.label.ordersHoldingLocks' | translate}}
                      </div>
                      <div class="text-sm  text-left text-muted p-t-sm">
                        <span class="text-black _600" [innerHtml]="lock.ordersWaitingForLocks || '0'"></span>
                        {{'resource.lock.label.ordersWaitingForLocks' | translate}}
                      </div>
                      <div class="text-sm  text-left text-muted p-t-sm">
                        <span class="text-black _600" [innerHtml]="lock.limit | highlight : locksFilters.searchText"></span>
                        {{'resource.lock.label.limit' | translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box p-a" *ngIf="pageView=='list' && tree.length > 0">
              <div class="table-responsive">
                <nz-table
                  #ajaxTable
                  [nzSize]="'small'"
                  [nzPageSize]="locksFilters.entryPerPage ||  preferences.entryPerPage"
                  [nzPageIndex]="locksFilters.currentPage"
                  [nzBordered]="true"
                  [nzShowPagination]="data.length > 0"
                  [nzData]="data"
                  [nzLoading]="loading"
                  [nzShowSizeChanger]="true"
                  (nzPageIndexChange)="pageIndexChange($event)"
                  (nzPageSizeChange)="pageSizeChange($event)"
                  [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
                >
                  <thead>
                  <tr>
                    <th nzWidth="55px"><span translate>common.label.action</span></th>
                    <th (click)="sort('id')"><a><span class="p-r-xs" translate>resource.lock.label.name</span>
                      <i *ngIf="locksFilters.filter.sortBy == 'id' && !locksFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="locksFilters.filter.sortBy == 'id' && locksFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('path')"><a><span class="p-r-xs" translate>common.label.path</span>
                      <i *ngIf="locksFilters.filter.sortBy == 'path' && !locksFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="locksFilters.filter.sortBy == 'path' && locksFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                     <th (click)="sort('versionDate')" rowspan="2">
                      <a><span class="p-r-xs" translate>resource.lock.label.deploymentDate</span>
                        <i *ngIf="locksFilters.filter.sortBy == 'versionDate' && !locksFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="locksFilters.filter.sortBy == 'versionDate' && locksFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('state._text')" rowspan="2">
                      <a><span class="p-r-xs" translate>common.label.status</span>
                        <i *ngIf="locksFilters.filter.sortBy == 'state._text' && !locksFilters.reverse"
                           class="fa fa-caret-up "></i>
                        <i *ngIf="locksFilters.filter.sortBy == 'state._text' && locksFilters.reverse"
                           class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('acquiredLockCount')"><a><span class="p-r-xs" translate>resource.lock.label.acquiredLockCount</span>
                      <i *ngIf="locksFilters.filter.sortBy == 'acquiredLockCount' && !locksFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="locksFilters.filter.sortBy == 'acquiredLockCount' && locksFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('ordersHoldingLocks')"><a><span class="p-r-xs" translate>resource.lock.label.ordersHoldingLocks</span>
                      <i *ngIf="locksFilters.filter.sortBy == 'ordersHoldingLocks' && !locksFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="locksFilters.filter.sortBy == 'ordersHoldingLocks' && locksFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('ordersWaitingForLocks')"><a><span class="p-r-xs" translate>resource.lock.label.ordersWaitingForLocks</span>
                      <i *ngIf="locksFilters.filter.sortBy == 'ordersWaitingForLocks' && !locksFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="locksFilters.filter.sortBy == 'ordersWaitingForLocks' && locksFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                    <th (click)="sort('limit')"><a><span class="p-r-xs" translate>resource.lock.label.limit</span>
                      <i *ngIf="locksFilters.filter.sortBy == 'limit' && !locksFilters.reverse"
                         class="fa fa-caret-up "></i>
                      <i *ngIf="locksFilters.filter.sortBy == 'limit' && locksFilters.reverse"
                         class="fa fa-caret-down "></i></a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-template ngFor let-lock
                               [ngForOf]="ajaxTable.data | orderBy: locksFilters.filter.sortBy:locksFilters.reverse">
                    <tr [ngClass]="{'light-bg':lock.show}">
                      <td>
                        <div class="btn-group dropdown">
                          <button class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option" type="button">
                            <i class="fa fa-ellipsis-h"></i>
                          </button>
                          <nz-dropdown-menu #option="nzDropdownMenu" role="menu" >
                            <ul nz-menu>
                              <li nz-menu-item >
                                <a (click)="coreService.copyLink('lock',lock.id)" translate>common.button.copyLinkToObject</a>
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                        </div>
                      </td>
                      <td>
                        <span class="show-in-single-line w-full">
                          <i class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"
                             *ngIf="!lock.show"
                             (click)="lock.show = true;"></i>
                          <i class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs"
                             *ngIf="lock.show"
                             (click)="lock.show = false;"></i>
                          <i *ngIf="lock.documentationName" (click)="coreService.showDocumentation(lock.documentationName, preferences)" class="cursor fa fa-book p-l-xs p-r-xs"></i>
                          <span [innerHtml]="lock.id | highlight : locksFilters.searchText"></span>
                          <i *ngIf="lock.title"> - </i>
                          <i class="text-muted" [innerHtml]="lock.title | highlight : locksFilters.searchText"></i>
                        </span>
                      </td>
                      <td><span [innerHtml]="lock.path | highlight : locksFilters.searchText"></span></td>
                       <td>
                        <span [innerHtml]="lock.versionDate | stringToDate | highlight : locksFilters.searchText"></span>
                      </td>
                      <td>
                        <span class="label" *ngIf="lock.state" [ngClass]="coreService.getColor(lock.state.severity, 'bg')"
                           [innerHtml]="lock.state._text | translate | highlight : locksFilters.searchText"></span>
                      </td>
                      <td>{{lock.acquiredLockCount || '0'}}</td>
                      <td>{{lock.ordersHoldingLocks || '0'}}</td>
                      <td>{{lock.ordersWaitingForLocks || '0'}}</td>
                      <td [innerHtml]="lock.limit | highlight : locksFilters.searchText"></td>
                    </tr>
                    <tr *ngIf="lock.show">
                      <td colspan="8" style="padding:0 !important;" class="order-history-template0">
                        <nz-table class="m-a-0 inner-table" #nestedWorkflowsTable [nzSize]="'small'"
                                  [nzData]="lock.workflows" [nzShowPagination]="false">
                          <thead>
                          <tr>
                            <th colspan="8" class="text-left"><span translate>order.label.workflow</span></th>
                          </tr>
                          </thead>
                          <tbody>
                            <ng-template ngFor let-workflow
                                         [ngForOf]="nestedWorkflowsTable.data">
                              <tr>
                                <td colspan="8">
                                  <i class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"
                                     *ngIf="!workflow.show"
                                     (click)="workflow.show = true;"></i>
                                  <i class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs"
                                     *ngIf="workflow.show"
                                     (click)="workflow.show = false;"></i>
                                  <i (click)="coreService.navToInventoryTab(workflow.path, 'WORKFLOW');" class="cursor fa fa-pencil text-hover-primary p-l-xs p-r-xs"></i>
                                  <a class="text-hover-primary" (click)="coreService.showWorkflow(workflow.path);">{{workflow.path}} </a>
                                </td>
                              </tr>
                              <ng-container *ngIf="workflow.show">
                                <ng-container *ngIf="workflow.ordersWaitingForLocks && workflow.ordersWaitingForLocks.length > 0">
                                  <tr >
                                    <td colspan="8" class="custom-th">
                                      <span class="p-l">{{'resource.lock.label.ordersWaitingForLocks' | translate}}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="3" class="custom-th"><span class="p-l" translate>order.label.orderId</span></td>
                                    <td colspan="3" class="custom-th"><span translate>order.label.position</span></td>
                                    <td class="custom-th"><span translate>order.label.state</span></td>
                                    <td class="custom-th"><span translate>order.label.scheduledFor</span></td>
                                  </tr>
                                  <tr *ngFor="let item of workflow.ordersWaitingForLocks">
                                    <td colspan="3"><span class="p-l">{{item.order.orderId}}</span></td>
                                    <td colspan="3">
                                      <span *ngIf="item.order.position && item.order.position.length>0">
                                        {{item.order.position | json}}
                                      </span>
                                    </td>
                                    <td><span class="label" [ngClass]="coreService.getColor(item.order.state.severity,'bg')">{{item.order.state._text | translate}}</span></td>
                                    <td>{{item.order.scheduledFor | stringToDate}}</td>
                                  </tr>
                                </ng-container>
                                <ng-container  *ngIf="workflow.ordersHoldingLocks && workflow.ordersHoldingLocks.length > 0">
                                  <tr>
                                    <td colspan="8" class="custom-th">
                                      <span class="p-l">{{'resource.lock.label.ordersHoldingLocks' | translate}}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="3" class="custom-th"><span class="p-l" translate>order.label.orderId</span></td>
                                    <td colspan="3" class="custom-th"><span translate>order.label.position</span></td>
                                    <td class="custom-th"><span translate>order.label.state</span></td>
                                    <td class="custom-th"><span translate>order.label.scheduledFor</span></td>
                                  </tr>
                                  <tr *ngFor="let item of workflow.ordersHoldingLocks">
                                    <td colspan="3"><span class="p-l">{{item.order.orderId}}</span></td>
                                    <td colspan="3">
                                      <span *ngIf="item.order.position && item.order.position.length>0">
                                        {{item.order.position | json}}
                                      </span>
                                    </td>
                                    <td><span class="label" [ngClass]="coreService.getColor(item.order.state.severity,'bg')">{{item.order.state._text | translate}}</span></td>
                                    <td>{{item.order.scheduledFor | stringToDate}}</td>
                                  </tr>
                                </ng-container>
                              </ng-container>
                            </ng-template>
                          </tbody>
                        </nz-table>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </nz-table>
                <div class="w-half label-top"
                     *ngIf="ajaxTable.data.length >0"><span translate>common.label.total</span> {{data.length}}
                  <span translate *ngIf="ajaxTable.data.length >1">resource.lock.label.locksFound</span>
                  <span translate *ngIf="ajaxTable.data.length ==1">resource.lock.label.lockFound</span>
                </div>
              </div>
            </div>
            <div *ngIf="pageView=='grid' &&  isLoading && !loading  && data.length==0 && tree.length>0"
                 class="text-center m-t h6">
              <app-empty-data></app-empty-data>
            </div>
          </div>
        </div>
        <div *ngIf="isLoading && tree.length==0 && !loading" class="text-center m-t">
          <app-empty-data></app-empty-data>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="spinner" *ngIf="loading || !isLoading">
    <div class="cssload-inner cssload-one"></div>
    <div class="cssload-inner cssload-two"></div>
    <div class="cssload-inner cssload-three"></div>
  </div>
