<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-y max-ht">
  <div class="padding p-b-0">
    <div class="row">
      <div class="col-sm-12">
        <div class="box p-a m-t-xs">
          <div class="table-responsive">
            <nz-table
              #ajaxTable
              [nzBordered]="true"
              [nzData]="locks"
              [nzLoading]="loading"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              [nzShowSizeChanger]="false"
              [nzSize]="'small'"
            >
              <thead>
              <tr>
                <th><span translate>resource.lock.label.name</span></th>
                <th *ngIf="isPathDisplay"><span translate>common.label.path</span></th>
                <th><span translate>resource.lock.label.deploymentDate</span></th>
                <th><span translate>common.label.status</span></th>
                <th><span translate>resource.lock.label.acquiredLockCount</span></th>
                <th><span translate>resource.lock.label.ordersHoldingLocks</span></th>
                <th><span translate>resource.lock.label.ordersWaitingForLocks</span></th>
                <th><span translate>resource.lock.label.limit</span></th>
              </tr>
              </thead>
              <tbody>
              <ng-template [ngForOf]="ajaxTable.data" let-lock ngFor>
                <tr [ngClass]="{'light-bg':lock.show}">
                  <td>
                    <span class="w-full">
                      <i (click)="lock.show = true;"
                         *ngIf="!lock.show" class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"></i>
                      <i (click)="lock.show = false;"
                         *ngIf="lock.show" class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs"></i>
                      <i (click)="coreService.showDocumentation(lock.documentationName, preferences)"
                         *ngIf="lock.documentationName"
                         class="cursor fa fa-book p-l-xs p-r-xs"></i>
                      <i (click)="coreService.navToInventoryTab(lock.path, 'LOCK');"
                         *ngIf="permission.joc && permission.joc.inventory.view && isPathDisplay"
                         class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                      <span [innerHtml]="lock.id"></span>
                      <i *ngIf="lock.title"> - </i>
                      <i [innerHtml]="lock.title" class="text-muted"></i>
                    </span>
                  </td>
                  <td *ngIf="isPathDisplay">
                    <span class="show-in-single-line">
                      <i (click)="coreService.navToInventoryTab(lock.path, 'LOCK');"
                         *ngIf="permission.joc && permission.joc.inventory.view"
                         class="cursor fa fa-pencil text-hover-primary p-r-xs"></i>
                      <span [innerHtml]="lock.path"></span>
                    </span>
                  </td>
                  <td>
                    <span [innerHtml]="lock.versionDate | stringToDate"></span>
                  </td>
                  <td>
                    <a *ngIf="lock.state" [innerHtml]="lock.state._text | translate" [ngClass]="coreService.getColor(lock.state.severity, 'bg')"
                       class="label"></a>
                  </td>
                  <td>{{lock.acquiredLockCount || '0'}}</td>
                  <td>{{lock.ordersHoldingLocksCount || '0'}}</td>
                  <td>{{lock.ordersWaitingForLocksCount || '0'}}</td>
                  <td [innerHtml]="lock.limit"></td>
                </tr>
                <tr *ngIf="lock.show">
                  <td class="order-history-template0" colspan="8" style="padding:0 !important;">
                    <nz-table #nestedWorkflowsTable [nzData]="lock.workflows" [nzFrontPagination]="false" [nzShowPagination]="false"
                              [nzSize]="'small'" class="m-a-0 inner-table">
              <thead>
              <tr>
                <th class="text-left" colspan="8"><span translate>order.label.workflow</span></th>
              </tr>
              </thead>
              <tbody>
              <ng-template [ngForOf]="nestedWorkflowsTable.data" let-workflow
                           ngFor>
                <tr>
                  <td colspan="8">
                    <i (click)="workflow.show = true;"
                       *ngIf="!workflow.show"
                       class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs"></i>
                    <i (click)="workflow.show = false;"
                       *ngIf="workflow.show"
                       class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs"></i>
                    <i (click)="coreService.navToInventoryTab(workflow.path, 'WORKFLOW');"
                       *ngIf="permission.joc && permission.joc.inventory.view"
                       class="cursor fa fa-pencil text-hover-primary p-l-xs p-r-xs"></i>
                    <a (click)="coreService.showWorkflow(workflow.path, workflow.versionId);"
                       class="text-hover-primary">{{workflow.path}} </a>
                  </td>
                </tr>
                <ng-container *ngIf="workflow.show">
                  <ng-container *ngIf="workflow.ordersWaitingForLocks && workflow.ordersWaitingForLocks.length > 0">
                    <tr>
                      <td class="custom-th" colspan="8">
                        <span class="p-l">{{'resource.lock.label.ordersWaitingForLocks' | translate}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="custom-th" colspan="3"><span class="p-l" translate>order.label.orderId</span></td>
                      <td class="custom-th" colspan="3"><span translate>workflow.label.label</span></td>
                      <td class="custom-th"><span translate>order.label.state</span></td>
                      <td class="custom-th"><span translate>order.label.scheduledFor</span></td>
                    </tr>
                    <tr *ngFor="let item of workflow.ordersWaitingForLocks">
                      <td colspan="3"><span class="p-l">{{item.order.orderId}}</span></td>
                      <td colspan="3">
                        <span class="cur-point" *ngIf="item.order.label" [innerHtml]="item.order.label" [nz-tooltip]="item.order.positionString"></span>
                        <span *ngIf="!item.order.label" [innerHtml]="item.order.positionString"></span>
                      </td>
                      <td><span [ngClass]="coreService.getColor(item.order.state.severity,'bg')"
                                class="label">{{item.order.state._text | translate}}</span>
                      </td>
                      <td>{{item.order.scheduledFor | stringToDate}}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="workflow.ordersHoldingLocks && workflow.ordersHoldingLocks.length > 0">
                    <tr>
                      <td class="custom-th" colspan="8">
                        <span class="p-l">{{'resource.lock.label.ordersHoldingLocks' | translate}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="custom-th" colspan="3"><span class="p-l" translate>order.label.orderId</span></td>
                      <td class="custom-th" colspan="3"><span translate>workflow.label.label</span></td>
                      <td class="custom-th"><span translate>order.label.state</span></td>
                      <td class="custom-th"><span translate>order.label.scheduledFor</span></td>
                    </tr>
                    <tr *ngFor="let item of workflow.ordersHoldingLocks">
                      <td colspan="3"><span class="p-l">{{item.order.orderId}}</span></td>
                      <td colspan="3">
                        <span class="cur-point" *ngIf="item.order.label" [innerHtml]="item.order.label" [nz-tooltip]="item.order.positionString"></span>
                        <span *ngIf="!item.order.label" [innerHtml]="item.order.positionString"></span>
                      </td>
                      <td><span [ngClass]="coreService.getColor(item.order.state.severity,'bg')"
                                class="label">{{item.order.state._text | translate}}</span>
                      </td>
                      <td>{{item.order.scheduledFor | stringToDate}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-template>
              </tbody>
            </nz-table>
            </td>
            </tr>
            </ng-template>
            </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
