<div id="ordersOverview1">
    <div class="box-header b-b remove">
        <h3 translate>dashboard.label.ordersOverview</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="w-full" *ngIf="!notAuthenticate && isLoaded">
                <tr class="text-center">
                    <td width="16.6%">
                        <div translate>common.label.pending</div>
                    </td>
                    <td width="16.6%">
                        <div translate>common.label.running</div>
                    </td>
                    <td width="16.6%">
                        <div translate>common.label.suspended</div>
                    </td>
                    <td width="16.6%">
                        <div translate>common.label.failed</div>
                    </td>
                    <td width="16.6%">
                        <div translate>common.label.waiting</div>
                    </td>
                    <td width="16.6%">
                        <div translate>common.label.blocked</div>
                    </td>
                </tr>
                <tr class="text-center">
                    <td width="16.6%">
                        <a (click)="navigate('PENDING')" class="text-lg _600" [innerHtml]="snapshot.orders.pending || 0"></a>
                    </td>
                    <td width="16.6%">
                        <a (click)="navigate('RUNNING')" class="text-lg _600" [innerHtml]="snapshot.orders.running || 0"></a>
                    </td>
                    <td width="16.6%">
                        <a (click)="navigate('SUSPENDED')" class="text-lg _600 "
                           [ngClass]="{'dark-orange':snapshot.orders.suspended >0}" [innerHtml]="snapshot.orders.suspended || 0"></a>
                    </td>
                    <td width="16.6%">
                        <a (click)="navigate('FAILED')" class="text-lg _600" [innerHtml]="snapshot.orders.failed || 0"></a>
                    </td>
                    <td width="16.6%">
                        <a (click)="navigate('WAITING')" class="text-lg _600" [innerHtml]="snapshot.orders.waiting || 0"></a>
                    </td>
                    <td width="16.6%">
                        <a (click)="navigate('BLOCKED')" class="text-lg _600" [innerHtml]="snapshot.orders.blocked || 0"></a>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="notAuthenticate">
            <div>
              <app-empty-data></app-empty-data>
            </div>
        </div>
        <div [hidden]="notAuthenticate" class="hide text-center text-primary text m-t-md m-b"
             [ngClass]="{'show': !isLoaded}">
            <div><i class="fa fa-refresh fa-lg fa-spin"></i> </div>
        </div>
    </div>
</div>
