.graph-container {
  margin-left: 0;
  overflow: auto;
}

.graph-container:hover #toolbar-icons {
  opacity: 1;
  -webkit-animation: fadeInDown ease-in 1;
  -moz-animation: fadeInDown ease-in 1;
  animation: fadeInDown ease-in 1;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  animation-duration: 0.2s;
}

#toolbar-icons {
  position: absolute;
  padding: 2px 16px 0;
  text-align: center;
  background-color: var(--bg-box);
  z-index: 9;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.12);
  opacity: 0;
}

#graph {
  position: relative;
  overflow-x: auto !important;
  cursor: default;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06);
  height: 100%;
}

#toolbar {
  display: none;
}

#outlineContainer {
  z-index: 9;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 10px;
  width: 170px;
  height: 150px;
  border: 1px solid var(--border-color);
}
.graph2 #outlineContainer{
  top: 54px;
  right: 16px;
}
