<div *ngIf="isProcessing" class="operation-status-info">
  <div id='prog-bar-cont'>
    <div id="prog-bar">
      <div id="background"></div>
    </div>
  </div>
</div>
<div>
  <div [height]="workflowFilters.panelSize" [workflowTab]="workflowFilters" appResizable class="resizable"
       id="workflowGraphId">
    <div class="overflow-y h-full">
      <div [ngClass]="{'graph2': isModal}" class="graph-container">
        <div class="inline" id="toolbar-icons">
          <ul class="nav navbar-nav navbar-nav-inline nav-active-border3 ">
            <li class="nav-item">
              <a (click)="zoomIn()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.zoomIn' | translate"
                 class="nav-link">
                <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="zoom-in"></i></span>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="zoomOut()"
                 [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.zoomOut' | translate" class="nav-link">
                <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="zoom-out"></i></span>
              </a>
            </li>
            <li class="nav-item dropdown-separator">
              <span class="separator"></span>
            </li>
            <li class="nav-item">
              <a (click)="actual()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.actual' | translate"
                 class="nav-link">
                <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="fullscreen-exit"></i></span>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="fit()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.fit' | translate"
                 class="nav-link">
                <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="column-width"></i></span>
              </a>
            </li>
            <li class="nav-item dropdown-separator">
              <span class="separator"></span>
            </li>
            <li class="nav-item">
              <a (click)="expandAll()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'common.button.expandDetails' | translate"
                 class="nav-link">
                <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="plus"></i></span>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="collapseAll()" [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'common.button.collapseDetails' | translate"
                 class="nav-link">
                <span class="nav-text"> <i nz-icon nzTheme="outline" nzType="minus"></i></span>
              </a>
            </li>
            <li class="nav-item dropdown-separator">
              <span class="separator"></span>
            </li>
            <li [nzTooltipMouseEnterDelay]="0.5" [nz-tooltip]="'workflow.button.exportInPng' | translate" class="nav-item">
              <a (click)="workflowService.exportInPng(workFlowJson.name, isModal)"
                 class="nav-link">
                <span class="nav-text">  <i nz-icon nzTheme="outline" nzType="export"></i></span>
              </a>
            </li>
          </ul>
        </div>
        <div #graphEle id="graph"></div>
        <!-- Creates a container for the outline -->
        <div #outlineContainer id="outlineContainer"></div>
      </div>
      <!-- BEGIN SLIDER -->
      <div  class="property-panel left-property-panel hidden-sm">
        <div class="sidebar-open">
          <i class="fa fa-caret-left"></i>
        </div>
        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
        <div class="sidebar sidebar-property-panel bg-white" id="left-property-panel">
          <perfect-scrollbar class="tree-block">
            <div class="m-l-xxs m-b-xs">
              <a class="text-primary-hover" (click)="expandAllTree();">
                <i class="fa fa-angle-double-down fa-lg"></i>
              </a>
              <a class="m-l-sm text-primary-hover" (click)="collapseAllTree();">
                <i class="fa fa-angle-double-up fa-lg"></i>
              </a>
              <a (click)="objectTreeSearch()" class="tree-search tree-search1">
                <i [nzType]="'search'" nz-icon nzTheme="outline"></i>
              </a>
              <input (blur)="clearSearchInput()" (ngModelChange)="searchNodes($event)"
                     [(ngModel)]="searchNode.text"
                     [placeholder]="'workflow.placeholder.findNode' | translate"
                     class="input-tree-search"
                     id="workflowTreeSearch"
                     nz-input
              />

              <i [nzType]="searchNode.loading ? 'loading' : 'search'" class="graphical-tree-search-icon" nz-icon nzTheme="outline"></i>
            </div>
            <div class="fade-in">
              <nz-tree
                [nzShowExpand]="true"
                [nzData]="filteredNodes"
                [nzTreeTemplate]="nzTreeTemplate"
              ></nz-tree>
              <ng-template #nzTreeTemplate let-node>
                <div class="node-wrapper" id="{{node.origin.key}}" [ngClass]="{'disable-link':node.origin.disabled}">
                  <div (click)="selectNode(node.origin.key)" class="node-content-wrapper" [ngClass]="{'node-content-wrapper-active' : node.origin.key == selectedKey}">
                    <span *ngIf="node.origin.name"> {{node.origin.name}} </span>
                    <span class="_600">{{node.origin.title | translate}}</span>
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="card p-a pos-abt text-18 prev-next-icon" style="margin-left: 255px; bottom: 8px" *ngIf="graph?.getSelectionCell()">
              <a (click)="prev()" class="text-primary-hover"><span nz-icon nzType="left-circle" nzTheme="outline"></span></a>
              <a (click)="next()" class="text-primary-hover m-l-12"><span nz-icon nzType="right-circle" nzTheme="outline"></span></a>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul *ngIf="order" nz-menu>
          <li (click)="$event.preventDefault();$event.stopPropagation()" *ngIf="permission && permission.currentController && permission.currentController.orders.cancel && order.state &&
           (order.state._text === 'RUNNING' ||
           (order.state._text !== 'FINISHED' && order.state._text !== 'CANCELLED' && order.hasChildOrders) ||
           (order.state._text !== 'FINISHED' && order.state._text !== 'CANCELLED'))"
              nz-submenu
              [nzTitle]="'order.button.cancel' | translate">
            <ul>
              <li (click)="cancelOrder()" *ngIf="permission && permission.currentController && permission.currentController.orders.cancel && order.state && (order.state._text !== 'FINISHED' && order.state._text !== 'CANCELLED')"
                  nz-menu-item>
                <a translate>order.button.cancelSoftly</a>
              </li>
              <li (click)="cancelOrderWithKill()" *ngIf="permission && permission.currentController && permission.currentController.orders.cancel && order.state && (order.state._text === 'RUNNING')"
                  nz-menu-item>
                <a translate>order.button.cancelAndKillTask</a>
              </li>
              <li (click)="deepCancel()" *ngIf="order.hasChildOrders && permission && permission.currentController && permission.currentController.orders.cancel && order.state && (order.state._text !== 'FINISHED' && order.state._text !== 'CANCELLED')"
                  nz-menu-item>
                <a translate>order.button.deepCancel</a>
              </li>
              <li (click)="cancelOrderWithKill(true)" *ngIf="order.hasChildOrders && permission && permission.currentController && permission.currentController.orders.cancel && order.state && (order.state._text !== 'FINISHED' && order.state._text !== 'CANCELLED')"
                  nz-menu-item>
                <a translate>order.button.deepCancelAndKillTask</a>
              </li>
            </ul>
          </li>
          <li (click)="$event.preventDefault();$event.stopPropagation()" *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && order.isSuspendible || (order.state._text === 'RUNNING') || (order.state._text === 'RUNNING' || order.state._text === 'SCHEDULED' || order.state._text === 'PENDING'
             || order.state._text === 'INPROGRESS' || order.state._text === 'PROMPTING' || order.state._text === 'WAITING')"
              [nzTitle]="'order.button.suspend' | translate" nz-submenu>
            <ul>
                  <li (click)="normal()" *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)"
                      nz-menu-item>
                    <a translate>order.button.normal</a>
                  </li>
                  <li (click)="force()" *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)"
                      nz-menu-item>
                    <a translate>order.button.force</a>
                  </li>
                  <li (click)="reset()" *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)"
                      nz-menu-item>
                    <a translate>order.button.reset</a>
                  </li>
                  <li (click)="forceReset()" *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)"
                      nz-menu-item>
                    <a translate>order.button.forceReset</a>
                  </li>
            </ul>
          </li>
          <li (click)="$event.preventDefault();$event.stopPropagation()" *ngIf="order.hasChildOrders && permission && permission.currentController && permission.currentController.orders.suspendResume"
              [nzTitle]="'order.button.deepSuspend' | translate" nz-submenu>
            <ul>
              <li (click)="deepSuspendNormal()"
                  *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)"
                  nz-menu-item>
                <a translate>order.button.normal</a>
              </li>
              <li (click)="deepSuspendForce()"
                  *ngIf="permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)"
                  nz-menu-item>
                <a translate>order.button.force</a>
              </li>
              <li (click)="deepSuspendReset(true)" *ngIf="order.hasChildOrders && permission && permission.currentController && permission.currentController.orders.suspendResume && (order.isSuspendible)" nz-menu-item>
                <a translate>order.button.reset</a>
              </li>
              <li (click)="deepSuspendForceReset()" *ngIf="order.hasChildOrders && permission && permission.currentController && permission.currentController.orders.suspendResume && (order.state._text === 'RUNNING' || order.state._text === 'SCHEDULED' || order.state._text === 'PENDING'
       || order.state._text === 'INPROGRESS' || order.state._text === 'PROMPTING' || order.state._text === 'WAITING')" nz-menu-item>
                <a translate>order.button.forceReset</a>
              </li>
            </ul>
          </li>
           <li (click)="resumeOrder()" *ngIf="permission && permission.currentController && (permission.currentController.orders.suspendResume || (permission.currentController.orders.resumeFailed && order.state._text === 'FAILED')) && order.isResumable" nz-menu-item>
        <a>{{'order.button.resume' | translate}} ..</a>
      </li>
          <li (click)="continueOrder()" *ngIf="order.isContinuable && permission && permission.currentController && permission.currentController.orders.modify"
              nz-menu-item>
            <a>{{'order.button.continue' | translate}} </a>
          </li>
          <li (click)="modifyOrder()" *ngIf="!order.positionIsImplicitEnd && permission && permission.currentController && permission.currentController.orders.modify && order.state && (order.state._text === 'SCHEDULED' || order.state._text === 'PENDING' || order.state._text === 'BLOCKED')"
              nz-menu-item>
            <a>{{'dailyPlan.button.setStartTime' | translate}} ..</a>
          </li>
          <li (click)="changeParameter()" *ngIf="!order.positionIsImplicitEnd && permission && permission.currentController && permission.currentController.orders.modify && order.state && (order.state._text === 'SCHEDULED' || order.state._text === 'PENDING' || order.state._text === 'BLOCKED')"
              nz-menu-item>
            <a>{{'dailyPlan.button.setParameters' | translate}} ..</a>
          </li>
          <li (click)="removeWhenTerminated()" *ngIf="permission && permission.currentController && permission.currentController.orders.cancel
             && order.canLeave" nz-menu-item>
            <a translate>order.button.leaveWorkflow</a>
          </li>
          <li (click)="confirmOrder()" *ngIf="!order.positionIsImplicitEnd && permission && permission.currentController && permission.currentController.orders.confirm && order.state && (order.state._text === 'PROMPTING')"
              nz-menu-item>
            <a>{{'order.button.confirm' | translate}} ..</a>
          </li>
          <li *ngIf="order.state && (order.state._text !== 'SCHEDULED' && order.state._text !== 'PENDING')"
              nz-menu-divider></li>
          <li (click)="showLog(order)" *ngIf="order.state && (order.state._text !== 'SCHEDULED' && order.state._text !== 'PENDING')"
              nz-menu-item>
            <a>{{'order.button.showLog' | translate}}</a>
          </li>
          <li (click)="coreService.copyLink('order',order.orderId, order.workflowId.path)" *ngIf="order.state && (order.state._text !== 'SCHEDULED' && order.state._text !== 'PENDING')"
              nz-menu-item>
            <a translate>common.button.copyLinkToObject</a>
          </li>
        </ul>
        <ul *ngIf="stopInstruction" nz-menu>
          <li (click)="skip(stopInstruction);"
              *ngIf="stopInstruction.label && permission.currentController && permission.currentController.orders.managePositions &&  !stopInstruction.isSkip"
              nz-menu-item>
            <a>
              <span translate>workflow.button.skip</span>
            </a>
          </li>
          <li (click)="unskip(stopInstruction);"
              *ngIf="stopInstruction.label &&  permission.currentController && permission.currentController.orders.managePositions && stopInstruction.isSkip"
              nz-menu-item>
            <a>
              <span translate>workflow.button.unskip</span>
            </a>
          </li>
          <li (click)="stop(stopInstruction);"
              *ngIf="permission.currentController && permission.currentController.orders.managePositions && !stopInstruction.isStop"
              nz-menu-item>
            <a>
              <span translate>workflow.button.stop</span>
            </a>
          </li>
          <li (click)="unstop(stopInstruction);"
              *ngIf="permission.currentController && permission.currentController.orders.managePositions && stopInstruction.isStop"
              nz-menu-item>
            <a>
              <span translate>workflow.button.unstop</span>
            </a>
          </li>
        </ul>
        <ul *ngIf="job" nz-menu>
          <li (click)="skip(job);"
              *ngIf="permission.currentController && permission.currentController.orders.managePositions && !job.isSkip"
              nz-menu-item>
            <a>
              <span translate>workflow.button.skip</span>
            </a>
          </li>
          <li (click)="unskip(job);"
              *ngIf="permission.currentController && permission.currentController.orders.managePositions && job.isSkip"
              nz-menu-item>
            <a>
              <span translate>workflow.button.unskip</span>
            </a>
          </li>
          <li (click)="stop(job);"
              *ngIf="permission.currentController && permission.currentController.orders.managePositions && !job.isStop"
              nz-menu-item>
            <a>
              <span translate>workflow.button.stop</span>
            </a>
          </li>
          <li (click)="unstop(job);"
              *ngIf="permission.currentController && permission.currentController.orders.managePositions && job.isStop"
              nz-menu-item>
            <a>
              <span translate>workflow.button.unstop</span>
            </a>
          </li>
          <li (click)="showConfiguration(job);" nz-menu-item>
            <a translate>common.button.showConfiguration</a>
          </li>
          <li (click)="coreService.showDocumentation(job.documentationName, preferences)" *ngIf="job.jobName"
              [nzDisabled]="!job.documentationName" nz-menu-item>
            <a translate>common.button.viewDocumentation</a>
          </li>
          <li (click)="viewHistory(job)" *ngIf="job && permission.currentController && permission.currentController.orders.view"
              nz-menu-item>
            <a>
              <span translate>common.button.showHistory</span>
            </a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <div [hidden]="isModal" class="rg-bottom"><span></span></div>
    </div>
  </div>
</div>
<!-- BEGIN SLIDER -->
<nz-drawer (nzOnClose)="sideBar.isVisible = false" [nzVisible]="sideBar.isVisible" nzPlacement="right">
  <ng-container *nzDrawerContent>
    <div (click)="sideBar.isVisible = false" class="close-btn"></div>
    <div class="p-l-sm p-r-sm">
      <app-order-list-sidebar [orderPreparation]="orderPreparation" [orders]="sideBar.orders"
                              [permission]="permission" [preferences]="preferences"
                              [schedulerId]="controllerId"></app-order-list-sidebar>
    </div>
  </ng-container>
</nz-drawer>
<!-- END SLIDER -->
