::ng-deep body {
  overflow: auto !important;
  background: var(--background-color);
}

pre.log {
  margin-bottom: 8px;
  font-size: 12px;
  margin-top: 28px
}

.loading-img {
  top: 30px;
  background-color: var(--background-color)
}

a:hover {
  text-decoration: underline
}

#upper-header {
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 4px 0;
  background: var(--background-color);
}
