<div class="m-t-sm">
    <div class="hide-block sidebar-btn resize-cursor">
        <i  class="fa fa-angle-double-right p-l-sm" ng-click="showLeftPanel()"></i>
    </div>
    <aside id="leftPanel" class="hidden-sm-down">
        <pie-chart-component></pie-chart-component>
    </aside>
    <div id="rightPanel">
        <div ng-controller="OrderFunctionCtrl">
            <div class="hide " ng-class="{'show': isLoading  && permission.Order.view.status}">
                <div class="hide m-t-xs" ng-class="{'show': pageView=='grid'}">
                    <div class="row">
                        <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 " ng-repeat="order in filtered = (orders | filter: filterString:strict) | orderBy:filter.sortBy" >
                            <div class="box card" >
                            <div class="box-body">
                                <div>
                                    <label class="md-check pos-abt">
                                        <input type="checkbox" data-checklist-model="object.orders" data-checklist-value="order"><i
                                            class="primary"></i></label>

                                    <div class="text-left m-l-md block-ellipsis" >
                                        <a class="primary-text-hover-color" href="" uib-tooltip="{{order.title}}" ng-click="showLogFuc(order)">{{order.orderId}}</a></div>
                                    <div class="btn-group dropdown pull-right abt-dropdown ">
                                        <a href class=" more-option text-black-lt" data-toggle="dropdown">
                                            <i class="text fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-ac dropdown-more">
                                                <a ng-click="showConfiguration('order',order.jobChain,order.orderId)" class="hide dropdown-item" ng-class="{show:permission.Order.view.configuration}" translate>button.showConfiguration</a>
                                            <a href class="dropdown-item"
                                               ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK') && permission.Order.start"
                                               ng-click="start(order)" translate>button.startOrderNow</a>
                                             <a href class="dropdown-item" ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK') && permission.Order.start"
                                               ng-click="startOrder(order)" translate>button.startOrderat</a>
                                            <a href class="dropdown-item"
                                               ng-if="(order.processingState._text == 'SUSPENDED' || order.processingState._text == 'PENDING') && permission.Order.update"
                                               ng-click="setOrderState(order)" translate>button.setOrderState</a>
                                            <a href class="dropdown-item"
                                               ng-if="(order.processingState._text == 'SUSPENDED' || order.processingState._text == 'PENDING') && permission.Order.update"
                                               ng-click="setRunTime(order)" translate>button.setRunTime</a>
                                            <a href class="dropdown-item bg-hover-color"
                                               ng-if="(order.processingState._text != 'SUSPENDED' && order.processingState._text != 'BLACKLIST') && permission.Order.suspend"
                                               ng-click="suspendOrder(order)" translate>button.suspendOrder</a>
                                            <a href class="dropdown-item" ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.resume"
                                               ng-click="resumeOrder(order)" translate>button.resumeOrder</a>
                                            <a href class="dropdown-item" ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.resume"
                                               ng-click="resumeOrderWithParam(order)" translate>button.resumeOrderParametrized</a>
                                            <a href class="dropdown-item" ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.resume"
                                               ng-click="resumeOrderNextstate(order)" translate>button.resumeOrderFromNextState</a>
                                            <a href class="dropdown-item" ng-if="(order.processingState._text != 'BLACKLIST') && permission.Order.update"
                                               ng-click="resetOrder(order)" translate>button.resetOrder</a>
                                            <a href class="dropdown-item bg-hover-color" ng-if="order.processingState._text == 'SETBACK' && permission.Order.removeSetback "
                                               ng-click="removeOrder(order)" translate>button.removeOrder</a>
                                            <a href class="dropdown-item" ng-if="order.processingState._text != 'BLACKLIST'"
                                               ng-click="viewCalendar(order)" translate>button.showCalendar</a>
                                            <a href class="dropdown-item bg-hover-color" ng-if="order.processingState._text == 'BLACKLIST' && permission.Order.delete.permanent"
                                               ng-click="deleteOrder(order)" translate>button.deleteOrder</a>
                                            <a target="_blank" href="#/order/log/{{order.historyId}}/{{order.orderId}}?jobChain={{order.jobChain}}" class="dropdown-item hide"
                                                                           ng-if="order.historyId" ng-class="{'show-inline':permission.Order.view.orderLog}"
                                                                           ng-click="showOrderLogs(order)"
                                                                           translate>button.viewLogs</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-left text-muted p-t-sm">
                                    <span translate>label.state </span>:
                                    <span ng-class="colorFunction(order.processingState.severity)" ng-bind="order.processingState._text | translate"></span>
                                </div>
                                <div class="text-left text-muted text-sm p-t-sm">
                                    <span class="hide" ng-class="{'show-inline':order.nextStartTime && !order.startedAt}">
                                        {{'label.nextStart' | translate}}:
                                        {{order.nextStartTime | stringToDate}}
                                       <span class="text-success">({{undefined | durationFromCurrent:order.nextStartTime }})</span>
                                    </span>
                                    <span class="hide" ng-class="{'show-inline':!order.nextStartTime && !order.startedAt}" translate>label.nextStartNever</span>
                                    <span class="hide" ng-class="{'show-inline':order.startedAt}">{{'label.runningSince' | translate}}: {{order.startedAt | stringToDate}}
                                        <span class="text-success">({{order.startedAt | durationFromCurrent:undefined }})</span>
                                    </span>
                                </div>
                            </div>
                                <div class="box-footer b-t">
                                    <div>
                                        <a href class="hide text-left primary-text-hover-color" ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK')"
                                           ng-class="{'show-block':permission.Order.start}" ng-click="start(order)">
                                            <i class="fa fa-play text-black-lt"></i>
                                            <span class="text-black-lt" translate>button.startNow</span>
                                        </a>
                                        <a href class="hide text-left primary-text-hover-color" ng-if="order.processingState._text == 'SUSPENDED' "
                                           ng-class="{'show-block':permission.Order.resume}" ng-click="resumeOrder(order)">
                                            <i class="fa fa-step-forward text-black-lt"></i>
                                            <span class="text-black-lt" translate>button.resume</span>
                                        </a>
                                        <a href class="text-hover-color" ng-class="{'pull-right' : order.processingState._text != 'RUNNING'}" ng-if="(order.processingState._text && order.processingState._text != 'SUSPENDED' && order.processingState._text != 'BLACKLIST') && permission.Order.suspend"
                                           ng-click="suspendOrder(order)">
                                            <i class="fa fa-pause text-black-lt"></i>
                                            <span class="text-black-lt" translate>button.suspend</span>
                                        </a>
                                        <a target="_blank" href="#/order/log/{{order.historyId}}/{{order.orderId}}?jobChain={{order.jobChain}}" ng-if="order.historyId" class="hide text-right primary-text-hover-color"
                                           ng-class="{'show-inline':permission.Order.view.orderLog,'pull-right':permission.Order.suspend}">
                                            <i class="fa fa-file-text text-black-lt"></i>
                                            <span class="text-black-lt" translate>button.viewLog</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-t text-uppercase hide text-orange" ng-class="{'show': (filtered.length===0 && orders.length !==0)}" translate>message.noDataMatched</div>
                    <div ng-if="isLoading && orders.length==0" class="text-center m-t h6 text-uppercase" translate>message.noOrdersFound</div>
                </div>
                <div class="hide box p-a " ng-class="{'show': pageView=='list'}">
                            <div class="table-responsive" ng-show="orders.length >0">
                                <table class="table table-hover table-bordered " id="orderTableId">
                                    <thead>
                                    <tr>
                                        <th class="noExl">
                                            <label class="md-check lg-check">
                                                <input type="checkbox" ng-model="allCheck.checkbox" ng-click="checkAll()"><i
                                                    class="primary"></i>
                                            </label>
                                        </th>
                                        <th ng-click="sortBy('orderId')"><a><span translate>label.orderId</span>
                                            <i ng-show="propertyName == 'orderId' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'orderId' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th ng-click="sortBy('jobChain')"><a><span translate>label.jobChain</span>
                                            <i ng-show="propertyName == 'jobChain' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'jobChain' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th ng-click="sortBy('processingState._text')"><a><span translate>label.processingStatus</span>
                                            <i ng-show="propertyName == 'processingState._text' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'processingState._text' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th ng-click="sortBy('state')"><a><span translate>label.state</span>
                                            <i ng-show="propertyName == 'state' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'state' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th   ng-click="sortBy('startedAt')"><a><span translate>label.startedAt</span>
                                            <i ng-show="propertyName == 'startedAt' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'startedAt' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th  ng-click="sortBy('inProcessSince')"><a><span translate>label.runningSince</span>
                                            <i ng-show="propertyName == 'inProcessSince' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'inProcessSince' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th  ng-click="sortBy('historyId')"><a><span translate>label.historyId</span>
                                            <i ng-show="propertyName == 'historyId' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'historyId' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th ng-click="sortBy('nextStartTime')"><a>
                                            <span translate>label.nextStartTime</span>
                                            <i ng-show="propertyName == 'nextStartTime' && !reverse"
                                               class="fa fa-caret-down "></i>
                                            <i ng-show="propertyName == 'nextStartTime' && reverse"
                                               class="fa fa-caret-up "></i></a>
                                        </th>
                                        <th class="noExl"></th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="order in filtered = (orders | filter: filterString:strict) | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize | orderBy:filter.sortBy" ng-class="{'light-bg':showLogPanel == order}">
                                        <tr>
                                            <td class="noExl">
                                                <label class="md-check">
                                                    <input type="checkbox" data-checklist-model="object.orders"
                                                           data-checklist-value="order"><i class="primary"></i>
                                                </label>
                                            </td>
                                            <td>
                                                <i class="cursor fa fa-caret-down noExl" ng-if="showPanel != order.path"
                                                   ng-click="showPanelFuc(order.path)"></i>
                                                <i class="cursor fa fa-caret-up noExl" ng-if="hidePanel && showPanel == order.path" ng-click="hidePanelFuc()"></i>
                                                <span class="text-dark">{{order.orderId}}</span> <span ng-if="order.title">-</span>
                                                <i class="text-muted">{{:: order.title}}</i>
                                            </td>
                                            <td><a ui-sref="app.jobChain" ng-bind="order.jobChain"></a></td>
                                            <td><span class="label " ng-class="bgColorFunction(order.processingState.severity)" ng-bind="order.processingState._text | translate"></span>
                                                <span class="text-muted text-sm" ng-if="order.processingState._text == 'SETBACK'">{{order.setback}}</span>
                                            </td>
                                            <td uib-tooltip="{{order.stateText}}" ng-bind="order.state"></td>
                                            <td >
                                                <span ng-if="order.startedAt" ng-bind="order.startedAt | stringToDate"></span>
                                                <span class="hide " ng-class="{'show-inline':!order.startedAt}" translate>label.never</span>
                                            </td>
                                            <td><span class="hide" ng-class="{'show-inline':order.startedAt}">{{order.startedAt | stringToDate}} <span class="text-success">({{order.startedAt | durationFromCurrent:undefined }})</span></span></td>
                                            <td ng-bind="order.historyId || '-'"></td>
                                            <td>
                                                <span class="hide" ng-class="{'show-inline':order.nextStartTime && !order.startedAt}">{{order.nextStartTime | stringToDate}}
                                                    <span class="text-success">({{undefined | durationFromCurrent:order.nextStartTime }})</span></span>
                                                <span class="hide " ng-class="{'show-inline':!order.nextStartTime && !order.startedAt}" translate>label.never</span>
                                            </td>
                                            <td class="noExl">
                                                <div class="btn-group dropdown ">
                                                    <button type="button" class="btn-drop more-option-h"  data-toggle="dropdown" ><i
                                                        class="fa fa-ellipsis-h"></i></button>
                                                    <div class="dropdown-menu dropdown-ac dropdown-more pull-left m-r-28" role="menu">
                                                        <a ng-click="showConfiguration('order',order.jobChain,order.orderId)" class="hide dropdown-item" ng-class="{show:permission.Order.view.configuration}" translate>button.showConfiguration</a>
                                                        <a href class="dropdown-item"
                                                           ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK') && permission.Order.start"
                                                           ng-click="start(order)" translate>button.startOrderNow</a>
                                                         <a href class="dropdown-item" ng-if="(order.processingState._text == 'PENDING' || order.processingState._text == 'SETBACK') && permission.Order.start"
                                                           ng-click="startOrder(order)" translate>button.startOrderat</a>
                                                        <a href class="dropdown-item"
                                                           ng-if="(order.processingState._text == 'SUSPENDED' || order.processingState._text == 'PENDING') && permission.Order.update"
                                                           ng-click="setOrderState(order)" translate>button.setOrderState</a>
                                                        <a href class="dropdown-item"
                                                           ng-if="(order.processingState._text == 'SUSPENDED' || order.processingState._text == 'PENDING') && permission.Order.update"
                                                           ng-click="setRunTime(order)" translate>button.setRunTime</a>
                                                        <a href class="dropdown-item bg-hover-color"
                                                           ng-if="(order.processingState._text != 'SUSPENDED' && order.processingState._text != 'BLACKLIST') && permission.Order.suspend"
                                                           ng-click="suspendOrder(order)" translate>button.suspendOrder</a>
                                                        <a href class="dropdown-item" ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.resume"
                                                           ng-click="resumeOrder(order)" translate>button.resumeOrder</a>
                                                        <a href class="dropdown-item" ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.resume"
                                                           ng-click="resumeOrderWithParam(order)" translate>button.resumeOrderParametrized</a>
                                                        <a href class="dropdown-item" ng-if="(order.processingState._text == 'SUSPENDED') && permission.Order.resume"
                                                           ng-click="resumeOrderNextstate(order)" translate>button.resumeOrderFromNextState</a>
                                                        <a href class="dropdown-item" ng-if="(order.processingState._text != 'BLACKLIST') && permission.Order.update"
                                                           ng-click="resetOrder(order)" translate>button.resetOrder</a>
                                                        <a href class="dropdown-item bg-hover-color" ng-if="order.processingState._text == 'SETBACK' && permission.Order.removeSetback "
                                                           ng-click="removeOrder(order)" translate>button.removeOrder</a>
                                                        <a href class="dropdown-item" ng-if="order.processingState._text != 'BLACKLIST'"
                                                           ng-click="viewCalendar(order)" translate>button.showCalendar</a>
                                                        <a href class="dropdown-item bg-hover-color" ng-if="order.processingState._text == 'BLACKLIST' && permission.Order.delete.permanent"
                                                           ng-click="deleteOrder(order)" translate>button.deleteOrder</a>
                                                        <a target="_blank" href="#/order/log/{{order.historyId}}/{{order.orderId}}?jobChain={{order.jobChain}}" class="dropdown-item hide"
                                                           ng-if="order.historyId" ng-class="{'show-inline':permission.Order.view.orderLog}"
                                                           translate>button.viewLog</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-show="showPanel == order.path" class="noExl">

                                            <td></td>
                                            <td colspan="9" style="padding: 0 !important;">
                                                <table class="table m-a-0">
                                                    <thead>
                                                    <tr>
                                                        <th translate>label.type</th>
                                                        <th translate>label.endState</th>
                                                        <th translate>label.priority</th>
                                                        <th translate>label.params</th>
                                                        <th translate>label.taskId</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>{{order._type || '-'}}</td>
                                                        <td>{{order.endState || '-'}}</td>
                                                        <td>{{order.priority || '-'}}</td>
                                                        <td><div ng-repeat="param in order.params">{{param.name}} - {{param.value}}</div></td>
                                                        <td>{{order.taskId || '-'}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                 <ul ng-show="filtered.length > pageSize" uib-pagination total-items="filtered.length" ng-model="currentPage" items-per-page='pageSize' ng-change="pageChange()" class="pagination-sm m-t-0" max-size="5" boundary-link-numbers="true" rotate="false" previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                                 <div class="pull-right" ng-show="filtered.length > 10">
                                    <div class="btn-group m-r-xxs">
                                        <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'10'"
                                                ng-class="{'primary': pageSize=='10'}" >10
                                        </button>
                                        <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'25'"
                                                ng-class="{'primary': pageSize=='25'}" >25
                                        </button>
                                        <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'50'"
                                                ng-class="{'primary': pageSize=='50'}" >50
                                        </button>
                                        <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'100'"
                                                ng-class="{'primary': pageSize=='100'}">100
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center m-t text-uppercase hide text-orange" ng-class="{'show': (filtered.length===0 && orders.length !==0)}" translate>message.noDataMatched</div>
                        <div ng-if="isLoading && orders.length==0" class="text-center m-t h6 text-uppercase" translate>message.noOrdersFound</div>
                    </div>
            </div>
            <div class="hide " ng-class="{'show': isLoading}" >
                    <div class="row" ng-show="showLogPanel">
                        <div class="col-md-12 hide" ng-class="{show: isLoading1}">
                            <div class="box white">
                                <div class="box-header">
                                    <span class="text">{{showLogPanel.jobChain.substring(showLogPanel.jobChain.lastIndexOf('/')+1)}} : {{showLogPanel.orderId}} <i ng-if="showLogPanel.title">-</i> <i class="text-sm text-muted">{{showLogPanel.title}}</i></span>
                                </div>
                                <div class="box-tool">
                                    <ul class="nav text-muted text-md">
                                        <li class="nav-item inline m-l-sm">
                                            <a href="" ng-click="hideLogPanel()"><img src="images/remove.png"></a>
                                        </li>
                                    </ul>
                                </div>
                                 <div class="box-body p-t b-t" >
                                    <div class="b-b">
                                      <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                          <a class="nav-link active" href data-toggle="tab" data-target="#tab1" translate>label.orderLog</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href data-toggle="tab" data-target="#tab2" ng-click="loadHistory()" translate>label.orderHistory</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href data-toggle="tab" data-target="#tab3" translate>label.orderStepHistory</a>
                                        </li>
                                      </ul>
                                    </div>
                                     <div class="tab-content p-a m-b-md">
                                      <div class="tab-pane animated fadeIn active " id="tab1">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <button type="button" class="btn btn-default btn-sm pull-right m-l-sm"><i class="fa fa-print"></i></button>
                                                  <button type="button" class="btn btn-default btn-sm pull-right m-l-sm" ng-click="downloadLog()"><i class="fa fa-save"></i></button>
                                                  <input type="text" class="form-control inline w pull-right search-box light" placeholder="{{'placeholder.search'| translate}}">
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                 <div ng-bind-html="logs.html"></div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="tab-pane animated fadeIn " id="tab2">
                                          <div class="row">
                                              <div class="table-responsive">
                                                <table class="table table-striped table-bordered " >
                                                    <thead>
                                                    <tr>
                                                        <th translate>label.node</th>
                                                        <th translate>label.startOfExecution</th>
                                                        <th translate>label.endOfExecution</th>
                                                        <th translate>label.duration</th>
                                                        <th translate>label.exitCode</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="history in historys">
                                                            <td>{{history.node}}</td>
                                                            <td>{{history.startTime | stringToDate}}</td>
                                                            <td>{{history.endTime | stringToDate}}</td>
                                                            <td ng-bind="history.startTime | duration:history.endTime"></td>
                                                            <td ng-bind="history.exitCode"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="tab-pane animated fadeIn " id="tab3">
                                          <div class="row">
                                              <div class="table-responsive">
                                                <table class="table table-striped table-bordered " >
                                                    <thead>
                                                    <tr>
                                                        <th translate>label.step</th>
                                                        <th translate>label.state</th>
                                                        <th translate>label.job</th>
                                                        <th translate>label.start</th>
                                                        <th translate>label.end</th>
                                                        <th translate>label.duration</th>
                                                        <th translate>label.exitCode</th>
                                                        <th translate>label.errorCode</th>
                                                        <th translate>label.errorText</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="history in historys">
                                                            <td>{{history.step}}</td>
                                                            <td>{{history.node}}</td>
                                                            <td>{{history.job}}</td>
                                                            <td>{{history.startTime | stringToDate}}</td>
                                                            <td>{{history.endTime | stringToDate}}</td>
                                                            <td ng-bind="history.startTime | duration:history.endTime"></td>
                                                            <td ng-bind="history.exitCode"></td>
                                                            <td ng-bind="history.errorCode || '-'"></td>
                                                            <td ng-bind="history.errorText || '-'"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide text-center m-t-lg " ng-class="{'show': !isLoading1}">
                        <div class="cssload-loading">{{'label.loading' | translate}}...</div>
                    </div>
                </div>
                <div class="hide text-center m-t-lg" ng-class="{'show': !isLoading}">
                    <div class="cssload-loading">{{'label.loading' | translate}}...</div>
                </div>
            </div>
    </div>
</div>

<script>
    $('.table-responsive').on('shown.bs.dropdown', function (e) {
    var $table = $(this),
        $menu = $(e.target).find('.dropdown-menu'),
        tableOffsetHeight = $table.offset().top + $table.height(),
        menuOffsetHeight = $menu.offset().top + $menu.outerHeight(true);

    if (menuOffsetHeight > tableOffsetHeight)
      $table.css("padding-bottom", menuOffsetHeight - tableOffsetHeight +10);
  });

  $('.table-responsive').on('hide.bs.dropdown', function () {
    $(this).css("padding-bottom", 0);
  });
    $(document).ready(function() {
        $('#leftPanel').stickySidebar({
            sidebarTopMargin: 170
        });
    });
</script>