<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs text-c" ncy-breadcrumb></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht" >
    <div class="padding p-b-0">
        <div class="row">
            <div class="col-md-3 ">
                 <h5 class=" _300 m-t-xs"><i class="fa fa-file"></i> <span translate>label.logs</span></h5>
            </div>
            <div class="col-md-9 ">
                <a class="pull-right text-u-l m-l m-t-xs" ng-click="advanceFilter()" translate>button.advancedSearch</a>
                <input type="text" class="form-control inline w pull-right search-box" placeholder="{{'placeholder.search' | translate}}">
                <button class="btn btn-default grey btn-sm pull-right m-r" ng-click="advanceFilter()" translate>button.modifyLogView</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box white">
                    <div class="box-body m-t p-t-0 p-b-xs">
                       <div ng-bind-html="logs.html"></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>