<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb-last></span>
                    </div>
                    <div class="show-inline">
                        <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-if="isCancel || finished" ng-click="reload()">
                            <i class="fa fa-refresh"></i>
                            <span translate>button.reload</span>
                        </button>
                        <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-if="!isCancel && !finished" ng-click="cancel()">
                            <i class="fa fa-times"></i>
                            <span translate>button.cancel</span>
                        </button>
                        <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="downloadLog()">
                            <i class="fa fa-download"></i>
                            <span translate>button.download</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding p-b-0">
    <div class="row m-t-xs">
        <div class="col-md-12">
            <h5 class=" _300 m-t-sm">
                <span ng-if="orderId">{{jobChain}} - <i class="text-muted">{{orderId}}</i></span>
                <span ng-if="taskId"><span ng-if="job">{{job}} </span> <span ng-if="!job" translate>label.taskId </span> - <i class="text-muted">{{taskId}}</i></span>
            </h5>
        </div>
    </div>
    <div class="row m-t-sm" ng-if="!error">
        <div class="col-sm-12">
             <label class="md-check m-r">
                <input type="checkbox" ng-model="object.checkBoxs.scheduler" ng-change="checkLogLevel('SCHEDULER')">
                <i class="primary"></i><span translate>Main</span>
            </label>
            <label class="md-check m-r">
                <input type="checkbox" ng-model="object.checkBoxs.stdout" ng-change="checkLogLevel('STDOUT')">
                <i class="primary"></i><span>Stdout</span>
            </label>
            <label class="md-check m-r" ng-if="isStdErrLevel">
                <input type="checkbox" ng-model="object.checkBoxs.stderr" ng-change="checkLogLevel('STDERR')">
                <i class="primary"></i><span>Stderr</span>
            </label>
            <label class="md-check m-r">
                <input type="checkbox" ng-model="object.checkBoxs.info" ng-change="checkLogLevel('INFO')">
                <i class="primary"></i><span translate>Info</span>
            </label>
            <label class="md-check m-r" ng-if="isDeBugLevel">
                <input type="checkbox" ng-model="object.checkBoxs.debug" ng-change="checkLogLevel('DEBUG')">
                <i class="primary"></i><span translate>Debug</span>
            </label>
            <label class="md-check m-r"  ng-if="isDeBugLevel" ng-repeat="level in debugLevels">
                <input type="radio" ng-disabled="!object.checkBoxs.debug" ng-model="object.debug" name="debug" value="{{level}}" ng-change="changeDebugLevel()">
                <i class="primary"></i><span ng-bind="level"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box white">
                <div class="box-body p-a-0">
                    <div ng-if="!isLoading" class="text-center p-t-md"><i class="fa fa-spin fa-spinner fa-2x"></i></div>
                    <pre id="logs" ng-if="!error" class="log p-a" style="overflow: auto"></pre>
                    <div class="log text-center" ng-if="error">
                        <div class="text-dark p-t" style="font-size: 38px;margin-bottom: -8px" ><span ng-bind="errStatus"></span></div>
                        <div class="text-lg text-muted" ng-if="errStatus">Error!</div>
                        <div class="text m-t" ng-bind="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../js/order-log.js"></script>
