<div id="jobSchedulerStatus2">
  <div class="box-header b-b remove">
    <h3 translate>dashboard.label.apiServerStatus</h3>
  </div>
  <div [ngClass]="{'p-t-0' : list && list.length==0}" [ngStyle]="{'max-height':(ybody * 55 + ((ybody -1) *20 -50)) +'px'}"
       class="box-body overflow-y">
    <div *ngIf="list && list.length>0" class="table-responsive status-table">
      <table class="w-full">
        <thead>
        <tr>
          <th>{{'common.label.action' | translate}}</th>
          <th>{{'dashboard.label.JS7ServerInstanceId' | translate}}</th>
          <th>{{'dashboard.label.url' | translate}}</th>
          <th>{{'dashboard.label.componentState' | translate}}</th>
          <th>{{'dashboard.label.title' | translate}}</th>
          <th>{{'dashboard.label.architecture' | translate}}</th>
          <th>{{'dashboard.label.version' | translate}}</th>
          <th>{{'dashboard.label.startedAt' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list">
          <td>
            <div class="btn-group dropdown">
              <button [nzDropdownMenu]="action" class="btn-drop more-option-h" nz-dropdown nzTrigger="click"
                      type="button">
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <nz-dropdown-menu #action="nzDropdownMenu">
                <ul nz-menu>
                  <li (click)="updateURL(item)"
                      nz-menu-item>
                    <a translate>dashboard.button.updateURL</a>
                  </li>
                  <li (click)="removeInstance(item.instanceId)" nz-menu-item>
                    <a translate>dashboard.button.removeRepository</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </td>
          <td><span>{{item.instanceId}}</span></td>
          <td><a class="text-hover-primary" href="{{item.url}}" target="_blank">{{item.url}}</a></td>
          <td><span *ngIf="item.componentState" [ngClass]="coreService.getColor(item.componentState.severity, 'bg')"
                    class="label">{{item.componentState._text | translate}}</span>
          </td>

          <td><span class="label label-default">{{item.title | translate}}</span></td>
          <td>
            <i class="fa fa-{{item.os.name | lowercase}}"></i>&nbsp;
            <span>{{item.os.architecture}}</span> -
            <span>{{item.os.distribution}}</span>
          </td>
          <td>
            <span>{{item.version}}</span>
          </td>
          <td>
            <span *ngIf="item.startedAt" class="text-primary text-sm">{{item.startedAt | stringToDate}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div [ngClass]="{'show': !isLoaded}" class="hide text-center m-t-lg p-b-lg text-primary text">
      <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
    </div>
  </div>
  <div *ngIf="list && list.length==0 && isLoaded" [ngStyle]="{'height':(ybody * 55 + ((ybody -1) *20 -50) - 12) +'px'}"
       class="vert-middle">
    <div>
      <app-empty-data></app-empty-data>
    </div>
  </div>
</div>
