<div class="pos-abt" style="top:16px;right:20px" *ngIf="setOfCheckedId.size > 0">
  <button class="hide btn btn-grey btn-sm m-l-12"
          [ngClass]="{'show-block':permission.Order.execute, 'disable-link': !object.isModify }"
          (click)="modifyAllOrder()"><i class="fa fa-edit p-r-xs"></i>
    <span class="hidden-sm-down" translate>dailyPlan.button.setParameters</span></button>
  <button class="hide btn btn-grey btn-sm m-l-12"  *ngIf="!object.isCancel"
          [ngClass]="{'show-block':permission.Order.execute}"
          (click)="cancelAllOrder()"><i class="fa fa-times p-r-xs"></i>
    <span class="hidden-sm-down" translate>order.button.cancel</span></button>
  <button class="hide btn btn-grey btn-sm m-l-12"  *ngIf="object.isTerminate"
          [ngClass]="{'show-block':permission.Order.execute}"
          (click)="terminateAllOrder()"><i class="fa fa-trash p-r-xs"></i>
    <span class="hidden-sm-down" translate>order.button.leaveWorkflow</span></button>
  <button class="hide btn btn-grey btn-sm m-l-12" *ngIf="object.isSuspend"
          [ngClass]="{'show-block':permission.Order.execute.suspend}"
          (click)="suspendAllOrder()"><i class="fa fa-stop p-r-xs"></i>
    <span class="hidden-sm-down" translate>order.button.suspend</span></button>
  <button class="hide btn btn-grey btn-sm m-l-12" *ngIf="object.isResume"
          [ngClass]="{'show-block':permission.Order.execute.resume}"
          (click)="resumeAllOrder()"><i
    class="fa fa-step-forward p-r-xs"></i> <span class="hidden-sm-down" translate>order.button.resume</span>
  </button>
</div>
<div class="text-center m-b text"><i class="tree-icon icon-orders-icon"></i>&nbsp;
  <span class="_600 b-b p-b-sm m-l-sm" translate>order.label.orders</span>
</div>
<div class="p-a-sm" style="max-height: 88vh; overflow: auto">
  <nz-table
    #ajaxTable
    [nzSize]="'small'"
    [nzBordered]="true"
    [nzShowPagination]="false"
    [nzData]="orders"
    [nzPageSize]="orders.length"
  >
    <thead>
    <tr>
      <th
        [nzShowCheckbox]="true"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th class="menu"><span translate>common.label.action</span></th>
      <th><span class="p-r-xs" translate>order.label.orderId</span></th>
      <th><span class="p-r-xs" translate>order.label.state</span></th>
      <th><span class="p-r-xs" translate>order.label.scheduledFor</span></th>
      <th><span class="p-r-xs" translate>order.label.lastOutcome</span></th>
    </tr>
    </thead>
    <tbody (click)="$event.preventDefault()">
    <ng-template ngFor let-order
                 [ngForOf]="ajaxTable.data | orderBy: 'scheduledFor': true">
      <tr>
        <td [nzShowCheckbox]="true" [nzChecked]="setOfCheckedId.has(order.orderId)" (nzCheckedChange)="onItemChecked(order.orderId, $event)"></td>
        <td>
          <app-order-action [order]="order" [schedulerId]="schedulerId" [permission]="permission"
                            [preferences]="preferences"></app-order-action>
        </td>
        <td>
            <span class="show-in-single-line">
              <i class="cursor fa fa-caret-down fa-lg p-l-xs p-r-xs" *ngIf="!order.show"
                 (click)="showPanelFuc(order)"></i>
              <i class="cursor fa fa-caret-up fa-lg p-l-xs p-r-xs" *ngIf="order.show" (click)="order.show = false"></i>
              <a class="text-dark">{{order.orderId}}</a>
              <span *ngIf="order.title">-</span>
              <i class="text-muted">{{order.title}}</i>
            </span>
        </td>
        <td>
          <a class="label" *ngIf="order.state" [ngClass]="coreService.getColor(order.state.severity, 'bg')"
             [innerHtml]="order.state._text | translate"></a>
        </td>
        <td>
          {{order.scheduledFor | stringToDate}}
          <!--<span class="text-success p-l-xs text-xs" *ngIf="order.scheduledFor">({{order.scheduledFor | timeInString}})</span>-->
        </td>
        <td>
            <span *ngIf="order.lastOutcome">
              {{order.lastOutcome.TYPE | translate}}
            </span>
        </td>
      </tr>
      <tr *ngIf="order.show">
        <td colspan="2"></td>
        <td colspan="5">
          <app-order-variable [order]="order" [type]="'arguments'" [schedulerId]="schedulerId"></app-order-variable>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
