<div class="modal-header">
  <h4 class="modal-title">
    <span class="drag-text" translate>inventory.updateJob.label.updateJob</span>:
    {{data.jobName || '*'}}
  </h4>
  <button (click)="step === 3 ? activeModal.close('Close') : activeModal.destroy()" aria-label="Close" class="close"
          type="button">
    <span aria-hidden="true" class="fa fa-times-circle"></span>
  </button>
</div>
<form #myForm="ngForm" (ngSubmit)="onSubmit()" spellcheck="false">
  <div class="modal-body p-a min-ht-400">
    <div class="row">
      <div *ngIf="step === 1" class="col-md-12">
        <div *ngIf="data.onlyUpdate" class="text-center m-t-lg">
          <nz-spin [nzSize]="'small'" nzSimple></nz-spin>
        </div>
        <div *ngIf="!data.onlyUpdate">
          <div class="m-l font14 _600" translate>
            inventory.updateJob.message.selectWorkflowToOpenJobEditor
          </div>
          <div class="m-t">
            <ul>
              <li *ngFor="let item of data.workflows">
                <a (click)="getObject(item.id)" class="text-hover-primary"><i
                  class="icon-workflows-icon p-r-xs"></i> {{item.path}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="step === 2" class="col-md-12">
        <app-job-content [agents]="agents.agentList" [checkboxObjects]="checkboxObjects" [documentationTree]="documentationTree"
                         [exactMatch]="data.exactMatch" [isModal]="true"
                         [isTooltipVisible]="!preferences.showTooltipInfo" [jobResourcesTree]="jobResourcesTree"
                         [preferences]="preferences" [schedulerId]="controllerId"
                         [selectedNode]="selectedNode"></app-job-content>
      </div>
      <div *ngIf="step === 3" class="col-md-12 min-ht-400">
        <div [ngStyle]="{'height': renameFailedJobs.length > 0 ? '100px' : '100%'}"
             style="display: flex;justify-content: center;align-items: center;">
          <div class="text-md">
            <span [translateParams]="{workflowsCount: data.workflows.length}" class="_600" translate>inventory.updateJob.message.updateSuccessfully</span>
            <a (click)="step = 4;" class="text-primary p-l-xs"
               translate>inventory.updateJob.button.clickHereToDeploy</a>
          </div>
        </div>
        <div *ngIf="renameFailedJobs.length > 0" class="font14 m-t text-center">
          <span class="_600" translate>Renaming of job '{{data.jobName}}' to '{{selectedNode.obj.jobName}}
            ' is failed in {{renameFailedJobs.length}} workflows</span>
          <div *ngFor="let workflow of renameFailedJobs">
            <i class="icon-workflows-icon p-r-xs"></i> {{workflow}}
          </div>
        </div>
      </div>
      <div *ngIf="step === 4" class="col-md-12">
        <div *ngIf="preferences.auditLog">
          <app-audit-log-input [comments]="comments" [sizeX]="3" [sizeY]="8"></app-audit-log-input>
        </div>
        <div class="form-group row">
          <label class="col-md-3 form-control-label">
            <label translate>inventory.label.controllers</label>
          </label>
          <div class="col-md-8">
            <nz-select
              [(ngModel)]="selectedSchedulerIds"
              name="schedulerIds"
              nzMode="multiple"
              nzShowSearch>
              <ng-container *ngFor="let id of schedulerIds.controllerIds">
                <nz-option [nzLabel]="id" [nzValue]="id"></nz-option>
              </ng-container>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="step === 2" [disabled]="!myForm.form.valid || submitted" class="btn btn-primary btn-sm" translate
            type="submit">
      <i *ngIf="submitted" class="fa fa-spin fa-spinner p-r-xs"></i>
      {{'common.button.submit' | translate}}
    </button>
    <button (click)="deploy()" *ngIf="step === 4" [disabled]="!myForm.form.valid || submitted || (required && !comments.comment)"
            class="btn btn-primary btn-sm" translate
            type="button">
      <i *ngIf="submitted" class="fa fa-spin fa-spinner p-r-xs"></i>
      {{'inventory.button.deploy' | translate}}
    </button>
    <button (click)="step = 1" *ngIf="step == 2 && !data.onlyUpdate" class="btn btn-secondary btn-sm" translate
            type="button">
      common.button.back
    </button>
    <button (click)="activeModal.close('Close')" *ngIf="step === 3" class="btn btn-grey btn-sm" translate type="button">
      common.button.close
    </button>
    <button (click)="activeModal.destroy()" *ngIf="step !== 3" [disabled]="submitted" class="btn btn-grey btn-sm"
            translate type="button">
      common.button.cancel
    </button>
  </div>
</form>
