
.btn {
  border: 1px solid var(--border-color);
}

.btn .primary {
  border-color: var(--primary) !important;
}

.select-box {
  min-width: 196px;
}

.overview {
  max-height: calc(100vh - 636px);
  overflow: auto;
  min-height: 200px;
}
