.timeline {
  display: inline-block;
  min-width: 100%;
  .ant-picker-input {
    top: 1px;
    cursor: pointer;
    opacity: 0;
  }
}

.timeline .timeline-header {
  display: inline-block;
  margin-right: 16px;

  .ant-picker {
    width: 0;
    height: 0;
    padding-left: 0 !important;
    right: 8px;
    border: none;
    cursor: pointer;
  }

  .no-cursor {
    cursor: default;
  }
}

.btn {
  border: 1px solid var(--border-color);
}

.btn .primary {
  border-color: var(--primary) !important;
}

.select-box {
  min-width: 196px;
}

.overview {
  max-height: calc(100vh - 636px);
  overflow: auto;
  min-height: 200px;
}
