<div class="row m-t-n-xxs">
  <div class="col-lg-offset-6 col-lg-6 col-md-offset-0 col-md-12">
    <div class="timeline m-b-12 monitor-tool">
      <div class="inline btn-group pull-right">
        <div (click)="setView('Week')"
             [class.primary]="filters.filter.view === 'Week'"
             class="btn btn-default btn-sm" translate>
          monitor.button.week
        </div>
        <div (click)="setView('Month')"
             [class.primary]="filters.filter.view === 'Month'"
             class="btn btn-default btn-sm" translate>
          monitor.button.month
        </div>
        <div (click)="setView('Custom')"
             [class.primary]="filters.filter.view === 'Custom'"
             class="btn btn-default btn-sm" translate>
          monitor.button.custom
        </div>
      </div>
      <nz-range-picker *ngIf="filters.filter.view === 'Custom'" [(ngModel)]="filters.filter.dateRange"
                       [nzAllowClear]="false" [nzDisabledDate]="disabledDate" (ngModelChange)="onChangeDate()"
                       class="pull-right m-r-12"></nz-range-picker>
      <div *ngIf="filters.filter.view !== 'Custom'" class="timeline-header pull-right inline m-l-12">
        <div class="btn-group">
          <div (click)="prev()" class="btn btn-default btn-sm">
            <i class="fa fa-angle-left text-md"></i>
          </div>
          <div class="btn btn-default btn-sm no-cursor">
            <nz-week-picker *ngIf="filters.filter.view === 'Week'"
                            [nzFormat]="dateFormat"
                            [(ngModel)]="filters.filter.endDate" [nzAllowClear]="false"
                            [nzDisabledDate]="disabledDate" (ngModelChange)="onChange($event )" ></nz-week-picker>
            <nz-month-picker *ngIf="filters.filter.view === 'Month'"
                             [(ngModel)]="filters.filter.endDate" [nzAllowClear]="false"
                             [nzDisabledDate]="disabledDate" (ngModelChange)="onChange($event)" ></nz-month-picker>
            {{filters.filter.startDate | date : dateFormat }} - {{filters.filter.endDate | date : dateFormat}}
          </div>
          <div (click)="next()" class="btn btn-default btn-sm">
            <i class="fa fa-angle-right text-md"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3">
    <div class="box">
      <div class="box-header b-b">
        <h3>
          <span translate>monitor.label.runningTime</span>
        </h3>
      </div>
      <div class="box-body p-a ht-292 text-overflow">
        <div class="row">
          <div *ngFor="let item of runningTime" [ngClass]="{'col-md-12' : runningTime.length === 1}"
               class="col-sm-12 col-md-6 text-center">
            <div class="text-dark _600 m-t">{{item.agentId}}</div>
            <div class="flex-center">
              <app-gauge
                [animated]="true"
                [animationDuration]="1"
                [color]="getColor"
                [dialEndAngle]="-90.001"
                [dialStartAngle]="-90"
                [label]="getValue"
                [value]="item.value"
              >
              </app-gauge>
            </div>
            <i class="text-muted pos-rel t-n-12">{{'common.label.total' | translate}} <i [translateParams]="{count: item.hours}"
                                                                                         translate>monitor.label.totalDays</i></i>
          </div>
          <div *ngIf="!isLoaded" class="col-md-12 text-center">
            <div class="loading-center text-primary text ht-260">
              <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
            </div>
          </div>
          <div *ngIf="isLoaded && runningTime.length ===0" class="col-md-12 vert-middle">
            <div class="p-t-96">
              <app-empty-data></app-empty-data>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-xl-9">
    <div class="box">
      <div class="box-header b-b">
        <h3>
          <span translate>monitor.label.statistics</span>
        </h3>
      </div>
      <div #chartArea [hidden]="!isLoaded || statisticsData.length ===0" class="box-body p-a scroll-class">
        <div class="ht-260">
          <ngx-charts-bar-vertical-2d
            [customColors]="customColors"
            [gradient]="true"
            [groupPadding]="groupPadding"
            [noBarWhenZero]="false"
            [results]="statisticsData"
            [showYAxisLabel]="true"
            [trimXAxisTicks]="false"
            [view]="view"
            [xAxis]="true"
            [yAxisLabel]="yAxisLabel"
            [yAxis]="true">
            <ng-template #tooltipTemplate let-model="model">
              <div class="p-a-sm text-center">
                <h6>{{model.name}}</h6>
                <div class="text-md"><i>{{model.value1}}</i></div>
              </div>
            </ng-template>
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
      <div *ngIf="!isLoaded" class="loading-center text-primary text ht-291">
        <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
      </div>
      <div *ngIf="isLoaded && statisticsData.length ===0" class="vert-middle ht-291">
        <div>
          <app-empty-data></app-empty-data>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box">
      <div class="box-header b-b">
        <h3 translate>monitor.label.overview</h3>
      </div>
      <div class="box-tool t-9">
        <div class="inline">
          <label class="m-r pos-rel">{{'monitor.button.groupBy' | translate}}:</label>
        </div>
        <div class="inline">
          <div class="pos-rel">
            <nz-select [(ngModel)]="filters.filter.groupBy" class="select-box" (ngModelChange)="groupBy()" >
              <nz-option [nzLabel]="'Controller ID'" [nzValue]="'CONTROLLERID'"></nz-option>
              <nz-option [nzLabel]="'Date'" [nzValue]="'DATE'"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="box-body overview">
        <div [hidden]="!isLoaded && agents.length === 0" class="row overflow-y">
          <div class="col-md-12">
            <app-gantt-chart
              [dayEnd]="'23:00'"
              [dayStart]="'00:00'"
              [groupBy]="filters.filter.groupBy"
              [isAgent]="true"
              [tasks]="agents"
            ></app-gantt-chart>
          </div>
        </div>
        <div *ngIf="!isLoaded && agents.length === 0" class="loading-center text-primary text min-ht-150">
          <div><i class="fa fa-refresh fa-lg fa-spin"></i></div>
        </div>
        <div *ngIf="agents.length==0 && isLoaded" class="p-t-lg">
          <div>
            <app-empty-data></app-empty-data>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
