<div class="white box-shadow sub-header">
  <div class="row">
    <div class="col-md-12">
      <div class="padding">
        <div class="text-right ">
          <div class="pull-left">
            <app-breadcrumbs></app-breadcrumbs>
          </div>
          <div class="inline">
            <button (click)="addAgent()" class="btn btn-grey btn-sm">
              <i class="fa fa-plus"></i>&nbsp;
              <span translate>agent.button.addAgent</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="padding p-b-0">
  <div class="row m-b-sm m-t-xs">
    <div class="col-lg-12">
      <div class="search-box-field pull-right">
        <label>
          <input type="search" placeholder="{{'common.placeholder.search' | translate}}"
                 [(ngModel)]="searchKey">
        </label>
        <i [hidden]="!searchKey" class="fa fa-times search-close"
           (click)="searchKey = '';"></i>
      </div>
    </div>
  </div>
  <div class="row m-t-xs">
    <div class="col-md-12">
      <div class="box p-a">
        <div class="table-responsive">
          <nz-table
            #ajaxTable
            [nzSize]="'small'"
            [nzPageSize]="preferences.entryPerPage"
            [nzPageIndex]="filter.currentPage"
            [nzBordered]="true"
            [nzShowPagination]="(agents | filter: searchKey).length > 0"
            [nzData]="(agents | filter: searchKey)"
            [nzLoading]="loading"
            [nzShowSizeChanger]="true"
            [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
          >
            <thead>
            <tr>
              <th class="menu"><span translate>common.label.action</span></th>
              <th (click)="sort('agentId')">
                <a><span class="p-r-xs" translate>agent.label.agentId</span>
                  <i *ngIf="filter.sortBy == 'agentId' && !filter.reverse"
                     class="fa fa-caret-up "></i>
                  <i *ngIf="filter.sortBy == 'agentId' && filter.reverse"
                     class="fa fa-caret-down "></i></a>
              </th>
              <th (click)="sort('agentName')">
                <a><span class="p-r-xs" translate>agent.label.agentName</span>
                  <i *ngIf="filter.sortBy == 'agentName' && !filter.reverse"
                     class="fa fa-caret-up "></i>
                  <i *ngIf="filter.sortBy == 'agentName' && filter.reverse"
                     class="fa fa-caret-down "></i></a>
              </th>
              <th (click)="sort('url')">
                <a><span class="p-r-xs" translate>agent.label.url</span>
                  <i *ngIf="filter.sortBy == 'url' && !filter.reverse"
                     class="fa fa-caret-up "></i>
                  <i *ngIf="filter.sortBy == 'url' && filter.reverse"
                     class="fa fa-caret-down "></i></a>
              </th>
              <th (click)="sort('isClusterWatcher')">
                <a><span class="p-r-xs" translate>agent.label.clusterWatcher</span>
                  <i *ngIf="filter.sortBy == 'isClusterWatcher' && !filter.reverse"
                     class="fa fa-caret-up "></i>
                  <i *ngIf="filter.sortBy == 'isClusterWatcher' && filter.reverse"
                     class="fa fa-caret-down "></i></a>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of ajaxTable.data | orderBy: filter.sortBy:filter.reverse:false;"
            [ngClass]="{'disabled-row': agent.disabled}">
              <td class="menu">
                <div class="btn-group dropdown pull-left m-r-sm">
                  <button type="button" class="btn-drop more-option-h" nz-dropdown nzTrigger="click" [nzDropdownMenu]="option"><i class="fa fa-ellipsis-h"></i></button>
                  <nz-dropdown-menu #option="nzDropdownMenu" role="menu">
                    <ul nz-menu >
                      <li nz-menu-item >
                        <a (click)="editAgent(agent)" translate>common.button.edit</a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </td>
              <td><span [innerHtml]="agent.agentId | highlight : searchKey"></span></td>
              <td><span [innerHtml]="agent.agentName | highlight : searchKey"></span></td>
              <td><span [innerHtml]="agent.url | highlight : searchKey"></span></td>
              <td>{{agent.isClusterWatcher ? 'Yes' : 'No'}}</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="w-half label-top" *ngIf="ajaxTable.data.length >0">
          <span translate>common.label.total</span> <span> {{(agents | filter: searchKey).length}} </span>
          <span translate *ngIf="ajaxTable.data.length >1">agent.label.agentsFound</span>
          <span translate *ngIf="ajaxTable.data.length ===1">agent.label.agentFound</span>
        </div>
      </div>
    </div>
  </div>
</div>
