<div *ngFor="let instruction of configuration.instructions">
  <ul style="margin-bottom: 0">
    <li>
      <a
        *ngIf="instruction.TYPE === 'Fork' || instruction.TYPE === 'If' || instruction.TYPE === 'Try' || instruction.TYPE === 'Retry'"
        (click)="collapse(instruction)">
        <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : instruction.show}"></i>
        <i class="_600">{{instruction.TYPE}}</i>
      </a>
      <div *ngIf="instruction.TYPE === 'Job' || instruction.TYPE === 'Fail' || instruction.TYPE === 'Finish' || instruction.TYPE === 'Publish' || instruction.TYPE === 'Await'">{{instruction.jobName || instruction.TYPE}}</div>
      <div *ngIf="instruction.TYPE === 'Fork' && instruction.show">
        <div *ngFor="let branch of instruction.branches">
          <div class="p-l-md">
            <a class="m-l" (click)="collapse(branch)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : branch.show}"></i>
              <i class="_600">{{branch.id}}</i>
            </a>
            <div class="p-l" *ngIf="branch.instructions && branch.show">
              <app-type [configuration]="branch"></app-type>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'If' && instruction.show">
        <div *ngIf="instruction.then">
          <app-type [configuration]="instruction.then" *ngIf="instruction.then.instructions"></app-type>
          <div class="p-l-md">
            <a class="m-l" *ngIf="instruction.else" (click)="collapse(instruction.else)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : instruction.else.show}"></i>
              <i class="_600">Else</i>
            </a>
            <div class="p-l" *ngIf="instruction.else && instruction.else.show">
              <app-type [configuration]="instruction.else" *ngIf="instruction.else.instructions"></app-type>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Try' && instruction.show">
          <app-type [configuration]="instruction" *ngIf="instruction.instructions"></app-type>
          <div class="p-l-md">
            <a class="m-l" *ngIf="instruction.catch" (click)="collapse(instruction.catch)">
              <i class="fa fa-plus pr-2" [ngClass]="{'fa-minus' : instruction.catch.show}"></i>
              <i class="_600">Catch</i>
            </a>
            <div class="m-l" *ngIf="instruction.catch && instruction.catch.show">
              <app-type [configuration]="instruction.catch"
                        *ngIf="instruction.catch && instruction.catch.instructions"></app-type>
            </div>
          </div>
      </div>
      <div *ngIf="instruction.TYPE === 'Retry'  && instruction.show">
        <div>
          <app-type [configuration]="instruction" *ngIf="instruction.instructions"></app-type>
        </div>
      </div>
    </li>
  </ul>
</div>
