<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="show-inline">
                        <span class="upper-check">
                            <label class="md-check">
                                <input type="checkbox" ng-model="adtLog.current" ng-change="changeJobScheduler()">
                                <i class="primary"></i><span translate>label.currentJobscheduler</span>
                            </label>
                        </span>
                    </div>
                    <div class="btn-group m-l-sm hidden-btn-group">
                        <button ng-disabled="savedAuditLogFilter.selected" class="btn btn-grey btn-sm" ng-model="adtLog.filter.date" uib-btn-radio="'all'" ng-click="load()"
                                ng-class="{'btn-primary': adtLog.filter.date=='all'}" translate>button.all
                        </button>
                        <button ng-disabled="savedAuditLogFilter.selected" class="btn btn-grey btn-sm" ng-model="adtLog.filter.date" uib-btn-radio="'today'" ng-click="load()"
                                ng-class="{'btn-primary': adtLog.filter.date=='today'}" translate>button.today
                        </button>
                        <button ng-disabled="savedAuditLogFilter.selected" class="btn btn-grey btn-sm" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-1h'"
                                ng-class="{'btn-primary': adtLog.filter.date=='-1h'}" translate>button.last1
                        </button>
                        <button ng-disabled="savedAuditLogFilter.selected" class="btn btn-grey btn-sm" ng-model="adtLog.filter.date" uib-btn-radio="'-12h'" ng-click="load()"
                                ng-class="{'btn-primary': adtLog.filter.date=='-12h'}" translate>button.last12
                        </button>
                        <button ng-disabled="savedAuditLogFilter.selected" class="btn btn-grey btn-sm" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-24h'"
                                ng-class="{'btn-primary': adtLog.filter.date=='-24h'}" translate>button.last24
                        </button>
                        <button ng-disabled="savedAuditLogFilter.selected" class="btn btn-grey btn-sm" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-7d'"
                                ng-class="{'btn-primary': adtLog.filter.date=='-7d'}" translate>button.lastWeak
                        </button>
                    </div>
                    <div class="btn-group dropdown hidden-dropdown">
                        <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.anyDate</button>
                        <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                            <a class="dropdown-item" ng-model="adtLog.filter.date" uib-btn-radio="'all'" ng-click="load()"
                               ng-class="{'btn-primary': adtLog.filter.date=='all', 'disable-link':savedAuditLogFilter.selected}" translate>button.all
                            </a>
                            <a class="dropdown-item" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'today'"
                               ng-class="{'btn-primary': adtLog.filter.date=='today'}" translate>button.today
                            </a>
                            <a class="dropdown-item" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-1h'"
                               ng-class="{'btn-primary': adtLog.filter.date=='-1h'}" translate>button.last1
                            </a>
                            <a class="dropdown-item" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-12h'"
                               ng-class="{'btn-primary': adtLog.filter.date=='-12h'}" translate>button.last12
                            </a>
                            <a class="dropdown-item" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-24h'"
                               ng-class="{'btn-primary': adtLog.filter.date=='-24h'}" translate>button.last24
                            </a>
                            <a class="dropdown-item" ng-model="adtLog.filter.date" ng-click="load()" uib-btn-radio="'-7d'"
                               ng-class="{'btn-primary': adtLog.filter.date=='-7d'}" translate>button.lastWeak
                            </a>
                        </div>
                    </div>
                    <div class="btn-group dropdown m-l-sm">
                        <button class="btn btn-grey btn-sm dropdown-toggle" ng-class="{'btn-primary': selectedFiltered.name}" uib-tooltip="{{selectedFiltered.account}}" data-toggle="dropdown">{{'label.filters' | translate}} <span ng-bind="selectedFiltered.name"></span></button>
                        <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                            <a class="dropdown-item" href ng-click="createFilter()" translate>label.createFilter</a>
                            <a class="dropdown-item" href ng-click="editFilters()" ng-if="auditLogFilterList.length>0" translate>label.editExistingFilters</a>
                            <div class="dropdown-divider" ng-if="auditLogFilterList.length>0"></div>
                            <a class="dropdown-item" ng-class="{orange: (savedAuditLogFilter.selected == filter.id)}" ng-click="changeFilter(filter)" ng-repeat="filter in auditLogFilterList | orderBy: 'name'">
                                <span uib-tooltip="{{filter.account}}">{{filter.name}}</span>
                                <i ng-click="changeFilter();$event.stopPropagation();" ng-if="savedAuditLogFilter.selected == filter.id" class="fa fa-times-circle-o remove" uib-tooltip="{{'tooltip.deactivateCustomization' | translate}}" tooltip-placement="right"></i>
                            </a>
                        </div>
                    </div>
<!--                    <div class="btn-group dropdown m-l-sm">
                        <button class="btn btn-grey btn-sm dropdown-toggle" ng-class="{'btn-primary': savedIgnoreList.isEnable}" data-toggle="dropdown">{{'label.ignoreList' | translate}} <span ng-if="savedIgnoreList.isEnable" ng-bind="'label.active' | translate"></span></button>
                        <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                            <a class="dropdown-item" ng-if="savedIgnoreList.auditLog.length > 0" href
                               ng-click="editIgnoreList()" translate>button.editIgnoreList</a>
                            <a class="dropdown-item" href ng-click="enableDisableIgnoreList()"
                               ng-if="!savedIgnoreList.isEnable" translate>button.enableIgnoreList</a>
                            <a class="dropdown-item" href ng-click="enableDisableIgnoreList()"
                               ng-if="savedIgnoreList.isEnable" translate>button.disableIgnoreList</a>
                            <a class="dropdown-item" href ng-click="resetIgnoreList()"
                               translate>button.resetIgnoreList</a>
                        </div>
                    </div>-->
                    <button class="btn btn-grey btn-sm m-l-sm" uib-tooltip="{{'tooltip.exportInXLS' | translate}}" id="exportToExcelBtn" ng-click="exportToExcel()" tooltip-placement="left"><i>.</i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0" >
        <div class="row m-b m-t-xs">
            <div class="col-md-6 col-sm-4 m-t-xs">
                <span class="text" ng-bind="'label.auditLog' | translate"></span>
            </div>
            <div class="col-md-6 col-sm-8">
                <button class="btn btn-sm inline pull-right m-l btn-default" ng-click="advancedSearch()" ng-show="!showSearchPanel">
                    <span translate>button.advancedSearch</span> <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <button class="btn btn-sm inline pull-right m-l btn-grey" ng-click="cancel()" ng-if="showSearchPanel">
                    <span translate>button.advancedSearch</span> <i class="fa fa-angle-down p-l-xs"></i>
                </button>
                <input type="search" class="pull-right" placeholder="{{'placeholder.search' | translate}}" ng-model="filterString" style="width: 180px">
            </div>
        </div>
        <div class="row m-b" ng-if="showSearchPanel">
            <div class="col-md-12">
                <div class="box p-a m-b-xs">
                    <form name="form" role="form" ng-submit="saveAsFilter(form)" novalidate>
                        <div class="form-group row" ng-class="{ 'has-error' : form.filterName.$invalid && form.filterName.$dirty }">
                            <label class="col-sm-2 form-control-label" translate>label.filterName</label>
                            <div class=" col-sm-6">
                                <input uib-tooltip="Max: 25 characters" tooltip-trigger="focus" type="text" required
                                       class="form-control" placeholder="{{'placeholder.name' | translate}}" name="filterName"
                                       ng-maxlength="25" ng-model="auditSearch.name" ng-blur="checkFilterName()">
                                <div class="help-block text-danger" ng-if="form.filterName.$dirty"
                                     ng-messages="form.filterName.$error">
                                    <div ng-message="required" translate>message.requiredError</div>
                                    <div ng-message="maxlength" translate>message.tooLongError</div>
                                </div>
                                <div class="help-block text-danger" ng-if="!isUnique">
                                    <div translate>message.uniqueError</div>
                                </div>
                            </div>
                        </div>
                        <div class="m-b-sm row">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.dateRange</label>
                            <div class="col-md-6">
                                <label class="md-check w-sm">
                                    <input type="radio" name="radio" ng-model="auditSearch.date" value="date">
                                    <i class="primary"></i> <span translate>label.specificDate</span>
                                </label>
                                <label class="md-check">
                                    <input type="radio" name="radio" ng-model="auditSearch.date" value="process">
                                    <i class="primary"></i> <span translate>label.manualDate</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row"  ng-if="auditSearch.date == 'process'">
                            <label class="col-md-2 col-sm-4 form-control-label" translate>label.processExecuted</label>
                            <div class="col-sm-6" ng-class="{ 'has-error' : form.planned.$invalid && form.planned.$dirty }">
                                <input valid-history-filter-regex type="text" name="planned" class="form-control"
                                       placeholder="{{'placeholder.processExecuted' | translate}}" ng-model="auditSearch.planned">
                                <div class="help-block text-danger" ng-messages="form.planned.$error">
                                    <div ng-message="invalid" translate>message.invalid</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row " ng-if="auditSearch.date == 'date'">
                            <label class="col-sm-2 form-control-label" translate>label.from</label>
                            <div class="col-sm-6">
                                <input class="form-control input-date" style="width: 225px;background-position: 200px" ng-model="auditSearch.from"
                                       data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setStartDate' | translate}} ({{dataFormat | uppercase}})" data-max-date="{{currentTime}}"
                                       bs-datepicker type="text">
                                <input valid-time maxlength="8" ng-disabled="!auditSearch.from" class="form-control input-time m-l" ng-model="auditSearch.fromTime"
                                       placeholder="{{'placeholder.startTime' | translate}} (HH:MM:SS)" type="text" style="width: 175px;background-position: 150px">
                            </div>
                        </div>
                        <div class="form-group row" ng-if="auditSearch.date == 'date'">
                            <label class="col-sm-2 form-control-label" translate>label.to</label>
                            <div class="col-sm-6">
                                <input class="form-control input-date" style="width: 225px;background-position: 200px"
                                       ng-model="auditSearch.to" data-date-format="{{dataFormat}}" data-autoclose="1" placeholder="{{'placeholder.setEndDate' | translate}} ({{dataFormat | uppercase}})" data-min-date="{{auditSearch.from}}" data-max-date="{{currentTime}}"
                                       bs-datepicker type="text">
                                <input valid-time maxlength="8" ng-disabled="!auditSearch.to" class="form-control input-time m-l" ng-model="auditSearch.toTime"
                                       placeholder="{{'placeholder.endTime' | translate}} (HH:MM:SS)" type="text" style="width: 175px;background-position: 150px">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" translate>label.comment</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="{{'placeholder.enterComment' | translate}}" ng-model="auditSearch.regex">
                            </div>
                        </div>
                        <div class="form-group row" >
                           <label class="col-md-2 col-sm-4 form-control-label" translate>label.jobSchedulerId</label>
                           <div class=" col-sm-6">
                               <select class="form-control" ng-model="auditSearch.jobschedulerId">
                                   <option value="" translate="">label.selectJobScheduler</option>
                                   <option ng-repeat="jobScheduler in schedulerIds.jobschedulerIds">{{jobScheduler}}</option>
                               </select>
                           </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" translate>label.jobChain</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="{{'placeholder.enterJobChainPath' | translate}}" ng-model="auditSearch.jobChain">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" translate>label.orderIds</label>
                            <div class="col-sm-6">
                                 <input type="text" class="form-control" placeholder="{{'placeholder.enterOrderIds' | translate}}" ng-model="auditSearch.orderIds">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" translate>label.job</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="{{'placeholder.enterJobs' | translate}}" ng-model="auditSearch.job">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" translate>label.calendar</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="{{'placeholder.enterCalendars' | translate}}" ng-model="auditSearch.calendars">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" translate>label.account</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="{{'placeholder.enterAccount' | translate}}" ng-model="auditSearch.account">
                            </div>
                        </div>
                        <div class="form-group m-t m-b-xs">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="search();" translate>button.search</button>
                            <button type="submit" class="btn orange btn-sm m-l-sm"
                                    ng-disabled="form.$invalid || !auditSearch.name" translate>button.saveAsFilter
                            </button>
                            <button type="button" class="btn btn-grey btn-sm m-l-sm" ng-click="cancel()" translate>button.cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="hide"  ng-class="{'show': isLoading}">
            <div class="m-t-sm box p-a">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered " id="auditLogTableId" >
                        <thead>
                            <tr>
                                <th ng-if="!adtLog.current" ng-click="sortBy('jobschedulerId')"><a><span translate>label.jobSchedulerId</span>
                                    <i ng-show="adtLog.filter.sortBy == 'jobschedulerId' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'jobschedulerId' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('created')"><a><span translate>label.created</span>
                                    <i ng-show="adtLog.filter.sortBy == 'created' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'created' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('account')"><a><span translate>label.account</span>
                                    <i ng-show="adtLog.filter.sortBy == 'account' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'account' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('request')"><a><span translate>label.request</span>
                                    <i ng-show="adtLog.filter.sortBy == 'request' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'request' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('jobChain')"><a><span translate>label.jobChain</span>
                                    <i ng-show="adtLog.filter.sortBy == 'jobChain' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'jobChain' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('orderId')">
                                <a><span translate>label.orderId</span>
                                    <i ng-show="adtLog.filter.sortBy == 'orderId' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'orderId' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('job')"><a><span translate>label.job</span>
                                    <i ng-show="adtLog.filter.sortBy == 'job' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'job' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('calendar')"><a><span translate>label.calendar</span>
                                    <i ng-show="adtLog.filter.sortBy == 'calendar' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'calendar' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('comment')"><a><span translate>label.comment</span>
                                    <i ng-show="adtLog.filter.sortBy == 'comment' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'comment' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('timeSpent')"><a><span translate>label.timeSpend</span>
                                    <i ng-show="adtLog.filter.sortBy == 'timeSpent' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'timeSpent' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                                <th ng-click="sortBy('ticketLink')"><a><span translate>label.ticketLink</span>
                                    <i ng-show="adtLog.filter.sortBy == 'ticketLink' && !adtLog.sortReverse"
                                       class="fa fa-caret-up "></i>
                                    <i ng-show="adtLog.filter.sortBy == 'ticketLink' && adtLog.sortReverse"
                                       class="fa fa-caret-down "></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="auditLog in filtered = (auditLogs | filter: filterString:strict)  | orderBy:adtLog.filter.sortBy:adtLog.sortReverse | startFrom:(adtLog.currentPage - 1) * userPreferences.entryPerPage | limitTo: userPreferences.entryPerPage">
                        <tr>
                            <td ng-if="!adtLog.current">
                                <span class="show-in-single-line">
                                <i class="cursor fa fa-caret-down fa-lg tableexport-ignore" ng-if="!auditLog.show"
                                   ng-click="auditLog.show =true"></i>
                                <i class="cursor fa fa-caret-up fa-lg tableexport-ignore" ng-if="auditLog.show"
                                   ng-click="auditLog.show = false"></i>
                                <span ng-bind="auditLog.jobschedulerId"></span>
                                <span ng-if="!auditLog.jobschedulerId" ng-bind="auditSearch.jobschedulerId"></span>
                                </span>
                            </td>
                            <td nowrap>
                                <i class="cursor fa fa-caret-down fa-lg tableexport-ignore"
                                   ng-if="!auditLog.show && adtLog.current" ng-click="auditLog.show =true"></i>
                                <i class="cursor fa fa-caret-up fa-lg tableexport-ignore"
                                   ng-if="auditLog.show && adtLog.current" ng-click="auditLog.show = false"></i>
                                <span ng-bind="auditLog.created | stringToDate"></span>
                            </td>
                            <td><span ng-bind-html="auditLog.account | highlight:filterString"></span></td>
                            <td><span ng-bind-html="auditLog.request | highlight:filterString"></span></td>
                            <td><span ng-click="showJobChain(auditLog.jobChain, auditLog.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == auditLog.jobschedulerId) || !auditLog.jobschedulerId) }" ng-if="auditLog.jobChain" ng-bind-html="auditLog.jobChain | highlight:filterString"></span></td>
                            <td><span ng-click="showOrderLink(auditLog.jobChain, auditLog.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == auditLog.jobschedulerId) || !auditLog.jobschedulerId) }" ng-if="auditLog.orderId" ng-bind-html="auditLog.orderId | highlight:filterString"></span></td>
                            <td><span ng-click="showJob(auditLog.job, auditLog.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == auditLog.jobschedulerId) || !auditLog.jobschedulerId) }" ng-if="auditLog.job" ng-bind-html="auditLog.job | highlight:filterString"></span></td>
                            <td><span ng-click="showCalendarLink(auditLog.calendar, auditLog.jobschedulerId);" ng-class="{'text-hover-primary': ((schedulerIds.selected == auditLog.jobschedulerId) || !auditLog.jobschedulerId) }" ng-if="auditLog.calendar" ng-bind-html="auditLog.calendar | highlight:filterString"></span></td>
                            <td><span ng-if="auditLog.comment" ng-bind-html="auditLog.comment | highlight:filterString"></span></td>
                            <td>
                                <span ng-if="auditLog.timeSpent">
                                    <span ng-bind="auditLog.timeSpent"></span>
                                    <span>m</span>
                                </span>
                            </td>
                            <td><a href="{{auditLog.ticketLink}}" target="_blank" class="text-hover-primary" ng-bind="auditLog.ticketLink"></a></td>
                        </tr>
                        <tr class="tableexport-ignore" ng-if="auditLog.show">
                            <td colspan="10">
                                <table class="table m-a-0">
                                    <thead>
                                    <tr class="tableexport-ignore">
                                        <th translate>label.parameters</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tableexport-ignore">
                                        <td><span ng-bind="auditLog.parameters"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="inline text-sm m-l-xs m-b-sm" ng-class="{'m-t-xs m-l-sm': filtered.length > 10}" ng-if="filtered.length >0"><span translate>label.total</span> {{filtered.length}}
                        <span translate ng-if="filtered.length >1">label.auditLogsFound</span>
                        <span translate ng-if="filtered.length ==1">label.auditLogFound</span>
                    </div>
                    <ul ng-show="filtered.length > userPreferences.entryPerPage" uib-pagination total-items="filtered.length" ng-model="adtLog.currentPage" items-per-page='userPreferences.entryPerPage' class="pagination-sm text-sm m-t-0 pull-right" max-size="5" boundary-link-numbers="true" rotate="false" previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                    <div class="pull-left" ng-show="filtered.length > 10">
                            <div class="btn-group m-r-xxs">
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'10'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='10'}" >10
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'25'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='25'}" >25
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'50'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='50'}" >50
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="'100'"
                                        ng-class="{'primary': userPreferences.entryPerPage=='100'}">100
                                </button>
                                <button class="btn btn-default white btn-sm" ng-model="userPreferences.entryPerPage" uib-btn-radio="{{maxEntryPerPage}}"
                                        ng-class="{'primary': userPreferences.entryPerPage==maxEntryPerPage}">{{maxEntryPerPage}}
                                </button>
                            </div>
                    </div>
                    <div ng-if="isLoading && auditLogs.length==0" class="text-center m-t-md h6 text-uppercase" translate>message.noAuditLogFound</div>
                    <div class="text-center m-t text-uppercase hide text-orange" ng-class="{'show': (filtered.length===0 && auditLogs.length !==0)}" translate>message.noDataMatched</div>
                </div>
            </div>
        </div>
        <div  ng-if="!isLoading" class="text-center m-t-lg" >
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
</div>
<div ng-if="loading" class="loading-img1"></div>

<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-a" style="min-height: 400px;max-height: 550px; overflow: auto">
                <div class="b-b p-b-sm m-b-sm">
                    <span ng-if="auditLogFilters.type == 'jobChain'" translate>message.selectFoldersOrJobChains/Orders</span>
                    <span ng-if="auditLogFilters.type != 'jobChain'" translate>message.selectFoldersOrJobs</span>
                </div>
                <div>
                    <a class="text" ng-click="filter_tree.expand_all();" uib-tooltip="{{'tooltip.expandAll' | translate}}">
                        <i class="fa fa-angle-double-down fa-lg"></i>
                    </a>
                    <a class="text m-l-xs" ng-click="filter_tree.collapse_all();" uib-tooltip="{{'tooltip.collapseAll' | translate}}">
                       <i class="fa fa-angle-double-up fa-lg"></i>
                    </a>
                    <tree
                            tree-data="tree"
                            tree-control="filter_tree"
                            object="object"
                            icon-leaf     = "fa fa-folder"
                            icon-expand   = "fa fa-folder"
                            icon-collapse = "fa fa-folder-open"
                            expand-on="expanding_property"
                            on-select="treeHandler1(branch)"
                            on-click="treeHandler(branch)"
                            template-url="modules/core/template/tree-filter-structure.html">
                    </tree>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-primary btn-sm pull-left" ng-click="addJobChainPaths()" data-dismiss="modal" translate>button.done</button>
                <button type="button" class="btn btn-grey btn-sm pull-left" data-dismiss="modal" translate>button.cancel</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="loading || !isLoading || isLoaded || reloadState == 'yes'">
    <div class="bottom-btn" ng-click="reload()">
        <i ng-if="reloadState == 'no'" class="fa fa-times"></i>
        <i ng-if="reloadState == 'yes'" class="fa fa-refresh"></i>
    </div>
</div>
