
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue" id="cmpdetails" style="">
			<div class="portlet-title">
			<div class="caption" translate>
				Change Password
			</div>
			<div class="tools">
				<a href="javascript:;" class="collapse" data-original-title="" title=""></a>
			</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form class="form-horizontal" name="chngPassword" ng-submit="changePassword()" method="post" novalidate>
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label" translate>Old Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" placeholder="Old Password" required="" autofocus="" minlength="8" maxlength="20">
							</div>
					    </div>
                                                    
                        <div class="form-group" ng-class="{'has-error':chngPassword.newPassword.$invalid && chngPassword.newPassword.$dirty && chngPassword.newPassword.$touched}">
							<label class="col-md-3 control-label" translate>New Password</label>
							<div class="col-md-6">
									<input type="password" class="form-control" name="newPassword" placeholder="New Password" ng-model="password"
                                           tooltip-placement="right" tooltip-trigger="focus"  tooltip-append-to-body="true"
                                           tooltip="{{'Password must contain: Minimum 8 characters and at least 1 UpperCase' | translate}}"
                                           required minlength="8" ng-pattern="/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z]).*$/">
                                <p ng-show="chngPassword.newPassword.$invalid && chngPassword.newPassword.$dirty && chngPassword.newPassword.$touched" class="help-block">
                                    <small translate>Enter password is not valid</small>
                                </p>
							</div>
						</div>
                        <div class="form-group" ng-class="{'haas-error':errMsg || (chngPassword.cnfPswd.$invalid && chngPassword.cnfPswd.$dirty && chngPassword.cnfPswd.$touched)}">
							<label class="col-md-3 control-label" translate>Retype New Password</label>
							<div class="col-md-6">
								<input type="password" class="form-control" placeholder="Confirm Password" ng-model="cnfPassword" name="cnfPswd" required ng-blur="checkEquality(password,cnfPassword)" ng-focus="errMsg=''">
                                <p ng-show="errMsg || (chngPassword.cnfPswd.$invalid && chngPassword.cnfPswd.$dirty && chngPassword.cnfPswd.$touched)" class="help-block">
                                    <small ng-bind="errMsg | translate"></small>

                                </p>
							</div>
						</div>
                    </div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12">
                                <div class="pull-right">
                                <a href="#!/" class="btn default" translate>Cancel</a>
								<button type="submit" class="btn blue" ng-disabled="!password || (chngPassword.newPassword.$invalid && chngPassword.newPassword.$dirty && chngPassword.newPassword.$touched) || !cnfPassword ||(errMsg.length>0)"
                                        translate>Change</button>
                                </div>
							</div>
						</div>
					</div>
				</form>
                <!-- END FORM-->
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT-->
