<div class="row">
    <div class="col-md-12">
        <span class="text-md text-primary" style="font-size: 18px"><a ui-sref="app.users.role">{{masterName}}</a> <i class="text-black-lt">></i> {{roleName}}</span>
    </div>
</div>
<div class="row m-t">
    <div class="col-md-12">
        <span class="text _600" ng-bind="'label.folder' | translate"></span>
        <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel2" ng-click="showPanel2=true"></i>
        <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel2" ng-click="showPanel2=false"></i>
    </div>
    <div class="col-sm-12 m-t-sm" ng-show="!showPanel2" >
        <div class="box p-a m-b-0">
            <div class="row ">
                <div class="col-md-12 role" ng-repeat="f in folderArr track by $index">
                    <span>
                        {{f.folder}}<span ng-if="f.recursive">/*</span>
                        <i ng-click="editFolder(f)" class="fa fa-pencil m-l-xs" uib-tooltip="{{'label.edit' | translate}}" ></i>
                        <i ng-click="deleteFolder(f)" class="fa fa-times m-l-xs" uib-tooltip="{{'label.delete' | translate}}" ></i>

                    </span>
                </div>
                <div class="col-md-12 text-center" ng-if="folderArr.length==0" >
                    <span translate="">message.noFolderFound</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-md">
    <div class="col-md-12">
        <span class="text _600" ng-bind="'label.permissions' | translate"></span>
        <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel1" ng-click="showPanel1=true"></i>
        <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel1" ng-click="showPanel1=false"></i>
    </div>
    <div class="col-sm-12 m-t-sm" ng-show="!showPanel1">
        <div class="box p-a ">
            <div class="row ">
<!--                <div class="col-md-6" ng-repeat="p in permissionArr track by $index">
                    <label class="md-check">
                        <input type="checkbox" ng-model="p.checked" ng-disabled="!editor.edit">
                        <i class="primary"></i><span class="m-l-xs" translate> {{p.permission}}</span>
                    </label>
                </div>-->
                <div class="col-md-12 role" ng-repeat="p in rolePermissions track by $index">
                    <span>
                        <span ng-if="p.excluded" class="_600">-</span>{{p.path}}
                        <i ng-click="deletePermission(p)" class="fa fa-times m-l-xs" uib-tooltip="{{'label.delete' | translate}}" ></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
