<div class="row">
    <div class="col-md-12">
        <div class="text-right ">
            <div class="text-md text-primary pull-left" style="font-size: 16px">
                <a ui-sref="app.users.master">{{masterName}}</a>
                <i class="text-black-lt m-l-sm m-r-sm">/</i>
                <span class="text-muted text-black-dk">{{roleName}}</span>
            </div>
            <button class="btn btn-sm orange hide" ng-click="undoPermission()" ng-class="{'show-block':previousPermission.length>0}">
                <span translate>button.undo</span>
            </button>
            <button class="btn btn-sm btn-primary hide m-l-sm" ng-click="resetPermission()" ng-class="{'show-block':isReset}">
                <span translate>button.reset</span>
            </button>
        </div>
    </div>
</div>

<div class="hide" ng-class="{'show': !loading}">
    <div>
        <div class="row m-t folder">
            <div class="col-md-12">
                <span class="text _600" ng-bind="'label.folder' | translate"></span>
                <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel2" ng-click="showPanel2=true"></i>
                <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel2" ng-click="showPanel2=false"></i>
            </div>
            <div class="col-sm-12 m-t-sm" ng-show="!showPanel2" >
                <div class="box p-a m-b-0">
                    <div class="row ">
                        <div class="col-md-12 role" ng-repeat="f in folderArr track by $index" ng-if="f.folder.indexOf('/*calendar') == -1">
                            <span>
                                {{f.folder}}<span ng-if="f.recursive && f.folder != '/'">/*</span><span ng-if="f.recursive && f.folder == '/'">*</span>
                                <i ng-click="editFolder(f)" class="fa fa-pencil m-l-xs" ></i>
                                <i ng-click="deleteFolder(f)" class="fa fa-times m-l-xs"></i>
                            </span>
                        </div>
                        <div class="col-md-12 text-center" ng-if="folderArr.length==0" >
                            <span translate="">message.noFolderFound</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t folder">
            <div class="col-md-12">
                <span class="text _600" ng-bind="'label.folderPermissionForCalendars' | translate"></span>
                <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel3" ng-click="showPanel3=true"></i>
                <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel3" ng-click="showPanel3=false"></i>
            </div>
            <div class="col-sm-12 m-t-sm" ng-show="!showPanel3" >
                <div class="box p-a m-b-0">
                    <div class="row ">
                        <div class="col-md-12 role" ng-repeat="f in folderArr track by $index" ng-if="f.folder.indexOf('/*calendar') == 0">
                            <span>
                                {{f.folder.substring(10)}}<span ng-if="f.recursive && f.folder != '/'">/*</span><span ng-if="f.recursive && f.folder == '/'">*</span>
                                <i ng-click="editFolder(f)" class="fa fa-pencil m-l-xs" ></i>
                                <i ng-click="deleteFolder(f)" class="fa fa-times m-l-xs"></i>
                            </span>
                        </div>
                        <div class="col-md-12 text-center" ng-if="folderArr.length==0" >
                            <span translate="">message.noFolderFound</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-md hide" ng-class="{'show':pageView =='list'}">
            <div class="col-md-12">
                <span class="text _600" ng-bind="'label.permissions' | translate"></span>
                <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel1" ng-click="showPanel1=true"></i>
                <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel1" ng-click="showPanel1=false"></i>
            </div>
            <div class="col-sm-12 m-t-sm" ng-show="!showPanel1">
                <div class="box p-a ">
                    <div class="row ">
                        <div class="col-md-12 role" ng-repeat="p in rolePermissions track by $index">
                            <span>
                                <span ng-if="p.excluded" class="_600">-</span>{{p.path}}
                                <i ng-click="editPermission(p)" class="fa fa-pencil m-l-xs"></i>
                                <i ng-click="deletePermission(p)" class="fa fa-times m-l-xs" ></i>
                            </span>
                        </div>
                        <div class="col-md-12 text-center" ng-if="rolePermissions.length==0" >
                            <span translate="">message.noPermissionFound</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="pageView !='list'">
        <div class="row col-md-12 m-t">
            <span class="text _600" ng-bind="'label.permissions' | translate"></span>
            <i class="cursor fa fa-caret-down m-l-xs" ng-hide="showPanel1" ng-click="showPanel1=true"></i>
            <i class="cursor fa fa-caret-up m-l-xs" ng-show="showPanel1" ng-click="showPanel1=false"></i>
        </div>
        <div class="box m-t-sm col-md-12"  ng-hide="showPanel1">
            <div>
                <button class="btn btn-sm btn-grey show-block m-t m-l-sm" ng-click="expandAll()">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                    <span translate>tooltip.expandAll</span>
                </button>
                <button class="btn btn-sm btn-grey show-block m-t m-l-sm" ng-click="collapseAll()">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                    <span translate>tooltip.collapseAll</span>
                </button>
                <button class="btn btn-sm btn-grey show-block m-t m-l-sm" ng-click="expandSelected()">
                    <i class="fa fa-angle-double-down fa-lg"></i>
                    <span translate>button.expandSelected</span>
                </button>
                <button class="btn btn-sm btn-grey show-block m-t m-l-sm" ng-click="collapseUnselected()">
                    <i class="fa fa-angle-double-up fa-lg"></i>
                    <span translate>button.collapseUnselected</span>
                </button>
            </div>
            <div id="mainTree" style="overflow: auto; margin-top: 12px"></div>
        </div>
    </div>
</div>
<div ng-if="loading" class="loading-img1"></div>
<div class="modal fade" id="editPermission" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="isCovered=false" aria-label="Close"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
                <h4 class="modal-title" >
                    <span translate>label.editPermission</span>
                </h4>
            </div>
            <form name="form" ng-submit="savePermission()" novalidate>
                <div class="modal-body p-a">
                    <div class="form-group row m-t">
                        <label class="col-sm-4 form-control-label" translate>label.permission</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="permission.path"
                                    style="border: none"
                                    ng-required ng-change="checkCovered()">
                                <option value="{{p}}" ng-repeat="p in permissionOptions track by $index" ng-disabled="p.indexOf('-----')!=-1">{{p}}</option>
                            </select>
                            <div class="input-dropdown">
                                <input class="form-control" name="permissionPath" required
                                       ng-model="permission.path" type="text" placeholder="{{'placeholder.enterOrSelectPermission' | translate}}" ng-change="checkCovered()">
                            </div>
                             <div class="help-block text-danger" ng-if="form.permissionPath.$touched && isCovered" style="margin-top: -25px">
                               <div translate>message.permissionIsAlreadyCovered</div>
                           </div>

                        </div>
                    </div>
                    <div class="form-group row" style="margin-top: -12px">
                        <label class="col-sm-4" translate>label.excluded</label>
                        <div class=" col-sm-6">
                            <label class="md-check">
                                <input type="checkbox" ng-model="permission.excluded" ng-change="checkCovered()">
                                <i class="primary"></i><span class="m-l-xs" translate> </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid || isCovered" translate>
                        button.submit
                    </button>
                    <button type="button" class="btn btn-grey btn-sm" data-dismiss="modal" ng-click="isCovered=false" translate>button.cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="user" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-a" style="min-height: 400px;max-height: 550px; overflow: auto">
                <div>
                    <a class="text" ng-click="filter_tree.expand_all();"
                       uib-tooltip="{{'tooltip.expandAll' | translate}}">
                        <i class="fa fa-angle-double-down fa-lg"></i>
                    </a>
                    <a class="text m-l-xs" ng-click="filter_tree.collapse_all();"
                       uib-tooltip="{{'tooltip.collapseAll' | translate}}">
                        <i class="fa fa-angle-double-up fa-lg"></i>
                    </a>
                    <tree
                            tree-data="folderList"
                            tree-control="filter_tree"
                            object="object"
                            icon-leaf="fa fa-folder"
                            icon-expand="fa fa-folder"
                            icon-collapse="fa fa-folder-open"
                            expand-on="expanding_property"
                            on-select="treeExpand(branch)"
                            on-click="treeExpand1(branch)"
                            template-url="modules/core/template/tree-filter-structure.html">
                    </tree>
                </div>
            </div>
            <div class="modal-footer text-left">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addFolderPaths()"
                        data-dismiss="modal" translate>button.done
                </button>
                <button type="button" class="btn btn-grey btn-sm" data-dismiss="modal" translate>
                    button.cancel
                </button>
            </div>
        </div>
    </div>
</div>
