<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="btn-group dropdown" ng-if="state == 'role'">
                        <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown">{{'label.user' | translate}}
                            <span class="text-primary" ng-bind="selectedUser"></span></button>
                        <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                            <a class="dropdown-item" ng-class="{orange: selectedUser == user.user}"
                               ng-click="selectUser(user.user)" ng-repeat="user in users | orderBy: 'name'">
                                {{user.user}}
                                <i ng-click="selectUser();$event.stopPropagation();" ng-if="selectedUser == user.user" class="fa fa-times-circle-o remove"></i>
                            </a>
                        </div>
                    </div>
                    <button ng-if="state == 'user'" class="btn btn-grey btn-sm m-l-sm"  ng-click="addUser()">
                        <i class="fa fa-plus"></i>
                        {{'button.addUser'| translate}}
                    </button>
                    <button ng-if="state == 'role'" class="btn btn-grey btn-sm m-l-sm"  ng-click="addMaster()">
                        <i class="fa fa-plus"></i>
                        {{'button.addMaster'| translate}}
                    </button>
                    <button ng-if="state == 'role'" class="btn btn-grey btn-sm m-l-sm"  ng-click="addRole()">
                        <i class="fa fa-plus"></i>
                        {{'button.addRole'| translate}}
                    </button>
                    <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-if="state == 'permission'" ng-disabled="view.pageView=='tree'" ng-click="addFolder()" translate="">button.addFolder</button>
                    <button type="button" class="btn btn-sm btn-grey m-l-sm" ng-if="state == 'permission'" ng-disabled="view.pageView=='tree'" ng-click="addPermission();"  translate="">button.addPermission</button>
                    <div class="btn-group m-l-sm" ng-if="state == 'permission'">
                        <button class="btn btn-grey btn-sm" ng-model="view.pageView" uib-btn-radio="'tree'" ng-click="switchTree()"
                                ng-class="{'btn-primary': view.pageView=='tree'}"><i class="fa fa-sitemap"></i>
                        </button>
                        <button class="btn btn-grey btn-sm" ng-model="view.pageView"
                                uib-btn-radio="'list'" ng-class="{'btn-primary': view.pageView=='list'}"><i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht">
    <div class="padding p-b-0">
        <div class="row m-b m-t-xs" ng-if="state == 'user' || state == 'role'">
            <div class="col-md-6 col-sm-4">
                <ul class="nav navbar-nav navbar-nav-inline nav-active-border nav-active-border2 b-primary">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.users.user">
                            <span class="nav-text text-dark p-b-sm"><span class="text" translate>label.users</span></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.users.master">
                            <span class="nav-text text-dark p-b-sm"><span class="text" translate>label.masters</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div ng-if="state == 'user'" class="col-md-6 col-sm-8">
                <input type="search" class="pull-right" placeholder="{{'placeholder.search' | translate}}" ng-model="filterString" style="width: 180px">
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-sm-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

