<form #myForm="ngForm" (ngSubmit)="save()" style="box-shadow: 0 0 8px rgba(0,0,0,0.18)">
  <div class="modal-body p-a">
    <a (click)="cancel()"
       style="float: right; position: absolute; right: 2px; top: -6px; font-size: 27px; opacity: .9"><i
      class="fa fa-times-circle"></i></a>
    <div class="row m-b-sm">
      <label class="col-sm-12" [hidden]="!editor.create">
        <span class="text-primary " translate>runtime.label.addFrequencies</span>
        : <span class="text-muted">{{'runtime.'+str | translate}}</span>
      </label>
      <label class="col-sm-12" [hidden]="editor.create">
        <span class="text-primary " translate>runtime.label.editFrequencies</span>
        : <span class="text-muted">{{_temp.str | translate}}</span>
      </label>
    </div>
    <div class="m-b">
      <div class="form-group row"  *ngIf="isVisible">
        <label class="col-sm-3 form-control-label" translate>runtime.label.frequencyType</label>
        <div class="col-sm-6">
          <nz-select nzShowSearch name="frequencyTab" [(ngModel)]="frequency.tab" (ngModelChange)="changeFrequency()">
            <nz-option nzValue="weekDays" [nzLabel]="'runtime.label.weekDays' | translate"></nz-option>
            <nz-option nzValue="specificWeekDays" [nzLabel]="'runtime.label.specificWeekDays' | translate"></nz-option>
            <nz-option nzValue="specificDays" [nzLabel]="'runtime.label.specificDays' | translate"></nz-option>
            <nz-option nzValue="monthDays" [nzLabel]="'runtime.label.monthDays' | translate"></nz-option>
            <nz-option nzValue="every" [nzLabel]="'runtime.label.every' | translate"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="tab-content  b-t b-l b-r b-b p-a p-b-0 m-b"
         [ngClass]="{'specific-day-ht':frequency.tab == 'specificDays' }">
      <div class="tab-pane animated fadeIn" id="tab1" [ngClass]="{'active':frequency.tab == 'weekDays'}">
        <div class="form-group row">
          <label class="col-sm-3" translate>runtime.label.weekDays</label>

          <div class="col-sm-9">
            <label class="md-check w">
              <input type="checkbox" [(ngModel)]="frequency.all" name="week"
                     (change)="selectAllWeek()">
              <i class="primary"></i> <span translate>runtime.label.everyDay</span>
            </label><br>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="sun"
                     (change)="onChangeDays()" checklistValue="0">
              <i class="primary"></i> <span translate>runtime.label.sunday</span>
            </label>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="mon"
                     (change)="onChangeDays()" checklistValue="1">
              <i class="primary"></i> <span translate>runtime.label.monday</span>
            </label>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="tue"
                     (change)="onChangeDays()" checklistValue="2">
              <i class="primary"></i> <span translate>runtime.label.tuesday</span>
            </label>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="wed"
                     (change)="onChangeDays()" checklistValue="3">
              <i class="primary"></i> <span translate>runtime.label.wednesday</span>
            </label>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="thu"
                     (change)="onChangeDays()" checklistValue="4">
              <i class="primary"></i> <span translate>runtime.label.thursday</span>
            </label>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="fri"
                     (change)="onChangeDays()" checklistValue="5">
              <i class="primary"></i> <span translate>runtime.label.friday</span>
            </label>
            <label class="md-check w">
              <input type="checkbox" [(checklist)]="frequency.days" name="sat"
                     (change)="onChangeDays()" checklistValue="6">
              <i class="primary"></i> <span translate>runtime.label.saturday</span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validFrom</label>

          <div class="col-sm-5">
            <nz-date-picker [nzPlaceHolder]="'runtime.placeholder.startDate' | translate" [nzFormat]="dateFormat"
                            [(ngModel)]="frequency.startingWithW" name="startingWithW"></nz-date-picker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validTo</label>

          <div class="col-sm-5">
            <nz-date-picker [nzPlaceHolder]="'runtime.placeholder.endDate' | translate"
                            [nzFormat]="dateFormat" [(ngModel)]="frequency.endOnW" name="endOnW">
            </nz-date-picker>
          </div>
        </div>
      </div>
      <div class="tab-pane animated fadeIn" id="tab2" [ngClass]="{'active':frequency.tab == 'specificWeekDays'}">
        <div class="form-group row">
          <label class="col-sm-3" translate>runtime.label.dayNumber</label>
          <div class="col-sm-5">
            <nz-select [(ngModel)]="frequency.which" name="which" (ngModelChange)="onFrequencyChange()">
              <nz-option nzValue="1" [nzLabel]="'runtime.label.first' | translate"></nz-option>
              <nz-option nzValue="2" [nzLabel]="'runtime.label.second' | translate"></nz-option>
              <nz-option nzValue="3" [nzLabel]="'runtime.label.third' | translate"></nz-option>
              <nz-option nzValue="4" [nzLabel]="'runtime.label.fourth' | translate"></nz-option>
              <nz-option nzValue="-1" [nzLabel]="'runtime.label.last' | translate"></nz-option>
              <nz-option nzValue="-2" [nzLabel]="'runtime.label.secondLast' | translate"></nz-option>
              <nz-option nzValue="-3" [nzLabel]="'runtime.label.thirdLast' | translate"></nz-option>
              <nz-option nzValue="-4" [nzLabel]="'runtime.label.fourthLast' | translate"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.weekDays</label>
          <div class="col-sm-5">
            <nz-select [(ngModel)]="frequency.specificWeekDay" name="specificWeekDay"
                       (ngModelChange)="onFrequencyChange()">
              <nz-option nzValue="sunday" [nzLabel]="'runtime.label.sunday' | translate"></nz-option>
              <nz-option nzValue="monday" [nzLabel]="'runtime.label.monday' | translate"></nz-option>
              <nz-option nzValue="tuesday" [nzLabel]="'runtime.label.tuesday' | translate"></nz-option>
              <nz-option nzValue="wednesday" [nzLabel]="'runtime.label.wednesday' | translate"></nz-option>
              <nz-option nzValue="thursday" [nzLabel]="'runtime.label.thursday' | translate"></nz-option>
              <nz-option nzValue="friday" [nzLabel]="'runtime.label.friday' | translate"></nz-option>
              <nz-option nzValue="saturday" [nzLabel]="'runtime.label.saturday' | translate"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validFrom</label>
          <div class="col-sm-5">
            <nz-date-picker [nzPlaceHolder]="'runtime.placeholder.startDate' | translate" [nzFormat]="dateFormat"
                            [(ngModel)]="frequency.startingWithS" name="startingWithS">
            </nz-date-picker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validTo</label>
          <div class="col-sm-5">
            <nz-date-picker [nzPlaceHolder]="'runtime.placeholder.endDate' | translate" [nzFormat]="dateFormat"
                            [(ngModel)]="frequency.endOnS" name="endOnS">
            </nz-date-picker>
          </div>
        </div>
      </div>
      <div class="tab-pane animated fadeIn" id="tab3"
           [ngClass]="{'active':frequency.tab == 'specificDays'}">
        <div>
          <div id="calendar"></div>
        </div>
      </div>
      <div class="tab-pane animated fadeIn" id="tab4" [ngClass]="{'active':frequency.tab == 'monthDays'}">
        <div class="form-group row">
          <label class="col-sm-3" translate>runtime.label.monthDays</label>

          <div class="col-sm-9">
            <label class="md-check ">
              <input type="radio" [(ngModel)]="frequency.isUltimos" name="radio"
                     (change)="onFrequencyChange()" value="months">
              <i class="primary"></i>
              <span translate>runtime.label.countFromFirstDay</span>
            </label>
            <label class="md-check m-l-md">
              <input type="radio" [(ngModel)]="frequency.isUltimos" name="radio"
                     (change)="onFrequencyChange()" value="ultimos">
              <i class="primary"></i>
              <span translate>runtime.label.countFromTheLastDay</span>
            </label>
          </div>
          <div class="col-sm-offset-3 col-sm-6 m-t-sm p-t-xs">
            <table class="table table-bordered table-striped text-center m-b-xs w "
                   [hidden]="frequency.isUltimos!=='months'">
              <tbody>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDays('1')}"><a
                  (click)="selectMonthDaysFunc('1')">1</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('2')}"><a
                  (click)="selectMonthDaysFunc('2')">2</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('3')}"><a
                  (click)="selectMonthDaysFunc('3')">3</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('4')}"><a
                  (click)="selectMonthDaysFunc('4')">4</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('5')}"><a
                  (click)="selectMonthDaysFunc('5')">5</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('6')}"><a
                  (click)="selectMonthDaysFunc('6')">6</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('7')}"><a
                  (click)="selectMonthDaysFunc('7')">7</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDays('8')}"><a
                  (click)="selectMonthDaysFunc('8')">8</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('9')}"><a
                  (click)="selectMonthDaysFunc('9')">9</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('10')}"><a
                  (click)="selectMonthDaysFunc('10')">10</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('11')}"><a
                  (click)="selectMonthDaysFunc('11')">11</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('12')}"><a
                  (click)="selectMonthDaysFunc('12')">12</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('13')}"><a
                  (click)="selectMonthDaysFunc('13')">13</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('14')}"><a
                  (click)="selectMonthDaysFunc('14')">14</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDays('15')}"><a
                  (click)="selectMonthDaysFunc('15')">15</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('16')}"><a
                  (click)="selectMonthDaysFunc('16')">16</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('17')}"><a
                  (click)="selectMonthDaysFunc('17')">17</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('18')}"><a
                  (click)="selectMonthDaysFunc('18')">18</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('19')}"><a
                  (click)="selectMonthDaysFunc('19')">19</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('20')}"><a
                  (click)="selectMonthDaysFunc('20')">20</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('21')}"><a
                  (click)="selectMonthDaysFunc('21')">21</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDays('22')}"><a
                  (click)="selectMonthDaysFunc('22')">22</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('23')}"><a
                  (click)="selectMonthDaysFunc('23')">23</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('24')}"><a
                  (click)="selectMonthDaysFunc('24')">24</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('25')}"><a
                  (click)="selectMonthDaysFunc('25')">25</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('26')}"><a
                  (click)="selectMonthDaysFunc('26')">26</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('27')}"><a
                  (click)="selectMonthDaysFunc('27')">27</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('28')}"><a
                  (click)="selectMonthDaysFunc('28')">28</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDays('29')}"><a
                  (click)="selectMonthDaysFunc('29')">29</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('30')}"><a
                  (click)="selectMonthDaysFunc('30')">30</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDays('31')}"><a
                  (click)="selectMonthDaysFunc('31')">31</a></td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered table-striped text-center m-b-xs w "
                   [hidden]="frequency.isUltimos=='months'">
              <tbody>
              <tr>
                <td colspan="2" [ngClass]="{'primary': getSelectedMonthDaysU('1')}"><a
                  (click)="selectMonthDaysUFunc('1')" translate>runtime.label.lastDay</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('2')}"><a
                  (click)="selectMonthDaysUFunc('2')">-1</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('3')}"><a
                  (click)="selectMonthDaysUFunc('3')">-2</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('4')}"><a
                  (click)="selectMonthDaysUFunc('4')">-3</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('5')}"><a
                  (click)="selectMonthDaysUFunc('5')">-4</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('6')}"><a
                  (click)="selectMonthDaysUFunc('6')">-5</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('7')}"><a
                  (click)="selectMonthDaysUFunc('7')">-6</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('8')}"><a
                  (click)="selectMonthDaysUFunc('8')">-7</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('9')}"><a
                  (click)="selectMonthDaysUFunc('9')">-8</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('10')}"><a
                  (click)="selectMonthDaysUFunc('10')">-9</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('11')}"><a
                  (click)="selectMonthDaysUFunc('11')">-10</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('12')}"><a
                  (click)="selectMonthDaysUFunc('12')">-11</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('13')}"><a
                  (click)="selectMonthDaysUFunc('13')">-12</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('14')}"><a
                  (click)="selectMonthDaysUFunc('14')">-13</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('15')}"><a
                  (click)="selectMonthDaysUFunc('15')">-14</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('16')}"><a
                  (click)="selectMonthDaysUFunc('16')">-15</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('17')}"><a
                  (click)="selectMonthDaysUFunc('17')">-16</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('18')}"><a
                  (click)="selectMonthDaysUFunc('18')">-17</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('19')}"><a
                  (click)="selectMonthDaysUFunc('19')">-18</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('20')}"><a
                  (click)="selectMonthDaysUFunc('20')">-19</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('21')}"><a
                  (click)="selectMonthDaysUFunc('21')">-20</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('22')}"><a
                  (click)="selectMonthDaysUFunc('22')">-21</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('23')}"><a
                  (click)="selectMonthDaysUFunc('23')">-22</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('24')}"><a
                  (click)="selectMonthDaysUFunc('24')">-23</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('25')}"><a
                  (click)="selectMonthDaysUFunc('25')">-24</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('26')}"><a
                  (click)="selectMonthDaysUFunc('26')">-25</a></td>

                <td [ngClass]="{'primary': getSelectedMonthDaysU('27')}"><a
                  (click)="selectMonthDaysUFunc('27')">-26</a></td>
              </tr>
              <tr>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('28')}"><a
                  (click)="selectMonthDaysUFunc('28')">-27</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('29')}"><a
                  (click)="selectMonthDaysUFunc('29')">-28</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('30')}"><a
                  (click)="selectMonthDaysUFunc('30')">-29</a></td>
                <td [ngClass]="{'primary': getSelectedMonthDaysU('31')}"><a
                  (click)="selectMonthDaysUFunc('31')">-30</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validFrom</label>
          <div class="col-sm-5">
            <nz-date-picker [nzPlaceHolder]="'runtime.placeholder.startDate' | translate"
                            [nzFormat]="dateFormat" [(ngModel)]="frequency.startingWithM" name="startingWithM">
            </nz-date-picker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validTo</label>
          <div class="col-sm-5">
            <nz-date-picker [nzPlaceHolder]="'runtime.placeholder.endDate' | translate"
                            [nzFormat]="dateFormat" [(ngModel)]="frequency.endOnM" name="endOnM">
            </nz-date-picker>
          </div>
        </div>
      </div>
      <div class="tab-pane animated fadeIn" id="tab5" [ngClass]="{'active':frequency.tab == 'every'}">
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.every</label>
          <div class="col-sm-2">
            <nz-input-number [nzMin]="1" [nzMax]="31" [nzStep]="1" name="interval"
                             [(ngModel)]="frequency.interval" (ngModelChange)="onFrequencyChange()">
            </nz-input-number>
          </div>
          <div class="col-sm-3">
            <nz-select [(ngModel)]="frequency.dateEntity" name="dateEntity"
                       (ngModelChange)="onFrequencyChange()">
              <nz-option nzValue="DAILY" [nzLabel]="'runtime.label.days' | translate"></nz-option>
              <nz-option nzValue="WEEKLY" [nzLabel]="'runtime.label.weeks' | translate"></nz-option>
              <nz-option nzValue="MONTHLY" [nzLabel]="'runtime.label.months' | translate"></nz-option>
              <nz-option nzValue="YEARLY" [nzLabel]="'runtime.label.years' | translate"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validFrom</label>
          <div class="col-sm-5">
            <nz-date-picker [(ngModel)]="frequency.startingWith" name="startingWith">
            </nz-date-picker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label" translate>runtime.label.validTo</label>
          <div class="col-sm-5">
            <nz-date-picker [(ngModel)]="frequency.endOn" name="endOn"></nz-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-sm-12" style="max-height: 260px; overflow: auto">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th><span translate>runtime.label.srNo</span></th>
              <th><span translate>runtime.label.frequency</span></th>
              <th><span translate>runtime.label.validFrom</span></th>
              <th><span translate>runtime.label.validTo</span></th>
              <th width="80"><span translate>runtime.label.action</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of calendar.frequencyList; let i = index" class="cursor"
                [ngClass]="{'light-bg' : (_temp.tab ==data.tab && _temp.day ==data.day && _temp.months ==data.months && _temp.isUltimos ==data.isUltimos && _temp.dateEntity ==data.dateEntity && _temp.str ==data.str)}">
              <td (click)="editFrequency(data)">{{i + 1}}</td>
              <td (click)="editFrequency(data)">
                <i *ngIf="data.exclude" class="fa fa-minus"> </i>
                <span>{{data.str}}</span>
              </td>
              <td>
                <span *ngIf="data.tab=='weekDays'">{{data.startingWithW | stringToDate1}}</span>
                <span
                  *ngIf="data.tab=='specificWeekDays'">{{data.startingWithS | stringToDate1}}</span>
                <span
                  *ngIf="data.tab=='monthDays'">{{data.startingWithM | stringToDate1}}</span>
                <span *ngIf="data.tab=='every'">{{data.startingWith | stringToDate1}}</span>
              </td>
              <td>
                <span *ngIf="data.tab=='weekDays'">{{data.endOnW | stringToDate1}}</span>
                <span
                  *ngIf="data.tab=='specificWeekDays'">{{data.endOnS | stringToDate1}}</span>
                <span *ngIf="data.tab=='monthDays'">{{data.endOnM | stringToDate1}}</span>
                <span *ngIf="data.tab=='every'">{{data.endOn | stringToDate1}}</span>
              </td>
              <td>
                <a><i (click)="editFrequency(data)" class="fa fa-pencil m-r-sm"></i></a>
                <a class="text-hover-color">
                  <i (click)="deleteFrequency(data, i)" class="fa fa-times "></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 text-center" *ngIf="calendar.frequencyList.length==0" translate>
        runtime.message.noFrequencyFound
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-sm" style="position:absolute; bottom: 10px;"
            [disabled]="!myForm.form.valid || !editor.isEnable" (click)="addFrequency();">
      <span *ngIf="editor.create" translate>runtime.button.addNewFrequency</span>
      <span *ngIf="!editor.create" translate>runtime.button.updateFrequency</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm"
            [disabled]="!myForm.form.valid || calendar.frequencyList.length==0">
      <span translate>common.button.submit</span>
    </button>
    <button type="button" class="btn btn-grey btn-sm" (click)="cancel()"
            translate>common.button.cancel
    </button>
  </div>
</form>
