<div style="box-shadow: 0 0 8px rgba(0,0,0,0.18)">
<div class="modal-header">
  <h4 class="modal-title">
    <span *ngIf="isNew" translate>runtime.label.addPeriod</span>
    <span *ngIf="!isNew" translate>runtime.label.editPeriod</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-a">
  <div class="row">
    <div class="col-sm-12">
      <form #myForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <div class="form-group row">
            <label class="col-sm-4 form-control-label" translate>runtime.label.repeatInterval</label>
            <div class="col-sm-8">
              <nz-select [(ngModel)]="period.frequency" name="frequency">
                <nz-option nzValue="singleStart" [nzLabel]="'runtime.label.singleStart' | translate"></nz-option>
                <nz-option nzValue="repeat" [nzLabel]="'runtime.label.repeat' | translate"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group row" *ngIf="period.frequency=='singleStart'"
               [ngClass]="{ 'has-error' : (startTime.dirty || startTime.touched) && startTime.invalid }">
            <label class="col-sm-4 form-control-label" translate>runtime.label.startTime</label>
            <div class="col-sm-3" [ngClass]="{ 'has-error' : (((startTime.dirty || startTime.touched) && startTime.invalid))}">
              <input timevalidator maxlength="8" class="form-control" name="startTime" #startTime="ngModel"
                     [(ngModel)]="period.period.singleStart"
                     placeholder="HH:MM:SS" type="text">
            </div>
          </div>
          <div class="form-group row" *ngIf="period.frequency=='repeat'"
               [ngClass]="{ 'has-error' : (repeat.dirty || repeat.touched) && repeat.invalid }">
            <label class="col-sm-4 form-control-label" translate>runtime.label.repeatTime</label>
            <div class="col-sm-3" [ngClass]="{ 'has-error' : (((repeat.dirty || repeat.touched) && repeat.invalid))}">
              <input timevalidator maxlength="8" class="form-control" name="repeat" #repeat="ngModel"
                     [(ngModel)]="period.period.repeat"
                     placeholder="HH:MM:SS" type="text">
            </div>
          </div>
          <div class="form-group row" [hidden]="period.frequency=='singleStart'">
            <label class="col-sm-4 form-control-label" translate>runtime.label.begin</label>
            <div class="col-sm-3" [ngClass]="{'has-error': (begin.dirty || begin.touched) && begin.invalid}">
              <input timevalidator maxlength="8" class="form-control" name="begin" #begin="ngModel"
                     [(ngModel)]="period.period.begin"
                     placeholder="HH:MM:SS" type="text">
            </div>
            <label class="col-sm-2 form-control-label text-right" translate>runtime.label.end</label>
            <div class="col-sm-3" [ngClass]="{'has-error': (end.dirty || end.touched) && end.invalid}">
              <input timevalidator maxlength="8" class="form-control" name="end" #end="ngModel"
                     [(ngModel)]="period.period.end"
                     placeholder="HH:MM:SS" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 form-control-label" translate>runtime.label.onHoliday</label>
            <div class="col-sm-8">
              <nz-select name="holidayOption" [(ngModel)]="period.period.whenHoliday">
                <nz-option [nzValue]="option" *ngFor="let option of when_holiday_options" [nzLabel]="option | translate"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="!myForm.form.valid">
            <span translate>common.button.save</span>
          </button>
          <button type="button" class="btn btn-grey btn-sm m-l-sm" (click)="cancel()" translate>
            common.button.cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
