<div class="box p-a">
  <nz-table
    #ajaxTable
    [nzSize]="'small'"
    [nzPageIndex]="prof.currentPage"
    [nzBordered]="true"
    [nzData]="profiles"
    [nzLoading]="loading"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[10, 25, 50, 100 , preferences.maxEntryPerPage]"
  >
    <thead>
    <tr>
      <th nzWidth="54px" [nzAlign]="'center'">
        <label class="md-check lg-check">
          <input type="checkbox" [(ngModel)]="checkAll.checkbox" (change)="checkAllProfileFnc()"><i
          class="primary"></i>
        </label>
      </th>
      <th nzWidth="62px"><span translate>label.action</span></th>
      <th nzShowSort nzSortKey="user"><span translate>label.user</span></th>
      <th nzShowSort nzSortKey="password"><span translate>label.modified</span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let profile of ajaxTable.data  | orderBy: order:reverse:false; let i = index">
      <td [nzAlign]="'center'">
        <label class="md-check">
          <input type="checkbox" [(checklist)]="object.profiles" [checklistValue]="profile"
                 (change)="checkProfileFnc(profile, i, $event)"><i class="primary"></i>
        </label>
      </td>
      <td>
        <div class="btn-group dropdown pull-left m-r-sm">
          <button type="button" class="btn-drop more-option-h" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
          <div class="dropdown-menu dropdown-ac dropdown-more dropdown-menu-list" role="menu">
            <a class="dropdown-item" (click)="resetProfile(profile)" translate="">button.resetProfile</a>
          </div>
        </div>
      </td>
      <td> <a (click)="showMaster(profile.account)" class="text-hover-primary" [innerHTML]="profile.account | decodeSpace"></a></td>
      <td>
        <span [innerHTML]="profile.modified | stringToDate"></span>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="w-half label-top" *ngIf="profiles.length >0">
    <span translate>label.total</span><span> {{profiles.length}} </span>
    <span translate *ngIf="profiles.length >1">label.usersFound</span>
    <span translate *ngIf="profiles.length ==1">label.usersFound</span>
  </div>
</div>
