<div class="white box-shadow sub-header">
    <div class="row">
        <div class="col-md-12">
            <div class="padding">
                <div class="text-right ">
                    <div class="pull-left">
                        <span class="text-md text-orange _600 p-t-xs" ncy-breadcrumb></span>
                    </div>
                    <div class="inline" ng-class="{'hide':object.jobs.length>0}">
                        <div class="btn-group hidden-btn-group">
                            <button id="jobs" class="btn btn-grey btn-sm" ng-model="filter.state" uib-btn-radio="'all'"
                                    ng-class="{'btn-primary': filter.state=='all'}" ng-click="load()" translate>button.allJobs
                            </button>
                            <button id="pending" class="btn btn-grey btn-sm" ng-model="filter.state"
                                       uib-btn-radio="'pending'"
                                       ng-class="{'btn-primary': filter.state=='pending'}" ng-click="load()" translate>button.pending
                            </button>
                            <button id="running" class="btn btn-grey btn-sm" ng-model="filter.state"
                                    uib-btn-radio="'running'"
                                    ng-class="{'btn-primary': filter.state=='running'}" ng-click="load()" translate>button.running
                            </button>
                            <button id="stopped" class="btn btn-grey btn-sm" ng-model="filter.state"
                                    uib-btn-radio="'stopped'"
                                    ng-class="{'btn-primary': filter.state=='stopped'}" ng-click="load()" translate>button.stopped
                            </button>
                            <button id="queued" class="btn btn-grey btn-sm" ng-model="filter.state"
                                    uib-btn-radio="'queued'"
                                    ng-class="{'btn-primary': filter.state=='queued'}" ng-click="load()" translate>button.waitingForResource
                            </button>
                        </div>
                        <div class="btn-group dropdown hidden-dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown" translate>label.status</button>
                            <div class="dropdown-menu dropdown-menu-scale dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" ng-model="filter.state" uib-btn-radio="'all'"
                                        ng-class="{'btn-primary': filter.state=='all'}" ng-click="load()" translate>button.allJobs
                                </a>
                                <a class="dropdown-item" ng-model="filter.state"
                                           uib-btn-radio="'pending'"
                                           ng-class="{'btn-primary': filter.state=='pending'}" ng-click="load()" translate>button.pending
                                </a>
                                <a class="dropdown-item" ng-model="filter.state"
                                        uib-btn-radio="'running'"
                                        ng-class="{'btn-primary': filter.state=='running'}" ng-click="load()" translate>button.running
                                </a>
                                <a class="dropdown-item" ng-model="filter.state"
                                        uib-btn-radio="'stopped'"
                                        ng-class="{'btn-primary': filter.state=='stopped'}" ng-click="load()" translate>button.stopped
                                </a>
                                <a class="dropdown-item" ng-model="filter.state"
                                        uib-btn-radio="'queued'"
                                        ng-class="{'btn-primary': filter.state=='queued'}" ng-click="load()" translate>button.waitingForResource
                                </a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                             <a class="btn btn-grey btn-sm m-l-sm" data-toggle="dropdown">{{'label.sortBy' | translate}}
                                <span class="text-primary">
                                    <span ng-show="filter.sortBy =='name'">
                                        {{'label.name' | translate}}
                                         <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-show="filter.sortBy =='state._text'">
                                        {{'label.state' | translate}}
                                          <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-show="filter.sortBy =='startedAt'">
                                        {{'label.date' | translate}}
                                        <i ng-show="!sortReverse" class="fa fa-caret-down"></i>
                                        <i ng-show="sortReverse" class="fa fa-caret-up"></i>
                                    </span>
                                </span>
                             </a>
                            <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" href ng-click="mainSortBy('name')" translate>label.name</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('state._text')" translate>label.state</a>
                                <a class="dropdown-item" href ng-click="mainSortBy('startedAt')" translate>label.date</a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <button class="btn btn-grey btn-sm m-l-sm dropdown-toggle" data-toggle="dropdown">{{'label.filters' | translate}} <span class="text-primary" ng-bind="savedJobFilter.selected"></span></button>
                            <div class="dropdown-menu dropdown-ac dropdown-more pull-right">
                                <a class="dropdown-item" href ng-click="applyFilter()" translate>label.createFilter</a>
                                <a class="dropdown-item" href ng-click="editFilters()" ng-if="savedJobFilter.list.length>0" translate>label.editExistingFilters</a>
                                <div class="dropdown-divider" ng-if="savedJobFilter.list.length>0"></div>
                                <a class="dropdown-item" ng-class="{orange: savedJobFilter.selected == filter.name}" ng-click="changeFilter(filter.name)" ng-repeat="filter in savedJobFilter.list track by $index">
                                    {{filter.name}} <i ng-click="changeFilter();$event.stopPropagation();" ng-if="savedJobFilter.selected == filter.name" class="fa fa-times-circle-o remove"></i>
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-grey btn-sm m-l-sm" id="exportToExcelBtn" ng-click="exportToExcel()"><img src="images/share.png" class="p-b-xs"> </button>


                    </div>
                    <div class="hide" ng-class="{'show-block':object.jobs.length>0}">
                        <button class="btn btn-grey btn-sm m-l-sm" ng-click="startAll()" ng-disabled="isOrderJob" ng-if="permission.Job.start" translate>button.startTask</button>
                        <button class="btn btn-grey btn-sm m-l-sm bg-hover-color" ng-disabled="isStopped" ng-if="permission.Job.stop" ng-click="stopAll();" translate>button.stop</button>
                        <button class="btn btn-grey btn-sm m-l-sm" ng-disabled="isUnstopped" ng-if="permission.Job.unstop" ng-click="unStopAll()" translate>button.unstop</button>
                        <button class="btn btn-grey btn-sm m-l-sm bg-hover-color" ng-if="permission.Job.kill" ng-click="killAllTask()" translate>button.killAllTasksImmediately</button>
                        <button class="btn btn-grey btn-sm m-l-sm bg-hover-color" ng-if="(selectedJobScheduler.os.name == 'linux' || selectedJobScheduler.os.name == 'unix') && permission.Job.terminate" ng-click="terminateAllTask()" translate>button.terminateAllTasks</button>
                        <button class="btn btn-grey btn-sm m-l-sm bg-hover-color" ng-if="(selectedJobScheduler.os.name == 'linux' || selectedJobScheduler.os.name == 'unix') && permission.Job.terminate" ng-click="terminateAllTaskWithTimeout()" translate>button.terminateAllTasksWithTimeout</button>
                    </div>
                    <toggle-view></toggle-view>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-y max-ht" >
    <div class="padding p-b-0">
        <div class="hide" ng-class="{'show': isLoading}">
            <div class="hide m-t-sm " ng-class="{'show': pageView=='grid'}" >
                 <div class="row">
                     <div class="col-md-12">
                         <a class="text m-r-xs " ng-click="my_tree.expand_all();expandAll()" >[ <span class="text-primary font14" translate>button.expandAll</span> ]</a>
                         <a class="text" ng-click="my_tree.collapse_all()">[ <span class="text-primary font14" translate>button.collapseAll</span> ]</a>
                         <tree
                                 tree-data="tree"
                                 permission="permission"
                                 tree-control="my_tree"
                                 object="object"
                                 filter="filter"
                                 reverse="sortReverse"
                                 expand-to="expand_to"

                                 color-function="colorFunction(severity)"
                                 start="start(job)"
                                 stop="stop(job)"
                                 unstop="unstop(job)"
                                 start-at="startAt(job)"
                                 set-run-time="setRunTime(job)"
                                 showTaskFuc="showTaskFuc(job,flag)"
                                 kill-all-task="killAllTask(job)"
                                 terminate-all-task="terminateAllTask(job)"
                                 terminate-all-task-with-timeout="terminateAllTaskWithTimeout(job)"

                                 expand-on="expanding_property"
                                 on-select="treeHandler(branch)"
                                 on-click="treeHandler(branch)"
                                 expand-node="expandNode(branch)"
                                 collapse-node="collapseNode(branch)"
                                 template-url="modules/job/views/job-tree.html">
                         </tree>
                     </div>
                 </div>
             </div>
            <div class="m-t-sm box p-a" ng-show="pageView=='list'" >
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table table-hover table-bordered  " id="jobTableId">
                        <thead>
                            <tr>
                                <th class="noExl">
                                    <label class="md-check lg-check">
                                        <input type="checkbox" ng-model="allCheck.checkbox" ng-click="checkAll()"><i class="primary"></i>
                                    </label>
                                </th>
                                <th ng-click="sortBy('name')"><a><span translate>label.jobName</span>
                                    <i ng-show="propertyName == 'name' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'name' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('path')"><a><span translate>label.path</span>
                                    <i ng-show="propertyName == 'path' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'path' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('state._text')" ><a><span translate>label.status</span>
                                    <i ng-show="propertyName == 'state._text' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'state._text' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('usedInJobChains')"><a><span translate>label.jobChainsAssociated</span>
                                    <i ng-show="propertyName == 'usedInJobChains' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'usedInJobChains' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('estimatedDuration')"><a><span translate>label.timeSlot</span>
                                    <i ng-show="propertyName == 'estimatedDuration' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'estimatedDuration' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('numOfRunningTasks')"><a><span translate>label.taskRunning</span>
                                    <i ng-show="propertyName == 'numOfRunningTasks' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'numOfRunningTasks' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('ordersSummary.suspended')"><a><span translate>label.orderSuspended</span>
                                    <i ng-show="propertyName == 'ordersSummary.suspended' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'ordersSummary.suspended' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('ordersSummary.waitingForResource')"><a><span translate>label.orderQueued</span>
                                    <i ng-show="propertyName == 'ordersSummary.waitingForResource' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'ordersSummary.waitingForResource' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th ng-click="sortBy('ordersSummary.setback')" ><a><span translate>label.orderSetbacks</span>
                                    <i ng-show="propertyName == 'ordersSummary.setback' && !reverse"
                                       class="fa fa-caret-down "></i>
                                    <i ng-show="propertyName == 'ordersSummary.setback' && reverse"
                                       class="fa fa-caret-up "></i></a>
                                </th>
                                <th class="noExl"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in filtered = (jobs | filter: filterString:strict) | startFrom:(currentPage - 1) * pageSize|limitTo: pageSize" ng-class="{'light-bg':showTaskPanel == job}">
                            <td class="noExl">
                                <label class="md-check">
                                    <input type="checkbox" data-checklist-model="object.jobs" data-checklist-value="job"><i class="primary"></i>
                                </label>
                            </td>
                            <td><a href="" ng-click="showTaskFuc(job)">
                              <span class="text-dark" ng-class="{'text-u-l':!job.isOrderJob}" ng-bind="job.name"></span> <span ng-if="job.title">-</span><i class="text-muted" ng-bind="job.title"></i>
                            </a>
<!--                            <a href="" ng-click="hideTaskPanel()" ng-show="showTaskPanel == job">
                                <i class="fa fa-angle-up cursor"></i>
                                <span class="text-dark" ng-class="{'text-u-l':!job.isOrderJob}" ng-bind="job.name"></span> <span ng-if="job.title">-</span><i class="text-muted" ng-bind="job.title"></i>
                            </a>-->
                            </td>
                            <td ng-bind="job.path1"></td>
                            <td><span class="text-c label" ng-class="bgColorFunction(job.state.severity)" ng-bind="job.state._text  | translate" ></span></td>
                            <td><a class="primary-text-hover-color" ng-click="showJobChains(job)" href ng-bind="job.usedInJobChains || 0"></a></td>
                            <td ng-bind="job.estimatedDuration || '-'"> </td>
                            <td><a class="primary-text-hover-color" ng-click="showTaskFuc(job, true)" href="" ng-bind="job.numOfRunningTasks || 0 +' of '+job.maxTasks"></a></td>
                            <td ng-bind="job.ordersSummary.suspended || '-'"></td>
                            <td ng-bind="job.ordersSummary.queued || '-'"></td>
                            <td ng-bind="job.ordersSummary.setback || '-'"></td>

                            <td class="noExl">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn-drop more-option-h"  data-toggle="dropdown" ><i
                                            class="fa fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-ac dropdown-more pull-left m-r-28" role="menu">
                                        <a href="#/showConfiguration?type=job&path={{job.path}}/{{job.name}}" target="_blank" class="hide dropdown-item" ng-class="{show:permission.Job.view.configuration}" translate>button.showConfiguration</a>
                                        <a class="dropdown-item bg-hover-color" ng-if="job.state._text.toLowerCase() !='stopped' && permission.Job.stop" ng-click="stop(job)" translate>button.stop</a>
                                        <a class="dropdown-item" ng-if="job.state._text.toLowerCase() =='stopped' && permission.Job.unstop" ng-click="unstop(job)" translate>button.unstop</a>
                                        <a class="dropdown-item" ng-click="start(job)" ng-if="!job.isOrderJob  && permission.Job.start" translate>button.startTask</a>
                                        <a class="dropdown-item" ng-click="startAt(job)" ng-if="!job.isOrderJob  && permission.Job.start" translate>button.startTaskat</a>
                                        <a class="dropdown-item" ng-if="!job.isOrderJob" ng-click="setRunTime(job)" translate>button.setRunTime</a>
                                        <a class="dropdown-item bg-hover-color" ng-if="permission.Job.kill" ng-click="killAllTask(job)" translate>button.killAllTasksImmediately</a>
                                        <a class="dropdown-item bg-hover-color" ng-if="(selectedJobScheduler.os.name == 'linux' || selectedJobScheduler.os.name == 'unix') && permission.Job.terminate" ng-click="terminateAllTask(job)" translate>button.terminateAllTasks</a>
                                        <a class="dropdown-item bg-hover-color" ng-if="(selectedJobScheduler.os.name == 'linux' || selectedJobScheduler.os.name == 'unix') && permission.Job.terminate" ng-click="terminateAllTaskWithTimeout(job)" translate>button.terminateAllTasksWithTimeout</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                     <ul ng-show="filtered.length > pageSize" uib-pagination total-items="filtered.length" ng-model="currentPage" items-per-page='pageSize' ng-change="pageChange()" class="pagination-sm m-t-0" max-size="5" boundary-link-numbers="true" rotate="false" previous-text="{{'button.prev' | translate}}" next-text="{{'button.next' | translate}}"></ul>
                     <div class="pull-right" ng-show="filtered.length > 10">
                        <div class="btn-group  m-r-xxs">
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'10'"
                                    ng-class="{'primary': pageSize=='10'}" >10
                            </button>
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'25'"
                                    ng-class="{'primary': pageSize=='25'}" >25
                            </button>
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'50'"
                                    ng-class="{'primary': pageSize=='50'}" >50
                            </button>
                            <button class="btn btn-default white btn-sm" ng-model="pageSize" uib-btn-radio="'100'"
                                    ng-class="{'primary': pageSize=='100'}">100
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="isLoading && jobs.length==0" class="text-center m-t h6 text-uppercase" translate>message.noJobsFound</div>
                <div class="text-center m-t text-uppercase hide text-orange" ng-class="{'show': (filtered.length===0 && jobs.length !==0)}" translate>message.noDataMatched</div>
            </div>
         </div>
         <div class="hide " ng-class="{'show': isLoading}" >
        <div class="row" ng-show="showTaskPanel" >
            <div class="col-md-12 hide" ng-class="{'show':isLoading1}">
                <div class="box white" id="scrollToTask">
                    <div class="box-header">
                        <span class="text">{{showTaskPanel.name}} <i ng-if="showTaskPanel.title">-</i> <i class="text-sm text-muted">{{showTaskPanel.title}}</i></span>
                    </div>
                    <div class="box-tool">
                        <ul class="nav text-muted text-md">
                            <li class="nav-item inline m-l-sm">
                                <a class="text-sm m-r-sm text-primary " ng-click="viewAllHistories()" translate>button.viewAllHistories</a>
                                <a href="" ng-click="hideTaskPanel()"><img src="images/remove.png"> </a>
                            </li>
                        </ul>
                    </div>
                     <div class="box-body p-t b-t" >
                        <div class="b-b">
                          <ul class="nav nav-tabs">
                            <li class="nav-item" >
                              <a class="nav-link" ng-class="{active: !isRunning}" href data-toggle="tab" data-target="#tab1" translate>label.taskHistory</a>
                            </li>
                            <li class="nav-item" >
                              <a class="nav-link" href data-toggle="tab" data-target="#tab2" translate>label.taskQueue</a>
                            </li>
                            <li class="nav-item" ng-if="showTaskPanel.orderQueue && showTaskPanel.orderQueue.length>0">
                              <a class="nav-link" href data-toggle="tab" data-target="#tab3" translate>label.orderQueue</a>
                            </li>
                            <li class="nav-item" ng-click="taskLog()">
                              <a class="nav-link" href data-toggle="tab" data-target="#tab4" translate>label.taskLog</a>
                            </li>
                            <li class="nav-item" ng-if="isRunning">
                              <a class="nav-link active" href data-toggle="tab" data-target="#tab5" translate>label.runningTask</a>
                            </li>
                          </ul>
                        </div>
                         <div class="tab-content p-a m-b-md">
                             <div class="tab-pane animated fadeIn " ng-class="{active: !isRunning}" id="tab1" >
                                 <div class="row">
                                     <div class="table-responsive">
                                        <table class="table table-striped table-bordered ">
                                            <thead>
                                            <tr>
                                                <th translate>label.id</th>
                                                <th translate>label.cause</th>
                                                <th translate>label.started</th>
                                                <th translate>label.ended</th>
                                                <th translate>label.duration</th>
                                                <th translate>label.exitCode</th>
                                                <th translate>label.errorCode</th>
                                                <th translate>label.errorText</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="task in taskHistory">
                                                   <td><a target="_blank" href="#/job/log/{{task.taskId}}" >{{task.taskId}}</a></td>
                                                   <td>{{task.cause}}</td>
                                                   <td>{{task.startTime | stringToDate}}</td>
                                                   <td>{{task.endTime | stringToDate}}</td>
                                                   <td>{{task.startTime | duration:task.endTime}}</td>
                                                   <td>{{task.exitCode}}</td>
                                                   <td>{{task.error.code || '-'}}</td>
                                                   <td>{{task.error.message || '-'}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                 </div>
                             </div>
                             <div class="tab-pane animated fadeIn " id="tab2">
                                 <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered ">
                                            <thead>
                                            <tr>
                                                <th translate>label.id</th>
                                                <th translate>label.enqueued</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="task in showTaskPanel.taskQueue">
                                                    <td>{{task.taskId}}</td>
                                                    <td>{{task.enqueued}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                 </div>
                             </div>
                             <div class="tab-pane animated fadeIn " id="tab3" ng-if="showTaskPanel.orderQueue && showTaskPanel.orderQueue.length>0">
                                 <div class="row">
                                     <div class="table-responsive" >
                                        <table class="table table-striped table-bordered " >
                                            <thead>
                                            <tr>
                                                <th translate>label.id</th>
                                                <th translate>label.jobChain</th>
                                                <th translate>label.status</th>
                                                <th translate>label.nextStart</th>
                                                <th translate>label.state</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="order in showTaskPanel.orderQueue">
                                                    <td>{{order.orderId}}</td>
                                                    <td>{{order.jobChain}}</td>
                                                    <td><span class="text-c label" ng-class="bgColorFunction(order.processingState.severity)">{{order.processingState._text | translate}}</span></td>
                                                    <td>{{order.nextStartTime | stringToDate}}</td>
                                                    <td>{{order.state}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                     </div>
                                 </div>
                             </div>
                             <div class="tab-pane animated fadeIn " id="tab4">
                                    <div class="row">
                                      <div class="col-md-12">
                                          <button type="button" class="btn btn-default btn-sm pull-right m-l-sm"><i class="fa fa-print"></i></button>
                                          <button type="button" class="btn btn-default btn-sm pull-right m-l-sm" ng-click="downloadLog()"><i class="fa fa-save"></i></button>
                                          <input type="text" class="form-control inline w pull-right search-box light" placeholder="{{'placeholder.search' | translate}}">
                                      </div>
                                    </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div ng-bind-html="logs.html"></div>
                                      </div>
                                  </div>
                             </div>
                             <div class="tab-pane animated fadeIn" id="tab5" ng-show="isRunning">
                                 <div class="row">
                                     <div class="table-responsive">
                                    <table class="table table-striped table-bordered " >
                                        <thead>
                                        <tr>
                                            <th translate>label.pid</th>
                                            <th translate>label.id</th>
                                            <th translate>label.start</th>
                                            <th translate>label.cause</th>
                                            <th translate>label.runningSince</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="task in showTaskPanel.runningTasks">
                                                <td>{{task.pid}}</td>
                                                <td>{{task.taskId}}</td>
                                                <td>{{task.order.state}}</td>
                                                <td>{{task.cause}}</td>
                                                <td>{{task.startedAt | stringToDate}}</td>
                                                <td>
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn-drop more-option-h"  data-toggle="dropdown" ><i
                                                                class="text-primary fa fa-ellipsis-h"></i></button>
                                                        <div class="dropdown-menu dropdown-ac dropdown-more pull-left m-r-28" role="menu">
                                                            <a class="dropdown-item" ng-click="end(task)" translate>button.end</a>
                                                            <a class="dropdown-item bg-hover-color" ng-if="permission.Job.kill" ng-click="killTask(task)" translate>button.killImmediately</a>
                                                            <a class="dropdown-item bg-hover-color" ng-if="(selectedJobScheduler.os.name == 'linux' || selectedJobScheduler.os.name == 'unix') && permission.Job.terminate" ng-click="terminateTask(task)" translate>button.terminate</a>
                                                            <a class="dropdown-item bg-hover-color" ng-if="(selectedJobScheduler.os.name == 'linux' || selectedJobScheduler.os.name == 'unix') && permission.Job.terminate" ng-click="terminateTaskWithTimeout(task)" translate>button.terminateWithTimeout</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hide text-center m-t-lg " ng-class="{'show': !isLoading1}">
            <div class="cssload-loading">{{'label.loading' | translate}}...</div>
        </div>
    </div>
        <div ng-if="!isLoading" class="text-center m-t-lg"><div class="cssload-loading">{{'label.loading' | translate}}...</div></div>
    </div>
</div>
<div class="modal fade" id="jobChain" tabindex="-1" role="dialog" aria-labelledby="JobChain" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>{{'label.associatedJobChainswith' | translate}} <b>{{job.name}}</b></span></h4>
            </div>
            <div class="modal-body padding" style="max-height: 650px; overflow: auto">
                <div class="row" ng-repeat="jobchain in job.jobChains">
                    <div class="col-xs-2">
                        <label>{{$index+1}}</label>
                    </div>
                    <div class="col-xs-10">
                        {{jobchain}}
                    </div>
                </div>
                <div class="form-group m-t-md m-b-sm">
                    <button type="button" class="btn btn-grey btn-sm" data-dismiss="modal" translate>button.close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.table-responsive').on('shown.bs.dropdown', function (e) {
    var $table = $(this),
        $menu = $(e.target).find('.dropdown-menu'),
        tableOffsetHeight = $table.offset().top + $table.height(),
        menuOffsetHeight = $menu.offset().top + $menu.outerHeight(true);

    if (menuOffsetHeight > tableOffsetHeight)
      $table.css("padding-bottom", menuOffsetHeight - tableOffsetHeight +10);
  });

  $('.table-responsive').on('hide.bs.dropdown', function () {
    $(this).css("padding-bottom", 0);
  });
</script>
